[com_14244]
type=layer
width=512
height=334

[com_14245]
type=rectangle
width=512
height=334
layer=com_14244
colour=0x0f622c0c
fill=yes

[com_14246]
type=rectangle
y=150
width=511
height=19
layer=com_14244
colour=0x000000
fill=yes

[com_14247]
type=rectangle
x=5
y=89
width=86
height=145
layer=com_14244
colour=0x0f303030
fill=yes

[com_14248]
type=rectangle
x=470
y=90
width=86
height=145
layer=com_14244
colour=0x0f303030
fill=yes

[com_14249]
type=rectangle
x=99
width=359
height=334
layer=com_14244
colour=0x0f303030
fill=yes

[com_14250]
type=rectangle
x=107
width=343
height=334
layer=com_14244
colour=0x0f585858
fill=yes

[com_14251]
type=rectangle
x=12
y=98
width=71
height=130
layer=com_14244
colour=0x0f585858
fill=yes

[com_14252]
type=rectangle
x=479
y=99
width=71
height=130
layer=com_14244
colour=0x0f585858
fill=yes

[com_14253]
type=rectangle
x=7
y=53
width=84
height=24
layer=com_14244
colour=0x0f312314
fill=yes

[com_14254]
type=text
x=16
y=57
width=72
height=18
layer=com_14244
buttontype=1
textfont=p12_full
text=open casket
textshadow=yes
colour=0xffff00

[com_14255]
type=text
x=14
y=29
width=75
height=16
layer=com_14244
buttontype=1
textfont=p12_full
text=close window
textshadow=yes
colour=0xffff00

[com_14256]
type=rectangle
x=114
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14257]
type=rectangle
x=151
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14258]
type=rectangle
x=188
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14259]
type=rectangle
x=225
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14260]
type=rectangle
x=262
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14261]
type=rectangle
x=299
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14262]
type=rectangle
x=336
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14263]
type=rectangle
x=373
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14264]
type=rectangle
x=410
y=4
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14265]
type=rectangle
x=114
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14266]
type=rectangle
x=151
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14267]
type=rectangle
x=188
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14268]
type=rectangle
x=225
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14269]
type=rectangle
x=262
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14270]
type=rectangle
x=299
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14271]
type=rectangle
x=336
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14272]
type=rectangle
x=373
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14273]
type=rectangle
x=410
y=41
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14274]
type=rectangle
x=114
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14275]
type=rectangle
x=151
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14276]
type=rectangle
x=188
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14277]
type=rectangle
x=225
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14278]
type=rectangle
x=262
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14279]
type=rectangle
x=299
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14280]
type=rectangle
x=336
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14281]
type=rectangle
x=373
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14282]
type=rectangle
x=410
y=78
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14283]
type=rectangle
x=114
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14284]
type=rectangle
x=151
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14285]
type=rectangle
x=188
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14286]
type=rectangle
x=225
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14287]
type=rectangle
x=262
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14288]
type=rectangle
x=299
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14289]
type=rectangle
x=336
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14290]
type=rectangle
x=373
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14291]
type=rectangle
x=410
y=115
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14292]
type=rectangle
x=114
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14293]
type=rectangle
x=151
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14294]
type=rectangle
x=188
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14295]
type=rectangle
x=225
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14296]
type=rectangle
x=262
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14297]
type=rectangle
x=299
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14298]
type=rectangle
x=336
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14299]
type=rectangle
x=373
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14300]
type=rectangle
x=410
y=152
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14301]
type=rectangle
x=114
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14302]
type=rectangle
x=151
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14303]
type=rectangle
x=188
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14304]
type=rectangle
x=225
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14305]
type=rectangle
x=262
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14306]
type=rectangle
x=299
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14307]
type=rectangle
x=336
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14308]
type=rectangle
x=373
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14309]
type=rectangle
x=410
y=189
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14310]
type=rectangle
x=114
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14311]
type=rectangle
x=151
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14312]
type=rectangle
x=188
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14313]
type=rectangle
x=225
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14314]
type=rectangle
x=262
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14315]
type=rectangle
x=299
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14316]
type=rectangle
x=336
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14317]
type=rectangle
x=373
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14318]
type=rectangle
x=410
y=226
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14319]
type=rectangle
x=114
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14320]
type=rectangle
x=151
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14321]
type=rectangle
x=188
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14322]
type=rectangle
x=225
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14323]
type=rectangle
x=262
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14324]
type=rectangle
x=299
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14325]
type=rectangle
x=336
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14326]
type=rectangle
x=373
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14327]
type=rectangle
x=410
y=263
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14328]
type=rectangle
x=115
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14329]
type=rectangle
x=151
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14330]
type=rectangle
x=189
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14331]
type=rectangle
x=225
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14332]
type=rectangle
x=262
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14333]
type=rectangle
x=299
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0x0fe9c001
fill=yes

[com_14334]
type=rectangle
x=336
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14335]
type=rectangle
x=373
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14336]
type=rectangle
x=410
y=300
width=32
height=32
layer=com_14244
buttontype=1
colour=0xfa9907
fill=yes

[com_14337]
type=layer
x=4
y=284
width=47
height=48
layer=com_14244

[com_14338]
type=layer
x=3
y=234
width=47
height=48
layer=com_14244

[com_14339]
type=layer
x=3
y=184
width=47
height=48
layer=com_14244

[com_14340]
type=layer
x=3
y=134
width=47
height=48
layer=com_14244

[com_14341]
type=layer
x=3
y=84
width=47
height=48
layer=com_14244

[com_14342]
type=layer
x=52
y=134
width=47
height=48
layer=com_14244

[com_14343]
type=layer
x=52
y=184
width=47
height=48
layer=com_14244

[com_14344]
type=layer
x=52
y=234
width=47
height=48
layer=com_14244

[com_14345]
type=layer
x=53
y=284
width=47
height=48
layer=com_14244

[com_14346]
type=layer
x=52
y=84
width=47
height=48
layer=com_14244

[com_14347]
type=model
x=8
y=8
width=32
height=32
layer=com_14337
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14348]
type=model
x=8
y=8
width=32
height=32
layer=com_14338
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14349]
type=model
x=8
y=8
width=32
height=32
layer=com_14339
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14350]
type=model
x=8
y=8
width=32
height=32
layer=com_14340
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14351]
type=model
x=8
y=8
width=32
height=32
layer=com_14341
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14352]
type=model
x=8
y=8
width=32
height=32
layer=com_14342
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14353]
type=model
x=8
y=8
width=32
height=32
layer=com_14343
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14354]
type=model
x=8
y=8
width=32
height=32
layer=com_14344
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14355]
type=model
x=8
y=8
width=32
height=32
layer=com_14345
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14356]
type=model
x=8
y=8
width=32
height=32
layer=com_14346
model=model_8986
modelangle=500,0,0
modelzoom=600

[com_14357]
type=model
x=8
y=8
width=32
height=32
layer=com_14337
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14358]
type=model
x=8
y=8
width=32
height=32
layer=com_14338
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14359]
type=model
x=8
y=8
width=32
height=32
layer=com_14339
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14360]
type=model
x=8
y=8
width=32
height=32
layer=com_14340
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14361]
type=model
x=8
y=8
width=32
height=32
layer=com_14341
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14362]
type=model
x=8
y=8
width=32
height=32
layer=com_14342
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14363]
type=model
x=8
y=8
width=32
height=32
layer=com_14343
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14364]
type=model
x=8
y=8
width=32
height=32
layer=com_14344
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14365]
type=model
x=8
y=8
width=32
height=32
layer=com_14345
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14366]
type=model
x=8
y=8
width=32
height=32
layer=com_14346
model=null
modelactive=model_8985
modelangle=500,0,0
modelzoom=600

[com_14367]
type=model
x=12
y=292
width=32
height=32
layer=com_14244
buttontype=1
model=model_8979
modelangle=500,1050,0
modelzoom=600

[com_14368]
type=model
x=11
y=242
width=32
height=32
layer=com_14244
buttontype=1
model=model_8987
modelangle=500,1050,0
modelzoom=600

[com_14369]
type=model
x=9
y=193
width=32
height=32
layer=com_14244
buttontype=1
model=model_8975
modelangle=500,1050,0
modelzoom=600

[com_14370]
type=model
x=9
y=92
width=32
height=32
layer=com_14244
buttontype=1
model=model_8982
modelangle=500,1050,0
modelzoom=600

[com_14371]
type=model
x=10
y=142
width=32
height=32
layer=com_14244
buttontype=1
model=model_8980
modelangle=500,1050,0
modelzoom=600

[com_14372]
type=model
x=59
y=143
width=32
height=32
layer=com_14244
buttontype=1
model=model_8976
modelangle=500,1050,0
modelzoom=600

[com_14373]
type=model
x=59
y=193
width=32
height=32
layer=com_14244
buttontype=1
model=model_8978
modelangle=500,1050,0
modelzoom=600

[com_14374]
type=model
x=60
y=242
width=32
height=32
layer=com_14244
buttontype=1
model=model_8977
modelangle=500,1050,0
modelzoom=600

[com_14375]
type=model
x=61
y=292
width=32
height=32
layer=com_14244
buttontype=1
model=model_8981
modelangle=500,1050,0
modelzoom=600

[com_14376]
type=model
x=60
y=92
width=32
height=32
layer=com_14244
buttontype=1
model=model_8985
modelangle=500,0,0
modelzoom=600

[com_14377]
type=inv
x=114
y=4
width=9
height=9
layer=com_14244
paddingx=5
paddingy=5

