[com_11092]
type=layer
width=512
height=334

[com_11093]
type=rectangle
x=-1
width=512
height=334
layer=com_11092
colour=0x433621
fill=yes

[com_11094]
type=model
x=236
y=128
width=32
height=32
layer=com_11092
model=model_4652
modelangle=271,63,0
modelzoom=926

[com_11095]
type=model
x=236
y=128
width=32
height=32
layer=com_11092
model=model_4627
modelangle=271,63,0
modelzoom=926

[com_11096]
type=text
x=95
y=113
width=70
height=17
layer=com_11092
textfont=q8_full
text=Miscellania
colour=0x282315

[com_11097]
type=text
x=160
y=156
width=60
height=17
layer=com_11092
textfont=q8_full
text=Etceteria
colour=0x282315

[com_11098]
type=text
x=148
y=229
width=53
height=17
layer=com_11092
textfont=q8_full
text=Rellekka
colour=0x282315

[com_11099]
type=model
x=236
y=128
width=32
height=32
layer=com_11092
model=model_4628
modelangle=271,63,0
modelzoom=926

