[com_2653]
type=layer
width=512
height=334

[com_2654]
type=graphic
x=12
y=20
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2655]
type=graphic
x=12
y=80
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2656]
type=graphic
x=12
y=140
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2657]
type=graphic
x=12
y=200
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2658]
type=graphic
x=12
y=260
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2659]
type=graphic
x=100
y=20
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2660]
type=graphic
x=100
y=80
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2661]
type=graphic
x=100
y=140
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2662]
type=graphic
x=100
y=200
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2663]
type=graphic
x=188
y=20
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2664]
type=graphic
x=100
y=260
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2665]
type=graphic
x=188
y=80
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2666]
type=graphic
x=188
y=140
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2667]
type=graphic
x=188
y=200
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2668]
type=graphic
x=188
y=260
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2669]
type=graphic
x=276
y=20
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2670]
type=graphic
x=364
y=80
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2671]
type=graphic
x=276
y=80
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2672]
type=graphic
x=276
y=140
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2673]
type=graphic
x=276
y=200
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2674]
type=graphic
x=276
y=260
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2675]
type=graphic
x=364
y=140
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2676]
type=graphic
x=364
y=20
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2677]
type=graphic
x=364
y=200
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2678]
type=graphic
x=364
y=260
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2679]
type=graphic
x=412
y=20
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2680]
type=graphic
x=412
y=80
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2681]
type=graphic
x=412
y=140
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2682]
type=graphic
x=412
y=200
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2683]
type=graphic
x=412
y=260
width=88
height=60
layer=com_2653
graphic=tradebacking,0

[com_2684]
type=graphic
x=12
y=20
width=25
height=30
layer=com_2653
graphic=steelborder,0

[com_2685]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2686]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2687]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2688]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2689]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2690]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2691]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_2653
graphic=miscgraphics,2

[com_2692]
type=graphic
x=479
y=50
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2693]
type=graphic
x=479
y=86
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2694]
type=graphic
x=479
y=122
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2695]
type=graphic
x=479
y=158
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2696]
type=graphic
x=479
y=194
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2697]
type=graphic
x=479
y=230
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2698]
type=graphic
x=479
y=266
width=36
height=36
layer=com_2653
graphic=steelborder2,1

[com_2699]
type=graphic
x=73
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2700]
type=graphic
x=109
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2701]
type=graphic
x=145
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2702]
type=graphic
x=181
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2703]
type=graphic
x=217
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2704]
type=graphic
x=253
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2705]
type=graphic
x=289
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2706]
type=graphic
x=325
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2707]
type=graphic
x=361
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2708]
type=graphic
x=397
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2709]
type=graphic
x=433
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2710]
type=graphic
x=72
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2711]
type=graphic
x=108
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2712]
type=graphic
x=144
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2713]
type=graphic
x=180
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2714]
type=graphic
x=216
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2715]
type=graphic
x=252
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2716]
type=graphic
x=288
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2717]
type=graphic
x=324
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2718]
type=graphic
x=360
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2719]
type=graphic
x=396
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2720]
type=graphic
x=432
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2721]
type=graphic
x=252
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2722]
type=graphic
x=37
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2723]
type=graphic
x=37
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2724]
type=graphic
x=12
y=290
width=25
height=30
layer=com_2653
graphic=steelborder,2

[com_2725]
type=graphic
x=475
y=20
width=25
height=30
layer=com_2653
graphic=steelborder,1

[com_2726]
type=graphic
x=439
y=5
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2727]
type=graphic
x=475
y=290
width=25
height=30
layer=com_2653
graphic=steelborder,3

[com_2728]
type=graphic
x=439
y=299
width=36
height=36
layer=com_2653
graphic=miscgraphics,3

[com_2729]
type=text
x=194
y=31
width=130
height=14
layer=com_2653
textfont=b12_full
text=Hairdresser's Salon
textalignh=centre
textshadow=yes
colour=0xc9800d

[com_2730]
type=text
x=420
y=32
width=68
height=11
layer=com_2653
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xa1a1a1
mouseovercolour=0xffffff

[com_2731]
type=graphic
x=288
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2732]
type=graphic
x=324
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2733]
type=graphic
x=360
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2734]
type=graphic
x=396
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2735]
type=graphic
x=432
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2736]
type=graphic
x=459
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2737]
type=graphic
x=216
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2738]
type=graphic
x=180
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2739]
type=graphic
x=144
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2740]
type=graphic
x=108
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2741]
type=graphic
x=72
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2742]
type=graphic
x=36
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2743]
type=graphic
x=17
y=34
width=36
height=36
layer=com_2653
graphic=steelborder2,0

[com_2744]
type=model
x=65
y=95
width=32
height=32
layer=com_2653
model=model_63
modelangle=0,200,0
modelzoom=1200

[com_2745]
type=model
x=150
y=95
width=32
height=32
layer=com_2653
model=model_49
modelangle=0,200,0
modelzoom=1200

[com_2746]
type=model
x=235
y=95
width=32
height=32
layer=com_2653
model=model_52
modelangle=0,200,0
modelzoom=1200

[com_2747]
type=model
x=320
y=95
width=32
height=32
layer=com_2653
model=model_55
modelangle=0,200,0
modelzoom=1200

[com_2748]
type=model
x=405
y=95
width=32
height=32
layer=com_2653
model=model_59
modelangle=0,200,0
modelzoom=1200

[com_2749]
type=model
x=65
y=175
width=32
height=32
layer=com_2653
model=model_53
modelangle=0,200,0
modelzoom=1200

[com_2750]
type=model
x=150
y=175
width=32
height=32
layer=com_2653
model=model_67
modelangle=0,200,0
modelzoom=1200

[com_2751]
type=model
x=235
y=175
width=32
height=32
layer=com_2653
model=model_46
modelangle=0,200,0
modelzoom=1200

[com_2752]
type=model
x=320
y=175
width=32
height=32
layer=com_2653
model=model_45
modelangle=0,200,0
modelzoom=1200

[com_2753]
type=text
x=225
y=291
width=55
height=14
layer=com_2653
buttontype=1
textfont=b12_full
text=CONFIRM
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

[com_2754]
type=rectangle
x=134
y=259
width=243
height=23
layer=com_2653
colour=0x000000
fill=yes

[com_2755]
type=rectangle
x=135
y=260
width=20
height=20
layer=com_2653
colour=0x302008
fill=yes

[com_2756]
type=rectangle
x=155
y=260
width=20
height=20
layer=com_2653
colour=0xd6d1d1
fill=yes

[com_2757]
type=rectangle
x=175
y=260
width=20
height=20
layer=com_2653
colour=0x76756c
fill=yes

[com_2758]
type=rectangle
x=195
y=260
width=20
height=20
layer=com_2653
colour=0x2f2a2a
fill=yes

[com_2759]
type=rectangle
x=215
y=260
width=20
height=20
layer=com_2653
colour=0xcb823e
fill=yes

[com_2760]
type=rectangle
x=235
y=260
width=20
height=20
layer=com_2653
colour=0xcdad53
fill=yes

[com_2761]
type=rectangle
x=255
y=260
width=20
height=20
layer=com_2653
colour=0x885f29
fill=yes

[com_2762]
type=rectangle
x=275
y=260
width=20
height=20
layer=com_2653
colour=0x50321e
fill=yes

[com_2763]
type=rectangle
x=295
y=260
width=20
height=20
layer=com_2653
colour=0x008383
fill=yes

[com_2764]
type=rectangle
x=315
y=260
width=20
height=20
layer=com_2653
colour=0x008300
fill=yes

[com_2765]
type=rectangle
x=335
y=260
width=20
height=20
layer=com_2653
colour=0x9f2800
fill=yes

[com_2766]
type=rectangle
x=355
y=260
width=20
height=20
layer=com_2653
colour=0xbe00c0
fill=yes

[com_2767]
type=text
x=198
y=233
width=114
height=14
layer=com_2653
textfont=p12_full
text=Please select colour
textalignh=centre
textshadow=yes
colour=0xffff00

[com_2768]
type=graphic
x=85
y=115
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 1

[com_2769]
type=graphic
x=170
y=115
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 2

[com_2770]
type=graphic
x=260
y=115
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 3

[com_2771]
type=graphic
x=345
y=115
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 4

[com_2772]
type=graphic
x=430
y=115
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 5

[com_2773]
type=graphic
x=85
y=195
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 6

[com_2774]
type=graphic
x=170
y=195
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 7

[com_2775]
type=graphic
x=260
y=195
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 8

[com_2776]
type=graphic
x=340
y=195
width=25
height=25
layer=com_2653
graphicactive=overlay_multiway,0
script=varplayer_261 = 9

[com_2777]
type=graphic
x=135
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 1

[com_2778]
type=graphic
x=155
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 2

[com_2779]
type=graphic
x=175
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 3

[com_2780]
type=graphic
x=195
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 4

[com_2781]
type=graphic
x=215
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 5

[com_2782]
type=graphic
x=235
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 6

[com_2783]
type=graphic
x=255
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 7

[com_2784]
type=graphic
x=275
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 8

[com_2785]
type=graphic
x=295
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 9

[com_2786]
type=graphic
x=315
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 10

[com_2787]
type=graphic
x=335
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 11

[com_2788]
type=graphic
x=355
y=260
width=20
height=20
layer=com_2653
buttontype=5
graphicactive=overlay_multiway,0
script=varplayer_262 = 12

[com_2789]
type=graphic
x=55
y=83
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 1

[com_2790]
type=graphic
x=141
y=83
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 2

[com_2791]
type=graphic
x=224
y=82
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 3

[com_2792]
type=graphic
x=310
y=83
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 4

[com_2793]
type=graphic
x=394
y=84
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 5

[com_2794]
type=graphic
x=54
y=163
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 6

[com_2795]
type=graphic
x=137
y=162
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 7

[com_2796]
type=graphic
x=224
y=163
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 8

[com_2797]
type=graphic
x=307
y=163
width=50
height=50
layer=com_2653
buttontype=5
script=varplayer_261 = 9

