[com_13960]
type=layer
width=512
height=334

[com_13961]
type=text
y=-1
width=480
height=17
layer=com_13960
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_13962]
type=text
y=16
width=480
height=17
layer=com_13960
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13963]
type=text
y=36
width=480
height=17
layer=com_13960
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13964]
type=text
y=56
width=480
height=17
layer=com_13960
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13965]
type=text
y=76
width=480
height=17
layer=com_13960
buttontype=6
textfont=q8_full
text=option4
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13966]
type=graphic
width=57
height=13
layer=com_13968
graphic=sworddecor,1

[com_13967]
type=graphic
x=172
width=57
height=13
layer=com_13968
graphic=sworddecor,0

[com_13968]
type=layer
x=126
y=1
width=229
height=13
layer=com_13960

[com_13969]
type=layer
x=2
y=1
width=476
height=13
layer=com_13960
hide=yes

[com_13970]
type=graphic
width=57
height=13
layer=com_13969
graphic=sworddecor,1

[com_13971]
type=graphic
x=419
width=57
height=13
layer=com_13969
graphic=sworddecor,0

