[com_15322]
type=layer
width=512
height=334

[com_15323]
type=graphic
x=2
y=5
width=57
height=13
layer=com_15322
graphic=sworddecor,1

[com_15324]
type=graphic
x=421
y=5
width=57
height=13
layer=com_15322
graphic=sworddecor,0

[com_15325]
type=model
x=207
y=13
width=64
height=96
layer=com_15322
model=model_2365
modelangle=221,1877,0
modelzoom=400

[com_15326]
type=text
x=189
y=16
width=100
height=93
layer=com_15322
buttontype=1
textfont=q8_full
text=\n\n\n\nChurn Cheese
textalignh=centre
colour=0xa00000
buttontext=Churn Cheese
script=stat(cooking) > 47

[com_15327]
type=text
x=8
y=3
width=460
height=15
layer=com_15322
textfont=q8_full
text=What would you like to make in the churn?
textalignh=centre
colour=0x000000

