[com_4443]
type=layer
width=512
height=334

[com_5453]
type=text
x=73
y=15
width=390
height=17
layer=com_4443
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_6114]
type=text
x=73
y=44
width=390
height=18
layer=com_4443
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_6147]
type=text
x=93
y=74
width=350
height=17
layer=com_4443
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_6204]
type=model
x=28
y=34
width=32
height=32
layer=com_4443
model=model_2711
modelangle=206,195,0
modelzoom=405

[com_6205]
type=model
x=42
y=17
width=32
height=32
layer=com_4443
model=model_2562
modelangle=422,1618,0
modelzoom=397

