[com_8016]
type=layer
width=512
height=334

[com_8017]
type=graphic
x=276
y=80
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8018]
type=graphic
x=276
y=140
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8019]
type=graphic
x=276
y=200
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8020]
type=graphic
x=364
y=140
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8021]
type=graphic
x=364
y=260
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8022]
type=graphic
x=364
y=200
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8023]
type=graphic
x=276
y=260
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8024]
type=graphic
x=100
y=200
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8025]
type=graphic
x=100
y=260
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8026]
type=graphic
x=188
y=80
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8027]
type=graphic
x=188
y=140
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8028]
type=graphic
x=188
y=200
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8029]
type=graphic
x=188
y=260
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8030]
type=layer
x=38
y=167
width=433
height=161
layer=com_8016

[com_8031]
type=graphic
x=364
y=80
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8032]
type=model
x=203
y=145
width=35
height=35
layer=com_8030
model=model_3485
modelangle=250,0,0
modelzoom=300

[com_8033]
type=graphic
x=276
y=20
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8034]
type=graphic
x=188
y=20
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8035]
type=graphic
x=364
y=20
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8036]
type=graphic
x=12
y=20
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8037]
type=graphic
x=12
y=80
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8038]
type=graphic
x=12
y=140
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8039]
type=graphic
x=12
y=200
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8040]
type=graphic
x=12
y=260
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8041]
type=graphic
x=100
y=20
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8042]
type=graphic
x=100
y=80
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8043]
type=graphic
x=100
y=140
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8044]
type=graphic
x=412
y=20
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8045]
type=graphic
x=412
y=80
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8046]
type=graphic
x=412
y=140
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8047]
type=graphic
x=412
y=200
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8048]
type=graphic
x=412
y=260
width=88
height=60
layer=com_8016
graphic=tradebacking,0

[com_8049]
type=graphic
x=12
y=20
width=25
height=30
layer=com_8016
graphic=steelborder,0

[com_8050]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8051]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8052]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8053]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8054]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8055]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8056]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_8016
graphic=miscgraphics,2

[com_8057]
type=graphic
x=479
y=50
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8058]
type=graphic
x=479
y=86
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8059]
type=graphic
x=479
y=122
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8060]
type=graphic
x=479
y=158
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8061]
type=graphic
x=479
y=194
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8062]
type=graphic
x=479
y=230
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8063]
type=graphic
x=479
y=266
width=36
height=36
layer=com_8016
graphic=steelborder2,1

[com_8064]
type=graphic
x=73
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8065]
type=graphic
x=109
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8066]
type=graphic
x=145
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8067]
type=graphic
x=181
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8068]
type=graphic
x=217
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8069]
type=graphic
x=253
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8070]
type=graphic
x=289
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8071]
type=graphic
x=325
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8072]
type=graphic
x=361
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8073]
type=graphic
x=397
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8074]
type=graphic
x=433
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8075]
type=graphic
x=72
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8076]
type=graphic
x=108
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8077]
type=graphic
x=144
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8078]
type=graphic
x=180
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8079]
type=graphic
x=216
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8080]
type=graphic
x=252
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8081]
type=graphic
x=288
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8082]
type=graphic
x=324
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8083]
type=graphic
x=360
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8084]
type=graphic
x=396
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8085]
type=graphic
x=432
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8086]
type=graphic
x=252
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8087]
type=graphic
x=37
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8088]
type=graphic
x=37
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8089]
type=graphic
x=12
y=290
width=25
height=30
layer=com_8016
graphic=steelborder,2

[com_8090]
type=graphic
x=475
y=20
width=25
height=30
layer=com_8016
graphic=steelborder,1

[com_8091]
type=graphic
x=439
y=5
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8092]
type=graphic
x=475
y=290
width=25
height=30
layer=com_8016
graphic=steelborder,3

[com_8093]
type=graphic
x=439
y=299
width=36
height=36
layer=com_8016
graphic=miscgraphics,3

[com_8094]
type=text
x=206
y=29
width=109
height=14
layer=com_8016
textfont=b12_full
text=Grave Monument
textalignh=centre
textshadow=yes
colour=0xffff00

[com_8095]
type=text
x=420
y=29
width=68
height=11
layer=com_8016
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_8096]
type=graphic
x=288
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8097]
type=graphic
x=324
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8098]
type=graphic
x=360
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8099]
type=graphic
x=396
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8100]
type=graphic
x=432
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8101]
type=graphic
x=459
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8102]
type=graphic
x=216
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8103]
type=graphic
x=180
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8104]
type=graphic
x=144
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8105]
type=graphic
x=108
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8106]
type=graphic
x=72
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8107]
type=graphic
x=36
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8108]
type=graphic
x=17
y=34
width=36
height=36
layer=com_8016
graphic=steelborder2,0

[com_8109]
type=layer
x=38
y=41
width=433
height=160
layer=com_8016

[com_8110]
type=model
x=200
y=355
width=35
height=35
layer=com_8109
model=model_3485
modelangle=100,0,0
modelzoom=330

[com_8111]
type=model
x=243
y=230
width=30
height=44
layer=com_8016
model=model_2348
modelangle=200,22,0
modelzoom=240

[com_8112]
type=text
x=195
y=67
width=127
height=107
layer=com_8016
textfont=q8_full
text=Saradomin\n\nlights my way\n\nthrough\n\nthe darkness of life
textalignh=centre
colour=0x000000

[com_8113]
type=rectangle
x=12
y=-12
width=488
height=32
layer=com_8016
colour=0x000000
fill=yes

[com_8114]
type=rectangle
x=12
y=319
width=488
height=32
layer=com_8016
colour=0x000000
fill=yes

