[com_12416]
type=layer
width=512
height=334

[com_12417]
type=rectangle
width=512
height=334
layer=com_12416
trans=200
colour=0x000000
fill=yes
script=varplayerbit_278 = 1

