[com_1918]
type=layer
width=512
height=334

[com_1919]
type=graphic
x=12
y=20
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1920]
type=graphic
x=12
y=80
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1921]
type=graphic
x=12
y=140
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1922]
type=graphic
x=12
y=200
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1923]
type=graphic
x=12
y=260
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1924]
type=graphic
x=100
y=20
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1925]
type=graphic
x=100
y=80
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1926]
type=graphic
x=100
y=140
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1927]
type=graphic
x=100
y=200
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1928]
type=graphic
x=188
y=20
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1929]
type=graphic
x=100
y=260
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1930]
type=graphic
x=188
y=80
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1931]
type=graphic
x=188
y=140
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1932]
type=graphic
x=188
y=200
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1933]
type=graphic
x=188
y=260
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1934]
type=graphic
x=276
y=20
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1935]
type=graphic
x=364
y=80
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1936]
type=graphic
x=276
y=80
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1937]
type=graphic
x=276
y=140
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1938]
type=graphic
x=276
y=200
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1939]
type=graphic
x=276
y=260
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1940]
type=graphic
x=364
y=140
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1941]
type=graphic
x=364
y=20
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1942]
type=graphic
x=364
y=200
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1943]
type=graphic
x=364
y=260
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1944]
type=graphic
x=412
y=20
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1945]
type=graphic
x=412
y=80
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1946]
type=graphic
x=412
y=140
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1947]
type=graphic
x=412
y=200
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1948]
type=graphic
x=412
y=260
width=88
height=60
layer=com_1918
graphic=tradebacking,0

[com_1949]
type=graphic
x=12
y=20
width=25
height=30
layer=com_1918
graphic=steelborder,0

[com_1950]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1951]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1952]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1953]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1954]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1955]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1956]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_1918
graphic=miscgraphics,2

[com_1957]
type=graphic
x=479
y=50
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1958]
type=graphic
x=479
y=86
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1959]
type=graphic
x=479
y=122
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1960]
type=graphic
x=479
y=158
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1961]
type=graphic
x=479
y=194
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1962]
type=graphic
x=479
y=230
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1963]
type=graphic
x=479
y=266
width=36
height=36
layer=com_1918
graphic=steelborder2,1

[com_1964]
type=graphic
x=73
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1965]
type=graphic
x=109
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1966]
type=graphic
x=145
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1967]
type=graphic
x=181
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1968]
type=graphic
x=217
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1969]
type=graphic
x=253
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1970]
type=graphic
x=289
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1971]
type=graphic
x=325
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1972]
type=graphic
x=361
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1973]
type=graphic
x=397
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1974]
type=graphic
x=433
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1975]
type=graphic
x=72
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1976]
type=graphic
x=108
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1977]
type=graphic
x=144
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1978]
type=graphic
x=180
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1979]
type=graphic
x=216
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1980]
type=graphic
x=252
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1981]
type=graphic
x=288
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1982]
type=graphic
x=324
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1983]
type=graphic
x=360
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1984]
type=graphic
x=396
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1985]
type=graphic
x=432
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1986]
type=graphic
x=252
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1987]
type=graphic
x=37
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1988]
type=graphic
x=37
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1989]
type=graphic
x=12
y=290
width=25
height=30
layer=com_1918
graphic=steelborder,2

[com_1990]
type=graphic
x=475
y=20
width=25
height=30
layer=com_1918
graphic=steelborder,1

[com_1991]
type=graphic
x=439
y=5
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1992]
type=graphic
x=475
y=290
width=25
height=30
layer=com_1918
graphic=steelborder,3

[com_1993]
type=graphic
x=439
y=299
width=36
height=36
layer=com_1918
graphic=miscgraphics,3

[com_1994]
type=graphic
x=288
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1995]
type=graphic
x=324
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1996]
type=graphic
x=360
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1997]
type=graphic
x=396
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1998]
type=graphic
x=432
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_1999]
type=graphic
x=459
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2000]
type=graphic
x=216
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2001]
type=graphic
x=180
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2002]
type=graphic
x=144
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2003]
type=graphic
x=108
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2004]
type=graphic
x=72
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2005]
type=graphic
x=36
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2006]
type=graphic
x=17
y=34
width=36
height=36
layer=com_1918
graphic=steelborder2,0

[com_2007]
type=model
x=26
y=56
width=64
height=96
layer=com_1918
buttontype=1
model=model_2232
modelactive=model_2232
modelangle=500,0,0
modelzoom=400
script=stat(crafting) > 13

[com_2008]
type=model
x=154
y=48
width=64
height=96
layer=com_1918
buttontype=1
model=model_2337
modelactive=model_2337
modelangle=500,0,0
modelzoom=500
script=stat(crafting) > 0

[com_2009]
type=model
x=282
y=72
width=64
height=96
layer=com_1918
buttontype=1
model=model_2510
modelactive=model_2510
modelangle=100,100,0
modelzoom=400
script=stat(crafting) > 6

[com_2010]
type=model
x=426
y=59
width=64
height=96
layer=com_1918
buttontype=1
model=model_2344
modelactive=model_2344
modelangle=600,0,0
modelzoom=350
script=stat(crafting) > 10

[com_2011]
type=text
x=33
y=159
width=51
height=17
layer=com_1918
textfont=q8_full
text=Armour
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 13

[com_2012]
type=text
x=164
y=160
width=41
height=17
layer=com_1918
textfont=q8_full
text=Gloves
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 0

[com_2013]
type=text
x=295
y=159
width=36
height=17
layer=com_1918
textfont=q8_full
text=Boots
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 6

[com_2014]
type=text
x=404
y=158
width=71
height=17
layer=com_1918
textfont=q8_full
text=Vambraces
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 10

[com_2015]
type=text
x=150
y=27
width=211
height=17
layer=com_1918
textfont=q8_full
text=What would you like to make ?
textalignh=centre
colour=0xffff00

[com_2016]
type=model
x=91
y=195
width=64
height=96
layer=com_1918
buttontype=1
model=model_2246
modelactive=model_2246
modelangle=500,0,0
modelzoom=700
script=stat(crafting) > 17

[com_2017]
type=text
x=105
y=287
width=35
height=14
layer=com_1918
textfont=p12_full
text=Chaps
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 17

[com_2018]
type=model
x=220
y=204
width=64
height=96
layer=com_1918
buttontype=1
model=model_2233
modelactive=model_2233
modelangle=150,100,0
modelzoom=350
script=stat(crafting) > 37

[com_2019]
type=model
x=348
y=202
width=64
height=96
layer=com_1918
buttontype=1
model=null
modelangle=150,100,0
modelzoom=350

[com_2020]
type=text
x=237
y=288
width=23
height=14
layer=com_1918
textfont=p12_full
text=Coif
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 37

[com_2021]
type=text
x=365
y=288
width=24
height=14
layer=com_1918
textfont=p12_full
text=Cowl
textshadow=yes
colour=0xcc0000
colouractive=0x0099ff
script=stat(crafting) > 8

[com_2022]
type=text
x=21
y=98
width=4
height=2
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 14

[com_2023]
type=text
x=147
y=99
width=4
height=4
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 1

[com_2024]
type=text
x=276
y=99
width=4
height=4
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 7

[com_2025]
type=text
x=401
y=100
width=4
height=2
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 11

[com_2026]
type=text
x=86
y=229
width=4
height=4
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 18

[com_2027]
type=text
x=215
y=229
width=4
height=4
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 38

[com_2028]
type=text
x=341
y=229
width=4
height=4
layer=com_1918
textfont=p12_full
textactive=Not Available
colour=0x000000
colouractive=0xcc0000
script=stat(crafting) < 9

[com_2029]
type=text
x=415
y=29
width=72
height=14
layer=com_1918
buttontype=1
textfont=p12_full
text=Close window
textshadow=yes
colour=0xcc0000

