[com_0]
type=model
x=127
y=261
width=32
height=32
layer=com_10
model=model_7015
modelangle=496,0,0
modelzoom=1200

[com_1]
type=model
x=254
y=50
width=32
height=32
layer=com_10
model=model_7022
modelangle=500,0,0
modelzoom=800

[com_2]
type=model
x=153
y=32
width=32
height=32
layer=com_11
model=model_7020
modelangle=500,0,0
modelzoom=800

[com_3]
type=model
x=176
y=295
width=32
height=32
layer=com_11
model=model_7018
modelangle=500,0,0
modelzoom=800

[com_4]
type=model
x=137
y=136
width=32
height=32
layer=com_12
model=model_7021
modelangle=500,0,0
modelzoom=800

[com_5]
type=model
x=262
y=40
width=32
height=32
layer=com_13
model=model_7017
modelangle=500,0,0
modelzoom=800

[com_6]
type=model
x=199
y=128
width=32
height=32
layer=com_13
model=model_7014
modelangle=500,0,0
modelzoom=1200

[com_7]
type=model
x=95
y=295
width=32
height=32
layer=com_14
model=model_7013
modelangle=500,0,0
modelzoom=800

[com_8]
type=model
x=153
y=32
width=32
height=32
layer=com_15
model=model_7020
modelangle=500,0,0
modelzoom=800

[com_9]
type=model
x=174
y=294
width=32
height=32
layer=com_15
model=model_8396
modelangle=500,0,0
modelzoom=800

[com_10]
type=layer
width=512
height=334
hide=yes

[com_11]
type=layer
width=512
height=334
hide=yes

[com_12]
type=layer
width=512
height=334
hide=yes

[com_13]
type=layer
width=512
height=400
hide=yes

[com_14]
type=layer
width=512
height=400
hide=yes

[com_15]
type=layer
width=512
height=334
hide=yes

[com_16]
type=layer
x=24
y=24
width=512
height=334
hide=yes

[com_17]
type=model
x=79
y=217
width=54
height=31
layer=com_16
model=model_8395
modelangle=480,0,0
modelzoom=800

