[com_0]
type=layer
width=174
height=260
scrollheight=456

[com_1]
type=graphic
x=-2
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,0"
buttontext=Yes

[com_2]
type=graphic
x=42
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,1"
buttontext=No

[com_3]
type=graphic
x=86
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,3"
buttontext=Bow

[com_4]
type=graphic
x=130
y=6
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,4"
buttontext=Angry

[com_5]
type=graphic
x=-2
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,2"
buttontext=Think

[com_6]
type=graphic
x=42
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,8"
buttontext=Wave

[com_7]
type=graphic
x=86
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,20"
buttontext=Shrug

[com_8]
type=graphic
x=130
y=55
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,7"
buttontext=Cheer

[com_9]
type=graphic
x=-3
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,9"
buttontext=Beckon

[com_10]
type=graphic
x=39
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,6"
buttontext=Laugh

[com_11]
type=graphic
x=86
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,16"
buttontext=Jump for Joy

[com_12]
type=graphic
x=130
y=104
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,18"
buttontext=Yawn

[com_13]
type=graphic
x=-1
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,10"
buttontext=Dance

[com_14]
type=graphic
x=42
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,13"
buttontext=Jig

[com_15]
type=graphic
x=86
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,14"
buttontext=Spin

[com_16]
type=graphic
x=130
y=153
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,15"
buttontext=Headbang

[com_17]
type=graphic
x=-1
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,5"
buttontext=Cry

[com_18]
type=graphic
x=42
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,21"
buttontext=Blow Kiss

[com_19]
type=graphic
x=86
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,12"
buttontext=Panic

[com_20]
type=graphic
x=130
y=202
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,17"
buttontext=Raspberry

[com_21]
type=graphic
x=-1
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,11"
buttontext=Clap

[com_22]
type=graphic
x=42
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes,19"
buttontext=Salute

[com_23]
type=graphic
x=86
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,6"
graphicactive="emotes,26"
buttontext=Goblin Bow
script=varplayerbit_532 > 6

[com_24]
type=graphic
x=130
y=252
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,7"
graphicactive="emotes,27"
buttontext=Goblin Dance
script=varplayerbit_532 > 6

[com_25]
type=graphic
x=-2
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,2"
graphicactive="emotes,22"
buttontext=Glass Box
script=testbit(varplayer_313, 1) = 1

[com_26]
type=graphic
x=42
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,3"
graphicactive="emotes,23"
buttontext=Climb Rope
script=testbit(varplayer_313, 2) = 1

[com_27]
type=graphic
x=86
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,4"
graphicactive="emotes,24"
buttontext=Lean
script=testbit(varplayer_313, 3) = 1

[com_28]
type=graphic
x=130
y=302
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,5"
graphicactive="emotes,25"
buttontext=Glass Wall
script=testbit(varplayer_313, 0) = 1

[com_29]
type=graphic
x=130
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,9"
graphicactive="emotes,29"
buttontext=Slap Head
script=testbit(varplayer_802, 1) = 1

[com_30]
type=graphic
x=42
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,10"
graphicactive="emotes,30"
buttontext=Stamp
script=testbit(varplayer_802, 3) = 1

[com_31]
type=graphic
x=86
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,11"
graphicactive="emotes,31"
buttontext=Flap
script=testbit(varplayer_802, 0) = 1

[com_32]
type=graphic
x=-6
y=352
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,12"
graphicactive="emotes,32"
buttontext=Idea
script=testbit(varplayer_802, 2) = 1

[com_33]
type=graphic
x=-3
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,13"
graphicactive="emotes,33"
buttontext=Zombie Walk
script=testbit(varplayer_313, 6) = 1

[com_34]
type=graphic
x=42
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,14"
graphicactive="emotes,34"
buttontext=Zombie Dance
script=testbit(varplayer_313, 5) = 1

[com_35]
type=graphic
x=86
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,8"
graphicactive="emotes,28"
buttontext=Scared
script=testbit(varplayer_313, 4) = 1

[com_36]
type=graphic
x=130
y=403
width=42
height=48
layer=com_0
buttontype=1
graphic="emotes_locked,15"
graphicactive="emotes,35"
buttontext=Rabbit Hop
script=testbit(varplayer_313, 7) = 1

[com_37]
type=tooltip
x=4
y=6
width=34
height=48
layer=com_0
text=Yes

[com_38]
type=tooltip
x=49
y=6
width=34
height=48
layer=com_0
text=No

[com_39]
type=tooltip
x=93
y=6
width=34
height=48
layer=com_0
text=Bow

[com_40]
type=tooltip
x=137
y=6
width=34
height=48
layer=com_0
text=Angry

[com_41]
type=tooltip
x=5
y=55
width=34
height=48
layer=com_0
text=Think

[com_42]
type=tooltip
x=47
y=55
width=34
height=48
layer=com_0
text=Wave

[com_43]
type=tooltip
x=93
y=55
width=34
height=48
layer=com_0
text=Shrug

[com_44]
type=tooltip
x=137
y=55
width=34
height=48
layer=com_0
text=Cheer

[com_45]
type=tooltip
x=4
y=104
width=34
height=48
layer=com_0
text=Beckon

[com_46]
type=tooltip
x=45
y=104
width=34
height=48
layer=com_0
text=Laugh

[com_47]
type=tooltip
x=94
y=104
width=34
height=48
layer=com_0
text=Jump for Joy

[com_48]
type=tooltip
x=138
y=104
width=34
height=48
layer=com_0
text=Yawn

[com_49]
type=tooltip
x=5
y=153
width=34
height=48
layer=com_0
text=Dance

[com_50]
type=tooltip
x=48
y=153
width=34
height=48
layer=com_0
text=Jig

[com_51]
type=tooltip
x=92
y=153
width=34
height=48
layer=com_0
text=Spin

[com_52]
type=tooltip
x=138
y=153
width=34
height=48
layer=com_0
text=Headbang

[com_53]
type=tooltip
x=6
y=202
width=34
height=48
layer=com_0
text=Cry

[com_54]
type=tooltip
x=46
y=202
width=34
height=48
layer=com_0
text=Blow Kiss

[com_55]
type=tooltip
x=94
y=202
width=34
height=48
layer=com_0
text=Panic

[com_56]
type=tooltip
x=136
y=202
width=34
height=48
layer=com_0
text=Raspberry

[com_57]
type=tooltip
x=4
y=252
width=34
height=48
layer=com_0
text=Clap

[com_58]
type=tooltip
x=49
y=252
width=34
height=48
layer=com_0
text=Salute

[com_59]
type=tooltip
x=92
y=252
width=34
height=48
layer=com_0
text=Goblin Bow

[com_60]
type=tooltip
x=137
y=252
width=34
height=48
layer=com_0
text=Goblin Dance

[com_61]
type=tooltip
x=-1
y=302
width=34
height=48
layer=com_0
text=Glass Box

[com_62]
type=tooltip
x=49
y=302
width=34
height=48
layer=com_0
text=Climb Rope

[com_63]
type=tooltip
x=94
y=302
width=34
height=48
layer=com_0
text=Lean

[com_64]
type=tooltip
x=136
y=302
width=34
height=48
layer=com_0
text=Glass Wall

[com_65]
type=tooltip
x=136
y=352
width=34
height=48
layer=com_0
text=Slap Head

[com_66]
type=tooltip
x=49
y=352
width=34
height=48
layer=com_0
text=Stamp

[com_67]
type=tooltip
x=91
y=352
width=34
height=48
layer=com_0
text=Flap

[com_68]
type=tooltip
x=5
y=352
width=34
height=48
layer=com_0
text=Idea

[com_69]
type=tooltip
x=5
y=403
width=34
height=48
layer=com_0
text=Zombie Walk

[com_70]
type=tooltip
x=48
y=403
width=34
height=48
layer=com_0
text=Zombie Dance

[com_71]
type=tooltip
x=93
y=403
width=34
height=48
layer=com_0
text=Scared

[com_72]
type=tooltip
x=135
y=403
width=34
height=48
layer=com_0
text=Rabbit Hop

