[com_6733]
type=layer
width=512
height=334

[com_6734]
type=graphic
x=12
y=20
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6735]
type=graphic
x=12
y=80
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6736]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6737]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6738]
type=graphic
x=12
y=260
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6739]
type=graphic
x=100
y=20
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6740]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6741]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6742]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6743]
type=graphic
x=188
y=20
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6744]
type=graphic
x=100
y=260
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6745]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6746]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6747]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6748]
type=graphic
x=188
y=260
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6749]
type=graphic
x=276
y=20
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6750]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6751]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6752]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6753]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6754]
type=graphic
x=276
y=260
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6755]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6756]
type=graphic
x=364
y=20
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6757]
type=graphic
x=359
y=209
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6758]
type=graphic
x=364
y=260
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6759]
type=graphic
x=412
y=20
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6760]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6761]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6762]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6763]
type=graphic
x=412
y=260
width=88
height=60
layer=com_6733
graphic=tradebacking,0

[com_6764]
type=graphic
x=12
y=20
width=25
height=30
layer=com_6733
graphic=steelborder,0

[com_6765]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6766]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6767]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6768]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6769]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6770]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6771]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_6733
graphic=miscgraphics,2

[com_6772]
type=graphic
x=479
y=50
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6773]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6774]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6775]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6776]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6777]
type=graphic
x=479
y=230
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6778]
type=graphic
x=479
y=266
width=36
height=36
layer=com_6733
graphic=steelborder2,1

[com_6779]
type=graphic
x=73
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6780]
type=graphic
x=109
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6781]
type=graphic
x=145
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6782]
type=graphic
x=181
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6783]
type=graphic
x=217
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6784]
type=graphic
x=253
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6785]
type=graphic
x=289
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6786]
type=graphic
x=325
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6787]
type=graphic
x=361
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6788]
type=graphic
x=397
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6789]
type=graphic
x=433
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6790]
type=graphic
x=72
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6791]
type=graphic
x=108
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6792]
type=graphic
x=144
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6793]
type=graphic
x=180
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6794]
type=graphic
x=216
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6795]
type=graphic
x=252
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6796]
type=graphic
x=288
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6797]
type=graphic
x=324
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6798]
type=graphic
x=360
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6799]
type=graphic
x=396
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6800]
type=graphic
x=432
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6801]
type=graphic
x=252
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6802]
type=graphic
x=36
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6803]
type=graphic
x=37
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6804]
type=graphic
x=12
y=290
width=25
height=30
layer=com_6733
graphic=steelborder,2

[com_6805]
type=graphic
x=475
y=20
width=25
height=30
layer=com_6733
graphic=steelborder,1

[com_6806]
type=graphic
x=439
y=5
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6807]
type=graphic
x=475
y=290
width=25
height=30
layer=com_6733
graphic=steelborder,3

[com_6808]
type=graphic
x=439
y=299
width=36
height=36
layer=com_6733
graphic=miscgraphics,3

[com_6809]
type=graphic
x=288
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6810]
type=graphic
x=324
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6811]
type=graphic
x=360
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6812]
type=graphic
x=396
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6813]
type=graphic
x=432
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6814]
type=graphic
x=459
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6815]
type=graphic
x=216
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6816]
type=graphic
x=180
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6817]
type=graphic
x=144
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6818]
type=graphic
x=108
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6819]
type=graphic
x=72
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6820]
type=graphic
x=36
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6821]
type=graphic
x=17
y=34
width=36
height=36
layer=com_6733
graphic=steelborder2,0

[com_6822]
type=inv
x=109
y=92
width=5
height=6
layer=com_6733
paddingx=10
paddingy=1

[com_6823]
type=model
x=52
y=280
width=32
height=32
layer=com_6733
model=model_3276
modelangle=105,312,0
modelzoom=1031

[com_6824]
type=layer
x=359
y=264
width=78
height=42
layer=com_6733

[com_6825]
type=text
x=21
y=29
width=106
height=14
layer=com_6733
textfont=p12_full
text=You are victorious!
textshadow=yes
colour=0xffaa44

[com_6826]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6824
buttontype=3
colour=0x000000
fill=yes

[com_6827]
type=text
x=23
y=14
width=32
height=14
layer=com_6824
textfont=p12_full
text=Claim!
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_6828]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6824
graphic=steelborder2,0

[com_6829]
type=graphic
width=25
height=30
layer=com_6824
graphic=steelborder,0

[com_6830]
type=graphic
x=53
width=25
height=30
layer=com_6824
graphic=steelborder,1

[com_6831]
type=graphic
y=13
width=25
height=30
layer=com_6824
graphic=steelborder,2

[com_6832]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6824
graphic=steelborder,3

[com_6833]
type=graphic
x=21
y=22
width=36
height=36
layer=com_6824
graphic=miscgraphics,3

[com_6834]
type=text
x=423
y=29
width=68
height=11
layer=com_6733
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6835]
type=text
x=110
y=71
width=59
height=14
layer=com_6733
textfont=p12_full
text=The Spoils:
textshadow=yes
colour=0xaa8822

[com_6836]
type=text
x=323
y=71
width=78
height=14
layer=com_6733
textfont=p12_full
text=The Defeated:
textshadow=yes
colour=0xaa8822

[com_6837]
type=text
x=323
y=97
width=34
height=14
layer=com_6733
textfont=p12_full
text=Name:
textshadow=yes
colour=0xaa8822

[com_6838]
type=text
x=323
y=121
width=75
height=14
layer=com_6733
textfont=p12_full
text=Combat level:
textshadow=yes
colour=0xaa8822

[com_6839]
type=text
x=406
y=121
width=22
height=14
layer=com_6733
textfont=p12_full
text=126
textshadow=yes
colour=0xaaaaaa

[com_6840]
type=text
x=365
y=97
width=46
height=14
layer=com_6733
textfont=p12_full
text=Crunchy
textshadow=yes
colour=0xaaaaaa

[com_6841]
type=model
x=381
y=210
width=32
height=32
layer=com_6733
model=model_3278
modelangle=2047,514,0
modelzoom=1275

