[com_6554]
type=layer
width=512
height=334

[com_6555]
type=model
x=245
y=122
width=32
height=32
layer=com_6554
model=model_3679
modelzoom=390
modelanim=seq_1133

[com_6557]
type=model
x=245
y=122
width=32
height=32
layer=com_6554
model=model_3680
modelzoom=390
modelanim=seq_1132

[com_6559]
type=model
x=245
y=122
width=32
height=32
layer=com_6554
model=model_3678
modelzoom=390
modelanim=seq_1134

[com_6560]
type=text
x=431
y=12
width=68
height=11
layer=com_6554
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6561]
type=text
x=110
y=254
width=308
height=17
layer=com_6554
textfont=b12_full
text=Which shape is blue?
textalignh=centre
textshadow=yes
colour=0xbbb949

[com_6562]
type=graphic
x=110
y=276
width=72
height=36
layer=com_6554
buttontype=1
graphic=combatboxes,0

[com_6563]
type=graphic
x=229
y=277
width=72
height=36
layer=com_6554
buttontype=1
graphic=combatboxes,0

[com_6564]
type=graphic
x=344
y=277
width=72
height=36
layer=com_6554
buttontype=1
graphic=combatboxes,0

[com_6565]
type=text
x=113
y=287
width=66
height=15
layer=com_6554
textfont=b12_full
text=Shape1
textalignh=centre
colour=0xbbb949

[com_6566]
type=text
x=231
y=288
width=68
height=15
layer=com_6554
textfont=b12_full
text=Shape2
textalignh=centre
colour=0xbbb949

[com_6567]
type=text
x=347
y=288
width=65
height=14
layer=com_6554
textfont=b12_full
text=Shape3
textalignh=centre
colour=0xbbb949

