[com_12737]
type=layer
width=512
height=334

[com_12738]
type=rectangle
width=512
height=334
layer=com_12737
colour=0x000000
fill=yes

[com_12739]
type=model
x=243
y=170
width=32
height=32
layer=com_12737
model=model_5815
modelangle=117,3,0
modelzoom=400

[com_12740]
type=model
x=243
y=170
width=32
height=32
layer=com_12737
model=model_63
modelangle=90,10,0
modelzoom=400

[com_12741]
type=model
x=243
y=170
width=32
height=32
layer=com_12737
model=model_5816
modelangle=117,3,0
modelzoom=400

[com_12742]
type=text
x=80
y=15
width=350
height=17
layer=com_12746
textfont=q8_full
text=Name
textalignh=centre
textshadow=yes
colour=0x800000

[com_12743]
type=text
x=80
y=37
width=350
height=17
layer=com_12746
textfont=q8_full
text=Line1
textalignh=centre
colour=0xffff00

[com_12744]
type=model
x=25
y=37
width=32
height=32
layer=com_12746
model=model_63
modelangle=40,1882,0
modelzoom=796

[com_12745]
type=text
x=10
y=8
width=350
height=17
layer=com_12747
textfont=q8_full
text=Line1
textalignh=centre
colour=0xffff00

[com_12746]
type=layer
y=1
width=512
height=94
layer=com_12737

[com_12747]
type=layer
x=70
y=291
width=379
height=33
layer=com_12737

[com_12748]
type=layer
width=512
height=334
layer=com_12737
hide=yes

[com_12749]
type=model
width=512
height=334
layer=com_12748
model=model_5827
modelangle=500,0,0
modelzoom=114

