[com_0]
type=model
x=415
y=15
width=32
height=32
model=model_10566
modelangle=484,0,0
modelzoom=843

[com_1]
type=text
x=405
y=15
width=54
height=17
textfont=q8_full
text=Alchemy
textshadow=yes
colour=0x8ccc39

[com_2]
type=text
x=372
y=40
width=72
height=12
textfont=p11_full
text=Pizazz Points:
textshadow=yes
colour=0x8ccc39

[com_3]
type=text
x=463
y=41
width=28
height=12
textfont=p11_full
text=9999
textshadow=yes
colour=0x33cc00

[com_4]
type=text
x=372
y=60
width=73
height=12
textfont=p11_full
text=Leather Boots:
textshadow=yes
colour=0x339900

[com_5]
type=text
x=372
y=80
width=97
height=12
textfont=p11_full
text=Adamant Kiteshield:
textshadow=yes
colour=0x339900

[com_6]
type=text
x=372
y=100
width=71
height=12
textfont=p11_full
text=Adamant Helm:
textshadow=yes
colour=0x339900

[com_7]
type=text
x=372
y=120
width=41
height=12
textfont=p11_full
text=Emerald:
textshadow=yes
colour=0x339900

[com_8]
type=text
x=372
y=140
width=84
height=12
textfont=p11_full
text=Rune Longsword:
textshadow=yes
colour=0x339900

[com_9]
type=text
x=470
y=60
width=21
height=12
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_10]
type=text
x=470
y=80
width=21
height=12
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_11]
type=text
x=470
y=100
width=21
height=12
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_12]
type=text
x=470
y=120
width=21
height=12
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_13]
type=text
x=470
y=140
width=21
height=12
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_14]
type=layer
x=320
y=49
width=32
height=32
hide=yes

[com_15]
type=layer
x=320
y=69
width=32
height=32
hide=yes

[com_16]
type=layer
x=320
y=89
width=32
height=32
hide=yes

[com_17]
type=layer
x=320
y=108
width=32
height=32
hide=yes

[com_18]
type=layer
x=320
y=130
width=32
height=32
hide=yes

[com_19]
type=model
y=-1
width=32
height=32
layer=com_14
model=model_10568
modelangle=496,0,0
modelzoom=500

[com_20]
type=model
width=32
height=32
layer=com_15
model=model_10568
modelangle=490,0,0
modelzoom=500

[com_21]
type=model
width=32
height=32
layer=com_16
model=model_10568
modelangle=496,0,0
modelzoom=500

[com_22]
type=model
y=1
width=32
height=32
layer=com_17
model=model_10568
modelangle=490,0,0
modelzoom=500

[com_23]
type=model
width=32
height=32
layer=com_18
model=model_10568
modelangle=496,0,0
modelzoom=500

