[com_0]
type=text
x=344
y=14
width=158
height=14
textfont=p12_full
text=Watch the statue! Fish here!
textalignh=centre
textshadow=yes
colour=0xffff00

