[com_13989]
type=layer
width=512
height=334

[com_13990]
type=model
x=290
y=154
width=32
height=32
layer=com_13989
model=model_8276
modelangle=520,504,0
modelzoom=117

[com_13991]
type=text
x=408
y=12
width=93
height=17
layer=com_13989
buttontype=3
textfont=q8_full
text=Close Window
textalignh=centre
textshadow=yes
colour=0xffbf25

[com_13992]
type=text
x=377
y=225
width=35
height=58
layer=com_13989
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Aim left

[com_13993]
type=text
x=471
y=224
width=35
height=58
layer=com_13989
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Aim right

[com_13994]
type=text
x=410
y=192
width=63
height=34
layer=com_13989
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Aim up

[com_13995]
type=text
x=412
y=281
width=61
height=34
layer=com_13989
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Aim down

[com_13996]
type=text
x=429
y=242
width=24
height=24
layer=com_13989
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=FIRE!

[com_13997]
type=rectangle
x=15
y=18
width=107
height=85
layer=com_13989
colour=0x0f251a09
fill=yes

[com_13998]
type=rectangle
x=20
y=23
width=97
height=75
layer=com_13989
colour=0x0f926c1a
fill=yes

[com_13999]
type=model
x=59
y=46
width=32
height=32
layer=com_13989
model=model_8277
modelactive=model_8277
modelangle=199,1950,0
modelzoom=514
modelanim=seq_2328

