[com_6976]
type=layer
width=512
height=334

[com_6978]
type=text
x=430
y=8
width=74
height=14
layer=com_6976
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_6979]
type=model
x=247
y=145
width=32
height=32
layer=com_6976
model=model_3437
modelangle=512,0,0
modelzoom=430

[com_6980]
type=inv
x=171
y=54
width=5
height=5
layer=com_6976
interactable=yes
paddingx=5
paddingy=5

[com_6981]
type=model
x=3
y=3
width=30
height=30
layer=com_6984
mouseoverlayer=com_6977
buttontype=1
model=model_3374
modelangle=360,672,0
modelzoom=1010
buttontext=Hint

[com_6982]
type=text
x=8
y=30
width=20
height=11
layer=com_6984
textfont=p11_full
text=Hint
colour=0xfad782

[com_6984]
type=layer
x=110
y=249
width=37
height=45
layer=com_6976

[com_6977]
type=layer
x=156
y=40
width=210
height=210
layer=com_6976
hide=yes
script=varplayer_261 = 2

[com_1901]
type=model
x=90
y=107
width=32
height=32
layer=com_6977
model=model_3437
modelangle=512,0,0
modelzoom=430

[com_6985]
type=inv
x=15
y=14
width=5
height=5
layer=com_6977
paddingx=5
paddingy=5

[com_6986]
type=model
x=247
y=145
width=32
height=32
layer=com_6976
model=model_3438
modelangle=512,0,0
modelzoom=444

