[com_246]
type=layer
width=512
height=334

[com_247]
type=layer
x=12
y=20
width=488
height=36
layer=com_246

[com_248]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_247
graphic=tradebacking,0

[com_249]
type=graphic
x=182
y=6
width=88
height=60
layer=com_247
graphic=tradebacking,0

[com_250]
type=graphic
x=270
y=6
width=88
height=60
layer=com_247
graphic=tradebacking,0

[com_251]
type=graphic
x=358
y=6
width=88
height=60
layer=com_247
graphic=tradebacking,0

[com_252]
type=graphic
x=394
y=6
width=88
height=60
layer=com_247
graphic=tradebacking,0

[com_253]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_247
graphic=tradebacking,0

[com_254]
type=graphic
x=60
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_255]
type=graphic
x=96
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_256]
type=graphic
x=132
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_257]
type=graphic
x=168
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_258]
type=graphic
x=204
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_259]
type=graphic
x=240
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_260]
type=graphic
x=276
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_261]
type=graphic
x=312
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_262]
type=graphic
x=348
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_263]
type=graphic
x=384
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_264]
type=graphic
x=420
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_265]
type=graphic
x=428
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_266]
type=graphic
width=25
height=30
layer=com_247
graphic=steelborder,0

[com_267]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_268]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_269]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_270]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_271]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_272]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_273]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_274]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_275]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_276]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_277]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_278]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_279]
type=graphic
x=463
width=25
height=30
layer=com_247
graphic=steelborder,1

[com_280]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_247
graphic=steelborder2,0

[com_281]
type=graphic
x=463
y=7
width=25
height=30
layer=com_247
graphic=steelborder,3

[com_282]
type=graphic
x=25
y=16
width=36
height=36
layer=com_247
graphic=miscgraphics,3

[com_283]
type=graphic
y=7
width=25
height=30
layer=com_247
graphic=steelborder,2

[com_284]
type=model
x=239
y=145
width=35
height=35
layer=com_246
model=model_3035
modelangle=395,0,0
modelzoom=525

[com_285]
type=text
x=75
y=30
width=360
height=14
layer=com_246
textfont=b12_full
text=The Blurberry Cocktail Guide
textalignh=centre
textshadow=yes
colour=0xffff00

[com_286]
type=text
x=424
y=28
width=68
height=11
layer=com_246
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_287]
type=graphic
width=45
height=36
layer=com_293
buttontype=1
graphic=leftarrow,0

[com_288]
type=graphic
width=45
height=36
layer=com_294
buttontype=1
graphic=rightarrow,0

[com_289]
type=text
x=125
y=120
width=125
height=122
layer=com_246
textfont=q8_full
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8
colour=0x000000

[com_290]
type=model
x=75
y=200
width=32
height=32
layer=com_246
model=null
modelangle=124,1916,0
modelzoom=283

[com_291]
type=text
x=75
y=80
width=150
height=17
layer=com_246
textfont=q8_full
text=title1
textalignh=centre
colour=0x800000

[com_292]
type=text
x=285
y=80
width=200
height=182
layer=com_246
textfont=q8_full
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12
colour=0x000000

[com_293]
type=layer
x=34
y=259
width=45
height=36
layer=com_246

[com_294]
type=layer
x=432
y=259
width=45
height=36
layer=com_246

[com_295]
type=text
x=20
y=28
width=28
height=11
layer=com_246
buttontype=1
textfont=p11_full
text=Index
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

