[com_0]
type=model
x=415
y=17
width=32
height=32
model=model_10567
modelangle=421,0,0
modelzoom=843

[com_1]
type=text
x=394
y=15
width=70
height=17
textfont=q8_full
text=Telekinetic
textshadow=yes
colour=0x5686c3

[com_2]
type=text
x=369
y=39
width=72
height=12
textfont=p11_full
text=Pizazz Points:
textshadow=yes
colour=0x4d7cb6

[com_3]
type=text
x=447
y=40
width=42
height=12
textfont=p11_full
text=999999
textshadow=yes
colour=0x66ccff

[com_4]
type=model
x=469
y=308
width=32
height=32
model=model_10588
modelangle=79,142,0
modelzoom=1395

[com_5]
type=text
x=472
y=253
width=24
height=14
textfont=p12_full
text=999
textalignh=centre
textshadow=yes
colour=0x66ccff

[com_6]
type=text
x=461
y=238
width=44
height=14
textfont=p12_full
text=Solved :
textalignh=centre
textshadow=yes
colour=0x66ccff

