[com_3281]
type=layer
width=512
height=334

[com_18482]
type=rectangle
x=2
y=1
width=514
height=335
layer=com_3281
colour=0x2a1e06
fill=yes

[com_3283]
type=model
x=246
y=97
width=38
height=37
layer=com_3281
model=model_13939
modelangle=295,1986,0
modelzoom=613

[com_3284]
type=text
x=195
y=216
width=23
height=17
layer=com_3281
textfont=q8_full
text=Ape
textshadow=yes
colour=0xf3cc99

[com_3285]
type=text
x=344
y=20
width=56
height=17
layer=com_3281
textfont=q8_full
text=Asgarnia
textshadow=yes
colour=0xf3cc99

[com_3286]
type=text
x=265
y=99
width=56
height=17
layer=com_3281
textfont=q8_full
text=Karamja
textshadow=yes
colour=0xf3cc99

[com_3287]
type=text
x=237
y=79
width=55
height=17
layer=com_3281
textfont=q8_full
text=Crandor
textshadow=yes
colour=0xf3cc99

[com_3288]
type=text
x=188
y=46
width=56
height=17
layer=com_3281
textfont=q8_full
text=Entrana
textshadow=yes
colour=0xf3cc99

[com_3289]
type=text
x=323
y=50
width=31
height=17
layer=com_3281
textfont=q8_full
text=Port
textshadow=yes
colour=0xf3cc99

[com_3290]
type=text
x=319
y=65
width=38
height=17
layer=com_3281
textfont=q8_full
text=Sarim
textshadow=yes
colour=0xf3cc99

[com_3291]
type=model
x=356
y=55
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3292]
type=model
x=236
y=44
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3293]
type=model
x=332
y=116
width=32
height=32
layer=com_3281
model=model_3046
modelangle=390,1833,0
modelzoom=1500

[com_3294]
type=model
x=101
y=125
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3295]
type=text
x=78
y=130
width=31
height=17
layer=com_3281
textfont=q8_full
text=Port
textshadow=yes
colour=0xf3cc99

[com_3296]
type=text
x=64
y=144
width=55
height=17
layer=com_3281
textfont=q8_full
text=Khazard
textshadow=yes
colour=0xf3cc99

[com_3297]
type=text
x=314
y=125
width=26
height=17
layer=com_3281
textfont=q8_full
text=Ship
textshadow=yes
colour=0xf3cc99

[com_3298]
type=text
x=310
y=141
width=33
height=17
layer=com_3281
textfont=q8_full
text=Yard
textshadow=yes
colour=0xf3cc99

[com_3299]
type=model
x=114
y=88
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3300]
type=model
x=185
y=160
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3301]
type=text
x=213
y=157
width=36
height=17
layer=com_3281
textfont=q8_full
text=Cairn
textshadow=yes
colour=0xf3cc99

[com_3302]
type=text
x=218
y=171
width=23
height=17
layer=com_3281
textfont=q8_full
text=Isle
textshadow=yes
colour=0xf3cc99

[com_3303]
type=model
x=197
y=75
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3304]
type=text
x=176
y=94
width=70
height=17
layer=com_3281
textfont=q8_full
text=Brimhaven
textshadow=yes
colour=0xf3cc99

[com_3305]
type=text
x=107
y=62
width=64
height=17
layer=com_3281
textfont=q8_full
text=Ardougne
textshadow=yes
colour=0xf3cc99

[com_3306]
type=model
x=246
y=66
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_3282]
type=text
x=12
y=8
width=185
height=17
layer=com_3281
textfont=q8_full
text=You Journey on the ship....
textshadow=yes
colour=0xc4a135

[com_3307]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_632
script=varplayer_75 = 1

[com_3308]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_633
script=varplayer_75 = 2

[com_3309]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_630
script=varplayer_75 = 3

[com_3310]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_631
script=varplayer_75 = 4

[com_3311]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_634
script=varplayer_75 = 5

[com_3312]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_635
script=varplayer_75 = 6

[com_3313]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1985,0
modelzoom=613
modelanimactive=seq_636
script=varplayer_75 = 7

[com_3314]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1985,0
modelzoom=613
modelanimactive=seq_637
script=varplayer_75 = 8

[com_3315]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
script=varplayer_75 = 9

[com_3316]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=485
modelanimactive=seq_638
script=varplayer_75 = 10

[com_3317]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=296,1988,0
modelzoom=613
modelanimactive=seq_639
script=varplayer_75 = 11

[com_3318]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=296,1988,0
modelzoom=613
modelanimactive=seq_640
script=varplayer_75 = 12

[com_3319]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=292,1989,0
modelzoom=613
modelanimactive=seq_641
script=varplayer_75 = 13

[com_18502]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=295,1988,0
modelzoom=613
modelanimactive=seq_3545
script=varplayer_75 = 14

[com_18503]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_3065
modelangle=295,1986,0
modelzoom=613
modelanimactive=seq_3546
script=varplayer_75 = 15

[com_18504]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_13370
modelangle=288,1989,0
modelzoom=613
modelanimactive=seq_3476
script=varplayer_75 = 16

[com_18505]
type=model
x=246
y=97
width=36
height=37
layer=com_3281
model=null
modelactive=model_13371
modelangle=288,1989,0
modelzoom=613
modelanimactive=seq_3477
script=varplayer_75 = 17

[com_18506]
type=model
x=289
y=80
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1372

[com_18507]
type=text
x=196
y=232
width=27
height=17
layer=com_3281
textfont=q8_full
text=Atoll
textshadow=yes
colour=0xf3cc99

[com_18508]
type=model
x=164
y=259
width=32
height=32
layer=com_3281
model=model_3046
modelangle=306,199,0
modelzoom=1500

[com_18509]
type=model
x=70
y=181
width=32
height=32
layer=com_3281
model=model_3046
modelangle=308,198,0
modelzoom=1500

[com_18510]
type=text
x=58
y=198
width=38
height=17
layer=com_3281
textfont=q8_full
text=Feldip
textshadow=yes
colour=0xf3cc99

[com_18511]
type=text
x=77
y=215
width=27
height=17
layer=com_3281
textfont=q8_full
text=Hills
textshadow=yes
colour=0xf3cc99

[com_18512]
type=text
x=1
y=2
width=301
height=17
layer=com_18515
textfont=q8_full
text=The ogres follow the scent of the chompy.... 
textshadow=yes
colour=0xc4a135

[com_18513]
type=text
x=3
y=1
width=247
height=17
layer=com_18514
textfont=q8_full
text=The ogres travel back with the goods
textshadow=yes
colour=0xc4a135

[com_18514]
type=layer
x=8
y=8
width=305
height=20
layer=com_3281
hide=yes

[com_18515]
type=layer
x=9
y=8
width=305
height=20
layer=com_3281
hide=yes

