[com_324]
type=layer
width=512
height=334

[com_325]
type=graphic
x=12
y=20
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_326]
type=graphic
x=12
y=80
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_327]
type=graphic
x=12
y=140
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_328]
type=graphic
x=12
y=200
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_329]
type=graphic
x=12
y=260
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_330]
type=graphic
x=100
y=20
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_331]
type=graphic
x=100
y=80
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_332]
type=graphic
x=100
y=140
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_333]
type=graphic
x=100
y=200
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_334]
type=graphic
x=188
y=20
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_335]
type=graphic
x=100
y=260
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_336]
type=graphic
x=188
y=80
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_337]
type=graphic
x=188
y=140
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_338]
type=graphic
x=188
y=200
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_339]
type=graphic
x=188
y=260
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_340]
type=graphic
x=276
y=20
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_341]
type=graphic
x=364
y=80
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_342]
type=graphic
x=276
y=80
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_343]
type=graphic
x=276
y=140
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_344]
type=graphic
x=276
y=200
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_345]
type=graphic
x=276
y=260
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_346]
type=graphic
x=364
y=140
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_347]
type=graphic
x=364
y=20
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_348]
type=graphic
x=364
y=200
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_349]
type=graphic
x=364
y=260
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_350]
type=graphic
x=412
y=20
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_351]
type=graphic
x=412
y=80
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_352]
type=graphic
x=412
y=140
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_353]
type=graphic
x=412
y=200
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_354]
type=graphic
x=412
y=260
width=88
height=60
layer=com_324
graphic=tradebacking,0

[com_355]
type=graphic
x=12
y=20
width=25
height=30
layer=com_324
graphic=steelborder,0

[com_356]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_357]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_358]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_359]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_360]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_361]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_362]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_324
graphic=miscgraphics,2

[com_363]
type=graphic
x=479
y=50
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_364]
type=graphic
x=479
y=86
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_365]
type=graphic
x=479
y=122
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_366]
type=graphic
x=479
y=158
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_367]
type=graphic
x=479
y=194
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_368]
type=graphic
x=479
y=230
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_369]
type=graphic
x=479
y=266
width=36
height=36
layer=com_324
graphic=steelborder2,1

[com_370]
type=graphic
x=73
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_371]
type=graphic
x=109
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_372]
type=graphic
x=145
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_373]
type=graphic
x=181
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_374]
type=graphic
x=217
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_375]
type=graphic
x=253
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_376]
type=graphic
x=289
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_377]
type=graphic
x=325
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_378]
type=graphic
x=361
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_379]
type=graphic
x=397
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_380]
type=graphic
x=433
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_381]
type=graphic
x=72
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_382]
type=graphic
x=108
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_383]
type=graphic
x=144
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_384]
type=graphic
x=180
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_385]
type=graphic
x=216
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_386]
type=graphic
x=252
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_387]
type=graphic
x=288
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_388]
type=graphic
x=324
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_389]
type=graphic
x=360
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_390]
type=graphic
x=396
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_391]
type=graphic
x=432
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_392]
type=graphic
x=252
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_393]
type=graphic
x=37
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_394]
type=graphic
x=37
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_395]
type=graphic
x=12
y=290
width=25
height=30
layer=com_324
graphic=steelborder,2

[com_396]
type=graphic
x=475
y=20
width=25
height=30
layer=com_324
graphic=steelborder,1

[com_397]
type=graphic
x=439
y=5
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_398]
type=graphic
x=475
y=290
width=25
height=30
layer=com_324
graphic=steelborder,3

[com_399]
type=graphic
x=439
y=299
width=36
height=36
layer=com_324
graphic=miscgraphics,3

[com_400]
type=text
x=179
y=30
width=143
height=14
layer=com_324
textfont=p12_full
text=Thessalias' Clothes Store
textshadow=yes
colour=0xffff00

[com_401]
type=text
x=420
y=29
width=68
height=11
layer=com_324
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_402]
type=graphic
x=288
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_403]
type=graphic
x=324
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_404]
type=graphic
x=360
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_405]
type=graphic
x=396
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_406]
type=graphic
x=432
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_407]
type=graphic
x=459
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_408]
type=graphic
x=216
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_409]
type=graphic
x=180
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_410]
type=graphic
x=144
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_411]
type=graphic
x=108
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_412]
type=graphic
x=72
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_413]
type=graphic
x=36
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

[com_414]
type=graphic
x=17
y=34
width=36
height=36
layer=com_324
graphic=steelborder2,0

