[com_12231]
type=layer
width=512
height=334

[com_12232]
type=model
x=210
y=136
width=32
height=32
layer=com_12231
model=model_4652
modelangle=410,2046,0
modelzoom=881

[com_12233]
type=model
x=217
y=137
width=32
height=32
layer=com_12231
model=model_5235
modelangle=436,7,0
modelzoom=824

[com_12234]
type=text
x=169
y=72
width=154
height=19
layer=com_12231
textfont=q8_full
text=Rune-Draw
textalignh=centre
textshadow=yes
colour=0xe9ab73

[com_12235]
type=text
x=407
y=7
width=93
height=17
layer=com_12231
buttontype=3
textfont=q8_full
text=Close Window
textshadow=yes
colour=0xe9ab73
mouseovercolour=0xffffff

[com_12236]
type=text
x=71
y=108
width=78
height=17
layer=com_12231
textfont=q8_full
text=Your Score
textshadow=yes
colour=0xc47630

[com_12237]
type=text
x=314
y=111
width=111
height=17
layer=com_12231
textfont=q8_full
text=opponent's Score
textshadow=yes
colour=0xc47630

[com_12238]
type=text
x=14
y=15
width=37
height=17
layer=com_12264
buttontype=1
textfont=q8_full
text=Draw
textshadow=yes
colour=0xc47630
mouseovercolour=0xffffff
buttontext=Draw

[com_12239]
type=text
x=15
y=12
width=30
height=17
layer=com_12265
buttontype=1
textfont=q8_full
text=Hold
textshadow=yes
colour=0xc47630
mouseovercolour=0xffffff
buttontext=Hold

[com_12240]
type=model
x=72
y=145
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12241]
type=model
x=105
y=145
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12242]
type=model
x=140
y=137
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12243]
type=model
x=173
y=131
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12244]
type=model
x=205
y=125
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12245]
type=model
x=69
y=172
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12246]
type=model
x=104
y=175
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12247]
type=model
x=139
y=167
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12248]
type=model
x=172
y=158
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12249]
type=model
x=204
y=154
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12250]
type=model
x=267
y=157
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12251]
type=model
x=301
y=158
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12252]
type=model
x=336
y=151
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12253]
type=model
x=370
y=142
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12254]
type=model
x=402
y=143
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12255]
type=model
x=266
y=188
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12256]
type=model
x=302
y=190
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12257]
type=model
x=337
y=183
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12258]
type=model
x=371
y=172
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12259]
type=model
x=404
y=172
width=25
height=24
layer=com_12231
model=model_5236
modelangle=525,762,0
modelzoom=1027

[com_12260]
type=text
x=86
y=73
width=58
height=17
layer=com_12231
textfont=q8_full
text=DEATH
textalignh=centre
script0=varplayerbit_230

[com_12261]
type=text
x=61
y=244
width=81
height=18
layer=com_12231
textfont=q8_full
text=Text
textalignh=centre
textshadow=yes
colour=0xc47630

[com_12262]
type=text
x=350
y=78
width=58
height=17
layer=com_12231
textfont=q8_full
text=DEATH
textalignh=centre
script0=varplayerbit_231

[com_12263]
type=text
x=348
y=253
width=85
height=19
layer=com_12231
textfont=q8_full
text=Text
textalignh=centre
textshadow=yes
colour=0xc47630

[com_12264]
type=layer
x=171
y=208
width=62
height=43
layer=com_12231

[com_12265]
type=layer
x=170
y=256
width=63
height=43
layer=com_12231

