[com_15831]
type=layer
width=512
height=334

[com_15832]
type=model
x=240
y=139
width=32
height=28
layer=com_15831
model=model_3032
modelangle=400,0,0
modelzoom=604

[com_15833]
type=text
x=215
y=95
width=106
height=17
layer=com_15831
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xf5b405
colouractive=0x453c26

[com_15834]
type=text
x=373
y=84
width=28
height=12
layer=com_15831
buttontype=3
textfont=p11_full
text=Close
colour=0x823c1a
mouseovercolour=0xdd5817

[com_15835]
type=text
x=142
y=117
width=219
height=14
layer=com_15831
textfont=p12_full
text=Well done, you defeated the Champion!
textalignh=centre
colour=0x004000

[com_15836]
type=model
x=93
y=153
width=85
height=105
layer=com_15831
model=model_10347
modelangle=347,1517,0
modelzoom=300

[com_15837]
type=model
x=355
y=205
width=32
height=32
layer=com_15831
model=model_10319
modelangle=500,138,0
modelzoom=273

[com_15838]
type=text
x=220
y=140
width=96
height=14
layer=com_15831
textfont=p12_full
text=You are awarded:
colour=0x400000

[com_15839]
type=text
x=183
y=157
width=170
height=14
layer=com_15831
textfont=p12_full
text=%1 Slayer Xp
textalignh=centre
colour=0x004000
script0=varplayer_621

[com_15840]
type=text
x=183
y=172
width=170
height=14
layer=com_15831
textfont=p12_full
text=%1 Hitpoint Xp
textalignh=centre
colour=0x004000
script0=varplayer_620

