[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

[com_2]
type=model
x=93
y=16
width=64
height=96
model=model_9836
modelangle=159,36,0
modelzoom=183

[com_3]
type=model
x=323
y=13
width=64
height=96
model=model_2365
modelangle=221,1877,0
modelzoom=400

[com_4]
type=text
x=29
y=14
width=176
height=93
buttontype=1
textfont=q8_full
text=<br><br><br><br>Churn Butter
textalignh=centre
colour=0xa00000
buttontext=Churn Butter
script=stat(cooking) > 37

[com_5]
type=text
x=252
y=16
width=197
height=96
buttontype=1
textfont=q8_full
text=<br><br><br><br>Churn Cheese
textalignh=centre
colour=0xa00000
buttontext=Churn Cheese
script=stat(cooking) > 47

[com_6]
type=text
x=60
width=362
height=32
textfont=q8_full
text=What would you like to make in the churn?
textalignh=centre
textalignv=centre
colour=0x000000

