[com_0]
type=text
x=342
y=24
width=109
height=17
textfont=q8_full
text=Text
textalignh=centre
textshadow=yes
colour=0xff981f

[com_1]
type=text
x=342
y=74
width=110
height=18
textfont=q8_full
text=Text
textalignh=centre
textshadow=yes
colour=0xff981f

[com_2]
type=model
x=465
y=24
width=32
height=32
model=model_6435
modelangle=10,37,0
modelzoom=1165

[com_3]
type=model
x=466
y=72
width=32
height=32
model=model_6438
modelangle=32,56,0
modelzoom=1165

[com_4]
type=text
x=443
y=43
width=14
height=14
textfont=p12_full
text=10
textshadow=yes
colour=0xff981f

[com_5]
type=text
x=442
y=91
width=14
height=14
textfont=p12_full
text=10
textshadow=yes
colour=0xff981f

[com_6]
type=graphic
x=480
y=302
width=25
height=25
graphic="staticons2,4"

[com_7]
type=layer
x=136
y=120
width=268
height=121
hide=yes

[com_8]
type=model
x=119
y=32
width=32
height=32
layer=com_7
model=model_10119
modelangle=512,0,0
modelzoom=576

[com_9]
type=text
x=72
y=28
width=124
height=17
layer=com_7
textfont=q8_full
text=Your cat has been
textalignh=centre
colour=0x000000

[com_10]
type=text
x=110
y=49
width=59
height=17
layer=com_7
textfont=q8_full
text=Defeated
colour=0x000000

