[com_1698]
type=layer
width=512
height=334

[com_1699]
type=model
x=135
y=16
width=35
height=32
layer=com_1698
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_1700]
type=text
x=4
y=10
width=47
height=14
layer=com_1698
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_1701]
type=text
x=52
y=10
width=17
height=14
layer=com_1698
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_1702]
type=text
x=4
y=40
width=114
height=14
layer=com_1698
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_1703]
type=layer
x=4
y=60
width=145
height=190
layer=com_1698

[com_1704]
type=graphic
x=5
y=5
width=72
height=36
layer=com_1703
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_1705]
type=graphic
x=5
y=143
width=72
height=36
layer=com_1703
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_1706]
type=graphic
x=5
y=97
width=72
height=36
layer=com_1703
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_1707]
type=graphic
x=5
y=51
width=72
height=36
layer=com_1703
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_1708]
type=graphic
x=22
y=149
width=34
height=24
layer=com_1703
graphic=combaticons,0

[com_1709]
type=graphic
x=22
y=11
width=34
height=24
layer=com_1703
graphic=combaticons,1

[com_1710]
type=graphic
x=21
y=57
width=34
height=24
layer=com_1703
graphic=combaticons,2

[com_1711]
type=graphic
x=22
y=103
width=34
height=24
layer=com_1703
graphic=combaticons,3

[com_1712]
type=text
x=78
y=5
width=25
height=11
layer=com_1703
textfont=p11_full
text=Chop
textshadow=yes
colour=0xffff00

[com_1713]
type=text
x=78
y=51
width=23
height=11
layer=com_1703
textfont=p11_full
text=Hack
textshadow=yes
colour=0xffff00

[com_1714]
type=text
x=78
y=97
width=32
height=11
layer=com_1703
textfont=p11_full
text=Smash
textshadow=yes
colour=0xffff00

[com_1715]
type=text
x=78
y=143
width=26
height=11
layer=com_1703
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_1716]
type=text
x=78
y=18
width=50
height=11
layer=com_1703
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_1717]
type=text
x=78
y=110
width=64
height=11
layer=com_1703
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_1718]
type=text
x=78
y=64
width=64
height=11
layer=com_1703
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_1719]
type=text
x=78
y=156
width=58
height=11
layer=com_1703
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_1720]
type=text
x=82
y=90
width=34
height=11
layer=com_1698
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_1721]
type=text
x=82
y=136
width=34
height=11
layer=com_1698
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_1722]
type=text
x=82
y=182
width=36
height=11
layer=com_1698
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_1723]
type=text
x=82
y=228
width=34
height=11
layer=com_1698
textfont=p11_full
text=(Slash)
colour=0xffff00

