[com_13782]
type=layer
width=512
height=334

[com_13783]
type=graphic
x=100
y=20
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15351]
type=graphic
x=394
y=239
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15356]
type=graphic
x=307
y=239
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15357]
type=graphic
x=220
y=239
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15358]
type=graphic
x=132
y=239
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15359]
type=graphic
x=34
y=26
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15360]
type=graphic
x=34
y=86
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15361]
type=graphic
x=34
y=146
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15362]
type=graphic
x=34
y=206
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15363]
type=graphic
x=34
y=239
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15364]
type=graphic
x=122
y=80
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15365]
type=graphic
x=188
y=20
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15366]
type=graphic
x=122
y=140
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15367]
type=graphic
x=122
y=200
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15368]
type=graphic
x=188
y=80
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15369]
type=graphic
x=118
y=239
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15370]
type=graphic
x=188
y=140
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15371]
type=graphic
x=188
y=200
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15372]
type=graphic
x=276
y=20
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15373]
type=graphic
x=364
y=80
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15374]
type=graphic
x=276
y=80
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15375]
type=graphic
x=276
y=140
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15376]
type=graphic
x=276
y=200
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15377]
type=graphic
x=364
y=140
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15378]
type=graphic
x=364
y=20
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15379]
type=graphic
x=364
y=200
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15380]
type=graphic
x=394
y=26
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15381]
type=graphic
x=394
y=81
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15382]
type=graphic
x=394
y=141
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15383]
type=graphic
x=394
y=200
width=88
height=60
layer=com_13782
graphic=tradebacking,0

[com_15384]
type=graphic
x=13
y=49
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15385]
type=graphic
x=13
y=85
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15386]
type=graphic
x=13
y=121
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15387]
type=graphic
x=13
y=157
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15388]
type=graphic
x=13
y=193
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15389]
type=graphic
x=13
y=228
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15390]
type=graphic
x=13
y=252
width=36
height=36
layer=com_13782
graphic=miscgraphics,2

[com_15391]
type=graphic
x=467
y=51
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15392]
type=graphic
x=467
y=86
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15393]
type=graphic
x=467
y=122
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15394]
type=graphic
x=467
y=158
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15395]
type=graphic
x=50
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15396]
type=graphic
x=467
y=194
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15397]
type=graphic
x=467
y=230
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15398]
type=graphic
x=467
y=264
width=36
height=36
layer=com_13782
graphic=steelborder2,1

[com_15399]
type=graphic
x=81
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15400]
type=graphic
x=112
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15401]
type=graphic
x=145
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15402]
type=graphic
x=179
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15403]
type=graphic
x=213
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15404]
type=graphic
x=249
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15405]
type=graphic
x=284
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15406]
type=graphic
x=320
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15407]
type=graphic
x=355
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15408]
type=graphic
x=391
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15409]
type=graphic
x=427
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15410]
type=graphic
x=72
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15411]
type=graphic
x=108
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15412]
type=graphic
x=144
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15413]
type=graphic
x=180
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15414]
type=graphic
x=216
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15415]
type=graphic
x=252
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15416]
type=graphic
x=288
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15417]
type=graphic
x=324
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15418]
type=graphic
x=360
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15419]
type=graphic
x=396
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15420]
type=graphic
x=432
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15421]
type=graphic
x=252
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15422]
type=graphic
x=37
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15423]
type=graphic
x=49
y=284
width=36
height=36
layer=com_13782
graphic=miscgraphics,3

[com_15424]
type=graphic
x=28
y=275
width=25
height=30
layer=com_13782
graphic=steelborder,2

[com_15425]
type=graphic
x=463
y=20
width=25
height=30
layer=com_13782
graphic=steelborder,1

[com_15426]
type=graphic
x=439
y=5
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15427]
type=graphic
x=463
y=275
width=25
height=30
layer=com_13782
graphic=steelborder,3

[com_15428]
type=graphic
x=288
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15429]
type=graphic
x=324
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15430]
type=graphic
x=28
y=20
width=25
height=30
layer=com_13782
graphic=steelborder,0

[com_15431]
type=graphic
x=360
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15432]
type=graphic
x=396
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15433]
type=graphic
x=432
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15434]
type=graphic
x=452
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15435]
type=graphic
x=216
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15436]
type=graphic
x=180
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15437]
type=graphic
x=144
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15438]
type=graphic
x=108
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15439]
type=graphic
x=72
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15440]
type=graphic
x=34
y=34
width=36
height=36
layer=com_13782
graphic=steelborder2,0

[com_15441]
type=text
x=200
y=29
width=92
height=14
layer=com_13782
textfont=b12_full
text=Silver Casting
textshadow=yes
colour=0xffaa44

[com_15442]
type=text
x=402
y=31
width=74
height=14
layer=com_13782
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffaa44

[com_15443]
type=layer
x=67
y=68
width=380
height=225
layer=com_13782

[com_15444]
type=layer
x=8
y=6
width=86
height=100
layer=com_15443

[com_15445]
type=inv
x=26
y=3
width=1
height=1
layer=com_15444
op1=Make 1
op2=Make 5
op3=Make 10

[com_15446]
type=text
x=11
y=37
width=65
height=38
layer=com_15444
textfont=p12_full
text=Make\n Saradomin \nSymbol
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15447]
type=layer
x=8
y=6
width=86
height=100
layer=com_15443
hide=yes

[com_15448]
type=model
x=24
y=8
width=32
height=32
layer=com_15447
model=null
modelzoom=400

[com_15449]
type=text
x=1
y=42
width=83
height=50
layer=com_15447
textfont=p12_full
text=You need a \nHoly Symbol\n mould to make\n this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15450]
type=text
x=298
y=298
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

[com_15451]
type=layer
x=10
y=116
width=86
height=100
layer=com_15443

[com_15452]
type=inv
x=26
y=3
width=1
height=1
layer=com_15451
op1=Make 1
op2=Make 5
op3=Make 10

[com_15453]
type=text
x=15
y=38
width=51
height=38
layer=com_15451
textfont=p12_full
text=Make\n Zamorak\nSymbol
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15454]
type=layer
x=10
y=116
width=86
height=100
layer=com_15443
hide=yes

[com_15455]
type=model
x=24
y=8
width=32
height=32
layer=com_15454
model=null
modelzoom=400

[com_15456]
type=text
x=1
y=42
width=83
height=50
layer=com_15454
textfont=p12_full
text=You need an \nUnholy Symbol\n mould to make\n this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15457]
type=text
x=298
y=299
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

[com_15458]
type=layer
x=96
y=6
width=86
height=100
layer=com_15443

[com_15459]
type=inv
x=26
y=3
width=1
height=1
layer=com_15458
op1=Make 1
op2=Make 5
op3=Make 10

[com_15460]
type=text
x=26
y=37
width=32
height=38
layer=com_15458
textfont=p12_full
text=Make\nSilver\nSickle
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15461]
type=layer
x=96
y=6
width=86
height=100
layer=com_15443
hide=yes

[com_15462]
type=model
x=26
y=3
width=32
height=32
layer=com_15461
model=null
modelzoom=400

[com_15463]
type=text
x=10
y=36
width=68
height=50
layer=com_15461
textfont=p12_full
text=You need a \nsickle mould\n to make\n this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15464]
type=text
x=298
y=299
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

[com_15465]
type=layer
x=101
y=116
width=86
height=100
layer=com_15443

[com_15466]
type=inv
x=26
y=3
width=1
height=1
layer=com_15465
op1=Make 1
op2=Make 5
op3=Make 10

[com_15467]
type=text
x=16
y=34
width=52
height=38
layer=com_15465
textfont=p12_full
text=Make\nLightning\nRod
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15468]
type=layer
x=101
y=116
width=86
height=100
layer=com_15443
hide=yes

[com_15469]
type=model
x=26
y=3
width=32
height=32
layer=com_15468
model=null
modelzoom=400

[com_15470]
type=text
x=10
y=36
width=65
height=62
layer=com_15468
textfont=p12_full
text=You need a \nlightning \nrod mould\n to make\n this item.
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15471]
type=text
x=297
y=299
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

[com_15472]
type=layer
x=191
y=5
width=86
height=100
layer=com_15443

[com_15473]
type=inv
x=26
y=3
width=1
height=1
layer=com_15472
op1=Make 1
op2=Make 5
op3=Make 10

[com_15474]
type=text
x=26
y=37
width=29
height=26
layer=com_15472
textfont=p12_full
text=Make\nTiara
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15475]
type=layer
x=191
y=5
width=86
height=100
layer=com_15443
hide=yes

[com_15476]
type=model
x=26
y=3
width=32
height=32
layer=com_15475
model=null
modelzoom=400

[com_15477]
type=text
x=10
y=36
width=69
height=50
layer=com_15475
textfont=p12_full
text=You need a\n Tiara Mould \nto make\n a tiara.
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15478]
type=text
x=297
y=298
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

[com_15479]
type=text
x=297
y=298
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

[com_15480]
type=layer
x=284
y=5
width=86
height=100
layer=com_15443

[com_15481]
type=inv
x=24
y=8
width=1
height=1
layer=com_15480
op1=Make 1
op2=Make 5
op3=Make 10

[com_15482]
type=text
x=4
y=43
width=78
height=26
layer=com_15480
textfont=p12_full
text=Make demonic\nsigil
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15483]
type=layer
x=284
y=5
width=86
height=100
layer=com_15443
hide=yes

[com_15484]
type=model
x=24
y=8
width=32
height=32
layer=com_15483
model=null
modelzoom=400

[com_15485]
type=text
x=3
y=42
width=80
height=50
layer=com_15483
textfont=p12_full
text=You need a\n demonic sigil\nmould to make\nthis item.
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15486]
type=text
x=297
y=298
width=4
height=4
layer=com_13782
textfont=p12_full
textshadow=yes
colour=0xffff00

