[com_16150]
type=layer
width=512
height=334

[com_16151]
type=model
x=123
y=119
width=32
height=32
layer=com_16150
model=model_10846
modelzoom=185
modelanim=seq_3093

