[com_0]
type=text
x=424
y=28
width=68
height=11
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_1]
type=model
x=239
y=155
width=32
height=32
model=model_3044
modelzoom=525

[com_2]
type=text
x=82
y=82
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_3]
type=text
x=82
y=98
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_4]
type=text
x=82
y=114
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_5]
type=text
x=82
y=131
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_6]
type=text
x=82
y=148
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_7]
type=text
x=82
y=165
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_8]
type=text
x=82
y=182
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_9]
type=text
x=82
y=199
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_10]
type=text
x=82
y=216
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_11]
type=text
x=82
y=233
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_12]
type=text
x=82
y=250
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13]
type=text
x=82
y=267
width=354
height=14
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

