[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

[com_28]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

[com_30]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

[com_31]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

[com_45]
type=graphic
x=73
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_46]
type=graphic
x=109
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_47]
type=graphic
x=145
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_48]
type=graphic
x=181
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_49]
type=graphic
x=217
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_50]
type=graphic
x=253
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_51]
type=graphic
x=289
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_52]
type=graphic
x=325
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_53]
type=graphic
x=361
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_54]
type=graphic
x=397
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_55]
type=graphic
x=433
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

[com_67]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

[com_68]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

[com_69]
type=graphic
x=37
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_70]
type=graphic
x=12
y=295
width=25
height=30
graphic="steelborder,2"

[com_71]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

[com_72]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

[com_73]
type=graphic
x=475
y=295
width=25
height=30
graphic="steelborder,3"

[com_74]
type=graphic
x=439
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_75]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

[com_76]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

[com_77]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

[com_78]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

[com_79]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

[com_80]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

[com_81]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

[com_82]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

[com_83]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

[com_84]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

[com_85]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

[com_86]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

[com_87]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

[com_88]
type=rectangle
x=104
y=231
width=315
height=82
colour=0x000000
fill=yes

[com_89]
type=rectangle
x=103
y=230
width=317
height=83
colour=0x726451

[com_90]
type=text
x=25
y=30
width=467
height=18
textfont=b12_full
text=Gnome Battas
textalignh=centre
textshadow=yes
colour=0xff9900

[com_91]
type=model
x=165
y=89
width=50
height=51
mouseoverlayer=com_101
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

[com_92]
type=model
x=246
y=24
width=32
height=32
layer=com_101
model=null
modelzoom=400

[com_93]
type=model
x=46
y=27
width=32
height=32
layer=com_101
model=model_2573
modelangle=336,1891,0
modelzoom=784

[com_94]
type=model
x=113
y=27
width=32
height=32
layer=com_101
model=model_2573
modelangle=336,1891,0
modelzoom=784

[com_95]
type=model
x=183
y=27
width=32
height=32
layer=com_101
model=model_2573
modelangle=336,1891,0
modelzoom=784

[com_96]
type=text
x=254
y=60
width=30
height=14
layer=com_101
textfont=p12_full
text=%1/4
textactive=%1/4
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 3

[com_97]
type=text
x=58
y=60
width=29
height=14
layer=com_101
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2116) > 0

[com_98]
type=text
x=125
y=60
width=29
height=14
layer=com_101
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2110) > 0

[com_99]
type=text
x=194
y=60
width=29
height=14
layer=com_101
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2122) > 0

[com_100]
type=text
x=5
y=5
width=310
height=15
layer=com_101
textfont=p12_full
text=Fruit Batta
textalignh=centre
textshadow=yes
colour=0xd6a046

[com_101]
type=layer
x=99
y=229
width=318
height=82
hide=yes

[com_102]
type=model
x=286
y=89
width=50
height=50
mouseoverlayer=com_112
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

[com_103]
type=model
x=44
y=23
width=32
height=32
layer=com_112
model=null
modelangle=327,1909,0
modelzoom=528

[com_104]
type=model
x=100
y=17
width=32
height=32
layer=com_112
model=model_2668
modelangle=376,2047,0
modelzoom=338

[com_105]
type=model
x=186
y=34
width=32
height=32
layer=com_112
model=model_2431
modelangle=321,1885,0
modelzoom=656

[com_106]
type=model
x=253
y=33
width=32
height=32
layer=com_112
model=model_2365
modelangle=228,1885,0
modelzoom=784

[com_107]
type=text
x=48
y=60
width=29
height=14
layer=com_112
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 0

[com_108]
type=text
x=114
y=60
width=29
height=14
layer=com_112
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2152) > 0

[com_109]
type=text
x=190
y=60
width=29
height=14
layer=com_112
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2169) > 0

[com_110]
type=text
x=261
y=60
width=29
height=14
layer=com_112
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_111]
type=text
x=9
y=4
width=314
height=15
layer=com_112
textfont=p12_full
text=Toad Batta
textalignh=centre
textshadow=yes
colour=0xd6a046

[com_112]
type=layer
x=96
y=230
width=322
height=82
hide=yes

[com_113]
type=model
x=126
y=163
width=50
height=50
mouseoverlayer=com_121
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

[com_114]
type=model
x=76
y=34
width=32
height=32
layer=com_121
model=model_2431
modelangle=321,1885,0
modelzoom=656

[com_115]
type=model
x=142
y=23
width=32
height=32
layer=com_121
model=model_2519
modelangle=321,1885,0
modelzoom=1040

[com_116]
type=model
x=208
y=32
width=32
height=32
layer=com_121
model=model_2365
modelangle=228,1885,0
modelzoom=784

[com_117]
type=text
x=81
y=60
width=29
height=14
layer=com_121
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2169) > 0

[com_118]
type=text
x=147
y=60
width=29
height=14
layer=com_121
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2162) > 0

[com_119]
type=text
x=213
y=60
width=29
height=14
layer=com_121
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_120]
type=text
x=6
y=4
width=309
height=17
layer=com_121
textfont=p12_full
text=Worm Batta
textalignh=centre
textshadow=yes
colour=0xd6a03c

[com_121]
type=layer
x=100
y=230
width=323
height=83
hide=yes

[com_122]
type=model
x=230
y=163
width=50
height=50
mouseoverlayer=com_134
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

[com_123]
type=model
x=19
y=32
width=32
height=32
layer=com_134
model=model_2632
modelzoom=528

[com_124]
type=model
x=76
y=33
width=32
height=32
layer=com_134
model=null
modelzoom=528

[com_125]
type=model
x=138
y=29
width=32
height=32
layer=com_134
model=model_8195
modelangle=210,1852,0
modelzoom=1552

[com_126]
type=model
x=207
y=35
width=32
height=32
layer=com_134
model=model_2808
modelangle=114,1801,0
modelzoom=656

[com_127]
type=model
x=265
y=32
width=32
height=32
layer=com_134
model=model_2365
modelangle=228,1885,0
modelzoom=784

[com_128]
type=text
x=23
y=60
width=31
height=14
layer=com_134
textfont=p12_full
text=%1/2
textactive=%1/2
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1982) > 1

[com_129]
type=text
x=80
y=60
width=29
height=14
layer=com_134
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1957) > 0

[com_130]
type=text
x=142
y=60
width=29
height=14
layer=com_134
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1965) > 0

[com_131]
type=text
x=208
y=60
width=29
height=14
layer=com_134
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2126) > 0

[com_132]
type=text
x=270
y=60
width=29
height=14
layer=com_134
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_133]
type=text
x=4
y=4
width=312
height=16
layer=com_134
textfont=p12_full
text=Vegetable Batta
textalignh=centre
textshadow=yes
colour=0xd6a046

[com_134]
type=layer
x=101
y=229
width=318
height=83
hide=yes

[com_135]
type=model
x=342
y=164
width=50
height=50
mouseoverlayer=com_141
buttontype=1
model=null
modelangle=165,1894,0
modelzoom=400

[com_136]
type=model
x=105
y=32
width=32
height=32
layer=com_141
model=model_2632
modelangle=336,1891,0
modelzoom=528

[com_137]
type=model
x=176
y=32
width=32
height=32
layer=com_141
model=null
modelangle=228,1885,0
modelzoom=784

[com_138]
type=text
x=110
y=60
width=29
height=14
layer=com_141
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1982) > 0

[com_139]
type=text
x=181
y=60
width=29
height=14
layer=com_141
textfont=p12_full
text=%1/1
textactive=%1/1
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_140]
type=text
y=3
width=313
height=16
layer=com_141
textfont=p12_full
text=Cheese And Tomato Batta
textalignh=centre
textshadow=yes
colour=0xd6a046

[com_141]
type=layer
x=103
y=229
width=320
height=83
hide=yes

[com_142]
type=text
x=253
y=5
width=61
height=15
layer=com_101
textfont=p12_full
text=level 25
textactive=level 25
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 24

[com_143]
type=text
x=253
y=5
width=61
height=14
layer=com_112
textfont=p12_full
text=level 26
textactive=level 26
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff33
script=stat(cooking) > 25

[com_144]
type=text
x=253
y=5
width=61
height=14
layer=com_121
textfont=p12_full
text=level 27
textactive=level 27
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 26

[com_145]
type=text
x=253
y=5
width=61
height=14
layer=com_141
textfont=p12_full
text=level 29
textactive=level 29
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 28

[com_146]
type=text
x=253
y=5
width=61
height=14
layer=com_134
textfont=p12_full
text=level 28
textactive=level 28
textalignh=right
textshadow=yes
colour=0xff0000
colouractive=0x00ff00
script=stat(cooking) > 27

[com_147]
type=text
x=139
y=134
width=90
height=27
textfont=p12_full
text=Fruit Batta
textactive=Fruit Batta
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 3
script=inv_total(interface_149:com_0, obj_2116) > 0
script=inv_total(interface_149:com_0, obj_2110) > 0
script=inv_total(interface_149:com_0, obj_2122) > 0

[com_148]
type=text
x=264
y=133
width=90
height=27
textfont=p12_full
text=Toad Batta
textactive=Toad Batta
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2128) > 0
script=inv_total(interface_149:com_0, obj_2169) > 0
script=inv_total(interface_149:com_0, obj_2152) > 0
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_149]
type=text
x=104
y=202
width=90
height=26
textfont=p12_full
text=Worm Batta
textactive=Worm Batta
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_2162) > 0
script=inv_total(interface_149:com_0, obj_2169) > 0
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_150]
type=text
x=211
y=203
width=91
height=27
textfont=p12_full
text=Vegetable Batta
textactive=Vegetable Batta
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1982) > 1
script=inv_total(interface_149:com_0, obj_1957) > 0
script=inv_total(interface_149:com_0, obj_1965) > 0
script=inv_total(interface_149:com_0, obj_2126) > 0
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_151]
type=text
x=321
y=203
width=90
height=27
textfont=p12_full
text=Cheese & tomato Batta
textactive=Cheese & tomato Batta
textalignh=centre
textshadow=yes
colour=0xcc0000
colouractive=0x00ff00
script=inv_total(interface_149:com_0, obj_1982) > 0
script=inv_total(interface_149:com_0, obj_1985) > 0

[com_152]
type=graphic
x=471
y=25
width=26
height=23
mouseoverlayer=com_154
graphic="close_buttons,0"

[com_153]
type=graphic
x=4
y=5
width=26
height=23
layer=com_154
buttontype=3
graphic="close_buttons,1"

[com_154]
type=layer
x=467
y=20
width=32
height=32
hide=yes

