[com_4273]
type=layer
width=512
height=334

[com_4274]
type=layer
clientcode=503
x=3
y=20
width=168
height=204
layer=com_4273
scrollheight=400

[com_4275]
type=text
x=51
y=4
width=68
height=14
layer=com_4273
textfont=b12_full
text=Ignore list
textshadow=yes
colour=0xffff00

[com_4276]
type=graphic
clientcode=501
x=15
y=224
width=72
height=36
layer=com_4273
buttontype=1
graphic=combatboxes,0
buttontext=Add friend

[com_4277]
type=graphic
clientcode=502
x=95
y=224
width=72
height=36
layer=com_4273
buttontype=1
graphic=combatboxes,0
buttontext=Delete friend

[com_4278]
type=text
x=23
y=234
width=56
height=14
layer=com_4273
textfont=p12_full
text=Add Name
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_4279]
type=text
x=105
y=234
width=51
height=14
layer=com_4273
textfont=p12_full
text=Del Name
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_4280]
type=graphic
x=3
y=20
width=25
height=30
layer=com_4273
graphic=steelborder,0

[com_4281]
type=graphic
x=146
y=20
width=25
height=30
layer=com_4273
graphic=steelborder,1

[com_4282]
type=graphic
x=3
y=194
width=25
height=30
layer=com_4273
graphic=steelborder,2

[com_4283]
type=graphic
x=146
y=194
width=25
height=30
layer=com_4273
graphic=steelborder,3

[com_4284]
type=graphic
x=28
y=5
width=36
height=36
layer=com_4273
graphic=steelborder2,0

[com_4285]
type=graphic
x=64
y=5
width=36
height=36
layer=com_4273
graphic=steelborder2,0

[com_4286]
type=graphic
x=100
y=5
width=36
height=36
layer=com_4273
graphic=steelborder2,0

[com_4287]
type=graphic
x=112
y=5
width=36
height=36
layer=com_4273
graphic=steelborder2,0

[com_4288]
type=graphic
x=150
y=50
width=36
height=36
layer=com_4273
graphic=steelborder2,1

[com_4289]
type=graphic
x=150
y=86
width=36
height=36
layer=com_4273
graphic=steelborder2,1

[com_4290]
type=graphic
x=150
y=122
width=36
height=36
layer=com_4273
graphic=steelborder2,1

[com_4291]
type=graphic
x=150
y=158
width=36
height=36
layer=com_4273
graphic=steelborder2,1

[com_4292]
type=graphic
x=-12
y=50
width=36
height=36
layer=com_4273
graphic=miscgraphics,2

[com_4293]
type=graphic
x=-12
y=86
width=36
height=36
layer=com_4273
graphic=miscgraphics,2

[com_4294]
type=graphic
x=-12
y=122
width=36
height=36
layer=com_4273
graphic=miscgraphics,2

[com_4295]
type=graphic
x=-12
y=158
width=36
height=36
layer=com_4273
graphic=miscgraphics,2

[com_4296]
type=graphic
x=28
y=203
width=36
height=36
layer=com_4273
graphic=miscgraphics,3

[com_4297]
type=graphic
x=64
y=203
width=36
height=36
layer=com_4273
graphic=miscgraphics,3

[com_4298]
type=graphic
x=100
y=203
width=36
height=36
layer=com_4273
graphic=miscgraphics,3

[com_4299]
type=graphic
x=111
y=203
width=36
height=36
layer=com_4273
graphic=miscgraphics,3

[com_4300]
type=text
clientcode=401
x=7
y=8
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4301]
type=text
clientcode=402
x=7
y=23
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4302]
type=text
clientcode=403
x=7
y=38
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4303]
type=text
clientcode=404
x=7
y=53
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4304]
type=text
clientcode=405
x=7
y=68
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4305]
type=text
clientcode=406
x=7
y=83
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4306]
type=text
clientcode=407
x=7
y=98
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4307]
type=text
clientcode=408
x=7
y=113
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4308]
type=text
clientcode=409
x=7
y=128
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4309]
type=text
clientcode=410
x=7
y=143
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4310]
type=text
clientcode=411
x=7
y=158
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4311]
type=text
clientcode=412
x=7
y=173
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4312]
type=text
clientcode=413
x=7
y=188
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4313]
type=text
clientcode=414
x=7
y=203
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4314]
type=text
clientcode=415
x=7
y=218
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4315]
type=text
clientcode=416
x=7
y=233
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4316]
type=text
clientcode=417
x=7
y=248
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4317]
type=text
clientcode=418
x=7
y=263
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4318]
type=text
clientcode=419
x=7
y=278
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4319]
type=text
clientcode=420
x=7
y=293
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4320]
type=text
clientcode=421
x=7
y=308
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4321]
type=text
clientcode=422
x=7
y=323
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4322]
type=text
clientcode=423
x=7
y=338
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4323]
type=text
clientcode=424
x=7
y=353
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4324]
type=text
clientcode=425
x=7
y=368
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4325]
type=text
clientcode=426
x=7
y=383
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4326]
type=text
clientcode=427
x=7
y=398
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4327]
type=text
clientcode=428
x=7
y=413
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4328]
type=text
clientcode=429
x=7
y=428
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4329]
type=text
clientcode=430
x=7
y=443
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4330]
type=text
clientcode=431
x=7
y=458
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4331]
type=text
clientcode=432
x=7
y=473
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4332]
type=text
clientcode=433
x=7
y=488
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4333]
type=text
clientcode=434
x=7
y=503
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4334]
type=text
clientcode=435
x=7
y=518
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4335]
type=text
clientcode=436
x=7
y=533
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4336]
type=text
clientcode=437
x=7
y=548
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4337]
type=text
clientcode=438
x=7
y=563
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4338]
type=text
clientcode=439
x=7
y=578
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4339]
type=text
clientcode=440
x=7
y=593
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4340]
type=text
clientcode=441
x=7
y=608
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4341]
type=text
clientcode=442
x=7
y=623
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4342]
type=text
clientcode=443
x=7
y=638
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4343]
type=text
clientcode=444
x=7
y=653
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4344]
type=text
clientcode=445
x=7
y=668
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4345]
type=text
clientcode=446
x=7
y=683
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4346]
type=text
clientcode=447
x=7
y=698
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4347]
type=text
clientcode=448
x=7
y=713
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4348]
type=text
clientcode=449
x=7
y=728
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4349]
type=text
clientcode=450
x=7
y=743
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4350]
type=text
clientcode=451
x=7
y=758
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4351]
type=text
clientcode=452
x=7
y=773
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4352]
type=text
clientcode=453
x=7
y=788
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4353]
type=text
clientcode=454
x=7
y=803
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4354]
type=text
clientcode=455
x=7
y=818
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4355]
type=text
clientcode=456
x=7
y=833
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4356]
type=text
clientcode=457
x=7
y=848
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4357]
type=text
clientcode=458
x=7
y=863
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4358]
type=text
clientcode=459
x=7
y=878
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4359]
type=text
clientcode=460
x=7
y=893
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4360]
type=text
clientcode=461
x=7
y=908
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4361]
type=text
clientcode=462
x=7
y=923
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4362]
type=text
clientcode=463
x=7
y=938
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4363]
type=text
clientcode=464
x=7
y=953
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4364]
type=text
clientcode=465
x=7
y=968
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4365]
type=text
clientcode=466
x=7
y=983
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4366]
type=text
clientcode=467
x=7
y=998
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4367]
type=text
clientcode=468
x=7
y=1013
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4368]
type=text
clientcode=469
x=7
y=1028
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4369]
type=text
clientcode=470
x=7
y=1043
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4370]
type=text
clientcode=471
x=7
y=1058
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4371]
type=text
clientcode=472
x=7
y=1073
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4372]
type=text
clientcode=473
x=7
y=1088
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4373]
type=text
clientcode=474
x=7
y=1103
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4374]
type=text
clientcode=475
x=7
y=1118
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4375]
type=text
clientcode=476
x=7
y=1133
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4376]
type=text
clientcode=477
x=7
y=1148
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4377]
type=text
clientcode=478
x=7
y=1163
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4378]
type=text
clientcode=479
x=7
y=1178
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4379]
type=text
clientcode=480
x=7
y=1193
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4380]
type=text
clientcode=481
x=7
y=1208
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4381]
type=text
clientcode=482
x=7
y=1223
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4382]
type=text
clientcode=483
x=7
y=1238
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4383]
type=text
clientcode=484
x=7
y=1253
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4384]
type=text
clientcode=485
x=7
y=1268
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4385]
type=text
clientcode=486
x=7
y=1283
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4386]
type=text
clientcode=487
x=7
y=1298
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4387]
type=text
clientcode=488
x=7
y=1313
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4388]
type=text
clientcode=489
x=7
y=1328
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4389]
type=text
clientcode=490
x=7
y=1343
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4390]
type=text
clientcode=491
x=7
y=1358
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4391]
type=text
clientcode=492
x=7
y=1373
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4392]
type=text
clientcode=493
x=7
y=1388
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4393]
type=text
clientcode=494
x=7
y=1403
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4394]
type=text
clientcode=495
x=7
y=1418
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4395]
type=text
clientcode=496
x=7
y=1433
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4396]
type=text
clientcode=497
x=7
y=1448
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4397]
type=text
clientcode=498
x=7
y=1463
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4398]
type=text
clientcode=499
x=7
y=1478
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

[com_4399]
type=text
clientcode=500
x=7
y=1493
width=153
height=14
layer=com_4274
textfont=p12_full
textshadow=yes

