[com_6299]
type=layer
width=512
height=334

[com_6300]
type=text
x=8
y=45
width=180
height=14
layer=com_6299
textfont=p12_full
text=To reduce memory requirements
textshadow=yes
colour=0xffff00

[com_6301]
type=text
x=24
y=60
width=136
height=14
layer=com_6299
textfont=p12_full
text=Music + sounds are only
textshadow=yes
colour=0xffff00

[com_6302]
type=text
x=18
y=75
width=151
height=14
layer=com_6299
textfont=p12_full
text=available in the high-detail
textshadow=yes
colour=0xffff00

[com_6303]
type=text
x=21
y=145
width=140
height=14
layer=com_6299
textfont=p12_full
text=If you wish to hear these
textshadow=yes
colour=0xffff00

[com_6304]
type=text
x=7
y=160
width=170
height=14
layer=com_6299
textfont=p12_full
text=please switch version, but bear
textshadow=yes
colour=0xffff00

[com_6305]
type=text
x=15
y=175
width=150
height=14
layer=com_6299
textfont=p12_full
text=in mind things will run more
textshadow=yes
colour=0xffff00

[com_6306]
type=text
x=43
y=190
width=101
height=14
layer=com_6299
textfont=p12_full
text=slowly as a result.
textshadow=yes
colour=0xffff00

[com_6307]
type=text
x=33
y=90
width=117
height=14
layer=com_6299
textfont=p12_full
text=version of the game.
textshadow=yes
colour=0xffff00

