[com_3594]
type=layer
width=512
height=334

[com_3595]
type=graphic
x=2
y=5
width=57
height=13
layer=com_3594
graphic=sworddecor,1

[com_3596]
type=graphic
x=421
y=5
width=57
height=13
layer=com_3594
graphic=sworddecor,0

[com_3597]
type=model
x=56
y=13
width=64
height=96
layer=com_3594
buttontype=1
model=null
modelzoom=400

[com_3598]
type=model
x=207
y=13
width=64
height=96
layer=com_3594
buttontype=1
model=null
modelzoom=400

[com_3599]
type=model
x=360
y=13
width=64
height=96
layer=com_3594
buttontype=1
model=null
modelzoom=400

[com_3600]
type=text
x=12
y=76
width=152
height=17
layer=com_3594
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3601]
type=text
x=164
y=76
width=152
height=17
layer=com_3594
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3602]
type=text
x=316
y=76
width=152
height=17
layer=com_3594
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3603]
type=text
x=8
y=3
width=464
height=17
layer=com_3594
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

