[com_6412]
type=layer
width=512
height=334

[com_6413]
type=graphic
x=12
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6414]
type=graphic
x=12
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6415]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6416]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6417]
type=graphic
x=12
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6418]
type=graphic
x=100
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6419]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6420]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6421]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6422]
type=graphic
x=188
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6423]
type=graphic
x=100
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6424]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6425]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6426]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6427]
type=graphic
x=188
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6428]
type=graphic
x=276
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6429]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6430]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6431]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6432]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6433]
type=graphic
x=276
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6434]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6435]
type=graphic
x=364
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6436]
type=graphic
x=364
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6437]
type=graphic
x=364
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6438]
type=graphic
x=412
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6439]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6440]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6441]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6442]
type=graphic
x=412
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6443]
type=graphic
x=12
y=20
width=25
height=30
layer=com_6412
graphic=steelborder,0

[com_6444]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6445]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6446]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6447]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6448]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6449]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6450]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6451]
type=graphic
x=479
y=50
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6452]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6453]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6454]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6455]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6456]
type=graphic
x=479
y=230
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6457]
type=graphic
x=479
y=266
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6458]
type=graphic
x=73
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6459]
type=graphic
x=109
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6460]
type=graphic
x=145
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6461]
type=graphic
x=217
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6462]
type=graphic
x=253
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6463]
type=graphic
x=289
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6464]
type=graphic
x=361
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6465]
type=graphic
x=397
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6466]
type=graphic
x=433
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6467]
type=graphic
x=72
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6468]
type=graphic
x=108
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6469]
type=graphic
x=144
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6470]
type=graphic
x=180
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6471]
type=graphic
x=216
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6472]
type=graphic
x=252
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6473]
type=rectangle
x=260
y=281
width=234
height=33
layer=com_6412
colour=0x000000
fill=yes

[com_6474]
type=graphic
x=288
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6475]
type=graphic
x=324
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6476]
type=graphic
x=360
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6477]
type=graphic
x=396
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6478]
type=graphic
x=432
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6479]
type=graphic
x=37
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6480]
type=graphic
x=37
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6481]
type=graphic
x=12
y=290
width=25
height=30
layer=com_6412
graphic=steelborder,2

[com_6482]
type=graphic
x=475
y=20
width=25
height=30
layer=com_6412
graphic=steelborder,1

[com_6483]
type=graphic
x=439
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6484]
type=graphic
x=475
y=290
width=25
height=30
layer=com_6412
graphic=steelborder,3

[com_6485]
type=graphic
x=439
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6486]
type=graphic
x=288
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6487]
type=graphic
x=324
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6488]
type=graphic
x=396
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6489]
type=graphic
x=252
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6490]
type=graphic
x=432
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6491]
type=graphic
x=458
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6492]
type=graphic
x=216
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6493]
type=graphic
x=180
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6494]
type=graphic
x=144
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6495]
type=graphic
x=108
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6496]
type=graphic
x=72
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6497]
type=graphic
x=181
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6498]
type=graphic
x=47
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6499]
type=graphic
x=360
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_8232]
type=graphic
x=18
y=31
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6500]
type=layer
x=20
y=52
width=218
height=128
layer=com_6412
scrollheight=188

[com_6501]
type=layer
x=20
y=186
width=218
height=128
layer=com_6412
scrollheight=188

[com_6502]
type=invtext
x=109
y=28
width=1
height=10
layer=com_6501
textalignh=centre
textfont=p11_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6504]
type=text
x=42
y=2
width=132
height=14
layer=com_6500
textfont=p12_full
text=You are about to stake:
textshadow=yes
colour=0xaa8822

[com_8233]
type=text
x=37
y=1
width=140
height=14
layer=com_6501
textfont=p12_full
text=Your opponent will stake:
textalignh=centre
textshadow=yes
colour=0xaa8822

[com_6505]
type=text
x=139
y=27
width=232
height=14
layer=com_6412
textfont=p12_full
text=Are you sure you want to fight this duel?
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_6507]
type=invtext
x=50
y=29
width=2
height=14
layer=com_6500
textalignh=centre
textfont=p11_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6508]
type=invtext
x=47
y=28
width=2
height=14
layer=com_6501
textalignh=centre
textfont=p11_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6509]
type=invtext
x=109
y=29
width=1
height=10
layer=com_6500
textalignh=centre
textfont=p11_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6510]
type=text
x=425
y=29
width=68
height=11
layer=com_6412
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6511]
type=graphic
x=325
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6512]
type=graphic
x=239
y=88
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6513]
type=graphic
x=239
y=52
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6514]
type=graphic
x=239
y=141
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6515]
type=graphic
x=239
y=124
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6516]
type=text
x=60
y=20
width=96
height=11
layer=com_6500
textfont=p11_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6517]
type=text
x=57
y=19
width=96
height=11
layer=com_6501
textfont=p11_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8234]
type=graphic
x=260
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_8235]
type=graphic
x=296
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_8236]
type=graphic
x=332
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6521]
type=graphic
x=368
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_8237]
type=graphic
x=404
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6523]
type=graphic
x=440
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6524]
type=graphic
x=458
y=260
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6525]
type=graphic
x=18
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6526]
type=graphic
x=54
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6527]
type=text
x=265
y=55
width=115
height=11
layer=com_6412
textfont=p11_full
text=Before the duel starts:
textshadow=yes
colour=0xaa8822

[com_6528]
type=graphic
x=239
y=177
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6529]
type=graphic
x=239
y=213
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6530]
type=graphic
x=239
y=248
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6531]
type=graphic
x=239
y=278
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_8238]
type=text
x=270
y=80
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8239]
type=text
x=270
y=92
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_6534]
type=text
x=310
y=282
width=39
height=14
layer=com_6412
textfont=p12_full
text=Accept
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_6535]
type=graphic
x=90
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6536]
type=graphic
x=126
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6537]
type=graphic
x=162
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6538]
type=graphic
x=198
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6539]
type=graphic
x=217
y=166
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_8240]
type=text
x=270
y=104
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8241]
type=text
x=270
y=116
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_6542]
type=text
x=265
y=129
width=79
height=11
layer=com_6412
textfont=p11_full
text=During the duel:
textshadow=yes
colour=0xaa8822

[com_8242]
type=text
x=270
y=142
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8243]
type=text
x=270
y=154
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8244]
type=text
x=270
y=166
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8245]
type=text
x=270
y=178
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_6571]
type=text
x=310
y=300
width=130
height=11
layer=com_6412
textfont=p11_full
text=Waiting for other player...
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8246]
type=text
x=270
y=190
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8247]
type=text
x=270
y=202
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8248]
type=text
x=270
y=214
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8249]
type=text
x=270
y=226
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8250]
type=text
x=270
y=68
width=92
height=11
layer=com_6412
textfont=p11_full
text=Lots of y's and g's
textshadow=yes
colour=0xaaaaaa

[com_8251]
type=text
x=270
y=238
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8252]
type=text
x=270
y=250
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_8253]
type=text
x=270
y=262
width=179
height=11
layer=com_6412
textfont=p11_full
text=There will be obstacles in the arena.
textshadow=yes
colour=0xaaaaaa

[com_6556]
type=text
x=400
y=282
width=40
height=14
layer=com_6412
textfont=p12_full
text=Decline
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_6520]
type=rectangle
x=292
y=281
width=75
height=18
layer=com_6412
buttontype=1
colour=0x000000
buttontext=Accept stake and duel options

[com_6558]
type=rectangle
x=383
y=281
width=75
height=18
layer=com_6412
buttontype=3
colour=0x000000

