[com_18293]
type=layer
width=512
height=334

[com_18294]
type=model
x=40
y=26
width=32
height=32
layer=com_18293
model=null
modelangle=40,1882,0
modelzoom=400

[com_18295]
type=text
x=111
y=25
width=350
height=17
layer=com_18293
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_18296]
type=text
x=111
y=9
width=350
height=17
layer=com_18293
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_18297]
type=text
x=111
y=41
width=350
height=17
layer=com_18293
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_18298]
type=text
x=111
y=57
width=350
height=17
layer=com_18293
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

