[com_14378]
type=layer
width=512
height=334

[com_14379]
type=rectangle
width=512
height=334
layer=com_14378
colour=0x0f622c0c
fill=yes

[com_14380]
type=rectangle
y=144
width=512
height=20
layer=com_14378
colour=0x00000f
fill=yes

[com_14381]
type=rectangle
x=138
y=30
width=232
height=236
layer=com_14378
colour=0x0f303030
fill=yes

[com_14382]
type=rectangle
x=144
y=37
width=220
height=222
layer=com_14378
colour=0x0f585858
fill=yes

[com_14383]
type=rectangle
x=155
y=48
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14384]
type=rectangle
x=259
y=48
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14385]
type=rectangle
x=207
y=48
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14386]
type=rectangle
x=154
y=99
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14387]
type=rectangle
x=311
y=48
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14388]
type=rectangle
x=206
y=100
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14389]
type=rectangle
x=258
y=100
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14390]
type=rectangle
x=310
y=100
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14391]
type=rectangle
x=155
y=152
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14392]
type=rectangle
x=206
y=151
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14393]
type=rectangle
x=259
y=151
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14394]
type=rectangle
x=310
y=152
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14395]
type=rectangle
x=154
y=204
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14396]
type=rectangle
x=206
y=204
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14397]
type=rectangle
x=259
y=203
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14398]
type=rectangle
x=311
y=203
width=43
height=43
layer=com_14378
colour=0x0f303030
fill=yes

[com_14399]
type=rectangle
x=160
y=53
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14400]
type=rectangle
x=212
y=53
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14401]
type=rectangle
x=264
y=53
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14402]
type=rectangle
x=316
y=53
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14403]
type=rectangle
x=159
y=105
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14404]
type=rectangle
x=211
y=105
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14405]
type=rectangle
x=263
y=105
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14406]
type=rectangle
x=315
y=105
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14407]
type=rectangle
x=160
y=157
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14408]
type=rectangle
x=211
y=157
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14409]
type=rectangle
x=264
y=157
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14410]
type=rectangle
x=315
y=157
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14411]
type=rectangle
x=159
y=209
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14412]
type=rectangle
x=211
y=209
width=33
height=32
layer=com_14378
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_14413]
type=rectangle
x=264
y=209
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14414]
type=rectangle
x=316
y=209
width=33
height=32
layer=com_14378
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_14415]
type=rectangle
x=280
y=295
width=89
height=31
layer=com_14378
colour=0x202020
fill=yes

[com_14416]
type=rectangle
x=391
y=67
width=113
height=174
layer=com_14378
colour=0x0f303030
fill=yes

[com_14417]
type=rectangle
x=402
y=79
width=93
height=149
layer=com_14378
colour=0x0f585858
fill=yes

[com_14418]
type=rectangle
x=9
y=63
width=113
height=174
layer=com_14378
colour=0x0f303030
fill=yes

[com_14419]
type=rectangle
x=19
y=76
width=93
height=149
layer=com_14378
colour=0x0f585858
fill=yes

[com_14420]
type=text
x=289
y=302
width=69
height=14
layer=com_14378
buttontype=1
textfont=p12_full
text=open casket
textshadow=yes
colour=0xffff00

[com_14421]
type=text
x=430
y=13
width=71
height=14
layer=com_14378
buttontype=1
textfont=p12_full
text=close window
textshadow=yes
colour=0xffff00

[com_14422]
type=layer
x=7
y=283
width=42
height=42
layer=com_14378

[com_14423]
type=model
x=5
y=5
width=32
height=32
layer=com_14422
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_14424]
type=model
x=5
y=5
width=32
height=32
layer=com_14422
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_14425]
type=layer
x=64
y=283
width=42
height=42
layer=com_14378

[com_14426]
type=model
x=5
y=5
width=32
height=32
layer=com_14425
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_14427]
type=model
x=5
y=5
width=32
height=32
layer=com_14425
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_14428]
type=layer
x=117
y=283
width=42
height=42
layer=com_14378

[com_14429]
type=model
x=5
y=5
width=32
height=32
layer=com_14428
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_14430]
type=model
x=5
y=5
width=32
height=32
layer=com_14428
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_14431]
type=layer
x=171
y=282
width=42
height=42
layer=com_14378

[com_14432]
type=model
x=5
y=5
width=32
height=32
layer=com_14431
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_14433]
type=model
x=5
y=5
width=32
height=32
layer=com_14431
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_14434]
type=layer
x=226
y=282
width=42
height=42
layer=com_14378

[com_14435]
type=model
x=5
y=5
width=32
height=32
layer=com_14434
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_14436]
type=model
x=5
y=5
width=32
height=32
layer=com_14434
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_14437]
type=model
x=11
y=289
width=32
height=32
layer=com_14378
buttontype=1
model=model_8979
modelangle=500,1050,0
modelzoom=600

[com_14438]
type=model
x=68
y=288
width=32
height=32
layer=com_14378
buttontype=1
model=model_8987
modelangle=500,1050,0
modelzoom=600

[com_14439]
type=model
x=121
y=289
width=32
height=32
layer=com_14378
buttontype=1
model=model_8975
modelangle=500,1050,0
modelzoom=600

[com_14440]
type=model
x=176
y=288
width=32
height=32
layer=com_14378
buttontype=1
model=model_8980
modelangle=500,1050,0
modelzoom=600

[com_14441]
type=model
x=230
y=287
width=32
height=32
layer=com_14378
buttontype=1
model=model_8985
modelangle=500,1050,0
modelzoom=652

[com_14442]
type=inv
x=159
y=53
width=4
height=4
layer=com_14378
paddingx=20
paddingy=20

