[com_11462]
type=layer
width=512
height=334

[com_11463]
type=graphic
x=2
y=5
width=57
height=13
layer=com_11462
graphic=sworddecor,1

[com_11464]
type=graphic
x=421
y=5
width=57
height=13
layer=com_11462
graphic=sworddecor,0

[com_11465]
type=model
x=7
y=23
width=70
height=92
layer=com_11462
model=model_2747
modelangle=116,1942,0
modelzoom=346

[com_11466]
type=model
x=87
y=-1
width=64
height=96
layer=com_11462
model=model_2428
modelangle=707,868,0
modelzoom=293

[com_11467]
type=model
x=163
y=21
width=64
height=96
layer=com_11462
model=model_2548
modelangle=147,40,0
modelzoom=347

[com_11468]
type=model
x=246
y=14
width=64
height=96
layer=com_11462
model=model_5745
modelangle=53,1965,0
modelzoom=959

[com_11469]
type=model
x=330
y=10
width=64
height=96
layer=com_11462
model=model_5754
modelangle=197,1921,0
modelzoom=1167

[com_11470]
type=model
x=411
y=-1
width=64
height=96
layer=com_11462
model=model_5740
modelangle=443,2024,0
modelzoom=608

[com_11471]
type=text
x=1
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_11472]
type=text
x=1
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_11473]
type=text
x=1
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_11474]
type=text
x=1
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nVial
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_11475]
type=text
x=81
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12394]
type=text
x=81
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12395]
type=text
x=81
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12396]
type=text
x=81
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nOrb
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12397]
type=text
x=161
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12398]
type=text
x=161
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12399]
type=text
x=161
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12400]
type=text
x=161
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nBeer Glass
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12401]
type=text
x=241
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12402]
type=text
x=241
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12403]
type=text
x=241
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12404]
type=text
x=241
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\nCandle\nLantern
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12405]
type=text
x=321
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12406]
type=text
x=321
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12407]
type=text
x=321
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12408]
type=text
x=321
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\nOil\nLamp
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12409]
type=text
x=401
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12410]
type=text
x=401
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12411]
type=text
x=401
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12412]
type=text
x=401
y=16
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\nLantern\nLens
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12413]
type=text
x=8
y=3
width=464
height=17
layer=com_11462
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

