[com_0]
type=model
x=295
y=279
width=32
height=32
model=model_7619
modelangle=139,144,0
modelzoom=288

[com_1]
type=model
x=310
y=115
width=32
height=32
model=model_7632
modelangle=80,650,0
modelzoom=500

[com_2]
type=model
x=400
y=135
width=32
height=32
model=model_7632
modelangle=89,650,0
modelzoom=500

[com_3]
type=model
x=310
y=115
width=32
height=32
model=model_7628
modelangle=80,650,0
modelzoom=500

[com_4]
type=model
x=310
y=115
width=32
height=32
model=model_7634
modelangle=80,650,0
modelzoom=500

[com_5]
type=model
x=352
y=149
width=32
height=32
model=model_7634
modelangle=87,714,0
modelzoom=325

[com_6]
type=model
x=209
y=158
width=32
height=32
model=model_7634
modelangle=148,644,0
modelzoom=566

[com_7]
type=model
x=310
y=115
width=32
height=32
model=model_7637
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2236

[com_8]
type=model
x=310
y=115
width=32
height=32
model=model_7635
modelangle=80,650,0
modelzoom=500
modelanim=seq_2235

[com_9]
type=model
x=310
y=115
width=32
height=32
layer=com_37
model=model_7631
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_10]
type=model
x=310
y=115
width=32
height=32
layer=com_38
model=model_7648
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_11]
type=model
x=310
y=115
width=32
height=32
layer=com_39
model=model_7649
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_12]
type=model
x=310
y=115
width=32
height=32
layer=com_40
model=model_7650
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_13]
type=model
x=310
y=115
width=32
height=32
layer=com_41
model=model_7651
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_14]
type=model
x=310
y=115
width=32
height=32
layer=com_42
model=model_7652
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_15]
type=model
x=310
y=115
width=32
height=32
layer=com_31
model=model_7633
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_16]
type=model
x=310
y=115
width=32
height=32
layer=com_32
model=model_7642
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_17]
type=model
x=310
y=115
width=32
height=32
layer=com_33
model=model_7643
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_18]
type=model
x=310
y=115
width=32
height=32
layer=com_34
model=model_7644
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_19]
type=model
x=310
y=115
width=32
height=32
layer=com_35
model=model_7645
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_20]
type=model
x=310
y=115
width=32
height=32
layer=com_36
model=model_7646
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_21]
type=model
x=310
y=115
width=32
height=32
model=model_7629
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2232

[com_22]
type=model
x=310
y=115
width=32
height=32
model=model_7640
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2238

[com_23]
type=model
x=310
y=115
width=32
height=32
model=model_7638
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2237

[com_24]
type=model
x=310
y=115
width=32
height=32
model=model_7626
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2230

[com_25]
type=model
x=310
y=115
width=32
height=32
layer=com_43
model=model_7627
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_26]
type=model
x=310
y=115
width=32
height=32
layer=com_44
model=model_7654
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_27]
type=model
x=310
y=115
width=32
height=32
layer=com_45
model=model_7655
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_28]
type=model
x=310
y=115
width=32
height=32
layer=com_46
model=model_7656
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_29]
type=model
x=310
y=115
width=32
height=32
layer=com_47
model=model_7657
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_30]
type=model
x=310
y=115
width=32
height=32
layer=com_48
model=model_7658
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_31]
type=layer
width=512
height=320
hide=yes

[com_32]
type=layer
width=512
height=320
hide=yes

[com_33]
type=layer
width=512
height=320
hide=yes

[com_34]
type=layer
width=512
height=320
hide=yes

[com_35]
type=layer
width=512
height=320
hide=yes

[com_36]
type=layer
width=512
height=320
hide=yes

[com_37]
type=layer
width=512
height=320
hide=yes

[com_38]
type=layer
width=512
height=320
hide=yes

[com_39]
type=layer
width=512
height=320
hide=yes

[com_40]
type=layer
width=512
height=320
hide=yes

[com_41]
type=layer
width=512
height=320
hide=yes

[com_42]
type=layer
width=512
height=320
hide=yes

[com_43]
type=layer
width=512
height=320
hide=yes

[com_44]
type=layer
width=512
height=320
hide=yes

[com_45]
type=layer
width=512
height=320
hide=yes

[com_46]
type=layer
width=512
height=320
hide=yes

[com_47]
type=layer
width=512
height=320
hide=yes

[com_48]
type=layer
width=512
height=320
hide=yes

[com_49]
type=rectangle
x=98
y=160
width=120
height=80
buttontype=1
colour=0xffff00
buttontext=Place a gear here!

[com_50]
type=rectangle
x=351
y=125
width=120
height=120
buttontype=1
colour=0xffff00
buttontext=Place a gear here!

[com_51]
type=rectangle
x=135
y=39
width=120
height=120
buttontype=1
colour=0xffff00
buttontext=Place a gear here!

[com_52]
type=graphic
x=483
y=6
width=26
height=23
mouseoverlayer=com_54
graphic="close_buttons,4"

[com_53]
type=graphic
x=4
y=4
width=26
height=23
layer=com_54
buttontype=3
graphic="close_buttons,5"

[com_54]
type=layer
x=479
y=2
width=32
height=32
hide=yes

