[com_5715]
type=layer
width=512
height=334

[com_5716]
type=layer
clientcode=503
x=3
y=20
width=168
height=204
layer=com_5715
scrollheight=400

[com_5717]
type=text
x=51
y=4
width=68
height=14
layer=com_5715
textfont=b12_full
text=Ignore list
textshadow=yes
colour=0xffff00

[com_5718]
type=graphic
clientcode=501
x=15
y=224
width=72
height=36
layer=com_5715
buttontype=1
graphic=combatboxes,0
buttontext=Add name

[com_5719]
type=graphic
clientcode=502
x=95
y=224
width=72
height=36
layer=com_5715
buttontype=1
graphic=combatboxes,0
buttontext=Delete name

[com_5720]
type=text
x=23
y=234
width=56
height=14
layer=com_5715
textfont=p12_full
text=Add Name
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_5721]
type=text
x=105
y=234
width=51
height=14
layer=com_5715
textfont=p12_full
text=Del Name
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_5722]
type=graphic
x=3
y=20
width=25
height=30
layer=com_5715
graphic=steelborder,0

[com_5723]
type=graphic
x=146
y=20
width=25
height=30
layer=com_5715
graphic=steelborder,1

[com_5724]
type=graphic
x=3
y=194
width=25
height=30
layer=com_5715
graphic=steelborder,2

[com_5725]
type=graphic
x=146
y=194
width=25
height=30
layer=com_5715
graphic=steelborder,3

[com_5726]
type=graphic
x=28
y=5
width=36
height=36
layer=com_5715
graphic=steelborder2,0

[com_5727]
type=graphic
x=64
y=5
width=36
height=36
layer=com_5715
graphic=steelborder2,0

[com_5728]
type=graphic
x=100
y=5
width=36
height=36
layer=com_5715
graphic=steelborder2,0

[com_5729]
type=graphic
x=112
y=5
width=36
height=36
layer=com_5715
graphic=steelborder2,0

[com_5730]
type=graphic
x=150
y=50
width=36
height=36
layer=com_5715
graphic=steelborder2,1

[com_5731]
type=graphic
x=150
y=86
width=36
height=36
layer=com_5715
graphic=steelborder2,1

[com_5732]
type=graphic
x=150
y=122
width=36
height=36
layer=com_5715
graphic=steelborder2,1

[com_5733]
type=graphic
x=150
y=158
width=36
height=36
layer=com_5715
graphic=steelborder2,1

[com_5734]
type=graphic
x=-12
y=50
width=36
height=36
layer=com_5715
graphic=miscgraphics,2

[com_5735]
type=graphic
x=-12
y=86
width=36
height=36
layer=com_5715
graphic=miscgraphics,2

[com_5736]
type=graphic
x=-12
y=122
width=36
height=36
layer=com_5715
graphic=miscgraphics,2

[com_5737]
type=graphic
x=-12
y=158
width=36
height=36
layer=com_5715
graphic=miscgraphics,2

[com_5738]
type=graphic
x=28
y=203
width=36
height=36
layer=com_5715
graphic=miscgraphics,3

[com_5739]
type=graphic
x=64
y=203
width=36
height=36
layer=com_5715
graphic=miscgraphics,3

[com_5740]
type=graphic
x=100
y=203
width=36
height=36
layer=com_5715
graphic=miscgraphics,3

[com_5741]
type=graphic
x=111
y=203
width=36
height=36
layer=com_5715
graphic=miscgraphics,3

[com_5742]
type=text
clientcode=401
x=7
y=8
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5743]
type=text
clientcode=402
x=7
y=23
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5744]
type=text
clientcode=403
x=7
y=38
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5745]
type=text
clientcode=404
x=7
y=53
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5746]
type=text
clientcode=405
x=7
y=68
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5747]
type=text
clientcode=406
x=7
y=83
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5748]
type=text
clientcode=407
x=7
y=98
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5749]
type=text
clientcode=408
x=7
y=113
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5750]
type=text
clientcode=409
x=7
y=128
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5751]
type=text
clientcode=410
x=7
y=143
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5752]
type=text
clientcode=411
x=7
y=158
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5753]
type=text
clientcode=412
x=7
y=173
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5754]
type=text
clientcode=413
x=7
y=188
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5755]
type=text
clientcode=414
x=7
y=203
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5756]
type=text
clientcode=415
x=7
y=218
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5757]
type=text
clientcode=416
x=7
y=233
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5758]
type=text
clientcode=417
x=7
y=248
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5759]
type=text
clientcode=418
x=7
y=263
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5760]
type=text
clientcode=419
x=7
y=278
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5761]
type=text
clientcode=420
x=7
y=293
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5762]
type=text
clientcode=421
x=7
y=308
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5763]
type=text
clientcode=422
x=7
y=323
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5764]
type=text
clientcode=423
x=7
y=338
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5765]
type=text
clientcode=424
x=7
y=353
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5766]
type=text
clientcode=425
x=7
y=368
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5767]
type=text
clientcode=426
x=7
y=383
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5768]
type=text
clientcode=427
x=7
y=398
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5769]
type=text
clientcode=428
x=7
y=413
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5770]
type=text
clientcode=429
x=7
y=428
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5771]
type=text
clientcode=430
x=7
y=443
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5772]
type=text
clientcode=431
x=7
y=458
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5773]
type=text
clientcode=432
x=7
y=473
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5774]
type=text
clientcode=433
x=7
y=488
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5775]
type=text
clientcode=434
x=7
y=503
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5776]
type=text
clientcode=435
x=7
y=518
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5777]
type=text
clientcode=436
x=7
y=533
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5778]
type=text
clientcode=437
x=7
y=548
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5779]
type=text
clientcode=438
x=7
y=563
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5780]
type=text
clientcode=439
x=7
y=578
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5781]
type=text
clientcode=440
x=7
y=593
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5782]
type=text
clientcode=441
x=7
y=608
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5783]
type=text
clientcode=442
x=7
y=623
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5784]
type=text
clientcode=443
x=7
y=638
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5785]
type=text
clientcode=444
x=7
y=653
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5786]
type=text
clientcode=445
x=7
y=668
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5787]
type=text
clientcode=446
x=7
y=683
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5788]
type=text
clientcode=447
x=7
y=698
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5789]
type=text
clientcode=448
x=7
y=713
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5790]
type=text
clientcode=449
x=7
y=728
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5791]
type=text
clientcode=450
x=7
y=743
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5792]
type=text
clientcode=451
x=7
y=758
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5793]
type=text
clientcode=452
x=7
y=773
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5794]
type=text
clientcode=453
x=7
y=788
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5795]
type=text
clientcode=454
x=7
y=803
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5796]
type=text
clientcode=455
x=7
y=818
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5797]
type=text
clientcode=456
x=7
y=833
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5798]
type=text
clientcode=457
x=7
y=848
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5799]
type=text
clientcode=458
x=7
y=863
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5800]
type=text
clientcode=459
x=7
y=878
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5801]
type=text
clientcode=460
x=7
y=893
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5802]
type=text
clientcode=461
x=7
y=908
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5803]
type=text
clientcode=462
x=7
y=923
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5804]
type=text
clientcode=463
x=7
y=938
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5805]
type=text
clientcode=464
x=7
y=953
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5806]
type=text
clientcode=465
x=7
y=968
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5807]
type=text
clientcode=466
x=7
y=983
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5808]
type=text
clientcode=467
x=7
y=998
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5809]
type=text
clientcode=468
x=7
y=1013
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5810]
type=text
clientcode=469
x=7
y=1028
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5811]
type=text
clientcode=470
x=7
y=1043
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5812]
type=text
clientcode=471
x=7
y=1058
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5813]
type=text
clientcode=472
x=7
y=1073
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5814]
type=text
clientcode=473
x=7
y=1088
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5815]
type=text
clientcode=474
x=7
y=1103
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5816]
type=text
clientcode=475
x=7
y=1118
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5817]
type=text
clientcode=476
x=7
y=1133
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5818]
type=text
clientcode=477
x=7
y=1148
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5819]
type=text
clientcode=478
x=7
y=1163
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5820]
type=text
clientcode=479
x=7
y=1178
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5821]
type=text
clientcode=480
x=7
y=1193
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5822]
type=text
clientcode=481
x=7
y=1208
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5823]
type=text
clientcode=482
x=7
y=1223
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5824]
type=text
clientcode=483
x=7
y=1238
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5825]
type=text
clientcode=484
x=7
y=1253
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5826]
type=text
clientcode=485
x=7
y=1268
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5827]
type=text
clientcode=486
x=7
y=1283
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5828]
type=text
clientcode=487
x=7
y=1298
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5829]
type=text
clientcode=488
x=7
y=1313
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5830]
type=text
clientcode=489
x=7
y=1328
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5831]
type=text
clientcode=490
x=7
y=1343
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5832]
type=text
clientcode=491
x=7
y=1358
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5833]
type=text
clientcode=492
x=7
y=1373
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5834]
type=text
clientcode=493
x=7
y=1388
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5835]
type=text
clientcode=494
x=7
y=1403
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5836]
type=text
clientcode=495
x=7
y=1418
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5837]
type=text
clientcode=496
x=7
y=1433
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5838]
type=text
clientcode=497
x=7
y=1448
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5839]
type=text
clientcode=498
x=7
y=1463
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5840]
type=text
clientcode=499
x=7
y=1478
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

[com_5841]
type=text
clientcode=500
x=7
y=1493
width=153
height=14
layer=com_5716
textfont=p12_full
textshadow=yes

