[com_0]
type=graphic
x=6
y=141
width=88
height=60
graphic=tradebacking

[com_1]
type=graphic
x=92
y=141
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=6
y=181
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=92
y=181
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=6
y=141
width=25
height=30
graphic="steelborder,0"

[com_5]
type=graphic
x=159
y=141
width=25
height=30
graphic="steelborder,1"

[com_6]
type=graphic
x=163
y=185
width=36
height=36
graphic="steelborder2,1"

[com_7]
type=graphic
x=159
y=211
width=25
height=30
graphic="steelborder,3"

[com_8]
type=graphic
x=163
y=161
width=36
height=36
graphic="steelborder2,1"

[com_9]
type=graphic
x=126
y=126
width=36
height=36
graphic="steelborder2,0"

[com_10]
type=graphic
x=31
y=126
width=36
height=36
graphic="steelborder2,0"

[com_11]
type=graphic
x=127
y=220
width=36
height=36
graphic="miscgraphics,3"

[com_12]
type=graphic
x=67
y=126
width=36
height=36
graphic="steelborder2,0"

[com_13]
type=graphic
x=99
y=126
width=36
height=36
graphic="steelborder2,0"

[com_14]
type=graphic
x=-9
y=166
width=36
height=36
graphic="miscgraphics,2"

[com_15]
type=graphic
x=-9
y=196
width=36
height=36
graphic="miscgraphics,2"

[com_16]
type=graphic
x=6
y=211
width=25
height=30
graphic="steelborder,2"

[com_17]
type=graphic
x=31
y=220
width=36
height=36
graphic="miscgraphics,3"

[com_18]
type=graphic
x=98
y=220
width=36
height=36
graphic="miscgraphics,3"

[com_19]
type=graphic
x=67
y=220
width=36
height=36
graphic="miscgraphics,3"

[com_20]
type=text
x=77
y=172
width=99
height=14
textfont=p12_full
text=Schematic 1
textalignh=right
textshadow=yes
colour=0xaa8822
colouractive=0xaa3322

[com_21]
type=text
x=77
y=192
width=99
height=14
textfont=p12_full
text=Schematic 2
textalignh=right
textshadow=yes
colour=0xaa8822
colouractive=0xaa3322

[com_22]
type=text
x=77
y=212
width=99
height=14
textfont=p12_full
text=Schematic 3
textalignh=right
textshadow=yes
colour=0xaa8822
colouractive=0xaa3322

[com_23]
type=text
x=14
y=152
width=130
height=14
textfont=p12_full
text=Show/Select
textshadow=yes
colour=0xaa8822

[com_24]
type=graphic
x=55
y=172
width=15
height=15
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select Schematic One
script=varplayer_261 = 1

[com_25]
type=graphic
x=55
y=192
width=15
height=15
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select Schematic Two
script=varplayer_262 = 1

[com_26]
type=graphic
x=55
y=212
width=36
height=36
buttontype=5
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Select Schematic Three
script=varplayer_263 = 1

[com_27]
type=graphic
x=23
y=172
width=15
height=15
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Show Schematic One
script=varplayer_264 = 1

[com_28]
type=graphic
x=23
y=192
width=15
height=15
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Show Schematic Two
script=varplayer_265 = 1

[com_29]
type=graphic
x=23
y=212
width=15
height=15
buttontype=1
graphic="miscgraphics,10"
graphicactive="miscgraphics,11"
buttontext=Show Schematic Three
script=varplayer_266 = 1

[com_30]
type=model
x=79
y=53
width=32
height=32
buttontype=1
model=model_5823
modelactive=model_5821
modelangle=500,0,0
modelzoom=1000
buttontext=Rotate the image

[com_31]
type=model
x=79
y=13
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,0,0
modelzoom=1000
buttontext=Move Schematic Up

[com_32]
type=model
x=120
y=52
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,500,0
modelzoom=1000
buttontext=Move Schematic Right

[com_33]
type=model
x=40
y=52
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,1530,0
modelzoom=1000
buttontext=Move Schematic Left

[com_34]
type=model
x=79
y=92
width=32
height=32
buttontype=1
model=model_5822
modelactive=model_5820
modelangle=500,1015,0
modelzoom=1000
buttontext=Move Schematic Down

