[com_2423]
type=layer
width=512
height=334

[com_2424]
type=model
x=135
y=16
width=35
height=32
layer=com_2423
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_2425]
type=text
x=4
y=10
width=47
height=14
layer=com_2423
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_2426]
type=text
x=52
y=10
width=17
height=14
layer=com_2423
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_2427]
type=text
x=4
y=40
width=114
height=14
layer=com_2423
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_2428]
type=layer
x=4
y=60
width=145
height=190
layer=com_2423

[com_2429]
type=graphic
x=5
y=1
width=72
height=36
layer=com_2428
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_2430]
type=graphic
x=5
y=124
width=72
height=36
layer=com_2428
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_2431]
type=graphic
x=5
y=83
width=72
height=36
layer=com_2428
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_2432]
type=graphic
x=5
y=42
width=72
height=36
layer=com_2428
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_2433]
type=graphic
x=22
y=130
width=34
height=24
layer=com_2428
graphic=combaticons,4

[com_2434]
type=graphic
x=22
y=6
width=34
height=24
layer=com_2428
graphic=combaticons,6

[com_2435]
type=graphic
x=22
y=48
width=34
height=24
layer=com_2428
graphic=combaticons,5

[com_2436]
type=graphic
x=22
y=89
width=34
height=24
layer=com_2428
graphic=combaticons,7

[com_2437]
type=text
x=78
width=25
height=11
layer=com_2428
textfont=p11_full
text=Chop
textshadow=yes
colour=0xffff00

[com_2438]
type=text
x=78
y=43
width=28
height=11
layer=com_2428
textfont=p11_full
text=Slash
textshadow=yes
colour=0xffff00

[com_2439]
type=text
x=78
y=83
width=29
height=11
layer=com_2428
textfont=p11_full
text=Lunge
textshadow=yes
colour=0xffff00

[com_2440]
type=text
x=79
y=124
width=26
height=11
layer=com_2428
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_2441]
type=text
x=78
y=12
width=50
height=11
layer=com_2428
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_2442]
type=text
x=78
y=95
width=58
height=11
layer=com_2428
textfont=p11_full
text=(Controlled)
colour=0xffff00

[com_2443]
type=text
x=78
y=55
width=64
height=11
layer=com_2428
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_2444]
type=text
x=78
y=137
width=58
height=11
layer=com_2428
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_2445]
type=text
x=82
y=84
width=34
height=11
layer=com_2423
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_2446]
type=text
x=82
y=127
width=34
height=11
layer=com_2423
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_2447]
type=text
x=82
y=167
width=29
height=11
layer=com_2423
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_2448]
type=text
x=82
y=210
width=34
height=11
layer=com_2423
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_7587]
type=rectangle
y=1
width=156
height=23
layer=com_7599
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_7588]
type=graphic
x=131
y=1
width=25
height=30
layer=com_7599
graphic=steelborder,1

[com_7589]
type=graphic
y=1
width=25
height=30
layer=com_7599
graphic=steelborder,0

[com_7590]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7591]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7592]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7593]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7594]
type=graphic
x=5
y=3
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7595]
type=graphic
x=41
y=3
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7596]
type=graphic
x=77
y=3
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7597]
type=graphic
x=112
y=3
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7598]
type=graphic
x=115
y=3
width=36
height=36
layer=com_7599
graphic=miscgraphics,3

[com_7599]
type=layer
x=17
y=231
width=158
height=24
layer=com_2423
hide=yes

[com_7600]
type=model
x=5
y=8
width=146
height=9
layer=com_7599
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_7601]
type=model
x=3
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_7602]
type=model
x=18
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_7603]
type=model
x=33
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_7604]
type=model
x=47
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_7605]
type=model
x=61
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_7606]
type=model
x=75
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_7607]
type=model
x=90
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_7608]
type=model
x=104
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_7609]
type=model
x=118
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_7610]
type=model
x=132
y=8
width=146
height=9
layer=com_7599
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_7611]
type=text
x=20
y=7
width=117
height=11
layer=com_7599
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

