[com_0]
type=text
x=177
y=25
width=172
height=12
textfont=p11_full
text=Current Champion: TzHaar-Xil-Huz
textalignh=centre
textshadow=yes
colour=0xcccccc

[com_1]
type=text
x=50
y=7
width=97
height=12
layer=com_2
textfont=p11_full
text=Foes Remaining: %1
textactive=You're the Winner!
textalignh=centre
textshadow=yes
colour=0xff0000
colouractive=0xcc6600
script=varplayer_560 < 1

[com_2]
type=layer
x=170
y=31
width=191
height=27

