[com_6014]
type=layer
width=512
height=334

[com_6015]
type=graphic
x=74
y=100
width=36
height=36
layer=com_6014
graphic=miscgraphics,7

[com_6016]
type=graphic
x=48
y=100
width=36
height=36
layer=com_6014
graphic=miscgraphics,7

[com_6017]
type=graphic
x=22
y=100
width=36
height=36
layer=com_6014
graphic=miscgraphics,7

[com_6018]
type=graphic
x=104
y=100
width=36
height=36
layer=com_6014
graphic=miscgraphics,8

[com_6019]
type=graphic
x=130
y=100
width=36
height=36
layer=com_6014
graphic=miscgraphics,8

[com_6020]
type=text
clientcode=205
x=61
y=110
width=57
height=14
layer=com_6014
buttontype=1
textfont=b12_full
text=Unmorph
textshadow=yes
mouseovercolour=0xff0000

