[com_6237]
type=layer
width=512
height=334

[com_6238]
type=text
x=73
y=15
width=390
height=17
layer=com_6237
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_6239]
type=text
x=73
y=44
width=390
height=18
layer=com_6237
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_6240]
type=text
x=93
y=74
width=350
height=17
layer=com_6237
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_6241]
type=model
x=34
y=35
width=32
height=32
layer=com_6237
model=model_2364
modelangle=550,2024,0
modelzoom=344

