[com_15819]
type=layer
width=512
height=334

[com_15820]
type=model
x=369
y=424
width=32
height=32
layer=com_15819
model=model_9630
modelangle=512,0,0
modelzoom=692

[com_15821]
type=text
x=190
y=431
width=400
height=17
layer=com_15819
textfont=q8_full
text=Your password is only as safe as your computer.
textalignh=centre
colour=0x000000

[com_15822]
type=text
x=190
y=452
width=400
height=17
layer=com_15819
textfont=q8_full
text=Install anti-virus software!
textalignh=centre
colour=0x000000

[com_15823]
type=text
x=333
y=411
width=119
height=14
layer=com_15819
textfont=p12_full
text=Message of the week
colour=0x800000

[com_15824]
type=model
x=694
y=442
width=32
height=32
layer=com_15819
model=model_10223
modelangle=31,208,0
modelzoom=1072
modelanim=seq_2920

[com_15825]
type=model
x=174
y=428
width=32
height=32
layer=com_15819
model=model_10222
modelangle=0,1550,0
modelzoom=400

[com_15827]
type=model
x=576
y=427
width=32
height=32
layer=com_15819
model=model_10222
modelangle=0,1550,0
modelzoom=400

[com_15828]
type=model
x=49
y=457
width=32
height=32
layer=com_15819
model=model_10221
modelangle=144,4,0
modelzoom=1800

