[com_11908]
type=layer
width=512
height=334

[com_11909]
type=rectangle
x=49
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 0

[com_11910]
type=rectangle
x=70
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 4

[com_11911]
type=rectangle
x=91
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 9

[com_11912]
type=rectangle
x=112
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 14

[com_11913]
type=rectangle
x=133
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 19

[com_11914]
type=rectangle
x=154
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 24

[com_11915]
type=rectangle
x=175
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 29

[com_11916]
type=rectangle
x=196
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 34

[com_11917]
type=rectangle
x=217
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 39

[com_11918]
type=rectangle
x=238
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 44

[com_11919]
type=rectangle
x=259
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 49

[com_11920]
type=rectangle
x=280
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 54

[com_11921]
type=rectangle
x=301
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 59

[com_11922]
type=rectangle
x=322
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 64

[com_11923]
type=rectangle
x=343
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 69

[com_11924]
type=rectangle
x=364
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 74

[com_11925]
type=rectangle
x=385
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 79

[com_11926]
type=rectangle
x=406
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 84

[com_11927]
type=rectangle
x=427
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 89

[com_11928]
type=rectangle
x=448
y=23
width=21
height=10
layer=com_11929
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_391 > 94

[com_11929]
type=layer
x=20
width=475
height=62
layer=com_11908

[com_11930]
type=text
y=20
width=36
height=14
layer=com_11929
textfont=p12_full
text=Water:
textshadow=yes

[com_11931]
type=text
y=42
width=23
height=14
layer=com_11929
textfont=p12_full
text=Net:
textshadow=yes

[com_11932]
type=text
x=183
y=42
width=35
height=14
layer=com_11929
textfont=p12_full
text=Catch:
textshadow=yes

[com_11933]
type=text
x=372
y=42
width=51
height=14
layer=com_11929
textfont=p12_full
text=Time left:
textshadow=yes

[com_11934]
type=rectangle
x=49
y=23
width=421
height=10
layer=com_11929
trans=128
colour=0x808080

[com_11935]
type=text
x=31
y=42
width=28
height=14
layer=com_11929
textfont=p12_full
text=Okay
textshadow=yes
colour=0x00ff24

[com_11936]
type=text
x=31
y=42
width=41
height=14
layer=com_11929
textfont=p12_full
text=Ripped!
textshadow=yes
colour=0xff0000

[com_11937]
type=text
x=225
y=42
width=44
height=14
layer=com_11929
textfont=p12_full
text=Nothing
textshadow=yes

[com_11938]
type=text
x=429
y=42
width=43
height=14
layer=com_11929
textfont=p12_full
text=10 mins
textshadow=yes

