[com_2800]
type=layer
width=512
height=334

[com_2801]
type=graphic
x=2
y=5
width=57
height=13
layer=com_2800
graphic=sworddecor,1

[com_2802]
type=model
x=56
y=13
width=64
height=64
layer=com_2800
model=null
modelangle=100,100,0

[com_2803]
type=model
x=207
y=13
width=64
height=64
layer=com_2800
model=null
modelzoom=400

[com_2804]
type=model
x=360
y=13
width=64
height=64
layer=com_2800
model=null
modelzoom=400

[com_2805]
type=text
x=38
y=16
width=100
height=93
layer=com_2800
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2806]
type=text
x=189
y=16
width=100
height=93
layer=com_2800
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_3208]
type=text
x=342
y=16
width=100
height=93
layer=com_2800
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_3209]
type=text
x=8
y=3
width=464
height=17
layer=com_2800
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_3210]
type=text
x=405
y=5
width=66
height=11
layer=com_2800
buttontype=3
textfont=p11_full
text=Close window
colour=0xffff00
mouseovercolour=0x00c000

