[com_15962]
type=layer
width=512
height=334

[com_15963]
type=model
x=415
y=17
width=32
height=32
layer=com_15962
model=model_10567
modelangle=421,0,0
modelzoom=843

[com_15964]
type=text
x=394
y=15
width=70
height=17
layer=com_15962
textfont=q8_full
text=Telekinetic
textshadow=yes
colour=0x5686c3

[com_15965]
type=text
x=369
y=39
width=72
height=12
layer=com_15962
textfont=p11_full
text=Pizazz Points:
textshadow=yes
colour=0x4d7cb6

[com_15966]
type=text
x=447
y=40
width=42
height=12
layer=com_15962
textfont=p11_full
text=999999
textshadow=yes
colour=0x66ccff

[com_15967]
type=model
x=469
y=308
width=32
height=32
layer=com_15962
model=model_10588
modelangle=79,142,0
modelzoom=1395

[com_15968]
type=text
x=472
y=253
width=24
height=14
layer=com_15962
textfont=p12_full
text=999
textalignh=centre
textshadow=yes
colour=0x66ccff

[com_15969]
type=text
x=461
y=238
width=44
height=14
layer=com_15962
textfont=p12_full
text=Solved :
textalignh=centre
textshadow=yes
colour=0x66ccff

