[com_11124]
type=layer
width=512
height=334

[com_11125]
type=model
x=242
y=152
width=32
height=32
layer=com_11124
model=null
modelangle=512,0,0
modelzoom=130

[com_14669]
type=text
x=20
y=68
width=477
height=14
layer=com_11124
textfont=p12_full
text= 
textalignh=centre

