[com_328]
type=layer
width=512
height=334

[com_18560]
type=rectangle
y=1
width=156
height=23
layer=com_18566
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_330]
type=graphic
x=131
y=1
width=25
height=30
layer=com_18566
graphic=steelborder,1

[com_18561]
type=graphic
y=1
width=25
height=30
layer=com_18566
graphic=steelborder,0

[com_332]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_18562]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_18563]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_18564]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_18565]
type=graphic
x=5
y=3
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_337]
type=graphic
x=41
y=3
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_338]
type=graphic
x=77
y=3
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_339]
type=graphic
x=112
y=3
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_340]
type=graphic
x=115
y=3
width=36
height=36
layer=com_18566
graphic=miscgraphics,3

[com_18566]
type=layer
x=17
y=231
width=158
height=24
layer=com_328
hide=yes

[com_342]
type=model
x=5
y=8
width=146
height=9
layer=com_18566
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_343]
type=model
x=3
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_344]
type=model
x=18
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_345]
type=model
x=33
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_346]
type=model
x=47
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_347]
type=model
x=61
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_348]
type=model
x=75
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_18567]
type=model
x=90
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_350]
type=model
x=104
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_351]
type=model
x=118
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_18568]
type=model
x=132
y=8
width=146
height=9
layer=com_18566
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_18569]
type=text
x=20
y=7
width=117
height=11
layer=com_18566
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

[com_329]
type=model
x=119
y=21
width=35
height=32
layer=com_328
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_355]
type=text
x=4
y=10
width=42
height=12
layer=com_328
textfont=p11_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_331]
type=text
x=52
y=10
width=15
height=12
layer=com_328
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00

[com_18570]
type=text
x=4
y=40
width=100
height=12
layer=com_328
textfont=p11_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_333]
type=layer
x=4
y=51
width=145
height=202
layer=com_328

[com_334]
type=graphic
x=5
y=88
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_335]
type=graphic
x=5
y=46
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_336]
type=graphic
x=5
y=5
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_18571]
type=graphic
x=23
y=94
width=34
height=24
layer=com_333
graphic=combaticons,19

[com_18572]
type=graphic
x=21
y=11
width=34
height=24
layer=com_333
graphic=combaticons2,13

[com_18573]
type=graphic
x=22
y=52
width=34
height=24
layer=com_333
graphic=combaticons2,14

[com_18574]
type=text
x=78
y=5
width=25
height=12
layer=com_333
textfont=p11_full
text=Bash
textshadow=yes
colour=0xffff00

[com_18575]
type=text
x=78
y=51
width=31
height=11
layer=com_333
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_18576]
type=text
x=78
y=97
width=65
height=11
layer=com_333
textfont=p11_full
text=Focus - Block
textshadow=yes
colour=0xffff00

[com_18577]
type=text
x=78
y=64
width=64
height=11
layer=com_333
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_18578]
type=text
x=78
y=18
width=50
height=11
layer=com_333
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_18579]
type=text
x=78
y=110
width=58
height=11
layer=com_333
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_18580]
type=text
x=82
y=81
width=36
height=11
layer=com_328
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_18581]
type=text
x=81
y=129
width=36
height=11
layer=com_328
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_18582]
type=text
x=82
y=174
width=36
height=11
layer=com_328
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_349]
type=graphic
x=5
y=131
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=testbit(varplayer_108, 0) = 1

[com_18583]
type=graphic
x=25
y=135
width=30
height=30
layer=com_333
graphic=prayeron,12

[com_18584]
type=text
x=78
y=137
width=54
height=11
layer=com_333
textfont=p11_full
text=Attack with
textactive=Attack with
textshadow=yes
colour=0xffff00
colouractive=0xb0a392
script=varplayer_108 < 2

[com_352]
type=text
x=81
y=199
width=49
height=11
layer=com_328
textfont=p11_full
text=(none set)
textactive=(none set)
textshadow=yes
colour=0xffff00
colouractive=0xb0a392
script=varplayer_108 < 2

[com_353]
type=model
x=149
y=173
width=35
height=57
layer=com_328
buttontype=1
model=model_2543
modelangle=264,124,0
modelzoom=625

[com_18585]
type=text
x=96
y=216
width=65
height=12
layer=com_328
textfont=p11_full
text=Choose Spell
textshadow=yes
colour=0xb0a392
colouractive=0xffff00
script=varplayer_108 > 0

[com_18586]
type=text
x=4
y=25
width=72
height=12
layer=com_328
textfont=p11_full
text=Combat Lvl %1
colour=0xcc0000
script0=stat_combat

