[com_0]
type=model
x=239
y=145
width=35
height=35
model=model_3035
modelangle=395,0,0
modelzoom=525

[com_1]
type=layer
width=512
height=334
hide=yes

[com_2]
type=model
x=346
y=176
width=32
height=32
layer=com_1
model=model_5826
modelangle=383,2025,0
modelzoom=437

[com_3]
type=layer
x=12
y=20
width=488
height=36

[com_4]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_3
graphic=tradebacking

[com_5]
type=graphic
x=182
y=6
width=88
height=60
layer=com_3
graphic=tradebacking

[com_6]
type=graphic
x=270
y=6
width=88
height=60
layer=com_3
graphic=tradebacking

[com_7]
type=graphic
x=358
y=6
width=88
height=60
layer=com_3
graphic=tradebacking

[com_8]
type=graphic
x=394
y=6
width=88
height=60
layer=com_3
graphic=tradebacking

[com_9]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_3
graphic=tradebacking

[com_10]
type=graphic
x=60
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_11]
type=graphic
x=96
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_12]
type=graphic
x=132
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_13]
type=graphic
x=168
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_14]
type=graphic
x=204
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_15]
type=graphic
x=240
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_16]
type=graphic
x=276
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_17]
type=graphic
x=312
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_18]
type=graphic
x=348
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_19]
type=graphic
x=384
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_20]
type=graphic
x=420
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_21]
type=graphic
x=428
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_22]
type=graphic
width=25
height=30
layer=com_3
graphic="steelborder,0"

[com_23]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_24]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_25]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_26]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_27]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_28]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_29]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_30]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_31]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_32]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_33]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_34]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_35]
type=graphic
x=463
width=25
height=30
layer=com_3
graphic="steelborder,1"

[com_36]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_3
graphic="steelborder2,0"

[com_37]
type=graphic
x=463
y=7
width=25
height=30
layer=com_3
graphic="steelborder,3"

[com_38]
type=graphic
x=25
y=16
width=36
height=36
layer=com_3
graphic="miscgraphics,3"

[com_39]
type=graphic
y=7
width=25
height=30
layer=com_3
graphic="steelborder,2"

[com_40]
type=text
x=422
y=33
width=68
height=11
buttontype=1
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_41]
type=text
x=248
y=30
width=19
height=14
textfont=b12_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

[com_42]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_43]
type=model
x=67
width=32
height=32
layer=com_42
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_44]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_45]
type=model
x=65
y=16
width=32
height=32
layer=com_44
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_46]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_47]
type=model
x=63
y=32
width=32
height=32
layer=com_46
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_48]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_49]
type=model
x=61
y=48
width=32
height=32
layer=com_48
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_50]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_51]
type=model
x=59
y=64
width=32
height=32
layer=com_50
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_52]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_53]
type=model
x=57
y=80
width=32
height=32
layer=com_52
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_54]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_55]
type=model
x=55
y=96
width=32
height=32
layer=com_54
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_56]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_57]
type=model
x=53
y=112
width=32
height=32
layer=com_56
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_58]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_59]
type=model
x=51
y=128
width=32
height=32
layer=com_58
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_60]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_61]
type=model
x=49
y=144
width=32
height=32
layer=com_60
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_62]
type=layer
x=60
y=80
width=175
height=210
hide=yes

[com_63]
type=model
x=47
y=160
width=32
height=32
layer=com_62
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_64]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_65]
type=model
x=67
width=32
height=32
layer=com_64
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_66]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_67]
type=model
x=68
y=16
width=32
height=32
layer=com_66
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_68]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_69]
type=model
x=69
y=32
width=32
height=32
layer=com_68
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_70]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_71]
type=model
x=71
y=48
width=32
height=32
layer=com_70
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_72]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_73]
type=model
x=72
y=64
width=32
height=32
layer=com_72
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_74]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_75]
type=model
x=73
y=80
width=32
height=32
layer=com_74
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_76]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_77]
type=model
x=75
y=96
width=32
height=32
layer=com_76
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_78]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_79]
type=model
x=76
y=112
width=32
height=32
layer=com_78
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_80]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_81]
type=model
x=77
y=128
width=32
height=32
layer=com_80
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_82]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_83]
type=model
x=79
y=144
width=32
height=32
layer=com_82
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_84]
type=layer
x=283
y=80
width=175
height=210
hide=yes

[com_85]
type=model
x=80
y=160
width=32
height=32
layer=com_84
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_86]
type=graphic
width=45
height=36
layer=com_87
buttontype=1
graphic=leftarrow

[com_87]
type=layer
x=34
y=259
width=45
height=36

[com_88]
type=graphic
width=45
height=36
layer=com_89
buttontype=1
graphic=rightarrow

[com_89]
type=layer
x=432
y=259
width=45
height=36

[com_90]
type=text
x=60
y=80
width=175
height=17
textfont=q8_full
text=line1
colour=0x000000

[com_91]
type=text
x=58
y=96
width=177
height=17
textfont=q8_full
text=line2
colour=0x000000

[com_92]
type=text
x=56
y=112
width=179
height=17
textfont=q8_full
text=line3
colour=0x000000

[com_93]
type=text
x=54
y=128
width=181
height=17
textfont=q8_full
text=line4
colour=0x000000

[com_94]
type=text
x=51
y=144
width=184
height=17
textfont=q8_full
text=line5
colour=0x000000

[com_95]
type=text
x=49
y=160
width=186
height=17
textfont=q8_full
text=line6
colour=0x000000

[com_96]
type=text
x=47
y=176
width=188
height=17
textfont=q8_full
text=line7
colour=0x000000

[com_97]
type=text
x=45
y=192
width=190
height=17
textfont=q8_full
text=line8
colour=0x000000

[com_98]
type=text
x=42
y=208
width=193
height=17
textfont=q8_full
text=line9
colour=0x000000

[com_99]
type=text
x=40
y=224
width=195
height=17
textfont=q8_full
text=line10
colour=0x000000

[com_100]
type=text
x=38
y=240
width=197
height=17
textfont=q8_full
text=line11
colour=0x000000

[com_101]
type=text
x=283
y=80
width=175
height=17
textfont=q8_full
text=line12
colour=0x000000

[com_102]
type=text
x=283
y=96
width=177
height=17
textfont=q8_full
text=line13
colour=0x000000

[com_103]
type=text
x=283
y=112
width=179
height=17
textfont=q8_full
text=line14
colour=0x000000

[com_104]
type=text
x=283
y=128
width=181
height=17
textfont=q8_full
text=line15
colour=0x000000

[com_105]
type=text
x=283
y=144
width=183
height=17
textfont=q8_full
text=line16
colour=0x000000

[com_106]
type=text
x=283
y=160
width=185
height=17
textfont=q8_full
text=line17
colour=0x000000

[com_107]
type=text
x=283
y=176
width=187
height=17
textfont=q8_full
text=line18
colour=0x000000

[com_108]
type=text
x=283
y=192
width=189
height=17
textfont=q8_full
text=line19
colour=0x000000

[com_109]
type=text
x=283
y=208
width=191
height=17
textfont=q8_full
text=line20
colour=0x000000

[com_110]
type=text
x=283
y=224
width=193
height=17
textfont=q8_full
text=line21
colour=0x000000

[com_111]
type=text
x=283
y=240
width=195
height=17
textfont=q8_full
text=line22
colour=0x000000

