[com_0]
type=model
x=244
y=160
width=32
height=32
model=model_16067
modelangle=0,2047,0
modelzoom=266

[com_1]
type=model
x=163
y=146
width=32
height=32
model=model_16064
modelangle=471,2032,0
modelzoom=700

[com_2]
type=graphic
x=461
y=21
width=26
height=23
graphic="close_buttons,6"

[com_3]
type=model
x=211
y=149
width=32
height=32
model=model_16068
modelangle=471,2032,0
modelzoom=700

[com_4]
type=model
x=260
y=143
width=32
height=32
model=model_16060
modelangle=471,2032,0
modelzoom=700

[com_5]
type=model
x=137
y=217
width=32
height=32
model=model_16045
modelangle=471,2032,0
modelzoom=700

[com_6]
type=model
x=182
y=215
width=32
height=32
model=model_16058
modelangle=471,2032,0
modelzoom=700

[com_7]
type=model
x=227
y=218
width=32
height=32
model=model_16066
modelangle=471,2032,0
modelzoom=700

[com_8]
type=model
x=273
y=221
width=32
height=32
model=model_16045
modelangle=471,2032,0
modelzoom=700

[com_9]
type=model
x=329
y=219
width=32
height=32
model=model_16064
modelangle=471,2032,0
modelzoom=700

[com_10]
type=model
x=308
y=150
width=32
height=32
model=model_16049
modelangle=471,2032,0
modelzoom=700

[com_11]
type=model
x=134
y=80
width=32
height=32
model=model_16047
modelangle=471,2032,0
modelzoom=700

[com_12]
type=model
x=180
y=77
width=32
height=32
model=model_16061
modelangle=471,2032,0
modelzoom=700

[com_13]
type=model
x=229
y=80
width=32
height=32
model=model_16065
modelangle=471,2032,0
modelzoom=700

[com_14]
type=model
x=281
y=79
width=32
height=32
model=model_16059
modelangle=471,2032,0
modelzoom=700

[com_15]
type=model
x=328
y=80
width=32
height=32
model=model_16055
modelangle=471,2032,0
modelzoom=700

[com_16]
type=model
x=371
y=79
width=32
height=32
model=model_16047
modelangle=471,2032,0
modelzoom=700

[com_17]
type=graphic
x=4
y=4
width=26
height=23
layer=com_18
buttontype=3
graphic="close_buttons,7"

[com_18]
type=layer
x=457
y=17
width=32
height=32
mouseoverlayer=com_18
hide=yes

