[com_17192]
type=layer
width=512
height=334

[com_17193]
type=graphic
x=12
y=20
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17194]
type=graphic
x=12
y=80
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17195]
type=graphic
x=12
y=140
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17196]
type=graphic
x=12
y=200
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17197]
type=graphic
x=12
y=260
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17198]
type=graphic
x=100
y=20
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17199]
type=graphic
x=100
y=80
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17200]
type=graphic
x=100
y=140
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17201]
type=graphic
x=100
y=200
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17202]
type=graphic
x=188
y=20
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17203]
type=graphic
x=100
y=260
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17204]
type=graphic
x=188
y=80
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17205]
type=graphic
x=188
y=140
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17206]
type=graphic
x=188
y=200
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17207]
type=graphic
x=276
y=20
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17208]
type=graphic
x=188
y=260
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17209]
type=graphic
x=364
y=80
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17210]
type=graphic
x=276
y=80
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17211]
type=graphic
x=276
y=140
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17212]
type=graphic
x=276
y=200
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17213]
type=graphic
x=276
y=260
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17214]
type=graphic
x=364
y=140
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17215]
type=graphic
x=364
y=20
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17216]
type=graphic
x=364
y=200
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17217]
type=graphic
x=364
y=260
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17218]
type=graphic
x=412
y=20
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17219]
type=graphic
x=412
y=80
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17220]
type=graphic
x=412
y=140
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17221]
type=graphic
x=412
y=200
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17222]
type=graphic
x=409
y=258
width=88
height=60
layer=com_17192
graphic=tradebacking,0

[com_17223]
type=graphic
x=12
y=20
width=25
height=30
layer=com_17192
graphic=steelborder,0

[com_17224]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17225]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17226]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17227]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17228]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17229]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17230]
type=graphic
x=479
y=50
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17231]
type=graphic
x=479
y=86
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17232]
type=graphic
x=479
y=122
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17233]
type=graphic
x=479
y=158
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17234]
type=graphic
x=479
y=194
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17235]
type=graphic
x=479
y=230
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17236]
type=graphic
x=479
y=266
width=36
height=36
layer=com_17192
graphic=steelborder2,1

[com_17237]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17238]
type=graphic
x=73
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17239]
type=graphic
x=109
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17240]
type=graphic
x=145
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17241]
type=graphic
x=181
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17242]
type=graphic
x=217
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17243]
type=graphic
x=253
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17244]
type=graphic
x=289
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17245]
type=graphic
x=325
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17246]
type=graphic
x=361
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17247]
type=graphic
x=397
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17248]
type=graphic
x=433
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17249]
type=graphic
x=72
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17250]
type=graphic
x=108
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17251]
type=graphic
x=144
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17252]
type=graphic
x=180
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17253]
type=graphic
x=216
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17254]
type=graphic
x=252
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17255]
type=graphic
x=288
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17256]
type=graphic
x=324
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17257]
type=graphic
x=360
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17258]
type=graphic
x=396
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17259]
type=graphic
x=432
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17260]
type=text
x=25
y=60
width=165
height=14
layer=com_17192
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_17261]
type=graphic
x=37
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17262]
type=graphic
x=37
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17263]
type=graphic
x=12
y=290
width=25
height=30
layer=com_17192
graphic=steelborder,2

[com_17264]
type=graphic
x=475
y=20
width=25
height=30
layer=com_17192
graphic=steelborder,1

[com_17265]
type=graphic
x=439
y=5
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17266]
type=graphic
x=475
y=290
width=25
height=30
layer=com_17192
graphic=steelborder,3

[com_17267]
type=graphic
x=439
y=299
width=36
height=36
layer=com_17192
graphic=miscgraphics,3

[com_17268]
type=text
x=100
y=75
width=14
height=14
layer=com_17192
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

[com_17269]
type=text
x=25
y=90
width=165
height=14
layer=com_17192
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_17270]
type=graphic
x=183
y=26
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17271]
type=graphic
x=183
y=62
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17272]
type=graphic
x=183
y=98
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17273]
type=graphic
x=183
y=134
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17274]
type=graphic
x=183
y=170
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17275]
type=graphic
x=162
y=34
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17276]
type=graphic
x=144
y=34
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17277]
type=graphic
x=108
y=34
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17278]
type=graphic
x=72
y=34
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17279]
type=graphic
x=36
y=34
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17280]
type=graphic
x=17
y=34
width=36
height=36
layer=com_17192
graphic=steelborder2,0

[com_17281]
type=text
x=21
y=29
width=66
height=14
layer=com_17192
textfont=b12_full
text=Runeversi
textshadow=yes
colour=0xffaa44

[com_17282]
type=text
x=23
y=185
width=169
height=11
layer=com_17192
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_17283]
type=graphic
x=183
y=206
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17284]
type=graphic
x=183
y=242
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17285]
type=graphic
x=183
y=278
width=36
height=36
layer=com_17192
graphic=miscgraphics,2

[com_17286]
type=text
x=24
y=213
width=169
height=11
layer=com_17192
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_17287]
type=text
x=27
y=157
width=160
height=14
layer=com_17192
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_17288]
type=layer
x=26
y=265
width=78
height=42
layer=com_17192

[com_17289]
type=model
x=221
y=40
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17290]
type=model
x=284
y=40
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17291]
type=model
x=349
y=40
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17292]
type=model
x=412
y=40
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17293]
type=model
x=253
y=72
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17294]
type=model
x=317
y=72
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17295]
type=model
x=381
y=72
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17296]
type=model
x=444
y=72
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17297]
type=model
x=222
y=104
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17298]
type=model
x=284
y=104
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17299]
type=model
x=348
y=104
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17300]
type=model
x=413
y=104
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17301]
type=model
x=252
y=136
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17302]
type=model
x=316
y=136
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17303]
type=model
x=380
y=136
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17304]
type=model
x=444
y=137
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17305]
type=model
x=221
y=168
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17306]
type=model
x=284
y=168
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17307]
type=model
x=348
y=168
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17308]
type=model
x=413
y=168
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17309]
type=model
x=253
y=200
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17310]
type=model
x=316
y=200
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17311]
type=model
x=381
y=200
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17312]
type=model
x=444
y=200
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17313]
type=model
x=221
y=232
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17314]
type=model
x=285
y=232
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17315]
type=model
x=348
y=232
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17316]
type=model
x=413
y=232
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17317]
type=model
x=253
y=264
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17318]
type=model
x=317
y=264
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17319]
type=model
x=382
y=264
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17320]
type=model
x=445
y=264
width=32
height=32
layer=com_17192
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_17321]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_17288
buttontype=3
colour=0x000000
fill=yes

[com_17322]
type=text
x=23
y=14
width=31
height=14
layer=com_17288
textfont=p12_full
text=Close
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_17323]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_17288
graphic=steelborder2,0

[com_17324]
type=graphic
width=25
height=30
layer=com_17288
graphic=steelborder,0

[com_17325]
type=graphic
x=53
width=25
height=30
layer=com_17288
graphic=steelborder,1

[com_17326]
type=graphic
y=12
width=25
height=30
layer=com_17288
graphic=steelborder,2

[com_17327]
type=graphic
x=53
y=12
width=25
height=30
layer=com_17288
graphic=steelborder,3

[com_17328]
type=graphic
x=21
y=21
width=36
height=36
layer=com_17288
graphic=miscgraphics,3

[com_17329]
type=model
x=20
y=57
width=20
height=20
layer=com_17192
model=model_2399
modelangle=512,1024,0
modelzoom=1024

[com_17330]
type=model
x=20
y=87
width=20
height=20
layer=com_17192
model=model_2652
modelangle=512,1024,0
modelzoom=1024

[com_17331]
type=inv
x=221
y=40
width=8
height=8
layer=com_17192

[com_17332]
type=rectangle
x=221
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17333]
type=rectangle
x=253
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17334]
type=rectangle
x=285
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17335]
type=rectangle
x=317
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17336]
type=rectangle
x=349
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17337]
type=rectangle
x=381
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17338]
type=rectangle
x=413
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17339]
type=rectangle
x=445
y=40
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17340]
type=rectangle
x=221
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17341]
type=rectangle
x=253
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17342]
type=rectangle
x=285
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17343]
type=rectangle
x=317
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17344]
type=rectangle
x=349
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17345]
type=rectangle
x=381
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17346]
type=rectangle
x=413
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17347]
type=rectangle
x=445
y=72
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17348]
type=rectangle
x=221
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17349]
type=rectangle
x=253
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17350]
type=rectangle
x=285
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17351]
type=rectangle
x=317
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17352]
type=rectangle
x=349
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17353]
type=rectangle
x=381
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17354]
type=rectangle
x=413
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17355]
type=rectangle
x=445
y=104
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17356]
type=rectangle
x=221
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17357]
type=rectangle
x=253
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17358]
type=rectangle
x=285
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17359]
type=rectangle
x=317
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17360]
type=rectangle
x=349
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17361]
type=rectangle
x=381
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17362]
type=rectangle
x=413
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17363]
type=rectangle
x=445
y=136
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17364]
type=rectangle
x=221
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17365]
type=rectangle
x=253
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17366]
type=rectangle
x=285
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17367]
type=rectangle
x=317
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17368]
type=rectangle
x=349
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17369]
type=rectangle
x=381
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17370]
type=rectangle
x=413
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17371]
type=rectangle
x=445
y=168
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17372]
type=rectangle
x=221
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17373]
type=rectangle
x=253
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17374]
type=rectangle
x=285
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17375]
type=rectangle
x=317
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17376]
type=rectangle
x=349
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17377]
type=rectangle
x=381
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17378]
type=rectangle
x=413
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17379]
type=rectangle
x=445
y=200
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17380]
type=rectangle
x=221
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17381]
type=rectangle
x=253
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17382]
type=rectangle
x=285
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17383]
type=rectangle
x=317
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17384]
type=rectangle
x=349
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17385]
type=rectangle
x=381
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17386]
type=rectangle
x=413
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17387]
type=rectangle
x=445
y=232
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17388]
type=rectangle
x=221
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17389]
type=rectangle
x=253
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17390]
type=rectangle
x=285
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17391]
type=rectangle
x=317
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17392]
type=rectangle
x=349
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17393]
type=rectangle
x=381
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17394]
type=rectangle
x=413
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

[com_17395]
type=rectangle
x=445
y=264
width=32
height=32
layer=com_17192
buttontype=1
colour=0xffffff

