[com_0]
type=text
x=4
y=22
width=151
height=14
textfont=p12_full
text=Next Departure: 5 min
textshadow=yes
colour=0xcccccc

[com_1]
type=text
x=4
y=39
width=129
height=15
textfont=p12_full
text=Players Ready: 5
textshadow=yes
colour=0x59d231
colouractive=0xc31a0b

[com_2]
type=text
x=4
y=56
width=126
height=14
textfont=p12_full
text=(Need 5 to 25 players)
textshadow=yes
colour=0xded36a

