[com_18483]
type=layer
width=512
height=334

[com_18484]
type=model
x=255
y=166
width=32
height=32
layer=com_18483
model=model_13374
modelzoom=600

[com_18485]
type=model
x=208
y=231
width=32
height=32
layer=com_18483
model=model_13373
modelangle=190,373,0
modelzoom=309

[com_18486]
type=text
x=430
y=9
width=71
height=14
layer=com_18483
buttontype=3
textfont=p12_full
text=close window
textshadow=yes
colour=0xffff00

[com_18487]
type=rectangle
x=136
y=43
width=252
height=247
layer=com_18483
trans=178
colour=0x666600
fill=yes

[com_18488]
type=model
x=146
y=50
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18489]
type=model
x=227
y=50
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18490]
type=model
x=308
y=50
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18491]
type=model
x=146
y=133
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18492]
type=model
x=227
y=132
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18493]
type=model
x=308
y=132
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18494]
type=model
x=146
y=212
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18495]
type=model
x=227
y=213
width=70
height=69
layer=com_18483
model=null
modelzoom=400

[com_18496]
type=model
x=308
y=213
width=70
height=69
layer=com_18483
trans=255
model=null
modelzoom=400

