[com_15100]
type=layer
width=512
height=334

[com_15102]
type=layer
x=58
y=22
width=35
height=14
layer=com_15100

[com_15103]
type=rectangle
x=1
y=-4
width=41
height=41
layer=com_15102
trans=10
colour=0xcc6600
fill=yes

[com_15104]
type=layer
x=93
y=22
width=40
height=14
layer=com_15100

[com_15162]
type=rectangle
y=-6
width=41
height=41
layer=com_15104
trans=10
colour=0xcc6600
fill=yes

[com_15163]
type=layer
x=133
y=22
width=41
height=14
layer=com_15100

[com_15167]
type=rectangle
y=-6
width=41
height=41
layer=com_15163
trans=10
colour=0xcc6600
fill=yes

[com_15168]
type=layer
x=173
y=22
width=41
height=14
layer=com_15100

[com_15172]
type=rectangle
x=1
y=-4
width=41
height=41
layer=com_15168
trans=10
colour=0xcc6600
fill=yes

[com_15177]
type=layer
x=213
y=22
width=41
height=14
layer=com_15100

[com_15178]
type=rectangle
x=1
y=-2
width=41
height=41
layer=com_15177
trans=10
colour=0xcc6600
fill=yes

[com_15179]
type=layer
x=253
y=22
width=41
height=14
layer=com_15100

[com_15319]
type=rectangle
x=1
y=-1
width=41
height=41
layer=com_15179
trans=10
colour=0xcc6600
fill=yes

[com_15320]
type=layer
x=293
y=22
width=40
height=14
layer=com_15100

[com_18664]
type=rectangle
x=1
y=-3
width=41
height=41
layer=com_15320
trans=10
colour=0xcc6600
fill=yes

[com_18665]
type=layer
x=332
y=22
width=41
height=14
layer=com_15100

[com_18666]
type=rectangle
x=1
y=-2
width=41
height=41
layer=com_18665
trans=10
colour=0xcc6600
fill=yes

[com_18667]
type=layer
x=372
y=22
width=40
height=14
layer=com_15100

[com_18668]
type=rectangle
x=1
y=-1
width=41
height=41
layer=com_18667
trans=10
colour=0xcc6600
fill=yes

[com_18669]
type=layer
x=411
y=22
width=36
height=14
layer=com_15100

[com_18670]
type=rectangle
x=1
y=-3
width=41
height=41
layer=com_18669
trans=10
colour=0xcc6600
fill=yes

[com_18671]
type=rectangle
x=48
y=22
width=11
height=14
layer=com_15100
trans=50
colour=0x999900
fill=yes

[com_18672]
type=rectangle
x=48
y=36
width=409
height=11
layer=com_15100
trans=50
colour=0x999900
fill=yes

[com_18673]
type=rectangle
x=447
y=22
width=10
height=14
layer=com_15100
trans=50
colour=0x999900
fill=yes

[com_18674]
type=rectangle
x=48
y=13
width=409
height=9
layer=com_15100
trans=50
colour=0x999900
fill=yes

[com_18675]
type=text
x=217
y=47
width=79
height=17
layer=com_15100
textfont=q8_full
text=Rage level. 
textshadow=yes
colour=0xcc6600

