[com_6573]
type=layer
width=512
height=334

[com_6574]
type=inv
x=16
y=8
width=4
height=7
layer=com_6573
paddingx=10
paddingy=4
op1=Stake 1
op2=Stake 5
op3=Stake 10
op4=Stake All
op5=Stake X

