[com_13749]
type=layer
width=512
height=334

[com_13750]
type=layer
x=34
y=34
width=32
height=32
layer=com_13749

[com_13751]
type=model
x=236
y=98
width=100
height=100
layer=com_13749
model=model_7621
modelangle=500,0,0
modelzoom=1046

[com_13752]
type=model
x=214
y=107
width=100
height=100
layer=com_13749
model=model_7660
modelangle=500,0,0
modelzoom=1046

[com_13753]
type=text
x=421
y=20
width=74
height=14
layer=com_13749
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colouractive=0xffff00

[com_13754]
type=model
x=366
y=187
width=100
height=100
layer=com_13749
buttontype=1
model=null
modelactive=model_7661
modelangle=500,0,0
modelzoom=1046
script=inv_total(interface_3213:com_3214, obj_5568) > 0

[com_13755]
type=model
x=365
y=45
width=100
height=100
layer=com_13749
buttontype=1
model=null
modelactive=model_7662
modelangle=500,0,0
modelzoom=1046
script=inv_total(interface_3213:com_3214, obj_5569) > 0

[com_13756]
type=model
x=46
y=47
width=100
height=100
layer=com_13749
buttontype=1
model=null
modelactive=model_7663
modelangle=500,0,0
modelzoom=1046
script=inv_total(interface_3213:com_3214, obj_5570) > 0

[com_13757]
type=model
x=42
y=189
width=100
height=100
layer=com_13749
buttontype=1
model=null
modelactive=model_7664
modelangle=500,0,0
modelzoom=1046
script=inv_total(interface_3213:com_3214, obj_5571) > 0

