[com_0]
type=model
x=224
y=166
width=32
height=32
model=model_11365
modelangle=513,3,0
modelzoom=541

[com_1]
type=rectangle
x=194
y=27
width=133
height=89
colour=0x333333
fill=yes

[com_2]
type=rectangle
x=195
y=122
width=133
height=89
colour=0xcc0000
fill=yes

[com_3]
type=rectangle
x=195
y=217
width=133
height=89
colour=0x666666
fill=yes

[com_4]
type=rectangle
x=335
y=27
width=133
height=89
colour=0x003399
fill=yes

[com_5]
type=rectangle
x=335
y=122
width=133
height=89
colour=0x009900
fill=yes

[com_6]
type=rectangle
x=335
y=217
width=133
height=89
colour=0xcccc00
fill=yes

[com_7]
type=rectangle
x=56
y=217
width=133
height=89
colour=0x663300
fill=yes

[com_8]
type=text
x=62
y=30
width=119
height=14
textfont=b12_full
text=Attack Dummy Key
textshadow=yes
colour=0xff6600

[com_9]
type=model
x=83
y=278
width=32
height=32
model=model_15364
modelangle=0,1813,0
modelzoom=682

[com_10]
type=model
x=231
y=89
width=32
height=32
model=model_15366
modelangle=11,1875,0
modelzoom=682

[com_11]
type=model
x=228
y=189
width=32
height=32
model=model_15365
modelangle=22,1887,0
modelzoom=682

[com_12]
type=model
x=214
y=276
width=32
height=32
model=model_15363
modelangle=0,1830,0
modelzoom=682

[com_13]
type=model
x=363
y=96
width=32
height=32
model=model_15367
modelangle=2012,1864,0
modelzoom=764

[com_14]
type=model
x=363
y=179
width=32
height=32
model=model_15370
modelangle=0,1864,0
modelzoom=682

[com_15]
type=model
x=356
y=271
width=32
height=32
model=model_15369
modelangle=0,1836,0
modelzoom=682

[com_16]
type=text
x=128
y=272
width=51
height=14
textfont=p12_full
text=Accurate
textshadow=yes

[com_17]
type=text
x=277
y=85
width=31
height=14
textfont=p12_full
text=Slash
textshadow=yes

[com_18]
type=text
x=269
y=182
width=65
height=14
textfont=p12_full
text=Aggressive
textshadow=yes

[com_19]
type=text
x=263
y=281
width=58
height=14
textfont=p12_full
text=Controlled
textshadow=yes

[com_20]
type=text
x=419
y=87
width=33
height=14
textfont=p12_full
text=Crush
textshadow=yes

[com_21]
type=text
x=422
y=177
width=26
height=14
textfont=p12_full
text=Stab
textshadow=yes

[com_22]
type=text
x=399
y=278
width=61
height=14
textfont=p12_full
text=Defensive 
textshadow=yes

[com_23]
type=text
x=64
y=49
width=117
height=146
textfont=p12_full
text=\n\nThese are the types\nof attack to use on\neach of the dummies\nthat pop up from\nthe floor.\n\nYou will find that you\nneed more than one\nweapon to be\nsuccessful.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_24]
type=text
x=415
y=306
width=31
height=14
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0x000000
mouseovercolour=0xffff00

