[com_11092]
type=layer
width=512
height=334

[com_11093]
type=rectangle
x=-1
width=512
height=334
layer=com_11092
colour=0x433621
fill=yes

[com_11094]
type=model
x=223
y=139
width=32
height=32
layer=com_11092
model=model_4652
modelangle=377,5,0
modelzoom=907

[com_14185]
type=text
x=80
y=181
width=118
height=17
layer=com_11092
textfont=q8_full
text=Waterbirth Island
colour=0x282315

[com_11096]
type=text
x=102
y=81
width=70
height=17
layer=com_11092
textfont=q8_full
text=Miscellania
colour=0x282315

[com_11097]
type=text
x=309
y=81
width=60
height=17
layer=com_11092
textfont=q8_full
text=Etceteria
colour=0x282315

[com_11098]
type=text
x=329
y=264
width=53
height=17
layer=com_11092
textfont=q8_full
text=Rellekka
colour=0x282315

[com_11099]
type=model
x=276
y=136
width=32
height=32
layer=com_11092
model=model_4628
modelangle=234,63,0
modelzoom=896

