[com_18676]
type=layer
width=512
height=334

[com_18677]
type=layer
x=34
y=275
width=450
height=24
layer=com_18676
hide=yes

[com_18678]
type=text
width=450
height=24
layer=com_18677
textfont=p12_full
text=Text
textalignh=centre
textshadow=yes
colour=0xffff00

