[com_12062]
type=layer
width=512
height=334

[com_12064]
type=rectangle
width=600
height=400
layer=com_12062
colour=0x000000
fill=yes

[com_12070]
type=model
x=241
y=129
width=32
height=32
layer=com_12062
model=model_4652
modelangle=294,60,0
modelzoom=930

[com_12072]
type=model
x=258
y=136
width=32
height=32
layer=com_12062
model=model_7016
modelangle=274,70,0
modelzoom=948

[com_12080]
type=model
x=260
y=123
width=32
height=32
layer=com_12062
model=model_7023
modelangle=229,64,0
modelzoom=1056
modelanim=seq_2138
modelanimactive=seq_2138

