[com_0]
type=text
x=113
y=28
width=58
height=11
textfont=p11_full
text=Energy left:
textshadow=yes
colour=0x2ded01

[com_1]
type=text
x=129
y=40
width=28
height=14
textfont=p12_full
text=%1%
textalignh=centre
textshadow=yes
colour=0xffff00
script0=runenergy_visible

[com_2]
type=graphic
x=53
y=108
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_172 = 0

[com_3]
type=graphic
x=101
y=108
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_172 = 1

[com_4]
type=graphic
x=9
y=44
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_173 = 0

[com_5]
type=graphic
x=53
y=44
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_173 = 1

[com_6]
type=text
x=47
y=4
width=101
height=14
textfont=b12_full
text=Player controls
textshadow=yes
colour=0x00ffff

[com_7]
type=text
x=56
y=88
width=79
height=14
textfont=p12_full
text=Auto retaliate
textshadow=yes
colour=0xee7c02

[com_8]
type=text
x=109
y=118
width=20
height=14
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_9]
type=text
x=63
y=118
width=15
height=14
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_10]
type=text
x=14
y=25
width=68
height=14
textfont=p12_full
text=Move speed
textshadow=yes
colour=0x2ded01

[com_11]
type=text
x=61
y=54
width=21
height=14
textfont=p12_full
text=Run
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_12]
type=text
x=15
y=54
width=25
height=14
textfont=p12_full
text=Walk
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_13]
type=graphic
x=44
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_14]
type=graphic
x=86
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_15]
type=graphic
x=3
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_16]
type=graphic
x=127
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_17]
type=graphic
x=3
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_18]
type=graphic
x=127
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_19]
type=graphic
x=44
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_20]
type=graphic
x=3
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_21]
type=graphic
x=44
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_22]
type=graphic
x=86
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_23]
type=graphic
x=127
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_24]
type=graphic
x=86
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_25]
type=text
x=6
y=69
width=28
height=11
layer=com_40
textfont=p11_full
text=Wave
textshadow=yes
colour=0xffff00

[com_26]
type=text
x=44
y=153
width=99
height=14
textfont=p12_full
text=Emote animations
textshadow=yes
colour=0x02de01

[com_27]
type=text
x=135
y=10
width=20
height=11
layer=com_40
textfont=p11_full
text=Bow
textshadow=yes
colour=0xffff00

[com_28]
type=text
x=130
y=70
width=30
height=11
layer=com_40
textfont=p11_full
text=Dance
textshadow=yes
colour=0xffff00

[com_29]
type=text
x=6
y=39
width=30
height=11
layer=com_40
textfont=p11_full
text=Angry
textalignh=centre
textshadow=yes
colour=0xffff00

[com_30]
type=text
x=92
y=10
width=25
height=11
layer=com_40
textfont=p11_full
text=Think
textalignh=centre
textshadow=yes
colour=0xffff00

[com_31]
type=text
x=44
y=70
width=35
height=11
layer=com_40
textfont=p11_full
text=Beckon
textshadow=yes
colour=0xffff00

[com_32]
type=text
x=13
y=10
width=17
height=11
layer=com_40
textfont=p11_full
text=Yes
textshadow=yes
colour=0xffff00

[com_33]
type=text
x=55
y=10
width=13
height=11
layer=com_40
textfont=p11_full
text=No
textalignh=centre
textshadow=yes
colour=0xffff00

[com_34]
type=text
x=53
y=40
width=18
height=11
layer=com_40
textfont=p11_full
text=Cry
textshadow=yes
colour=0xffff00

[com_35]
type=text
x=104
y=55
width=76
height=11
textfont=p11_full
text=Weight carried:
textshadow=yes
colour=0x2ded01

[com_36]
type=text
x=128
y=66
width=30
height=14
textfont=p12_full
text=%1kg
textalignh=centre
textshadow=yes
colour=0xffff00
script0=runweight_visible

[com_37]
type=text
x=90
y=40
width=29
height=11
layer=com_40
textfont=p11_full
text=Laugh
textshadow=yes
colour=0xffff00

[com_38]
type=text
x=130
y=40
width=30
height=11
layer=com_40
textfont=p11_full
text=Cheer
textshadow=yes
colour=0xffff00

[com_39]
type=text
x=93
y=70
width=22
height=11
layer=com_40
textfont=p11_full
text=Clap
textshadow=yes
colour=0xffff00

[com_40]
type=layer
x=5
y=168
width=166
height=90
scrollheight=240

[com_41]
type=graphic
x=44
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_42]
type=graphic
x=86
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_43]
type=graphic
x=127
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_44]
type=graphic
x=3
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_45]
type=graphic
x=44
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_46]
type=text
x=48
y=182
width=28
height=11
layer=com_40
textfont=p11_full
text=Glass
textshadow=yes
colour=0xffff00
script=varplayerbit_1367 = 0

[com_47]
type=text
x=51
y=193
width=21
height=11
layer=com_40
textfont=p11_full
text=Wall
textshadow=yes
colour=0xffff00
script=varplayerbit_1367 = 0

[com_48]
type=text
x=94
y=164
width=20
height=11
layer=com_40
textfont=p11_full
text=Box
textshadow=yes
colour=0xffff00
script=varplayerbit_1368 = 0

[com_49]
type=text
x=90
y=153
width=28
height=11
layer=com_40
textfont=p11_full
text=Glass
textshadow=yes
colour=0xffff00
script=varplayerbit_1368 = 0

[com_50]
type=text
x=132
y=153
width=26
height=11
layer=com_40
textfont=p11_full
text=Climb
textshadow=yes
colour=0xffff00
script=varplayerbit_1369 = 0

[com_51]
type=text
x=133
y=164
width=25
height=11
layer=com_40
textfont=p11_full
text=Rope
textshadow=yes
colour=0xffff00
script=varplayerbit_1369 = 0

[com_52]
type=text
x=10
y=187
width=23
height=11
layer=com_40
textfont=p11_full
text=Lean
textshadow=yes
colour=0xffff00
script=varplayerbit_1370 = 0

[com_53]
type=text
x=51
y=153
width=23
height=11
layer=com_40
textfont=p11_full
text=Blow
textshadow=yes
colour=0xffff00

[com_54]
type=text
x=52
y=164
width=21
height=11
layer=com_40
textfont=p11_full
text=Kiss
textshadow=yes
colour=0xffff00

[com_55]
type=graphic
x=3
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_56]
type=graphic
x=44
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_57]
type=graphic
x=86
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_58]
type=graphic
x=127
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_59]
type=graphic
x=3
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_60]
type=graphic
x=44
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_61]
type=graphic
x=86
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_62]
type=graphic
x=127
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_63]
type=graphic
x=3
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_64]
type=text
x=8
y=98
width=27
height=12
layer=com_40
textfont=p11_full
text=Panic
textshadow=yes
colour=0xffff00

[com_65]
type=text
x=55
y=98
width=15
height=12
layer=com_40
textfont=p11_full
text=Jig
textshadow=yes
colour=0xffff00

[com_66]
type=text
x=93
y=98
width=22
height=12
layer=com_40
textfont=p11_full
text=Spin
textshadow=yes
colour=0xffff00

[com_67]
type=text
x=133
y=94
width=25
height=12
layer=com_40
textfont=p11_full
text=Head
textshadow=yes
colour=0xffff00

[com_68]
type=text
x=133
y=103
width=25
height=12
layer=com_40
textfont=p11_full
text=Bang
textshadow=yes
colour=0xffff00

[com_69]
type=text
x=12
y=122
width=18
height=12
layer=com_40
textfont=p11_full
text=Joy
textshadow=yes
colour=0xffff00

[com_70]
type=text
x=9
y=132
width=25
height=12
layer=com_40
textfont=p11_full
text=Jump
textshadow=yes
colour=0xffff00

[com_71]
type=text
x=48
y=122
width=29
height=12
layer=com_40
textfont=p11_full
text=Rasp'
textshadow=yes
colour=0xffff00

[com_72]
type=text
x=48
y=132
width=28
height=12
layer=com_40
textfont=p11_full
text=berry
textshadow=yes
colour=0xffff00

[com_73]
type=text
x=93
y=127
width=24
height=12
layer=com_40
textfont=p11_full
text=Yawn
textshadow=yes
colour=0xffff00

[com_74]
type=text
x=129
y=127
width=32
height=12
layer=com_40
textfont=p11_full
text=Salute
textshadow=yes
colour=0xffff00

[com_75]
type=text
x=6
y=156
width=30
height=12
layer=com_40
textfont=p11_full
text=Shrug
textshadow=yes
colour=0xffff00

[com_76]
type=graphic
x=86
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_77]
type=graphic
x=127
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_78]
type=graphic
x=3
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_79]
type=text
x=89
y=182
width=31
height=12
layer=com_40
textfont=p11_full
text=Goblin
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_80]
type=text
x=130
y=182
width=31
height=12
layer=com_40
textfont=p11_full
text=Goblin
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_81]
type=text
x=94
y=193
width=20
height=12
layer=com_40
textfont=p11_full
text=Bow
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_82]
type=text
x=130
y=193
width=30
height=12
layer=com_40
textfont=p11_full
text=Dance
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_83]
type=text
x=3
y=215
width=35
height=12
layer=com_40
textfont=p11_full
text=Scared
textshadow=yes
colour=0xffff00
script=varplayerbit_1371 = 0

[com_84]
type=graphic
x=44
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_85]
type=graphic
x=86
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_86]
type=graphic
x=127
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_87]
type=text
x=44
y=211
width=35
height=12
layer=com_40
textfont=p11_full
text=Zombie
textshadow=yes
colour=0xffff00
script=varplayerbit_1921 = 0

[com_88]
type=text
x=51
y=223
width=23
height=12
layer=com_40
textfont=p11_full
text=Walk
textshadow=yes
colour=0xffff00
script=varplayerbit_1921 = 0

[com_89]
type=text
x=87
y=211
width=35
height=12
layer=com_40
textfont=p11_full
text=Zombie
textshadow=yes
colour=0xffff00
script=varplayerbit_1920 = 0

[com_90]
type=text
x=89
y=223
width=30
height=12
layer=com_40
textfont=p11_full
text=Dance
textshadow=yes
colour=0xffff00
script=varplayerbit_1920 = 0

[com_91]
type=text
x=129
y=211
width=32
height=12
layer=com_40
textfont=p11_full
text=Rabbit
textshadow=yes
colour=0xffff00
script=varplayerbit_2055 = 0

[com_92]
type=text
x=136
y=223
width=19
height=12
layer=com_40
textfont=p11_full
text=Hop
textshadow=yes
colour=0xffff00
script=varplayerbit_2055 = 0

