[com_592]
type=layer
width=512
height=334

[com_593]
type=model
x=135
y=16
width=35
height=32
layer=com_592
model=model_2455
modelangle=521,1288,0
modelzoom=624

[com_594]
type=text
x=4
y=10
width=47
height=14
layer=com_592
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_595]
type=text
x=52
y=10
width=17
height=14
layer=com_592
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_596]
type=text
x=4
y=40
width=114
height=14
layer=com_592
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_597]
type=layer
x=4
y=60
width=145
height=190
layer=com_592

[com_598]
type=graphic
x=5
y=97
width=72
height=36
layer=com_597
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_599]
type=graphic
x=5
y=51
width=72
height=36
layer=com_597
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_600]
type=graphic
x=5
y=5
width=72
height=36
layer=com_597
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_601]
type=graphic
x=22
y=103
width=34
height=24
layer=com_597
graphic=combaticons2,0

[com_602]
type=graphic
x=21
y=11
width=34
height=24
layer=com_597
graphic=combaticons2,2

[com_603]
type=graphic
x=22
y=57
width=34
height=24
layer=com_597
graphic=combaticons2,3

[com_604]
type=text
x=78
y=5
width=31
height=11
layer=com_597
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_605]
type=text
x=78
y=51
width=36
height=11
layer=com_597
textfont=p11_full
text=Pummel
textshadow=yes
colour=0xffff00

[com_606]
type=text
x=78
y=97
width=26
height=11
layer=com_597
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_607]
type=text
x=78
y=64
width=64
height=11
layer=com_597
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_608]
type=text
x=78
y=18
width=50
height=11
layer=com_597
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_609]
type=text
x=78
y=110
width=58
height=11
layer=com_597
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_610]
type=text
x=82
y=90
width=36
height=11
layer=com_592
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_611]
type=text
x=82
y=136
width=36
height=11
layer=com_592
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_612]
type=text
x=82
y=182
width=36
height=11
layer=com_592
textfont=p11_full
text=(Crush)
colour=0xffff00

