[com_13901]
type=layer
width=512
height=334

[com_13902]
type=text
y=-1
width=480
height=17
layer=com_13901
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_13903]
type=text
y=15
width=480
height=16
layer=com_13901
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13904]
type=text
y=31
width=480
height=16
layer=com_13901
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13905]
type=text
y=47
width=480
height=16
layer=com_13901
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13906]
type=text
y=63
width=480
height=16
layer=com_13901
buttontype=1
textfont=q8_full
text=option4
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13907]
type=text
y=79
width=480
height=16
layer=com_13901
buttontype=6
textfont=q8_full
text=option5
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13908]
type=graphic
width=57
height=13
layer=com_13910
graphic=sworddecor,1

[com_13909]
type=graphic
x=172
width=57
height=13
layer=com_13910
graphic=sworddecor,0

[com_13910]
type=layer
x=126
y=1
width=229
height=13
layer=com_13901

[com_13911]
type=layer
x=2
y=1
width=476
height=13
layer=com_13901
hide=yes

[com_13912]
type=graphic
width=57
height=13
layer=com_13911
graphic=sworddecor,1

[com_13913]
type=graphic
x=419
width=57
height=13
layer=com_13911
graphic=sworddecor,0

