[com_13975]
type=layer
width=512
height=334

[com_13976]
type=text
x=4
y=10
width=47
height=14
layer=com_13975
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_13977]
type=text
x=52
y=10
width=17
height=14
layer=com_13975
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_13978]
type=text
x=4
y=40
width=114
height=14
layer=com_13975
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_13979]
type=layer
x=4
y=60
width=145
height=190
layer=com_13975

[com_13980]
type=graphic
x=4
y=36
width=72
height=36
layer=com_13979
graphic=combatboxes,1
graphicactive=combatboxes,1

[com_13981]
type=model
x=132
y=25
width=32
height=32
layer=com_13975
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_13982]
type=graphic
x=4
y=108
width=72
height=36
layer=com_13979
buttontype=1
graphic=combatboxes,0
graphicactive=combatboxes,1
buttontext=Select

[com_13983]
type=graphic
x=23
y=41
width=34
height=24
layer=com_13979
graphic=combaticons,15

[com_13984]
type=graphic
x=25
y=111
width=30
height=30
layer=com_13979
graphic=prayeron,13

[com_13985]
type=text
x=77
y=36
width=19
height=12
layer=com_13979
textfont=p11_full
text=Kick
textshadow=yes
colour=0xffff00

[com_13986]
type=text
x=78
y=119
width=60
height=12
layer=com_13979
textfont=p11_full
text=Aim and Fire
textshadow=yes
colour=0xffff00

[com_13987]
type=text
x=77
y=48
width=64
height=12
layer=com_13979
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_13988]
type=text
x=81
y=121
width=36
height=11
layer=com_13975
textfont=p11_full
text=(Crush)
colour=0xffff00

