[com_11104]
type=layer
width=512
height=334

[com_11110]
type=text
x=424
y=28
width=68
height=11
layer=com_11104
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_11111]
type=model
x=239
y=155
width=32
height=32
layer=com_11104
model=model_3044
modelzoom=525

[com_11112]
type=text
x=82
y=82
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
textshadow=yes

[com_11113]
type=text
x=82
y=98
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11114]
type=text
x=82
y=114
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11115]
type=text
x=82
y=131
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11116]
type=text
x=82
y=148
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11117]
type=text
x=82
y=165
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11118]
type=text
x=82
y=182
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11119]
type=text
x=82
y=199
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11120]
type=text
x=82
y=216
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11121]
type=text
x=82
y=233
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11122]
type=text
x=82
y=250
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

[com_11123]
type=text
x=82
y=267
width=354
height=14
layer=com_11104
textfont=q8_full
textalignh=centre
colour=0xcccccc

