[com_0]
type=model
x=237
y=183
width=32
height=32
model=model_9857
modelangle=501,0,0
modelzoom=256

[com_1]
type=model
x=243
y=39
width=32
height=32
model=model_9856
modelangle=512,2031,0
modelzoom=799

[com_2]
type=model
x=103
y=256
width=32
height=32
model=model_9855
modelangle=106,207,0
modelzoom=400

[com_3]
type=model
x=340
y=223
width=32
height=32
model=model_9926
modelangle=73,237,0
modelzoom=400
modelanim=seq_319
modelanimactive=seq_319

