[com_0]
type=model
x=186
y=306
width=32
height=32
model=model_18879
modelangle=512,0,0
modelzoom=1360

[com_1]
type=model
x=186
y=284
width=32
height=32
model=model_18879
modelangle=512,0,0
modelzoom=1360

[com_2]
type=model
x=186
y=261
width=32
height=32
model=model_18878
modelangle=512,0,0
modelzoom=1360

[com_3]
type=text
x=22
y=269
width=88
height=18
textfont=b12_full
text=PLAYER 
textshadow=yes
colour=0xd1b47f

[com_4]
type=text
x=22
y=293
width=106
height=16
textfont=b12_full
text=SHOTS
textshadow=yes
colour=0xd1b47f

[com_5]
type=text
x=22
y=315
width=115
height=14
textfont=b12_full
text=SCORE
textshadow=yes
colour=0xd1b47f

[com_6]
type=text
x=167
y=272
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_7]
type=text
x=251
y=272
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_8]
type=text
x=332
y=272
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_9]
type=text
x=415
y=272
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_10]
type=text
x=167
y=293
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_11]
type=text
x=251
y=294
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_12]
type=text
x=332
y=292
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_13]
type=text
x=415
y=294
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_14]
type=text
x=167
y=316
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_15]
type=text
x=251
y=317
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_16]
type=text
x=332
y=314
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_17]
type=text
x=415
y=315
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xbbaf35

[com_18]
type=text
x=167
y=258
width=5
height=17
textfont=b12_full
textalignh=centre
colour=0xcc0000

[com_19]
type=text
x=251
y=258
width=5
height=17
textfont=b12_full
textalignh=centre
colour=0xcc0000

[com_20]
type=text
x=332
y=258
width=5
height=17
textfont=b12_full
textalignh=centre
colour=0xcc0000

[com_21]
type=text
x=415
y=258
width=5
height=17
textfont=b12_full
textalignh=centre
colour=0xcc0000

[com_22]
type=text
x=20
y=241
width=6
height=14
textfont=p12_full
colour=0xbbaf35

