[com_0]
type=model
x=75
y=238
width=32
height=32
model=model_20553
modelzoom=1800

[com_1]
type=model
x=36
y=81
width=32
height=32
model=model_20551
modelzoom=1800

[com_2]
type=model
y=29
width=32
height=32
model=model_20544
modelzoom=1040

[com_3]
type=model
y=58
width=32
height=32
model=model_20545
modelzoom=1040

[com_4]
type=model
x=1
y=86
width=32
height=32
model=model_20543
modelzoom=1040

[com_5]
type=model
x=-58
y=-29
width=32
height=32
layer=com_8
model=model_38337
modelzoom=1040

[com_6]
type=model
x=-34
y=24
width=32
height=32
layer=com_9
model=model_38336
modelzoom=1040

[com_7]
type=model
x=-81
y=4
width=32
height=32
layer=com_10
model=model_38334
modelzoom=1040

[com_8]
type=layer
x=58
y=58
width=32
height=32
hide=yes

[com_9]
type=layer
x=34
y=34
width=32
height=32
hide=yes

[com_10]
type=layer
x=82
y=82
width=32
height=32
hide=yes

[com_11]
type=text
x=34
y=21
width=52
height=28
mouseoverlayer=com_8
buttontype=1
textfont=p12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Poison egg -> Healer

[com_12]
type=text
x=34
y=50
width=52
height=28
mouseoverlayer=com_9
buttontype=1
textfont=p12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Explosive egg -> Healer

[com_13]
type=text
x=34
y=80
width=52
height=28
mouseoverlayer=com_10
buttontype=1
textfont=p12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Stun egg -> Healer

[com_14]
type=model
x=130
y=81
width=32
height=32
model=model_20556
modelzoom=1800

[com_15]
type=model
x=94
y=27
width=32
height=32
model=model_20544
modelzoom=1040

[com_16]
type=model
x=94
y=56
width=32
height=32
model=model_20545
modelzoom=1040

[com_17]
type=model
x=94
y=84
width=32
height=32
model=model_20543
modelzoom=1040

[com_18]
type=model
x=-36
y=-104
width=32
height=32
layer=com_21
model=model_38337
modelzoom=1040

[com_19]
type=model
x=-60
y=-99
width=32
height=32
layer=com_22
model=model_38336
modelzoom=1040

[com_20]
type=model
x=86
y=-95
width=32
height=32
layer=com_23
model=model_38334
modelzoom=1040

[com_21]
type=layer
x=130
y=130
width=32
height=32
hide=yes

[com_22]
type=layer
x=154
y=154
width=32
height=32
hide=yes

[com_23]
type=layer
x=8
y=178
width=32
height=32
hide=yes

[com_24]
type=text
x=129
y=21
width=52
height=28
mouseoverlayer=com_21
buttontype=1
textfont=p12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Poison egg -> Runner

[com_25]
type=text
x=129
y=50
width=52
height=28
mouseoverlayer=com_22
buttontype=1
textfont=p12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Explosive egg -> Runner

[com_26]
type=text
x=129
y=80
width=52
height=28
mouseoverlayer=com_23
buttontype=1
textfont=p12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Stun egg -> Runner

[com_27]
type=model
x=35
y=164
width=32
height=32
model=model_20548
modelzoom=1800

[com_28]
type=model
y=115
width=32
height=32
model=model_20544
modelzoom=1040

[com_29]
type=model
y=144
width=32
height=32
model=model_20545
modelzoom=1040

[com_30]
type=model
x=1
y=172
width=32
height=32
model=model_20543
modelzoom=1040

[com_31]
type=model
x=-106
y=9
width=32
height=32
layer=com_34
model=model_38337
modelzoom=1040

[com_32]
type=model
x=-56
y=-82
width=32
height=32
layer=com_35
model=model_38336
modelzoom=1040

[com_33]
type=model
x=-79
y=163
width=32
height=32
layer=com_36
model=model_38334
modelzoom=1040

[com_34]
type=layer
x=106
y=106
width=32
height=32
hide=yes

[com_35]
type=layer
x=56
y=226
width=32
height=32
hide=yes

[com_36]
type=layer
x=80
y=9
width=32
height=32
hide=yes

[com_37]
type=text
x=34
y=104
width=52
height=28
mouseoverlayer=com_34
buttontype=1
textfont=p12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Poison egg -> Fighter

[com_38]
type=text
x=34
y=133
width=52
height=28
mouseoverlayer=com_35
buttontype=1
textfont=p12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Explosive egg -> Fighter

[com_39]
type=text
x=34
y=162
width=52
height=28
mouseoverlayer=com_36
buttontype=1
textfont=p12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Stun egg -> Fighter

[com_40]
type=model
x=129
y=163
width=32
height=32
model=model_20555
modelzoom=1800

[com_41]
type=model
x=94
y=114
width=32
height=32
model=model_20544
modelzoom=1040

[com_42]
type=model
x=94
y=143
width=32
height=32
model=model_20545
modelzoom=1040

[com_43]
type=model
x=94
y=171
width=32
height=32
model=model_20543
modelzoom=1040

[com_44]
type=model
x=-10
y=81
width=32
height=32
layer=com_47
model=model_38337
modelzoom=1040

[com_45]
type=model
x=62
y=-59
width=32
height=32
layer=com_48
model=model_38336
modelzoom=1040

[com_46]
type=model
x=-34
y=114
width=32
height=32
layer=com_49
model=model_38334
modelzoom=1040

[com_47]
type=layer
x=104
y=33
width=32
height=32
hide=yes

[com_48]
type=layer
x=32
y=202
width=32
height=32
hide=yes

[com_49]
type=layer
x=128
y=57
width=32
height=32
hide=yes

[com_50]
type=text
x=129
y=104
width=52
height=28
mouseoverlayer=com_47
buttontype=1
textfont=p12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Poison egg -> Ranger

[com_51]
type=text
x=129
y=133
width=52
height=28
mouseoverlayer=com_48
buttontype=1
textfont=p12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Explosive egg -> Ranger

[com_52]
type=text
x=129
y=162
width=52
height=28
mouseoverlayer=com_49
buttontype=1
textfont=p12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Stun egg -> Ranger

[com_53]
type=model
x=41
y=238
width=32
height=32
model=model_20572
modelzoom=1040

[com_54]
type=model
x=-111
y=157
width=32
height=32
layer=com_55
model=model_38335
modelzoom=1040

[com_55]
type=layer
x=152
y=81
width=32
height=32
hide=yes

[com_56]
type=text
x=75
y=229
width=42
height=28
mouseoverlayer=com_55
buttontype=1
textfont=p12_full
text=Omega
textalignv=centre
textshadow=yes
colour=0xbf751d
mouseovercolour=0xe1981f
buttontext=Omega egg -> Queen

[com_57]
type=text
x=2
y=27
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_58]
type=text
x=2
y=56
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_59]
type=text
x=2
y=87
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_60]
type=text
x=95
y=25
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_61]
type=text
x=95
y=54
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_62]
type=text
x=95
y=85
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_63]
type=text
x=1
y=110
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_64]
type=text
x=1
y=139
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_65]
type=text
x=1
y=170
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_66]
type=text
x=95
y=109
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_67]
type=text
x=95
y=138
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_68]
type=text
x=95
y=169
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_69]
type=text
x=40
y=236
width=30
height=16
textfont=p12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xbf751d

[com_70]
type=graphic
x=163
y=8
width=16
height=16
mouseoverlayer=com_72
graphic="v2_stone_close_button,0"

[com_71]
type=graphic
width=16
height=16
layer=com_72
graphic="v2_stone_close_button,1"

[com_72]
type=layer
x=164
y=8
width=16
height=16
hide=yes
buttontype=1
buttontext=Close

