[com_8292]
type=layer
width=512
height=334

[com_8293]
type=graphic
x=12
y=20
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8294]
type=graphic
x=15
y=80
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8295]
type=graphic
x=12
y=140
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8296]
type=graphic
x=12
y=200
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8297]
type=graphic
x=12
y=260
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8298]
type=graphic
x=100
y=20
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8299]
type=graphic
x=100
y=80
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8300]
type=graphic
x=100
y=140
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8301]
type=graphic
x=100
y=200
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8302]
type=graphic
x=188
y=20
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8303]
type=graphic
x=100
y=260
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8304]
type=graphic
x=188
y=80
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8305]
type=graphic
x=188
y=140
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8306]
type=graphic
x=188
y=200
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8307]
type=graphic
x=188
y=260
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8308]
type=graphic
x=276
y=20
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8309]
type=graphic
x=364
y=80
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8310]
type=graphic
x=276
y=80
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8311]
type=graphic
x=276
y=140
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8312]
type=graphic
x=276
y=200
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8313]
type=graphic
x=276
y=260
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8314]
type=graphic
x=364
y=140
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8315]
type=graphic
x=364
y=20
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8316]
type=graphic
x=359
y=200
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8317]
type=graphic
x=364
y=260
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8318]
type=graphic
x=412
y=20
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8319]
type=graphic
x=412
y=80
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8320]
type=graphic
x=412
y=140
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8321]
type=graphic
x=406
y=200
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8322]
type=graphic
x=412
y=260
width=88
height=60
layer=com_8292
graphic=tradebacking,0

[com_8323]
type=graphic
x=12
y=20
width=25
height=30
layer=com_8292
graphic=steelborder,0

[com_8324]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8325]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8326]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8327]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8328]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8329]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8330]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_8292
graphic=miscgraphics,2

[com_8331]
type=graphic
x=479
y=50
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8332]
type=graphic
x=479
y=86
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8333]
type=graphic
x=479
y=122
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8334]
type=graphic
x=479
y=158
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8335]
type=graphic
x=479
y=194
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8336]
type=graphic
x=479
y=230
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8337]
type=graphic
x=479
y=266
width=36
height=36
layer=com_8292
graphic=steelborder2,1

[com_8338]
type=graphic
x=73
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8339]
type=graphic
x=109
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8340]
type=graphic
x=145
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8341]
type=graphic
x=181
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8342]
type=graphic
x=217
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8343]
type=graphic
x=253
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8344]
type=graphic
x=289
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8345]
type=graphic
x=325
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8346]
type=graphic
x=361
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8347]
type=graphic
x=397
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8348]
type=graphic
x=433
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8349]
type=graphic
x=72
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8350]
type=graphic
x=108
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8351]
type=graphic
x=144
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8352]
type=graphic
x=180
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8353]
type=graphic
x=216
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8354]
type=graphic
x=252
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8355]
type=graphic
x=288
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8356]
type=graphic
x=324
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8357]
type=graphic
x=360
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8358]
type=graphic
x=396
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8359]
type=graphic
x=432
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8360]
type=graphic
x=252
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8361]
type=graphic
x=37
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8362]
type=graphic
x=37
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8363]
type=graphic
x=12
y=290
width=25
height=30
layer=com_8292
graphic=steelborder,2

[com_8364]
type=graphic
x=475
y=20
width=25
height=30
layer=com_8292
graphic=steelborder,1

[com_8365]
type=graphic
x=439
y=5
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8366]
type=graphic
x=475
y=290
width=25
height=30
layer=com_8292
graphic=steelborder,3

[com_8367]
type=graphic
x=439
y=299
width=36
height=36
layer=com_8292
graphic=miscgraphics,3

[com_8368]
type=graphic
x=288
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8369]
type=graphic
x=324
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8370]
type=graphic
x=360
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8371]
type=graphic
x=396
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8372]
type=graphic
x=432
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8373]
type=graphic
x=459
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8374]
type=graphic
x=216
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8375]
type=graphic
x=180
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8376]
type=graphic
x=144
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8377]
type=graphic
x=108
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8378]
type=graphic
x=72
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8379]
type=graphic
x=36
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8380]
type=graphic
x=17
y=34
width=36
height=36
layer=com_8292
graphic=steelborder2,0

[com_8381]
type=model
x=355
y=237
width=50
height=49
layer=com_8292
buttontype=1
model=model_3664
modelangle=197,1913,0
modelzoom=335
buttontext=Buy for 800 tickets

[com_8382]
type=model
x=84
y=235
width=47
height=44
layer=com_8292
buttontype=1
model=model_2364
modelangle=539,1735,0
modelzoom=400
buttontext=Buy for 3 tickets

[com_8383]
type=text
x=21
y=29
width=227
height=14
layer=com_8292
textfont=p12_full
text=Brimhaven Agility Arena Ticket Exchange
textshadow=yes
colour=0xccaa44

[com_8384]
type=text
x=78
y=213
width=44
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Toadflax
textactive=Toadflax
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 3 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 2

[com_8385]
type=text
x=349
y=213
width=66
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Pirate's hook
textactive=Pirate's hook
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 800 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 799

[com_8386]
type=text
x=423
y=29
width=68
height=11
layer=com_8292
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_8387]
type=model
x=45
y=108
width=39
height=56
layer=com_8292
buttontype=1
model=model_3328
modelangle=526,2042,0
modelzoom=704
buttontext=Buy for 1 ticket

[com_8388]
type=text
x=28
y=88
width=68
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Experience (1)
textactive=Experience (1)
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 1 ticket
script=inv_total(interface_3213:com_3214, obj_2996) > 0

[com_8389]
type=model
x=137
y=108
width=39
height=56
layer=com_8292
buttontype=1
model=model_3328
modelangle=526,2042,0
modelzoom=704
buttontext=Buy for 10 tickets

[com_8390]
type=model
x=229
y=108
width=39
height=56
layer=com_8292
buttontype=1
model=model_3328
modelangle=526,2042,0
modelzoom=704
buttontext=Buy for 25 tickets

[com_8391]
type=model
x=321
y=108
width=39
height=56
layer=com_8292
buttontype=1
model=model_3328
modelangle=526,2042,0
modelzoom=704
buttontext=Buy for 100 tickets

[com_8392]
type=model
x=413
y=108
width=39
height=56
layer=com_8292
buttontype=1
model=model_3328
modelangle=526,2042,0
modelzoom=704
buttontext=Buy for 1000 tickets

[com_8393]
type=model
x=185
y=235
width=47
height=44
layer=com_8292
buttontype=1
model=model_2364
modelangle=539,1735,0
modelzoom=400
buttontext=Buy for 10 tickets

[com_8394]
type=text
x=173
y=213
width=60
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Snapdragon
textactive=Snapdragon
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 10 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 9

[com_8395]
type=text
x=120
y=88
width=75
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Experience (10)
textactive=Experience (10)
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 10 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 9

[com_8396]
type=text
x=212
y=88
width=77
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Experience (25)
textactive=Experience (25)
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 25 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 24

[com_8397]
type=text
x=304
y=88
width=82
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Experience (100)
textactive=Experience (100)
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 100 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 99

[com_8398]
type=text
x=396
y=88
width=89
height=11
layer=com_8292
buttontype=1
textfont=p11_full
text=Experience (1000)
textactive=Experience (1000)
textalignh=centre
textshadow=yes
colour=0x888888
colouractive=0xcccccc
buttontext=Buy for 1000 tickets
script=inv_total(interface_3213:com_3214, obj_2996) > 999

