[com_8680]
type=layer
width=512
height=334

[com_8681]
type=rectangle
x=35
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 1

[com_8682]
type=rectangle
x=56
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 2

[com_8683]
type=rectangle
x=77
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 3

[com_8684]
type=rectangle
x=98
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 4

[com_8923]
type=rectangle
x=119
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 5

[com_8924]
type=rectangle
x=140
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 6

[com_8925]
type=rectangle
x=161
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 7

[com_8926]
type=rectangle
x=182
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 8

[com_8927]
type=rectangle
x=203
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 9

[com_8928]
type=rectangle
x=224
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 10

[com_8929]
type=rectangle
x=245
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 11

[com_8930]
type=rectangle
x=266
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 12

[com_8931]
type=rectangle
x=287
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 13

[com_8932]
type=rectangle
x=308
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 14

[com_8933]
type=rectangle
x=329
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 15

[com_12156]
type=rectangle
x=350
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 16

[com_12157]
type=rectangle
x=371
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 17

[com_12158]
type=rectangle
x=392
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 18

[com_12159]
type=rectangle
x=413
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 19

[com_12160]
type=rectangle
x=434
y=25
width=21
height=10
layer=com_12161
trans=128
colour=0x000000
colouractive=0x8080ff
fill=yes
script=varplayer_406 > 20

[com_12161]
type=layer
x=34
y=275
width=504
height=66
layer=com_8680

[com_12224]
type=text
x=25
y=298
width=42
height=14
layer=com_8680
textfont=p12_full
text=% Done
textshadow=yes
colour=0x888888

[com_12225]
type=text
x=214
y=313
width=134
height=14
layer=com_8680
textfont=p12_full
text=Tutorial Island Progress
textshadow=yes
colour=0xffff00

[com_12226]
type=rectangle
x=69
y=300
width=421
height=10
layer=com_8680
trans=128
colour=0x808080

[com_12227]
type=layer
y=206
width=512
height=128
layer=com_8680

[com_12228]
type=model
x=228
y=29
width=32
height=32
layer=com_12227
model=model_5201
modelzoom=1500
modelanim=seq_1638

[com_12229]
type=text
x=54
y=49
width=390
height=14
layer=com_12227
textfont=b12_full
text=Please follow the instructions below
textalignh=centre
colour=0x000000

[com_12230]
type=text
x=54
y=64
width=390
height=14
layer=com_12227
textfont=b12_full
text=to advance in the tutorial.
textalignh=centre
colour=0x000000

