[com_9043]
type=layer
width=512
height=334

[com_9044]
type=model
x=228
y=163
width=32
height=32
layer=com_9043
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_9045]
type=text
x=430
y=8
width=74
height=14
layer=com_9043
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_9046]
type=model
x=332
y=183
width=32
height=32
layer=com_9043
model=model_4154
modelangle=453,384,0
modelzoom=1351

[com_9047]
type=model
x=341
y=180
width=32
height=32
layer=com_9043
model=model_4154
modelangle=457,455,0
modelzoom=1351

[com_9048]
type=model
x=293
y=185
width=32
height=32
layer=com_9043
model=model_4154
modelangle=460,440,0
modelzoom=1351

[com_9049]
type=model
x=285
y=189
width=32
height=32
layer=com_9043
model=model_4154
modelangle=495,310,0
modelzoom=1351

[com_9050]
type=model
x=261
y=222
width=32
height=32
layer=com_9043
model=model_4154
modelangle=495,310,0
modelzoom=1351

[com_9051]
type=model
x=269
y=216
width=32
height=32
layer=com_9043
model=model_4154
modelangle=481,231,0
modelzoom=1351

[com_9052]
type=model
x=275
y=207
width=32
height=32
layer=com_9043
model=model_4154
modelangle=459,146,0
modelzoom=1351

[com_9053]
type=model
x=150
y=229
width=32
height=32
layer=com_9043
model=model_3388
modelangle=493,18,0
modelzoom=531

[com_9054]
type=model
x=165
y=49
width=32
height=32
layer=com_9043
model=model_3388
modelangle=527,515,0
modelzoom=531

[com_9055]
type=model
x=279
y=195
width=32
height=32
layer=com_9043
model=model_4154
modelangle=459,146,0
modelzoom=1351

[com_9056]
type=model
x=340
y=62
width=32
height=32
layer=com_9043
model=model_3388
modelangle=578,1030,0
modelzoom=531

[com_9057]
type=model
x=276
y=202
width=32
height=32
layer=com_9043
model=model_4154
modelangle=455,110,0
modelzoom=1351

[com_9058]
type=model
x=314
y=184
width=32
height=32
layer=com_9043
model=model_3396
modelangle=660,519,0
modelzoom=1332

[com_9059]
type=model
x=321
y=245
width=32
height=32
layer=com_9043
model=model_3388
modelangle=576,1544,0
modelzoom=531

[com_9060]
type=model
x=214
y=248
width=32
height=32
layer=com_9043
model=model_4154
modelangle=513,319,0
modelzoom=1351

[com_9061]
type=model
x=207
y=254
width=32
height=32
layer=com_9043
model=model_4154
modelangle=392,189,0
modelzoom=1351

[com_9062]
type=model
x=223
y=244
width=32
height=32
layer=com_9043
model=model_4154
modelangle=542,402,0
modelzoom=1351

[com_9063]
type=model
x=233
y=243
width=32
height=32
layer=com_9043
model=model_4154
modelangle=579,479,0
modelzoom=1351

[com_9064]
type=model
x=242
y=240
width=32
height=32
layer=com_9043
model=model_4154
modelangle=530,357,0
modelzoom=1351

[com_9065]
type=model
x=284
y=233
width=32
height=32
layer=com_9043
model=model_3387
modelangle=463,2005,0
modelzoom=1587

[com_9066]
type=model
x=328
y=208
width=32
height=32
layer=com_9043
model=model_3387
modelangle=554,105,0
modelzoom=1615

[com_9067]
type=model
x=304
y=232
width=32
height=32
layer=com_9043
model=model_3387
modelangle=500,0,0
modelzoom=1431

[com_9068]
type=model
x=311
y=208
width=32
height=32
layer=com_9043
model=model_3387
modelangle=407,1966,0
modelzoom=1611

[com_9069]
type=model
x=249
y=234
width=32
height=32
layer=com_9043
model=model_4154
modelangle=479,195,0
modelzoom=1351

[com_9070]
type=model
x=253
y=228
width=32
height=32
layer=com_9043
model=model_4154
modelangle=550,230,0
modelzoom=1351

[com_9071]
type=model
x=283
y=124
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,0,0
modelzoom=553

[com_9072]
type=model
x=274
y=174
width=32
height=32
layer=com_9043
model=model_3399
modelangle=535,233,0
modelzoom=553

[com_9073]
type=model
x=223
y=186
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,513,0
modelzoom=553

[com_9074]
type=model
x=180
y=186
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,513,0
modelzoom=553

[com_9075]
type=model
x=283
y=79
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,0,0
modelzoom=553

[com_9076]
type=model
x=260
y=164
width=32
height=32
layer=com_9043
model=model_3399
modelangle=535,233,0
modelzoom=772

[com_9077]
type=model
x=251
y=143
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=1730

[com_9078]
type=model
x=266
y=118
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,0,0
modelzoom=553

[com_9079]
type=model
x=266
y=80
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,0,0
modelzoom=553

[com_9080]
type=model
x=214
y=172
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,513,0
modelzoom=553

[com_9081]
type=model
x=180
y=172
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,513,0
modelzoom=553

[com_9082]
type=model
x=234
y=137
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,230,0
modelzoom=809

[com_9083]
type=model
x=221
y=151
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,234,0
modelzoom=809

[com_9084]
type=model
x=247
y=124
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,230,0
modelzoom=809

[com_9085]
type=model
x=216
y=137
width=9
height=61
layer=com_9043
model=model_3399
modelangle=519,745,0
modelzoom=809

[com_9086]
type=model
x=255
y=97
width=9
height=61
layer=com_9043
model=model_3399
modelangle=519,745,0
modelzoom=809

[com_9087]
type=model
x=240
y=85
width=9
height=61
layer=com_9043
model=model_3399
modelangle=519,745,0
modelzoom=809

[com_9088]
type=model
x=226
y=74
width=9
height=61
layer=com_9043
model=model_3399
modelangle=519,745,0
modelzoom=809

[com_9089]
type=model
x=201
y=125
width=9
height=61
layer=com_9043
model=model_3399
modelangle=519,745,0
modelzoom=809

[com_9090]
type=model
x=188
y=115
width=9
height=61
layer=com_9043
model=model_3399
modelangle=519,745,0
modelzoom=809

[com_9091]
type=model
x=177
y=117
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,234,0
modelzoom=809

[com_9092]
type=model
x=202
y=90
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,234,0
modelzoom=809

[com_9093]
type=model
x=223
y=60
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,513,0
modelzoom=1005

[com_9094]
type=model
x=155
y=139
width=32
height=32
layer=com_9043
model=model_3398
modelangle=512,1025,0
modelzoom=1005

[com_9095]
type=model
x=149
y=160
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,493,0
modelzoom=1013

[com_9096]
type=model
x=148
y=119
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,493,0
modelzoom=1013

[com_9097]
type=model
x=202
y=48
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,1023,0
modelzoom=804

[com_9098]
type=model
x=242
y=50
width=32
height=32
layer=com_9043
model=model_3399
modelangle=512,1023,0
modelzoom=804

[com_9099]
type=model
x=310
y=76
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=1730

[com_9100]
type=model
x=341
y=125
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=1796

[com_9101]
type=model
x=232
y=213
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=1796

[com_9102]
type=model
x=200
y=234
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=1796

[com_9103]
type=model
x=178
y=214
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=2301

[com_9104]
type=model
x=161
y=215
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=2259

[com_9105]
type=model
x=169
y=203
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=2301

[com_9106]
type=model
x=150
y=202
width=32
height=32
layer=com_9043
model=model_3397
modelangle=467,2031,0
modelzoom=2301

[com_9107]
type=model
x=238
y=151
width=32
height=32
layer=com_9043
model=model_3389
modelangle=474,1775,0
modelzoom=1349

