[com_10874]
type=layer
width=512
height=334

[com_10875]
type=graphic
x=12
y=20
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10876]
type=graphic
x=12
y=80
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10877]
type=graphic
x=12
y=140
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10878]
type=graphic
x=12
y=200
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10879]
type=graphic
x=12
y=260
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10880]
type=graphic
x=100
y=20
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10881]
type=graphic
x=100
y=80
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10882]
type=graphic
x=100
y=140
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10883]
type=graphic
x=100
y=200
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10884]
type=graphic
x=188
y=20
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10885]
type=graphic
x=100
y=260
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10886]
type=graphic
x=188
y=80
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10887]
type=graphic
x=188
y=140
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10888]
type=graphic
x=188
y=200
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10889]
type=graphic
x=276
y=20
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10890]
type=graphic
x=188
y=260
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10891]
type=graphic
x=364
y=80
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10892]
type=graphic
x=276
y=80
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10893]
type=graphic
x=276
y=140
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10894]
type=graphic
x=276
y=200
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10895]
type=graphic
x=276
y=260
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10896]
type=graphic
x=364
y=140
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10897]
type=graphic
x=364
y=20
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10898]
type=graphic
x=364
y=200
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10899]
type=graphic
x=364
y=260
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10900]
type=graphic
x=412
y=20
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10901]
type=graphic
x=412
y=80
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10902]
type=graphic
x=412
y=140
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10903]
type=graphic
x=412
y=200
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10904]
type=graphic
x=409
y=258
width=88
height=60
layer=com_10874
graphic=tradebacking,0

[com_10905]
type=graphic
x=12
y=20
width=25
height=30
layer=com_10874
graphic=steelborder,0

[com_10906]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10907]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10908]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10909]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10910]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10911]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10912]
type=graphic
x=479
y=50
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10913]
type=graphic
x=479
y=86
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10914]
type=graphic
x=479
y=122
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10915]
type=graphic
x=479
y=158
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10916]
type=graphic
x=479
y=194
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10917]
type=graphic
x=479
y=230
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10918]
type=graphic
x=479
y=266
width=36
height=36
layer=com_10874
graphic=steelborder2,1

[com_10919]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10920]
type=graphic
x=73
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10921]
type=graphic
x=109
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10922]
type=graphic
x=145
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10923]
type=graphic
x=181
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10924]
type=graphic
x=217
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10925]
type=graphic
x=253
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10926]
type=graphic
x=289
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10927]
type=graphic
x=325
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10928]
type=graphic
x=361
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10929]
type=graphic
x=397
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10930]
type=graphic
x=433
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10931]
type=graphic
x=72
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10932]
type=graphic
x=108
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10933]
type=graphic
x=144
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10934]
type=graphic
x=180
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10935]
type=graphic
x=216
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10936]
type=graphic
x=252
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10937]
type=graphic
x=288
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10938]
type=graphic
x=324
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10939]
type=graphic
x=360
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10940]
type=graphic
x=396
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10941]
type=graphic
x=432
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10942]
type=text
x=25
y=60
width=165
height=14
layer=com_10874
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10943]
type=graphic
x=37
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10944]
type=graphic
x=37
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10945]
type=graphic
x=12
y=290
width=25
height=30
layer=com_10874
graphic=steelborder,2

[com_10946]
type=graphic
x=475
y=20
width=25
height=30
layer=com_10874
graphic=steelborder,1

[com_10947]
type=graphic
x=439
y=5
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10948]
type=graphic
x=475
y=290
width=25
height=30
layer=com_10874
graphic=steelborder,3

[com_10949]
type=graphic
x=439
y=299
width=36
height=36
layer=com_10874
graphic=miscgraphics,3

[com_10950]
type=text
x=100
y=75
width=14
height=14
layer=com_10874
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

[com_10951]
type=text
x=25
y=90
width=165
height=14
layer=com_10874
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10952]
type=graphic
x=183
y=26
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10953]
type=graphic
x=183
y=62
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10954]
type=graphic
x=183
y=98
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10955]
type=graphic
x=183
y=134
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10956]
type=graphic
x=183
y=170
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10957]
type=graphic
x=162
y=34
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10958]
type=graphic
x=144
y=34
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10959]
type=graphic
x=108
y=34
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10960]
type=graphic
x=72
y=34
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10961]
type=graphic
x=36
y=34
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10962]
type=graphic
x=17
y=34
width=36
height=36
layer=com_10874
graphic=steelborder2,0

[com_10963]
type=text
x=21
y=29
width=55
height=14
layer=com_10874
textfont=b12_full
text=Runelink
textshadow=yes
colour=0xffaa44

[com_10964]
type=model
x=336
y=253
width=32
height=32
layer=com_10874
model=model_4608
modelzoom=134

[com_10965]
type=inv
x=229
y=57
width=7
height=6
layer=com_10874
paddingx=3
paddingy=3

[com_10966]
type=graphic
x=183
y=206
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10967]
type=graphic
x=183
y=242
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10968]
type=graphic
x=183
y=278
width=36
height=36
layer=com_10874
graphic=miscgraphics,2

[com_10969]
type=layer
x=26
y=265
width=78
height=42
layer=com_10874

[com_10970]
type=text
x=27
y=157
width=160
height=14
layer=com_10874
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10971]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_10969
buttontype=3
colour=0x000000
fill=yes

[com_10972]
type=text
x=23
y=14
width=31
height=14
layer=com_10969
textfont=p12_full
text=Close
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_10973]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_10969
graphic=steelborder2,0

[com_10974]
type=graphic
width=25
height=30
layer=com_10969
graphic=steelborder,0

[com_10975]
type=graphic
x=53
width=25
height=30
layer=com_10969
graphic=steelborder,1

[com_10976]
type=graphic
y=12
width=25
height=30
layer=com_10969
graphic=steelborder,2

[com_10977]
type=graphic
x=53
y=12
width=25
height=30
layer=com_10969
graphic=steelborder,3

[com_10978]
type=graphic
x=21
y=21
width=36
height=36
layer=com_10969
graphic=miscgraphics,3

[com_10979]
type=model
x=20
y=57
width=20
height=20
layer=com_10874
model=model_2399
modelangle=512,0,0
modelzoom=1024

[com_10980]
type=model
x=20
y=87
width=20
height=20
layer=com_10874
model=model_2652
modelangle=512,0,0
modelzoom=1024

[com_10981]
type=text
x=23
y=185
width=169
height=12
layer=com_10874
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10982]
type=text
x=23
y=208
width=169
height=12
layer=com_10874
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

