[com_18307]
type=layer
width=512
height=334

[com_18308]
type=model
x=73
y=284
width=32
height=32
layer=com_18315
model=model_13369
modelactive=model_13369
modelzoom=656
modelanim=seq_3453

[com_18309]
type=model
x=73
y=292
width=32
height=32
layer=com_18316
model=model_13360
modelangle=147,0,0
modelzoom=656
modelanim=seq_3456

[com_18310]
type=model
x=73
y=296
width=32
height=32
layer=com_18317
model=model_13359
modelangle=147,0,0
modelzoom=656
modelanim=seq_3456

[com_18311]
type=model
x=73
y=288
width=32
height=32
layer=com_18318
model=model_13358
modelangle=207,0,0
modelzoom=528
modelanim=seq_3456

[com_18312]
type=model
x=73
y=287
width=32
height=32
layer=com_18319
model=model_13357
modelangle=147,0,0
modelzoom=656
modelanim=seq_3456

[com_18313]
type=model
x=73
y=289
width=32
height=32
layer=com_18320
model=model_13356
modelangle=207,0,0
modelzoom=528
modelanim=seq_3456

[com_18314]
type=model
x=73
y=291
width=32
height=32
layer=com_18321
model=model_13361
modelangle=207,0,0
modelzoom=528

[com_18315]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18307
hide=yes

[com_18316]
type=layer
x=351
y=-11
width=195
height=334
layer=com_18307
hide=yes

[com_18317]
type=layer
x=351
y=-15
width=170
height=338
layer=com_18307
hide=yes

[com_18318]
type=layer
x=351
y=-7
width=168
height=330
layer=com_18307
hide=yes

[com_18319]
type=layer
x=351
y=-6
width=178
height=329
layer=com_18307
hide=yes

[com_18320]
type=layer
x=351
y=-8
width=173
height=331
layer=com_18307
hide=yes

[com_18321]
type=layer
x=351
y=-10
width=177
height=333
layer=com_18307

