[com_18176]
type=layer
width=512
height=334

[com_18177]
type=model
x=226
y=124
width=32
height=32
layer=com_18176
model=model_12027
modelangle=462,0,0
modelzoom=180
modelanim=seq_3320

