[com_12853]
type=layer
width=512
height=334

[com_12854]
type=model
x=240
y=152
width=32
height=32
layer=com_12853
model=model_6233
modelangle=480,512,0
modelzoom=113

