[com_2727]
type=layer
width=512
height=334

[com_2728]
type=model
x=135
y=16
width=35
height=32
layer=com_2727
model=model_2455
modelangle=521,1288,0
modelzoom=624

[com_2729]
type=text
x=4
y=10
width=47
height=14
layer=com_2727
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_2730]
type=text
x=52
y=10
width=17
height=14
layer=com_2727
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_2731]
type=text
x=4
y=40
width=114
height=14
layer=com_2727
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_2732]
type=layer
x=4
y=60
width=145
height=190
layer=com_2727

[com_2733]
type=graphic
x=5
y=5
width=72
height=36
layer=com_2732
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_2734]
type=graphic
x=5
y=143
width=72
height=36
layer=com_2732
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 3

[com_2735]
type=graphic
x=5
y=97
width=72
height=36
layer=com_2732
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_2736]
type=graphic
x=5
y=51
width=72
height=36
layer=com_2732
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_2737]
type=graphic
x=22
y=149
width=34
height=24
layer=com_2732
graphic=combaticons,10

[com_2738]
type=graphic
x=22
y=11
width=34
height=24
layer=com_2732
graphic=combaticons,13

[com_2739]
type=graphic
x=21
y=57
width=34
height=24
layer=com_2732
graphic=combaticons,11

[com_2740]
type=graphic
x=22
y=103
width=34
height=24
layer=com_2732
graphic=combaticons,12

[com_2741]
type=text
x=78
y=5
width=31
height=11
layer=com_2732
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_2742]
type=text
x=78
y=51
width=36
height=11
layer=com_2732
textfont=p11_full
text=Pummel
textshadow=yes
colour=0xffff00

[com_2743]
type=text
x=78
y=97
width=27
height=11
layer=com_2732
textfont=p11_full
text=Spike
textshadow=yes
colour=0xffff00

[com_2744]
type=text
x=78
y=143
width=26
height=11
layer=com_2732
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_2745]
type=text
x=78
y=18
width=50
height=11
layer=com_2732
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_2746]
type=text
x=78
y=110
width=50
height=11
layer=com_2732
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_2747]
type=text
x=78
y=64
width=64
height=11
layer=com_2732
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_2748]
type=text
x=78
y=156
width=58
height=11
layer=com_2732
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_2749]
type=text
x=82
y=90
width=36
height=11
layer=com_2727
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_2750]
type=text
x=82
y=136
width=36
height=11
layer=com_2727
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_2751]
type=text
x=82
y=182
width=29
height=11
layer=com_2727
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_2752]
type=text
x=82
y=228
width=36
height=11
layer=com_2727
textfont=p11_full
text=(Crush)
colour=0xffff00

