[com_8677]
type=layer
width=512
height=334

[com_8678]
type=model
x=242
y=152
width=32
height=32
layer=com_8677
model=model_4055
modelangle=512,0,0
modelzoom=130
modelanim=seq_1255

