[com_3836]
type=layer
width=512
height=334

[com_3837]
type=inv
x=16
y=8
width=4
height=7
layer=com_3836
draggable=yes
paddingx=10
paddingy=4
op1=Store 1
op2=Store 5
op3=Store10
op4=StoreAll
op5=Store X

