[com_3702]
type=layer
width=512
height=334

[com_3703]
type=graphic
x=12
y=20
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3704]
type=graphic
x=12
y=80
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3705]
type=graphic
x=12
y=140
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3706]
type=graphic
x=12
y=200
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3707]
type=graphic
x=12
y=260
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3708]
type=graphic
x=100
y=20
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3709]
type=graphic
x=100
y=80
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3710]
type=graphic
x=100
y=140
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3711]
type=graphic
x=100
y=200
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3712]
type=graphic
x=188
y=20
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3713]
type=graphic
x=100
y=260
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3714]
type=graphic
x=188
y=80
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3715]
type=graphic
x=188
y=140
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3716]
type=graphic
x=188
y=200
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3717]
type=graphic
x=188
y=260
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3718]
type=graphic
x=276
y=20
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3719]
type=graphic
x=364
y=80
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3720]
type=graphic
x=276
y=80
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3721]
type=graphic
x=276
y=140
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3722]
type=graphic
x=276
y=200
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3723]
type=graphic
x=276
y=260
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3724]
type=graphic
x=364
y=140
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3725]
type=graphic
x=364
y=20
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3726]
type=graphic
x=364
y=200
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3727]
type=graphic
x=364
y=260
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3728]
type=graphic
x=412
y=20
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3729]
type=graphic
x=412
y=80
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3730]
type=graphic
x=412
y=140
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3731]
type=graphic
x=412
y=200
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3732]
type=graphic
x=412
y=260
width=88
height=60
layer=com_3702
graphic=tradebacking,0

[com_3733]
type=graphic
x=12
y=20
width=25
height=30
layer=com_3702
graphic=steelborder,0

[com_3734]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3735]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3736]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3737]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3738]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3739]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3740]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_3702
graphic=miscgraphics,2

[com_3741]
type=graphic
x=479
y=50
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3742]
type=graphic
x=479
y=86
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3743]
type=graphic
x=479
y=122
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3744]
type=graphic
x=479
y=158
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3745]
type=graphic
x=479
y=194
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3746]
type=graphic
x=479
y=230
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3747]
type=graphic
x=479
y=266
width=36
height=36
layer=com_3702
graphic=steelborder2,1

[com_3748]
type=graphic
x=73
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3749]
type=graphic
x=109
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3750]
type=graphic
x=145
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3751]
type=graphic
x=181
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3752]
type=graphic
x=217
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3753]
type=graphic
x=253
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3754]
type=graphic
x=289
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3755]
type=graphic
x=325
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3756]
type=graphic
x=361
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3757]
type=graphic
x=397
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3758]
type=graphic
x=433
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3759]
type=graphic
x=72
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3760]
type=graphic
x=108
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3761]
type=graphic
x=144
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3762]
type=graphic
x=180
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3763]
type=graphic
x=216
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3764]
type=graphic
x=252
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3765]
type=graphic
x=288
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3766]
type=graphic
x=324
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3767]
type=graphic
x=360
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3768]
type=graphic
x=396
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3769]
type=graphic
x=432
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3770]
type=graphic
x=252
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3771]
type=graphic
x=37
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3772]
type=graphic
x=37
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3773]
type=graphic
x=12
y=290
width=25
height=30
layer=com_3702
graphic=steelborder,2

[com_3774]
type=graphic
x=475
y=20
width=25
height=30
layer=com_3702
graphic=steelborder,1

[com_3775]
type=graphic
x=439
y=5
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3776]
type=graphic
x=475
y=290
width=25
height=30
layer=com_3702
graphic=steelborder,3

[com_3777]
type=graphic
x=439
y=299
width=36
height=36
layer=com_3702
graphic=miscgraphics,3

[com_3778]
type=graphic
x=288
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3779]
type=graphic
x=324
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3780]
type=graphic
x=360
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3781]
type=graphic
x=396
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3782]
type=graphic
x=432
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3783]
type=graphic
x=459
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3784]
type=graphic
x=216
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3785]
type=graphic
x=180
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3786]
type=graphic
x=144
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3787]
type=graphic
x=108
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3788]
type=graphic
x=72
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3789]
type=graphic
x=36
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3790]
type=graphic
x=17
y=34
width=36
height=36
layer=com_3702
graphic=steelborder2,0

[com_3791]
type=layer
x=36
y=20
width=440
height=299
layer=com_3702

[com_3792]
type=model
x=240
y=168
width=32
height=32
layer=com_3702
model=model_3056
modelangle=500,0,0
modelzoom=500

[com_3793]
type=text
x=208
y=30
width=98
height=14
layer=com_3702
textfont=b12_full
text=Telescope View
textshadow=yes
colour=0xffff00

[com_3794]
type=text
x=420
y=28
width=68
height=11
layer=com_3702
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_3795]
type=model
x=240
y=168
width=32
height=32
layer=com_3702
model=model_3052
modelangle=500,0,0
modelzoom=400

