[com_638]
type=layer
width=512
height=334

[com_639]
type=layer
x=5
y=20
width=168
height=229
layer=com_638
scrollheight=945

[com_640]
type=text
x=41
y=4
width=93
height=14
layer=com_638
textfont=b12_full
text=Quest Journal
textshadow=yes
colour=0xffff00

[com_641]
type=graphic
x=-12
y=194
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_642]
type=graphic
x=150
y=194
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_643]
type=graphic
x=3
y=20
width=25
height=30
layer=com_638
graphic=steelborder,0

[com_644]
type=graphic
x=146
y=20
width=25
height=30
layer=com_638
graphic=steelborder,1

[com_645]
type=graphic
x=3
y=219
width=25
height=30
layer=com_638
graphic=steelborder,2

[com_646]
type=graphic
x=146
y=219
width=25
height=30
layer=com_638
graphic=steelborder,3

[com_647]
type=graphic
x=28
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_648]
type=graphic
x=64
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_649]
type=graphic
x=100
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_650]
type=graphic
x=112
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_651]
type=graphic
x=150
y=50
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_652]
type=graphic
x=150
y=86
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_653]
type=graphic
x=150
y=122
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_654]
type=graphic
x=150
y=158
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_655]
type=graphic
x=-12
y=50
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_656]
type=graphic
x=-12
y=86
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_657]
type=graphic
x=-12
y=122
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_658]
type=graphic
x=-12
y=158
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_659]
type=graphic
x=28
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_660]
type=graphic
x=64
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_661]
type=graphic
x=98
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_662]
type=graphic
x=124
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_663]
type=text
x=5
y=8
width=84
height=14
layer=com_639
textfont=b12_full
text=FREE QUESTS:
textshadow=yes
colour=0xf99b15

[com_7332]
type=text
x=10
y=23
width=130
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Black Knight's Fortress
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Black Knight's Fortress

[com_7333]
type=text
x=10
y=39
width=96
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Cook's Assistant
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Cook's Assistant

[com_7334]
type=text
x=10
y=55
width=76
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Demon Slayer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Demon Slayer

[com_7335]
type=text
x=10
y=223
width=125
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Rune Mysteries Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Rune Mysteries Quest

[com_7336]
type=text
x=10
y=71
width=75
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Doric's Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Doric's Quest

[com_7337]
type=text
x=10
y=192
width=109
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Restless Ghost
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Restless Ghost

[com_7338]
type=text
x=10
y=117
width=94
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Goblin Diplomacy
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Goblin Diplomacy

[com_7339]
type=text
x=10
y=102
width=105
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Ernest the Chicken
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Ernest the Chicken

[com_7340]
type=text
x=10
y=147
width=66
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Imp Catcher
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Imp Catcher

[com_7341]
type=text
x=10
y=162
width=97
height=13
layer=com_639
buttontype=1
textfont=p12_full
text=Pirate's Treasure
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Pirate's Treasure

[com_7342]
type=text
x=10
y=177
width=96
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Prince Ali Rescue
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Prince Ali Rescue

[com_7343]
type=text
x=10
y=208
width=86
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Romeo & Juliet
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Romeo & Juliet

[com_7344]
type=text
x=10
y=239
width=83
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Sheep Shearer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Sheep Shearer

[com_7345]
type=text
x=10
y=255
width=85
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Shield of Arrav
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Shield of Arrav

[com_7346]
type=text
x=10
y=132
width=104
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Knight's Sword
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Knight's Sword

[com_7347]
type=text
x=10
y=270
width=84
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Vampire Slayer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Vampire Slayer

[com_7348]
type=text
x=10
y=287
width=79
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Witch's Potion
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Witch's Potion

[com_7349]
type=text
x=10
y=889
width=68
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Watch Tower
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Watch Tower

[com_682]
type=text
x=10
y=306
width=113
height=14
layer=com_639
textfont=b12_full
text=MEMBERS QUESTS:
textshadow=yes
colour=0xf99b15

[com_7350]
type=text
x=10
y=904
width=89
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Waterfall Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Waterfall Quest

[com_7351]
type=text
x=10
y=919
width=78
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Witch's House
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Witch's House

[com_7352]
type=text
x=10
y=338
width=57
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Biohazard
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Biohazard

[com_7353]
type=text
x=10
y=353
width=63
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Clock Tower
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Clock Tower

[com_7354]
type=text
x=10
y=386
width=76
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Digsite Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Digsite Quest

[com_673]
type=text
x=10
y=323
width=135
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Big Chompy Bird Hunting
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Big Chompy Bird Hunting

[com_7356]
type=text
x=10
y=416
width=77
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Dwarf Cannon
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Dwarf Cannon

[com_7357]
type=text
x=10
y=447
width=69
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Family Crest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Family Crest

[com_7358]
type=text
x=10
y=463
width=65
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Fight Arena
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Fight Arena

[com_7359]
type=text
x=10
y=479
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Fishing Contest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Fishing Contest

[com_7360]
type=text
x=10
y=496
width=83
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Gertrude's Cat
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Gertrude's Cat

[com_7361]
type=text
x=10
y=512
width=83
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Grand Tree
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Grand Tree

[com_7362]
type=text
x=10
y=528
width=63
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Hazeel Cult
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Hazeel Cult

[com_7363]
type=text
x=10
y=544
width=73
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Hero's Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Hero's Quest

[com_7364]
type=text
x=10
y=561
width=53
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Holy Grail
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Holy Grail

[com_7365]
type=text
x=10
y=577
width=77
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Jungle Potion
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Jungle Potion

[com_7366]
type=text
x=10
y=593
width=85
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Legends Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Legends Quest

[com_7367]
type=text
x=10
y=609
width=50
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Lost City
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Lost City

[com_7368]
type=text
x=10
y=625
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Merlin's Crystal
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Merlin's Crystal

[com_7369]
type=text
x=10
y=641
width=77
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Monk's Friend
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Monk's Friend

[com_7370]
type=text
x=10
y=657
width=90
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Murder Mystery
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Murder Mystery

[com_7371]
type=text
x=10
y=687
width=109
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Observatory Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Observatory Quest

[com_7372]
type=text
x=10
y=702
width=63
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Plague City
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Plague City

[com_7373]
type=text
x=10
y=731
width=96
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Scorpion Catcher
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Scorpion Catcher

[com_7374]
type=text
x=10
y=747
width=85
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Sea Slug Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Sea Slug Quest

[com_7375]
type=text
x=10
y=763
width=76
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Sheep Herder
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Sheep Herder

[com_7376]
type=text
x=10
y=779
width=67
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Shilo Village
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Shilo Village

[com_7378]
type=text
x=10
y=795
width=80
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Temple of Ikov
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Temple of Ikov

[com_7379]
type=text
x=10
y=812
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Tourist Trap
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Tourist Trap

[com_7380]
type=text
x=10
y=828
width=105
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Tree Gnome Village
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Tree Gnome Village

[com_7381]
type=text
x=10
y=844
width=66
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Tribal Totem
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Tribal Totem

[com_7382]
type=text
x=10
y=874
width=105
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Underground Pass
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Underground Pass

[com_7383]
type=text
x=10
y=86
width=79
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Dragon Slayer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Dragon Slayer

[com_7459]
type=text
x=10
y=431
width=112
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Elemental Workshop
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Elemental Workshop

[com_7355]
type=text
x=10
y=401
width=73
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Druidic Ritual
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Druidic Ritual

[com_8115]
type=text
x=10
y=717
width=75
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Priest in Peril
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Priest in Peril

[com_8137]
type=text
x=10
y=672
width=72
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Nature Spirit
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Nature Spirit

[com_8438]
type=text
x=10
y=369
width=79
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Death Plateau
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Death Plateau

[com_191]
type=text
x=10
y=859
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Troll Stronghold
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Troll Stronghold

