[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

[com_2]
type=model
x=207
y=13
width=62
height=83
model=null
modelzoom=400

[com_3]
type=text
x=58
y=17
width=363
height=79
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make All

[com_4]
type=text
x=58
y=17
width=363
height=79
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_5]
type=text
x=58
y=17
width=363
height=79
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_6]
type=text
x=58
y=17
width=363
height=79
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_7]
type=text
width=479
height=17
textfont=q8_full
text=How many would you like to make?
textalignh=centre
colour=0x800000

