[com_13929]
type=layer
width=512
height=334

[com_13930]
type=text
x=73
y=15
width=390
height=17
layer=com_13929
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_13931]
type=text
x=73
y=44
width=390
height=18
layer=com_13929
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_13932]
type=text
x=93
y=74
width=350
height=17
layer=com_13929
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_13933]
type=model
x=30
y=34
width=32
height=32
layer=com_13929
model=model_2241
modelangle=169,1593,0
modelzoom=963

