[com_15488]
type=layer
width=512
height=334

[com_15489]
type=layer
x=34
y=275
width=450
height=24
layer=com_15488
hide=yes

[com_15490]
type=text
width=450
height=24
layer=com_15489
textfont=p12_full
text=Text
textalignh=centre
textshadow=yes
colour=0xffff00

