[com_0]
type=model
x=30
y=68
width=32
height=32
model=model_20551
modelzoom=1800

[com_1]
type=model
x=-3
y=17
width=32
height=32
model=model_20544
modelzoom=912

[com_2]
type=model
x=-3
y=48
width=32
height=32
model=model_20545
modelzoom=912

[com_3]
type=model
x=-2
y=79
width=32
height=32
model=model_20543
modelzoom=912

[com_4]
type=text
x=32
y=6
width=78
height=28
buttontype=1
textfont=b12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Poison egg -> Healer

[com_5]
type=text
x=32
y=36
width=78
height=28
buttontype=1
textfont=b12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Explosive egg -> Healer

[com_6]
type=text
x=32
y=67
width=78
height=28
buttontype=1
textfont=b12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Stun egg -> Healer

[com_7]
type=model
x=129
y=68
width=32
height=32
model=model_20556
modelzoom=1800

[com_8]
type=model
x=96
y=17
width=32
height=32
model=model_20544
modelzoom=912

[com_9]
type=model
x=96
y=48
width=32
height=32
model=model_20545
modelzoom=912

[com_10]
type=model
x=97
y=79
width=32
height=32
model=model_20543
modelzoom=912

[com_11]
type=text
x=130
y=6
width=78
height=28
buttontype=1
textfont=b12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Poison egg -> Runner

[com_12]
type=text
x=130
y=36
width=78
height=28
buttontype=1
textfont=b12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Explosive egg -> Runner

[com_13]
type=text
x=130
y=67
width=78
height=28
buttontype=1
textfont=b12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Stun egg -> Runner

[com_14]
type=model
x=224
y=68
width=32
height=32
model=model_20548
modelzoom=1800

[com_15]
type=model
x=193
y=17
width=32
height=32
model=model_20544
modelzoom=912

[com_16]
type=model
x=193
y=48
width=32
height=32
model=model_20545
modelzoom=912

[com_17]
type=model
x=194
y=79
width=32
height=32
model=model_20543
modelzoom=912

[com_18]
type=text
x=226
y=6
width=78
height=28
buttontype=1
textfont=b12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Poison egg -> Fighter

[com_19]
type=text
x=226
y=36
width=78
height=28
buttontype=1
textfont=b12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Explosive egg -> Fighter

[com_20]
type=text
x=226
y=67
width=78
height=28
buttontype=1
textfont=b12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Stun egg -> Fighter

[com_21]
type=model
x=319
y=68
width=32
height=32
model=model_20555
modelzoom=1800

[com_22]
type=model
x=289
y=17
width=32
height=32
model=model_20544
modelzoom=912

[com_23]
type=model
x=289
y=48
width=32
height=32
model=model_20545
modelzoom=912

[com_24]
type=model
x=290
y=79
width=32
height=32
model=model_20543
modelzoom=912

[com_25]
type=text
x=322
y=6
width=78
height=28
buttontype=1
textfont=b12_full
text=Poison
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Poison egg -> Ranger

[com_26]
type=text
x=322
y=36
width=78
height=28
buttontype=1
textfont=b12_full
text=Explosive
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Explosive egg -> Ranger

[com_27]
type=text
x=322
y=67
width=78
height=28
buttontype=1
textfont=b12_full
text=Stun
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Stun egg -> Ranger

[com_28]
type=model
x=418
y=68
width=32
height=32
model=model_20553
modelzoom=1800

[com_29]
type=model
x=384
y=79
width=32
height=32
model=model_20572
modelzoom=912

[com_30]
type=text
x=418
y=68
width=78
height=28
buttontype=1
textfont=b12_full
text=Omega
textalignv=centre
textshadow=yes
colour=0xb9b900
mouseovercolour=0xfefe00
buttontext=Omega egg -> Queen

[com_31]
type=text
y=12
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_32]
type=text
y=41
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_33]
type=text
y=72
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_34]
type=text
x=96
y=12
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_35]
type=text
x=96
y=41
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_36]
type=text
x=96
y=72
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_37]
type=text
x=194
y=12
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_38]
type=text
x=194
y=41
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_39]
type=text
x=194
y=72
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_40]
type=text
x=290
y=12
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_41]
type=text
x=290
y=41
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_42]
type=text
x=290
y=72
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

[com_43]
type=text
x=384
y=72
width=30
height=16
textfont=b12_full
text=##
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xb9b900

