[com_7424]
type=layer
width=512
height=334

[com_7425]
type=graphic
x=12
y=20
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7426]
type=graphic
x=12
y=80
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7427]
type=graphic
x=12
y=140
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7428]
type=graphic
x=12
y=200
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7429]
type=graphic
x=12
y=260
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7430]
type=graphic
x=100
y=20
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7431]
type=graphic
x=100
y=80
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7432]
type=graphic
x=100
y=140
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7433]
type=graphic
x=100
y=200
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7434]
type=graphic
x=188
y=20
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7435]
type=graphic
x=100
y=260
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7436]
type=graphic
x=188
y=80
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7437]
type=graphic
x=188
y=140
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7438]
type=graphic
x=188
y=200
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7439]
type=graphic
x=188
y=260
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_7445]
type=graphic
x=276
y=20
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8685]
type=graphic
x=364
y=80
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8686]
type=graphic
x=276
y=80
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8687]
type=graphic
x=276
y=140
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8688]
type=graphic
x=276
y=200
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8689]
type=graphic
x=276
y=260
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8690]
type=graphic
x=364
y=140
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8691]
type=graphic
x=364
y=20
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8692]
type=graphic
x=364
y=200
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8693]
type=graphic
x=364
y=260
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8694]
type=graphic
x=412
y=20
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8695]
type=graphic
x=412
y=80
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8696]
type=graphic
x=412
y=140
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8697]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8698]
type=graphic
x=412
y=200
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8699]
type=graphic
x=412
y=260
width=88
height=60
layer=com_7424
graphic=tradebacking,0

[com_8700]
type=graphic
x=12
y=20
width=25
height=30
layer=com_7424
graphic=steelborder,0

[com_8701]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8702]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8703]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8704]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8705]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8706]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_7424
graphic=miscgraphics,2

[com_8707]
type=graphic
x=479
y=50
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8708]
type=graphic
x=479
y=86
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8709]
type=graphic
x=479
y=122
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8710]
type=graphic
x=479
y=158
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8711]
type=graphic
x=479
y=194
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8712]
type=graphic
x=479
y=230
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8713]
type=graphic
x=479
y=266
width=36
height=36
layer=com_7424
graphic=steelborder2,1

[com_8848]
type=graphic
x=73
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_8858]
type=graphic
x=109
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_8861]
type=graphic
x=145
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_8864]
type=graphic
x=181
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14212]
type=graphic
x=217
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14213]
type=graphic
x=253
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14214]
type=graphic
x=289
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14215]
type=graphic
x=325
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14216]
type=graphic
x=361
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14825]
type=graphic
x=397
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14826]
type=graphic
x=433
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14827]
type=graphic
x=72
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14828]
type=graphic
x=108
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14829]
type=graphic
x=144
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14830]
type=graphic
x=180
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14831]
type=graphic
x=216
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14832]
type=graphic
x=252
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14833]
type=graphic
x=288
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14834]
type=graphic
x=324
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14835]
type=graphic
x=360
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14836]
type=graphic
x=396
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14837]
type=graphic
x=432
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14838]
type=graphic
x=252
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14839]
type=graphic
x=37
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14840]
type=graphic
x=37
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14841]
type=graphic
x=12
y=295
width=25
height=30
layer=com_7424
graphic=steelborder,2

[com_14842]
type=graphic
x=475
y=20
width=25
height=30
layer=com_7424
graphic=steelborder,1

[com_14843]
type=graphic
x=439
y=5
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14844]
type=graphic
x=475
y=295
width=25
height=30
layer=com_7424
graphic=steelborder,3

[com_14845]
type=graphic
x=439
y=304
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14846]
type=graphic
x=288
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14847]
type=graphic
x=324
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14848]
type=graphic
x=360
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14849]
type=graphic
x=396
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14850]
type=graphic
x=432
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14851]
type=graphic
x=459
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14852]
type=graphic
x=216
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14853]
type=graphic
x=180
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14854]
type=graphic
x=144
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14855]
type=graphic
x=108
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14856]
type=graphic
x=72
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14857]
type=graphic
x=36
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14858]
type=graphic
x=17
y=34
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14859]
type=graphic
x=455
y=272
width=25
height=30
layer=com_7424
graphic=steelborder,3

[com_14860]
type=graphic
x=347
y=281
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14861]
type=graphic
x=322
y=242
width=25
height=30
layer=com_7424
graphic=steelborder,0

[com_14862]
type=graphic
x=347
y=227
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14863]
type=graphic
x=383
y=227
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14864]
type=graphic
x=419
y=227
width=36
height=36
layer=com_7424
graphic=steelborder2,0

[com_14865]
type=graphic
x=455
y=242
width=25
height=30
layer=com_7424
graphic=steelborder,1

[com_14866]
type=graphic
x=322
y=272
width=25
height=30
layer=com_7424
graphic=steelborder,2

[com_14867]
type=graphic
x=383
y=281
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14868]
type=graphic
x=419
y=281
width=36
height=36
layer=com_7424
graphic=miscgraphics,3

[com_14869]
type=graphic
x=375
y=95
width=66
height=82
layer=com_7424
graphic=chest,0

[com_14870]
type=graphic
x=411
y=157
width=77
height=82
layer=com_7424
graphic=coins,0

[com_14873]
type=graphic
x=33
y=103
width=64
height=64
layer=com_7424
mouseoverlayer=com_14893
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14874]
type=graphic
x=127
y=103
width=64
height=64
layer=com_7424
mouseoverlayer=com_14895
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14875]
type=graphic
x=221
y=103
width=64
height=64
layer=com_7424
mouseoverlayer=com_14897
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14876]
type=graphic
x=305
y=103
width=64
height=64
layer=com_7424
mouseoverlayer=com_14899
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14877]
type=graphic
x=33
y=175
width=64
height=64
layer=com_7424
mouseoverlayer=com_14901
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14878]
type=graphic
x=127
y=175
width=64
height=64
layer=com_7424
mouseoverlayer=com_14903
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14879]
type=graphic
x=221
y=175
width=64
height=64
layer=com_7424
mouseoverlayer=com_14905
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14880]
type=graphic
x=33
y=247
width=64
height=64
layer=com_7424
mouseoverlayer=com_14907
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14881]
type=graphic
x=127
y=247
width=64
height=64
layer=com_7424
mouseoverlayer=com_14909
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14882]
type=graphic
x=221
y=247
width=64
height=64
layer=com_7424
mouseoverlayer=com_14911
buttontype=1
graphic=number_button,0
buttontext=Enter digit

[com_14883]
type=text
x=37
y=149
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14884]
type=text
x=131
y=149
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14885]
type=text
x=225
y=149
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14886]
type=text
x=309
y=149
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14887]
type=text
x=37
y=221
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14888]
type=text
x=131
y=221
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14889]
type=text
x=225
y=221
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14890]
type=text
x=37
y=293
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14891]
type=text
x=131
y=293
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14892]
type=text
x=225
y=293
width=9
height=14
layer=com_7424
textfont=b12_full
text=0
colour=0xff7f00

[com_14893]
type=layer
x=33
y=103
width=64
height=64
layer=com_7424
hide=yes

[com_15310]
type=graphic
width=64
height=64
layer=com_14893
buttontype=1
graphic=number_button,0

[com_14895]
type=layer
x=127
y=103
width=64
height=64
layer=com_7424
hide=yes

[com_14894]
type=graphic
width=64
height=64
layer=com_14895
buttontype=1
graphic=number_button,0

[com_14897]
type=layer
x=221
y=103
width=64
height=64
layer=com_7424
hide=yes

[com_14896]
type=graphic
width=64
height=64
layer=com_14897
buttontype=1
graphic=number_button,0

[com_14899]
type=layer
x=305
y=103
width=64
height=64
layer=com_7424
hide=yes

[com_14898]
type=graphic
width=64
height=64
layer=com_14899
buttontype=1
graphic=number_button,0

[com_14901]
type=layer
x=33
y=175
width=64
height=64
layer=com_7424
hide=yes

[com_14900]
type=graphic
width=64
height=64
layer=com_14901
buttontype=1
graphic=number_button,0

[com_14903]
type=layer
x=127
y=175
width=64
height=64
layer=com_7424
hide=yes

[com_14902]
type=graphic
width=64
height=64
layer=com_14903
buttontype=1
graphic=number_button,0

[com_14905]
type=layer
x=221
y=175
width=64
height=64
layer=com_7424
hide=yes

[com_14904]
type=graphic
width=64
height=64
layer=com_14905
buttontype=1
graphic=number_button,0

[com_14907]
type=layer
x=33
y=247
width=64
height=64
layer=com_7424
hide=yes

[com_14906]
type=graphic
width=64
height=64
layer=com_14907
buttontype=1
graphic=number_button,0

[com_14909]
type=layer
x=127
y=247
width=64
height=64
layer=com_7424
hide=yes

[com_14908]
type=graphic
width=64
height=64
layer=com_14909
buttontype=1
graphic=number_button,0

[com_14911]
type=layer
x=221
y=247
width=64
height=64
layer=com_7424
hide=yes

[com_14910]
type=graphic
width=64
height=64
layer=com_14911
buttontype=1
graphic=number_button,0

[com_14913]
type=text
x=424
y=28
width=16
height=16
layer=com_7424
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

[com_14914]
type=text
x=440
y=28
width=16
height=16
layer=com_7424
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

[com_14915]
type=text
x=456
y=28
width=16
height=16
layer=com_7424
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

[com_14916]
type=text
x=472
y=28
width=16
height=16
layer=com_7424
textfont=q8_full
text=?
textalignh=centre
textshadow=yes
colour=0xffff00

[com_14917]
type=layer
x=328
y=248
width=146
height=48
layer=com_7424

[com_15311]
type=graphic
width=104
height=104
layer=com_14917
graphic=tex_brown,0

[com_15312]
type=graphic
x=104
y=-1
width=104
height=104
layer=com_14917
graphic=tex_brown,0

[com_14920]
type=text
x=18
y=57
width=476
height=14
layer=com_7424
textfont=b12_full
text=Please enter your FOUR DIGIT PIN using the buttons below.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_14921]
type=text
x=327
y=274
width=148
height=17
layer=com_7424
buttontype=1
textfont=q8_full
text=I don't know it.
textalignh=centre
textshadow=yes
colour=0xff0000
mouseovercolour=0xff7f00

[com_14922]
type=text
x=327
y=252
width=148
height=17
layer=com_7424
buttontype=1
textfont=q8_full
text=Exit
textalignh=centre
textshadow=yes
colour=0xff0000
mouseovercolour=0xff7f00

[com_14923]
type=text
x=20
y=29
width=236
height=14
layer=com_7424
textfont=b12_full
text=YOUR PIN WILL BE DELETED IN X DAYS
textshadow=yes
colour=0xff0000

[com_15313]
type=text
x=18
y=80
width=476
height=14
layer=com_7424
textfont=b12_full
text=Click the Nth digit...
textalignh=centre
textshadow=yes

