[com_0]
type=text
x=7
y=3
width=175
height=17
textfont=q8_full
text=Quest Journal
textalignh=centre
textshadow=yes
colour=0xff9720

[com_1]
type=graphic
x=-12
y=194
width=36
height=36
graphic="miscgraphics,2"

[com_2]
type=graphic
x=150
y=194
width=36
height=36
graphic="steelborder2,1"

[com_3]
type=graphic
x=146
y=219
width=25
height=30
graphic="steelborder,3"

[com_4]
type=layer
x=4
y=40
width=168
height=209
scrollheight=1780

[com_5]
type=graphic
x=150
y=50
width=36
height=36
graphic="steelborder2,1"

[com_6]
type=graphic
x=3
y=219
width=25
height=30
graphic="steelborder,2"

[com_7]
type=graphic
x=150
y=86
width=36
height=36
graphic="steelborder2,1"

[com_8]
type=graphic
x=150
y=122
width=36
height=36
graphic="steelborder2,1"

[com_9]
type=graphic
x=150
y=158
width=36
height=36
graphic="steelborder2,1"

[com_10]
type=graphic
x=-12
y=50
width=36
height=36
graphic="miscgraphics,2"

[com_11]
type=graphic
x=-12
y=86
width=36
height=36
graphic="miscgraphics,2"

[com_12]
type=graphic
x=-12
y=122
width=36
height=36
graphic="miscgraphics,2"

[com_13]
type=graphic
x=-12
y=158
width=36
height=36
graphic="miscgraphics,2"

[com_14]
type=graphic
x=28
y=228
width=36
height=36
graphic="miscgraphics,3"

[com_15]
type=graphic
x=64
y=228
width=36
height=36
graphic="miscgraphics,3"

[com_16]
type=graphic
x=98
y=228
width=36
height=36
graphic="miscgraphics,3"

[com_17]
type=graphic
x=124
y=228
width=36
height=36
graphic="miscgraphics,3"

[com_18]
type=graphic
x=57
y=23
width=36
height=36
graphic="steelborder2,0"

[com_19]
type=graphic
x=110
y=23
width=36
height=36
graphic="steelborder2,0"

[com_20]
type=graphic
x=21
y=23
width=36
height=36
graphic="steelborder2,0"

[com_21]
type=graphic
x=86
y=23
width=36
height=36
graphic="steelborder2,0"

[com_22]
type=graphic
x=146
y=38
width=25
height=30
graphic="steelborder,1"

[com_23]
type=graphic
x=3
y=38
width=25
height=30
graphic="steelborder,0"

[com_24]
type=text
x=7
y=22
width=150
height=14
textfont=p12_full
text=Quest Points: %1
textshadow=yes
colour=0xff9720
script0=varplayer_101

[com_25]
type=text
x=11
y=11
width=150
height=14
layer=com_4
textfont=b12_full
text=FREE QUESTS:
textshadow=yes
colour=0xff9720

[com_26]
type=text
x=11
y=27
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Black Knights' Fortress
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Black Knights' Fortress

[com_27]
type=text
x=11
y=42
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Cook's Assistant
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Cook's Assistant

[com_28]
type=text
x=11
y=57
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Demon Slayer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Demon Slayer

[com_29]
type=text
x=11
y=72
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Doric's Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Doric's Quest

[com_30]
type=text
x=11
y=87
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Dragon Slayer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Dragon Slayer

[com_31]
type=text
x=11
y=191
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Restless Ghost
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Restless Ghost

[com_32]
type=text
x=11
y=117
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Goblin Diplomacy
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Goblin Diplomacy

[com_33]
type=text
x=11
y=102
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Ernest the Chicken
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Ernest the Chicken

[com_34]
type=text
x=11
y=132
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Imp Catcher
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Imp Catcher

[com_35]
type=text
x=11
y=162
width=150
height=13
layer=com_4
buttontype=1
textfont=p12_full
text=Pirate's Treasure
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Pirate's Treasure

[com_36]
type=text
x=11
y=176
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Prince Ali Rescue
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Prince Ali Rescue

[com_37]
type=text
x=11
y=206
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Romeo & Juliet
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Romeo & Juliet

[com_38]
type=text
x=11
y=236
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Sheep Shearer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Sheep Shearer

[com_39]
type=text
x=11
y=251
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Shield of Arrav
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Shield of Arrav

[com_40]
type=text
x=11
y=147
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Knight's Sword
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Knight's Sword

[com_41]
type=text
x=11
y=266
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Vampire Slayer
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Vampire Slayer

[com_42]
type=text
x=11
y=281
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Witch's Potion
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Witch's Potion

[com_43]
type=text
x=11
y=221
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Rune Mysteries Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Rune Mysteries Quest

[com_44]
type=text
x=11
y=300
width=150
height=14
layer=com_4
textfont=b12_full
text=MEMBERS QUESTS:
textshadow=yes
colour=0xff9720

[com_45]
type=text
x=11
y=316
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Between a Rock...
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Between a Rock...

[com_46]
type=text
x=11
y=331
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Big Chompy Bird Hunting
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Big Chompy Bird Hunting

[com_47]
type=text
x=11
y=346
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Biohazard
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Biohazard

[com_48]
type=text
x=11
y=361
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Cabin Fever
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Cabin Fever

[com_49]
type=text
x=11
y=376
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Clock Tower
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Clock Tower

[com_50]
type=text
x=11
y=391
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Creature of Fenkenstrain
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Creature of Fenkenstrain

[com_51]
type=text
x=11
y=421
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Death Plateau
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Death Plateau

[com_52]
type=text
x=11
y=451
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Desert Treasure
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Desert Treasure

[com_53]
type=text
x=11
y=466
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Devious Minds
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Devious Minds

[com_54]
type=text
x=11
y=481
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Digsite Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Digsite Quest

[com_55]
type=text
x=11
y=496
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Druidic Ritual
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Druidic Ritual

[com_56]
type=text
x=11
y=511
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Dwarf Cannon
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Dwarf Cannon

[com_57]
type=text
x=11
y=526
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Eadgar's Ruse
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Eadgar's Ruse

[com_58]
type=text
x=11
y=556
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Elemental Workshop I
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Elemental Workshop I

[com_59]
type=text
x=11
y=586
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Enakhra's Lament
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Enakhra's Lament

[com_60]
type=text
x=11
y=631
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Fairytale I - Growing Pains
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext= Fairytale I - Growing Pains

[com_61]
type=text
x=11
y=661
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Family Crest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Family Crest

[com_62]
type=text
x=11
y=676
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Feud
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Feud

[com_63]
type=text
x=11
y=691
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Fight Arena
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Fight Arena

[com_64]
type=text
x=11
y=706
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Fishing Contest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Fishing Contest

[com_65]
type=text
x=11
y=721
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Forgettable Tale...
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Forgettable Tale

[com_66]
type=text
x=11
y=736
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Fremennik Trials
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Fremennik Trials

[com_67]
type=text
x=11
y=751
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Garden of Tranquillity
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Garden of Tranquillity

[com_68]
type=text
x=11
y=766
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Gertrude's Cat
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Gertrude's Cat

[com_69]
type=text
x=11
y=781
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Ghosts Ahoy
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Ghosts Ahoy

[com_70]
type=text
x=11
y=796
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Giant Dwarf
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Giant Dwarf

[com_71]
type=text
x=11
y=811
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Golem
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Golem

[com_72]
type=text
x=11
y=826
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Grand Tree
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Grand Tree

[com_73]
type=text
x=11
y=841
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Hand in the Sand
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Hand in the Sand

[com_74]
type=text
x=11
y=856
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Haunted Mine
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Haunted Mine

[com_75]
type=text
x=11
y=871
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Hazeel Cult
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Hazeel Cult

[com_76]
type=text
x=11
y=886
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Heroes Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Heroes Quest

[com_77]
type=text
x=11
y=901
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Holy Grail
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Holy Grail

[com_78]
type=text
x=11
y=916
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Horror from the Deep
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Horror from the Deep

[com_79]
type=text
x=11
y=931
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Icthlarin's Little Helper
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Icthlarin's Little Helper

[com_80]
type=text
x=11
y=961
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=In Search of the Myreque
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=In Search of the Myreque

[com_81]
type=text
x=11
y=976
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Jungle Potion
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Jungle Potion

[com_82]
type=text
x=11
y=991
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Legends Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Legends Quest

[com_83]
type=text
x=11
y=1006
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Lost City
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Lost City

[com_84]
type=text
x=11
y=1021
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Lost Tribe
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Lost Tribe

[com_85]
type=text
x=11
y=1051
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Making History
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Making History

[com_86]
type=text
x=11
y=1066
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Merlin's Crystal
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Merlin's Crystal

[com_87]
type=text
x=11
y=1081
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Monkey Madness
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Monkey Madness

[com_88]
type=text
x=11
y=1096
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Monk's Friend
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Monk's Friend

[com_89]
type=text
x=11
y=1111
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Mountain Daughter
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Mountain Daughter

[com_90]
type=text
x=11
y=1126
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Mourning's Ends Part I
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Mourning's Ends Part I

[com_91]
type=text
x=11
y=1141
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Mourning's Ends Part II
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Mourning's Ends Part II

[com_92]
type=text
x=11
y=946
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=In Aid of the Myreque
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=In Aid of the Myreque

[com_93]
type=text
x=11
y=1156
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Murder Mystery
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Murder Mystery

[com_94]
type=text
x=11
y=1186
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Nature Spirit
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Nature Spirit

[com_95]
type=text
x=11
y=1201
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Observatory Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Observatory Quest

[com_96]
type=text
x=11
y=1216
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=One Small Favour
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=One Small Favour

[com_97]
type=text
x=11
y=1231
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Plague City
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Plague City

[com_98]
type=text
x=11
y=1246
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Priest in Peril
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Priest in Peril

[com_99]
type=text
x=11
y=1261
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Rag and Bone Man
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Rag and Bone Man

[com_100]
type=text
x=11
y=1276
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Rat Catchers
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Rat Catchers

[com_101]
type=text
x=11
y=1291
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Recipe for Disaster
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Recipe for Disaster

[com_102]
type=text
x=11
y=1306
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Recruitment Drive
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Recruitment Drive

[com_103]
type=text
x=11
y=1321
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Regicide
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Regicide

[com_104]
type=text
x=11
y=1336
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Roving Elves
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Roving Elves

[com_105]
type=text
x=11
y=1351
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Royal Trouble
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Royal Trouble

[com_106]
type=text
x=11
y=1366
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Rum Deal
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Rum Deal

[com_107]
type=text
x=11
y=1381
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Scorpion Catcher
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Scorpion Catcher

[com_108]
type=text
x=11
y=1396
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Sea Slug Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Sea Slug Quest

[com_109]
type=text
x=11
y=1411
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Shades of Mort'ton
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Shades of Mort'ton

[com_110]
type=text
x=11
y=1426
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Shadow of the Storm
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Shadow of the Storm

[com_111]
type=text
x=11
y=1441
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Sheep Herder
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Sheep Herder

[com_112]
type=text
x=11
y=1456
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Shilo Village
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Shilo Village

[com_113]
type=text
x=11
y=1486
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=A Soul's Bane
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=A Soul's Bane

[com_114]
type=text
x=11
y=1501
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Spirits of the Elid
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Spirits of the Elid

[com_115]
type=text
x=11
y=1516
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Swan Song
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Swan Song

[com_116]
type=text
x=11
y=1531
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Tai Bwo Wannai Trio
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Tai Bwo Wannai Trio

[com_117]
type=text
x=11
y=1546
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=A Tail of Two Cats
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=A Tail of Two Cats

[com_118]
type=text
x=11
y=1561
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Tears of Guthix
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Tears of Guthix

[com_119]
type=text
x=11
y=1576
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Temple of Ikov
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Temple of Ikov

[com_120]
type=text
x=11
y=1591
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Throne of Miscellania
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Throne of Miscellania

[com_121]
type=text
x=11
y=1606
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Tourist Trap
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Tourist Trap

[com_122]
type=text
x=11
y=1621
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Tree Gnome Village
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Tree Gnome Village

[com_123]
type=text
x=11
y=1636
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Tribal Totem
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Tribal Totem

[com_124]
type=text
x=11
y=1651
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Troll Romance
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Troll Romance

[com_125]
type=text
x=11
y=1666
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Troll Stronghold
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Troll Stronghold

[com_126]
type=text
x=11
y=1681
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Underground Pass
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Underground Pass

[com_127]
type=text
x=11
y=1696
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Wanted!
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Wanted!

[com_128]
type=text
x=11
y=1711
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Watch Tower
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Watch Tower

[com_129]
type=text
x=11
y=1726
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Waterfall Quest
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Waterfall Quest

[com_130]
type=text
x=11
y=1741
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Witch's House
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Witch's House

[com_131]
type=text
x=11
y=1756
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Zogre Flesh Eaters
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Zogre Flesh Eaters

[com_132]
type=text
x=11
y=436
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Death to the Dorgeshuun
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Death to the Dorgeshuun

[com_133]
type=text
x=11
y=646
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Fairytale II - Cure a Queen
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Fairytale II - Cure a Queen

[com_134]
type=text
x=11
y=1036
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Lunar Diplomacy
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Lunar Diplomacy

[com_135]
type=text
x=11
y=616
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=The Eyes of Glouphrie
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=The Eyes of Glouphrie

[com_136]
type=text
x=11
y=406
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Darkness of Hallowvale
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Darkness of Hallowvale

[com_137]
type=text
x=11
y=1471
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Slug Menace
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Slug Menace

[com_138]
type=text
x=11
y=571
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Elemental Workshop II
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Elemental Workshop II

[com_139]
type=text
x=123
y=1262
width=14
height=14
layer=com_4
buttontype=1
textfont=p12_full
textactive=*
textshadow=yes
colour=0x000000
colouractive=0xffff00
mouseovercolour=0xffffff
mouseovercolouractive=0xffffff
buttontext=Rag and Bone Man
script=varplayer_714 = 4

[com_140]
type=text
x=11
y=1171
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=My Arm's Big Adventure
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=My Arm's Big Adventure

[com_141]
type=text
x=11
y=601
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Enlightened Journey
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Enlightened Journey

[com_142]
type=text
x=11
y=541
width=150
height=14
layer=com_4
buttontype=1
textfont=p12_full
text=Eagles' Peak
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff
buttontext=Eagles' Peak

