[com_6994]
type=layer
width=512
height=334

[com_6995]
type=model
x=227
y=162
width=32
height=32
layer=com_6994
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_6996]
type=text
x=430
y=8
width=74
height=14
layer=com_6994
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_6997]
type=model
x=153
y=231
width=32
height=32
layer=com_6994
model=model_3396
modelangle=552,637,0
modelzoom=1694

[com_6998]
type=model
x=177
y=237
width=32
height=32
layer=com_6994
model=model_3396
modelangle=478,564,0
modelzoom=1694

[com_6999]
type=model
x=199
y=242
width=32
height=32
layer=com_6994
model=model_3396
modelangle=563,660,0
modelzoom=1694

[com_7000]
type=model
x=245
y=249
width=32
height=32
layer=com_6994
model=model_3396
modelangle=466,513,0
modelzoom=1694

[com_7001]
type=model
x=329
y=229
width=32
height=32
layer=com_6994
model=model_3396
modelangle=460,485,0
modelzoom=1694

[com_7002]
type=model
x=290
y=237
width=32
height=32
layer=com_6994
model=model_3396
modelangle=435,392,0
modelzoom=1694

[com_7003]
type=model
x=268
y=245
width=32
height=32
layer=com_6994
model=model_3396
modelangle=445,394,0
modelzoom=1694

[com_7004]
type=model
x=271
y=204
width=32
height=32
layer=com_6994
model=model_3396
modelangle=308,856,0
modelzoom=1694

[com_7005]
type=model
x=251
y=194
width=32
height=32
layer=com_6994
model=model_3396
modelangle=532,552,0
modelzoom=1694

[com_7006]
type=model
x=231
y=198
width=32
height=32
layer=com_6994
model=model_3396
modelangle=452,334,0
modelzoom=1694

[com_7007]
type=model
x=227
y=214
width=32
height=32
layer=com_6994
model=model_3396
modelangle=474,1834,0
modelzoom=1694

[com_7008]
type=model
x=268
y=218
width=32
height=32
layer=com_6994
model=model_3396
modelangle=250,1336,0
modelzoom=1694

[com_7009]
type=model
x=247
y=224
width=32
height=32
layer=com_6994
model=model_3396
modelangle=303,1488,0
modelzoom=1694

[com_7010]
type=model
x=152
y=182
width=32
height=32
layer=com_6994
model=model_3396
modelangle=594,1699,0
modelzoom=1694

[com_7011]
type=model
x=186
y=192
width=32
height=32
layer=com_6994
model=model_3396
modelangle=569,1351,0
modelzoom=1694

[com_7012]
type=model
x=204
y=181
width=32
height=32
layer=com_6994
model=model_3396
modelangle=480,1337,0
modelzoom=1694

[com_7013]
type=model
x=272
y=174
width=32
height=32
layer=com_6994
model=model_3396
modelangle=442,1649,0
modelzoom=1694

[com_7014]
type=model
x=249
y=169
width=32
height=32
layer=com_6994
model=model_3396
modelangle=476,1580,0
modelzoom=1694

[com_7015]
type=model
x=222
y=248
width=32
height=32
layer=com_6994
model=model_3396
modelangle=512,562,0
modelzoom=1694

[com_7016]
type=model
x=307
y=232
width=32
height=32
layer=com_6994
model=model_3396
modelangle=436,422,0
modelzoom=1694

[com_7017]
type=model
x=225
y=171
width=32
height=32
layer=com_6994
model=model_3396
modelangle=477,1435,0
modelzoom=1678

[com_7018]
type=model
x=168
y=192
width=32
height=32
layer=com_6994
model=model_3396
modelangle=249,1813,0
modelzoom=1694

[com_7019]
type=model
x=292
y=184
width=32
height=32
layer=com_6994
model=model_3396
modelangle=460,1732,0
modelzoom=1694

[com_7020]
type=model
x=310
y=195
width=32
height=32
layer=com_6994
model=model_3396
modelangle=459,1705,0
modelzoom=1694

[com_7021]
type=model
x=331
y=204
width=32
height=32
layer=com_6994
model=model_3396
modelangle=459,1664,0
modelzoom=1694

[com_7022]
type=model
x=150
y=229
width=32
height=32
layer=com_6994
model=model_3388
modelangle=493,18,0
modelzoom=531

[com_7023]
type=model
x=165
y=49
width=32
height=32
layer=com_6994
model=model_3388
modelangle=527,515,0
modelzoom=531

[com_7024]
type=model
x=340
y=62
width=32
height=32
layer=com_6994
model=model_3388
modelangle=578,1030,0
modelzoom=531

[com_7025]
type=model
x=321
y=245
width=32
height=32
layer=com_6994
model=model_3388
modelangle=576,1544,0
modelzoom=531

[com_7026]
type=model
x=251
y=210
width=32
height=32
layer=com_6994
model=model_3397
modelangle=620,7,0
modelzoom=2704

[com_7027]
type=model
x=238
y=207
width=32
height=32
layer=com_6994
model=model_3397
modelangle=620,7,0
modelzoom=2704

[com_7028]
type=text
x=205
y=172
width=12
height=12
layer=com_6994
textfont=p11_full
text=2E
colour=0x4c3d26

[com_7029]
type=model
x=218
y=152
width=32
height=32
layer=com_6994
model=model_3389
modelangle=462,1788,0
modelzoom=1686

[com_7031]
type=model
x=236
y=66
width=32
height=32
layer=com_6994
model=model_3397
modelangle=623,2009,0
modelzoom=1680

[com_7032]
type=model
x=195
y=61
width=32
height=32
layer=com_6994
model=model_3397
modelangle=620,2032,0
modelzoom=1667

[com_7033]
type=model
x=175
y=76
width=32
height=32
layer=com_6994
model=model_3397
modelangle=548,2028,0
modelzoom=1633

[com_13973]
type=model
x=202
y=151
width=32
height=32
layer=com_6994
model=model_3400
modelangle=450,1006,0
modelzoom=1416

[com_7034]
type=model
x=264
y=107
width=32
height=32
layer=com_6994
model=model_3391
modelangle=500,0,0
modelzoom=2064

[com_7035]
type=model
x=270
y=85
width=32
height=32
layer=com_6994
model=model_3401
modelangle=500,0,0
modelzoom=2166

[com_7036]
type=model
x=309
y=82
width=32
height=32
layer=com_6994
model=model_3401
modelangle=500,0,0
modelzoom=2006

[com_7037]
type=model
x=250
y=88
width=32
height=32
layer=com_6994
model=model_3391
modelangle=500,0,0
modelzoom=2064

[com_7038]
type=model
x=292
y=68
width=32
height=32
layer=com_6994
model=model_3391
modelangle=500,0,0
modelzoom=2064

[com_7039]
type=model
x=320
y=66
width=32
height=32
layer=com_6994
model=model_3391
modelangle=500,0,0
modelzoom=2064

[com_7040]
type=model
x=290
y=52
width=32
height=32
layer=com_6994
model=model_3401
modelangle=500,0,0
modelzoom=2134

[com_7041]
type=model
x=315
y=48
width=32
height=32
layer=com_6994
model=model_3401
modelangle=500,0,0
modelzoom=2006

[com_7042]
type=model
x=191
y=151
width=32
height=32
layer=com_6994
model=model_3400
modelangle=390,1002,0
modelzoom=1416

[com_7043]
type=model
x=176
y=149
width=32
height=32
layer=com_6994
model=model_3397
modelangle=624,2033,0
modelzoom=1548

