[com_18322]
type=layer
width=512
height=334

[com_18323]
type=model
x=92
y=230
width=32
height=32
layer=com_18333
model=model_13369
modelzoom=756
modelanim=seq_3453

[com_18324]
type=model
x=92
y=238
width=32
height=32
layer=com_18334
model=model_13355
modelactive=model_13354
modelzoom=934
modelanim=seq_3454

[com_18325]
type=model
x=49
y=230
width=32
height=32
layer=com_18335
model=model_13369
modelzoom=756
modelanim=seq_3453

[com_18326]
type=model
x=49
y=242
width=32
height=32
layer=com_18336
model=model_13355
modelactive=model_13354
modelzoom=934
modelanim=seq_3454

[com_18327]
type=model
x=110
y=260
width=32
height=32
layer=com_18337
model=model_13369
modelzoom=756
modelanim=seq_3453

[com_18328]
type=model
x=110
y=264
width=32
height=32
layer=com_18338
model=model_13355
modelactive=model_13354
modelzoom=756
modelanim=seq_3454

[com_18329]
type=model
x=31
y=259
width=32
height=32
layer=com_18339
model=model_13369
modelzoom=756
modelanim=seq_3453

[com_18330]
type=model
x=31
y=262
width=32
height=32
layer=com_18340
model=model_13355
modelactive=model_13354
modelzoom=756
modelanim=seq_3454

[com_18331]
type=model
x=73
y=284
width=32
height=32
layer=com_18341
model=model_13369
modelzoom=656
modelanim=seq_3453

[com_18332]
type=model
x=73
y=289
width=32
height=32
layer=com_18342
model=model_13355
modelactive=model_13354
modelzoom=656
modelanim=seq_3454

[com_18333]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18322
hide=yes

[com_18334]
type=layer
x=351
y=-11
width=195
height=334
layer=com_18322

[com_18335]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18322
hide=yes

[com_18336]
type=layer
x=351
y=-15
width=170
height=338
layer=com_18322

[com_18337]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18322
hide=yes

[com_18338]
type=layer
x=351
y=-7
width=168
height=330
layer=com_18322

[com_18339]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18322
hide=yes

[com_18340]
type=layer
x=351
y=-6
width=178
height=329
layer=com_18322

[com_18341]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18322
hide=yes

[com_18342]
type=layer
x=351
y=-8
width=173
height=331
layer=com_18322

