[com_6308]
type=layer
width=512
height=334

[com_6309]
type=graphic
x=12
y=20
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6310]
type=graphic
x=12
y=80
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6311]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6312]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6313]
type=graphic
x=12
y=260
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6314]
type=graphic
x=100
y=20
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6315]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6316]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6317]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6318]
type=graphic
x=188
y=20
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6319]
type=graphic
x=100
y=260
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6320]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6321]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6322]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6323]
type=graphic
x=188
y=260
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6324]
type=graphic
x=276
y=20
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6325]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6326]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6327]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6328]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6329]
type=graphic
x=276
y=260
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6330]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6331]
type=graphic
x=364
y=20
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6332]
type=graphic
x=364
y=200
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6333]
type=graphic
x=364
y=260
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6334]
type=graphic
x=412
y=20
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6335]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6336]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6337]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6338]
type=graphic
x=412
y=260
width=88
height=60
layer=com_6308
graphic=tradebacking,0

[com_6339]
type=graphic
x=12
y=20
width=25
height=30
layer=com_6308
graphic=steelborder,0

[com_6340]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6341]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6342]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6343]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6344]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6345]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6346]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_6308
graphic=miscgraphics,2

[com_6347]
type=graphic
x=479
y=50
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6348]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6349]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6350]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6351]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6352]
type=graphic
x=479
y=230
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6353]
type=graphic
x=479
y=266
width=36
height=36
layer=com_6308
graphic=steelborder2,1

[com_6354]
type=graphic
x=73
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6355]
type=graphic
x=109
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6356]
type=graphic
x=145
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6357]
type=graphic
x=181
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6358]
type=graphic
x=217
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6359]
type=graphic
x=253
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6360]
type=graphic
x=289
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6361]
type=graphic
x=325
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6362]
type=graphic
x=361
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6363]
type=graphic
x=397
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6364]
type=graphic
x=433
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6365]
type=graphic
x=72
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6366]
type=graphic
x=108
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6367]
type=graphic
x=144
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6368]
type=graphic
x=180
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6369]
type=graphic
x=216
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6370]
type=graphic
x=252
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6371]
type=graphic
x=288
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6372]
type=graphic
x=324
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6373]
type=graphic
x=360
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6374]
type=graphic
x=396
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6375]
type=graphic
x=432
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6376]
type=graphic
x=252
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6377]
type=graphic
x=36
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6378]
type=graphic
x=37
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6379]
type=graphic
x=12
y=290
width=25
height=30
layer=com_6308
graphic=steelborder,2

[com_6380]
type=graphic
x=475
y=20
width=25
height=30
layer=com_6308
graphic=steelborder,1

[com_6381]
type=graphic
x=439
y=5
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6382]
type=graphic
x=475
y=290
width=25
height=30
layer=com_6308
graphic=steelborder,3

[com_6383]
type=graphic
x=439
y=299
width=36
height=36
layer=com_6308
graphic=miscgraphics,3

[com_6384]
type=graphic
x=288
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6385]
type=graphic
x=324
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6386]
type=graphic
x=360
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6387]
type=graphic
x=396
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6388]
type=graphic
x=432
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6389]
type=graphic
x=459
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6390]
type=graphic
x=216
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6391]
type=graphic
x=180
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6392]
type=graphic
x=144
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6393]
type=graphic
x=108
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6394]
type=graphic
x=72
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6395]
type=graphic
x=36
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6396]
type=graphic
x=17
y=34
width=36
height=36
layer=com_6308
graphic=steelborder2,0

[com_6403]
type=text
x=90
y=15
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6398]
type=model
x=52
y=280
width=32
height=32
layer=com_6308
model=model_3276
modelangle=105,312,0
modelzoom=1031

[com_6399]
type=text
x=192
y=60
width=175
height=14
layer=com_6308
textfont=p12_full
text=Last fifty duels on this server:
textshadow=yes
colour=0xaa8822

[com_6400]
type=text
x=21
y=29
width=65
height=14
layer=com_6308
textfont=p12_full
text=Scoreboard
textshadow=yes
colour=0xffaa44

[com_6401]
type=text
x=423
y=29
width=68
height=11
layer=com_6308
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_8577]
type=layer
x=92
y=80
width=378
height=227
layer=com_6308
scrollheight=752

[com_6402]
type=text
x=90
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6404]
type=text
x=90
y=30
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6405]
type=text
x=90
y=45
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6406]
type=text
x=90
y=60
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6407]
type=text
x=90
y=75
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6408]
type=text
x=90
y=90
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6409]
type=text
x=90
y=105
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6410]
type=text
x=90
y=120
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6411]
type=text
x=90
y=135
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8578]
type=text
x=90
y=150
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8579]
type=text
x=90
y=165
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8580]
type=text
x=90
y=180
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8581]
type=text
x=90
y=195
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8582]
type=text
x=90
y=210
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8583]
type=text
x=90
y=225
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8584]
type=text
x=90
y=240
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8585]
type=text
x=90
y=255
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8586]
type=text
x=90
y=270
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8587]
type=text
x=90
y=285
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8588]
type=text
x=90
y=300
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8589]
type=text
x=90
y=315
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8590]
type=text
x=90
y=330
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8591]
type=text
x=90
y=345
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8592]
type=text
x=90
y=360
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8593]
type=text
x=90
y=375
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8594]
type=text
x=90
y=390
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8595]
type=text
x=90
y=405
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8596]
type=text
x=90
y=420
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8597]
type=text
x=90
y=435
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8598]
type=text
x=90
y=450
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8599]
type=text
x=90
y=465
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8600]
type=text
x=90
y=480
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8601]
type=text
x=90
y=495
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8602]
type=text
x=90
y=510
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8603]
type=text
x=90
y=525
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8604]
type=text
x=90
y=540
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8605]
type=text
x=90
y=555
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8606]
type=text
x=90
y=570
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8607]
type=text
x=90
y=585
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8608]
type=text
x=90
y=600
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8609]
type=text
x=90
y=615
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8610]
type=text
x=90
y=630
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8611]
type=text
x=90
y=645
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8612]
type=text
x=90
y=660
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8613]
type=text
x=90
y=675
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8614]
type=text
x=90
y=690
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8615]
type=text
x=90
y=705
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8616]
type=text
x=90
y=720
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8617]
type=text
x=90
y=735
width=198
height=14
layer=com_8577
textfont=p12_full
text=Crunchy (126) beat Crunchy2 (126)
textalignh=centre
textshadow=yes
colour=0xaaaaaa

