[com_0]
type=rectangle
y=1
width=156
height=23
layer=com_12
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_1]
type=graphic
x=131
y=1
width=25
height=30
layer=com_12
graphic="steelborder,1"

[com_2]
type=graphic
y=1
width=25
height=30
layer=com_12
graphic="steelborder,0"

[com_3]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_4]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_5]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_6]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_7]
type=graphic
x=5
y=3
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_8]
type=graphic
x=41
y=3
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_9]
type=graphic
x=77
y=3
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_10]
type=graphic
x=112
y=3
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_11]
type=graphic
x=115
y=3
width=36
height=36
layer=com_12
graphic="miscgraphics,3"

[com_12]
type=layer
x=17
y=231
width=158
height=24
hide=yes

[com_13]
type=model
x=5
y=8
width=146
height=9
layer=com_12
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_14]
type=model
x=3
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_15]
type=model
x=18
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_16]
type=model
x=33
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_17]
type=model
x=47
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_18]
type=model
x=61
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_19]
type=model
x=75
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_20]
type=model
x=90
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_21]
type=model
x=104
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_22]
type=model
x=118
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_23]
type=model
x=132
y=8
width=146
height=9
layer=com_12
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_24]
type=text
x=20
y=7
width=117
height=11
layer=com_12
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

[com_25]
type=model
x=119
y=21
width=35
height=32
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_26]
type=text
x=4
y=10
width=73
height=12
textfont=p11_full
text=Weapon:
textalignh=right
textshadow=yes
colour=0xffff00

[com_27]
type=text
x=80
y=10
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00

[com_28]
type=text
x=4
y=40
width=130
height=12
textfont=p11_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_29]
type=layer
x=4
y=51
width=145
height=202

[com_30]
type=graphic
x=5
y=88
width=72
height=36
layer=com_29
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 2

[com_31]
type=graphic
x=5
y=46
width=72
height=36
layer=com_29
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 1

[com_32]
type=graphic
x=5
y=5
width=72
height=36
layer=com_29
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 0

[com_33]
type=graphic
x=23
y=94
width=34
height=24
layer=com_29
graphic="combaticons,19"

[com_34]
type=graphic
x=21
y=11
width=34
height=24
layer=com_29
graphic="combaticons2,13"

[com_35]
type=graphic
x=22
y=52
width=34
height=24
layer=com_29
graphic="combaticons2,14"

[com_36]
type=text
x=78
y=5
width=66
height=35
layer=com_29
textfont=p11_full
text=Bash\n(Accurate)\n(Crush)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_37]
type=text
x=78
y=46
width=66
height=35
layer=com_29
textfont=p11_full
text=Pound\n(Aggressive)\n(Crush)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_38]
type=text
x=78
y=89
width=66
height=35
layer=com_29
textfont=p11_full
text=Focus - Block\n(Defensive)\n(Crush)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_39]
type=graphic
x=5
y=131
width=72
height=36
layer=com_29
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=testbit(varplayer_108, 0) = 1

[com_40]
type=graphic
x=25
y=135
width=30
height=30
layer=com_29
graphic="prayeron,12"

[com_41]
type=text
x=78
y=137
width=66
height=11
layer=com_29
textfont=p11_full
text=Attack with
textactive=Attack with
textshadow=yes
colour=0xffff00
colouractive=0xb0a392
script=varplayer_108 < 2

[com_42]
type=text
x=82
y=199
width=66
height=11
textfont=p11_full
text=(none set)
textactive=(none set)
textshadow=yes
colour=0xffff00
colouractive=0xb0a392
script=varplayer_108 < 2

[com_43]
type=model
x=149
y=173
width=35
height=57
buttontype=1
model=model_2543
modelangle=264,124,0
modelzoom=625

[com_44]
type=text
x=83
y=216
width=100
height=12
textfont=p11_full
text=Choose Spell
textalignh=centre
textshadow=yes
colour=0xb0a392
colouractive=0xffff00
script=varplayer_108 > 0

[com_45]
type=text
x=4
y=25
width=130
height=12
textfont=p11_full
text=Combat Lvl %1
textshadow=yes
colour=0xcc0000
script0=stat_combat

