[com_15541]
type=layer
width=512
height=334

[com_15542]
type=model
x=254
y=135
width=32
height=32
layer=com_15541
model=model_4652
modelangle=492,0,0
modelzoom=891

[com_15543]
type=model
x=26
y=147
width=32
height=32
layer=com_15541
model=model_10097
modelangle=443,2,0
modelzoom=720

[com_15544]
type=model
x=119
y=102
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15545]
type=model
x=160
y=110
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15546]
type=model
x=202
y=109
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15547]
type=model
x=246
y=101
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15548]
type=model
x=290
y=96
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15549]
type=model
x=335
y=101
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15550]
type=model
x=381
y=106
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15551]
type=model
x=426
y=110
width=32
height=195
layer=com_15541
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15552]
type=text
x=419
y=13
width=74
height=14
layer=com_15541
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00

[com_15553]
type=text
x=361
y=36
width=82
height=17
layer=com_15541
textfont=q8_full
text=Page 1 of 8
colour=0x000000

[com_15554]
type=model
x=138
y=36
width=70
height=60
layer=com_15541
buttontype=4
model=model_10115
modelactive=model_10116
modelangle=512,0,0
modelzoom=400
buttontext=Raise an Octave.
script=varplayerbit_1413 = 1

[com_15555]
type=model
x=119
y=107
width=32
height=195
layer=com_15541
buttontype=4
model=model_10099
modelactive=model_10100
modelangle=512,0,0
modelzoom=400
buttontext=D
script=varplayerbit_1412 = 63

[com_15556]
type=model
x=160
y=115
width=32
height=195
layer=com_15541
buttontype=4
model=model_10101
modelactive=model_10102
modelangle=460,0,0
modelzoom=400
buttontext=E
script=varplayerbit_1412 = 62

[com_15557]
type=model
x=202
y=114
width=32
height=195
layer=com_15541
buttontype=4
model=model_10103
modelactive=model_10104
modelangle=460,0,0
modelzoom=400
buttontext=F#
script=varplayerbit_1412 = 60

[com_15558]
type=model
x=246
y=106
width=32
height=195
layer=com_15541
buttontype=4
model=model_10105
modelactive=model_10106
modelangle=460,0,0
modelzoom=400
buttontext=G
script=varplayerbit_1412 = 56

[com_15559]
type=model
x=290
y=101
width=32
height=195
layer=com_15541
buttontype=4
model=model_10107
modelactive=model_10108
modelangle=460,0,0
modelzoom=400
buttontext=A
script=varplayerbit_1412 = 48

[com_15560]
type=model
x=335
y=105
width=32
height=195
layer=com_15541
buttontype=4
model=model_10109
modelactive=model_10110
modelangle=460,0,0
modelzoom=400
buttontext=B
script=varplayerbit_1412 = 32

[com_15561]
type=model
x=381
y=112
width=32
height=195
layer=com_15541
buttontype=4
model=model_10111
modelactive=model_10112
modelangle=460,0,0
modelzoom=400
buttontext=C#
script=varplayerbit_1412 = 1

[com_15562]
type=model
x=426
y=115
width=32
height=195
layer=com_15541
buttontype=4
model=model_10113
modelactive=model_10114
modelangle=460,0,0
modelzoom=400
buttontext=C
script=varplayerbit_1412 = 24

[com_15563]
type=text
x=259
y=54
width=60
height=20
layer=com_15541
buttontype=1
textfont=q8_full
text=PLAY
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff0000
buttontext=Play your tune.

[com_15564]
type=model
x=1
y=1
width=40
height=40
layer=com_15567
buttontype=1
model=model_10117
modelactive=model_10118
modelangle=512,0,0
modelzoom=220
buttontext=Next page.

[com_15565]
type=model
x=2
y=1
width=40
height=38
layer=com_15566
buttontype=1
model=model_10117
modelactive=model_10118
modelangle=522,1024,0
modelzoom=220
buttontext=Previous Page.

[com_15566]
type=layer
x=358
y=55
width=44
height=42
layer=com_15541

[com_15567]
type=layer
x=410
y=57
width=44
height=42
layer=com_15541

