[com_0]
type=model
x=240
y=154
width=32
height=32
model=model_9371
modelangle=513,0,0
modelzoom=191

[com_1]
type=rectangle
x=2
y=68
width=508
height=172
colour=0x202020
fill=yes

[com_2]
type=rectangle
x=7
y=74
width=499
height=164
colour=0x404040
fill=yes

[com_3]
type=layer
x=11
y=31
width=488
height=36

[com_4]
type=model
x=32
y=122
width=32
height=32
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_5]
type=model
x=115
y=122
width=32
height=32
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_6]
type=model
x=198
y=122
width=32
height=32
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_7]
type=model
x=281
y=122
width=32
height=32
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_8]
type=model
x=365
y=123
width=32
height=32
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_9]
type=model
x=449
y=122
width=32
height=32
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_10]
type=text
x=43
y=113
width=9
height=14
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_11]
type=text
x=126
y=113
width=9
height=14
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_12]
type=text
x=210
y=113
width=9
height=14
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_13]
type=text
x=292
y=114
width=9
height=14
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_14]
type=text
x=376
y=114
width=9
height=14
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15]
type=text
x=460
y=114
width=9
height=14
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_16]
type=model
x=223
y=11
width=32
height=32
model=model_9372
modelangle=396,6,0
modelzoom=278

[com_17]
type=graphic
x=15
y=194
width=31
height=24
buttontype=1
graphic=leftarrow_small

[com_18]
type=graphic
x=51
y=194
width=31
height=24
buttontype=1
graphic=rightarrow_small

[com_19]
type=graphic
x=97
y=194
width=32
height=25
buttontype=1
graphic=leftarrow_small

[com_20]
type=graphic
x=133
y=194
width=32
height=25
buttontype=1
graphic=rightarrow_small

[com_21]
type=graphic
x=179
y=194
width=32
height=25
buttontype=1
graphic=leftarrow_small

[com_22]
type=graphic
x=216
y=194
width=32
height=25
buttontype=1
graphic=rightarrow_small

[com_23]
type=graphic
x=264
y=194
width=32
height=25
buttontype=1
graphic=leftarrow_small

[com_24]
type=graphic
x=300
y=194
width=32
height=25
buttontype=1
graphic=rightarrow_small

[com_25]
type=graphic
x=348
y=194
width=32
height=25
buttontype=1
graphic=leftarrow_small

[com_26]
type=graphic
x=384
y=194
width=32
height=25
buttontype=1
graphic=rightarrow_small

[com_27]
type=graphic
x=468
y=193
width=32
height=25
buttontype=1
graphic=rightarrow_small

[com_28]
type=graphic
x=433
y=193
width=32
height=25
buttontype=1
graphic=leftarrow_small

[com_29]
type=text
x=420
y=39
width=68
height=11
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_30]
type=text
x=206
y=36
width=110
height=14
textfont=b12_full
text=Name your cat ...
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_31]
type=rectangle
x=193
y=262
width=128
height=32
buttontype=1
colour=0x404040
fill=yes

[com_32]
type=text
x=229
y=269
width=53
height=14
textfont=b12_full
text=E N T E R
colour=0xffaa44

[com_33]
type=model
x=32
y=397
width=20
height=32
model=model_9426
modelangle=11,1941,0
modelzoom=400

[com_34]
type=model
x=469
y=395
width=32
height=32
model=model_3006
modelangle=11,128,0
modelzoom=400

[com_35]
type=model
x=69
y=250
width=32
height=32
model=model_9373
modelangle=612,77,0
modelzoom=491

[com_36]
type=model
x=89
y=252
width=32
height=32
model=model_9373
modelangle=612,77,0
modelzoom=550

[com_37]
type=model
x=417
y=249
width=32
height=32
model=model_9373
modelangle=612,77,0
modelzoom=427

[com_38]
type=model
x=398
y=251
width=32
height=32
model=model_9373
modelangle=612,77,0
modelzoom=521

