[com_12790]
type=layer
width=512
height=334

[com_12791]
type=text
x=21
y=13
width=441
height=17
layer=com_12790
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_12792]
type=text
x=21
y=45
width=442
height=18
layer=com_12790
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

