[com_18691]
type=layer
width=512
height=334

[com_18692]
type=graphic
x=103
y=37
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18693]
type=graphic
x=100
y=80
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18694]
type=graphic
x=100
y=140
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18695]
type=graphic
x=100
y=200
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18696]
type=graphic
x=189
y=38
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18697]
type=graphic
x=188
y=80
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18698]
type=graphic
x=188
y=140
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18699]
type=graphic
x=188
y=200
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18700]
type=graphic
x=277
y=40
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18701]
type=graphic
x=276
y=80
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18702]
type=graphic
x=276
y=140
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18703]
type=graphic
x=276
y=200
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18704]
type=graphic
x=98
y=34
width=25
height=30
layer=com_18691
graphic=steelborder,0

[com_18705]
type=graphic
x=85
y=37
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18706]
type=graphic
x=337
y=40
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18707]
type=graphic
x=84
y=57
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18708]
type=graphic
x=84
y=79
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18709]
type=graphic
x=84
y=115
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18710]
type=graphic
x=84
y=150
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18711]
type=graphic
x=84
y=186
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18712]
type=graphic
x=84
y=222
width=36
height=36
layer=com_18691
graphic=miscgraphics,2

[com_18713]
type=graphic
x=410
y=59
width=36
height=36
layer=com_18691
graphic=steelborder2,1

[com_18714]
type=graphic
x=410
y=95
width=36
height=36
layer=com_18691
graphic=steelborder2,1

[com_18715]
type=graphic
x=410
y=114
width=36
height=36
layer=com_18691
graphic=steelborder2,1

[com_18716]
type=graphic
x=410
y=150
width=36
height=36
layer=com_18691
graphic=steelborder2,1

[com_18717]
type=graphic
x=410
y=186
width=36
height=36
layer=com_18691
graphic=steelborder2,1

[com_18718]
type=graphic
x=410
y=222
width=36
height=36
layer=com_18691
graphic=steelborder2,1

[com_18719]
type=graphic
x=158
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18720]
type=graphic
x=193
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18721]
type=graphic
x=228
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18722]
type=graphic
x=263
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18723]
type=graphic
x=298
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18724]
type=graphic
x=301
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18725]
type=graphic
x=336
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18726]
type=graphic
x=371
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18727]
type=graphic
x=104
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18728]
type=graphic
x=120
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18729]
type=graphic
x=154
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18730]
type=graphic
x=190
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18731]
type=graphic
x=226
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18732]
type=graphic
x=262
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18733]
type=graphic
x=298
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18734]
type=graphic
x=334
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18735]
type=graphic
x=370
y=19
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18736]
type=graphic
x=337
y=98
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18737]
type=graphic
x=213
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18738]
type=graphic
x=123
y=266
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18739]
type=graphic
x=99
y=257
width=25
height=30
layer=com_18691
graphic=steelborder,2

[com_18740]
type=graphic
x=406
y=34
width=25
height=30
layer=com_18691
graphic=steelborder,1

[com_18741]
type=graphic
x=337
y=154
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18742]
type=graphic
x=406
y=257
width=25
height=30
layer=com_18691
graphic=steelborder,3

[com_18743]
type=graphic
x=247
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18744]
type=graphic
x=350
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18745]
type=graphic
x=317
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18746]
type=graphic
x=282
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18747]
type=graphic
x=337
y=207
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18748]
type=graphic
x=381
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18749]
type=graphic
x=180
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18750]
type=graphic
x=145
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18751]
type=graphic
x=123
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18752]
type=graphic
x=104
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18753]
type=graphic
x=338
y=221
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18754]
type=graphic
x=176
y=221
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18755]
type=graphic
x=105
y=221
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18756]
type=graphic
x=250
y=221
width=88
height=60
layer=com_18691
graphic=tradebacking,0

[com_18757]
type=graphic
x=389
y=50
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18758]
type=text
x=105
y=44
width=321
height=14
layer=com_18691
textfont=b12_full
text=Void Knights' Training Options
textalignh=centre
textshadow=yes
colour=0xc8c800

[com_18759]
type=text
x=387
y=46
width=33
height=12
layer=com_18691
buttontype=3
textfont=p11_full
text=Cancel
textshadow=yes
colour=0x939292
colouractive=0xd6d5d5
mouseovercolour=0xffffff

[com_18760]
type=graphic
x=120
y=72
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,0
buttontext=Choose @or2@Attack@whi@ xp

[com_18761]
type=graphic
x=120
y=102
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,1
buttontext=Choose @or2@Strength@whi@ xp

[com_18762]
type=graphic
x=120
y=132
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,2
buttontext=Choose @or2@Defence@whi@ xp

[com_18763]
type=graphic
x=120
y=162
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,3
buttontext=Choose @or2@Ranged@whi@ xp

[com_18764]
type=graphic
x=120
y=192
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,5
buttontext=Choose @or2@Magic@whi@ xp

[com_18765]
type=graphic
x=120
y=222
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,6
buttontext=Choose @or2@Hitpoints@whi@ xp

[com_18766]
type=graphic
x=120
y=252
width=25
height=25
layer=com_18691
buttontype=1
graphic=staticons,4
buttontext=Choose @or2@Prayer@whi@ xp

[com_18767]
type=text
x=162
y=77
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Attack
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Attack@whi@ xp

[com_18768]
type=text
x=162
y=107
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Strength
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Strength@whi@ xp

[com_18769]
type=text
x=162
y=137
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Defence
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Defence@whi@ xp

[com_18770]
type=text
x=162
y=167
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Ranged
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Ranged@whi@ xp

[com_18771]
type=text
x=162
y=197
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Magic
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Magic@whi@ xp

[com_18772]
type=text
x=162
y=227
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Hitpoints
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Hitpoints@whi@ xp

[com_18773]
type=text
x=162
y=257
width=160
height=14
layer=com_18691
buttontype=1
textfont=p12_full
text=Prayer
textshadow=yes
colour=0xffff00
buttontext=Choose @or2@Prayer@whi@ xp

[com_18774]
type=graphic
x=337
y=170
width=25
height=30
layer=com_18691
graphic=steelborder,2

[com_18775]
type=graphic
x=394
y=143
width=25
height=30
layer=com_18691
graphic=steelborder,1

[com_18776]
type=graphic
x=337
y=143
width=25
height=30
layer=com_18691
graphic=steelborder,0

[com_18777]
type=graphic
x=394
y=170
width=25
height=30
layer=com_18691
graphic=steelborder,3

[com_18778]
type=graphic
x=361
y=128
width=36
height=36
layer=com_18691
graphic=steelborder2,0

[com_18779]
type=rectangle
x=343
y=149
width=70
height=45
layer=com_18691
buttontype=1
colour=0x000000
fill=yes
buttontext=Confirm

[com_18780]
type=text
x=343
y=157
width=70
height=14
layer=com_18691
textfont=p12_full
text=Confirm:
textalignh=centre
textshadow=yes
colour=0x969696
colouractive=0xffff00
script=varplayer_261 > 0

[com_18781]
type=graphic
x=361
y=179
width=36
height=36
layer=com_18691
graphic=miscgraphics,3

[com_18782]
type=text
x=343
y=174
width=70
height=12
layer=com_18691
textfont=p11_full
textalignh=centre
textshadow=yes
colour=0xffff00

[com_18783]
type=text
x=343
y=205
width=70
height=12
layer=com_18691
textfont=p11_full
text=Points: %1
textactive=You have %1 point.
textalignh=centre
textshadow=yes
colour=0xffff00
script0=varplayerbit_2086

