[com_0]
type=model
x=244
y=152
width=35
height=35
model=model_3044
modelangle=2041,6,0
modelzoom=651

[com_1]
type=text
x=120
y=110
width=276
height=17
textfont=q8_full
text=Choose the stat you wish to be advanced!
textalignh=centre
textshadow=yes
colour=0xffff00

[com_2]
type=text
x=433
y=12
width=68
height=11
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_3]
type=graphic
x=148
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Attack
script=varplayer_261 = 1

[com_4]
type=graphic
x=180
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Strength
script=varplayer_261 = 2

[com_5]
type=graphic
x=212
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Ranged
script=varplayer_261 = 3

[com_6]
type=graphic
x=244
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Magic
script=varplayer_261 = 4

[com_7]
type=graphic
x=276
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Defence
script=varplayer_261 = 5

[com_8]
type=graphic
x=308
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Hitpoints
script=varplayer_261 = 6

[com_9]
type=graphic
x=340
y=140
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Prayer
script=varplayer_261 = 7

[com_10]
type=graphic
x=148
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Agility
script=varplayer_261 = 8

[com_11]
type=graphic
x=180
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Herblore
script=varplayer_261 = 9

[com_12]
type=graphic
x=212
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Thieving
script=varplayer_261 = 10

[com_13]
type=graphic
x=244
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Crafting
script=varplayer_261 = 11

[com_14]
type=graphic
x=276
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Runecraft
script=varplayer_261 = 12

[com_15]
type=graphic
x=148
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Mining
script=varplayer_261 = 13

[com_16]
type=graphic
x=180
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Smithing
script=varplayer_261 = 14

[com_17]
type=graphic
x=212
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Fishing
script=varplayer_261 = 15

[com_18]
type=graphic
x=244
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Cooking
script=varplayer_261 = 16

[com_19]
type=graphic
x=276
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Firemaking
script=varplayer_261 = 17

[com_20]
type=graphic
x=308
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Woodcutting
script=varplayer_261 = 18

[com_21]
type=graphic
x=340
y=212
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Fletching
script=varplayer_261 = 19

[com_22]
type=graphic
x=308
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Slayer
script=varplayer_261 = 20

[com_23]
type=graphic
x=340
y=176
width=25
height=25
buttontype=1
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
buttontext=Advance Farming
script=varplayer_261 = 21

[com_24]
type=text
x=232
y=244
width=44
height=14
buttontype=1
textfont=p12_full
text=Confirm
textshadow=yes
colour=0x00c000

[com_25]
type=graphic
x=148
y=140
width=25
height=25
graphic="staticons,0"

[com_26]
type=graphic
x=180
y=140
width=25
height=25
graphic="staticons,1"

[com_27]
type=graphic
x=212
y=140
width=25
height=25
graphic="staticons,3"

[com_28]
type=graphic
x=244
y=140
width=25
height=25
graphic="staticons,5"

[com_29]
type=graphic
x=276
y=140
width=25
height=25
graphic="staticons,2"

[com_30]
type=graphic
x=308
y=140
width=25
height=25
graphic="staticons,6"

[com_31]
type=graphic
x=340
y=140
width=25
height=25
graphic="staticons,4"

[com_32]
type=graphic
x=148
y=176
width=25
height=25
graphic="staticons,7"

[com_33]
type=graphic
x=180
y=176
width=25
height=25
graphic="staticons,8"

[com_34]
type=graphic
x=212
y=176
width=25
height=25
graphic="staticons,9"

[com_35]
type=graphic
x=244
y=176
width=25
height=25
graphic="staticons,10"

[com_36]
type=graphic
x=276
y=176
width=25
height=25
graphic="staticons2,0"

[com_37]
type=graphic
x=148
y=212
width=25
height=25
graphic="staticons,12"

[com_38]
type=graphic
x=180
y=212
width=25
height=25
graphic="staticons,13"

[com_39]
type=graphic
x=212
y=212
width=25
height=25
graphic="staticons,14"

[com_40]
type=graphic
x=244
y=212
width=25
height=25
graphic="staticons,15"

[com_41]
type=graphic
x=276
y=212
width=25
height=25
graphic="staticons,16"

[com_42]
type=graphic
x=308
y=212
width=25
height=25
graphic="staticons,17"

[com_43]
type=graphic
x=340
y=212
width=25
height=25
graphic="staticons,11"

[com_44]
type=graphic
x=308
y=176
width=25
height=25
graphic="staticons2,1"

[com_45]
type=graphic
x=340
y=176
width=25
height=25
graphic="staticons2,2"

