[com_3209]
type=layer
width=512
height=334

[com_3210]
type=graphic
x=80
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,7

[com_3211]
type=graphic
x=65
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,7

[com_3212]
type=graphic
x=39
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,7

[com_4461]
type=graphic
x=97
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,8

[com_4462]
type=graphic
x=119
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,8

[com_4463]
type=text
clientcode=205
x=57
y=213
width=83
height=14
layer=com_3209
buttontype=1
textfont=b12_full
text=Stop Viewing
textshadow=yes
mouseovercolour=0xff0000

[com_4464]
type=model
x=81
y=99
width=28
height=28
layer=com_3209
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=seq_2657

[com_2801]
type=model
x=25
y=46
width=28
height=28
layer=com_3209
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=seq_2657

[com_15236]
type=model
x=137
y=46
width=28
height=28
layer=com_3209
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=seq_2657

[com_15237]
type=model
x=25
y=152
width=28
height=28
layer=com_3209
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=seq_2657

[com_15238]
type=model
x=137
y=152
width=28
height=28
layer=com_3209
model=model_9298
modelangle=166,63,0
modelzoom=2280
modelanim=seq_2657

[com_15239]
type=text
x=76
y=119
width=38
height=14
layer=com_3209
buttontype=1
textfont=p12_full
text=Centre
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=varplayerbit_1050 = 1

[com_15240]
type=text
x=5
y=66
width=66
height=14
layer=com_3209
buttontype=1
textfont=p12_full
text=North-West
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=varplayerbit_1050 = 2

[com_15241]
type=text
x=119
y=66
width=63
height=14
layer=com_3209
buttontype=1
textfont=p12_full
text=North-East
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=varplayerbit_1050 = 3

[com_15242]
type=text
x=118
y=172
width=64
height=14
layer=com_3209
buttontype=1
textfont=p12_full
text=South-East
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=varplayerbit_1050 = 4

[com_15243]
type=text
x=6
y=172
width=67
height=14
layer=com_3209
buttontype=1
textfont=p12_full
text=South-West
textshadow=yes
colour=0xffff00
colouractive=0xffffff
buttontext=View
script=varplayerbit_1050 = 5

