[com_4305]
type=layer
width=512
height=334

[com_4312]
type=model
x=227
y=162
width=32
height=32
layer=com_4305
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_4318]
type=text
x=430
y=8
width=74
height=14
layer=com_4305
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_4322]
type=model
x=236
y=68
width=32
height=32
layer=com_4305
model=model_3396
modelangle=696,824,0
modelzoom=1351

[com_4363]
type=model
x=249
y=92
width=32
height=32
layer=com_4305
model=model_3396
modelangle=702,982,0
modelzoom=1351

[com_4381]
type=model
x=280
y=168
width=32
height=32
layer=com_4305
model=model_4154
modelangle=595,2028,0
modelzoom=1351

[com_4390]
type=model
x=278
y=178
width=32
height=32
layer=com_4305
model=model_4154
modelangle=629,107,0
modelzoom=1351

[com_4391]
type=model
x=303
y=176
width=32
height=32
layer=com_4305
model=model_3396
modelangle=714,1068,0
modelzoom=1332

[com_4400]
type=model
x=260
y=110
width=32
height=32
layer=com_4305
model=model_3396
modelangle=698,779,0
modelzoom=1351

[com_8981]
type=model
x=247
y=158
width=32
height=32
layer=com_4305
model=model_3389
modelangle=474,1775,0
modelzoom=1349

[com_8982]
type=model
x=222
y=48
width=32
height=32
layer=com_4305
model=model_3396
modelangle=700,883,0
modelzoom=1351

[com_8983]
type=model
x=150
y=229
width=32
height=32
layer=com_4305
model=model_3388
modelangle=493,18,0
modelzoom=531

[com_8984]
type=model
x=165
y=49
width=32
height=32
layer=com_4305
model=model_3388
modelangle=527,515,0
modelzoom=531

[com_8985]
type=model
x=281
y=126
width=32
height=32
layer=com_4305
model=model_4154
modelangle=543,737,0
modelzoom=1351

[com_8986]
type=model
x=340
y=62
width=32
height=32
layer=com_4305
model=model_3388
modelangle=578,1030,0
modelzoom=531

[com_8987]
type=model
x=308
y=199
width=32
height=32
layer=com_4305
model=model_4154
modelangle=507,885,0
modelzoom=1351

[com_8988]
type=model
x=323
y=211
width=32
height=32
layer=com_4305
model=model_3396
modelangle=656,703,0
modelzoom=1332

[com_8989]
type=model
x=321
y=245
width=32
height=32
layer=com_4305
model=model_3388
modelangle=576,1544,0
modelzoom=531

[com_8990]
type=layer
x=42
y=32
width=442
height=286
layer=com_4305

[com_8991]
type=model
x=338
y=218
width=32
height=32
layer=com_4305
model=model_4154
modelangle=520,595,0
modelzoom=1351

[com_8992]
type=model
x=249
y=184
width=32
height=32
layer=com_4305
model=model_3391
modelangle=512,2045,0
modelzoom=1992

[com_8993]
type=model
x=305
y=111
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_8994]
type=model
x=221
y=154
width=32
height=32
layer=com_4305
model=model_3396
modelangle=475,1053,0
modelzoom=1351

[com_8995]
type=model
x=174
y=220
width=32
height=32
layer=com_4305
model=model_3387
modelangle=463,2005,0
modelzoom=1587

[com_8996]
type=model
x=216
y=218
width=32
height=32
layer=com_4305
model=model_3387
modelangle=554,105,0
modelzoom=1615

[com_8997]
type=model
x=175
y=68
width=32
height=32
layer=com_4305
model=model_3387
modelangle=464,1919,0
modelzoom=1639

[com_8998]
type=model
x=194
y=217
width=32
height=32
layer=com_4305
model=model_3387
modelangle=500,0,0
modelzoom=1431

[com_8999]
type=model
x=194
y=67
width=32
height=32
layer=com_4305
model=model_3387
modelangle=537,97,0
modelzoom=1585

[com_9000]
type=model
x=176
y=125
width=32
height=32
layer=com_4305
model=model_3387
modelangle=407,1966,0
modelzoom=1611

[com_9001]
type=model
x=197
y=123
width=32
height=32
layer=com_4305
model=model_3387
modelangle=525,94,0
modelzoom=1594

[com_9002]
type=model
x=277
y=158
width=32
height=32
layer=com_4305
model=model_4154
modelangle=521,1931,0
modelzoom=1351

[com_9003]
type=model
x=271
y=150
width=32
height=32
layer=com_4305
model=model_4154
modelangle=496,1831,0
modelzoom=1351

[com_9004]
type=model
x=267
y=148
width=32
height=32
layer=com_4305
model=model_4154
modelangle=467,1690,0
modelzoom=1351

[com_9005]
type=model
x=242
y=121
width=32
height=32
layer=com_4305
model=model_4154
modelangle=467,1690,0
modelzoom=1351

[com_9006]
type=model
x=243
y=204
width=32
height=32
layer=com_4305
model=model_3396
modelangle=288,813,0
modelzoom=1351

[com_9007]
type=model
x=278
y=200
width=32
height=32
layer=com_4305
model=model_4154
modelangle=618,1890,0
modelzoom=1351

[com_9008]
type=model
x=308
y=243
width=32
height=32
layer=com_4305
model=model_3396
modelangle=769,1964,0
modelzoom=1351

[com_9009]
type=model
x=258
y=241
width=32
height=32
layer=com_4305
model=model_3396
modelangle=619,925,0
modelzoom=1351

[com_9010]
type=model
x=250
y=126
width=32
height=32
layer=com_4305
model=model_4154
modelangle=519,1798,0
modelzoom=1351

[com_9011]
type=model
x=260
y=142
width=32
height=32
layer=com_4305
model=model_4154
modelangle=552,1860,0
modelzoom=1351

[com_9012]
type=model
x=256
y=134
width=32
height=32
layer=com_4305
model=model_4154
modelangle=552,1860,0
modelzoom=1351

[com_9013]
type=model
x=235
y=121
width=32
height=32
layer=com_4305
model=model_4154
modelangle=454,1416,0
modelzoom=1351

[com_9014]
type=model
x=228
y=127
width=32
height=32
layer=com_4305
model=model_4154
modelangle=443,1236,0
modelzoom=1351

[com_9015]
type=model
x=224
y=135
width=32
height=32
layer=com_4305
model=model_4154
modelangle=433,1144,0
modelzoom=1351

[com_9016]
type=model
x=221
y=171
width=32
height=32
layer=com_4305
model=model_4154
modelangle=405,884,0
modelzoom=1351

[com_9017]
type=model
x=233
y=190
width=32
height=32
layer=com_4305
model=model_4154
modelangle=405,884,0
modelzoom=1351

[com_9018]
type=model
x=229
y=184
width=32
height=32
layer=com_4305
model=model_4154
modelangle=399,802,0
modelzoom=1351

[com_9019]
type=model
x=225
y=179
width=32
height=32
layer=com_4305
model=model_4154
modelangle=410,862,0
modelzoom=1351

[com_9020]
type=model
x=254
y=218
width=32
height=32
layer=com_4305
model=model_4154
modelangle=424,910,0
modelzoom=1351

[com_9021]
type=model
x=255
y=227
width=32
height=32
layer=com_4305
model=model_4154
modelangle=440,991,0
modelzoom=1351

[com_9022]
type=model
x=276
y=186
width=32
height=32
layer=com_4305
model=model_4154
modelangle=636,47,0
modelzoom=1351

[com_9023]
type=model
x=275
y=195
width=32
height=32
layer=com_4305
model=model_4154
modelangle=644,1980,0
modelzoom=1351

[com_9024]
type=model
x=283
y=207
width=32
height=32
layer=com_4305
model=model_4154
modelangle=613,1798,0
modelzoom=1351

[com_9025]
type=model
x=290
y=214
width=32
height=32
layer=com_4305
model=model_4154
modelangle=636,1850,0
modelzoom=1351

[com_9026]
type=model
x=295
y=222
width=32
height=32
layer=com_4305
model=model_4154
modelangle=654,1891,0
modelzoom=1351

[com_9027]
type=model
x=301
y=229
width=32
height=32
layer=com_4305
model=model_4154
modelangle=621,1782,0
modelzoom=1351

[com_9028]
type=model
x=304
y=191
width=32
height=32
layer=com_4305
model=model_4154
modelangle=511,822,0
modelzoom=1351

[com_9029]
type=model
x=297
y=149
width=32
height=32
layer=com_4305
model=model_4154
modelangle=511,822,0
modelzoom=1351

[com_9030]
type=model
x=302
y=158
width=32
height=32
layer=com_4305
model=model_4154
modelangle=536,881,0
modelzoom=1351

[com_9031]
type=model
x=292
y=141
width=32
height=32
layer=com_4305
model=model_4154
modelangle=530,806,0
modelzoom=1351

[com_9032]
type=model
x=287
y=133
width=32
height=32
layer=com_4305
model=model_4154
modelangle=543,865,0
modelzoom=1351

[com_9033]
type=model
x=274
y=122
width=32
height=32
layer=com_4305
model=model_4154
modelangle=533,700,0
modelzoom=1351

[com_9034]
type=model
x=303
y=55
width=32
height=32
layer=com_4305
model=model_3391
modelangle=512,2045,0
modelzoom=1992

[com_9035]
type=model
x=322
y=70
width=32
height=32
layer=com_4305
model=model_3391
modelangle=512,2045,0
modelzoom=1992

[com_9036]
type=model
x=293
y=101
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_9037]
type=model
x=313
y=97
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_9038]
type=model
x=267
y=69
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_9039]
type=model
x=276
y=58
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_9040]
type=model
x=258
y=57
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_9041]
type=model
x=340
y=125
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

[com_9042]
type=model
x=328
y=136
width=32
height=32
layer=com_4305
model=model_3397
modelangle=467,2031,0
modelzoom=2109

