[com_0]
type=text
x=7
y=25
width=111
height=18
textfont=q8_full
text=PLAYER 
textalignh=centre
colour=0x6633ff

[com_1]
type=text
x=119
y=26
width=88
height=16
textfont=q8_full
text=SHOTS
textalignh=centre
colour=0x6633ff

[com_2]
type=text
x=210
y=25
width=96
height=17
textfont=q8_full
text=SCORE
textalignh=centre
colour=0x6633ff

[com_3]
type=text
x=55
y=45
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_4]
type=text
x=55
y=61
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_5]
type=text
x=55
y=77
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_6]
type=text
x=55
y=93
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_7]
type=text
x=160
y=45
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_8]
type=text
x=160
y=61
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_9]
type=text
x=160
y=77
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_10]
type=text
x=160
y=93
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_11]
type=text
x=257
y=45
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_12]
type=text
x=257
y=61
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_13]
type=text
x=257
y=77
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_14]
type=text
x=257
y=93
width=6
height=14
textfont=p12_full
text=-
textalignh=centre
textshadow=yes
colour=0xff981f

[com_15]
type=text
x=313
y=45
width=5
height=17
textfont=q8_full
textalignh=centre
colour=0xcc0000

[com_16]
type=text
x=313
y=61
width=5
height=17
textfont=q8_full
textalignh=centre
colour=0xcc0000

[com_17]
type=text
x=313
y=77
width=5
height=17
textfont=q8_full
textalignh=centre
colour=0xcc0000

[com_18]
type=text
x=313
y=93
width=5
height=17
textfont=q8_full
textalignh=centre
colour=0xcc0000

[com_19]
type=text
x=379
y=24
width=6
height=14
textfont=p12_full
textalignh=centre
colour=0x6633ff

