[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

[com_2]
type=model
x=207
y=13
width=64
height=96
model=model_2365
modelangle=221,1877,0
modelzoom=400

[com_3]
type=text
x=147
y=17
width=181
height=90
buttontype=1
textfont=q8_full
text=\n\n\n\nChurn Cheese
textalignh=centre
colour=0xa00000
buttontext=Churn Cheese
script=stat(cooking) > 47

[com_4]
type=text
x=56
y=1
width=366
height=31
textfont=q8_full
text=What would you like to make in the churn?
textalignh=centre
textalignv=centre
colour=0x000000

