[com_4558]
type=layer
width=512
height=334

[com_4559]
type=model
x=241
y=127
width=35
height=35
layer=com_4558
model=model_6746
modelangle=498,1,0
modelzoom=477

[com_4560]
type=model
x=241
y=127
width=35
height=35
layer=com_4558
model=model_6747
modelactive=model_6749
modelangle=498,1,0
modelzoom=477

[com_4561]
type=model
x=241
y=127
width=35
height=35
layer=com_4558
model=model_6748
modelangle=498,1,0
modelzoom=477

[com_4562]
type=text
x=434
y=9
width=68
height=11
layer=com_4558
buttontype=1
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_4563]
type=text
x=253
y=11
width=20
height=17
layer=com_4558
textfont=q8_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

[com_4657]
type=layer
x=28
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_4658]
type=model
x=87
y=-9
width=32
height=32
layer=com_4657
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4659]
type=layer
x=29
y=56
width=201
height=241
layer=com_4558
hide=yes

[com_4660]
type=model
x=86
y=6
width=32
height=32
layer=com_4659
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4661]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4662]
type=model
x=87
y=24
width=32
height=32
layer=com_4661
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4663]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4664]
type=model
x=87
y=40
width=32
height=32
layer=com_4663
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4665]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4666]
type=model
x=87
y=56
width=32
height=32
layer=com_4665
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4667]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4668]
type=model
x=87
y=72
width=32
height=32
layer=com_4667
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4669]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4670]
type=model
x=87
y=87
width=32
height=32
layer=com_4669
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4671]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4672]
type=model
x=87
y=104
width=32
height=32
layer=com_4671
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4673]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4674]
type=model
x=87
y=120
width=32
height=32
layer=com_4673
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4675]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4676]
type=model
x=87
y=136
width=32
height=32
layer=com_4675
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4677]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_4678]
type=model
x=87
y=154
width=32
height=32
layer=com_4677
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_4908]
type=layer
x=29
y=56
width=201
height=241
layer=com_4558
hide=yes

[com_5991]
type=model
x=86
y=168
width=32
height=32
layer=com_4908
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_5992]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_6166]
type=model
x=86
y=184
width=32
height=32
layer=com_5992
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_6167]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_6168]
type=model
x=87
y=201
width=32
height=32
layer=com_6167
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_6169]
type=layer
x=28
y=54
width=201
height=241
layer=com_4558
hide=yes

[com_6170]
type=model
x=88
y=217
width=32
height=32
layer=com_6169
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_6171]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_6172]
type=model
x=88
y=-8
width=32
height=32
layer=com_6171
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_8618]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_12420]
type=model
x=88
y=5
width=32
height=32
layer=com_8618
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_12421]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_12422]
type=model
x=88
y=23
width=32
height=32
layer=com_12421
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_12423]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_12750]
type=model
x=88
y=39
width=32
height=32
layer=com_12423
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_12751]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13295]
type=model
x=88
y=56
width=32
height=32
layer=com_12751
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13296]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13297]
type=model
x=88
y=72
width=32
height=32
layer=com_13296
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13298]
type=layer
x=282
y=80
width=201
height=241
layer=com_4558
hide=yes

[com_13299]
type=model
x=89
y=63
width=32
height=32
layer=com_13298
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13300]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13301]
type=model
x=89
y=104
width=32
height=32
layer=com_13300
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13302]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13303]
type=model
x=89
y=120
width=32
height=32
layer=com_13302
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13304]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13305]
type=model
x=89
y=135
width=32
height=32
layer=com_13304
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13306]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13307]
type=model
x=88
y=151
width=32
height=32
layer=com_13306
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13308]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13309]
type=model
x=88
y=168
width=32
height=32
layer=com_13308
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13310]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13311]
type=model
x=88
y=184
width=32
height=32
layer=com_13310
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13312]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13313]
type=model
x=88
y=199
width=32
height=32
layer=com_13312
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13314]
type=layer
x=282
y=55
width=201
height=241
layer=com_4558
hide=yes

[com_13315]
type=model
x=88
y=215
width=32
height=32
layer=com_13314
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13316]
type=text
x=27
y=54
width=202
height=17
layer=com_4558
textfont=q8_full
text=line1
colour=0x000000

[com_13317]
type=text
x=27
y=70
width=202
height=17
layer=com_4558
textfont=q8_full
text=line2
colour=0x000000

[com_13318]
type=text
x=27
y=86
width=202
height=17
layer=com_4558
textfont=q8_full
text=line3
colour=0x000000

[com_13319]
type=text
x=27
y=102
width=202
height=17
layer=com_4558
textfont=q8_full
text=line4
colour=0x000000

[com_13320]
type=text
x=27
y=118
width=202
height=17
layer=com_4558
textfont=q8_full
text=line5
colour=0x000000

[com_13321]
type=text
x=27
y=134
width=202
height=17
layer=com_4558
textfont=q8_full
text=line6
colour=0x000000

[com_13322]
type=text
x=27
y=150
width=202
height=17
layer=com_4558
textfont=q8_full
text=line7
colour=0x000000

[com_13323]
type=text
x=27
y=166
width=202
height=17
layer=com_4558
textfont=q8_full
text=line8
colour=0x000000

[com_13324]
type=text
x=27
y=182
width=202
height=17
layer=com_4558
textfont=q8_full
text=line9
colour=0x000000

[com_13325]
type=text
x=27
y=198
width=202
height=17
layer=com_4558
textfont=q8_full
text=line10
colour=0x000000

[com_13326]
type=text
x=27
y=214
width=202
height=17
layer=com_4558
textfont=q8_full
text=line11
colour=0x000000

[com_13327]
type=text
x=27
y=230
width=202
height=17
layer=com_4558
textfont=q8_full
text=line12
colour=0x000000

[com_13328]
type=text
x=27
y=246
width=202
height=17
layer=com_4558
textfont=q8_full
text=line13
colour=0x000000

[com_13329]
type=text
x=27
y=262
width=202
height=17
layer=com_4558
textfont=q8_full
text=line14
colour=0x000000

[com_13330]
type=text
x=27
y=278
width=202
height=17
layer=com_4558
textfont=q8_full
text=line15
colour=0x000000

[com_13331]
type=text
x=283
y=54
width=202
height=17
layer=com_4558
textfont=q8_full
text=line16
colour=0x000000

[com_13332]
type=text
x=283
y=70
width=202
height=17
layer=com_4558
textfont=q8_full
text=line17
colour=0x000000

[com_13333]
type=text
x=283
y=86
width=202
height=17
layer=com_4558
textfont=q8_full
text=line18
colour=0x000000

[com_13334]
type=text
x=283
y=102
width=202
height=17
layer=com_4558
textfont=q8_full
text=line19
colour=0x000000

[com_13335]
type=text
x=283
y=118
width=202
height=17
layer=com_4558
textfont=q8_full
text=line20
colour=0x000000

[com_13336]
type=text
x=283
y=134
width=202
height=17
layer=com_4558
textfont=q8_full
text=line21
colour=0x000000

[com_13337]
type=text
x=283
y=150
width=202
height=17
layer=com_4558
textfont=q8_full
text=line22
colour=0x000000

[com_13338]
type=text
x=283
y=166
width=202
height=17
layer=com_4558
textfont=q8_full
text=line23
colour=0x000000

[com_13339]
type=text
x=283
y=182
width=202
height=17
layer=com_4558
textfont=q8_full
text=line24
colour=0x000000

[com_13340]
type=text
x=283
y=198
width=202
height=17
layer=com_4558
textfont=q8_full
text=line25
colour=0x000000

[com_13341]
type=text
x=283
y=214
width=202
height=17
layer=com_4558
textfont=q8_full
text=line26
colour=0x000000

[com_13342]
type=text
x=283
y=230
width=202
height=17
layer=com_4558
textfont=q8_full
text=line27
colour=0x000000

[com_13343]
type=text
x=283
y=246
width=202
height=17
layer=com_4558
textfont=q8_full
text=line28
colour=0x000000

[com_13344]
type=text
x=283
y=262
width=202
height=17
layer=com_4558
textfont=q8_full
text=line28
colour=0x000000

[com_13345]
type=text
x=283
y=278
width=202
height=17
layer=com_4558
textfont=q8_full
text=line29
colour=0x000000

[com_13346]
type=graphic
y=-1
width=45
height=36
layer=com_13347
buttontype=1
graphic=leftarrow,0

[com_13347]
type=layer
x=94
y=298
width=45
height=36
layer=com_4558

[com_13348]
type=graphic
width=45
height=36
layer=com_13349
buttontype=1
graphic=rightarrow,0

[com_13349]
type=layer
x=366
y=295
width=45
height=36
layer=com_4558

[com_13350]
type=text
x=9
y=300
width=49
height=17
layer=com_4558
textfont=q8_full
text=page%1
textalignh=centre
colour=0x000000

[com_13351]
type=text
x=455
y=300
width=52
height=17
layer=com_4558
textfont=q8_full
text=page%2
textalignh=centre
colour=0x000000

