[com_5392]
type=layer
width=512
height=334

[com_5393]
type=model
x=240
y=155
width=32
height=32
layer=com_5392
model=model_3024
modelangle=345,84,0
modelzoom=613

[com_5394]
type=text
x=6
y=83
width=140
height=17
layer=com_5392
textfont=q8_full
text=Southeast Runescape
textalignh=centre
textshadow=yes
colour=0xfad782

[com_5395]
type=text
x=430
y=8
width=74
height=14
layer=com_5392
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_5396]
type=model
x=448
y=172
width=32
height=32
layer=com_5392
model=model_3039
modelangle=557,73,0
modelzoom=1767

[com_5397]
type=model
x=63
y=42
width=32
height=32
layer=com_5392
model=model_2774
modelangle=208,1687,0
modelzoom=400

[com_5398]
type=model
x=134
y=203
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 0

[com_5399]
type=model
x=156
y=218
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 1

[com_5400]
type=model
x=232
y=222
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 2

[com_5401]
type=model
x=253
y=239
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 3

[com_5402]
type=model
x=290
y=246
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 4

[com_5403]
type=model
x=336
y=264
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 5

[com_5404]
type=model
x=147
y=174
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 6

[com_5405]
type=model
x=177
y=175
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 7

[com_5406]
type=model
x=227
y=191
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 8

[com_5407]
type=model
x=261
y=204
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 9

[com_5408]
type=model
x=304
y=214
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 10

[com_5409]
type=model
x=343
y=225
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 11

[com_5410]
type=model
x=159
y=142
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 12

[com_5411]
type=model
x=193
y=149
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 13

[com_5412]
type=model
x=229
y=157
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 14

[com_5413]
type=model
x=272
y=168
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 15

[com_5414]
type=model
x=311
y=175
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 16

[com_5415]
type=model
x=346
y=185
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 17

[com_5416]
type=model
x=172
y=112
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 18

[com_5417]
type=model
x=205
y=118
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 19

[com_5418]
type=model
x=242
y=126
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 20

[com_5419]
type=model
x=278
y=134
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 21

[com_5420]
type=model
x=316
y=145
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 22

[com_5421]
type=model
x=354
y=151
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 23

[com_5422]
type=model
x=183
y=83
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 24

[com_5423]
type=model
x=215
y=88
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 25

[com_5424]
type=model
x=252
y=96
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 26

[com_5425]
type=model
x=285
y=104
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 27

[com_5426]
type=model
x=326
y=112
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 28

[com_5427]
type=model
x=361
y=120
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 29

[com_5428]
type=model
x=192
y=57
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 30

[com_5429]
type=model
x=222
y=60
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 31

[com_5430]
type=model
x=260
y=67
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 32

[com_5431]
type=model
x=293
y=74
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 33

[com_5432]
type=model
x=329
y=81
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 34

[com_5433]
type=model
x=367
y=89
width=32
height=32
layer=com_5392
model=null
modelactive=model_3062
modelangle=528,68,0
modelzoom=1526
modelanimactive=seq_646
script=varplayer_106 = 35

[com_5434]
type=text
x=309
y=213
width=58
height=14
layer=com_5392
textfont=p12_full
text=Lumbridge
textshadow=yes
colour=0x947440

[com_5435]
type=text
x=226
y=157
width=45
height=14
layer=com_5392
textfont=p12_full
text=Draynor
textshadow=yes
colour=0x947440

[com_5436]
type=text
x=352
y=105
width=43
height=14
layer=com_5392
textfont=p12_full
text=Varrock
textshadow=yes
colour=0x947440

[com_5437]
type=text
x=198
y=91
width=42
height=14
layer=com_5392
textfont=p12_full
text=Falador
textshadow=yes
colour=0x947440

[com_5438]
type=text
x=230
y=172
width=37
height=14
layer=com_5392
textfont=p12_full
text=Village
textshadow=yes
colour=0x947440

[com_5439]
type=text
x=157
y=190
width=24
height=14
layer=com_5392
textfont=p12_full
text=Port
textshadow=yes
colour=0x947440

[com_5440]
type=text
x=152
y=204
width=31
height=14
layer=com_5392
textfont=p12_full
text=Sarim
textshadow=yes
colour=0x947440

