[com_12782]
type=layer
width=512
height=334

[com_12783]
type=model
x=34
y=34
width=32
height=32
layer=com_12782
model=null
modelangle=40,1882,0
modelzoom=796

[com_12784]
type=text
x=111
width=350
height=17
layer=com_12782
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

[com_12785]
type=text
x=111
y=19
width=350
height=17
layer=com_12782
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_12786]
type=text
x=110
y=40
width=350
height=17
layer=com_12782
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_12787]
type=text
x=110
y=64
width=350
height=17
layer=com_12782
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

