[com_6242]
type=layer
width=512
height=334

[com_6243]
type=text
x=73
y=15
width=390
height=17
layer=com_6242
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_6244]
type=text
x=73
y=44
width=390
height=18
layer=com_6242
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_6245]
type=text
x=93
y=74
width=350
height=17
layer=com_6242
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_6246]
type=model
x=29
y=27
width=32
height=32
layer=com_6242
model=model_3325
modelangle=582,504,0
modelzoom=505

