[com_5292]
type=layer
width=512
height=334

[com_5293]
type=graphic
x=12
y=20
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5294]
type=graphic
x=12
y=80
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5295]
type=graphic
x=12
y=140
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5296]
type=graphic
x=12
y=200
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5297]
type=graphic
x=12
y=260
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5298]
type=graphic
x=100
y=20
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5299]
type=graphic
x=100
y=80
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5300]
type=graphic
x=100
y=140
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5301]
type=graphic
x=100
y=200
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5302]
type=graphic
x=188
y=20
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5303]
type=graphic
x=100
y=260
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5304]
type=graphic
x=188
y=80
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5305]
type=graphic
x=188
y=140
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5306]
type=graphic
x=188
y=200
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5307]
type=graphic
x=188
y=260
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5308]
type=graphic
x=276
y=20
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5309]
type=graphic
x=364
y=80
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5310]
type=graphic
x=276
y=80
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5311]
type=graphic
x=276
y=140
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5312]
type=graphic
x=276
y=200
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5313]
type=graphic
x=276
y=260
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5314]
type=graphic
x=364
y=140
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5315]
type=graphic
x=364
y=20
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5316]
type=graphic
x=364
y=200
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5317]
type=graphic
x=364
y=260
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5318]
type=graphic
x=412
y=20
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5319]
type=graphic
x=412
y=80
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5320]
type=graphic
x=412
y=140
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5321]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5322]
type=graphic
x=412
y=200
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5323]
type=graphic
x=412
y=260
width=88
height=60
layer=com_5292
graphic=tradebacking,0

[com_5324]
type=graphic
x=12
y=20
width=25
height=30
layer=com_5292
graphic=steelborder,0

[com_5325]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5326]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5327]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5328]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5329]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5330]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_5292
graphic=miscgraphics,2

[com_5331]
type=graphic
x=479
y=50
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5332]
type=graphic
x=479
y=86
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5333]
type=graphic
x=479
y=122
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5334]
type=graphic
x=479
y=158
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5335]
type=graphic
x=479
y=194
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5336]
type=graphic
x=479
y=230
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5337]
type=graphic
x=479
y=266
width=36
height=36
layer=com_5292
graphic=steelborder2,1

[com_5338]
type=graphic
x=73
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5339]
type=graphic
x=109
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5340]
type=graphic
x=145
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5341]
type=graphic
x=181
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5342]
type=graphic
x=217
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5343]
type=graphic
x=253
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5344]
type=graphic
x=289
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5345]
type=graphic
x=325
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5346]
type=graphic
x=361
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5347]
type=graphic
x=397
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5348]
type=graphic
x=433
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5349]
type=graphic
x=72
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5350]
type=graphic
x=108
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5351]
type=graphic
x=144
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5352]
type=graphic
x=180
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5353]
type=graphic
x=216
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5354]
type=graphic
x=252
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5355]
type=graphic
x=288
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5356]
type=graphic
x=324
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5357]
type=graphic
x=360
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5358]
type=graphic
x=396
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5359]
type=graphic
x=432
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5360]
type=graphic
x=252
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5361]
type=graphic
x=37
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5362]
type=graphic
x=37
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5363]
type=graphic
x=12
y=295
width=25
height=30
layer=com_5292
graphic=steelborder,2

[com_5364]
type=graphic
x=475
y=20
width=25
height=30
layer=com_5292
graphic=steelborder,1

[com_5365]
type=graphic
x=439
y=5
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5366]
type=graphic
x=475
y=295
width=25
height=30
layer=com_5292
graphic=steelborder,3

[com_5367]
type=graphic
x=439
y=304
width=36
height=36
layer=com_5292
graphic=miscgraphics,3

[com_5368]
type=graphic
x=288
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5369]
type=graphic
x=324
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5370]
type=graphic
x=360
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5371]
type=graphic
x=396
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5372]
type=graphic
x=432
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5373]
type=graphic
x=459
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5374]
type=graphic
x=216
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5375]
type=graphic
x=180
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5376]
type=graphic
x=144
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5377]
type=graphic
x=108
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5378]
type=graphic
x=72
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5379]
type=graphic
x=36
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5380]
type=graphic
x=17
y=34
width=36
height=36
layer=com_5292
graphic=steelborder2,0

[com_5381]
type=layer
x=36
y=20
width=440
height=299
layer=com_5292

[com_5382]
type=inv
x=38
y=3
width=8
height=30
layer=com_5385
draggable=yes
paddingx=15
paddingy=6
op1=Withdraw 1
op2=Withdraw 5
op3=Withdraw 10
op4=Withdraw All
op5=Withdraw X

[com_5383]
type=text
x=181
y=30
width=151
height=14
layer=com_5292
textfont=b12_full
text=The Bank of RuneScape
textshadow=yes
colour=0xff981f

[com_5384]
type=text
x=419
y=32
width=68
height=11
layer=com_5292
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_5385]
type=layer
x=37
y=55
width=427
height=229
layer=com_5292
scrollheight=1145

[com_5386]
type=graphic
x=294
y=283
width=72
height=36
layer=com_5292
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_115 = 1

[com_5387]
type=graphic
x=150
y=283
width=72
height=36
layer=com_5292
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_115 = 0

[com_5388]
type=text
x=161
y=287
width=50
height=14
layer=com_5292
textfont=p12_full
text=Withdraw
textshadow=yes
colour=0xff981f

[com_5389]
type=text
x=165
y=300
width=41
height=14
layer=com_5292
textfont=p12_full
text=as item
textshadow=yes
colour=0xff981f

[com_5390]
type=text
x=305
y=287
width=50
height=14
layer=com_5292
textfont=p12_full
text=Withdraw
textshadow=yes
colour=0xff981f

[com_5391]
type=text
x=308
y=300
width=43
height=14
layer=com_5292
textfont=p12_full
text=as note
textshadow=yes
colour=0xff981f

