[com_2505]
type=layer
width=512
height=334

[com_2506]
type=graphic
x=12
y=20
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2507]
type=graphic
x=12
y=80
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2508]
type=graphic
x=12
y=140
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2509]
type=graphic
x=12
y=200
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2510]
type=graphic
x=12
y=260
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2511]
type=graphic
x=100
y=20
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2512]
type=graphic
x=100
y=80
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2513]
type=graphic
x=100
y=140
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2514]
type=graphic
x=100
y=200
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2515]
type=graphic
x=188
y=20
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2516]
type=graphic
x=100
y=260
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2517]
type=graphic
x=188
y=80
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2518]
type=graphic
x=188
y=140
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2519]
type=graphic
x=188
y=200
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2520]
type=graphic
x=188
y=260
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2521]
type=graphic
x=276
y=20
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2522]
type=graphic
x=364
y=80
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2523]
type=graphic
x=276
y=80
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2524]
type=graphic
x=276
y=140
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2525]
type=graphic
x=276
y=200
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2526]
type=graphic
x=276
y=260
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2527]
type=graphic
x=364
y=140
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2528]
type=graphic
x=364
y=20
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2529]
type=graphic
x=364
y=200
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2530]
type=graphic
x=364
y=260
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2531]
type=graphic
x=412
y=20
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2532]
type=graphic
x=412
y=80
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2533]
type=graphic
x=412
y=140
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2534]
type=graphic
x=412
y=200
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2535]
type=graphic
x=412
y=260
width=88
height=60
layer=com_2505
graphic=tradebacking,0

[com_2536]
type=graphic
x=12
y=20
width=25
height=30
layer=com_2505
graphic=steelborder,0

[com_2537]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2538]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2539]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2540]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2541]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2542]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2543]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_2505
graphic=miscgraphics,2

[com_2544]
type=graphic
x=479
y=50
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2545]
type=graphic
x=479
y=86
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2546]
type=graphic
x=479
y=122
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2547]
type=graphic
x=479
y=158
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2548]
type=graphic
x=479
y=194
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2549]
type=graphic
x=479
y=230
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2550]
type=graphic
x=479
y=266
width=36
height=36
layer=com_2505
graphic=steelborder2,1

[com_2551]
type=graphic
x=73
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2552]
type=graphic
x=109
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2553]
type=graphic
x=145
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2554]
type=graphic
x=181
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2555]
type=graphic
x=217
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2556]
type=graphic
x=253
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2557]
type=graphic
x=289
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2558]
type=graphic
x=325
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2559]
type=graphic
x=361
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2560]
type=graphic
x=397
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2561]
type=graphic
x=433
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2562]
type=graphic
x=72
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2563]
type=graphic
x=108
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2564]
type=graphic
x=144
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2565]
type=graphic
x=180
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2566]
type=graphic
x=216
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2567]
type=graphic
x=252
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2568]
type=graphic
x=288
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2569]
type=graphic
x=324
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2570]
type=graphic
x=360
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2571]
type=graphic
x=396
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2572]
type=graphic
x=432
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2573]
type=graphic
x=252
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2574]
type=graphic
x=37
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2575]
type=graphic
x=37
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2576]
type=graphic
x=12
y=290
width=25
height=30
layer=com_2505
graphic=steelborder,2

[com_2577]
type=graphic
x=475
y=20
width=25
height=30
layer=com_2505
graphic=steelborder,1

[com_2578]
type=graphic
x=439
y=5
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2579]
type=graphic
x=475
y=290
width=25
height=30
layer=com_2505
graphic=steelborder,3

[com_2580]
type=graphic
x=439
y=299
width=36
height=36
layer=com_2505
graphic=miscgraphics,3

[com_2581]
type=model
x=65
y=95
width=32
height=32
layer=com_2505
model=model_120
modelangle=0,200,0
modelzoom=1200

[com_2582]
type=text
x=190
y=30
width=130
height=14
layer=com_2505
textfont=b12_full
text=Hairdressers' Salon
textalignh=centre
textshadow=yes
colour=0xffff00

[com_2583]
type=text
x=420
y=29
width=68
height=11
layer=com_2505
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_2584]
type=model
x=150
y=95
width=32
height=32
layer=com_2505
model=model_103
modelangle=0,200,0
modelzoom=1200

[com_2585]
type=graphic
x=288
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2586]
type=graphic
x=324
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2587]
type=graphic
x=360
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2588]
type=graphic
x=396
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2589]
type=graphic
x=432
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2590]
type=graphic
x=459
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2591]
type=graphic
x=216
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2592]
type=graphic
x=180
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2593]
type=graphic
x=144
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2594]
type=graphic
x=108
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2595]
type=graphic
x=72
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2596]
type=graphic
x=36
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2597]
type=graphic
x=17
y=34
width=36
height=36
layer=com_2505
graphic=steelborder2,0

[com_2598]
type=model
x=235
y=95
width=32
height=32
layer=com_2505
model=model_110
modelangle=0,200,0
modelzoom=1200

[com_2599]
type=model
x=320
y=95
width=32
height=32
layer=com_2505
model=model_113
modelangle=0,200,0
modelzoom=1200

[com_2600]
type=model
x=65
y=175
width=32
height=32
layer=com_2505
model=model_118
modelangle=0,200,0
modelzoom=1200

[com_2601]
type=model
x=150
y=175
width=32
height=32
layer=com_2505
model=model_114
modelangle=0,200,0
modelzoom=1200

[com_2602]
type=model
x=235
y=175
width=32
height=32
layer=com_2505
model=model_125
modelangle=0,200,0
modelzoom=1200

[com_2603]
type=model
x=320
y=175
width=32
height=32
layer=com_2505
model=model_105
modelangle=0,200,0
modelzoom=1200

[com_2604]
type=model
x=405
y=95
width=32
height=32
layer=com_2505
model=model_115
modelangle=0,200,0
modelzoom=1200

[com_2605]
type=model
x=405
y=175
width=32
height=32
layer=com_2505
model=model_104
modelangle=0,200,0
modelzoom=1200

[com_2606]
type=text
x=390
y=290
width=55
height=14
layer=com_2505
buttontype=1
textfont=b12_full
text=CONFIRM
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

[com_2607]
type=rectangle
x=134
y=259
width=243
height=23
layer=com_2505
colour=0x000000
fill=yes

[com_2608]
type=rectangle
x=135
y=260
width=20
height=20
layer=com_2505
colour=0x302008
fill=yes

[com_2609]
type=rectangle
x=155
y=260
width=20
height=20
layer=com_2505
colour=0xd6d1d1
fill=yes

[com_2610]
type=rectangle
x=175
y=260
width=20
height=20
layer=com_2505
colour=0x76756c
fill=yes

[com_2611]
type=rectangle
x=195
y=260
width=20
height=20
layer=com_2505
colour=0x2f2a2a
fill=yes

[com_2612]
type=rectangle
x=215
y=260
width=20
height=20
layer=com_2505
colour=0xcb823e
fill=yes

[com_2613]
type=rectangle
x=235
y=260
width=20
height=20
layer=com_2505
colour=0xcdad53
fill=yes

[com_2614]
type=rectangle
x=255
y=260
width=20
height=20
layer=com_2505
colour=0x885f29
fill=yes

[com_2615]
type=rectangle
x=275
y=260
width=20
height=20
layer=com_2505
colour=0x50321e
fill=yes

[com_2616]
type=rectangle
x=295
y=260
width=20
height=20
layer=com_2505
colour=0x008383
fill=yes

[com_2617]
type=rectangle
x=315
y=260
width=20
height=20
layer=com_2505
colour=0x008300
fill=yes

[com_2618]
type=rectangle
x=335
y=260
width=20
height=20
layer=com_2505
colour=0x9f2800
fill=yes

[com_2619]
type=rectangle
x=355
y=260
width=20
height=20
layer=com_2505
colour=0xbe00c0
fill=yes

[com_2620]
type=text
x=198
y=233
width=114
height=14
layer=com_2505
textfont=p12_full
text=Please select colour
textalignh=centre
textshadow=yes
colour=0xffff00

[com_2621]
type=graphic
x=85
y=115
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 1

[com_2622]
type=graphic
x=170
y=115
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 2

[com_2623]
type=graphic
x=260
y=115
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 3

[com_2624]
type=graphic
x=345
y=115
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 4

[com_2625]
type=graphic
x=430
y=115
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 5

[com_2626]
type=graphic
x=85
y=195
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 6

[com_2627]
type=graphic
x=170
y=195
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 7

[com_2628]
type=graphic
x=260
y=195
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 8

[com_2629]
type=graphic
x=340
y=195
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 9

[com_2630]
type=graphic
x=430
y=195
width=25
height=25
layer=com_2505
graphicactive=headicons,1
script=varplayer_261 = 10

[com_2631]
type=graphic
x=135
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 1

[com_2632]
type=graphic
x=155
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 2

[com_2633]
type=graphic
x=175
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 3

[com_2634]
type=graphic
x=195
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 4

[com_2635]
type=graphic
x=215
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 5

[com_2636]
type=graphic
x=235
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 6

[com_2637]
type=graphic
x=255
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 7

[com_2638]
type=graphic
x=275
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 8

[com_2639]
type=graphic
x=295
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 9

[com_2640]
type=graphic
x=315
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 10

[com_2641]
type=graphic
x=335
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 11

[com_2642]
type=graphic
x=355
y=260
width=20
height=20
layer=com_2505
buttontype=5
graphicactive=headicons,1
script=varplayer_262 = 12

[com_2643]
type=graphic
x=55
y=83
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 1

[com_2644]
type=graphic
x=141
y=83
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 2

[com_2645]
type=graphic
x=224
y=82
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 3

[com_2646]
type=graphic
x=310
y=83
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 4

[com_2647]
type=graphic
x=394
y=84
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 5

[com_2648]
type=graphic
x=54
y=163
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 6

[com_2649]
type=graphic
x=137
y=162
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 7

[com_2650]
type=graphic
x=224
y=163
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 8

[com_2651]
type=graphic
x=307
y=163
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 9

[com_2652]
type=graphic
x=394
y=163
width=50
height=50
layer=com_2505
buttontype=5
script=varplayer_261 = 10

