[com_0]
type=model
x=148
y=39
width=32
height=32
model=model_16961
modelangle=340,104,0
modelzoom=475

[com_1]
type=graphic
x=16
y=33
width=36
height=36
graphic="miscgraphics,0"

[com_2]
type=model
x=18
y=35
width=32
height=32
model=null
modelzoom=400

[com_3]
type=text
x=16
y=33
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Wield bolts

[com_4]
type=text
x=16
y=33
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Remove from Pouch

[com_5]
type=graphic
x=16
y=69
width=36
height=36
graphic="miscgraphics,0"

[com_6]
type=model
x=18
y=71
width=32
height=32
model=null
modelzoom=400

[com_7]
type=text
x=16
y=69
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Wield bolts

[com_8]
type=text
x=16
y=69
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Remove from Pouch

[com_9]
type=graphic
x=16
y=105
width=36
height=36
graphic="miscgraphics,0"

[com_10]
type=model
x=18
y=107
width=32
height=32
model=null
modelzoom=400

[com_11]
type=text
x=16
y=105
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Wield bolts

[com_12]
type=text
x=16
y=105
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Remove from Pouch

[com_13]
type=graphic
x=16
y=141
width=36
height=36
graphic="miscgraphics,0"

[com_14]
type=model
x=18
y=143
width=32
height=32
model=null
modelzoom=400

[com_15]
type=text
x=16
y=141
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Wield bolts

[com_16]
type=text
x=16
y=141
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Remove from Pouch

[com_17]
type=graphic
x=16
y=199
width=36
height=36
graphic="miscgraphics,0"

[com_18]
type=model
x=18
y=201
width=32
height=32
model=null
modelzoom=400

[com_19]
type=text
x=16
y=199
width=36
height=36
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Unwield bolts

[com_20]
type=text
x=58
y=35
width=17
height=14
textfont=p12_full
text=%1
textshadow=yes
colour=0xff0033
colouractive=0x00c000
script=varplayerbit_2469 > 0

[com_21]
type=text
x=58
y=71
width=17
height=14
textfont=p12_full
text=%1
textactive=%1
textshadow=yes
colour=0xff0033
colouractive=0x00c000
script=varplayerbit_2470 > 0

[com_22]
type=text
x=58
y=106
width=17
height=14
textfont=p12_full
text=%1
textactive=%1
textshadow=yes
colour=0xff0033
colouractive=0x00c000
script=varplayerbit_2471 > 0

[com_23]
type=text
x=58
y=143
width=17
height=14
textfont=p12_full
text=%1
textactive=%1
textshadow=yes
colour=0xff0033
colouractive=0x00c000
script=varplayerbit_2472 > 0

[com_24]
type=text
x=54
y=201
width=8
height=14
textfont=p12_full
text=0
textactive=0
textshadow=yes
colour=0xff0033
colouractive=0x00c000

[com_25]
type=text
x=58
y=54
width=122
height=13
textfont=p12_full
text=Text
textshadow=yes
colour=0xff9933

[com_26]
type=text
x=58
y=89
width=122
height=15
textfont=p12_full
text=Text
textshadow=yes
colour=0xff9933

[com_27]
type=text
x=58
y=125
width=122
height=15
textfont=p12_full
text=Text
textshadow=yes
colour=0xff9933

[com_28]
type=text
x=58
y=161
width=124
height=15
textfont=p12_full
text=Text
textshadow=yes
colour=0xff9933

[com_29]
type=text
x=54
y=219
width=129
height=13
textfont=p12_full
text=Text
textshadow=yes
colour=0xff9933

[com_30]
type=text
x=6
y=12
width=175
height=13
textfont=b12_full
text=Crossbow Bolt Pouch
textalignh=centre
textshadow=yes
colour=0xff9933

[com_31]
type=text
x=17
y=183
width=158
height=14
textfont=b12_full
text=Current Ammo
textshadow=yes
colour=0xff9933

[com_32]
type=graphic
x=159
y=232
width=26
height=23
mouseoverlayer=com_34
graphic="close_buttons,4"

[com_33]
type=graphic
x=2
y=6
width=26
height=23
layer=com_34
buttontype=3
graphic="close_buttons,5"

[com_34]
type=layer
x=157
y=226
width=32
height=32
hide=yes

