[com_3616]
type=layer
width=512
height=334

[com_3617]
type=model
x=135
y=16
width=35
height=32
layer=com_3616
model=model_2455
modelangle=521,1288,0
modelzoom=624

[com_3618]
type=text
x=4
y=2
width=47
height=14
layer=com_3616
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_3619]
type=text
x=52
y=2
width=17
height=14
layer=com_3616
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_3620]
type=text
x=4
y=18
width=114
height=14
layer=com_3616
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_3621]
type=layer
x=4
y=60
width=145
height=190
layer=com_3616

[com_3622]
type=graphic
x=5
y=5
width=72
height=36
layer=com_3621
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_3623]
type=graphic
x=5
y=143
width=72
height=36
layer=com_3621
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 3

[com_3624]
type=graphic
x=5
y=97
width=72
height=36
layer=com_3621
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_3625]
type=graphic
x=5
y=51
width=72
height=36
layer=com_3621
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_3626]
type=graphic
x=22
y=149
width=34
height=24
layer=com_3621
graphic=combaticons,17

[com_3627]
type=graphic
x=22
y=11
width=34
height=24
layer=com_3621
graphic=combaticons,8

[com_3628]
type=graphic
x=21
y=57
width=34
height=24
layer=com_3621
graphic=combaticons,18

[com_3629]
type=graphic
x=22
y=103
width=34
height=24
layer=com_3621
graphic=combaticons,9

[com_3630]
type=text
x=78
y=5
width=23
height=11
layer=com_3621
textfont=p11_full
text=Stab
textshadow=yes
colour=0xffff00

[com_3631]
type=text
x=78
y=51
width=29
height=11
layer=com_3621
textfont=p11_full
text=Lunge
textshadow=yes
colour=0xffff00

[com_3632]
type=text
x=78
y=97
width=32
height=11
layer=com_3621
textfont=p11_full
text=Smash
textshadow=yes
colour=0xffff00

[com_3633]
type=text
x=78
y=143
width=26
height=11
layer=com_3621
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_3634]
type=text
x=78
y=18
width=50
height=11
layer=com_3621
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_3635]
type=text
x=78
y=110
width=58
height=11
layer=com_3621
textfont=p11_full
text=(Agressive)
colour=0xffff00

[com_3636]
type=text
x=78
y=64
width=64
height=11
layer=com_3621
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_3637]
type=text
x=78
y=156
width=58
height=11
layer=com_3621
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_3638]
type=text
x=82
y=90
width=29
height=11
layer=com_3616
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_3639]
type=text
x=82
y=136
width=29
height=11
layer=com_3616
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_3640]
type=text
x=82
y=228
width=29
height=11
layer=com_3616
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_3641]
type=text
x=82
y=182
width=36
height=11
layer=com_3616
textfont=p11_full
text=(Crush)
colour=0xffff00

