[com_0]
type=model
x=135
y=16
width=35
height=32
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_1]
type=text
x=4
y=10
width=72
height=12
textfont=p11_full
text=Weapon:
textalignh=right
textshadow=yes
colour=0xffff00

[com_2]
type=text
x=80
y=10
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00

[com_3]
type=text
x=4
y=46
width=130
height=12
textfont=p11_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_4]
type=layer
x=4
y=60
width=173
height=197

[com_5]
type=graphic
x=5
y=2
width=72
height=36
layer=com_4
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 0

[com_6]
type=graphic
x=5
y=129
width=72
height=36
layer=com_4
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 3

[com_7]
type=graphic
x=5
y=86
width=72
height=36
layer=com_4
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 2

[com_8]
type=graphic
x=5
y=44
width=72
height=36
layer=com_4
buttontype=5
graphic="combatboxes,0"
graphicactive="combatboxes,1"
script=varplayer_43 = 1

[com_9]
type=graphic
x=22
y=135
width=34
height=24
layer=com_4
graphic="combaticons,0"

[com_10]
type=graphic
x=22
y=7
width=34
height=24
layer=com_4
graphic="combaticons,1"

[com_11]
type=graphic
x=22
y=51
width=34
height=24
layer=com_4
graphic="combaticons,2"

[com_12]
type=graphic
x=22
y=92
width=34
height=24
layer=com_4
graphic="combaticons,3"

[com_13]
type=text
x=78
y=3
width=92
height=35
layer=com_4
textfont=p11_full
text=Chop\n(Accurate)\n(Slash)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_14]
type=text
x=78
y=45
width=92
height=35
layer=com_4
textfont=p11_full
text=Hack\n(Aggressive)\n(Slash)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_15]
type=text
x=78
y=88
width=92
height=35
layer=com_4
textfont=p11_full
text=Smash\n(Aggressive)\n(Crush)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_16]
type=text
x=78
y=130
width=92
height=38
layer=com_4
textfont=p11_full
text=Block\n(Defensive)\n(Slash)
textlineheight=13
textshadow=yes
colour=0xffff00

[com_17]
type=rectangle
y=1
width=155
height=22
layer=com_29
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_18]
type=graphic
x=131
y=1
width=25
height=30
layer=com_29
graphic="steelborder,1"

[com_19]
type=graphic
y=1
width=25
height=30
layer=com_29
graphic="steelborder,0"

[com_20]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_21]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_22]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_23]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_24]
type=graphic
x=5
y=3
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_25]
type=graphic
x=41
y=3
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_26]
type=graphic
x=77
y=3
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_27]
type=graphic
x=112
y=3
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_28]
type=graphic
x=115
y=3
width=36
height=36
layer=com_29
graphic="miscgraphics,3"

[com_29]
type=layer
x=17
y=231
width=158
height=24
hide=yes

[com_30]
type=model
x=5
y=8
width=146
height=9
layer=com_29
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_31]
type=model
x=3
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_32]
type=model
x=18
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_33]
type=model
x=33
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_34]
type=model
x=47
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_35]
type=model
x=61
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_36]
type=model
x=75
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_37]
type=model
x=90
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_38]
type=model
x=104
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_39]
type=model
x=118
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_40]
type=model
x=132
y=8
width=146
height=9
layer=com_29
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_41]
type=text
x=20
y=7
width=117
height=11
layer=com_29
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

[com_42]
type=text
x=4
y=34
width=130
height=12
textfont=p11_full
text=Combat Lvl: %1
textshadow=yes
colour=0xcc0000
script0=stat_combat

