[com_9454]
type=layer
width=512
height=334

[com_9455]
type=model
x=227
y=162
width=32
height=32
layer=com_9454
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_9456]
type=text
x=430
y=8
width=74
height=14
layer=com_9454
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_9457]
type=model
x=232
y=167
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9458]
type=model
x=233
y=223
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9459]
type=model
x=214
y=166
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9460]
type=model
x=214
y=223
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9461]
type=model
x=203
y=178
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9462]
type=model
x=203
y=201
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9463]
type=model
x=247
y=209
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9464]
type=model
x=203
y=209
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9465]
type=model
x=247
y=201
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9466]
type=model
x=247
y=178
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9467]
type=model
x=150
y=229
width=32
height=32
layer=com_9454
model=model_3388
modelangle=493,18,0
modelzoom=531

[com_9468]
type=model
x=165
y=49
width=32
height=32
layer=com_9454
model=model_3388
modelangle=527,515,0
modelzoom=531

[com_9469]
type=model
x=340
y=62
width=32
height=32
layer=com_9454
model=model_3388
modelangle=578,1030,0
modelzoom=531

[com_9470]
type=model
x=294
y=146
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9471]
type=model
x=294
y=179
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9472]
type=model
x=225
y=160
width=32
height=32
layer=com_9454
model=model_3392
modelangle=512,0,0
modelzoom=1189

[com_9473]
type=model
x=321
y=250
width=50
height=34
layer=com_9454
model=model_3388
modelangle=512,1556,0
modelzoom=531

[com_9474]
type=model
x=282
y=166
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9475]
type=model
x=282
y=156
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9476]
type=model
x=330
y=165
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9477]
type=model
x=316
y=179
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9478]
type=model
x=315
y=146
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_9479]
type=model
x=330
y=156
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9480]
type=model
x=264
y=110
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_9481]
type=model
x=281
y=93
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_9482]
type=model
x=233
y=92
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,1789,0
modelzoom=667

[com_9483]
type=model
x=234
y=78
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_9484]
type=model
x=248
y=64
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_9485]
type=model
x=279
y=73
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,1789,0
modelzoom=667

[com_9486]
type=model
x=181
y=186
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9487]
type=model
x=166
y=149
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9488]
type=model
x=179
y=110
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9489]
type=model
x=348
y=165
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9490]
type=model
x=335
y=116
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9491]
type=model
x=174
y=165
width=32
height=32
layer=com_9454
model=model_3399
modelangle=462,1792,0
modelzoom=736

[com_9492]
type=model
x=247
y=106
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,1789,0
modelzoom=667

[com_9493]
type=model
x=170
y=127
width=32
height=32
layer=com_9454
model=model_3399
modelangle=518,1251,0
modelzoom=736

[com_9494]
type=model
x=341
y=132
width=32
height=32
layer=com_9454
model=model_3399
modelangle=462,1792,0
modelzoom=906

[com_9495]
type=model
x=335
y=93
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9496]
type=model
x=335
y=74
width=32
height=32
layer=com_9454
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9497]
type=model
x=339
y=52
width=32
height=32
layer=com_9454
model=model_3399
modelangle=518,1251,0
modelzoom=736

[com_9498]
type=model
x=348
y=146
width=32
height=32
layer=com_9454
model=model_3386
modelangle=512,1615,0
modelzoom=544

[com_9499]
type=model
x=225
y=248
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9500]
type=model
x=298
y=215
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9501]
type=model
x=318
y=227
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9502]
type=model
x=337
y=209
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9503]
type=model
x=305
y=245
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9504]
type=model
x=191
y=98
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9505]
type=model
x=195
y=72
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_9506]
type=model
x=219
y=53
width=32
height=32
layer=com_9454
model=model_3397
modelangle=467,2031,0
modelzoom=1753

