[com_3211]
type=layer
width=512
height=334

[com_3212]
type=graphic
x=2
y=5
width=57
height=13
layer=com_3211
graphic=sworddecor,1

[com_4461]
type=graphic
x=421
y=5
width=57
height=13
layer=com_3211
graphic=sworddecor,0

[com_4462]
type=model
x=28
y=13
width=64
height=96
layer=com_3211
model=null
modelzoom=400

[com_4463]
type=model
x=148
y=13
width=64
height=96
layer=com_3211
model=null
modelzoom=400

[com_4464]
type=model
x=268
y=13
width=64
height=96
layer=com_3211
model=null
modelzoom=400

[com_4465]
type=model
x=388
y=13
width=64
height=96
layer=com_3211
model=null
modelzoom=400

[com_4466]
type=text
x=10
y=16
width=100
height=93
layer=com_3211
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_4467]
type=text
x=130
y=16
width=100
height=93
layer=com_3211
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_4468]
type=text
x=250
y=16
width=100
height=93
layer=com_3211
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_4469]
type=text
x=370
y=16
width=100
height=93
layer=com_3211
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_4470]
type=text
x=8
y=3
width=464
height=17
layer=com_3211
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

