[com_3443]
type=layer
width=512
height=334

[com_3444]
type=graphic
x=12
y=20
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3445]
type=graphic
x=12
y=80
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3446]
type=graphic
x=12
y=140
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3447]
type=graphic
x=12
y=200
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3448]
type=graphic
x=12
y=260
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3449]
type=graphic
x=100
y=20
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3450]
type=graphic
x=100
y=80
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3451]
type=graphic
x=100
y=140
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3452]
type=graphic
x=100
y=200
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3453]
type=graphic
x=188
y=20
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3454]
type=graphic
x=100
y=260
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3455]
type=graphic
x=188
y=80
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3456]
type=graphic
x=188
y=140
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3457]
type=graphic
x=188
y=200
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3458]
type=graphic
x=188
y=260
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3459]
type=graphic
x=276
y=20
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3460]
type=graphic
x=364
y=80
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3461]
type=graphic
x=276
y=80
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3462]
type=graphic
x=276
y=140
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3463]
type=graphic
x=276
y=200
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3464]
type=graphic
x=276
y=260
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3465]
type=graphic
x=364
y=140
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3466]
type=graphic
x=364
y=20
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3467]
type=graphic
x=364
y=200
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3468]
type=graphic
x=364
y=260
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3469]
type=graphic
x=412
y=20
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3470]
type=graphic
x=412
y=80
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3471]
type=graphic
x=412
y=140
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3472]
type=graphic
x=412
y=200
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3473]
type=graphic
x=412
y=260
width=88
height=60
layer=com_3443
graphic=tradebacking,0

[com_3474]
type=graphic
x=12
y=20
width=25
height=30
layer=com_3443
graphic=steelborder,0

[com_3475]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3476]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3477]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3478]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3479]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3480]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3481]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3482]
type=graphic
x=479
y=50
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3483]
type=graphic
x=479
y=86
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3484]
type=graphic
x=479
y=122
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3485]
type=graphic
x=479
y=158
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3486]
type=graphic
x=479
y=194
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3487]
type=graphic
x=479
y=230
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3488]
type=graphic
x=479
y=266
width=36
height=36
layer=com_3443
graphic=steelborder2,1

[com_3489]
type=graphic
x=73
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3490]
type=graphic
x=109
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3491]
type=graphic
x=145
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3492]
type=graphic
x=217
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3493]
type=graphic
x=253
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3494]
type=graphic
x=289
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3495]
type=graphic
x=361
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3496]
type=graphic
x=397
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3497]
type=graphic
x=433
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3498]
type=graphic
x=72
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3499]
type=graphic
x=108
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3500]
type=graphic
x=144
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3501]
type=graphic
x=180
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3502]
type=graphic
x=216
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3503]
type=graphic
x=252
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3504]
type=graphic
x=288
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3505]
type=graphic
x=324
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3506]
type=graphic
x=360
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3507]
type=graphic
x=396
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3508]
type=graphic
x=432
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3509]
type=graphic
x=37
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3510]
type=graphic
x=37
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3511]
type=graphic
x=12
y=290
width=25
height=30
layer=com_3443
graphic=steelborder,2

[com_3512]
type=graphic
x=475
y=20
width=25
height=30
layer=com_3443
graphic=steelborder,1

[com_3513]
type=graphic
x=439
y=5
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3514]
type=graphic
x=475
y=290
width=25
height=30
layer=com_3443
graphic=steelborder,3

[com_3515]
type=graphic
x=439
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3516]
type=graphic
x=288
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3517]
type=graphic
x=324
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3518]
type=graphic
x=182
y=290
width=25
height=30
layer=com_3443
graphic=steelborder,0

[com_3519]
type=graphic
x=396
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3520]
type=graphic
x=252
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3521]
type=graphic
x=432
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3522]
type=graphic
x=458
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3523]
type=graphic
x=216
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3524]
type=graphic
x=180
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3525]
type=graphic
x=144
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3526]
type=graphic
x=108
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3527]
type=graphic
x=72
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3528]
type=graphic
x=181
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3529]
type=graphic
x=37
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3530]
type=graphic
x=360
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3531]
type=graphic
x=18
y=42
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3532]
type=invtext
x=377
y=96
width=1
height=14
layer=com_3443
textalignh=centre
textfont=b12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_3533]
type=text
x=60
y=62
width=146
height=14
layer=com_3443
textfont=b12_full
text=You are about to give:
textshadow=yes
colour=0xffff00

[com_3534]
type=text
x=290
y=62
width=168
height=14
layer=com_3443
textfont=b12_full
text=In return you will receive:
textshadow=yes
colour=0xffff00

[com_3535]
type=text
x=139
y=27
width=240
height=14
layer=com_3443
textfont=p12_full
text=Are you sure you want to make this trade?
textalignh=centre
textshadow=yes
colour=0x00ffff

[com_3536]
type=text
x=107
y=43
width=298
height=11
layer=com_3443
textfont=p11_full
text=There is NO WAY to reverse a trade if you change your mind
textshadow=yes

[com_3537]
type=graphic
x=239
y=243
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3538]
type=invtext
x=77
y=96
width=2
height=14
layer=com_3443
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_3539]
type=invtext
x=317
y=96
width=2
height=14
layer=com_3443
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_3540]
type=graphic
x=239
y=278
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3541]
type=graphic
x=241
y=275
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3542]
type=invtext
x=136
y=96
width=1
height=14
layer=com_3443
textalignh=centre
textfont=b12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_3543]
type=text
x=425
y=27
width=68
height=11
layer=com_3443
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_3544]
type=graphic
x=307
y=290
width=25
height=30
layer=com_3443
graphic=steelborder,1

[com_3545]
type=graphic
x=325
y=299
width=36
height=36
layer=com_3443
graphic=miscgraphics,3

[com_3546]
type=rectangle
x=188
y=296
width=66
height=18
layer=com_3443
buttontype=1
colour=0x000000
fill=yes

[com_3547]
type=text
x=203
y=297
width=39
height=14
layer=com_3443
textfont=p12_full
text=Accept
textshadow=yes
colour=0x00c000

[com_3548]
type=rectangle
x=260
y=296
width=66
height=18
layer=com_3443
buttontype=3
colour=0x000000
fill=yes

[com_3549]
type=text
x=274
y=297
width=40
height=14
layer=com_3443
textfont=p12_full
text=Decline
textshadow=yes
colour=0xc00000

[com_3550]
type=graphic
x=239
y=99
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3551]
type=graphic
x=239
y=63
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3552]
type=graphic
x=239
y=171
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3553]
type=graphic
x=207
y=275
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3554]
type=graphic
x=239
y=207
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3555]
type=graphic
x=239
y=135
width=36
height=36
layer=com_3443
graphic=miscgraphics,2

[com_3556]
type=graphic
x=271
y=275
width=36
height=36
layer=com_3443
graphic=steelborder2,0

[com_3557]
type=text
x=72
y=83
width=129
height=14
layer=com_3443
textfont=b12_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes

[com_3558]
type=text
x=311
y=84
width=129
height=14
layer=com_3443
textfont=b12_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes

