[com_0]
type=model
x=232
y=114
width=32
height=32
model=model_3623
modelangle=505,2047,0
modelzoom=571

[com_1]
type=layer
x=77
y=82
width=322
height=197
scrollheight=450

[com_2]
type=text
x=84
y=32
width=32
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Dwarf
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_3]
type=text
x=82
y=82
width=123
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Wartface & Bentnoze
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_4]
type=text
x=83
y=135
width=63
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Pirate Pete
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_5]
type=text
x=80
y=178
width=93
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Lumbridge Guide
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_6]
type=text
x=83
y=224
width=50
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Evil Dave
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_7]
type=text
x=77
y=376
width=187
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Skrach 'Bone Cruncher' Uglogwee
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_8]
type=text
x=80
y=328
width=80
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Sir Amik Varze
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_9]
type=text
x=79
y=274
width=117
height=14
layer=com_1
buttontype=1
textfont=p12_full
text=Monkey Ambassador
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff
buttontext=Quest Journal

[com_10]
type=text
x=375
y=32
width=68
height=11
buttontype=3
textfont=p11_full
text=Close Window
colour=0x660033
mouseovercolour=0xffffff

[com_11]
type=inv
x=24
y=24
width=1
height=8
layer=com_1

[com_12]
type=rectangle
x=170
y=26
width=144
height=28
colour=0x996600
fill=yes

[com_13]
type=text
x=177
y=32
width=128
height=14
textfont=b12_full
text=Recipe for Disaster
textshadow=yes
colour=0xffcc66

[com_14]
type=text
x=83
y=59
width=349
height=14
textfont=p12_full
text=This quest is comprised of the 8 mini quests highlighted below
textshadow=yes
colour=0xff9933

