[com_0]
type=text
x=344
y=2
width=166
height=52
textfont=p12_full
text=Watch the statue! Fish here!
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

