[com_2480]
type=layer
width=512
height=334

[com_2481]
type=text
y=-1
width=480
height=17
layer=com_2480
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2482]
type=text
y=19
width=480
height=17
layer=com_2480
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2483]
type=text
y=39
width=480
height=17
layer=com_2480
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2484]
type=text
y=59
width=480
height=17
layer=com_2480
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2485]
type=text
y=79
width=480
height=17
layer=com_2480
buttontype=1
textfont=q8_full
text=option4
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2486]
type=graphic
width=57
height=13
layer=com_2488
graphic=sworddecor,1

[com_2487]
type=graphic
x=172
width=57
height=13
layer=com_2488
graphic=sworddecor,0

[com_2488]
type=layer
x=126
y=1
width=229
height=13
layer=com_2480

[com_2489]
type=layer
x=2
y=1
width=476
height=13
layer=com_2480
hide=yes

[com_2490]
type=graphic
width=57
height=13
layer=com_2489
graphic=sworddecor,1

[com_2491]
type=graphic
x=419
width=57
height=13
layer=com_2489
graphic=sworddecor,0

