[com_2798]
type=layer
width=512
height=334

[com_2799]
type=graphic
x=2
y=5
width=57
height=13
layer=com_2798
graphic=sworddecor,1

[com_2800]
type=model
x=56
y=13
width=64
height=64
layer=com_2798
buttontype=1
model=null
modelangle=100,100,0

[com_2801]
type=model
x=207
y=13
width=64
height=64
layer=com_2798
buttontype=1
model=null
modelzoom=400

[com_2802]
type=model
x=360
y=13
width=64
height=64
layer=com_2798
buttontype=1
model=null
modelzoom=400

[com_2803]
type=text
x=12
y=76
width=152
height=17
layer=com_2798
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_2804]
type=text
x=164
y=76
width=152
height=17
layer=com_2798
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_2805]
type=text
x=316
y=76
width=152
height=17
layer=com_2798
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_2806]
type=text
x=8
y=3
width=464
height=17
layer=com_2798
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2807]
type=text
x=396
y=5
width=72
height=14
layer=com_2798
buttontype=1
textfont=p12_full
text=Close window
textshadow=yes
colour=0xffff00

