[com_297]
type=layer
width=512
height=334

[com_298]
type=model
x=243
y=138
width=35
height=35
layer=com_297
model=model_3032
modelangle=400,0,0
modelzoom=650

[com_299]
type=text
x=209
y=108
width=106
height=17
layer=com_297
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xffff00

[com_300]
type=text
x=424
y=28
width=68
height=11
layer=com_297
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_301]
type=text
y=134
width=512
height=2
layer=com_297
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xffff00

[com_302]
type=model
x=117
y=169
width=85
height=105
layer=com_297
model=null
modelangle=11,1849,0
modelzoom=1500

[com_303]
type=text
x=212
y=241
width=69
height=14
layer=com_297
textfont=p12_full
text=Total Points:
textalignh=centre
textshadow=yes
colour=0x0099ff

[com_304]
type=text
x=285
y=241
width=17
height=14
layer=com_297
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x0099ff
script0=varplayer_101

[com_305]
type=model
x=341
y=195
width=32
height=32
layer=com_297
model=model_3037
modelangle=500,0,0
modelzoom=800

[com_6156]
type=text
x=212
y=180
width=93
height=14
layer=com_297
textfont=p12_full
text=You are awarded
textshadow=yes
colour=0x00c000

[com_4444]
type=text
x=256
y=198
width=8
height=14
layer=com_297
textfont=p12_full
text=0
textalignh=centre
textshadow=yes
colour=0xff0000

[com_6158]
type=text
x=222
y=214
width=76
height=14
layer=com_297
textfont=p12_full
text=Quest points.
textalignh=centre
textshadow=yes
colour=0x00c000

