[com_0]
type=model
x=220
y=137
width=32
height=32
model=model_4652
modelangle=481,0,0
modelzoom=914

[com_1]
type=text
x=88
y=44
width=335
height=17
textfont=q8_full
text=wom1
colour=0xf0bb5e

[com_2]
type=text
x=88
y=60
width=335
height=17
textfont=q8_full
text=wom2
colour=0xf0bb5e

[com_3]
type=text
x=88
y=76
width=335
height=17
textfont=q8_full
text=wom3
colour=0xf0bb5e

[com_4]
type=text
x=88
y=92
width=335
height=17
textfont=q8_full
text=wom4
colour=0xf0bb5e

[com_5]
type=text
x=88
y=108
width=335
height=17
textfont=q8_full
text=wom5
colour=0xf0bb5e

[com_6]
type=text
x=88
y=124
width=335
height=17
textfont=q8_full
text=wom6
colour=0xf0bb5e

[com_7]
type=text
x=88
y=140
width=335
height=17
textfont=q8_full
text=wom7
colour=0xf0bb5e

[com_8]
type=text
x=88
y=156
width=335
height=17
textfont=q8_full
text=wom8
colour=0xf0bb5e

[com_9]
type=text
x=88
y=172
width=335
height=17
textfont=q8_full
text=wom9
colour=0xf0bb5e

[com_10]
type=text
x=88
y=188
width=335
height=17
textfont=q8_full
text=wom10
colour=0xf0bb5e

[com_11]
type=text
x=88
y=204
width=335
height=17
textfont=q8_full
text=wom11
colour=0xf0bb5e

[com_12]
type=text
x=88
y=220
width=335
height=17
textfont=q8_full
text=wom12
colour=0xf0bb5e

[com_13]
type=text
x=88
y=236
width=335
height=17
textfont=q8_full
text=wom13
colour=0xf0bb5e

[com_14]
type=text
x=88
y=252
width=335
height=17
textfont=q8_full
text=wom14
colour=0xf0bb5e

[com_15]
type=text
x=88
y=268
width=335
height=17
textfont=q8_full
text=wom15
colour=0xf0bb5e

[com_16]
type=text
x=88
y=284
width=335
height=17
textfont=q8_full
text=wom16
colour=0xf0bb5e

[com_17]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_19
graphic="close_buttons,4"

[com_18]
type=graphic
x=3
y=4
width=26
height=23
layer=com_19
buttontype=3
graphic="close_buttons,5"

[com_19]
type=layer
x=470
y=9
width=32
height=32
hide=yes

