[com_0]
type=text
y=-1
width=480
height=17
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_1]
type=text
y=31
width=480
height=17
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2]
type=text
y=63
width=480
height=17
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_3]
type=graphic
width=57
height=13
layer=com_5
graphic="sworddecor,1"

[com_4]
type=graphic
x=172
width=57
height=13
layer=com_5
graphic="sworddecor,0"

[com_5]
type=layer
x=126
y=1
width=229
height=13

[com_6]
type=layer
x=2
y=1
width=476
height=13
hide=yes

[com_7]
type=graphic
width=57
height=13
layer=com_6
graphic="sworddecor,1"

[com_8]
type=graphic
x=419
width=57
height=13
layer=com_6
graphic="sworddecor,0"

