[com_13103]
type=layer
width=512
height=334

[com_13104]
type=model
x=241
y=172
width=32
height=32
layer=com_13103
model=model_6234
modelangle=2047,2,0
modelzoom=64
modelanim=seq_1921

[com_13105]
type=model
x=248
y=412
width=32
height=32
layer=com_13103
model=null
modelangle=2047,2,0
modelzoom=64
modelanim=seq_1921

[com_13106]
type=model
x=257
y=39
width=32
height=32
layer=com_13103
model=null
modelangle=2047,2,0
modelzoom=64
modelanim=seq_1921

