[com_1743]
type=layer
width=512
height=334

[com_1744]
type=model
x=243
y=138
width=35
height=35
layer=com_1743
model=model_2663
modelangle=400,0,0
modelzoom=650

[com_1745]
type=text
x=209
y=108
width=116
height=18
layer=com_1743
textfont=q8_full
text=Congratulations !
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1746]
type=text
x=424
y=28
width=68
height=11
layer=com_1743
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_1747]
type=text
x=130
y=134
width=281
height=17
layer=com_1743
textfont=q8_full
text=You have finished the Observatory Quest.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1748]
type=model
x=112
y=209
width=85
height=105
layer=com_1743
model=model_1050
modelangle=11,1849,0
modelzoom=1500

[com_1749]
type=text
x=219
y=206
width=76
height=14
layer=com_1743
textfont=p12_full
text=Quest Points:
textshadow=yes
colour=0x00c000

[com_1750]
type=text
x=248
y=228
width=17
height=14
layer=com_1743
textfont=p12_full
text=%1
textshadow=yes
colour=0x00c000
script0=varplayer_95

[com_1751]
type=model
x=343
y=206
width=32
height=32
layer=com_1743
model=model_2667
modelangle=500,0,0
modelzoom=781

