[com_18299]
type=layer
width=512
height=334

[com_18300]
type=rectangle
width=512
height=334
layer=com_18299
colour=0x000000
fill=yes

[com_15524]
type=graphic
x=220
y=188
width=72
height=36
layer=com_18299
buttontype=1
graphic=combatboxes,0
buttontext=Yes.

[com_15525]
type=graphic
x=220
y=238
width=72
height=36
layer=com_18299
buttontype=1
graphic=combatboxes,0
buttontext=No.

[com_15526]
type=text
x=245
y=199
width=20
height=14
layer=com_18299
textfont=p12_full
text=YES
textalignh=centre
textshadow=yes
colour=0x11d311

[com_15527]
type=text
x=248
y=249
width=16
height=14
layer=com_18299
textfont=p12_full
text=NO
textalignh=centre
textshadow=yes
colour=0xac1414

[com_15528]
type=text
x=180
y=145
width=152
height=14
layer=com_18299
textfont=p12_full
text=Do you really want to bet X!
textalignh=centre
colour=0xddd117

