[com_0]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

[com_1]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=324
y=80
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

[com_13]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

[com_14]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

[com_16]
type=graphic
x=324
y=140
width=88
height=60
graphic=tradebacking

[com_17]
type=graphic
x=324
y=20
width=88
height=60
graphic=tradebacking

[com_18]
type=graphic
x=324
y=200
width=88
height=60
graphic=tradebacking

[com_19]
type=graphic
x=324
y=260
width=88
height=60
graphic=tradebacking

[com_20]
type=graphic
x=96
y=20
width=25
height=30
graphic="steelborder,0"

[com_21]
type=graphic
x=81
y=49
width=36
height=36
graphic="miscgraphics,2"

[com_22]
type=graphic
x=81
y=85
width=36
height=36
graphic="miscgraphics,2"

[com_23]
type=graphic
x=81
y=121
width=36
height=36
graphic="miscgraphics,2"

[com_24]
type=graphic
x=81
y=157
width=36
height=36
graphic="miscgraphics,2"

[com_25]
type=graphic
x=81
y=193
width=36
height=36
graphic="miscgraphics,2"

[com_26]
type=graphic
x=81
y=229
width=36
height=36
graphic="miscgraphics,2"

[com_27]
type=graphic
x=81
y=265
width=36
height=36
graphic="miscgraphics,2"

[com_28]
type=graphic
x=397
y=50
width=36
height=36
graphic="steelborder2,1"

[com_29]
type=graphic
x=397
y=86
width=36
height=36
graphic="steelborder2,1"

[com_30]
type=graphic
x=397
y=122
width=36
height=36
graphic="steelborder2,1"

[com_31]
type=graphic
x=397
y=158
width=36
height=36
graphic="steelborder2,1"

[com_32]
type=graphic
x=397
y=194
width=36
height=36
graphic="steelborder2,1"

[com_33]
type=graphic
x=397
y=230
width=36
height=36
graphic="steelborder2,1"

[com_34]
type=graphic
x=397
y=266
width=36
height=36
graphic="steelborder2,1"

[com_35]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_36]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_37]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_38]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_39]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_40]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_41]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_42]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_43]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_44]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_45]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_46]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_47]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_48]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_49]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_50]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_51]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

[com_52]
type=graphic
x=96
y=290
width=25
height=30
graphic="steelborder,2"

[com_53]
type=graphic
x=393
y=20
width=25
height=30
graphic="steelborder,1"

[com_54]
type=graphic
x=393
y=290
width=25
height=30
graphic="steelborder,3"

[com_55]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

[com_56]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

[com_57]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

[com_58]
type=graphic
x=377
y=34
width=36
height=36
graphic="steelborder2,0"

[com_59]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

[com_60]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

[com_61]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

[com_62]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

[com_63]
type=graphic
x=101
y=34
width=36
height=36
graphic="steelborder2,0"

[com_64]
type=text
x=104
y=28
width=306
height=23
textfont=b12_full
text=What would you like to make?
textalignh=centre
textshadow=yes
colour=0xff9900

[com_65]
type=layer
x=56
y=74
width=400
height=66

[com_66]
type=model
x=184
y=5
width=32
height=32
layer=com_65
model=model_2666
modelangle=300,302,0
modelzoom=571

[com_67]
type=text
x=46
y=41
width=308
height=34
layer=com_65
textfont=p12_full
text=You need a ring mould to craft rings.
textalignh=centre
textshadow=yes

[com_68]
type=text
x=101
y=59
width=303
height=12
textfont=b12_full
text=Rings
textalignh=centre
textshadow=yes
colour=0xff9900

[com_69]
type=layer
x=40
y=84
width=400
height=38

[com_70]
type=model
x=72
y=2
width=32
height=32
layer=com_69
model=null

[com_71]
type=layer
x=112
y=86
width=32
height=32

[com_72]
type=text
width=32
height=32
layer=com_71
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_73]
type=text
width=32
height=32
layer=com_71
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_74]
type=text
width=32
height=32
layer=com_71
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_75]
type=text
width=32
height=32
layer=com_71
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_76]
type=model
x=112
y=2
width=32
height=32
layer=com_69
model=null

[com_77]
type=layer
x=152
y=86
width=32
height=32

[com_78]
type=text
width=32
height=32
layer=com_77
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_79]
type=text
width=32
height=32
layer=com_77
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_80]
type=text
width=32
height=32
layer=com_77
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_81]
type=text
width=32
height=32
layer=com_77
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_82]
type=model
x=152
y=2
width=32
height=32
layer=com_69
model=null

[com_83]
type=layer
x=192
y=86
width=32
height=32

[com_84]
type=text
width=32
height=32
layer=com_83
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_85]
type=text
width=32
height=32
layer=com_83
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_86]
type=text
width=32
height=32
layer=com_83
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_87]
type=text
width=32
height=32
layer=com_83
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_88]
type=model
x=192
y=2
width=32
height=32
layer=com_69
model=null

[com_89]
type=layer
x=232
y=86
width=32
height=32

[com_90]
type=text
width=32
height=32
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_91]
type=text
width=32
height=32
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_92]
type=text
width=32
height=32
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_93]
type=text
width=32
height=32
layer=com_89
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_94]
type=model
x=232
y=2
width=32
height=32
layer=com_69
model=null

[com_95]
type=layer
x=272
y=86
width=32
height=32

[com_96]
type=text
width=32
height=32
layer=com_95
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_97]
type=text
width=32
height=32
layer=com_95
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_98]
type=text
width=32
height=32
layer=com_95
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_99]
type=text
width=32
height=32
layer=com_95
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_100]
type=model
x=272
y=2
width=32
height=32
layer=com_69
model=null

[com_101]
type=layer
x=312
y=86
width=32
height=32

[com_102]
type=text
width=32
height=32
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_103]
type=text
width=32
height=32
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_104]
type=text
width=32
height=32
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_105]
type=text
width=32
height=32
layer=com_101
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_106]
type=model
x=312
y=2
width=32
height=32
layer=com_69
model=null

[com_107]
type=layer
x=352
y=86
width=32
height=32

[com_108]
type=text
width=32
height=32
layer=com_107
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_109]
type=text
width=32
height=32
layer=com_107
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_110]
type=text
width=32
height=32
layer=com_107
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_111]
type=text
width=32
height=32
layer=com_107
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_112]
type=layer
x=56
y=162
width=400
height=66

[com_113]
type=model
x=184
y=7
width=32
height=32
layer=com_112
model=model_2729
modelangle=300,302,0
modelzoom=571

[com_114]
type=text
x=48
y=38
width=304
height=30
layer=com_112
textfont=p12_full
text=You need a necklace mould to craft necklaces.
textalignh=centre
textshadow=yes

[com_115]
type=text
x=103
y=147
width=301
height=14
textfont=b12_full
text=Necklaces
textalignh=centre
textshadow=yes
colour=0xff9900

[com_116]
type=layer
x=59
y=170
width=400
height=38

[com_117]
type=model
x=61
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=400

[com_118]
type=layer
x=120
y=170
width=32
height=32

[com_119]
type=text
width=32
height=32
layer=com_118
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_120]
type=text
width=32
height=32
layer=com_118
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_121]
type=text
width=32
height=32
layer=com_118
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_122]
type=text
width=32
height=32
layer=com_118
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_123]
type=model
x=101
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=400

[com_124]
type=layer
x=160
y=170
width=32
height=32

[com_125]
type=text
width=32
height=32
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_126]
type=text
width=32
height=32
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_127]
type=text
width=32
height=32
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_128]
type=text
width=32
height=32
layer=com_124
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_129]
type=model
x=141
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=200

[com_130]
type=layer
x=200
y=170
width=32
height=32

[com_131]
type=text
width=32
height=32
layer=com_130
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_132]
type=text
width=32
height=32
layer=com_130
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_133]
type=text
width=32
height=32
layer=com_130
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_134]
type=text
width=32
height=32
layer=com_130
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_135]
type=model
x=181
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=400

[com_136]
type=layer
x=240
y=170
width=32
height=32

[com_137]
type=text
width=32
height=32
layer=com_136
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_138]
type=text
width=32
height=32
layer=com_136
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_139]
type=text
width=32
height=32
layer=com_136
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_140]
type=text
width=32
height=32
layer=com_136
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_141]
type=model
x=221
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=400

[com_142]
type=layer
x=280
y=170
width=32
height=32

[com_143]
type=text
width=32
height=32
layer=com_142
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_144]
type=text
width=32
height=32
layer=com_142
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_145]
type=text
width=32
height=32
layer=com_142
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_146]
type=text
width=32
height=32
layer=com_142
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_147]
type=model
x=261
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=400

[com_148]
type=layer
x=320
y=170
width=32
height=32

[com_149]
type=text
width=32
height=32
layer=com_148
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_150]
type=text
width=32
height=32
layer=com_148
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_151]
type=text
width=32
height=32
layer=com_148
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_152]
type=text
width=32
height=32
layer=com_148
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_153]
type=model
x=301
y=-4
width=32
height=32
layer=com_116
model=null
modelzoom=400

[com_154]
type=layer
x=360
y=170
width=32
height=32

[com_155]
type=text
width=32
height=32
layer=com_154
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_156]
type=text
width=32
height=32
layer=com_154
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_157]
type=text
width=32
height=32
layer=com_154
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_158]
type=text
width=32
height=32
layer=com_154
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_159]
type=layer
x=56
y=250
width=400
height=66

[com_160]
type=model
x=184
y=6
width=32
height=32
layer=com_159
model=model_2368
modelangle=300,302,0
modelzoom=571

[com_161]
type=text
x=47
y=39
width=306
height=53
layer=com_159
textfont=p12_full
text=You need an amulet mould to craft amulets.
textalignh=centre
textshadow=yes

[com_162]
type=text
x=110
y=235
width=284
height=14
textfont=b12_full
text=Amulets
textalignh=centre
textshadow=yes
colour=0xff9900

[com_163]
type=layer
x=60
y=263
width=400
height=38

[com_164]
type=model
x=67
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_165]
type=layer
x=127
y=254
width=32
height=32

[com_166]
type=text
width=32
height=32
layer=com_165
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_167]
type=text
width=32
height=32
layer=com_165
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_168]
type=text
width=32
height=32
layer=com_165
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_169]
type=text
width=32
height=32
layer=com_165
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_170]
type=model
x=107
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_171]
type=layer
x=168
y=254
width=32
height=32

[com_172]
type=text
width=32
height=32
layer=com_171
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_173]
type=text
width=32
height=32
layer=com_171
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_174]
type=text
width=32
height=32
layer=com_171
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_175]
type=text
width=32
height=32
layer=com_171
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_176]
type=model
x=147
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_177]
type=layer
x=208
y=254
width=32
height=32

[com_178]
type=text
width=32
height=32
layer=com_177
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_179]
type=text
width=32
height=32
layer=com_177
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_180]
type=text
width=32
height=32
layer=com_177
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_181]
type=text
x=-9
y=-2
width=32
height=32
layer=com_177
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_182]
type=model
x=187
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_183]
type=layer
x=248
y=254
width=32
height=32

[com_184]
type=text
width=32
height=32
layer=com_183
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_185]
type=text
width=32
height=32
layer=com_183
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_186]
type=text
width=32
height=32
layer=com_183
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_187]
type=text
width=32
height=32
layer=com_183
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_188]
type=model
x=227
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_189]
type=layer
x=288
y=254
width=32
height=32

[com_190]
type=text
width=32
height=32
layer=com_189
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_191]
type=text
width=32
height=32
layer=com_189
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_192]
type=text
width=32
height=32
layer=com_189
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_193]
type=text
width=32
height=32
layer=com_189
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_194]
type=model
x=267
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_195]
type=layer
x=328
y=254
width=32
height=32

[com_196]
type=text
width=32
height=32
layer=com_195
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_197]
type=text
width=32
height=32
layer=com_195
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_198]
type=text
width=32
height=32
layer=com_195
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_199]
type=text
width=32
height=32
layer=com_195
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_200]
type=model
x=307
y=-21
width=32
height=32
layer=com_163
model=null
modelzoom=400

[com_201]
type=layer
x=368
y=254
width=32
height=32

[com_202]
type=text
width=32
height=32
layer=com_201
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_203]
type=text
y=-2
width=32
height=32
layer=com_201
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_204]
type=text
x=-9
width=32
height=32
layer=com_201
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_205]
type=text
width=32
height=32
layer=com_201
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_206]
type=graphic
x=390
y=26
width=26
height=23
mouseoverlayer=com_208
graphic="close_buttons,0"

[com_207]
type=graphic
x=11
y=5
width=26
height=23
layer=com_208
buttontype=3
graphic="close_buttons,1"

[com_208]
type=layer
x=379
y=21
width=32
height=32
hide=yes

