[com_0]
type=model
x=250
y=305
width=32
height=32
model=model_24418
modelangle=56,0,0
modelzoom=170
modelanim=seq_6171

[com_1]
type=model
x=250
y=305
width=32
height=32
model=model_24419
modelangle=56,0,0
modelzoom=170
modelanim=seq_6172

[com_2]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6173

[com_3]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6174

[com_4]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6175

[com_5]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6176

[com_6]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6177

[com_7]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6178

[com_8]
type=model
x=250
y=305
width=32
height=32
model=model_24420
modelangle=56,0,0
modelzoom=170
modelanim=seq_6179

