[com_12050]
type=layer
width=512
height=334

[com_12051]
type=graphic
x=116
y=23
width=20
height=20
layer=com_12050
mouseoverlayer=com_12102
buttontype=1
graphic=magicoff2,5
graphicactive=magicon2,5
script=inv_total(interface_1644:com_1688, obj_4170) > 0
script=inv_total(interface_3213:com_3214, obj_560) > 0
script=inv_total(interface_3213:com_3214, obj_558) > 3
script=stat(magic) > 49
script=stat(slayer) > 54

[com_12052]
type=graphic
x=52
y=23
width=20
height=20
layer=com_12050
mouseoverlayer=com_12112
buttontype=1
graphic=magicoff,19
graphicactive=magicon,19
script=inv_total(interface_3213:com_3214, obj_557) + inv_contains(interface_1644:com_1688, obj_1385) + inv_contains(interface_1644:com_1688, obj_1399) + inv_contains(interface_1644:com_1688, obj_1407) + inv_contains(interface_1644:com_1688, obj_3053) + inv_contains(interface_1644:com_1688, obj_3054) > 1
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 1
script=inv_total(interface_3213:com_3214, obj_562) > 0
script=stat(magic) > 38

[com_12053]
type=graphic
x=52
y=75
width=20
height=20
layer=com_12050
mouseoverlayer=com_12063
buttontype=1
graphic=magicoff,31
graphicactive=magicon,31
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4
script=inv_total(interface_3213:com_3214, obj_565) > 0
script=stat(magic) > 61

[com_12054]
type=graphic
x=116
y=75
width=20
height=20
layer=com_12050
mouseoverlayer=com_12071
buttontype=1
graphic=magicoff,33
graphicactive=magicon,33
script=inv_total(interface_3213:com_3214, obj_555) + inv_contains(interface_1644:com_1688, obj_1383) + inv_contains(interface_1644:com_1688, obj_1395) + inv_contains(interface_1644:com_1688, obj_1403) > 6
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4
script=inv_total(interface_3213:com_3214, obj_565) > 0
script=stat(magic) > 64

[com_12055]
type=graphic
x=52
y=126
width=20
height=20
layer=com_12050
mouseoverlayer=com_12081
buttontype=1
graphic=magicoff,36
graphicactive=magicon,36
script=inv_total(interface_3213:com_3214, obj_557) + inv_contains(interface_1644:com_1688, obj_1385) + inv_contains(interface_1644:com_1688, obj_1399) + inv_contains(interface_1644:com_1688, obj_1407) + inv_contains(interface_1644:com_1688, obj_3053) + inv_contains(interface_1644:com_1688, obj_3054) > 6
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4
script=inv_total(interface_3213:com_3214, obj_565) > 0
script=stat(magic) > 69

[com_12056]
type=graphic
x=116
y=126
width=20
height=20
layer=com_12050
mouseoverlayer=com_12091
buttontype=1
graphic=magicoff,37
graphicactive=magicon,37
script=inv_total(interface_3213:com_3214, obj_554) + inv_contains(interface_1644:com_1688, obj_1387) + inv_contains(interface_1644:com_1688, obj_1393) + inv_contains(interface_1644:com_1688, obj_1401) + inv_contains(interface_1644:com_1688, obj_3053) + inv_contains(interface_1644:com_1688, obj_3054) > 6
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4
script=inv_total(interface_3213:com_3214, obj_565) > 0
script=stat(magic) > 74

[com_12057]
type=layer
x=3
y=178
width=186
height=85
layer=com_12050

[com_12058]
type=text
x=34
y=213
width=120
height=14
layer=com_12050
textfont=p12_full
text=Select a Combat Spell
textalignh=centre
textshadow=yes
colour=0xb0a392

[com_12059]
type=rectangle
x=3
y=9
width=178
height=72
layer=com_12057
colour=0x726451

[com_12060]
type=rectangle
x=4
y=10
width=176
height=70
layer=com_12057
colour=0x726451

[com_12061]
type=rectangle
x=4
y=10
width=177
height=71
layer=com_12057
colour=0x2e2b23

[com_12062]
type=rectangle
x=5
y=11
width=174
height=68
layer=com_12057
colour=0x000000
fill=yes

[com_12063]
type=layer
x=5
y=184
width=182
height=76
layer=com_12050
hide=yes

[com_12064]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_12063
colour=0x000000
fill=yes

[com_12065]
type=text
x=3
y=4
width=174
height=16
layer=com_12063
textfont=p12_full
text=Level 62 : Wind Wave
textalignh=centre
textshadow=yes
colour=0xfff000

[com_12066]
type=text
x=3
y=17
width=174
height=15
layer=com_12063
textfont=p11_full
text=A high level Air missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_12067]
type=model
x=38
y=35
width=28
height=28
layer=com_12063
model=model_2405
modelangle=512,0,0
modelzoom=900

[com_12068]
type=model
x=114
y=35
width=28
height=28
layer=com_12063
model=model_2665
modelangle=512,0,0
modelzoom=900

[com_12069]
type=text
x=40
y=62
width=25
height=11
layer=com_12063
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4

[com_12070]
type=text
x=116
y=62
width=23
height=11
layer=com_12063
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_565) > 0

[com_12071]
type=layer
x=5
y=184
width=182
height=76
layer=com_12050
hide=yes

[com_12072]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_12071
colour=0x000000
fill=yes

[com_12073]
type=text
x=2
y=3
width=182
height=20
layer=com_12071
textfont=p12_full
text=Level 65 : Water Wave
textalignh=centre
textshadow=yes
colour=0xfff000

[com_12074]
type=text
x=3
y=17
width=181
height=21
layer=com_12071
textfont=p11_full
text=A high level Water missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_12075]
type=model
x=26
y=35
width=28
height=28
layer=com_12071
model=model_2652
modelangle=512,0,0
modelzoom=900

[com_12076]
type=model
x=78
y=35
width=28
height=28
layer=com_12071
model=model_2405
modelangle=512,0,0
modelzoom=900

[com_12077]
type=model
x=130
y=35
width=28
height=28
layer=com_12071
model=model_2665
modelangle=512,0,0
modelzoom=900

[com_12078]
type=text
x=28
y=62
width=24
height=11
layer=com_12071
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_555) + inv_contains(interface_1644:com_1688, obj_1383) + inv_contains(interface_1644:com_1688, obj_1395) + inv_contains(interface_1644:com_1688, obj_1403) > 6

[com_12079]
type=text
x=80
y=62
width=25
height=11
layer=com_12071
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4

[com_12080]
type=text
x=132
y=62
width=23
height=11
layer=com_12071
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_565) > 0

[com_12081]
type=layer
x=5
y=184
width=182
height=76
layer=com_12050
hide=yes

[com_12082]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_12081
colour=0x000000
fill=yes

[com_12083]
type=text
x=2
y=4
width=174
height=14
layer=com_12081
textfont=p12_full
text=Level 70 : Earth Wave
textalignh=centre
textshadow=yes
colour=0xfff000

[com_12084]
type=text
x=3
y=17
width=174
height=252
layer=com_12081
textfont=p11_full
text=A high level Earth missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_12085]
type=model
x=26
y=35
width=28
height=28
layer=com_12081
model=model_2737
modelangle=512,0,0
modelzoom=900

[com_12086]
type=model
x=78
y=35
width=28
height=28
layer=com_12081
model=model_2405
modelangle=512,0,0
modelzoom=900

[com_12087]
type=model
x=130
y=35
width=28
height=28
layer=com_12081
model=model_2665
modelangle=512,0,0
modelzoom=900

[com_12088]
type=text
x=28
y=62
width=24
height=11
layer=com_12081
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_557) + inv_contains(interface_1644:com_1688, obj_1385) + inv_contains(interface_1644:com_1688, obj_1399) + inv_contains(interface_1644:com_1688, obj_1407) + inv_contains(interface_1644:com_1688, obj_3053) + inv_contains(interface_1644:com_1688, obj_3054) > 6

[com_12089]
type=text
x=80
y=62
width=25
height=11
layer=com_12081
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4

[com_12090]
type=text
x=132
y=62
width=23
height=11
layer=com_12081
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_565) > 0

[com_12091]
type=layer
x=5
y=184
width=182
height=76
layer=com_12050
hide=yes

[com_12092]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_12091
colour=0x000000
fill=yes

[com_12093]
type=text
x=2
y=4
width=178
height=294
layer=com_12091
textfont=p12_full
text=Level 75 : Fire Wave
textalignh=centre
textshadow=yes
colour=0xfff000

[com_12094]
type=text
x=3
y=17
width=178
height=14
layer=com_12091
textfont=p11_full
text=A high level Fire missile
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_12095]
type=model
x=26
y=35
width=28
height=28
layer=com_12091
model=model_2399
modelangle=512,0,0
modelzoom=900

[com_12096]
type=model
x=78
y=35
width=28
height=28
layer=com_12091
model=model_2405
modelangle=512,0,0
modelzoom=900

[com_12097]
type=model
x=130
y=35
width=28
height=28
layer=com_12091
model=model_2665
modelangle=512,0,0
modelzoom=900

[com_12098]
type=text
x=28
y=62
width=24
height=11
layer=com_12091
textfont=p11_full
text=%1/7
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_554) + inv_contains(interface_1644:com_1688, obj_1387) + inv_contains(interface_1644:com_1688, obj_1393) + inv_contains(interface_1644:com_1688, obj_1401) + inv_contains(interface_1644:com_1688, obj_3053) + inv_contains(interface_1644:com_1688, obj_3054) > 6

[com_12099]
type=text
x=80
y=62
width=25
height=11
layer=com_12091
textfont=p11_full
text=%1/5
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 4

[com_12100]
type=text
x=132
y=62
width=23
height=11
layer=com_12091
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_565) > 0

[com_12101]
type=text
x=143
y=169
width=36
height=14
layer=com_12050
buttontype=1
textfont=p12_full
text=cancel
textshadow=yes
colour=0x808080

[com_12102]
type=layer
x=5
y=184
width=182
height=76
layer=com_12050
hide=yes

[com_12103]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_12102
colour=0x000000
fill=yes

[com_12104]
type=text
x=2
y=4
width=175
height=15
layer=com_12102
textfont=p12_full
text=Level 50 : Magic Dart
textalignh=centre
textshadow=yes
colour=0xfff000

[com_12105]
type=text
x=3
y=17
width=174
height=12
layer=com_12102
textfont=p11_full
text=A magic dart of slaying
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_12106]
type=model
x=26
y=35
width=28
height=28
layer=com_12102
model=model_5060
modelangle=323,459,0
modelzoom=2369

[com_12107]
type=model
x=78
y=35
width=28
height=28
layer=com_12102
model=model_2645
modelangle=512,0,0
modelzoom=900

[com_12108]
type=model
x=130
y=35
width=28
height=28
layer=com_12102
model=model_2481
modelangle=512,0,0
modelzoom=900

[com_12109]
type=text
x=28
y=62
width=23
height=12
layer=com_12102
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_1644:com_1688, obj_4170) > 0

[com_12110]
type=text
x=80
y=62
width=23
height=12
layer=com_12102
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_560) > 0

[com_12111]
type=text
x=132
y=62
width=24
height=12
layer=com_12102
textfont=p11_full
text=%1/4
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_558) > 3

[com_12112]
type=layer
x=5
y=184
width=182
height=76
layer=com_12050
hide=yes

[com_12113]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_12112
colour=0x000000
fill=yes

[com_12114]
type=text
x=2
y=4
width=175
height=14
layer=com_12112
textfont=p12_full
text=Level 39 : Crumble Undead
textalignh=centre
textshadow=yes
colour=0xfff000

[com_12115]
type=text
x=3
y=17
width=174
height=21
layer=com_12112
textfont=p11_full
text=Hits skeletons, ghosts and \nzombies hard
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_12116]
type=model
x=26
y=35
width=28
height=28
layer=com_12112
model=model_2737
modelangle=512,0,0
modelzoom=900

[com_12117]
type=model
x=78
y=35
width=28
height=28
layer=com_12112
model=model_2405
modelangle=512,0,0
modelzoom=900

[com_12118]
type=model
x=130
y=35
width=28
height=28
layer=com_12112
model=model_2707
modelangle=512,0,0
modelzoom=900

[com_12119]
type=text
x=28
y=62
width=26
height=12
layer=com_12112
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_557) + inv_contains(interface_1644:com_1688, obj_1385) + inv_contains(interface_1644:com_1688, obj_1399) + inv_contains(interface_1644:com_1688, obj_1407) + inv_contains(interface_1644:com_1688, obj_3053) + inv_contains(interface_1644:com_1688, obj_3054) > 1

[com_12120]
type=text
x=80
y=62
width=26
height=12
layer=com_12112
textfont=p11_full
text=%1/2
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_556) + inv_contains(interface_1644:com_1688, obj_1381) + inv_contains(interface_1644:com_1688, obj_1397) + inv_contains(interface_1644:com_1688, obj_1405) > 1

[com_12121]
type=text
x=132
y=62
width=23
height=11
layer=com_12112
textfont=p11_full
text=%1/1
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=inv_total(interface_3213:com_3214, obj_562) > 0

