[com_415]
type=layer
width=512
height=334

[com_416]
type=graphic
x=12
y=20
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_417]
type=graphic
x=12
y=80
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_418]
type=graphic
x=12
y=140
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_419]
type=graphic
x=12
y=200
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_420]
type=graphic
x=12
y=260
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_421]
type=graphic
x=100
y=20
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_422]
type=graphic
x=100
y=80
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_423]
type=graphic
x=100
y=140
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_424]
type=graphic
x=100
y=200
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_425]
type=graphic
x=188
y=20
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_426]
type=graphic
x=100
y=260
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_427]
type=graphic
x=188
y=80
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_428]
type=graphic
x=188
y=140
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_429]
type=graphic
x=188
y=200
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_430]
type=graphic
x=188
y=260
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_431]
type=graphic
x=276
y=20
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_432]
type=graphic
x=364
y=80
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_433]
type=graphic
x=276
y=80
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_434]
type=graphic
x=276
y=140
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_435]
type=graphic
x=276
y=200
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_436]
type=graphic
x=276
y=260
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_437]
type=graphic
x=364
y=140
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_438]
type=graphic
x=364
y=20
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_439]
type=graphic
x=364
y=200
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_440]
type=graphic
x=364
y=260
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_441]
type=graphic
x=412
y=20
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_442]
type=graphic
x=412
y=80
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_443]
type=graphic
x=412
y=140
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_444]
type=graphic
x=412
y=200
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_445]
type=graphic
x=412
y=260
width=88
height=60
layer=com_415
graphic=tradebacking,0

[com_446]
type=graphic
x=12
y=20
width=25
height=30
layer=com_415
graphic=steelborder,0

[com_447]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_448]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_449]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_450]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_451]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_452]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_453]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_415
graphic=miscgraphics,2

[com_454]
type=graphic
x=479
y=50
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_455]
type=graphic
x=479
y=86
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_456]
type=graphic
x=479
y=122
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_457]
type=graphic
x=479
y=158
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_458]
type=graphic
x=479
y=194
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_459]
type=graphic
x=479
y=230
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_460]
type=graphic
x=479
y=266
width=36
height=36
layer=com_415
graphic=steelborder2,1

[com_461]
type=graphic
x=73
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_462]
type=graphic
x=109
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_463]
type=graphic
x=145
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_464]
type=graphic
x=181
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_465]
type=graphic
x=217
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_466]
type=graphic
x=253
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_467]
type=graphic
x=289
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_468]
type=graphic
x=325
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_469]
type=graphic
x=361
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_470]
type=graphic
x=397
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_471]
type=graphic
x=433
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_472]
type=graphic
x=72
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_473]
type=graphic
x=108
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_474]
type=graphic
x=144
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_475]
type=graphic
x=180
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_476]
type=graphic
x=216
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_477]
type=graphic
x=252
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_478]
type=graphic
x=288
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_479]
type=graphic
x=324
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_480]
type=graphic
x=360
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_481]
type=graphic
x=396
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_482]
type=graphic
x=432
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_483]
type=graphic
x=252
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_484]
type=graphic
x=37
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_485]
type=graphic
x=37
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_486]
type=graphic
x=12
y=290
width=25
height=30
layer=com_415
graphic=steelborder,2

[com_487]
type=graphic
x=475
y=20
width=25
height=30
layer=com_415
graphic=steelborder,1

[com_488]
type=graphic
x=439
y=5
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_489]
type=graphic
x=475
y=290
width=25
height=30
layer=com_415
graphic=steelborder,3

[com_490]
type=graphic
x=439
y=299
width=36
height=36
layer=com_415
graphic=miscgraphics,3

[com_491]
type=text
x=420
y=29
width=68
height=11
layer=com_415
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_492]
type=text
x=179
y=30
width=143
height=14
layer=com_415
textfont=p12_full
text=Thessalias' Clothes Store
textshadow=yes
colour=0xffff00

[com_493]
type=model
y=90
width=32
height=32
layer=com_518
model=model_276
modelzoom=800

[com_494]
type=model
y=90
width=32
height=32
layer=com_519
model=model_276
modelzoom=800

[com_495]
type=model
y=90
width=32
height=32
layer=com_520
model=model_276
modelzoom=800

[com_496]
type=model
y=90
width=32
height=32
layer=com_521
model=model_276
modelzoom=800

[com_497]
type=model
y=90
width=32
height=32
layer=com_522
model=model_281
modelzoom=800

[com_498]
type=model
y=90
width=32
height=32
layer=com_523
model=model_294
modelzoom=800

[com_499]
type=model
y=85
width=32
height=32
layer=com_552
model=model_276
modelzoom=800

[com_500]
type=model
y=85
width=32
height=32
layer=com_553
model=model_276
modelzoom=800

[com_501]
type=model
y=85
width=32
height=32
layer=com_554
model=model_276
modelzoom=800

[com_502]
type=model
y=85
width=32
height=32
layer=com_555
model=model_276
modelzoom=800

[com_503]
type=model
y=85
width=32
height=32
layer=com_556
model=model_276
modelzoom=800

[com_504]
type=model
y=85
width=32
height=32
layer=com_557
model=model_276
modelzoom=800

[com_505]
type=graphic
x=288
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_506]
type=graphic
x=324
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_507]
type=graphic
x=360
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_508]
type=graphic
x=396
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_509]
type=graphic
x=432
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_510]
type=graphic
x=459
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_511]
type=graphic
x=216
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_512]
type=graphic
x=180
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_513]
type=graphic
x=144
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_514]
type=graphic
x=108
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_515]
type=graphic
x=72
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_516]
type=graphic
x=36
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_517]
type=graphic
x=17
y=34
width=36
height=36
layer=com_415
graphic=steelborder2,0

[com_518]
type=layer
x=11
y=3
width=40
height=40
layer=com_564
buttontype=5
buttontext=Plain
script=varplayer_260 = 1

[com_519]
type=layer
x=66
y=3
width=40
height=40
layer=com_564
buttontype=5
buttontext=Jacket
script=varplayer_260 = 2

[com_520]
type=layer
x=121
y=3
width=40
height=40
layer=com_564
buttontype=5
buttontext=Shirt
script=varplayer_260 = 3

[com_521]
type=layer
x=181
y=3
width=40
height=40
layer=com_564
buttontype=5
buttontext=Stitched
script=varplayer_260 = 4

[com_522]
type=layer
x=236
y=3
width=40
height=40
layer=com_564
buttontype=5
buttontext=Patchwork
script=varplayer_260 = 5

[com_523]
type=layer
x=291
y=3
width=40
height=40
layer=com_564
buttontype=5
buttontext=Tatty
script=varplayer_260 = 6

[com_524]
type=model
y=90
width=32
height=32
layer=com_518
model=model_163
modelzoom=800

[com_525]
type=model
y=90
width=32
height=32
layer=com_519
model=model_163
modelzoom=800

[com_526]
type=model
y=90
width=32
height=32
layer=com_520
model=model_163
modelzoom=800

[com_527]
type=model
y=90
width=32
height=32
layer=com_521
model=model_163
modelzoom=800

[com_528]
type=model
y=90
width=32
height=32
layer=com_522
model=model_163
modelzoom=800

[com_529]
type=model
y=90
width=32
height=32
layer=com_523
model=model_163
modelzoom=800

[com_530]
type=rectangle
x=100
y=80
width=324
height=24
layer=com_415
colour=0x000000
fill=yes

[com_531]
type=rectangle
x=101
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x7b6e32
fill=yes
buttontext=Khaki
script=varplayer_262 = 1

[com_532]
type=rectangle
x=121
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x262323
fill=yes
buttontext=Black
script=varplayer_262 = 2

[com_533]
type=rectangle
x=141
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x752f3b
fill=yes
buttontext=Crimson
script=varplayer_262 = 3

[com_534]
type=rectangle
x=161
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x3b3b4e
fill=yes
buttontext=Navy
script=varplayer_262 = 4

[com_535]
type=rectangle
x=181
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0xaa9045
fill=yes
buttontext=Straw
script=varplayer_262 = 5

[com_536]
type=rectangle
x=201
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0xbeb89c
fill=yes
buttontext=White
script=varplayer_262 = 6

[com_537]
type=rectangle
x=221
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x8b3b2a
fill=yes
buttontext=Red
script=varplayer_262 = 7

[com_538]
type=rectangle
x=241
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x2d5272
fill=yes
buttontext=Blue
script=varplayer_262 = 8

[com_539]
type=rectangle
x=261
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x2d723e
fill=yes
buttontext=Green
script=varplayer_262 = 9

[com_540]
type=rectangle
x=281
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0xa3970d
fill=yes
buttontext=Yellow
script=varplayer_262 = 10

[com_541]
type=rectangle
x=301
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x83537b
fill=yes
buttontext=Purple
script=varplayer_262 = 11

[com_542]
type=rectangle
x=321
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x9d642f
fill=yes
buttontext=Orange
script=varplayer_262 = 12

[com_543]
type=rectangle
x=341
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0xa17067
fill=yes
buttontext=Rose
script=varplayer_262 = 13

[com_544]
type=rectangle
x=361
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x829472
fill=yes
buttontext=Lime
script=varplayer_262 = 14

[com_545]
type=rectangle
x=381
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x728c94
fill=yes
buttontext=Cyan
script=varplayer_262 = 15

[com_546]
type=rectangle
x=401
y=81
width=20
height=20
layer=com_415
buttontype=5
colour=0x1c6135
fill=yes
buttontext=Emerald
script=varplayer_262 = 16

[com_547]
type=model
x=-2
y=91
width=32
height=32
layer=com_519
model=model_304
modelzoom=800

[com_548]
type=model
x=-1
y=91
width=32
height=32
layer=com_520
model=model_311
modelzoom=800

[com_549]
type=model
x=-1
y=91
width=32
height=32
layer=com_521
model=model_308
modelzoom=800

[com_550]
type=text
x=6
y=48
width=63
height=14
layer=com_564
textfont=p12_full
text=Torso style
textshadow=yes
colour=0xffff00

[com_551]
type=text
x=256
y=73
width=61
height=14
layer=com_564
textfont=p12_full
text=Arms style
textshadow=yes
colour=0xffff00

[com_552]
type=layer
x=11
y=98
width=40
height=40
layer=com_564
buttontype=5
buttontext=Regular
script=varplayer_261 = 1

[com_553]
type=layer
x=66
y=98
width=40
height=40
layer=com_564
buttontype=5
buttontext=Musclebound
script=varplayer_261 = 2

[com_554]
type=layer
x=121
y=98
width=40
height=40
layer=com_564
buttontype=5
buttontext=Loose sleeved
script=varplayer_261 = 3

[com_555]
type=layer
x=181
y=98
width=40
height=40
layer=com_564
buttontype=5
buttontext=Large cuffed
script=varplayer_261 = 4

[com_556]
type=layer
x=236
y=98
width=40
height=40
layer=com_564
buttontype=5
buttontext=Tight sleeved
script=varplayer_261 = 5

[com_557]
type=layer
x=291
y=98
width=40
height=40
layer=com_564
buttontype=5
buttontext=Shoulder pads
script=varplayer_261 = 6

[com_558]
type=model
x=1
y=86
width=32
height=32
layer=com_552
model=model_142
modelzoom=800

[com_559]
type=model
y=85
width=32
height=32
layer=com_553
model=model_158
modelzoom=800

[com_560]
type=model
y=85
width=32
height=32
layer=com_554
model=model_161
modelzoom=800

[com_561]
type=model
y=85
width=32
height=32
layer=com_555
model=model_153
modelzoom=800

[com_562]
type=model
y=85
width=32
height=32
layer=com_556
model=model_154
modelzoom=800

[com_563]
type=model
y=85
width=32
height=32
layer=com_557
model=model_149
modelzoom=800

[com_564]
type=layer
x=94
y=122
width=340
height=140
layer=com_415

[com_565]
type=rectangle
x=100
y=270
width=324
height=24
layer=com_415
colour=0x000000
fill=yes

[com_566]
type=rectangle
x=101
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x7b6e32
fill=yes
buttontext=Khaki
script=varplayer_263 = 1

[com_567]
type=rectangle
x=121
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x262323
fill=yes
buttontext=Black
script=varplayer_263 = 2

[com_568]
type=rectangle
x=141
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x752f3b
fill=yes
buttontext=Crimson
script=varplayer_263 = 3

[com_569]
type=rectangle
x=161
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x3b3b4e
fill=yes
buttontext=Navy
script=varplayer_263 = 4

[com_570]
type=rectangle
x=181
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0xaa9045
fill=yes
buttontext=Straw
script=varplayer_263 = 5

[com_571]
type=rectangle
x=201
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0xbeb89c
fill=yes
buttontext=White
script=varplayer_263 = 6

[com_572]
type=rectangle
x=221
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x8b3b2a
fill=yes
buttontext=Red
script=varplayer_263 = 7

[com_573]
type=rectangle
x=241
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x2d5272
fill=yes
buttontext=Blue
script=varplayer_263 = 8

[com_574]
type=rectangle
x=261
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x2d723e
fill=yes
buttontext=Green
script=varplayer_263 = 9

[com_575]
type=rectangle
x=281
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0xa3970d
fill=yes
buttontext=Yellow
script=varplayer_263 = 10

[com_576]
type=rectangle
x=301
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x83537b
fill=yes
buttontext=Purple
script=varplayer_263 = 11

[com_577]
type=rectangle
x=321
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x9d642f
fill=yes
buttontext=Orange
script=varplayer_263 = 12

[com_578]
type=rectangle
x=341
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0xa17067
fill=yes
buttontext=Rose
script=varplayer_263 = 13

[com_579]
type=rectangle
x=361
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x829472
fill=yes
buttontext=Lime
script=varplayer_263 = 14

[com_580]
type=rectangle
x=381
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x728c94
fill=yes
buttontext=Cyan
script=varplayer_263 = 15

[com_581]
type=rectangle
x=401
y=271
width=20
height=20
layer=com_415
buttontype=5
colour=0x1c6135
fill=yes
buttontext=Emerald
script=varplayer_263 = 16

[com_582]
type=text
x=40
y=85
width=35
height=14
layer=com_415
buttontype=1
textfont=p12_full
text=TORSO
textshadow=yes
colour=0xffff00

[com_583]
type=text
x=40
y=275
width=27
height=14
layer=com_415
buttontype=1
textfont=p12_full
text=LEGS
textshadow=yes
colour=0xffff00

[com_584]
type=text
x=440
y=275
width=36
height=14
layer=com_415
textfont=p12_full
text=Colour
textshadow=yes
colour=0xffff00

[com_585]
type=text
x=440
y=85
width=36
height=14
layer=com_415
textfont=p12_full
text=Colour
textshadow=yes
colour=0xffff00

[com_586]
type=model
x=7
y=81
width=32
height=32
layer=com_591
buttontype=5
model=model_241
modelzoom=600
buttontext=Trousers
script=varplayer_264 = 1

[com_587]
type=model
x=67
y=81
width=32
height=32
layer=com_591
buttontype=5
model=model_256
modelzoom=600
buttontext=Shorts
script=varplayer_264 = 2

[com_588]
type=model
x=127
y=81
width=32
height=32
layer=com_591
buttontype=5
model=model_253
modelzoom=600
buttontext=Flares
script=varplayer_264 = 3

[com_589]
type=model
x=187
y=81
width=32
height=32
layer=com_591
buttontype=5
model=model_259
modelzoom=600
buttontext=Turnups
script=varplayer_264 = 4

[com_590]
type=model
x=247
y=81
width=32
height=32
layer=com_591
buttontype=5
model=model_260
modelzoom=600
buttontext=Scruffy
script=varplayer_264 = 5

[com_591]
type=layer
x=123
y=149
width=280
height=90
layer=com_415
hide=yes

