[com_679]
type=layer
width=512
height=334

[com_680]
type=graphic
x=12
y=20
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_681]
type=graphic
x=12
y=80
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_683]
type=graphic
x=12
y=140
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_684]
type=graphic
x=12
y=200
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_685]
type=graphic
x=12
y=260
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_686]
type=graphic
x=100
y=20
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_687]
type=graphic
x=100
y=80
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_688]
type=graphic
x=100
y=140
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_689]
type=graphic
x=100
y=200
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_690]
type=graphic
x=188
y=20
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_691]
type=graphic
x=100
y=260
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_692]
type=graphic
x=188
y=80
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_693]
type=graphic
x=188
y=140
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_694]
type=graphic
x=188
y=200
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_695]
type=graphic
x=188
y=260
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_696]
type=graphic
x=276
y=20
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_697]
type=graphic
x=364
y=80
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_698]
type=graphic
x=276
y=80
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_699]
type=graphic
x=276
y=140
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_700]
type=graphic
x=276
y=200
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_701]
type=graphic
x=276
y=259
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_702]
type=graphic
x=364
y=140
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_703]
type=graphic
x=364
y=20
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_704]
type=graphic
x=364
y=200
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_705]
type=graphic
x=364
y=260
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_706]
type=graphic
x=412
y=20
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_707]
type=graphic
x=412
y=80
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_708]
type=graphic
x=412
y=140
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_709]
type=graphic
x=412
y=200
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_710]
type=graphic
x=412
y=260
width=88
height=60
layer=com_679
graphic=tradebacking,0

[com_711]
type=graphic
x=12
y=20
width=25
height=30
layer=com_679
graphic=steelborder,0

[com_712]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_713]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_714]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_715]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_7377]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_7384]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_7385]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_679
graphic=miscgraphics,2

[com_7386]
type=graphic
x=479
y=50
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7387]
type=graphic
x=479
y=86
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7388]
type=graphic
x=479
y=122
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7389]
type=graphic
x=479
y=158
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7390]
type=graphic
x=479
y=194
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7391]
type=graphic
x=479
y=230
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7392]
type=graphic
x=479
y=266
width=36
height=36
layer=com_679
graphic=steelborder2,1

[com_7393]
type=graphic
x=73
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7394]
type=graphic
x=109
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7395]
type=graphic
x=145
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7396]
type=graphic
x=181
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7397]
type=graphic
x=217
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7398]
type=graphic
x=253
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7399]
type=graphic
x=289
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7400]
type=graphic
x=325
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7401]
type=graphic
x=361
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7402]
type=graphic
x=397
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7403]
type=graphic
x=433
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7404]
type=graphic
x=72
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7405]
type=graphic
x=108
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7406]
type=graphic
x=144
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7407]
type=graphic
x=180
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7408]
type=graphic
x=216
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7409]
type=graphic
x=252
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7410]
type=graphic
x=288
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7411]
type=graphic
x=324
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7412]
type=graphic
x=360
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7413]
type=graphic
x=396
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7414]
type=graphic
x=432
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7415]
type=graphic
x=252
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7416]
type=graphic
x=37
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7417]
type=graphic
x=37
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7418]
type=graphic
x=12
y=290
width=25
height=30
layer=com_679
graphic=steelborder,2

[com_7419]
type=graphic
x=475
y=20
width=25
height=30
layer=com_679
graphic=steelborder,1

[com_7420]
type=graphic
x=439
y=5
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7421]
type=graphic
x=475
y=290
width=25
height=30
layer=com_679
graphic=steelborder,3

[com_7422]
type=graphic
x=439
y=299
width=36
height=36
layer=com_679
graphic=miscgraphics,3

[com_7423]
type=graphic
x=288
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7424]
type=graphic
x=324
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7425]
type=graphic
x=360
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7426]
type=graphic
x=396
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7427]
type=graphic
x=432
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7428]
type=graphic
x=459
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7429]
type=graphic
x=216
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7430]
type=graphic
x=180
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7431]
type=graphic
x=144
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7432]
type=graphic
x=108
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7433]
type=graphic
x=72
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7434]
type=graphic
x=36
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7435]
type=graphic
x=17
y=34
width=36
height=36
layer=com_679
graphic=steelborder2,0

[com_7436]
type=model
x=348
y=105
width=64
height=96
layer=com_679
model=model_2338
modelangle=500,0,0
modelzoom=500

[com_7437]
type=text
x=72
y=70
width=84
height=14
layer=com_679
textfont=b12_full
text=Soft Leather
textshadow=yes
colour=0x0099ff

[com_7438]
type=text
x=343
y=69
width=85
height=14
layer=com_679
textfont=b12_full
text=Hard Leather
textshadow=yes
colour=0x0099ff

[com_7439]
type=layer
x=82
y=82
width=32
height=32
layer=com_679

[com_7440]
type=text
x=87
y=205
width=49
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make 1
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7441]
type=text
x=87
y=222
width=52
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make 5
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7442]
type=text
x=87
y=240
width=55
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make X
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7443]
type=text
x=87
y=257
width=58
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make All
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7444]
type=text
x=150
y=27
width=219
height=17
layer=com_679
textfont=q8_full
text=What do you want me to make?
textalignh=centre
colour=0xffff00

[com_7445]
type=model
x=80
y=108
width=64
height=96
layer=com_679
model=model_2338
modelangle=500,0,0
modelzoom=500

[com_7446]
type=layer
x=106
y=106
width=32
height=32
layer=com_679

[com_7447]
type=layer
x=130
y=130
width=32
height=32
layer=com_679

[com_7448]
type=model
x=348
y=202
width=64
height=96
layer=com_679
buttontype=1
model=null
modelangle=150,100,0
modelzoom=350

[com_7449]
type=layer
x=154
y=154
width=32
height=32
layer=com_679

[com_7450]
type=text
x=193
y=155
width=108
height=14
layer=com_679
textfont=p12_full
text=Click the number of
textshadow=yes
colour=0x00ff00

[com_7451]
type=text
x=415
y=29
width=72
height=14
layer=com_679
buttontype=1
textfont=p12_full
text=Close window
textshadow=yes
colour=0xcc0000

[com_7452]
type=text
x=353
y=204
width=49
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make 1
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7453]
type=text
x=353
y=221
width=52
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make 5
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7454]
type=text
x=353
y=238
width=55
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make X
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7455]
type=text
x=353
y=255
width=58
height=17
layer=com_679
buttontype=1
textfont=q8_full
text=Make All
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0x0099ff

[com_7456]
type=text
x=172
y=176
width=165
height=14
layer=com_679
textfont=p12_full
text=Hides to be made into leather
textshadow=yes
colour=0x00ff00

[com_7457]
type=text
x=71
y=91
width=88
height=14
layer=com_679
textfont=p12_full
text=Cost=1 GP each
textshadow=yes
colour=0x0099ff

[com_7458]
type=text
x=341
y=88
width=89
height=14
layer=com_679
textfont=p12_full
text=Cost=3 GP each
textshadow=yes
colour=0x0099ff

