[com_9947]
type=layer
width=512
height=334

[com_9948]
type=graphic
x=12
y=20
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9949]
type=graphic
x=12
y=80
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9950]
type=graphic
x=12
y=140
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9951]
type=graphic
x=12
y=200
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9952]
type=graphic
x=12
y=260
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9953]
type=graphic
x=100
y=20
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9954]
type=graphic
x=100
y=80
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9955]
type=graphic
x=100
y=140
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9956]
type=graphic
x=100
y=200
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9957]
type=graphic
x=188
y=20
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9958]
type=graphic
x=100
y=260
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9959]
type=graphic
x=188
y=80
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9960]
type=graphic
x=188
y=140
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9961]
type=graphic
x=188
y=200
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9962]
type=graphic
x=188
y=260
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9963]
type=graphic
x=276
y=20
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9964]
type=graphic
x=364
y=80
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9965]
type=graphic
x=276
y=80
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9966]
type=graphic
x=276
y=140
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9967]
type=graphic
x=276
y=200
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9968]
type=graphic
x=276
y=260
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9969]
type=graphic
x=364
y=140
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9970]
type=graphic
x=364
y=20
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9971]
type=graphic
x=364
y=200
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9972]
type=graphic
x=364
y=260
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9973]
type=graphic
x=412
y=20
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9974]
type=graphic
x=412
y=80
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9975]
type=graphic
x=412
y=140
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9976]
type=graphic
x=412
y=200
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9977]
type=graphic
x=412
y=260
width=88
height=60
layer=com_9947
graphic=tradebacking,0

[com_9978]
type=graphic
x=12
y=20
width=25
height=30
layer=com_9947
graphic=steelborder,0

[com_9979]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9980]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9981]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9982]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9983]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9984]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9985]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_9947
graphic=miscgraphics,2

[com_9986]
type=graphic
x=479
y=50
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9987]
type=graphic
x=479
y=86
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9988]
type=graphic
x=479
y=122
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9989]
type=graphic
x=479
y=158
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9990]
type=graphic
x=479
y=194
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9991]
type=graphic
x=479
y=230
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9992]
type=graphic
x=479
y=266
width=36
height=36
layer=com_9947
graphic=steelborder2,1

[com_9993]
type=graphic
x=73
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_9994]
type=graphic
x=109
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_9995]
type=graphic
x=145
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_9996]
type=graphic
x=181
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_9997]
type=graphic
x=217
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_9998]
type=graphic
x=253
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_9999]
type=graphic
x=289
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10000]
type=graphic
x=325
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10001]
type=graphic
x=361
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10002]
type=graphic
x=397
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10003]
type=graphic
x=433
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10004]
type=graphic
x=72
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10005]
type=graphic
x=108
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10006]
type=graphic
x=144
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10007]
type=graphic
x=180
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10008]
type=graphic
x=216
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10009]
type=graphic
x=252
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10010]
type=graphic
x=288
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10011]
type=graphic
x=324
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10012]
type=graphic
x=360
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10013]
type=graphic
x=396
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10014]
type=graphic
x=432
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10015]
type=graphic
x=252
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10016]
type=graphic
x=37
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10017]
type=graphic
x=37
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10018]
type=graphic
x=12
y=290
width=25
height=30
layer=com_9947
graphic=steelborder,2

[com_10019]
type=graphic
x=475
y=20
width=25
height=30
layer=com_9947
graphic=steelborder,1

[com_10020]
type=graphic
x=439
y=5
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10021]
type=graphic
x=475
y=290
width=25
height=30
layer=com_9947
graphic=steelborder,3

[com_10022]
type=graphic
x=439
y=299
width=36
height=36
layer=com_9947
graphic=miscgraphics,3

[com_10023]
type=graphic
x=288
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10024]
type=graphic
x=324
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10025]
type=graphic
x=360
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10026]
type=graphic
x=396
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10027]
type=graphic
x=432
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10028]
type=graphic
x=459
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10029]
type=graphic
x=216
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10030]
type=graphic
x=180
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10031]
type=graphic
x=144
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10032]
type=graphic
x=108
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10033]
type=graphic
x=72
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10034]
type=graphic
x=36
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10035]
type=graphic
x=17
y=34
width=36
height=36
layer=com_9947
graphic=steelborder2,0

[com_10036]
type=text
x=420
y=29
width=68
height=11
layer=com_9947
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_10037]
type=text
x=205
y=30
width=118
height=14
layer=com_9947
textfont=b12_full
text=Yrsa's Shoe Store
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10038]
type=text
x=199
y=276
width=132
height=14
layer=com_9947
buttontype=1
textfont=b12_full
text=CONFIRM (500 GOLD)
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

[com_10039]
type=model
x=120
y=120
width=32
height=32
layer=com_9947
model=null
modelangle=0,450,0
modelzoom=300

[com_10040]
type=model
x=250
y=120
width=32
height=32
layer=com_9947
model=null
modelangle=0,450,0
modelzoom=300

[com_10041]
type=model
x=380
y=120
width=32
height=32
layer=com_9947
model=null
modelangle=0,450,0
modelzoom=300

[com_10042]
type=model
x=120
y=215
width=32
height=32
layer=com_9947
model=null
modelangle=0,450,0
modelzoom=300

[com_10043]
type=model
x=250
y=215
width=32
height=32
layer=com_9947
model=null
modelangle=0,450,0
modelzoom=300

[com_10044]
type=model
x=380
y=215
width=32
height=32
layer=com_9947
model=null
modelangle=0,450,0
modelzoom=300

[com_10045]
type=graphic
x=130
y=130
width=25
height=25
layer=com_9947
buttontype=5
graphicactive=headicons,1
buttontext=Brown
script=varplayer_261 = 1

[com_10046]
type=graphic
x=260
y=130
width=25
height=25
layer=com_9947
buttontype=5
graphicactive=headicons,1
buttontext=Khaki
script=varplayer_261 = 2

[com_10047]
type=graphic
x=390
y=130
width=25
height=25
layer=com_9947
buttontype=5
graphicactive=headicons,1
buttontext=Ashen
script=varplayer_261 = 3

[com_10048]
type=graphic
x=130
y=225
width=25
height=25
layer=com_9947
buttontype=5
graphicactive=headicons,1
buttontext=Dark
script=varplayer_261 = 4

[com_10049]
type=graphic
x=260
y=225
width=25
height=25
layer=com_9947
buttontype=5
graphicactive=headicons,1
buttontext=Terracotta
script=varplayer_261 = 5

[com_10050]
type=graphic
x=390
y=225
width=25
height=25
layer=com_9947
buttontype=5
graphicactive=headicons,1
buttontext=Grey
script=varplayer_261 = 6

