[com_0]
type=graphic
x=21
y=28
width=88
height=60
graphic=tradebacking

[com_1]
type=graphic
x=18
y=71
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=18
y=131
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=18
y=191
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=107
y=29
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=106
y=71
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=106
y=131
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=106
y=191
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=341
y=31
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=340
y=71
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=340
y=131
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=340
y=191
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=16
y=25
width=25
height=30
graphic="steelborder,0"

[com_13]
type=graphic
x=3
y=28
width=36
height=36
graphic="miscgraphics,2"

[com_14]
type=graphic
x=401
y=31
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=2
y=48
width=36
height=36
graphic="miscgraphics,2"

[com_16]
type=graphic
x=2
y=70
width=36
height=36
graphic="miscgraphics,2"

[com_17]
type=graphic
x=2
y=106
width=36
height=36
graphic="miscgraphics,2"

[com_18]
type=graphic
x=2
y=141
width=36
height=36
graphic="miscgraphics,2"

[com_19]
type=graphic
x=2
y=177
width=36
height=36
graphic="miscgraphics,2"

[com_20]
type=graphic
x=2
y=213
width=36
height=36
graphic="miscgraphics,2"

[com_21]
type=graphic
x=474
y=50
width=36
height=36
graphic="steelborder2,1"

[com_22]
type=graphic
x=474
y=86
width=36
height=36
graphic="steelborder2,1"

[com_23]
type=graphic
x=474
y=105
width=36
height=36
graphic="steelborder2,1"

[com_24]
type=graphic
x=474
y=141
width=36
height=36
graphic="steelborder2,1"

[com_25]
type=graphic
x=474
y=177
width=36
height=36
graphic="steelborder2,1"

[com_26]
type=graphic
x=474
y=213
width=36
height=36
graphic="steelborder2,1"

[com_27]
type=graphic
x=76
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_28]
type=graphic
x=111
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_29]
type=graphic
x=292
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_30]
type=graphic
x=327
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_31]
type=graphic
x=362
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_32]
type=graphic
x=365
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_33]
type=graphic
x=400
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_34]
type=graphic
x=435
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_35]
type=graphic
x=22
y=10
width=36
height=36
graphic="steelborder2,0"

[com_36]
type=graphic
x=38
y=10
width=36
height=36
graphic="steelborder2,0"

[com_37]
type=graphic
x=72
y=10
width=36
height=36
graphic="steelborder2,0"

[com_38]
type=graphic
x=108
y=10
width=36
height=36
graphic="steelborder2,0"

[com_39]
type=graphic
x=290
y=10
width=36
height=36
graphic="steelborder2,0"

[com_40]
type=graphic
x=326
y=10
width=36
height=36
graphic="steelborder2,0"

[com_41]
type=graphic
x=362
y=10
width=36
height=36
graphic="steelborder2,0"

[com_42]
type=graphic
x=398
y=10
width=36
height=36
graphic="steelborder2,0"

[com_43]
type=graphic
x=434
y=10
width=36
height=36
graphic="steelborder2,0"

[com_44]
type=graphic
x=401
y=89
width=88
height=60
graphic=tradebacking

[com_45]
type=graphic
x=131
y=41
width=36
height=36
graphic="steelborder2,0"

[com_46]
type=graphic
x=41
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_47]
type=graphic
x=17
y=258
width=25
height=30
graphic="steelborder,2"

[com_48]
type=graphic
x=470
y=25
width=25
height=30
graphic="steelborder,1"

[com_49]
type=graphic
x=401
y=145
width=88
height=60
graphic=tradebacking

[com_50]
type=graphic
x=470
y=258
width=25
height=30
graphic="steelborder,3"

[com_51]
type=graphic
x=311
y=41
width=36
height=36
graphic="steelborder2,0"

[com_52]
type=graphic
x=414
y=41
width=36
height=36
graphic="steelborder2,0"

[com_53]
type=graphic
x=381
y=41
width=36
height=36
graphic="steelborder2,0"

[com_54]
type=graphic
x=346
y=41
width=36
height=36
graphic="steelborder2,0"

[com_55]
type=graphic
x=401
y=198
width=88
height=60
graphic=tradebacking

[com_56]
type=graphic
x=445
y=41
width=36
height=36
graphic="steelborder2,0"

[com_57]
type=graphic
x=98
y=41
width=36
height=36
graphic="steelborder2,0"

[com_58]
type=graphic
x=63
y=41
width=36
height=36
graphic="steelborder2,0"

[com_59]
type=graphic
x=41
y=41
width=36
height=36
graphic="steelborder2,0"

[com_60]
type=graphic
x=22
y=41
width=36
height=36
graphic="steelborder2,0"

[com_61]
type=graphic
x=401
y=222
width=88
height=60
graphic=tradebacking

[com_62]
type=graphic
x=94
y=212
width=88
height=60
graphic=tradebacking

[com_63]
type=graphic
x=23
y=212
width=88
height=60
graphic=tradebacking

[com_64]
type=graphic
x=314
y=212
width=88
height=60
graphic=tradebacking

[com_65]
type=graphic
x=167
y=41
width=36
height=36
graphic="steelborder2,0"

[com_66]
type=graphic
x=203
y=41
width=36
height=36
graphic="steelborder2,0"

[com_67]
type=graphic
x=239
y=41
width=36
height=36
graphic="steelborder2,0"

[com_68]
type=graphic
x=275
y=41
width=36
height=36
graphic="steelborder2,0"

[com_69]
type=graphic
x=254
y=10
width=36
height=36
graphic="steelborder2,0"

[com_70]
type=graphic
x=218
y=10
width=36
height=36
graphic="steelborder2,0"

[com_71]
type=graphic
x=182
y=10
width=36
height=36
graphic="steelborder2,0"

[com_72]
type=graphic
x=146
y=10
width=36
height=36
graphic="steelborder2,0"

[com_73]
type=graphic
x=147
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_74]
type=graphic
x=183
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_75]
type=graphic
x=219
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_76]
type=graphic
x=254
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_77]
type=graphic
x=278
y=267
width=36
height=36
graphic="miscgraphics,3"

[com_78]
type=graphic
x=226
y=212
width=88
height=60
graphic=tradebacking

[com_79]
type=graphic
x=252
y=152
width=88
height=60
graphic=tradebacking

[com_80]
type=graphic
x=252
y=92
width=88
height=60
graphic=tradebacking

[com_81]
type=graphic
x=253
y=32
width=88
height=60
graphic=tradebacking

[com_82]
type=graphic
x=138
y=212
width=88
height=60
graphic=tradebacking

[com_83]
type=graphic
x=164
y=152
width=88
height=60
graphic=tradebacking

[com_84]
type=graphic
x=164
y=92
width=88
height=60
graphic=tradebacking

[com_85]
type=graphic
x=165
y=32
width=88
height=60
graphic=tradebacking

[com_86]
type=graphic
x=181
y=30
width=88
height=60
graphic=tradebacking

[com_87]
type=graphic
x=265
y=31
width=88
height=60
graphic=tradebacking

[com_88]
type=graphic
x=165
y=41
width=36
height=36
graphic="steelborder2,0"

[com_89]
type=graphic
x=201
y=41
width=36
height=36
graphic="steelborder2,0"

[com_90]
type=graphic
x=237
y=41
width=36
height=36
graphic="steelborder2,0"

[com_91]
type=graphic
x=273
y=41
width=36
height=36
graphic="steelborder2,0"

[com_92]
type=graphic
x=309
y=41
width=36
height=36
graphic="steelborder2,0"

[com_93]
type=graphic
x=345
y=41
width=36
height=36
graphic="steelborder2,0"

[com_94]
type=graphic
x=2
y=223
width=36
height=36
graphic="miscgraphics,2"

[com_95]
type=graphic
x=474
y=226
width=36
height=36
graphic="steelborder2,1"

[com_96]
type=graphic
x=313
y=222
width=88
height=60
graphic=tradebacking

[com_97]
type=graphic
x=226
y=222
width=88
height=60
graphic=tradebacking

[com_98]
type=graphic
x=138
y=222
width=88
height=60
graphic=tradebacking

[com_99]
type=graphic
x=50
y=222
width=88
height=60
graphic=tradebacking

[com_100]
type=graphic
x=23
y=222
width=88
height=60
graphic=tradebacking

[com_101]
type=graphic
x=453
y=41
width=36
height=36
graphic="steelborder2,0"

[com_102]
type=text
x=87
y=37
width=200
height=14
textfont=b12_full
text=Void Knights' Rewards Options
textalignh=centre
textshadow=yes
colour=0xff981f

[com_103]
type=text
x=451
y=37
width=33
height=12
buttontype=3
textfont=p11_full
text=Cancel
textshadow=yes
colour=0x808080
colouractive=0xd6d5d5
mouseovercolour=0xffffff

[com_104]
type=graphic
x=38
y=63
width=25
height=25
buttontype=1
graphic="staticons,0"

[com_105]
type=graphic
x=38
y=93
width=25
height=25
buttontype=1
graphic="staticons,1"

[com_106]
type=graphic
x=38
y=123
width=25
height=25
buttontype=1
graphic="staticons,2"

[com_107]
type=graphic
x=38
y=153
width=25
height=25
buttontype=1
graphic="staticons,3"

[com_108]
type=graphic
x=38
y=183
width=25
height=25
buttontype=1
graphic="staticons,5"

[com_109]
type=graphic
x=38
y=213
width=25
height=25
buttontype=1
graphic="staticons,6"

[com_110]
type=graphic
x=38
y=243
width=25
height=25
buttontype=1
graphic="staticons,4"

[com_111]
type=text
x=80
y=68
width=160
height=14
buttontype=1
textfont=p12_full
text=Attack
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_112]
type=text
x=80
y=98
width=160
height=14
buttontype=1
textfont=p12_full
text=Strength
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_113]
type=text
x=80
y=128
width=160
height=14
buttontype=1
textfont=p12_full
text=Defence
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_114]
type=text
x=80
y=158
width=160
height=14
buttontype=1
textfont=p12_full
text=Ranged
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_115]
type=text
x=80
y=188
width=160
height=14
buttontype=1
textfont=p12_full
text=Magic
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_116]
type=text
x=80
y=218
width=160
height=14
buttontype=1
textfont=p12_full
text=Hitpoints
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_117]
type=text
x=80
y=248
width=160
height=14
buttontype=1
textfont=p12_full
text=Prayer
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_118]
type=graphic
x=401
y=161
width=25
height=30
graphic="steelborder,2"

[com_119]
type=graphic
x=458
y=134
width=25
height=30
graphic="steelborder,1"

[com_120]
type=graphic
x=401
y=134
width=25
height=30
graphic="steelborder,0"

[com_121]
type=graphic
x=458
y=161
width=25
height=30
graphic="steelborder,3"

[com_122]
type=graphic
x=425
y=119
width=36
height=36
graphic="steelborder2,0"

[com_123]
type=rectangle
x=407
y=140
width=70
height=45
buttontype=1
colour=0x000000
fill=yes
buttontext=Confirm

[com_124]
type=text
x=407
y=148
width=70
height=14
textfont=p12_full
text=Confirm:
textalignh=centre
textshadow=yes
colour=0x969696
colouractive=0xffff00
script=varplayer_261 > 0

[com_125]
type=graphic
x=425
y=170
width=36
height=36
graphic="miscgraphics,3"

[com_126]
type=text
x=407
y=165
width=70
height=12
textfont=p11_full
textalignh=centre
textshadow=yes
colour=0xff981f

[com_127]
type=text
x=407
y=196
width=70
height=12
textfont=p11_full
text=Points: %1
textactive=You have %1 point.
textalignh=centre
textshadow=yes
colour=0xff981f
script0=varplayerbit_2086

[com_128]
type=model
x=239
y=73
width=32
height=32
model=model_15280
modelangle=123,144,0
modelzoom=1040

[com_129]
type=model
x=242
y=92
width=32
height=32
model=model_15282
modelangle=546,0,0
modelzoom=1040

[com_130]
type=model
x=243
y=125
width=32
height=32
model=model_15281
modelangle=174,2047,0
modelzoom=1424

[com_131]
type=model
x=245
y=182
width=32
height=32
model=model_2364
modelangle=555,1855,0
modelzoom=784

[com_132]
type=model
x=245
y=212
width=32
height=32
model=model_15279
modelangle=327,1696,0
modelzoom=1552

[com_133]
type=model
x=245
y=243
width=32
height=32
model=model_7152
modelangle=327,1777,0
modelzoom=656

[com_134]
type=text
x=278
y=68
width=95
height=14
buttontype=1
textfont=p12_full
text=Void Knight Mace
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_135]
type=text
x=278
y=98
width=85
height=14
buttontype=1
textfont=p12_full
text=Void Knight Top
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_136]
type=text
x=278
y=128
width=101
height=14
buttontype=1
textfont=p12_full
text=Void Knight Robes
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_137]
type=text
x=278
y=158
width=105
height=14
buttontype=1
textfont=p12_full
text=Void Knight Gloves
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_138]
type=text
x=278
y=188
width=55
height=14
buttontype=1
textfont=p12_full
text=Herb Pack
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_139]
type=text
x=278
y=248
width=57
height=14
buttontype=1
textfont=p12_full
text=Seed Pack
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414

[com_140]
type=text
x=81
y=83
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Attack@whi@ xp

[com_141]
type=text
x=81
y=114
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Strength@whi@ xp

[com_142]
type=text
x=80
y=143
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Defence@whi@ xp

[com_143]
type=text
x=80
y=173
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Ranged@whi@ xp

[com_144]
type=text
x=79
y=202
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Magic@whi@ xp

[com_145]
type=text
x=80
y=234
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Hitpoints@whi@ xp

[com_146]
type=text
x=80
y=265
width=24
height=12
buttontype=1
textfont=p11_full
text=(1 Pt)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Prayer@whi@ xp

[com_147]
type=text
x=289
y=83
width=46
height=12
buttontype=1
textfont=p11_full
text=(250 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Void Knight Mace

[com_148]
type=text
x=289
y=113
width=46
height=12
buttontype=1
textfont=p11_full
text=(250 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Void Knight Top

[com_149]
type=text
x=289
y=144
width=46
height=12
buttontype=1
textfont=p11_full
text=(250 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Void Knight Robes

[com_150]
type=text
x=289
y=176
width=43
height=12
buttontype=1
textfont=p11_full
text=(150 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Void Knight Gloves

[com_151]
type=text
x=289
y=206
width=37
height=12
buttontype=1
textfont=p11_full
text=(10 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Herb Pack

[com_152]
type=text
x=289
y=237
width=32
height=12
buttontype=1
textfont=p11_full
text=(5 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Mineral Pack

[com_153]
type=model
x=247
y=157
width=32
height=32
model=model_15278
modelangle=291,771,0
modelzoom=912

[com_154]
type=text
x=278
y=219
width=70
height=14
buttontype=1
textfont=p12_full
text=Mineral Pack
textactive=  
textshadow=yes
colour=0xff981f
colouractive=0x961414
buttontext=Choose @or2@Attack@whi@ xp

[com_155]
type=text
x=289
y=265
width=32
height=12
buttontype=1
textfont=p11_full
text=(5 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Seed Pack

[com_156]
type=text
x=112
y=83
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Attack@whi@ xp

[com_157]
type=text
x=113
y=114
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Strength@whi@ xp

[com_158]
type=text
x=113
y=143
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Defence@whi@ xp

[com_159]
type=text
x=113
y=173
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Ranged@whi@ xp

[com_160]
type=text
x=113
y=202
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Magic@whi@ xp

[com_161]
type=text
x=114
y=234
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Hitpoints@whi@ xp

[com_162]
type=text
x=115
y=265
width=44
height=12
buttontype=1
textfont=p11_full
text=(100 Pts)
colour=0x855013
colouractive=0x3c0000
mouseovercolour=0xcb9455
buttontext=Choose @or2@Prayer@whi@ xp

