[com_15230]
type=layer
width=512
height=334

[com_15231]
type=model
x=247
y=230
width=32
height=32
layer=com_15230
model=model_9383
modelangle=93,0,0
modelzoom=43
modelanim=seq_2690

