[com_6965]
type=layer
width=512
height=334

[com_6966]
type=model
x=227
y=162
width=32
height=32
layer=com_6965
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_6967]
type=text
x=430
y=8
width=74
height=14
layer=com_6965
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_6968]
type=text
x=131
y=62
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6969]
type=text
x=131
y=87
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6970]
type=text
x=131
y=112
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6971]
type=text
x=131
y=137
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6972]
type=text
x=131
y=162
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6973]
type=text
x=131
y=187
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6974]
type=text
x=131
y=212
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

[com_6975]
type=text
x=131
y=237
width=256
height=21
layer=com_6965
textfont=q8_full
text=The quick brown fox jumped over the 
textalignh=centre
textshadow=yes
colour=0xf0bb5e

