[com_13758]
type=layer
width=512
height=334

[com_13759]
type=text
y=-1
width=480
height=17
layer=com_13758
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_13760]
type=text
y=31
width=480
height=17
layer=com_13758
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13761]
type=text
y=63
width=480
height=17
layer=com_13758
buttontype=6
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_13762]
type=graphic
width=57
height=13
layer=com_13764
graphic=sworddecor,1

[com_13763]
type=graphic
x=172
width=57
height=13
layer=com_13764
graphic=sworddecor,0

[com_13764]
type=layer
x=126
y=1
width=229
height=13
layer=com_13758

[com_13765]
type=graphic
width=57
height=13
layer=com_13767
graphic=sworddecor,1

[com_13766]
type=graphic
x=419
width=57
height=13
layer=com_13767
graphic=sworddecor,0

[com_13767]
type=layer
x=2
y=1
width=476
height=13
layer=com_13758
hide=yes

