[com_18220]
type=layer
width=512
height=334

[com_18221]
type=layer
x=-13
y=-1
width=527
height=340
layer=com_18220

[com_18222]
type=model
x=101
y=298
width=10
height=14
layer=com_18221
model=model_12114
modelangle=465,1647,0
modelzoom=466
modelanim=seq_3308

[com_18223]
type=layer
x=65
y=31
width=32
height=32
layer=com_18220

[com_18224]
type=model
x=314
y=185
width=32
height=32
layer=com_18220
model=model_12109
modelangle=387,2008,0
modelzoom=906

[com_18225]
type=text
x=423
y=7
width=74
height=14
layer=com_18220
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0x999999
mouseovercolour=0xd9e0e2

[com_18226]
type=layer
x=420
y=6
width=80
height=16
layer=com_18220
buttontype=3

[com_18227]
type=model
x=78
y=175
width=36
height=24
layer=com_18221
model=model_12114
modelangle=306,1642,0
modelzoom=400
modelanim=seq_3308

[com_18228]
type=model
x=86
y=61
width=32
height=32
layer=com_18221
model=model_12114
modelangle=189,1654,0
modelzoom=400
modelanim=seq_3308

[com_18229]
type=model
x=183
y=-9
width=32
height=32
layer=com_18221
model=model_12114
modelangle=198,1609,0
modelzoom=400
modelanim=seq_3308

[com_18230]
type=model
x=28
y=-6
width=32
height=32
layer=com_18247
model=model_12104
modelangle=252,1960,0
modelzoom=3160

[com_18231]
type=model
x=21
width=32
height=32
layer=com_18246
model=model_12104
modelangle=228,1990,0
modelzoom=2776

[com_18232]
type=model
x=13
y=9
width=32
height=32
layer=com_18245
model=model_12104
modelangle=272,62,0
modelzoom=2954

[com_18233]
type=model
x=22
y=4
width=32
height=32
layer=com_18263
model=model_12104
modelangle=279,1852,0
modelzoom=3160

[com_18234]
type=layer
x=165
y=237
width=248
height=36
layer=com_18220
buttontype=1

[com_18235]
type=model
x=189
y=9
width=32
height=32
layer=com_18234
model=model_12103
modelactive=model_12104
modelangle=272,62,0
modelzoom=2954

[com_18236]
type=layer
x=164
y=208
width=249
height=42
layer=com_18220
buttontype=1

[com_18237]
type=model
x=158
y=-2
width=32
height=32
layer=com_18236
model=model_12103
modelactive=model_12104
modelangle=228,1990,0
modelzoom=2776

[com_18238]
type=layer
x=165
y=174
width=222
height=36
layer=com_18220
buttontype=1

[com_18239]
type=model
x=110
y=-3
width=32
height=32
layer=com_18238
model=model_12103
modelactive=model_12104
modelangle=252,1960,0
modelzoom=3160

[com_18240]
type=model
x=108
y=-7
width=32
height=32
layer=com_18261
model=model_12103
modelactive=model_12104
modelangle=279,1852,0
modelzoom=3160

[com_18241]
type=layer
x=305
y=271
width=32
height=32
layer=com_18220

[com_18242]
type=layer
x=228
y=101
width=55
height=46
layer=com_18220

[com_18243]
type=model
x=433
y=31
width=32
height=32
layer=com_18221
model=model_12105
modelangle=414,2008,0
modelzoom=344

[com_18244]
type=model
x=20
y=3
width=32
height=32
layer=com_18242
model=model_12107
modelangle=468,2032,0
modelzoom=428

[com_18245]
type=layer
x=341
y=237
width=65
height=44
layer=com_18220
hide=yes

[com_18246]
type=layer
x=301
y=206
width=75
height=29
layer=com_18220
hide=yes

[com_18247]
type=layer
x=247
y=177
width=80
height=30
layer=com_18220
hide=yes

[com_18248]
type=text
x=88
y=14
width=70
height=17
layer=com_18234
textfont=q8_full
text=Lumbridge
textshadow=yes
colour=0x999999

[com_18249]
type=text
x=23
y=5
width=75
height=32
layer=com_18236
textfont=q8_full
text=Champions \nGuild
textactive= Station
textshadow=yes
colour=0x999999

[com_18250]
type=text
x=7
y=-2
width=72
height=32
layer=com_18238
mouseoverlayer=com_18223
textfont=q8_full
text=Barbarian \n Village
textshadow=yes
colour=0x999999

[com_18251]
type=text
x=23
y=6
width=58
height=17
layer=com_18261
textfont=q8_full
text=Edgeville
textshadow=yes
colour=0x999999

[com_18252]
type=text
x=37
y=3
width=143
height=32
layer=com_18254
textfont=q8_full
text=Wilderness Pond - \nNo canoe trees here.
textshadow=yes
colour=0x999999
mouseovercolour=0x990000

[com_18253]
type=model
x=2
y=2
width=36
height=31
layer=com_18254
model=model_12110
modelangle=525,2026,0
modelzoom=2704

[com_18254]
type=layer
x=206
y=74
width=185
height=37
layer=com_18220

[com_18255]
type=text
x=82
y=13
width=166
height=23
layer=com_18234
mouseoverlayer=com_18245
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Lumbridge.

[com_18256]
type=text
x=22
y=2
width=191
height=26
layer=com_18236
mouseoverlayer=com_18246
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to the Champions Guild.

[com_18257]
type=text
x=5
width=156
height=30
layer=com_18238
mouseoverlayer=com_18247
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Barbarian Village.

[com_18258]
type=text
width=180
height=36
layer=com_18254
mouseoverlayer=com_15522
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
mouseovercolour=0x990000
buttontext=DANGER: Travel to the Wilderness. There are no canoe trees up there!

[com_18259]
type=layer
x=259
y=105
width=124
height=34
layer=com_18220
mouseoverlayer=com_18223
hide=yes

[com_18260]
type=text
x=37
y=11
width=84
height=14
layer=com_18259
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_18261]
type=layer
x=165
y=136
width=212
height=33
layer=com_18220
buttontype=1

[com_18262]
type=text
x=19
y=-9
width=139
height=38
layer=com_18261
mouseoverlayer=com_18263
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Edgeville.

[com_18263]
type=layer
x=251
y=125
width=79
height=38
layer=com_18220
hide=yes

[com_15522]
type=layer
x=205
y=74
width=186
height=38
layer=com_18220
hide=yes

[com_15523]
type=text
x=38
y=3
width=143
height=32
layer=com_15522
textfont=q8_full
text=Wilderness Pond - \nNo canoe trees here.
textshadow=yes
colour=0x990000
mouseovercolour=0x990000

[com_18264]
type=model
x=2
y=1
width=36
height=31
layer=com_18259
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_18265]
type=layer
x=248
y=154
width=145
height=32
layer=com_18220
hide=yes

[com_18266]
type=model
x=6
y=2
width=36
height=31
layer=com_18265
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_18267]
type=text
x=44
y=9
width=84
height=14
layer=com_18265
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_18268]
type=layer
x=280
y=189
width=145
height=32
layer=com_18220
hide=yes

[com_18269]
type=model
x=6
y=2
width=36
height=31
layer=com_18268
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_18270]
type=text
x=44
y=9
width=84
height=14
layer=com_18268
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_18271]
type=layer
x=281
y=221
width=145
height=32
layer=com_18220
hide=yes

[com_18272]
type=model
x=14
y=8
width=36
height=31
layer=com_18271
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_18273]
type=text
x=52
y=15
width=84
height=14
layer=com_18271
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_18274]
type=layer
x=34
y=34
width=203
height=36
layer=com_18220

[com_18301]
type=model
x=45
y=148
width=238
height=44
layer=com_18220
model=model_12111
modelangle=446,2041,0
modelzoom=1083

[com_18276]
type=text
x=77
y=31
width=115
height=32
layer=com_18220
mouseoverlayer=com_18223
textfont=q8_full
text=Please Select \nYour Destination
textalignh=centre
textshadow=yes
colour=0xc8d1db

[com_18277]
type=text
x=-1
width=145
height=32
layer=com_18271
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Lumbridge.

[com_18278]
type=text
width=145
height=32
layer=com_18268
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are near the Champions Guild.

[com_18279]
type=text
width=145
height=32
layer=com_18265
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are at the Barbarian Village.

[com_18280]
type=text
width=145
height=32
layer=com_18259
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Edgeville.

