[com_6575]
type=layer
width=512
height=334

[com_6576]
type=graphic
x=12
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6577]
type=graphic
x=12
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6578]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6579]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6580]
type=graphic
x=12
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6581]
type=graphic
x=100
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6582]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6583]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6584]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6585]
type=graphic
x=188
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6586]
type=graphic
x=100
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6587]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6588]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6589]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6590]
type=graphic
x=188
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6591]
type=graphic
x=276
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6592]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6593]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6594]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6595]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6596]
type=graphic
x=276
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6597]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6598]
type=graphic
x=364
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6599]
type=graphic
x=364
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6600]
type=graphic
x=364
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6601]
type=graphic
x=412
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6602]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6603]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6604]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6605]
type=graphic
x=412
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6606]
type=graphic
x=12
y=20
width=25
height=30
layer=com_6575
graphic=steelborder,0

[com_6607]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6608]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6609]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6610]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6611]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6612]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6613]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6614]
type=graphic
x=479
y=50
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6615]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6616]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6617]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6618]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6619]
type=graphic
x=479
y=230
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6620]
type=graphic
x=479
y=266
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6621]
type=graphic
x=73
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6622]
type=graphic
x=109
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6623]
type=graphic
x=145
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6624]
type=graphic
x=181
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6625]
type=graphic
x=217
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6626]
type=graphic
x=253
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6627]
type=graphic
x=289
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6628]
type=graphic
x=325
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6629]
type=graphic
x=361
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6630]
type=graphic
x=397
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6631]
type=graphic
x=433
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6632]
type=graphic
x=72
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6633]
type=graphic
x=108
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6634]
type=graphic
x=144
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6635]
type=graphic
x=180
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6636]
type=graphic
x=216
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6637]
type=graphic
x=252
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6638]
type=graphic
x=288
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6639]
type=graphic
x=324
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6640]
type=graphic
x=360
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6641]
type=graphic
x=396
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6642]
type=graphic
x=432
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6643]
type=graphic
x=252
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6644]
type=graphic
x=37
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6645]
type=graphic
x=37
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6646]
type=graphic
x=12
y=290
width=25
height=30
layer=com_6575
graphic=steelborder,2

[com_6647]
type=graphic
x=475
y=20
width=25
height=30
layer=com_6575
graphic=steelborder,1

[com_6648]
type=graphic
x=439
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6649]
type=graphic
x=475
y=290
width=25
height=30
layer=com_6575
graphic=steelborder,3

[com_6650]
type=graphic
x=439
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6651]
type=graphic
x=288
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6652]
type=graphic
x=324
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6653]
type=graphic
x=360
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6654]
type=graphic
x=396
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6655]
type=graphic
x=432
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6656]
type=graphic
x=459
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6657]
type=graphic
x=216
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6658]
type=graphic
x=180
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6659]
type=graphic
x=144
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6660]
type=graphic
x=108
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6661]
type=graphic
x=72
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6662]
type=graphic
x=36
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6663]
type=graphic
x=17
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6664]
type=layer
x=36
y=20
width=440
height=299
layer=com_6575

[com_6665]
type=layer
x=19
y=55
width=218
height=154
layer=com_6575
scrollheight=216

[com_6666]
type=layer
x=258
y=55
width=220
height=154
layer=com_6575
scrollheight=216

[com_6667]
type=layer
x=391
y=220
width=78
height=42
layer=com_6575

[com_6668]
type=layer
x=391
y=267
width=78
height=43
layer=com_6575

[com_6669]
type=inv
x=9
y=16
width=5
height=6
layer=com_6665
paddingx=10
paddingy=1
op1=Remove 1
op2=Remove 5
op3=Remove 10
op4=Remove All
op5=Remove X

[com_6670]
type=inv
x=9
y=16
width=5
height=6
layer=com_6666
paddingx=10
paddingy=1

[com_6671]
type=text
x=21
y=29
width=69
height=14
layer=com_6575
textfont=p12_full
text=Dueling with:
textshadow=yes
colour=0xffaa44

[com_6672]
type=text
x=62
width=100
height=14
layer=com_6666
textfont=p12_full
text=Opponents Stake:
textshadow=yes
colour=0xaa8822

[com_6673]
type=text
x=76
width=64
height=14
layer=com_6665
textfont=p12_full
text=Your Stake:
textshadow=yes
colour=0xaa8822

[com_6674]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6667
buttontype=1
colour=0x000000
fill=yes

[com_6675]
type=text
x=21
y=14
width=39
height=14
layer=com_6667
textfont=p12_full
text=Accept
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_6676]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6668
buttontype=3
colour=0x000000
fill=yes

[com_6677]
type=text
x=20
y=14
width=40
height=14
layer=com_6668
textfont=p12_full
text=Decline
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_6678]
type=graphic
x=203
y=71
width=36
height=36
layer=com_6664
graphic=miscgraphics,2

[com_6679]
type=graphic
x=203
y=35
width=36
height=36
layer=com_6664
graphic=miscgraphics,2

[com_6680]
type=graphic
x=203
y=143
width=36
height=36
layer=com_6664
graphic=miscgraphics,2

[com_6681]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6667
graphic=steelborder2,0

[com_6682]
type=graphic
x=203
y=107
width=36
height=36
layer=com_6664
graphic=miscgraphics,2

[com_6683]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6668
graphic=steelborder2,0

[com_6684]
type=text
x=130
y=288
width=130
height=11
layer=com_6575
textfont=p11_full
text=Waiting for other player...
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6685]
type=graphic
x=22
y=22
width=36
height=36
layer=com_6668
graphic=miscgraphics,3

[com_6686]
type=graphic
width=25
height=30
layer=com_6667
graphic=steelborder,0

[com_6687]
type=graphic
width=25
height=30
layer=com_6668
graphic=steelborder,0

[com_6688]
type=graphic
x=53
width=25
height=30
layer=com_6667
graphic=steelborder,1

[com_6689]
type=graphic
x=53
width=25
height=30
layer=com_6668
graphic=steelborder,1

[com_6690]
type=graphic
y=13
width=25
height=30
layer=com_6667
graphic=steelborder,2

[com_6691]
type=graphic
y=13
width=25
height=30
layer=com_6668
graphic=steelborder,2

[com_6692]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6667
graphic=steelborder,3

[com_6693]
type=graphic
x=21
y=22
width=36
height=36
layer=com_6667
graphic=miscgraphics,3

[com_6694]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6668
graphic=steelborder,3

[com_6695]
type=text
x=423
y=29
width=68
height=11
layer=com_6575
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6696]
type=text
x=61
y=224
width=57
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Forfeit
textshadow=yes
colour=0xaa8822

[com_6697]
type=text
x=188
y=266
width=50
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Magic
textshadow=yes
colour=0xaa8822

[com_6698]
type=text
x=188
y=224
width=60
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Ranged
textshadow=yes
colour=0xaa8822

[com_6699]
type=text
x=188
y=245
width=51
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Melee
textshadow=yes
colour=0xaa8822

[com_6700]
type=text
x=61
y=266
width=69
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Weapons
textshadow=yes
colour=0xaa8822

[com_6701]
type=text
x=298
y=224
width=61
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Potions
textshadow=yes
colour=0xaa8822

[com_6702]
type=text
x=298
y=245
width=45
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Food
textshadow=yes
colour=0xaa8822

[com_6703]
type=text
x=298
y=266
width=56
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Prayer
textshadow=yes
colour=0xaa8822

[com_6704]
type=text
x=61
y=245
width=76
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Movement
textshadow=yes
colour=0xaa8822

[com_6705]
type=text
x=61
y=286
width=59
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=No Armour
textshadow=yes
colour=0xaa8822

[com_6706]
type=graphic
x=18
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6707]
type=graphic
x=54
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6708]
type=graphic
x=90
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6709]
type=graphic
x=126
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6710]
type=graphic
x=162
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6711]
type=graphic
x=198
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6712]
type=graphic
x=234
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6713]
type=graphic
x=270
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6714]
type=graphic
x=306
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6715]
type=graphic
x=342
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6716]
type=graphic
x=378
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6717]
type=graphic
x=414
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6718]
type=graphic
x=450
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6719]
type=graphic
x=458
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6720]
type=graphic
x=203
y=153
width=36
height=36
layer=com_6664
graphic=miscgraphics,2

[com_6721]
type=graphic
x=36
y=224
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 0) = 1

[com_6722]
type=graphic
x=36
y=245
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 1) = 1

[com_6723]
type=graphic
x=36
y=266
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 2) = 1

[com_6724]
type=graphic
x=36
y=286
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 3) = 1

[com_6725]
type=graphic
x=162
y=224
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 4) = 1

[com_6726]
type=graphic
x=162
y=245
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 5) = 1

[com_6727]
type=graphic
x=162
y=266
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 6) = 1

[com_6728]
type=graphic
x=272
y=224
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 7) = 1

[com_6729]
type=graphic
x=272
y=245
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 8) = 1

[com_6730]
type=graphic
x=272
y=266
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 9) = 1

[com_6731]
type=text
x=298
y=286
width=57
height=14
layer=com_6575
buttontype=1
textfont=p12_full
text=Obstacles
textshadow=yes
colour=0xaa8822

[com_6732]
type=graphic
x=272
y=286
width=14
height=15
layer=com_6575
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 10) = 1

