[com_10507]
type=layer
width=512
height=334

[com_10508]
type=graphic
x=12
y=20
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10509]
type=graphic
x=12
y=80
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10510]
type=graphic
x=12
y=140
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10511]
type=graphic
x=12
y=200
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10512]
type=graphic
x=12
y=260
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10513]
type=graphic
x=100
y=20
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10514]
type=graphic
x=100
y=80
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10515]
type=graphic
x=100
y=140
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10516]
type=graphic
x=100
y=200
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10517]
type=graphic
x=188
y=20
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10518]
type=graphic
x=100
y=260
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10519]
type=graphic
x=188
y=80
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10520]
type=graphic
x=188
y=140
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10521]
type=graphic
x=188
y=200
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10522]
type=graphic
x=276
y=20
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10523]
type=graphic
x=188
y=260
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10524]
type=graphic
x=364
y=80
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10525]
type=graphic
x=276
y=80
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10526]
type=graphic
x=276
y=140
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10527]
type=graphic
x=276
y=200
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10528]
type=graphic
x=276
y=260
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10529]
type=graphic
x=364
y=140
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10530]
type=graphic
x=364
y=20
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10531]
type=graphic
x=364
y=200
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10532]
type=graphic
x=364
y=260
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10533]
type=graphic
x=412
y=20
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10534]
type=graphic
x=412
y=80
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10535]
type=graphic
x=412
y=140
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10536]
type=graphic
x=412
y=200
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10537]
type=graphic
x=409
y=258
width=88
height=60
layer=com_10507
graphic=tradebacking,0

[com_10538]
type=graphic
x=12
y=20
width=25
height=30
layer=com_10507
graphic=steelborder,0

[com_10539]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10540]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10541]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10542]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10543]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10544]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10545]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10546]
type=graphic
x=479
y=50
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10547]
type=graphic
x=479
y=86
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10548]
type=graphic
x=479
y=122
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10549]
type=graphic
x=479
y=158
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10550]
type=graphic
x=479
y=194
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10551]
type=graphic
x=479
y=230
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10552]
type=graphic
x=479
y=266
width=36
height=36
layer=com_10507
graphic=steelborder2,1

[com_10553]
type=graphic
x=73
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10554]
type=graphic
x=109
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10555]
type=graphic
x=145
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10556]
type=graphic
x=181
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10557]
type=graphic
x=217
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10558]
type=graphic
x=253
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10559]
type=graphic
x=289
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10560]
type=graphic
x=325
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10561]
type=graphic
x=361
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10562]
type=graphic
x=397
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10563]
type=graphic
x=433
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10564]
type=graphic
x=72
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10565]
type=graphic
x=108
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10566]
type=graphic
x=144
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10567]
type=graphic
x=180
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10568]
type=graphic
x=216
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10569]
type=graphic
x=252
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10570]
type=graphic
x=288
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10571]
type=graphic
x=324
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10572]
type=graphic
x=360
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10573]
type=graphic
x=396
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10574]
type=graphic
x=432
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10575]
type=text
x=25
y=60
width=165
height=14
layer=com_10507
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10576]
type=graphic
x=37
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10577]
type=graphic
x=37
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10578]
type=graphic
x=12
y=290
width=25
height=30
layer=com_10507
graphic=steelborder,2

[com_10579]
type=graphic
x=475
y=20
width=25
height=30
layer=com_10507
graphic=steelborder,1

[com_10580]
type=graphic
x=439
y=5
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10581]
type=graphic
x=475
y=290
width=25
height=30
layer=com_10507
graphic=steelborder,3

[com_10582]
type=graphic
x=439
y=299
width=36
height=36
layer=com_10507
graphic=miscgraphics,3

[com_10583]
type=text
x=100
y=75
width=14
height=14
layer=com_10507
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

[com_10584]
type=text
x=25
y=90
width=165
height=14
layer=com_10507
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10585]
type=graphic
x=183
y=26
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10586]
type=graphic
x=183
y=62
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10587]
type=graphic
x=183
y=98
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10588]
type=graphic
x=183
y=134
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10589]
type=graphic
x=183
y=170
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10590]
type=graphic
x=162
y=34
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10591]
type=graphic
x=144
y=34
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10592]
type=graphic
x=108
y=34
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10593]
type=graphic
x=72
y=34
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10594]
type=graphic
x=36
y=34
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10595]
type=graphic
x=17
y=34
width=36
height=36
layer=com_10507
graphic=steelborder2,0

[com_10596]
type=text
x=21
y=29
width=60
height=14
layer=com_10507
textfont=b12_full
text=Draughts
textshadow=yes
colour=0xffaa44

[com_10597]
type=layer
x=26
y=265
width=78
height=43
layer=com_10507

[com_10598]
type=model
x=332
y=154
width=32
height=32
layer=com_10507
model=model_4607
modelangle=512,0,0
modelzoom=400

[com_10599]
type=rectangle
x=219
y=41
width=258
height=258
layer=com_10507
colour=0x000000

[com_10600]
type=inv
x=220
y=42
width=8
height=8
layer=com_10507

[com_10601]
type=graphic
x=183
y=206
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10602]
type=graphic
x=183
y=242
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10603]
type=graphic
x=183
y=278
width=36
height=36
layer=com_10507
graphic=miscgraphics,2

[com_10604]
type=text
x=27
y=157
width=160
height=14
layer=com_10507
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10605]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_10597
buttontype=3
colour=0x000000
fill=yes

[com_10606]
type=text
x=24
y=14
width=31
height=14
layer=com_10597
textfont=p12_full
text=Close
textshadow=yes
colour=0x880000
mouseovercolour=0xff0000

[com_10607]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_10597
graphic=steelborder2,0

[com_10608]
type=graphic
x=22
y=21
width=36
height=36
layer=com_10597
graphic=miscgraphics,3

[com_10609]
type=graphic
width=25
height=30
layer=com_10597
graphic=steelborder,0

[com_10610]
type=graphic
x=53
width=25
height=30
layer=com_10597
graphic=steelborder,1

[com_10611]
type=graphic
y=12
width=25
height=30
layer=com_10597
graphic=steelborder,2

[com_10612]
type=graphic
x=53
y=12
width=25
height=30
layer=com_10597
graphic=steelborder,3

[com_10613]
type=model
x=20
y=57
width=20
height=20
layer=com_10507
model=model_2399
modelangle=512,0,0
modelzoom=1024

[com_10614]
type=model
x=20
y=87
width=20
height=20
layer=com_10507
model=model_2652
modelangle=512,0,0
modelzoom=1024

[com_10615]
type=text
x=23
y=185
width=169
height=12
layer=com_10507
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10616]
type=text
x=23
y=208
width=169
height=12
layer=com_10507
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

