[com_14600]
type=layer
width=512
height=334

[com_14601]
type=model
x=234
y=133
width=54
height=37
layer=com_14600
model=model_9104
modelangle=436,307,0
modelzoom=95

