[com_4446]
type=layer
width=512
height=334

[com_4447]
type=model
x=135
y=16
width=40
height=40
layer=com_4446
model=model_2778
modelangle=550,1269,0
modelzoom=750

[com_4448]
type=text
x=4
y=10
width=47
height=14
layer=com_4446
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_4449]
type=text
x=52
y=10
width=17
height=14
layer=com_4446
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_4450]
type=text
x=4
y=40
width=114
height=14
layer=com_4446
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_4451]
type=layer
x=4
y=60
width=145
height=190
layer=com_4446

[com_4452]
type=graphic
x=5
y=97
width=72
height=36
layer=com_4451
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_4453]
type=graphic
x=5
y=51
width=72
height=36
layer=com_4451
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_4454]
type=graphic
x=5
y=5
width=72
height=36
layer=com_4451
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_4455]
type=graphic
x=22
y=103
width=34
height=24
layer=com_4451
graphic=combaticons2,12

[com_4456]
type=graphic
x=21
y=11
width=34
height=24
layer=com_4451
graphic=combaticons2,10

[com_4457]
type=graphic
x=22
y=57
width=34
height=24
layer=com_4451
graphic=combaticons2,11

[com_4458]
type=text
x=78
y=15
width=51
height=14
layer=com_4451
textfont=p12_full
text=Accurate
textshadow=yes
colour=0xffff00

[com_4459]
type=text
x=78
y=60
width=31
height=14
layer=com_4451
textfont=p12_full
text=Rapid
textshadow=yes
colour=0xffff00

[com_4460]
type=text
x=78
y=107
width=60
height=14
layer=com_4451
textfont=p12_full
text=Longrange
textshadow=yes
colour=0xffff00

[com_7637]
type=rectangle
y=1
width=156
height=23
layer=com_7649
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_7638]
type=graphic
x=131
y=1
width=25
height=30
layer=com_7649
graphic=steelborder,1

[com_7639]
type=graphic
y=1
width=25
height=30
layer=com_7649
graphic=steelborder,0

[com_7640]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7641]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7642]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7643]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7644]
type=graphic
x=5
y=3
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7645]
type=graphic
x=41
y=3
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7646]
type=graphic
x=77
y=3
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7647]
type=graphic
x=112
y=3
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7648]
type=graphic
x=115
y=3
width=36
height=36
layer=com_7649
graphic=miscgraphics,3

[com_7649]
type=layer
x=16
y=214
width=158
height=24
layer=com_4446
hide=yes

[com_7650]
type=model
x=5
y=8
width=146
height=9
layer=com_7649
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_7651]
type=model
x=3
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_7652]
type=model
x=18
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_7653]
type=model
x=33
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_7654]
type=model
x=47
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_7655]
type=model
x=61
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_7656]
type=model
x=75
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_7657]
type=model
x=90
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_7658]
type=model
x=104
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_7659]
type=model
x=118
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_7660]
type=model
x=132
y=8
width=146
height=9
layer=com_7649
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_7661]
type=text
x=20
y=7
width=117
height=11
layer=com_7649
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

