[com_15267]
type=layer
width=512
height=334

[com_15272]
type=model
x=241
y=127
width=35
height=35
layer=com_15267
model=model_6746
modelangle=498,1,0
modelzoom=477

[com_15273]
type=model
x=241
y=127
width=35
height=35
layer=com_15267
model=model_6747
modelactive=model_6749
modelangle=498,1,0
modelzoom=477

[com_15274]
type=model
x=241
y=127
width=35
height=35
layer=com_15267
model=model_6748
modelangle=498,1,0
modelzoom=477

[com_15275]
type=text
x=435
y=14
width=68
height=11
layer=com_15267
buttontype=1
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_15970]
type=text
x=253
y=11
width=20
height=17
layer=com_15267
textfont=q8_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

[com_15971]
type=layer
x=28
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_15972]
type=model
x=87
y=-9
width=32
height=32
layer=com_15971
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15973]
type=layer
x=29
y=56
width=201
height=241
layer=com_15267
hide=yes

[com_15974]
type=model
x=86
y=6
width=32
height=32
layer=com_15973
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15975]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15976]
type=model
x=87
y=24
width=32
height=32
layer=com_15975
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15977]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15978]
type=model
x=87
y=40
width=32
height=32
layer=com_15977
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15979]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15980]
type=model
x=87
y=56
width=32
height=32
layer=com_15979
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15981]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15982]
type=model
x=87
y=72
width=32
height=32
layer=com_15981
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15983]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15984]
type=model
x=87
y=87
width=32
height=32
layer=com_15983
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15985]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15986]
type=model
x=87
y=104
width=32
height=32
layer=com_15985
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15987]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15988]
type=model
x=87
y=120
width=32
height=32
layer=com_15987
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15989]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15990]
type=model
x=87
y=136
width=32
height=32
layer=com_15989
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15991]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15992]
type=model
x=87
y=154
width=32
height=32
layer=com_15991
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15993]
type=layer
x=29
y=56
width=201
height=241
layer=com_15267
hide=yes

[com_15994]
type=model
x=86
y=168
width=32
height=32
layer=com_15993
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15995]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15996]
type=model
x=86
y=184
width=32
height=32
layer=com_15995
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15997]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_15998]
type=model
x=87
y=201
width=32
height=32
layer=com_15997
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15999]
type=layer
x=28
y=54
width=201
height=241
layer=com_15267
hide=yes

[com_16000]
type=model
x=88
y=217
width=32
height=32
layer=com_15999
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16001]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16002]
type=model
x=88
y=-8
width=32
height=32
layer=com_16001
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16003]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16004]
type=model
x=88
y=5
width=32
height=32
layer=com_16003
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16005]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16006]
type=model
x=88
y=23
width=32
height=32
layer=com_16005
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16007]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16008]
type=model
x=88
y=39
width=32
height=32
layer=com_16007
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16009]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16010]
type=model
x=88
y=56
width=32
height=32
layer=com_16009
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16011]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16012]
type=model
x=88
y=72
width=32
height=32
layer=com_16011
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16013]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16014]
type=model
x=89
y=63
width=32
height=32
layer=com_16013
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16015]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16016]
type=model
x=89
y=104
width=32
height=32
layer=com_16015
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16017]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16018]
type=model
x=89
y=120
width=32
height=32
layer=com_16017
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16019]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16020]
type=model
x=89
y=135
width=32
height=32
layer=com_16019
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16021]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16022]
type=model
x=88
y=151
width=32
height=32
layer=com_16021
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16023]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16024]
type=model
x=88
y=168
width=32
height=32
layer=com_16023
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16025]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16026]
type=model
x=88
y=184
width=32
height=32
layer=com_16025
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16027]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16028]
type=model
x=88
y=199
width=32
height=32
layer=com_16027
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16029]
type=layer
x=282
y=55
width=201
height=241
layer=com_15267
hide=yes

[com_16030]
type=model
x=88
y=215
width=32
height=32
layer=com_16029
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16031]
type=text
x=27
y=54
width=202
height=17
layer=com_15267
textfont=q8_full
text=line1
colour=0x000000

[com_16032]
type=text
x=27
y=70
width=202
height=17
layer=com_15267
textfont=q8_full
text=line2
colour=0x000000

[com_16033]
type=text
x=27
y=86
width=202
height=17
layer=com_15267
textfont=q8_full
text=line3
colour=0x000000

[com_16034]
type=text
x=27
y=102
width=202
height=17
layer=com_15267
textfont=q8_full
text=line4
colour=0x000000

[com_16035]
type=text
x=27
y=118
width=202
height=17
layer=com_15267
textfont=q8_full
text=line5
colour=0x000000

[com_16036]
type=text
x=27
y=134
width=202
height=17
layer=com_15267
textfont=q8_full
text=line6
colour=0x000000

[com_16037]
type=text
x=27
y=150
width=202
height=17
layer=com_15267
textfont=q8_full
text=line7
colour=0x000000

[com_16038]
type=text
x=27
y=166
width=202
height=17
layer=com_15267
textfont=q8_full
text=line8
colour=0x000000

[com_16039]
type=text
x=27
y=182
width=202
height=17
layer=com_15267
textfont=q8_full
text=line9
colour=0x000000

[com_16040]
type=text
x=27
y=198
width=202
height=17
layer=com_15267
textfont=q8_full
text=line10
colour=0x000000

[com_16041]
type=text
x=27
y=214
width=202
height=17
layer=com_15267
textfont=q8_full
text=line11
colour=0x000000

[com_16042]
type=text
x=27
y=230
width=202
height=17
layer=com_15267
textfont=q8_full
text=line12
colour=0x000000

[com_16043]
type=text
x=27
y=246
width=202
height=17
layer=com_15267
textfont=q8_full
text=line13
colour=0x000000

[com_16044]
type=text
x=27
y=262
width=202
height=17
layer=com_15267
textfont=q8_full
text=line14
colour=0x000000

[com_16045]
type=text
x=27
y=278
width=202
height=17
layer=com_15267
textfont=q8_full
text=line15
colour=0x000000

[com_16046]
type=text
x=283
y=54
width=202
height=17
layer=com_15267
textfont=q8_full
text=line16
colour=0x000000

[com_16047]
type=text
x=283
y=70
width=202
height=17
layer=com_15267
textfont=q8_full
text=line17
colour=0x000000

[com_16048]
type=text
x=283
y=86
width=202
height=17
layer=com_15267
textfont=q8_full
text=line18
colour=0x000000

[com_16049]
type=text
x=283
y=102
width=202
height=17
layer=com_15267
textfont=q8_full
text=line19
colour=0x000000

[com_16050]
type=text
x=283
y=118
width=202
height=17
layer=com_15267
textfont=q8_full
text=line20
colour=0x000000

[com_16051]
type=text
x=283
y=134
width=202
height=17
layer=com_15267
textfont=q8_full
text=line21
colour=0x000000

[com_16052]
type=text
x=283
y=150
width=202
height=17
layer=com_15267
textfont=q8_full
text=line22
colour=0x000000

[com_16053]
type=text
x=283
y=166
width=202
height=17
layer=com_15267
textfont=q8_full
text=line23
colour=0x000000

[com_16054]
type=text
x=283
y=182
width=202
height=17
layer=com_15267
textfont=q8_full
text=line24
colour=0x000000

[com_16055]
type=text
x=283
y=198
width=202
height=17
layer=com_15267
textfont=q8_full
text=line25
colour=0x000000

[com_16056]
type=text
x=283
y=214
width=202
height=17
layer=com_15267
textfont=q8_full
text=line26
colour=0x000000

[com_16057]
type=text
x=283
y=230
width=202
height=17
layer=com_15267
textfont=q8_full
text=line27
colour=0x000000

[com_16058]
type=text
x=283
y=246
width=202
height=17
layer=com_15267
textfont=q8_full
text=line28
colour=0x000000

[com_16059]
type=text
x=283
y=262
width=202
height=17
layer=com_15267
textfont=q8_full
text=line28
colour=0x000000

[com_16060]
type=text
x=283
y=278
width=202
height=17
layer=com_15267
textfont=q8_full
text=line29
colour=0x000000

[com_16061]
type=graphic
y=-1
width=45
height=36
layer=com_16062
buttontype=1
graphic=leftarrow,0

[com_16062]
type=layer
x=94
y=298
width=45
height=36
layer=com_15267

[com_16063]
type=graphic
width=45
height=36
layer=com_16064
buttontype=1
graphic=rightarrow,0

[com_16064]
type=layer
x=366
y=295
width=45
height=36
layer=com_15267

[com_16065]
type=text
x=9
y=300
width=49
height=17
layer=com_15267
textfont=q8_full
text=page%1
textalignh=centre
colour=0x000000

[com_16066]
type=text
x=455
y=300
width=52
height=17
layer=com_15267
textfont=q8_full
text=page%2
textalignh=centre
colour=0x000000

[com_16067]
type=layer
x=27
y=54
width=202
height=22
layer=com_15267
hide=yes

[com_16068]
type=text
width=202
height=16
layer=com_16067
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16069]
type=layer
x=27
y=70
width=202
height=22
layer=com_15267
hide=yes

[com_16070]
type=text
width=202
height=16
layer=com_16069
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16071]
type=layer
x=27
y=86
width=202
height=22
layer=com_15267
hide=yes

[com_16072]
type=text
width=202
height=16
layer=com_16071
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16073]
type=layer
x=27
y=102
width=202
height=22
layer=com_15267
hide=yes

[com_16074]
type=text
width=202
height=16
layer=com_16073
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16075]
type=layer
x=27
y=118
width=202
height=22
layer=com_15267
hide=yes

[com_16076]
type=text
width=202
height=16
layer=com_16075
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16077]
type=layer
x=27
y=134
width=202
height=22
layer=com_15267
hide=yes

[com_16078]
type=text
width=202
height=16
layer=com_16077
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16079]
type=layer
x=27
y=150
width=202
height=22
layer=com_15267
hide=yes

[com_16080]
type=text
width=202
height=16
layer=com_16079
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16081]
type=layer
x=27
y=166
width=202
height=22
layer=com_15267
hide=yes

[com_16082]
type=text
width=202
height=16
layer=com_16081
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16083]
type=layer
x=27
y=182
width=202
height=22
layer=com_15267
hide=yes

[com_16084]
type=text
width=202
height=16
layer=com_16083
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16085]
type=layer
x=27
y=198
width=202
height=22
layer=com_15267
hide=yes

[com_16086]
type=text
width=202
height=16
layer=com_16085
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16087]
type=layer
x=27
y=214
width=202
height=22
layer=com_15267
hide=yes

[com_16088]
type=text
width=202
height=16
layer=com_16087
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16089]
type=layer
x=27
y=230
width=202
height=22
layer=com_15267
hide=yes

[com_16090]
type=text
width=202
height=16
layer=com_16089
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16091]
type=layer
x=27
y=246
width=202
height=22
layer=com_15267
hide=yes

[com_16092]
type=text
width=202
height=16
layer=com_16091
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16093]
type=layer
x=27
y=262
width=202
height=22
layer=com_15267
hide=yes

[com_16094]
type=text
width=202
height=16
layer=com_16093
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16095]
type=layer
x=27
y=278
width=202
height=22
layer=com_15267
hide=yes

[com_16096]
type=text
width=202
height=16
layer=com_16095
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16097]
type=layer
x=283
y=54
width=202
height=22
layer=com_15267
hide=yes

[com_16098]
type=text
width=202
height=16
layer=com_16097
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16099]
type=layer
x=283
y=70
width=202
height=22
layer=com_15267
hide=yes

[com_16100]
type=text
width=202
height=16
layer=com_16099
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16101]
type=layer
x=283
y=86
width=202
height=22
layer=com_15267
hide=yes

[com_16102]
type=text
width=202
height=16
layer=com_16101
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16103]
type=layer
x=283
y=102
width=202
height=22
layer=com_15267
hide=yes

[com_16104]
type=text
width=202
height=16
layer=com_16103
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16105]
type=layer
x=283
y=118
width=202
height=22
layer=com_15267
hide=yes

[com_16106]
type=text
width=202
height=16
layer=com_16105
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16107]
type=layer
x=283
y=134
width=202
height=22
layer=com_15267
hide=yes

[com_16108]
type=text
width=202
height=16
layer=com_16107
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16109]
type=layer
x=283
y=150
width=202
height=22
layer=com_15267
hide=yes

[com_16110]
type=text
width=202
height=16
layer=com_16109
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16111]
type=layer
x=283
y=166
width=202
height=22
layer=com_15267
hide=yes

[com_16112]
type=text
width=202
height=16
layer=com_16111
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16113]
type=layer
x=283
y=182
width=202
height=22
layer=com_15267
hide=yes

[com_16114]
type=text
width=202
height=16
layer=com_16113
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16115]
type=layer
x=283
y=198
width=202
height=22
layer=com_15267
hide=yes

[com_16116]
type=text
width=202
height=16
layer=com_16115
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16117]
type=layer
x=283
y=214
width=202
height=22
layer=com_15267
hide=yes

[com_16118]
type=text
width=202
height=16
layer=com_16117
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16119]
type=layer
x=283
y=230
width=202
height=22
layer=com_15267
hide=yes

[com_16120]
type=text
width=202
height=16
layer=com_16119
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16121]
type=layer
x=283
y=246
width=202
height=22
layer=com_15267
hide=yes

[com_16122]
type=text
width=202
height=16
layer=com_16121
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16123]
type=layer
x=283
y=262
width=202
height=22
layer=com_15267
hide=yes

[com_16124]
type=text
width=202
height=16
layer=com_16123
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16125]
type=layer
x=283
y=278
width=202
height=22
layer=com_15267
hide=yes

[com_16126]
type=text
width=202
height=16
layer=com_16125
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_16127]
type=text
x=452
y=1
width=51
height=12
layer=com_15267
buttontype=1
textfont=p11_full
text=First Page
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

