[com_5993]
type=layer
width=512
height=334

[com_5994]
type=graphic
x=12
y=80
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_5995]
type=graphic
x=12
y=140
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_5996]
type=graphic
x=12
y=200
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_5997]
type=graphic
x=100
y=80
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_5998]
type=graphic
x=100
y=140
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_5999]
type=graphic
x=100
y=200
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6000]
type=graphic
x=188
y=80
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6001]
type=graphic
x=188
y=140
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6002]
type=graphic
x=188
y=200
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6003]
type=graphic
x=364
y=80
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6004]
type=graphic
x=276
y=80
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6005]
type=graphic
x=276
y=140
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6006]
type=graphic
x=276
y=200
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6007]
type=graphic
x=364
y=140
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6008]
type=graphic
x=364
y=200
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6009]
type=graphic
x=412
y=80
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6010]
type=graphic
x=412
y=140
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6011]
type=graphic
x=412
y=200
width=88
height=60
layer=com_5993
graphic=tradebacking,0

[com_6012]
type=graphic
x=12
y=77
width=25
height=30
layer=com_5993
graphic=steelborder,0

[com_6013]
type=graphic
x=-3
y=86
width=36
height=36
layer=com_5993
graphic=miscgraphics,2

[com_6014]
type=graphic
x=-3
y=122
width=36
height=36
layer=com_5993
graphic=miscgraphics,2

[com_6015]
type=graphic
x=-3
y=158
width=36
height=36
layer=com_5993
graphic=miscgraphics,2

[com_6016]
type=graphic
x=-3
y=194
width=36
height=36
layer=com_5993
graphic=miscgraphics,2

[com_6017]
type=graphic
x=479
y=86
width=36
height=36
layer=com_5993
graphic=steelborder2,1

[com_6018]
type=graphic
x=479
y=122
width=36
height=36
layer=com_5993
graphic=steelborder2,1

[com_6019]
type=graphic
x=479
y=158
width=36
height=36
layer=com_5993
graphic=steelborder2,1

[com_6020]
type=graphic
x=479
y=194
width=36
height=36
layer=com_5993
graphic=steelborder2,1

[com_6021]
type=model
x=33
y=54
width=435
height=273
layer=com_5993
model=model_3182
modelangle=1548,1022,0
modelzoom=603

[com_6022]
type=graphic
x=55
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6023]
type=graphic
x=125
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6024]
type=graphic
x=160
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6025]
type=graphic
x=195
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6026]
type=graphic
x=230
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6027]
type=graphic
x=265
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6028]
type=graphic
x=300
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6029]
type=graphic
x=335
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6030]
type=graphic
x=370
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6031]
type=graphic
x=405
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6032]
type=graphic
x=90
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6033]
type=graphic
x=71
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6034]
type=graphic
x=106
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6035]
type=graphic
x=141
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6036]
type=graphic
x=176
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6037]
type=graphic
x=211
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6038]
type=graphic
x=246
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6039]
type=graphic
x=281
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6040]
type=graphic
x=316
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6041]
type=graphic
x=351
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6042]
type=graphic
x=386
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6043]
type=graphic
x=421
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6044]
type=graphic
x=248
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6045]
type=graphic
x=36
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6046]
type=graphic
x=20
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6047]
type=graphic
x=12
y=230
width=25
height=30
layer=com_5993
graphic=steelborder,2

[com_6048]
type=graphic
x=475
y=77
width=25
height=30
layer=com_5993
graphic=steelborder,1

[com_6049]
type=graphic
x=456
y=62
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6050]
type=graphic
x=475
y=230
width=25
height=30
layer=com_5993
graphic=steelborder,3

[com_6051]
type=graphic
x=440
y=239
width=36
height=36
layer=com_5993
graphic=miscgraphics,3

[com_6052]
type=text
x=421
y=85
width=68
height=11
layer=com_5993
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6053]
type=graphic
x=283
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6054]
type=graphic
x=318
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6055]
type=graphic
x=353
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6056]
type=graphic
x=388
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6057]
type=graphic
x=423
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6058]
type=graphic
x=458
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6059]
type=graphic
x=213
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6060]
type=graphic
x=178
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6061]
type=graphic
x=143
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6062]
type=graphic
x=108
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6063]
type=graphic
x=73
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6064]
type=graphic
x=38
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6065]
type=graphic
x=16
y=90
width=36
height=36
layer=com_5993
graphic=steelborder2,0

[com_6066]
type=text
clientcode=650
x=58
y=142
width=401
height=14
layer=com_5993
textfont=p12_full
text=You last logged in 3 days ago from bighouse.onthehill.webcompany.com
textalignh=centre
textshadow=yes

[com_6067]
type=text
x=172
y=83
width=159
height=17
layer=com_5993
textfont=q8_full
text=Welcome to RuneScape
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6068]
type=text
x=79
y=207
width=62
height=17
layer=com_5993
textfont=q8_full
text=You have
textshadow=yes

[com_6069]
type=text
clientcode=651
x=148
y=207
width=129
height=17
layer=com_5993
textfont=q8_full
text=0 unread messages
textalignh=centre
textshadow=yes
colour=0x00ff00

[com_6070]
type=text
x=287
y=207
width=164
height=17
layer=com_5993
textfont=q8_full
text=in your message centre.
textshadow=yes

[com_6071]
type=text
x=94
y=176
width=327
height=17
layer=com_5993
textfont=q8_full
text=Jagex staff will NEVER email you. We use the
textshadow=yes

[com_6072]
type=text
x=130
y=192
width=259
height=17
layer=com_5993
textfont=q8_full
text=message-centre on this website instead.
textshadow=yes

