[com_0]
type=model
x=241
y=127
width=35
height=35
model=model_6746
modelangle=498,1,0
modelzoom=477

[com_1]
type=model
x=241
y=127
width=35
height=35
model=model_6747
modelactive=model_6749
modelangle=498,1,0
modelzoom=477

[com_2]
type=model
x=241
y=127
width=35
height=35
model=model_6748
modelactive=model_6750
modelangle=498,1,0
modelzoom=477

[com_3]
type=text
x=10
y=10
width=496
height=19
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff981f

[com_4]
type=layer
x=28
y=55
width=201
height=241
hide=yes

[com_5]
type=model
x=87
y=-9
width=32
height=32
layer=com_4
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_6]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_7]
type=model
x=86
y=6
width=32
height=32
layer=com_6
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_8]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_9]
type=model
x=87
y=24
width=32
height=32
layer=com_8
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_10]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_11]
type=model
x=87
y=40
width=32
height=32
layer=com_10
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_12]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_13]
type=model
x=87
y=56
width=32
height=32
layer=com_12
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_14]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_15]
type=model
x=87
y=72
width=32
height=32
layer=com_14
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_17]
type=model
x=87
y=87
width=32
height=32
layer=com_16
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_18]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_19]
type=model
x=87
y=104
width=32
height=32
layer=com_18
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_20]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_21]
type=model
x=87
y=120
width=32
height=32
layer=com_20
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_22]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_23]
type=model
x=87
y=136
width=32
height=32
layer=com_22
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_24]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_25]
type=model
x=87
y=154
width=32
height=32
layer=com_24
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_26]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_27]
type=model
x=86
y=168
width=32
height=32
layer=com_26
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_28]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_29]
type=model
x=86
y=184
width=32
height=32
layer=com_28
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_30]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_31]
type=model
x=87
y=201
width=32
height=32
layer=com_30
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_32]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_33]
type=text
x=27
y=54
width=202
height=17
textfont=q8_full
text=line1
colour=0x000000

[com_34]
type=text
x=27
y=70
width=202
height=17
textfont=q8_full
text=line2
colour=0x000000

[com_35]
type=text
x=27
y=86
width=202
height=17
textfont=q8_full
text=line3
colour=0x000000

[com_36]
type=text
x=27
y=102
width=202
height=17
textfont=q8_full
text=line4
colour=0x000000

[com_37]
type=text
x=27
y=118
width=202
height=17
textfont=q8_full
text=line5
colour=0x000000

[com_38]
type=text
x=27
y=134
width=202
height=17
textfont=q8_full
text=line6
colour=0x000000

[com_39]
type=text
x=27
y=150
width=202
height=17
textfont=q8_full
text=line7
colour=0x000000

[com_40]
type=text
x=27
y=166
width=202
height=17
textfont=q8_full
text=line8
colour=0x000000

[com_41]
type=text
x=27
y=182
width=202
height=17
textfont=q8_full
text=line9
colour=0x000000

[com_42]
type=text
x=27
y=198
width=202
height=17
textfont=q8_full
text=line10
colour=0x000000

[com_43]
type=text
x=27
y=214
width=202
height=17
textfont=q8_full
text=line11
colour=0x000000

[com_44]
type=text
x=27
y=230
width=202
height=17
textfont=q8_full
text=line12
colour=0x000000

[com_45]
type=text
x=27
y=246
width=202
height=17
textfont=q8_full
text=line13
colour=0x000000

[com_46]
type=text
x=27
y=262
width=202
height=17
textfont=q8_full
text=line14
colour=0x000000

[com_47]
type=text
x=27
y=278
width=202
height=17
textfont=q8_full
text=line15
colour=0x000000

[com_48]
type=text
x=283
y=54
width=202
height=17
textfont=q8_full
text=line16
colour=0x000000

[com_49]
type=text
x=283
y=70
width=202
height=17
textfont=q8_full
text=line17
colour=0x000000

[com_50]
type=text
x=283
y=86
width=202
height=17
textfont=q8_full
text=line18
colour=0x000000

[com_51]
type=text
x=283
y=102
width=202
height=17
textfont=q8_full
text=line19
colour=0x000000

[com_52]
type=text
x=283
y=118
width=202
height=17
textfont=q8_full
text=line20
colour=0x000000

[com_53]
type=text
x=283
y=134
width=202
height=17
textfont=q8_full
text=line21
colour=0x000000

[com_54]
type=text
x=283
y=150
width=202
height=17
textfont=q8_full
text=line22
colour=0x000000

[com_55]
type=text
x=283
y=166
width=202
height=17
textfont=q8_full
text=line23
colour=0x000000

[com_56]
type=text
x=283
y=182
width=202
height=17
textfont=q8_full
text=line24
colour=0x000000

[com_57]
type=text
x=283
y=198
width=202
height=17
textfont=q8_full
text=line25
colour=0x000000

[com_58]
type=text
x=283
y=214
width=202
height=17
textfont=q8_full
text=line26
colour=0x000000

[com_59]
type=text
x=283
y=230
width=202
height=17
textfont=q8_full
text=line27
colour=0x000000

[com_60]
type=text
x=283
y=246
width=202
height=17
textfont=q8_full
text=line28
colour=0x000000

[com_61]
type=text
x=283
y=262
width=202
height=17
textfont=q8_full
text=line28
colour=0x000000

[com_62]
type=text
x=283
y=278
width=202
height=17
textfont=q8_full
text=line29
colour=0x000000

[com_63]
type=model
x=88
y=217
width=32
height=32
layer=com_32
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_64]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_65]
type=model
x=88
y=-8
width=32
height=32
layer=com_64
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_66]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_67]
type=model
x=88
y=5
width=32
height=32
layer=com_66
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_68]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_69]
type=model
x=88
y=23
width=32
height=32
layer=com_68
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_70]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_71]
type=model
x=88
y=39
width=32
height=32
layer=com_70
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_72]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_73]
type=model
x=88
y=56
width=32
height=32
layer=com_72
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_74]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_75]
type=model
x=88
y=72
width=32
height=32
layer=com_74
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_76]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_77]
type=model
x=89
y=63
width=32
height=32
layer=com_76
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_78]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_79]
type=model
x=89
y=104
width=32
height=32
layer=com_78
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_80]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_81]
type=model
x=89
y=120
width=32
height=32
layer=com_80
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_82]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_83]
type=model
x=89
y=135
width=32
height=32
layer=com_82
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_84]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_85]
type=model
x=88
y=151
width=32
height=32
layer=com_84
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_86]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_87]
type=model
x=88
y=168
width=32
height=32
layer=com_86
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_88]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_89]
type=model
x=88
y=184
width=32
height=32
layer=com_88
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_90]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_91]
type=model
x=88
y=199
width=32
height=32
layer=com_90
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_92]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_93]
type=model
x=88
y=215
width=32
height=32
layer=com_92
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_94]
type=graphic
y=-1
width=45
height=36
layer=com_95
buttontype=6
graphic=leftarrow

[com_95]
type=layer
x=94
y=298
width=45
height=36

[com_96]
type=graphic
width=45
height=36
layer=com_97
buttontype=6
graphic=rightarrow

[com_97]
type=layer
x=366
y=295
width=45
height=36

[com_98]
type=text
x=9
y=300
width=80
height=20
textfont=q8_full
text=page%1
colour=0x000000

[com_99]
type=text
x=427
y=301
width=80
height=20
textfont=q8_full
text=page%2
textalignh=right
colour=0x000000

[com_100]
type=layer
x=27
y=54
width=202
height=22

[com_101]
type=text
width=202
height=16
layer=com_100
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_102]
type=layer
x=27
y=70
width=202
height=22

[com_103]
type=text
width=202
height=16
layer=com_102
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_104]
type=layer
x=27
y=86
width=202
height=22

[com_105]
type=text
width=202
height=16
layer=com_104
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_106]
type=layer
x=27
y=102
width=202
height=22

[com_107]
type=text
width=202
height=16
layer=com_106
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_108]
type=layer
x=27
y=118
width=202
height=22

[com_109]
type=text
width=202
height=16
layer=com_108
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_110]
type=layer
x=27
y=134
width=202
height=22

[com_111]
type=text
width=202
height=16
layer=com_110
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_112]
type=layer
x=27
y=150
width=202
height=22

[com_113]
type=text
width=202
height=16
layer=com_112
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_114]
type=layer
x=27
y=166
width=202
height=22

[com_115]
type=text
width=202
height=16
layer=com_114
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_116]
type=layer
x=27
y=182
width=202
height=22

[com_117]
type=text
width=202
height=16
layer=com_116
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_118]
type=layer
x=27
y=198
width=202
height=22

[com_119]
type=text
width=202
height=16
layer=com_118
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_120]
type=layer
x=27
y=214
width=202
height=22

[com_121]
type=text
width=202
height=16
layer=com_120
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_122]
type=layer
x=27
y=230
width=202
height=22

[com_123]
type=text
width=202
height=16
layer=com_122
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_124]
type=layer
x=27
y=246
width=202
height=22

[com_125]
type=text
width=202
height=16
layer=com_124
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_126]
type=layer
x=27
y=262
width=202
height=22

[com_127]
type=text
width=202
height=16
layer=com_126
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_128]
type=layer
x=27
y=278
width=202
height=22

[com_129]
type=text
width=202
height=16
layer=com_128
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_130]
type=layer
x=283
y=54
width=202
height=22

[com_131]
type=text
width=202
height=16
layer=com_130
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_132]
type=layer
x=283
y=70
width=202
height=22

[com_133]
type=text
width=202
height=16
layer=com_132
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_134]
type=layer
x=283
y=86
width=202
height=22

[com_135]
type=text
width=202
height=16
layer=com_134
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_136]
type=layer
x=283
y=102
width=202
height=22

[com_137]
type=text
width=202
height=16
layer=com_136
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_138]
type=layer
x=283
y=118
width=202
height=22

[com_139]
type=text
width=202
height=16
layer=com_138
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_140]
type=layer
x=283
y=134
width=202
height=22

[com_141]
type=text
width=202
height=16
layer=com_140
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_142]
type=layer
x=283
y=150
width=202
height=22

[com_143]
type=text
width=202
height=16
layer=com_142
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_144]
type=layer
x=283
y=166
width=202
height=22

[com_145]
type=text
width=202
height=16
layer=com_144
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_146]
type=layer
x=283
y=182
width=202
height=22

[com_147]
type=text
width=202
height=16
layer=com_146
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_148]
type=layer
x=283
y=198
width=202
height=22

[com_149]
type=text
width=202
height=16
layer=com_148
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_150]
type=layer
x=283
y=214
width=202
height=22

[com_151]
type=text
width=202
height=16
layer=com_150
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_152]
type=layer
x=283
y=230
width=202
height=22

[com_153]
type=text
width=202
height=16
layer=com_152
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_154]
type=layer
x=283
y=246
width=202
height=22

[com_155]
type=text
width=202
height=16
layer=com_154
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_156]
type=layer
x=283
y=262
width=202
height=22

[com_157]
type=text
width=202
height=16
layer=com_156
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_158]
type=layer
x=283
y=278
width=202
height=22

[com_159]
type=text
width=202
height=16
layer=com_158
buttontype=6
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_160]
type=text
x=403
y=9
width=82
height=12
buttontype=6
textfont=p11_full
text=First Page
textalignh=right
textshadow=yes
colour=0xff981f
mouseovercolour=0xfab360

[com_161]
type=graphic
x=484
y=3
width=26
height=23
mouseoverlayer=com_163
graphic="close_buttons,4"

[com_162]
type=graphic
x=4
y=1
width=26
height=23
layer=com_163
buttontype=1
graphic="close_buttons,5"
buttontext=Close

[com_163]
type=layer
x=480
y=2
width=32
height=32
hide=yes

