[com_8680]
type=layer
width=512
height=334

[com_8681]
type=model
x=240
y=139
width=32
height=28
layer=com_8680
model=model_3032
modelangle=400,0,0
modelzoom=604

[com_8682]
type=text
x=209
y=93
width=106
height=17
layer=com_8680
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xf5b405
colouractive=0x453c26

[com_8683]
type=text
x=373
y=84
width=28
height=12
layer=com_8680
buttontype=3
textfont=p11_full
text=Close
colour=0x823c1a
mouseovercolour=0xdd5817

[com_8684]
type=text
x=172
y=117
width=198
height=14
layer=com_8680
textfont=p12_full
text=You have completed Death Plateau!
textalignh=centre
colour=0x3f5438

[com_8923]
type=model
x=118
y=161
width=85
height=105
layer=com_8680
model=null
modelangle=11,1849,0
modelzoom=1500

[com_8924]
type=text
x=220
y=245
width=76
height=14
layer=com_8680
textfont=p12_full
text=Quest Points:
textalignh=centre
colour=0x2f5197

[com_8925]
type=text
x=299
y=245
width=17
height=14
layer=com_8680
textfont=p12_full
text=%1
textalignh=centre
colour=0x4a5b76
script0=varplayer_101

[com_8926]
type=model
x=376
y=209
width=32
height=32
layer=com_8680
model=model_3037
modelangle=500,0,0
modelzoom=800

[com_8927]
type=text
x=221
y=139
width=96
height=14
layer=com_8680
textfont=p12_full
text=You are awarded:
colour=0x3f5438

[com_8928]
type=text
x=224
y=158
width=8
height=14
layer=com_8680
textfont=p12_full
text=0
textalignh=centre
colour=0x971f25

[com_8929]
type=text
x=240
y=158
width=73
height=14
layer=com_8680
textfont=p12_full
text=Quest Points
colour=0x3f5438

[com_8930]
type=text
x=230
y=176
width=73
height=14
layer=com_8680
textfont=p12_full
text=Extra Reward
textalignh=centre
colour=0x3f5438

[com_8931]
type=text
x=230
y=192
width=73
height=14
layer=com_8680
textfont=p12_full
text=Extra Reward
textalignh=centre
colour=0x3f5438

[com_8932]
type=text
x=230
y=208
width=73
height=14
layer=com_8680
textfont=p12_full
text=Extra Reward
textalignh=centre
colour=0x3f5438

[com_8933]
type=text
x=230
y=224
width=73
height=14
layer=com_8680
textfont=p12_full
text=Extra Reward
textalignh=centre
colour=0x3f5438

