[com_12788]
type=layer
width=512
height=334

[com_12789]
type=text
x=21
y=29
width=441
height=17
layer=com_12788
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

