[com_12283]
type=layer
width=512
height=334

[com_12284]
type=rectangle
width=512
height=334
layer=com_12283
colour=0x000000
fill=yes

[com_12285]
type=text
x=237
y=59
width=28
height=14
layer=com_12283
textfont=b12_full
text=Text
textalignh=centre
textshadow=yes

