[com_1778]
type=layer
width=512
height=334

[com_1779]
type=model
x=135
y=16
width=35
height=32
layer=com_1778
model=model_2455
modelangle=521,1288,0
modelzoom=624

[com_1780]
type=text
x=4
y=10
width=47
height=14
layer=com_1778
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_1781]
type=text
x=52
y=10
width=17
height=14
layer=com_1778
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_1782]
type=text
x=4
y=40
width=114
height=14
layer=com_1778
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_1783]
type=layer
x=4
y=60
width=145
height=190
layer=com_1778

[com_1784]
type=graphic
x=5
y=97
width=72
height=36
layer=com_1783
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_1785]
type=graphic
x=5
y=51
width=72
height=36
layer=com_1783
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_1786]
type=graphic
x=5
y=5
width=72
height=36
layer=com_1783
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_1787]
type=graphic
x=22
y=103
width=34
height=24
layer=com_1783
graphic=combaticons,19

[com_1788]
type=graphic
x=21
y=11
width=34
height=24
layer=com_1783
graphic=combaticons2,13

[com_1789]
type=graphic
x=22
y=57
width=34
height=24
layer=com_1783
graphic=combaticons2,14

[com_1790]
type=text
x=78
y=5
width=18
height=11
layer=com_1783
textfont=p11_full
text=Jab
textshadow=yes
colour=0xffff00

[com_1791]
type=text
x=78
y=51
width=31
height=11
layer=com_1783
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_1792]
type=text
x=78
y=97
width=65
height=11
layer=com_1783
textfont=p11_full
text=Focus - Block
textshadow=yes
colour=0xffff00

[com_1793]
type=text
x=78
y=64
width=64
height=11
layer=com_1783
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_1794]
type=text
x=78
y=18
width=50
height=11
layer=com_1783
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_1795]
type=text
x=78
y=110
width=58
height=11
layer=com_1783
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_1796]
type=text
x=82
y=90
width=36
height=11
layer=com_1778
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_1797]
type=text
x=82
y=136
width=36
height=11
layer=com_1778
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_1798]
type=text
x=82
y=182
width=36
height=11
layer=com_1778
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_1799]
type=graphic
x=5
y=142
width=72
height=36
layer=com_1783
buttontype=5
graphic=combatboxes,0

[com_1800]
type=graphic
x=24
y=145
width=30
height=30
layer=com_1783
graphic=prayeron,12

[com_1801]
type=text
x=78
y=148
width=41
height=11
layer=com_1783
textfont=p11_full
text=Re-Cast
textshadow=yes
colour=0xffff00

[com_1802]
type=text
x=82
y=221
width=49
height=11
layer=com_1778
textfont=p11_full
text=Last Spell
textshadow=yes
colour=0xffff00

