[com_1883]
type=layer
width=512
height=334

[com_1884]
type=model
x=136
y=24
width=35
height=32
layer=com_1883
model=model_2455
modelangle=521,1288,0
modelzoom=624

[com_1885]
type=text
x=4
y=10
width=47
height=14
layer=com_1883
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_1886]
type=text
x=52
y=10
width=17
height=14
layer=com_1883
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_1887]
type=text
x=4
y=40
width=114
height=14
layer=com_1883
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_1888]
type=layer
x=4
y=60
width=145
height=190
layer=com_1883

[com_1889]
type=graphic
x=5
y=5
width=72
height=36
layer=com_1888
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_1890]
type=graphic
x=5
y=143
width=72
height=36
layer=com_1888
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 3

[com_1891]
type=graphic
x=5
y=97
width=72
height=36
layer=com_1888
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_1892]
type=graphic
x=5
y=51
width=72
height=36
layer=com_1888
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_1893]
type=graphic
x=22
y=149
width=34
height=24
layer=com_1888
graphic=combaticons,4

[com_1894]
type=graphic
x=22
y=11
width=34
height=24
layer=com_1888
graphic=combaticons,7

[com_1895]
type=graphic
x=21
y=57
width=34
height=24
layer=com_1888
graphic=combaticons,6

[com_1896]
type=graphic
x=22
y=103
width=34
height=24
layer=com_1888
graphic=combaticons,5

[com_1897]
type=text
x=78
y=5
width=23
height=11
layer=com_1888
textfont=p11_full
text=Stab
textshadow=yes
colour=0xffff00

[com_1898]
type=text
x=78
y=51
width=29
height=11
layer=com_1888
textfont=p11_full
text=Lunge
textshadow=yes
colour=0xffff00

[com_1899]
type=text
x=78
y=97
width=28
height=11
layer=com_1888
textfont=p11_full
text=Slash
textshadow=yes
colour=0xffff00

[com_1900]
type=text
x=78
y=143
width=26
height=11
layer=com_1888
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_1901]
type=text
x=78
y=18
width=50
height=11
layer=com_1888
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_1902]
type=text
x=78
y=110
width=50
height=11
layer=com_1888
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_1903]
type=text
x=78
y=64
width=64
height=11
layer=com_1888
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_1904]
type=text
x=78
y=156
width=58
height=11
layer=com_1888
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_1905]
type=text
x=82
y=90
width=29
height=11
layer=com_1883
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_1906]
type=text
x=82
y=136
width=29
height=11
layer=com_1883
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_1907]
type=text
x=82
y=182
width=34
height=11
layer=com_1883
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_1908]
type=text
x=82
y=228
width=29
height=11
layer=com_1883
textfont=p11_full
text=(Stab)
colour=0xffff00

