[com_0]
type=rectangle
width=512
height=334
colour=0x0f622c0c
fill=yes

[com_1]
type=rectangle
y=144
width=512
height=20
colour=0x00000f
fill=yes

[com_2]
type=rectangle
x=138
y=30
width=232
height=236
colour=0x0f303030
fill=yes

[com_3]
type=rectangle
x=144
y=37
width=220
height=222
colour=0x0f585858
fill=yes

[com_4]
type=rectangle
x=155
y=48
width=43
height=43
colour=0x0f303030
fill=yes

[com_5]
type=rectangle
x=259
y=48
width=43
height=43
colour=0x0f303030
fill=yes

[com_6]
type=rectangle
x=207
y=48
width=43
height=43
colour=0x0f303030
fill=yes

[com_7]
type=rectangle
x=154
y=99
width=43
height=43
colour=0x0f303030
fill=yes

[com_8]
type=rectangle
x=311
y=48
width=43
height=43
colour=0x0f303030
fill=yes

[com_9]
type=rectangle
x=206
y=100
width=43
height=43
colour=0x0f303030
fill=yes

[com_10]
type=rectangle
x=258
y=100
width=43
height=43
colour=0x0f303030
fill=yes

[com_11]
type=rectangle
x=310
y=100
width=43
height=43
colour=0x0f303030
fill=yes

[com_12]
type=rectangle
x=155
y=152
width=43
height=43
colour=0x0f303030
fill=yes

[com_13]
type=rectangle
x=206
y=151
width=43
height=43
colour=0x0f303030
fill=yes

[com_14]
type=rectangle
x=259
y=151
width=43
height=43
colour=0x0f303030
fill=yes

[com_15]
type=rectangle
x=310
y=152
width=43
height=43
colour=0x0f303030
fill=yes

[com_16]
type=rectangle
x=154
y=204
width=43
height=43
colour=0x0f303030
fill=yes

[com_17]
type=rectangle
x=206
y=204
width=43
height=43
colour=0x0f303030
fill=yes

[com_18]
type=rectangle
x=259
y=203
width=43
height=43
colour=0x0f303030
fill=yes

[com_19]
type=rectangle
x=311
y=203
width=43
height=43
colour=0x0f303030
fill=yes

[com_20]
type=rectangle
x=160
y=53
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_21]
type=rectangle
x=212
y=53
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_22]
type=rectangle
x=264
y=53
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_23]
type=rectangle
x=316
y=53
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_24]
type=rectangle
x=159
y=105
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_25]
type=rectangle
x=211
y=105
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_26]
type=rectangle
x=263
y=105
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_27]
type=rectangle
x=315
y=105
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_28]
type=rectangle
x=160
y=157
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_29]
type=rectangle
x=211
y=157
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_30]
type=rectangle
x=264
y=157
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_31]
type=rectangle
x=315
y=157
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_32]
type=rectangle
x=159
y=209
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_33]
type=rectangle
x=211
y=209
width=33
height=32
buttontype=1
colour=0x0fe9c001
fill=yes
buttontext=Place-rune

[com_34]
type=rectangle
x=264
y=209
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_35]
type=rectangle
x=316
y=209
width=33
height=32
buttontype=1
colour=0xfa9907
fill=yes
buttontext=Place-rune

[com_36]
type=rectangle
x=280
y=295
width=89
height=31
colour=0x202020
fill=yes

[com_37]
type=rectangle
x=391
y=67
width=113
height=174
colour=0x0f303030
fill=yes

[com_38]
type=rectangle
x=402
y=79
width=93
height=149
colour=0x0f585858
fill=yes

[com_39]
type=rectangle
x=9
y=63
width=113
height=174
colour=0x0f303030
fill=yes

[com_40]
type=rectangle
x=19
y=76
width=93
height=149
colour=0x0f585858
fill=yes

[com_41]
type=text
x=289
y=302
width=69
height=14
buttontype=1
textfont=p12_full
text=open casket
textshadow=yes
colour=0xffff00

[com_42]
type=text
x=430
y=13
width=71
height=14
buttontype=1
textfont=p12_full
text=close window
textshadow=yes
colour=0xffff00

[com_43]
type=layer
x=7
y=283
width=42
height=42

[com_44]
type=model
x=5
y=5
width=32
height=32
layer=com_43
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_45]
type=model
x=5
y=5
width=32
height=32
layer=com_43
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_46]
type=layer
x=64
y=283
width=42
height=42

[com_47]
type=model
x=5
y=5
width=32
height=32
layer=com_46
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_48]
type=model
x=5
y=5
width=32
height=32
layer=com_46
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_49]
type=layer
x=117
y=283
width=42
height=42

[com_50]
type=model
x=5
y=5
width=32
height=32
layer=com_49
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_51]
type=model
x=5
y=5
width=32
height=32
layer=com_49
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_52]
type=layer
x=171
y=282
width=42
height=42

[com_53]
type=model
x=5
y=5
width=32
height=32
layer=com_52
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_54]
type=model
x=5
y=5
width=32
height=32
layer=com_52
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_55]
type=layer
x=226
y=282
width=42
height=42

[com_56]
type=model
x=5
y=5
width=32
height=32
layer=com_55
model=null
modelactive=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 1

[com_57]
type=model
x=5
y=5
width=32
height=32
layer=com_55
model=model_8986
modelangle=500,0,0
modelzoom=600
script=varplayer_261 = 5

[com_58]
type=model
x=11
y=289
width=32
height=32
buttontype=1
model=model_8979
modelangle=500,1050,0
modelzoom=600

[com_59]
type=model
x=68
y=288
width=32
height=32
buttontype=1
model=model_8987
modelangle=500,1050,0
modelzoom=600

[com_60]
type=model
x=121
y=289
width=32
height=32
buttontype=1
model=model_8975
modelangle=500,1050,0
modelzoom=600

[com_61]
type=model
x=176
y=288
width=32
height=32
buttontype=1
model=model_8980
modelangle=500,1050,0
modelzoom=600

[com_62]
type=model
x=230
y=287
width=32
height=32
buttontype=1
model=model_8985
modelangle=500,1050,0
modelzoom=652

[com_63]
type=inv
x=159
y=53
width=4
height=4
paddingx=20
paddingy=20

