[com_6575]
type=layer
width=512
height=334

[com_6576]
type=graphic
x=12
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6577]
type=graphic
x=12
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6578]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6579]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6580]
type=graphic
x=12
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6581]
type=graphic
x=100
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6582]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6583]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6584]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6585]
type=graphic
x=188
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6586]
type=graphic
x=100
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6587]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6588]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6589]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6590]
type=graphic
x=276
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6591]
type=graphic
x=188
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6592]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6593]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6594]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6595]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6596]
type=graphic
x=276
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6597]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6598]
type=graphic
x=364
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6599]
type=graphic
x=364
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6600]
type=graphic
x=364
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6601]
type=graphic
x=412
y=20
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6602]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6603]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6604]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6605]
type=graphic
x=412
y=260
width=88
height=60
layer=com_6575
graphic=tradebacking,0

[com_6606]
type=graphic
x=12
y=20
width=25
height=30
layer=com_6575
graphic=steelborder,0

[com_6607]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6608]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6609]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6610]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6611]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6612]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6613]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6614]
type=graphic
x=479
y=50
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6615]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6616]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6617]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6618]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6619]
type=graphic
x=479
y=230
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6620]
type=graphic
x=479
y=266
width=36
height=36
layer=com_6575
graphic=steelborder2,1

[com_6621]
type=graphic
x=73
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6622]
type=graphic
x=109
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6623]
type=graphic
x=145
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6624]
type=graphic
x=181
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6625]
type=graphic
x=217
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6626]
type=graphic
x=253
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6627]
type=graphic
x=289
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6628]
type=graphic
x=325
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6629]
type=graphic
x=361
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6630]
type=graphic
x=397
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6631]
type=graphic
x=433
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6632]
type=graphic
x=72
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6633]
type=graphic
x=108
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6634]
type=graphic
x=144
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6635]
type=graphic
x=180
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6636]
type=graphic
x=216
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6637]
type=graphic
x=252
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6638]
type=graphic
x=288
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6639]
type=graphic
x=324
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6640]
type=graphic
x=360
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6641]
type=graphic
x=396
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6642]
type=graphic
x=432
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6643]
type=graphic
x=252
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6644]
type=graphic
x=37
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6645]
type=graphic
x=37
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6646]
type=graphic
x=12
y=290
width=25
height=30
layer=com_6575
graphic=steelborder,2

[com_6647]
type=graphic
x=475
y=20
width=25
height=30
layer=com_6575
graphic=steelborder,1

[com_6648]
type=graphic
x=439
y=5
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6649]
type=graphic
x=475
y=290
width=25
height=30
layer=com_6575
graphic=steelborder,3

[com_6650]
type=graphic
x=439
y=299
width=36
height=36
layer=com_6575
graphic=miscgraphics,3

[com_6651]
type=graphic
x=288
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6652]
type=graphic
x=324
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6653]
type=graphic
x=360
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6654]
type=graphic
x=396
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6655]
type=graphic
x=432
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6656]
type=graphic
x=459
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6657]
type=graphic
x=216
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6658]
type=graphic
x=180
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6659]
type=graphic
x=144
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6660]
type=graphic
x=108
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6661]
type=graphic
x=72
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6662]
type=graphic
x=36
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6663]
type=graphic
x=17
y=34
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6665]
type=layer
x=19
y=55
width=218
height=122
layer=com_6575
scrollheight=216

[com_6666]
type=layer
x=258
y=55
width=220
height=122
layer=com_6575
scrollheight=216

[com_6667]
type=layer
x=391
y=192
width=78
height=42
layer=com_6575

[com_6668]
type=layer
x=391
y=242
width=78
height=43
layer=com_6575

[com_6669]
type=inv
x=9
y=16
width=5
height=6
layer=com_6665
paddingx=10
paddingy=1
op1=Remove 1
op2=Remove 5
op3=Remove 10
op4=Remove All
op5=Remove X

[com_6670]
type=inv
x=9
y=16
width=5
height=6
layer=com_6666
paddingx=10
paddingy=1

[com_6671]
type=text
x=21
y=29
width=69
height=14
layer=com_6575
textfont=p12_full
text=Dueling with:
textshadow=yes
colour=0xffaa44

[com_8254]
type=text
x=62
width=100
height=14
layer=com_6666
textfont=p12_full
text=Opponents Stake:
textshadow=yes
colour=0xaa8822

[com_6672]
type=text
x=76
width=64
height=14
layer=com_6665
textfont=p12_full
text=Your Stake:
textshadow=yes
colour=0xaa8822

[com_6674]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6667
buttontype=1
colour=0x000000
fill=yes
buttontext=Accept stake and duel options

[com_8255]
type=text
x=21
y=14
width=39
height=14
layer=com_6667
textfont=p12_full
text=Accept
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_6676]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6668
buttontype=3
colour=0x000000
fill=yes

[com_8256]
type=text
x=20
y=14
width=40
height=14
layer=com_6668
textfont=p12_full
text=Decline
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_6677]
type=graphic
x=237
y=87
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6678]
type=graphic
x=237
y=51
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6679]
type=graphic
x=237
y=142
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6680]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6667
graphic=steelborder2,0

[com_6681]
type=graphic
x=237
y=111
width=36
height=36
layer=com_6575
graphic=miscgraphics,2

[com_6682]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6668
graphic=steelborder2,0

[com_6684]
type=text
x=143
y=300
width=220
height=11
layer=com_6575
textfont=p11_full
text=Neither player is allowed to forfeit the duel.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8257]
type=graphic
x=22
y=22
width=36
height=36
layer=com_6668
graphic=miscgraphics,3

[com_6685]
type=graphic
width=25
height=30
layer=com_6667
graphic=steelborder,0

[com_6686]
type=graphic
width=25
height=30
layer=com_6668
graphic=steelborder,0

[com_6687]
type=graphic
x=53
width=25
height=30
layer=com_6667
graphic=steelborder,1

[com_6688]
type=graphic
x=53
width=25
height=30
layer=com_6668
graphic=steelborder,1

[com_6689]
type=graphic
y=13
width=25
height=30
layer=com_6667
graphic=steelborder,2

[com_6690]
type=graphic
y=13
width=25
height=30
layer=com_6668
graphic=steelborder,2

[com_6691]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6667
graphic=steelborder,3

[com_6692]
type=graphic
x=21
y=22
width=36
height=36
layer=com_6667
graphic=miscgraphics,3

[com_6693]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6668
graphic=steelborder,3

[com_6694]
type=text
x=423
y=29
width=68
height=11
layer=com_6575
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6696]
type=text
x=61
y=190
width=57
height=14
layer=com_6575
mouseoverlayer=com_8259
buttontype=1
textfont=p12_full
text=No Forfeit
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6697]
type=text
x=188
y=230
width=50
height=14
layer=com_6575
mouseoverlayer=com_8273
buttontype=1
textfont=p12_full
text=No Magic
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6698]
type=text
x=188
y=190
width=60
height=14
layer=com_6575
mouseoverlayer=com_8269
buttontype=1
textfont=p12_full
text=No Ranged
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6699]
type=text
x=188
y=210
width=51
height=14
layer=com_6575
mouseoverlayer=com_8271
buttontype=1
textfont=p12_full
text=No Melee
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6700]
type=text
x=61
y=230
width=69
height=14
layer=com_6575
mouseoverlayer=com_8263
buttontype=1
textfont=p12_full
text=No Weapons
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6701]
type=text
x=298
y=190
width=61
height=14
layer=com_6575
mouseoverlayer=com_8279
buttontype=1
textfont=p12_full
text=No Potions
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6702]
type=text
x=298
y=210
width=45
height=14
layer=com_6575
mouseoverlayer=com_8281
buttontype=1
textfont=p12_full
text=No Food
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6703]
type=text
x=298
y=230
width=56
height=14
layer=com_6575
mouseoverlayer=com_8283
buttontype=1
textfont=p12_full
text=No Prayer
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6704]
type=text
x=61
y=210
width=76
height=14
layer=com_6575
mouseoverlayer=com_8261
buttontype=1
textfont=p12_full
text=No Movement
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6705]
type=text
x=61
y=250
width=59
height=14
layer=com_6575
mouseoverlayer=com_8265
buttontype=1
textfont=p12_full
text=No Armour
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_8258]
type=graphic
x=18
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6706]
type=graphic
x=54
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6707]
type=graphic
x=90
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6708]
type=graphic
x=126
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6709]
type=graphic
x=162
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6710]
type=graphic
x=198
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6711]
type=graphic
x=234
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6712]
type=graphic
x=270
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6713]
type=graphic
x=306
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6714]
type=graphic
x=342
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6715]
type=graphic
x=378
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6716]
type=graphic
x=414
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6717]
type=graphic
x=450
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6718]
type=graphic
x=458
y=162
width=36
height=36
layer=com_6575
graphic=steelborder2,0

[com_6721]
type=graphic
x=36
y=190
width=14
height=15
layer=com_6575
mouseoverlayer=com_8259
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 0) = 1

[com_6722]
type=graphic
x=36
y=210
width=14
height=15
layer=com_6575
mouseoverlayer=com_8261
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 1) = 1

[com_6723]
type=graphic
x=36
y=230
width=14
height=15
layer=com_6575
mouseoverlayer=com_8263
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 2) = 1

[com_6724]
type=graphic
x=36
y=250
width=14
height=15
layer=com_6575
mouseoverlayer=com_8265
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 3) = 1

[com_6725]
type=graphic
x=162
y=190
width=14
height=15
layer=com_6575
mouseoverlayer=com_8269
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 4) = 1

[com_6726]
type=graphic
x=162
y=210
width=14
height=15
layer=com_6575
mouseoverlayer=com_8271
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 5) = 1

[com_6727]
type=graphic
x=162
y=230
width=14
height=15
layer=com_6575
mouseoverlayer=com_8273
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 6) = 1

[com_6728]
type=graphic
x=272
y=190
width=14
height=15
layer=com_6575
mouseoverlayer=com_8279
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 7) = 1

[com_6729]
type=graphic
x=272
y=210
width=14
height=15
layer=com_6575
mouseoverlayer=com_8281
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 8) = 1

[com_6730]
type=graphic
x=272
y=230
width=14
height=15
layer=com_6575
mouseoverlayer=com_8283
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 9) = 1

[com_6731]
type=text
x=298
y=250
width=57
height=14
layer=com_6575
mouseoverlayer=com_8285
buttontype=1
textfont=p12_full
text=Obstacles
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_6732]
type=graphic
x=272
y=250
width=14
height=15
layer=com_6575
mouseoverlayer=com_8285
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 10) = 1

[com_668]
type=text
x=61
y=270
width=61
height=14
layer=com_6575
mouseoverlayer=com_8267
buttontype=1
textfont=p12_full
text=No Jewelry
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_669]
type=text
x=188
y=270
width=71
height=14
layer=com_6575
mouseoverlayer=com_8277
buttontype=1
textfont=p12_full
text=Flower Power
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_670]
type=graphic
x=162
y=270
width=14
height=15
layer=com_6575
mouseoverlayer=com_8277
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 12) = 1

[com_671]
type=graphic
x=36
y=270
width=14
height=15
layer=com_6575
mouseoverlayer=com_8267
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 11) = 1

[com_7816]
type=graphic
x=162
y=250
width=14
height=15
layer=com_6575
mouseoverlayer=com_8275
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Toggle option
script=testbit(varplayer_286, 13) = 1

[com_7817]
type=text
x=188
y=250
width=57
height=14
layer=com_6575
mouseoverlayer=com_8275
buttontype=1
textfont=p12_full
text=No Sp. Atk
textshadow=yes
colour=0xaa8822
buttontext=Toggle option

[com_8259]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8260]
type=text
x=99
width=220
height=11
layer=com_8259
textfont=p11_full
text=Neither player is allowed to forfeit the duel.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8261]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8262]
type=text
x=61
width=304
height=11
layer=com_8261
textfont=p11_full
text=Players stand next to each other and aren't allowed to move.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8263]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8264]
type=text
x=108
width=207
height=11
layer=com_8263
textfont=p11_full
text=Neither player is allowed to use weapons.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8265]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8266]
type=text
x=106
width=199
height=11
layer=com_8265
textfont=p11_full
text=Neither player is allowed to use armour.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8267]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8268]
type=text
x=105
width=208
height=11
layer=com_8267
textfont=p11_full
text=Neither player is allowed to wear jewelry.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8269]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8270]
type=text
x=90
width=238
height=11
layer=com_8269
textfont=p11_full
text=Neither player is allowed to use ranged attacks.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8271]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8272]
type=text
x=96
width=231
height=11
layer=com_8271
textfont=p11_full
text=Neither player is allowed to use melee attacks.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8273]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8274]
type=text
x=95
width=230
height=11
layer=com_8273
textfont=p11_full
text=Neither player is allowed to use magic attacks.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8275]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8276]
type=text
x=81
width=260
height=11
layer=com_8275
textfont=p11_full
text=Neither player will be allowed to use special attacks.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8277]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8278]
type=text
x=92
width=230
height=11
layer=com_8277
textfont=p11_full
text=Both players will use flowers as their weapon.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8279]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8280]
type=text
x=97
width=223
height=11
layer=com_8279
textfont=p11_full
text=Neither player will be allowed to use potions.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8281]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8282]
type=text
x=102
width=209
height=11
layer=com_8281
textfont=p11_full
text=Neither player will be allowed to use food.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8283]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8284]
type=text
x=100
width=220
height=11
layer=com_8283
textfont=p11_full
text=Neither player will be allowed to use prayer.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_8285]
type=layer
x=44
y=288
width=430
height=13
layer=com_6575
hide=yes

[com_8286]
type=text
x=101
width=211
height=11
layer=com_8285
textfont=p11_full
text=The duel will be in an arena with obstacles.
textalignh=centre
textshadow=yes
colour=0xaaaaaa

