[com_0]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

[com_1]
type=graphic
x=220
y=188
width=72
height=36
buttontype=1
graphic="combatboxes,0"
buttontext=Yes.

[com_2]
type=graphic
x=220
y=238
width=72
height=36
buttontype=1
graphic="combatboxes,0"
buttontext=No.

[com_3]
type=text
x=245
y=199
width=20
height=14
textfont=p12_full
text=YES
textalignh=centre
textshadow=yes
colour=0x11d311

[com_4]
type=text
x=248
y=249
width=16
height=14
textfont=p12_full
text=NO
textalignh=centre
textshadow=yes
colour=0xac1414

[com_5]
type=text
x=180
y=145
width=152
height=14
textfont=p12_full
text=Do you really want to bet X!
textalignh=centre
colour=0xddd117

