[com_17511]
type=layer
width=512
height=334

[com_17512]
type=model
x=369
y=424
width=32
height=32
layer=com_17511
model=model_9630
modelangle=512,0,0
modelzoom=692

[com_17513]
type=text
x=190
y=431
width=400
height=17
layer=com_17511
textfont=q8_full
text=Your password is only as safe as your computer.
textalignh=centre
colour=0x000000

[com_17514]
type=text
x=190
y=452
width=400
height=17
layer=com_17511
textfont=q8_full
text=Install anti-virus software!
textalignh=centre
colour=0x000000

[com_17515]
type=text
x=333
y=411
width=119
height=14
layer=com_17511
textfont=p12_full
text=Message of the week
colour=0x800000

[com_17516]
type=model
x=52
y=428
width=32
height=32
layer=com_17511
model=model_10233
modelangle=380,48,0
modelzoom=1000

[com_17517]
type=model
x=653
y=444
width=32
height=32
layer=com_17511
model=model_11212
modelangle=425,1906,0
modelzoom=1556

[com_17518]
type=model
x=688
y=418
width=32
height=32
layer=com_17511
model=model_11211
modelangle=653,2047,0
modelzoom=1316

[com_17519]
type=model
x=13
y=438
width=32
height=32
layer=com_17511
model=model_11210
modelangle=605,1897,0
modelzoom=1572

[com_17520]
type=model
x=91
y=446
width=32
height=32
layer=com_17511
model=model_11211
modelangle=521,117,0
modelzoom=1700

[com_17521]
type=model
x=723
y=444
width=32
height=32
layer=com_17511
model=model_10233
modelangle=407,108,0
modelzoom=1512

