[com_18681]
type=layer
width=512
height=334

[com_18682]
type=rectangle
x=-1
width=543
height=357
layer=com_18681
colour=0x000000
fill=yes

[com_18683]
type=model
x=240
y=454
width=32
height=32
layer=com_18681
model=model_14282
modelangle=132,6,0
modelzoom=467
modelanim=seq_3814

