[com_3824]
type=layer
width=512
height=334

[com_3825]
type=graphic
x=12
y=20
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3826]
type=graphic
x=12
y=80
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3827]
type=graphic
x=12
y=140
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3828]
type=graphic
x=12
y=200
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3829]
type=graphic
x=12
y=260
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3830]
type=graphic
x=100
y=20
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3831]
type=graphic
x=100
y=80
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3832]
type=graphic
x=100
y=140
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3833]
type=graphic
x=100
y=200
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3834]
type=graphic
x=188
y=20
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3835]
type=graphic
x=100
y=260
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3836]
type=graphic
x=188
y=80
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3837]
type=graphic
x=188
y=140
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3838]
type=graphic
x=188
y=200
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3839]
type=graphic
x=188
y=260
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3840]
type=graphic
x=276
y=20
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3841]
type=graphic
x=364
y=80
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3842]
type=graphic
x=276
y=80
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3843]
type=graphic
x=276
y=140
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3844]
type=graphic
x=276
y=200
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3845]
type=graphic
x=276
y=260
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3846]
type=graphic
x=364
y=140
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3847]
type=graphic
x=364
y=20
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3848]
type=graphic
x=364
y=200
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3849]
type=graphic
x=364
y=260
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3850]
type=graphic
x=412
y=20
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3851]
type=graphic
x=412
y=80
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3852]
type=graphic
x=412
y=140
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3853]
type=graphic
x=412
y=200
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3854]
type=graphic
x=412
y=260
width=88
height=60
layer=com_3824
graphic=tradebacking,0

[com_3855]
type=graphic
x=12
y=20
width=25
height=30
layer=com_3824
graphic=steelborder,0

[com_3856]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3857]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3858]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3859]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3860]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3861]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3862]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_3824
graphic=miscgraphics,2

[com_3863]
type=graphic
x=479
y=50
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3864]
type=graphic
x=479
y=86
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3865]
type=graphic
x=479
y=122
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3866]
type=graphic
x=479
y=158
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3867]
type=graphic
x=479
y=194
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3868]
type=graphic
x=479
y=230
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3869]
type=graphic
x=479
y=266
width=36
height=36
layer=com_3824
graphic=steelborder2,1

[com_3870]
type=graphic
x=73
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3871]
type=graphic
x=109
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3872]
type=graphic
x=145
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3873]
type=graphic
x=181
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3874]
type=graphic
x=217
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3875]
type=graphic
x=253
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3876]
type=graphic
x=289
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3877]
type=graphic
x=325
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3878]
type=graphic
x=361
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3879]
type=graphic
x=397
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3880]
type=graphic
x=433
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3881]
type=graphic
x=72
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3882]
type=graphic
x=108
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3883]
type=graphic
x=144
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3884]
type=graphic
x=180
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3885]
type=graphic
x=216
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3886]
type=graphic
x=252
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3887]
type=graphic
x=288
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3888]
type=graphic
x=324
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3889]
type=graphic
x=360
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3890]
type=graphic
x=396
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3891]
type=graphic
x=432
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3892]
type=graphic
x=252
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3893]
type=graphic
x=37
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3894]
type=graphic
x=37
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3895]
type=graphic
x=12
y=290
width=25
height=30
layer=com_3824
graphic=steelborder,2

[com_3896]
type=graphic
x=475
y=20
width=25
height=30
layer=com_3824
graphic=steelborder,1

[com_3897]
type=graphic
x=439
y=5
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3898]
type=graphic
x=475
y=290
width=25
height=30
layer=com_3824
graphic=steelborder,3

[com_3899]
type=graphic
x=439
y=299
width=36
height=36
layer=com_3824
graphic=miscgraphics,3

[com_3900]
type=inv
x=76
y=65
width=8
height=5
layer=com_3824
paddingx=15
paddingy=15
op1=Value
op2=Buy 1
op3=Buy 5
op4=Buy 10

[com_3901]
type=text
x=225
y=29
width=61
height=14
layer=com_3824
textfont=b12_full
text=Axe Shop
textalignh=centre
textshadow=yes
colour=0xffff00

[com_3902]
type=text
x=420
y=29
width=68
height=11
layer=com_3824
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_3903]
type=text
x=63
y=291
width=384
height=14
layer=com_3824
textfont=p12_full
text=Right-click on shop to buy item - Right-click on inventory to sell item
textshadow=yes
colour=0xffff00

[com_3904]
type=graphic
x=288
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3905]
type=graphic
x=324
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3906]
type=graphic
x=360
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3907]
type=graphic
x=396
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3908]
type=graphic
x=432
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3909]
type=graphic
x=459
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3910]
type=graphic
x=216
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3911]
type=graphic
x=180
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3912]
type=graphic
x=144
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3913]
type=graphic
x=108
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3914]
type=graphic
x=72
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3915]
type=graphic
x=36
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

[com_3916]
type=graphic
x=17
y=34
width=36
height=36
layer=com_3824
graphic=steelborder2,0

