[com_8134]
type=layer
width=512
height=334

[com_8135]
type=layer
x=37
y=37
width=387
height=287
layer=com_8134

[com_8136]
type=text
x=424
y=28
width=68
height=11
layer=com_8134
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_8143]
type=layer
x=48
y=78
width=342
height=215
layer=com_8134
scrollheight=2000

[com_8144]
type=text
x=53
y=56
width=77
height=17
layer=com_8134
textfont=q8_full
text=ifquestname
colour=0x000000

[com_8145]
type=text
x=8
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj1
textalignh=centre
colour=0x000000

[com_8146]
type=model
x=163
y=79
width=55
height=81
layer=com_8135
model=model_3623
modelangle=510,0,0
modelzoom=643

[com_8147]
type=text
x=8
y=20
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj2
textalignh=centre
colour=0x000000

[com_8148]
type=text
x=8
y=40
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj3
textalignh=centre
colour=0x000000

[com_8149]
type=text
x=8
y=60
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj4
textalignh=centre
colour=0x000000

[com_8150]
type=text
x=8
y=80
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj5
textalignh=centre
colour=0x000000

[com_8151]
type=text
x=8
y=100
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj6
textalignh=centre
colour=0x000000

[com_8152]
type=text
x=8
y=120
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj7
textalignh=centre
colour=0x000000

[com_8153]
type=text
x=8
y=140
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj8
textalignh=centre
colour=0x000000

[com_8154]
type=text
x=8
y=160
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj9
textalignh=centre
colour=0x000000

[com_8155]
type=text
x=8
y=180
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj10
textalignh=centre
colour=0x000000

[com_8156]
type=text
x=8
y=200
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj11
textalignh=centre
colour=0x000000

[com_8157]
type=text
x=8
y=220
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj12
textalignh=centre
colour=0x000000

[com_8158]
type=text
x=8
y=240
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj13
textalignh=centre
colour=0x000000

[com_8159]
type=text
x=8
y=260
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj14
textalignh=centre
colour=0x000000

[com_8160]
type=text
x=8
y=280
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj15
textalignh=centre
colour=0x000000

[com_8161]
type=text
x=8
y=300
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj16
textalignh=centre
colour=0x000000

[com_8162]
type=text
x=8
y=320
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj17
textalignh=centre
colour=0x000000

[com_8163]
type=text
x=8
y=340
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj18
textalignh=centre
colour=0x000000

[com_8164]
type=text
x=8
y=360
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj19
textalignh=centre
colour=0x000000

[com_8165]
type=text
x=8
y=380
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj20
textalignh=centre
colour=0x000000

[com_8166]
type=text
x=8
y=400
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj21
textalignh=centre
colour=0x000000

[com_8167]
type=text
x=8
y=420
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj22
textalignh=centre
colour=0x000000

[com_8168]
type=text
x=8
y=440
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj23
textalignh=centre
colour=0x000000

[com_8169]
type=text
x=8
y=460
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj24
textalignh=centre
colour=0x000000

[com_8170]
type=text
x=8
y=480
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj25
textalignh=centre
colour=0x000000

[com_8171]
type=text
x=8
y=500
width=330
height=15
layer=com_8143
textfont=p12_full
text=qj26
textalignh=centre
colour=0x000000

[com_8172]
type=text
x=8
y=520
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj27
textalignh=centre
colour=0x000000

[com_8173]
type=text
x=8
y=540
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj28
textalignh=centre
colour=0x000000

[com_8174]
type=text
x=8
y=560
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj29
textalignh=centre
colour=0x000000

[com_8175]
type=text
x=8
y=580
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj30
textalignh=centre
colour=0x000000

[com_8176]
type=text
x=8
y=600
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj31
textalignh=centre
colour=0x000000

[com_8177]
type=text
x=8
y=620
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj32
textalignh=centre
colour=0x000000

[com_8178]
type=text
x=8
y=640
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj33
textalignh=centre
colour=0x000000

[com_8179]
type=text
x=8
y=660
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj34
textalignh=centre
colour=0x000000

[com_8180]
type=text
x=8
y=680
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj35
textalignh=centre
colour=0x000000

[com_8181]
type=text
x=8
y=700
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj36
textalignh=centre
colour=0x000000

[com_8182]
type=text
x=8
y=720
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj37
textalignh=centre
colour=0x000000

[com_8183]
type=text
x=7
y=740
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj38
textalignh=centre
colour=0x000000

[com_8184]
type=text
x=8
y=760
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj39
textalignh=centre
colour=0x000000

[com_8185]
type=text
x=8
y=780
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj40
textalignh=centre
colour=0x000000

[com_8186]
type=text
x=8
y=800
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj41
textalignh=centre
colour=0x000000

[com_8187]
type=text
x=8
y=820
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj42
textalignh=centre
colour=0x000000

[com_8188]
type=text
x=8
y=840
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj43
textalignh=centre
colour=0x000000

[com_8189]
type=text
x=8
y=860
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj44
textalignh=centre
colour=0x000000

[com_8190]
type=text
x=8
y=880
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj45
textalignh=centre
colour=0x000000

[com_8191]
type=text
x=8
y=900
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj46
textalignh=centre
colour=0x000000

[com_8192]
type=text
x=8
y=920
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj47
textalignh=centre
colour=0x000000

[com_8193]
type=text
x=8
y=940
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj48
textalignh=centre
colour=0x000000

[com_8194]
type=text
x=8
y=960
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj49
textalignh=centre
colour=0x000000

[com_8195]
type=text
x=8
y=980
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj50
textalignh=centre
colour=0x000000

[com_12174]
type=text
x=8
y=1000
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj51
textalignh=centre
colour=0x000000

[com_12175]
type=text
x=8
y=1020
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj52
textalignh=centre
colour=0x000000

[com_12176]
type=text
x=8
y=1040
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj53
textalignh=centre
colour=0x000000

[com_12177]
type=text
x=8
y=1060
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj54
textalignh=centre
colour=0x000000

[com_12178]
type=text
x=8
y=1080
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj55
textalignh=centre
colour=0x000000

[com_12179]
type=text
x=8
y=1100
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj56
textalignh=centre
colour=0x000000

[com_12180]
type=text
x=8
y=1120
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj57
textalignh=centre
colour=0x000000

[com_12181]
type=text
x=8
y=1140
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj58
textalignh=centre
colour=0x000000

[com_12182]
type=text
x=8
y=1160
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj59
textalignh=centre
colour=0x000000

[com_12183]
type=text
x=8
y=1180
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj60
textalignh=centre
colour=0x000000

[com_12184]
type=text
x=8
y=1200
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj61
textalignh=centre
colour=0x000000

[com_12185]
type=text
x=8
y=1220
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj62
textalignh=centre
colour=0x000000

[com_12186]
type=text
x=8
y=1240
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj63
textalignh=centre
colour=0x000000

[com_12187]
type=text
x=8
y=1260
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj64
textalignh=centre
colour=0x000000

[com_12188]
type=text
x=8
y=1280
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj65
textalignh=centre
colour=0x000000

[com_12189]
type=text
x=8
y=1300
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj66
textalignh=centre
colour=0x000000

[com_12190]
type=text
x=8
y=1320
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj67
textalignh=centre
colour=0x000000

[com_12191]
type=text
x=8
y=1340
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj68
textalignh=centre
colour=0x000000

[com_12192]
type=text
x=8
y=1360
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj69
textalignh=centre
colour=0x000000

[com_12193]
type=text
x=8
y=1380
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj70
textalignh=centre
colour=0x000000

[com_12194]
type=text
x=8
y=1400
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj71
textalignh=centre
colour=0x000000

[com_12195]
type=text
x=8
y=1420
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj72
textalignh=centre
colour=0x000000

[com_12196]
type=text
x=8
y=1440
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj73
textalignh=centre
colour=0x000000

[com_12197]
type=text
x=8
y=1460
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj74
textalignh=centre
colour=0x000000

[com_12198]
type=text
x=8
y=1480
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj75
textalignh=centre
colour=0x000000

[com_12199]
type=text
x=8
y=1500
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj76
textalignh=centre
colour=0x000000

[com_12200]
type=text
x=8
y=1520
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj77
textalignh=centre
colour=0x000000

[com_12201]
type=text
x=8
y=1540
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj78
textalignh=centre
colour=0x000000

[com_12202]
type=text
x=8
y=1560
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj79
textalignh=centre
colour=0x000000

[com_12203]
type=text
x=8
y=1580
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj80
textalignh=centre
colour=0x000000

[com_12204]
type=text
x=8
y=1600
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj81
textalignh=centre
colour=0x000000

[com_12205]
type=text
x=8
y=1620
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj82
textalignh=centre
colour=0x000000

[com_12206]
type=text
x=8
y=1640
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj83
textalignh=centre
colour=0x000000

[com_12207]
type=text
x=8
y=1660
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj84
textalignh=centre
colour=0x000000

[com_12208]
type=text
x=8
y=1680
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj85
textalignh=centre
colour=0x000000

[com_12209]
type=text
x=8
y=1700
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj86
textalignh=centre
colour=0x000000

[com_12210]
type=text
x=8
y=1720
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj87
textalignh=centre
colour=0x000000

[com_12211]
type=text
x=8
y=1740
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj88
textalignh=centre
colour=0x000000

[com_12212]
type=text
x=8
y=1760
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj89
textalignh=centre
colour=0x000000

[com_12213]
type=text
x=8
y=1780
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj90
textalignh=centre
colour=0x000000

[com_12214]
type=text
x=8
y=1800
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj91
textalignh=centre
colour=0x000000

[com_12215]
type=text
x=8
y=1820
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj92
textalignh=centre
colour=0x000000

[com_12216]
type=text
x=8
y=1840
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj93
textalignh=centre
colour=0x000000

[com_12217]
type=text
x=8
y=1860
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj94
textalignh=centre
colour=0x000000

[com_12218]
type=text
x=8
y=1880
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj95
textalignh=centre
colour=0x000000

[com_12219]
type=text
x=8
y=1900
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj96
textalignh=centre
colour=0x000000

[com_12220]
type=text
x=8
y=1920
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj97
textalignh=centre
colour=0x000000

[com_12221]
type=text
x=8
y=1940
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj98
textalignh=centre
colour=0x000000

[com_12222]
type=text
x=8
y=1960
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj99
textalignh=centre
colour=0x000000

[com_12223]
type=text
x=8
y=1980
width=331
height=14
layer=com_8143
textfont=p12_full
text=qj100
textalignh=centre
colour=0x000000

