[com_3822]
type=layer
width=512
height=334

[com_3823]
type=inv
x=16
y=8
width=4
height=7
layer=com_3822
paddingx=10
paddingy=4
op1=Value
op2=Sell 1
op3=Sell 5
op4=Sell 10

