[com_11942]
type=layer
width=512
height=334

[com_11943]
type=graphic
x=12
y=20
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11944]
type=graphic
x=15
y=80
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11945]
type=graphic
x=12
y=140
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11946]
type=graphic
x=12
y=200
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11947]
type=graphic
x=12
y=260
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11948]
type=graphic
x=100
y=20
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11949]
type=graphic
x=100
y=80
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11950]
type=graphic
x=100
y=140
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11951]
type=graphic
x=100
y=200
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11952]
type=graphic
x=188
y=20
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11953]
type=graphic
x=100
y=260
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11954]
type=graphic
x=188
y=80
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11955]
type=graphic
x=188
y=140
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11956]
type=graphic
x=188
y=200
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11957]
type=graphic
x=188
y=260
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11958]
type=graphic
x=276
y=20
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11959]
type=graphic
x=364
y=80
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11960]
type=graphic
x=276
y=80
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11961]
type=graphic
x=276
y=140
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11962]
type=graphic
x=276
y=200
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11963]
type=graphic
x=276
y=260
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11964]
type=graphic
x=364
y=140
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11965]
type=graphic
x=364
y=20
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11966]
type=graphic
x=359
y=200
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11967]
type=graphic
x=364
y=260
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11968]
type=graphic
x=412
y=20
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11969]
type=graphic
x=412
y=80
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11970]
type=graphic
x=412
y=140
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11971]
type=graphic
x=406
y=200
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11972]
type=graphic
x=412
y=260
width=88
height=60
layer=com_11942
graphic=tradebacking,0

[com_11973]
type=graphic
x=12
y=20
width=25
height=30
layer=com_11942
graphic=steelborder,0

[com_11974]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11975]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11976]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11977]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11978]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11979]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11980]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_11942
graphic=miscgraphics,2

[com_11981]
type=graphic
x=479
y=50
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11982]
type=graphic
x=479
y=86
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11983]
type=graphic
x=479
y=122
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11984]
type=graphic
x=479
y=158
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11985]
type=graphic
x=479
y=194
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11986]
type=graphic
x=479
y=230
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11987]
type=graphic
x=479
y=266
width=36
height=36
layer=com_11942
graphic=steelborder2,1

[com_11988]
type=graphic
x=73
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11989]
type=graphic
x=109
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11990]
type=graphic
x=145
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11991]
type=graphic
x=181
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11992]
type=graphic
x=217
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11993]
type=graphic
x=253
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11994]
type=graphic
x=289
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11995]
type=graphic
x=325
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11996]
type=graphic
x=361
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11997]
type=graphic
x=397
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11998]
type=graphic
x=433
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_11999]
type=graphic
x=72
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12000]
type=graphic
x=108
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12001]
type=graphic
x=144
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12002]
type=graphic
x=180
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12003]
type=graphic
x=216
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12004]
type=graphic
x=252
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12005]
type=graphic
x=288
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12006]
type=graphic
x=324
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12007]
type=graphic
x=360
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12008]
type=graphic
x=396
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12009]
type=graphic
x=432
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12010]
type=graphic
x=252
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12011]
type=graphic
x=37
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12012]
type=graphic
x=37
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_12013]
type=graphic
x=12
y=290
width=25
height=30
layer=com_11942
graphic=steelborder,2

[com_12014]
type=graphic
x=475
y=20
width=25
height=30
layer=com_11942
graphic=steelborder,1

[com_12015]
type=graphic
x=439
y=5
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12016]
type=graphic
x=475
y=290
width=25
height=30
layer=com_11942
graphic=steelborder,3

[com_12017]
type=graphic
x=439
y=299
width=36
height=36
layer=com_11942
graphic=miscgraphics,3

[com_12018]
type=graphic
x=288
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12019]
type=graphic
x=324
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12020]
type=graphic
x=360
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12021]
type=graphic
x=396
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12022]
type=graphic
x=432
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12023]
type=graphic
x=459
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12024]
type=graphic
x=216
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12025]
type=graphic
x=180
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12026]
type=graphic
x=144
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12027]
type=graphic
x=108
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12028]
type=graphic
x=72
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12029]
type=graphic
x=36
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12030]
type=graphic
x=17
y=34
width=36
height=36
layer=com_11942
graphic=steelborder2,0

[com_12031]
type=text
x=21
y=29
width=197
height=14
layer=com_11942
textfont=b12_full
text=Ranging Guild Ticket Exchange
textshadow=yes
colour=0xccaa44

[com_12032]
type=text
x=423
y=29
width=68
height=11
layer=com_11942
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_12033]
type=inv
x=76
y=65
width=8
height=4
layer=com_11942
paddingx=15
paddingy=15
op1=Value
op2=Buy

