[com_15181]
type=layer
width=512
height=334

[com_15182]
type=model
x=259
y=85
width=32
height=32
layer=com_15181
model=model_9374
modelangle=295,0,0
modelzoom=246

[com_15183]
type=model
x=259
y=85
width=32
height=32
layer=com_15181
model=model_9380
modelangle=295,0,0
modelzoom=246
modelanim=seq_2675
modelanimactive=seq_2675

[com_15184]
type=model
x=255
y=84
width=32
height=32
layer=com_15181
model=model_9376
modelangle=293,0,0
modelzoom=246
modelanim=seq_2684
modelanimactive=seq_2684

[com_15185]
type=model
x=205
y=75
width=32
height=32
layer=com_15181
model=model_9376
modelangle=295,110,0
modelzoom=246
modelanim=seq_2684
modelanimactive=seq_2684

[com_15186]
type=model
x=259
y=85
width=32
height=32
layer=com_15181
model=model_9379
modelangle=295,0,0
modelzoom=246
modelanim=seq_2684
modelanimactive=seq_2684

[com_15187]
type=graphic
x=178
y=150
width=66
height=40
layer=com_15181
buttontype=1
buttontext=Turn anti-clockwise

[com_15188]
type=graphic
x=278
y=150
width=66
height=40
layer=com_15181
buttontype=1
buttontext=Turn clockwise

[com_15189]
type=model
x=259
y=85
width=32
height=32
layer=com_15181
model=model_9381
modelactive=model_9382
modelangle=295,0,0
modelzoom=246
script=varplayer_261 = 1

[com_15190]
type=model
x=259
y=85
width=32
height=32
layer=com_15181
model=model_9377
modelactive=model_9378
modelangle=295,0,0
modelzoom=246
script=varplayer_261 = 2

[com_15191]
type=text
x=428
y=12
width=74
height=14
layer=com_15181
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00

