[com_2112]
type=layer
width=512
height=334

[com_2113]
type=graphic
x=2
y=5
width=57
height=13
layer=com_2112
graphic=sworddecor,1

[com_2114]
type=model
x=56
y=13
width=64
height=64
layer=com_2112
buttontype=1
model=null
modelangle=100,100,0

[com_2115]
type=model
x=207
y=13
width=64
height=64
layer=com_2112
buttontype=1
model=null
modelzoom=400

[com_2116]
type=model
x=360
y=13
width=64
height=64
layer=com_2112
buttontype=1
model=null
modelzoom=400

[com_2117]
type=text
x=12
y=76
width=152
height=17
layer=com_2112
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_2118]
type=text
x=164
y=76
width=152
height=17
layer=com_2112
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_2119]
type=text
x=316
y=76
width=152
height=17
layer=com_2112
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_2120]
type=text
x=8
y=3
width=464
height=17
layer=com_2112
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2121]
type=text
x=396
y=5
width=72
height=14
layer=com_2112
buttontype=1
textfont=p12_full
text=Close window
textshadow=yes
colour=0xffff00

