[com_0]
type=text
x=190
y=10
width=147
height=14
textfont=p12_full
text=Blast Furnace Temp Gauge
textshadow=yes
colour=0xffaa44

[com_1]
type=text
x=470
y=9
width=31
height=14
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0x888888

[com_2]
type=model
x=316
y=176
width=32
height=32
model=model_9096
modelzoom=908

[com_3]
type=model
x=185
y=183
width=32
height=32
model=model_9097
modelzoom=960

[com_4]
type=model
x=248
y=152
width=32
height=32
model=model_9083
modelzoom=172

