[com_341]
type=layer
width=512
height=334

[com_354]
type=rectangle
width=516
height=388
layer=com_341
colour=0x35382c
fill=yes

[com_18587]
type=model
x=294
y=108
width=32
height=32
layer=com_341
model=model_14124
modelangle=216,2047,0
modelzoom=656

[com_18588]
type=text
x=433
y=4
width=74
height=14
layer=com_341
buttontype=1
textfont=p12_full
text=Close Window
colour=0x728863
mouseovercolour=0x95b182

[com_18589]
type=text
x=402
y=249
width=42
height=17
layer=com_341
textfont=q8_full
text=Burgh
colour=0x343412

[com_18590]
type=text
x=328
y=161
width=58
height=17
layer=com_341
textfont=q8_full
text=Mort'ton
colour=0x343412

[com_18591]
type=text
x=351
y=21
width=43
height=17
layer=com_341
textfont=q8_full
text=Canifis
colour=0x343412

[com_18592]
type=text
x=264
y=101
width=34
height=17
layer=com_341
textfont=q8_full
text=Mort
colour=0x343412

[com_18593]
type=text
x=418
y=266
width=49
height=17
layer=com_341
textfont=q8_full
text=DeRott
colour=0x233219

[com_18594]
type=text
x=270
y=114
width=38
height=17
layer=com_341
textfont=q8_full
text=Myre
colour=0x343412

[com_18595]
type=text
x=261
y=126
width=45
height=17
layer=com_341
textfont=q8_full
text=Swamp
colour=0x343412

[com_18596]
type=text
x=386
y=125
width=48
height=17
layer=com_341
textfont=q8_full
text=Hollows
colour=0x343412

[com_18597]
type=text
x=400
y=109
width=26
height=17
layer=com_341
textfont=q8_full
text=The
colour=0x343412

[com_18598]
type=model
x=66
y=14
width=86
height=44
layer=com_341
model=model_14125
modelangle=459,2035,0
modelzoom=1106

[com_18599]
type=model
x=64
y=86
width=79
height=38
layer=com_341
model=model_14125
modelangle=498,1005,0
modelzoom=1106

[com_18600]
type=model
x=39
y=170
width=87
height=36
layer=com_341
model=model_14125
modelangle=474,0,0
modelzoom=1106

[com_18601]
type=model
x=72
y=253
width=32
height=32
layer=com_18617
model=model_14126
modelangle=483,0,0
modelzoom=728

[com_18602]
type=model
x=72
y=253
width=32
height=32
layer=com_18609
model=model_14126
modelangle=483,0,0
modelzoom=728

[com_18603]
type=model
x=72
y=253
width=32
height=32
layer=com_18613
model=model_14126
modelangle=483,0,0
modelzoom=728

[com_18604]
type=model
x=92
y=265
width=32
height=32
layer=com_341
model=model_14126
modelangle=483,0,0
modelzoom=728

[com_18605]
type=text
x=52
y=271
width=100
height=17
layer=com_341
textfont=q8_full
text=Choose a route
colour=0x35382c

[com_18606]
type=model
x=274
y=96
width=32
height=32
layer=com_18609
buttontype=1
model=model_14121
modelangle=216,2047,0
modelzoom=656

[com_18607]
type=text
x=71
y=22
width=82
height=27
layer=com_341
mouseoverlayer=com_18609
buttontype=1
textfont=q8_full
text=Route One
colour=0x343412
mouseovercolour=0x343412

[com_18608]
type=text
x=51
y=10
width=82
height=27
layer=com_18609
textfont=q8_full
text=Route One
colour=0x0000cc
mouseovercolour=0x0000cc

[com_18609]
type=layer
x=20
y=12
width=464
height=304
layer=com_341
hide=yes

[com_18610]
type=model
x=274
y=96
width=32
height=32
layer=com_18613
model=model_14123
modelangle=216,2047,0
modelzoom=656

[com_18611]
type=text
x=66
y=98
width=79
height=23
layer=com_341
mouseoverlayer=com_18613
buttontype=1
textfont=q8_full
text=Route Two
colour=0x343412
mouseovercolour=0x343412

[com_18612]
type=text
x=46
y=86
width=79
height=23
layer=com_18613
textfont=q8_full
text=Route Two
colour=0xcdcb4d
mouseovercolour=0xcdcb4d

[com_18613]
type=layer
x=20
y=12
width=464
height=304
layer=com_341
hide=yes

[com_18614]
type=model
x=274
y=96
width=32
height=32
layer=com_18617
model=model_14122
modelangle=216,2047,0
modelzoom=656

[com_18615]
type=text
x=39
y=176
width=89
height=25
layer=com_341
mouseoverlayer=com_18617
buttontype=1
textfont=q8_full
text=Route Three
colour=0x343412
mouseovercolour=0x343412

[com_18616]
type=text
x=19
y=164
width=89
height=25
layer=com_18617
textfont=q8_full
text=Route Three
colour=0xd13c3c
mouseovercolour=0xd13c3c

[com_18617]
type=layer
x=20
y=12
width=464
height=304
layer=com_341
hide=yes

[com_18618]
type=model
x=294
y=108
width=32
height=32
layer=com_341
model=model_14128
modelangle=216,2047,0
modelzoom=656

[com_18619]
type=text
x=214
y=29
width=48
height=17
layer=com_341
textfont=q8_full
text=Temple
colour=0x343412

[com_18620]
type=model
x=361
y=166
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 1

[com_18621]
type=model
x=247
y=187
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 2

[com_18622]
type=model
x=245
y=126
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 3

[com_18623]
type=model
x=272
y=25
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 10

[com_18624]
type=model
x=283
y=112
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 4

[com_18625]
type=model
x=320
y=98
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 5

[com_18626]
type=model
x=308
y=77
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 6

[com_18627]
type=model
x=253
y=55
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 7

[com_18628]
type=model
x=305
y=35
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 8

[com_18629]
type=model
x=265
y=34
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=610,3,0
modelzoom=1907
modelanimactive=seq_3777
script=varplayerbit_1958 = 9

[com_18630]
type=model
x=230
y=93
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 11

[com_18631]
type=model
x=240
y=83
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 12

[com_18632]
type=model
x=245
y=76
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 13

[com_18633]
type=model
x=246
y=67
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 14

[com_18634]
type=model
x=232
y=44
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 15

[com_18635]
type=model
x=236
y=29
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 16

[com_18636]
type=model
x=395
y=115
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 17

[com_18637]
type=model
x=382
y=75
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 18

[com_18638]
type=model
x=368
y=61
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 19

[com_18639]
type=model
x=361
y=55
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 20

[com_18640]
type=model
x=359
y=49
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 21

[com_18641]
type=model
x=359
y=44
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 22

[com_18642]
type=model
x=365
y=37
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 23

[com_18643]
type=model
x=368
y=25
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 24

[com_18644]
type=model
x=345
y=12
width=32
height=32
layer=com_341
model=null
modelactive=model_14129
modelangle=592,12,0
modelzoom=1907
modelanim=seq_3777
script=varplayerbit_1958 = 25

[com_18645]
type=text
x=25
y=246
width=77
height=47
layer=com_18609
textfont=q8_full
text=Slow plod, \ncan evade \nencounters.
colour=0x35382c

[com_18646]
type=text
x=25
y=246
width=112
height=47
layer=com_18613
textfont=q8_full
text=Leisurely walk, \nharder to evade \nencounters.
colour=0x35382c

[com_18647]
type=text
x=25
y=246
width=120
height=47
layer=com_18617
textfont=q8_full
text=Brisk walk, \nimpossible to \nevade encounters.
colour=0x35382c

