[com_11479]
type=layer
width=512
height=334

[com_11480]
type=text
x=111
y=51
width=282
height=14
layer=com_11479
textfont=b12_full
text=Waiting for players to join the other team.
textactive=Time until next game starts: %1
textalignh=centre
colouractive=0xffffff
script=varplayer_380 > 0

