[com_0]
type=model
x=415
y=17
width=32
height=32
model=model_10567
modelangle=421,0,0
modelzoom=843

[com_1]
type=text
x=359
y=13
width=139
height=19
textfont=q8_full
text=Enchantment
textalignh=centre
textshadow=yes
colour=0x9e7144

[com_2]
type=text
x=360
y=33
width=99
height=23
textfont=p11_full
text=Pizazz Points:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x996600

[com_3]
type=text
x=460
y=38
width=28
height=12
textfont=p11_full
text=9999
textshadow=yes
colour=0xcc6600

[com_4]
type=layer
x=462
y=284
width=32
height=32
hide=yes

[com_5]
type=layer
x=463
y=285
width=32
height=32
hide=yes

[com_6]
type=layer
x=462
y=284
width=32
height=32
hide=yes

[com_7]
type=layer
x=462
y=284
width=32
height=32
hide=yes

[com_8]
type=model
x=-1
y=-1
width=32
height=32
layer=com_4
model=model_10596
modelangle=96,1282,0
modelzoom=1395

[com_9]
type=model
x=1
y=2
width=32
height=32
layer=com_5
model=model_10597
modelangle=91,1716,0
modelzoom=1397

[com_10]
type=model
x=1
y=2
width=32
height=32
layer=com_6
model=model_10605
modelangle=96,975,0
modelzoom=1071

[com_11]
type=model
y=1
width=32
height=32
layer=com_7
model=model_10602
modelangle=105,1907,0
modelzoom=1180

[com_12]
type=text
x=443
y=233
width=62
height=36
textfont=p11_full
text=Bonus:
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x996600

