[com_1749]
type=layer
width=512
height=334

[com_1750]
type=model
x=135
y=16
width=35
height=32
layer=com_1749
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_1751]
type=text
x=4
y=10
width=47
height=14
layer=com_1749
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_1752]
type=text
x=52
y=10
width=17
height=14
layer=com_1749
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_1753]
type=text
x=4
y=40
width=114
height=14
layer=com_1749
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_1754]
type=layer
x=4
y=60
width=145
height=190
layer=com_1749

[com_1755]
type=graphic
x=5
y=97
width=72
height=36
layer=com_1754
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_1756]
type=graphic
x=5
y=51
width=72
height=36
layer=com_1754
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_1757]
type=graphic
x=5
y=5
width=72
height=36
layer=com_1754
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_1758]
type=graphic
x=22
y=103
width=34
height=24
layer=com_1754
graphic=combaticons2,7

[com_1759]
type=graphic
x=21
y=11
width=34
height=24
layer=com_1754
graphic=combaticons2,5

[com_1760]
type=graphic
x=22
y=57
width=34
height=24
layer=com_1754
graphic=combaticons2,6

[com_1761]
type=text
x=78
y=15
width=51
height=14
layer=com_1754
textfont=p12_full
text=Accurate
textshadow=yes
colour=0xffff00

[com_1762]
type=text
x=78
y=60
width=31
height=14
layer=com_1754
textfont=p12_full
text=Rapid
textshadow=yes
colour=0xffff00

[com_1763]
type=text
x=78
y=107
width=60
height=14
layer=com_1754
textfont=p12_full
text=Longrange
textshadow=yes
colour=0xffff00

[com_7512]
type=rectangle
y=1
width=156
height=23
layer=com_7524
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_7513]
type=graphic
x=131
y=1
width=25
height=30
layer=com_7524
graphic=steelborder,1

[com_7514]
type=graphic
y=1
width=25
height=30
layer=com_7524
graphic=steelborder,0

[com_7515]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7516]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7517]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7518]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7519]
type=graphic
x=5
y=3
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7520]
type=graphic
x=41
y=3
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7521]
type=graphic
x=77
y=3
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7522]
type=graphic
x=112
y=3
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7523]
type=graphic
x=115
y=3
width=36
height=36
layer=com_7524
graphic=miscgraphics,3

[com_7524]
type=layer
x=16
y=213
width=158
height=24
layer=com_1749
hide=yes

[com_7525]
type=model
x=5
y=8
width=146
height=9
layer=com_7524
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_7526]
type=model
x=3
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_7527]
type=model
x=18
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_7528]
type=model
x=33
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_7529]
type=model
x=47
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_7530]
type=model
x=61
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_7531]
type=model
x=75
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_7532]
type=model
x=90
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_7533]
type=model
x=104
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_7534]
type=model
x=118
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_7535]
type=model
x=132
y=8
width=146
height=9
layer=com_7524
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_7536]
type=text
x=20
y=7
width=117
height=11
layer=com_7524
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

