[com_4429]
type=layer
width=512
height=334

[com_13714]
type=graphic
x=2
y=5
width=57
height=13
layer=com_4429
graphic=sworddecor,1

[com_13715]
type=graphic
x=421
y=5
width=57
height=13
layer=com_4429
graphic=sworddecor,0

[com_1746]
type=model
x=207
y=13
width=64
height=96
layer=com_4429
model=null
modelzoom=400

[com_1747]
type=text
x=189
y=16
width=100
height=93
layer=com_4429
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make All

[com_1748]
type=text
x=189
y=16
width=100
height=93
layer=com_4429
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_2798]
type=text
x=189
y=16
width=100
height=93
layer=com_4429
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_2799]
type=text
x=189
y=16
width=100
height=93
layer=com_4429
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_2800]
type=text
width=479
height=17
layer=com_4429
textfont=q8_full
text=How many would you like to make?
textalignh=centre
colour=0x800000

