[com_374]
type=layer
width=512
height=334

[com_375]
type=text
x=21
width=441
height=17
layer=com_374
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_376]
type=text
x=21
y=16
width=441
height=17
layer=com_374
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_377]
type=text
x=21
y=32
width=441
height=17
layer=com_374
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

[com_378]
type=text
x=21
y=48
width=441
height=17
layer=com_374
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

[com_379]
type=text
x=21
y=64
width=441
height=17
layer=com_374
textfont=q8_full
text=Line5
textalignh=centre
colour=0x000000

[com_380]
type=text
x=65
y=80
width=350
height=17
layer=com_374
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

