[com_3209]
type=layer
width=512
height=334

[com_3210]
type=graphic
x=80
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,7

[com_3211]
type=graphic
x=65
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,7

[com_3212]
type=graphic
x=39
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,7

[com_4461]
type=graphic
x=97
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,8

[com_4462]
type=graphic
x=119
y=202
width=36
height=36
layer=com_3209
graphic=miscgraphics,8

[com_4463]
type=text
clientcode=205
x=57
y=213
width=83
height=14
layer=com_3209
buttontype=1
textfont=b12_full
text=Stop Viewing
textshadow=yes
mouseovercolour=0xff0000

[com_4464]
type=model
x=86
y=161
width=28
height=28
layer=com_3209
model=model_9298
modelangle=166,63,0
modelzoom=752
modelanim=seq_2657

