[com_5570]
type=layer
width=512
height=334

[com_5571]
type=model
x=135
y=16
width=35
height=32
layer=com_5570
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_5572]
type=text
x=4
y=10
width=47
height=14
layer=com_5570
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_5573]
type=text
x=52
y=10
width=17
height=14
layer=com_5570
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_5574]
type=text
x=4
y=40
width=114
height=14
layer=com_5570
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_5575]
type=layer
x=4
y=60
width=145
height=190
layer=com_5570

[com_5576]
type=graphic
x=5
y=2
width=72
height=36
layer=com_5575
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_5577]
type=graphic
x=5
y=128
width=72
height=36
layer=com_5575
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_5578]
type=graphic
x=5
y=86
width=72
height=36
layer=com_5575
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_5579]
type=graphic
x=5
y=44
width=72
height=36
layer=com_5575
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_5580]
type=graphic
x=23
y=133
width=34
height=24
layer=com_5575
graphic=combaticons3,0

[com_5581]
type=graphic
x=23
y=7
width=34
height=24
layer=com_5575
graphic=combaticons3,1

[com_5582]
type=graphic
x=21
y=50
width=34
height=24
layer=com_5575
graphic=combaticons3,3

[com_5583]
type=graphic
x=22
y=92
width=34
height=24
layer=com_5575
graphic=combaticons3,2

[com_5584]
type=text
x=78
y=3
width=27
height=11
layer=com_5575
textfont=p11_full
text=Spike
textshadow=yes
colour=0xffff00

[com_5585]
type=text
x=78
y=45
width=31
height=11
layer=com_5575
textfont=p11_full
text=Impale
textshadow=yes
colour=0xffff00

[com_5586]
type=text
x=78
y=87
width=32
height=11
layer=com_5575
textfont=p11_full
text=Smash
textshadow=yes
colour=0xffff00

[com_5587]
type=text
x=78
y=129
width=26
height=11
layer=com_5575
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_5588]
type=text
x=78
y=15
width=50
height=11
layer=com_5575
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_5589]
type=text
x=78
y=99
width=64
height=11
layer=com_5575
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_5590]
type=text
x=78
y=57
width=64
height=11
layer=com_5575
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_5591]
type=text
x=78
y=141
width=58
height=11
layer=com_5575
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_5592]
type=text
x=82
y=87
width=29
height=11
layer=com_5570
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_5593]
type=text
x=82
y=129
width=29
height=11
layer=com_5570
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_5594]
type=text
x=82
y=171
width=36
height=11
layer=com_5570
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_5595]
type=text
x=82
y=213
width=29
height=11
layer=com_5570
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_7712]
type=rectangle
y=1
width=156
height=23
layer=com_7724
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_7713]
type=graphic
x=131
y=1
width=25
height=30
layer=com_7724
graphic=steelborder,1

[com_7714]
type=graphic
y=1
width=25
height=30
layer=com_7724
graphic=steelborder,0

[com_7715]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7716]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7717]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7718]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7719]
type=graphic
x=5
y=3
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7720]
type=graphic
x=41
y=3
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7721]
type=graphic
x=77
y=3
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7722]
type=graphic
x=112
y=3
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7723]
type=graphic
x=115
y=3
width=36
height=36
layer=com_7724
graphic=miscgraphics,3

[com_7724]
type=layer
x=17
y=231
width=158
height=24
layer=com_5570
hide=yes

[com_7725]
type=model
x=5
y=8
width=146
height=9
layer=com_7724
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_7726]
type=model
x=3
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_7727]
type=model
x=18
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_7728]
type=model
x=33
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_7729]
type=model
x=47
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_7730]
type=model
x=61
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_7731]
type=model
x=75
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_7732]
type=model
x=90
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_7733]
type=model
x=104
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_7734]
type=model
x=118
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_7735]
type=model
x=132
y=8
width=146
height=9
layer=com_7724
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_7736]
type=text
x=20
y=7
width=117
height=11
layer=com_7724
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

