[com_14924]
type=layer
width=512
height=334

[com_14925]
type=graphic
x=12
y=20
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14926]
type=graphic
x=12
y=80
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14927]
type=graphic
x=12
y=140
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14928]
type=graphic
x=12
y=200
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14929]
type=graphic
x=12
y=260
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14930]
type=graphic
x=100
y=20
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14931]
type=graphic
x=100
y=140
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14932]
type=graphic
x=100
y=200
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14933]
type=graphic
x=188
y=20
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14934]
type=graphic
x=100
y=260
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14935]
type=graphic
x=188
y=80
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14936]
type=graphic
x=188
y=140
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14937]
type=graphic
x=188
y=200
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14938]
type=graphic
x=188
y=260
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14939]
type=graphic
x=276
y=20
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14940]
type=graphic
x=364
y=80
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14941]
type=graphic
x=276
y=80
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14942]
type=graphic
x=276
y=140
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14943]
type=graphic
x=276
y=200
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14944]
type=graphic
x=276
y=260
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14945]
type=graphic
x=364
y=140
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14946]
type=graphic
x=364
y=20
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14947]
type=graphic
x=364
y=200
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14948]
type=graphic
x=364
y=260
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14949]
type=graphic
x=412
y=20
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14950]
type=graphic
x=412
y=80
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14951]
type=graphic
x=412
y=140
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14952]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14953]
type=graphic
x=412
y=200
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14954]
type=graphic
x=412
y=260
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_14955]
type=graphic
x=12
y=20
width=25
height=30
layer=com_14924
graphic=steelborder,0

[com_14956]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14957]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14958]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14959]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14960]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14961]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_14962]
type=graphic
x=479
y=50
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14963]
type=graphic
x=479
y=86
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14964]
type=graphic
x=479
y=122
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14965]
type=graphic
x=479
y=158
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14966]
type=graphic
x=479
y=194
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14967]
type=graphic
x=479
y=230
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14968]
type=graphic
x=479
y=266
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_14969]
type=graphic
x=73
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14970]
type=graphic
x=109
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14971]
type=graphic
x=145
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14972]
type=graphic
x=181
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14973]
type=graphic
x=217
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14974]
type=graphic
x=253
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14975]
type=graphic
x=289
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14976]
type=graphic
x=325
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14977]
type=graphic
x=361
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14978]
type=graphic
x=397
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14979]
type=graphic
x=433
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14980]
type=graphic
x=72
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14981]
type=graphic
x=108
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14982]
type=graphic
x=144
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14983]
type=graphic
x=180
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14984]
type=graphic
x=216
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14985]
type=graphic
x=252
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14986]
type=graphic
x=288
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14987]
type=graphic
x=324
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14988]
type=graphic
x=360
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14989]
type=graphic
x=396
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14990]
type=graphic
x=432
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14991]
type=graphic
x=252
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14992]
type=graphic
x=37
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14993]
type=graphic
x=37
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14994]
type=graphic
x=12
y=295
width=25
height=30
layer=com_14924
graphic=steelborder,2

[com_14995]
type=graphic
x=475
y=20
width=25
height=30
layer=com_14924
graphic=steelborder,1

[com_14996]
type=graphic
x=439
y=5
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_14997]
type=graphic
x=475
y=295
width=25
height=30
layer=com_14924
graphic=steelborder,3

[com_14998]
type=graphic
x=439
y=304
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_14999]
type=graphic
x=288
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15000]
type=graphic
x=324
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15001]
type=graphic
x=360
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15002]
type=graphic
x=396
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15003]
type=graphic
x=432
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15004]
type=graphic
x=459
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15005]
type=graphic
x=216
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15006]
type=graphic
x=180
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15007]
type=graphic
x=144
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15008]
type=graphic
x=108
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15009]
type=graphic
x=72
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15010]
type=graphic
x=36
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15011]
type=graphic
x=17
y=34
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15012]
type=graphic
x=100
y=80
width=88
height=60
layer=com_14924
graphic=tradebacking,0

[com_15013]
type=graphic
x=455
y=69
width=25
height=30
layer=com_14924
graphic=steelborder,1

[com_15014]
type=graphic
x=455
y=275
width=25
height=30
layer=com_14924
graphic=steelborder,3

[com_15015]
type=graphic
x=323
y=69
width=25
height=30
layer=com_14924
graphic=steelborder,0

[com_15016]
type=graphic
x=323
y=275
width=25
height=30
layer=com_14924
graphic=steelborder,2

[com_15017]
type=graphic
x=459
y=99
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15018]
type=graphic
x=459
y=135
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15019]
type=graphic
x=459
y=171
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15020]
type=graphic
x=459
y=207
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15021]
type=graphic
x=459
y=243
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15022]
type=graphic
x=419
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15023]
type=graphic
x=383
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15024]
type=graphic
x=308
y=99
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15025]
type=graphic
x=347
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15026]
type=graphic
x=308
y=135
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15027]
type=graphic
x=308
y=171
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15028]
type=graphic
x=308
y=207
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15029]
type=graphic
x=308
y=243
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15030]
type=graphic
x=419
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15031]
type=graphic
x=383
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15032]
type=graphic
x=347
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15033]
type=graphic
x=244
y=100
width=51
height=82
layer=com_14924
graphic=keys,0

[com_15034]
type=rectangle
x=329
y=75
width=145
height=224
layer=com_14924
colour=0x000000
fill=yes

[com_15035]
type=text
x=8
y=29
width=496
height=17
layer=com_14924
textfont=q8_full
text=BANK  PIN  SETTINGS
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15036]
type=text
x=460
y=29
width=28
height=17
layer=com_14924
buttontype=3
textfont=q8_full
text=Exit
textalignh=centre
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_15037]
type=text
x=328
y=75
width=147
height=19
layer=com_14924
textfont=q8_full
text=Messages
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15038]
type=text
x=328
y=107
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15039]
type=text
x=328
y=123
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15040]
type=text
x=328
y=139
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15041]
type=text
x=328
y=155
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15042]
type=text
x=328
y=171
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15043]
type=text
x=328
y=187
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15044]
type=text
x=328
y=203
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15045]
type=text
x=328
y=219
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15046]
type=text
x=328
y=235
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15047]
type=text
x=328
y=251
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15048]
type=text
x=328
y=267
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15049]
type=text
x=328
y=283
width=147
height=14
layer=com_14924
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_15050]
type=graphic
x=32
y=230
width=25
height=30
layer=com_14924
graphic=steelborder,0

[com_15051]
type=graphic
x=32
y=275
width=25
height=30
layer=com_14924
graphic=steelborder,2

[com_15052]
type=graphic
x=271
y=275
width=25
height=30
layer=com_14924
graphic=steelborder,3

[com_15053]
type=graphic
x=271
y=230
width=25
height=30
layer=com_14924
graphic=steelborder,1

[com_15054]
type=graphic
x=57
y=215
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15055]
type=graphic
x=93
y=215
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15056]
type=graphic
x=129
y=215
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15057]
type=graphic
x=165
y=215
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15058]
type=graphic
x=201
y=215
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15059]
type=graphic
x=237
y=215
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15060]
type=graphic
x=57
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15061]
type=graphic
x=93
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15062]
type=graphic
x=129
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15063]
type=graphic
x=165
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15064]
type=graphic
x=201
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15065]
type=graphic
x=237
y=284
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15066]
type=graphic
x=17
y=251
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15067]
type=graphic
x=275
y=245
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_18648]
type=layer
x=38
y=236
width=252
height=63
layer=com_14924

[com_15069]
type=graphic
width=104
height=104
layer=com_18648
graphic=tex_red,0

[com_15314]
type=graphic
x=104
width=104
height=104
layer=com_18648
graphic=tex_red,0

[com_15071]
type=graphic
x=208
width=90
height=98
layer=com_18648
graphic=tex_red,0

[com_15075]
type=text
y=11
width=252
height=17
layer=com_18648
buttontype=1
textfont=q8_full
text=Set a PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_15076]
type=text
y=34
width=252
height=16
layer=com_18648
buttontype=1
textfont=q8_full
text=Change your recovery delay
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_15078]
type=text
y=4
width=252
height=16
layer=com_18648
buttontype=1
textfont=q8_full
text=Change your PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_15079]
type=text
y=23
width=253
height=15
layer=com_18648
buttontype=1
textfont=q8_full
text=Delete your PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_15080]
type=text
y=41
width=252
height=15
layer=com_18648
buttontype=1
textfont=q8_full
text=Change your recovery delay
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_15082]
type=text
y=23
width=252
height=15
layer=com_18648
buttontype=1
textfont=q8_full
text=Cancel the PIN that's pending
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_18649]
type=graphic
x=32
y=69
width=25
height=30
layer=com_14924
graphic=steelborder,0

[com_18650]
type=graphic
x=192
y=69
width=25
height=30
layer=com_14924
graphic=steelborder,1

[com_18651]
type=graphic
x=156
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15315]
type=graphic
x=120
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15316]
type=graphic
x=84
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15083]
type=graphic
x=48
y=54
width=36
height=36
layer=com_14924
graphic=steelborder2,0

[com_15084]
type=graphic
x=32
y=164
width=25
height=30
layer=com_14924
graphic=steelborder,2

[com_15085]
type=graphic
x=192
y=164
width=25
height=30
layer=com_14924
graphic=steelborder,3

[com_15086]
type=graphic
x=17
y=99
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15087]
type=graphic
x=17
y=135
width=36
height=36
layer=com_14924
graphic=miscgraphics,2

[com_15088]
type=graphic
x=196
y=99
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15089]
type=graphic
x=196
y=135
width=36
height=36
layer=com_14924
graphic=steelborder2,1

[com_15090]
type=graphic
x=57
y=173
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15091]
type=graphic
x=93
y=173
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15092]
type=graphic
x=129
y=173
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15093]
type=graphic
x=165
y=173
width=36
height=36
layer=com_14924
graphic=miscgraphics,3

[com_15094]
type=graphic
width=104
height=104
layer=com_18652
graphic=tex_brown,0

[com_15095]
type=graphic
x=104
width=104
height=104
layer=com_18652
graphic=tex_brown,0

[com_15096]
type=graphic
y=104
width=104
height=104
layer=com_18652
graphic=tex_brown,0

[com_15097]
type=graphic
x=104
y=104
width=104
height=104
layer=com_18652
graphic=tex_brown,0

[com_18652]
type=layer
x=38
y=75
width=173
height=113
layer=com_14924

[com_15099]
type=text
y=9
width=173
height=17
layer=com_18652
textfont=q8_full
text=Your Bank PIN status:
textalignh=centre
textshadow=yes

[com_15105]
type=text
y=34
width=173
height=14
layer=com_18652
textfont=b12_full
text=Unknown
textalignh=centre
textshadow=yes
colour=0xff0000

[com_18653]
type=text
y=63
width=173
height=17
layer=com_18652
textfont=q8_full
text=Recovery delay:
textalignh=centre
textshadow=yes

[com_15107]
type=text
y=88
width=173
height=14
layer=com_18652
textfont=b12_full
text=X days
textalignh=centre
textshadow=yes
colour=0xff0000

[com_18654]
type=rectangle
x=10
y=18
width=476
height=293
layer=com_15108
colour=0x000000
fill=yes

[com_15110]
type=text
x=1
y=76
width=496
height=17
layer=com_15108
textfont=q8_full
text=Do you really wish to do that?
textalignh=centre
textshadow=yes
colour=0xff0000

[com_18655]
type=graphic
x=102
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15106]
type=graphic
x=66
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_18656]
type=graphic
x=30
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15317]
type=graphic
x=9
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15109]
type=graphic
x=138
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15318]
type=graphic
x=138
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15111]
type=graphic
x=354
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15112]
type=graphic
x=390
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15113]
type=graphic
x=426
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15114]
type=graphic
x=450
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15115]
type=graphic
x=102
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15116]
type=graphic
x=66
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15117]
type=graphic
x=30
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15118]
type=graphic
x=9
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15119]
type=graphic
x=354
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15120]
type=graphic
x=390
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15121]
type=graphic
x=426
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15122]
type=graphic
x=451
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15123]
type=graphic
x=174
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15124]
type=graphic
x=210
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15125]
type=graphic
x=246
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15126]
type=graphic
x=282
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15127]
type=graphic
x=318
y=125
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15128]
type=graphic
x=174
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15129]
type=graphic
x=210
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15130]
type=graphic
x=246
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15131]
type=graphic
x=282
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15132]
type=graphic
x=318
y=155
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15133]
type=graphic
x=138
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15134]
type=graphic
x=174
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15135]
type=graphic
x=210
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15136]
type=graphic
x=246
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15137]
type=graphic
x=282
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15138]
type=graphic
x=318
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15139]
type=graphic
x=138
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15140]
type=graphic
x=174
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15141]
type=graphic
x=210
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15142]
type=graphic
x=246
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15143]
type=graphic
x=282
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15144]
type=graphic
x=318
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15145]
type=graphic
x=354
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15146]
type=graphic
x=426
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15147]
type=graphic
x=390
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15148]
type=graphic
x=66
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15149]
type=graphic
x=102
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15150]
type=graphic
x=451
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15151]
type=graphic
x=354
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15152]
type=graphic
x=390
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15153]
type=graphic
x=426
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15154]
type=graphic
x=451
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15155]
type=graphic
x=9
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15156]
type=graphic
x=30
y=196
width=36
height=36
layer=com_15108
graphic=steelborder2,0

[com_15157]
type=graphic
x=102
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15158]
type=graphic
x=30
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15159]
type=graphic
x=66
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15160]
type=graphic
x=9
y=227
width=36
height=36
layer=com_15108
graphic=miscgraphics,3

[com_15161]
type=text
x=22
y=210
width=286
height=14
layer=com_14924
textfont=p12_full
text=Use the buttons below to change your PIN settings
textshadow=yes
colour=0xffff00

[com_15108]
type=layer
x=8
y=8
width=496
height=320
layer=com_14924
hide=yes

[com_18657]
type=layer
x=9
y=145
width=477
height=26
layer=com_15108

[com_15164]
type=graphic
x=1
y=1
width=104
height=104
layer=com_18657
graphic=tex_red,0

[com_18658]
type=graphic
x=105
y=1
width=104
height=104
layer=com_18657
graphic=tex_red,0

[com_18659]
type=graphic
x=209
y=1
width=104
height=104
layer=com_18657
graphic=tex_red,0

[com_15171]
type=text
x=17
y=156
width=478
height=17
layer=com_14924
buttontype=1
textfont=q8_full
text=Yes, I really want to do that.
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_18660]
type=layer
x=9
y=216
width=477
height=26
layer=com_15108

[com_15169]
type=graphic
x=1
y=1
width=104
height=104
layer=com_18660
graphic=tex_red,0

[com_18661]
type=graphic
x=105
y=1
width=104
height=104
layer=com_18660
graphic=tex_red,0

[com_18662]
type=graphic
x=209
y=1
width=104
height=104
layer=com_18660
graphic=tex_red,0

[com_15176]
type=text
x=17
y=228
width=478
height=17
layer=com_14924
buttontype=1
textfont=q8_full
text=No, forget I asked.
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_15173]
type=graphic
x=313
y=1
width=104
height=104
layer=com_18657
graphic=tex_red,0

[com_15174]
type=graphic
x=417
y=1
width=104
height=104
layer=com_18657
graphic=tex_red,0

[com_18663]
type=graphic
x=313
y=1
width=104
height=104
layer=com_18660
graphic=tex_red,0

[com_15321]
type=graphic
x=417
y=1
width=104
height=104
layer=com_18660
graphic=tex_red,0

