[com_15568]
type=layer
width=512
height=334

[com_15569]
type=model
x=219
y=135
width=32
height=32
layer=com_15568
model=model_4652
modelangle=492,0,0
modelzoom=874

[com_15570]
type=text
x=419
y=13
width=74
height=14
layer=com_15568
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00

[com_15571]
type=model
x=74
y=76
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15572]
type=model
x=119
y=82
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15573]
type=model
x=168
y=77
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15574]
type=model
x=216
y=71
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15575]
type=model
x=266
y=71
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15576]
type=model
x=316
y=76
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15577]
type=model
x=359
y=81
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15578]
type=model
x=404
y=84
width=32
height=195
layer=com_15568
model=model_10098
modelangle=512,0,0
modelzoom=400

[com_15579]
type=model
x=74
y=81
width=32
height=195
layer=com_15568
model=model_10100
modelangle=512,0,0
modelzoom=400

[com_15580]
type=model
x=119
y=87
width=32
height=195
layer=com_15568
model=model_10106
modelangle=512,0,0
modelzoom=400

[com_15581]
type=model
x=168
y=83
width=32
height=195
layer=com_15568
model=model_10102
modelangle=512,0,0
modelzoom=400

[com_15582]
type=model
x=216
y=76
width=32
height=195
layer=com_15568
model=model_10104
modelangle=512,0,0
modelzoom=400

[com_15583]
type=model
x=266
y=77
width=32
height=195
layer=com_15568
model=model_10100
modelangle=512,0,0
modelzoom=400

[com_15584]
type=model
x=316
y=81
width=32
height=195
layer=com_15568
model=model_10110
modelangle=512,0,0
modelzoom=400

[com_15585]
type=model
x=359
y=85
width=32
height=195
layer=com_15568
model=model_10112
modelangle=512,0,0
modelzoom=400

[com_15586]
type=model
x=404
y=89
width=32
height=195
layer=com_15568
model=model_10108
modelangle=512,0,0
modelzoom=400

[com_15587]
type=model
x=272
y=39
width=32
height=32
layer=com_15568
model=model_10116
modelangle=512,0,0
modelzoom=541

