[com_10755]
type=layer
width=512
height=334

[com_10756]
type=graphic
x=90
y=61
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10757]
type=graphic
x=91
y=80
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10758]
type=graphic
x=89
y=140
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10759]
type=graphic
x=87
y=200
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10760]
type=graphic
x=90
y=213
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10761]
type=graphic
x=100
y=63
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10762]
type=graphic
x=100
y=80
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10763]
type=graphic
x=100
y=140
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10764]
type=graphic
x=100
y=200
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10765]
type=graphic
x=188
y=64
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10766]
type=graphic
x=102
y=216
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10767]
type=graphic
x=188
y=80
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10768]
type=graphic
x=188
y=140
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10769]
type=graphic
x=188
y=200
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10770]
type=graphic
x=276
y=60
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10771]
type=graphic
x=188
y=213
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10772]
type=graphic
x=326
y=82
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10773]
type=graphic
x=276
y=80
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10774]
type=graphic
x=276
y=140
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10775]
type=graphic
x=276
y=200
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10776]
type=graphic
x=276
y=213
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10777]
type=graphic
x=326
y=142
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10778]
type=graphic
x=325
y=62
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10779]
type=graphic
x=325
y=200
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10780]
type=graphic
x=325
y=214
width=88
height=60
layer=com_10755
graphic=tradebacking,0

[com_10781]
type=graphic
x=85
y=58
width=25
height=30
layer=com_10755
graphic=steelborder,0

[com_10782]
type=graphic
x=70
y=88
width=36
height=36
layer=com_10755
graphic=miscgraphics,2

[com_10783]
type=graphic
x=70
y=124
width=36
height=36
layer=com_10755
graphic=miscgraphics,2

[com_10784]
type=graphic
x=70
y=160
width=36
height=36
layer=com_10755
graphic=miscgraphics,2

[com_10785]
type=graphic
x=70
y=196
width=36
height=36
layer=com_10755
graphic=miscgraphics,2

[com_10786]
type=graphic
x=70
y=224
width=36
height=36
layer=com_10755
graphic=miscgraphics,2

[com_10787]
type=graphic
x=394
y=84
width=36
height=36
layer=com_10755
graphic=steelborder2,1

[com_10788]
type=graphic
x=394
y=106
width=36
height=36
layer=com_10755
graphic=steelborder2,1

[com_10789]
type=graphic
x=394
y=140
width=36
height=36
layer=com_10755
graphic=steelborder2,1

[com_10790]
type=graphic
x=394
y=176
width=36
height=36
layer=com_10755
graphic=steelborder2,1

[com_10791]
type=graphic
x=394
y=212
width=36
height=36
layer=com_10755
graphic=steelborder2,1

[com_10792]
type=graphic
x=110
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10793]
type=graphic
x=146
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10794]
type=graphic
x=182
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10795]
type=graphic
x=218
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10796]
type=graphic
x=254
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10797]
type=graphic
x=290
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10798]
type=graphic
x=326
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10799]
type=graphic
x=362
y=257
width=36
height=36
layer=com_10755
graphic=miscgraphics,3

[com_10800]
type=graphic
x=218
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10801]
type=graphic
x=254
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10802]
type=graphic
x=289
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10803]
type=graphic
x=325
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10804]
type=graphic
x=357
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10805]
type=graphic
x=264
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10806]
type=graphic
x=182
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10807]
type=graphic
x=85
y=248
width=25
height=30
layer=com_10755
graphic=steelborder,2

[com_10808]
type=graphic
x=390
y=58
width=25
height=30
layer=com_10755
graphic=steelborder,1

[com_10809]
type=graphic
x=390
y=248
width=25
height=30
layer=com_10755
graphic=steelborder,3

[com_10810]
type=graphic
x=300
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10811]
type=graphic
x=336
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10812]
type=graphic
x=372
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10813]
type=graphic
x=377
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10814]
type=graphic
x=228
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10815]
type=graphic
x=192
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10816]
type=graphic
x=156
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10817]
type=graphic
x=89
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10818]
type=graphic
x=123
y=69
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10819]
type=graphic
x=110
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10820]
type=graphic
x=146
y=43
width=36
height=36
layer=com_10755
graphic=steelborder2,0

[com_10821]
type=layer
x=308
y=197
width=78
height=42
layer=com_10755

[com_10822]
type=text
x=97
y=65
width=97
height=14
layer=com_10755
textfont=p12_full
text=Runelink: Options
textshadow=yes
colour=0xffaa44

[com_10823]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_10821
buttontype=1
colour=0x000000
fill=yes
buttontext=Challenge player

[com_10824]
type=text
x=12
y=14
width=55
height=14
layer=com_10821
textfont=p12_full
text=Challenge
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_10825]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_10821
graphic=steelborder2,0

[com_10826]
type=graphic
width=25
height=30
layer=com_10821
graphic=steelborder,0

[com_10827]
type=graphic
x=53
width=25
height=30
layer=com_10821
graphic=steelborder,1

[com_10828]
type=graphic
y=13
width=25
height=30
layer=com_10821
graphic=steelborder,2

[com_10829]
type=graphic
x=53
y=13
width=25
height=30
layer=com_10821
graphic=steelborder,3

[com_10830]
type=graphic
x=21
y=22
width=36
height=36
layer=com_10821
graphic=miscgraphics,3

[com_10831]
type=text
x=338
y=66
width=68
height=11
layer=com_10755
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_10832]
type=text
x=32
y=40
width=66
height=14
layer=com_10834
buttontype=5
textfont=p12_full
text=30 seconds
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_10833]
type=graphic
x=10
y=40
width=14
height=15
layer=com_10834
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 1

[com_10834]
type=layer
x=296
y=94
width=99
height=95
layer=com_10755

[com_10835]
type=graphic
x=10
y=60
width=14
height=15
layer=com_10834
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 2

[com_10836]
type=graphic
x=10
y=80
width=14
height=15
layer=com_10834
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 3

[com_10837]
type=graphic
x=10
y=20
width=14
height=15
layer=com_10834
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 0

[com_10838]
type=text
x=32
y=60
width=47
height=14
layer=com_10834
buttontype=5
textfont=p12_full
text=1 minute
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_10839]
type=text
x=32
y=80
width=56
height=14
layer=com_10834
buttontype=5
textfont=p12_full
text=2 minutes
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_10840]
type=text
x=32
y=20
width=64
height=14
layer=com_10834
buttontype=5
textfont=p12_full
text=15 seconds
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_10841]
type=text
x=11
y=1
width=82
height=14
layer=com_10834
textfont=p12_full
text=Time per move:
textshadow=yes
colour=0xaa8822

[com_10842]
type=layer
x=97
y=89
width=191
height=179
layer=com_10755

[com_10843]
type=graphic
x=10
y=34
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 1

[com_10844]
type=model
x=29
y=25
width=34
height=32
layer=com_10842
buttontype=5
model=model_2399
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10845]
type=text
x=10
y=3
width=78
height=14
layer=com_10842
textfont=p12_full
text=Choose piece:
textshadow=yes
colour=0xaa8822

[com_10846]
type=model
x=29
y=65
width=34
height=32
layer=com_10842
buttontype=5
model=model_2652
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10847]
type=model
x=29
y=105
width=34
height=32
layer=com_10842
buttontype=5
model=model_2737
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10848]
type=model
x=29
y=145
width=34
height=32
layer=com_10842
buttontype=5
model=model_2405
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10849]
type=model
x=92
y=25
width=34
height=32
layer=com_10842
buttontype=5
model=model_2481
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10850]
type=model
x=92
y=65
width=34
height=32
layer=com_10842
buttontype=5
model=model_2340
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10851]
type=model
x=92
y=105
width=34
height=32
layer=com_10842
buttontype=5
model=model_2734
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10852]
type=model
x=92
y=145
width=34
height=32
layer=com_10842
buttontype=5
model=model_2707
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10853]
type=model
x=155
y=24
width=34
height=32
layer=com_10842
buttontype=5
model=model_2382
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10854]
type=model
x=155
y=65
width=34
height=31
layer=com_10842
buttontype=5
model=model_2735
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10855]
type=model
x=155
y=105
width=34
height=32
layer=com_10842
buttontype=5
model=model_2665
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10856]
type=model
x=155
y=145
width=34
height=32
layer=com_10842
buttontype=5
model=model_2434
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_10857]
type=graphic
x=10
y=74
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 2

[com_10858]
type=graphic
x=10
y=114
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 3

[com_10859]
type=graphic
x=10
y=154
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 4

[com_10860]
type=graphic
x=73
y=34
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 5

[com_10861]
type=graphic
x=73
y=74
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 6

[com_10862]
type=graphic
x=73
y=114
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 7

[com_10863]
type=graphic
x=73
y=154
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 8

[com_10864]
type=graphic
x=136
y=34
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 9

[com_10865]
type=graphic
x=136
y=74
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 10

[com_10866]
type=graphic
x=136
y=114
width=15
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 11

[com_10867]
type=graphic
x=136
y=154
width=14
height=15
layer=com_10842
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 12

[com_10868]
type=text
x=329
y=248
width=41
height=14
layer=com_10755
buttontype=1
textfont=p12_full
text=Ranked
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_10869]
type=graphic
x=307
y=248
width=14
height=15
layer=com_10755
buttontype=4
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_68 = 1

