[com_0]
type=rectangle
x=-3
y=-1
width=520
height=336
colour=0x2b2b14
fill=yes

[com_1]
type=model
x=224
y=211
width=32
height=32
model=model_25890
modelangle=143,0,0
modelzoom=867

[com_2]
type=layer
width=515
height=336
hide=yes

[com_3]
type=model
x=224
y=211
width=32
height=32
layer=com_2
model=model_25889
modelangle=143,0,0
modelzoom=867

[com_4]
type=layer
x=61
y=172
width=400
height=120

[com_5]
type=layer
x=44
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_7

[com_6]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25892
modelangle=143,0,0
modelzoom=867

[com_7]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_8]
type=model
x=164
y=38
width=32
height=32
layer=com_7
model=model_25902
modelangle=143,0,0
modelzoom=867

[com_9]
type=layer
x=69
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_11

[com_10]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25903
modelangle=143,0,0
modelzoom=867

[com_11]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_12]
type=model
x=163
y=38
width=32
height=32
layer=com_11
model=model_25904
modelangle=143,0,0
modelzoom=867

[com_13]
type=layer
x=90
y=48
width=20
height=20
layer=com_4
mouseoverlayer=com_15

[com_14]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25905
modelangle=143,0,0
modelzoom=867

[com_15]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_16]
type=model
x=163
y=38
width=32
height=32
layer=com_15
model=model_25906
modelangle=143,0,0
modelzoom=867

[com_17]
type=layer
x=112
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_23

[com_18]
type=model
x=164
y=38
width=32
height=32
layer=com_4
mouseoverlayer=com_5
model=model_25907
modelangle=143,0,0
modelzoom=867

[com_19]
type=layer
x=133
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_21

[com_20]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25909
modelangle=143,0,0
modelzoom=867

[com_21]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_22]
type=model
x=163
y=38
width=32
height=32
layer=com_21
model=model_25910
modelangle=143,0,0
modelzoom=867

[com_23]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_24]
type=model
x=164
y=38
width=32
height=32
layer=com_23
model=model_25908
modelangle=143,0,0
modelzoom=867

[com_25]
type=layer
x=154
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_27

[com_26]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25911
modelangle=143,0,0
modelzoom=867

[com_27]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_28]
type=model
x=164
y=38
width=32
height=32
layer=com_27
model=model_25912
modelangle=143,0,0
modelzoom=867

[com_29]
type=layer
x=174
y=49
width=20
height=20
layer=com_4
mouseoverlayer=com_31

[com_30]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25913
modelangle=143,0,0
modelzoom=867

[com_31]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_32]
type=model
x=164
y=38
width=32
height=32
layer=com_31
model=model_25914
modelangle=143,0,0
modelzoom=867

[com_33]
type=layer
x=216
y=51
width=20
height=20
layer=com_4
mouseoverlayer=com_35

[com_34]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25917
modelangle=143,0,0
modelzoom=867

[com_35]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_36]
type=model
x=163
y=38
width=32
height=32
layer=com_35
model=model_25918
modelangle=143,0,0
modelzoom=867

[com_37]
type=layer
x=194
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_39

[com_38]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25915
modelangle=143,0,0
modelzoom=867

[com_39]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_40]
type=model
x=164
y=38
width=32
height=32
layer=com_39
model=model_25916
modelangle=143,0,0
modelzoom=867

[com_41]
type=layer
x=237
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_43

[com_42]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25893
modelangle=143,0,0
modelzoom=867

[com_43]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_44]
type=model
x=164
y=38
width=32
height=32
layer=com_43
model=model_25891
modelangle=143,0,0
modelzoom=867

[com_45]
type=layer
x=323
y=51
width=20
height=20
layer=com_4
mouseoverlayer=com_47

[com_46]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25901
modelangle=143,0,0
modelzoom=867

[com_47]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_48]
type=model
x=164
y=38
width=32
height=32
layer=com_47
model=model_25900
modelangle=143,0,0
modelzoom=867

[com_49]
type=layer
x=302
y=51
width=20
height=20
layer=com_4
mouseoverlayer=com_51

[com_50]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25899
modelangle=143,0,0
modelzoom=867

[com_51]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_52]
type=model
x=164
y=38
width=32
height=32
layer=com_51
model=model_25898
modelangle=143,0,0
modelzoom=867

[com_53]
type=layer
x=279
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_55

[com_54]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25897
modelangle=143,0,0
modelzoom=867

[com_55]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_56]
type=model
x=163
y=38
width=32
height=32
layer=com_55
model=model_25896
modelangle=143,0,0
modelzoom=867

[com_57]
type=layer
x=259
y=50
width=20
height=20
layer=com_4
mouseoverlayer=com_59

[com_58]
type=model
x=164
y=38
width=32
height=32
layer=com_4
model=model_25895
modelangle=143,0,0
modelzoom=867

[com_59]
type=layer
width=400
height=120
layer=com_4
hide=yes

[com_60]
type=model
x=164
y=38
width=32
height=32
layer=com_59
model=model_25894
modelangle=143,0,0
modelzoom=867

[com_61]
type=layer
x=344
y=31
width=20
height=20
layer=com_4
mouseoverlayer=com_63

[com_62]
type=model
x=-181
y=8
width=32
height=32
layer=com_61
model=model_25886
modelangle=143,0,0
modelzoom=867

[com_63]
type=layer
x=344
y=30
width=20
height=20
layer=com_4
hide=yes

[com_64]
type=model
x=-181
y=9
width=32
height=32
layer=com_63
model=model_25885
modelangle=143,0,0
modelzoom=867

[com_65]
type=graphic
x=467
y=26
width=26
height=23
mouseoverlayer=com_67
graphic="close_buttons,4"

[com_66]
type=graphic
x=3
y=5
width=26
height=23
layer=com_67
buttontype=1
graphic="close_buttons,5"

[com_67]
type=layer
x=464
y=21
width=32
height=32
hide=yes

[com_68]
type=rectangle
x=108
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower C

[com_69]
type=rectangle
x=129
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower D

[com_70]
type=rectangle
x=150
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower E

[com_71]
type=rectangle
x=171
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower F

[com_72]
type=rectangle
x=192
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower G

[com_73]
type=rectangle
x=213
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower A

[com_74]
type=rectangle
x=234
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower B

[com_75]
type=rectangle
x=255
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper C

[com_76]
type=rectangle
x=276
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper D

[com_77]
type=rectangle
x=297
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper E

[com_78]
type=rectangle
x=318
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper F

[com_79]
type=rectangle
x=339
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper G

[com_80]
type=rectangle
x=360
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper A

[com_81]
type=rectangle
x=381
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper B

[com_82]
type=rectangle
x=405
y=201
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Demo

[com_83]
type=layer
x=192
y=42
width=130
height=80
hide=yes

[com_84]
type=rectangle
x=14
y=8
width=91
height=41
layer=com_83
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Open compartment

[com_85]
type=layer
x=192
y=42
width=130
height=80
hide=yes

[com_86]
type=rectangle
x=14
y=8
width=91
height=41
layer=com_85
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Search compartment

