[com_0]
type=model
x=259
y=85
width=32
height=32
model=model_9374
modelangle=295,0,0
modelzoom=246

[com_1]
type=model
x=259
y=85
width=32
height=32
model=model_9380
modelangle=295,0,0
modelzoom=246
modelanim=seq_2675
modelanimactive=seq_2675

[com_2]
type=model
x=255
y=84
width=32
height=32
model=model_9376
modelangle=293,0,0
modelzoom=246
modelanim=seq_2684
modelanimactive=seq_2684

[com_3]
type=model
x=205
y=75
width=32
height=32
model=model_9376
modelangle=295,110,0
modelzoom=246
modelanim=seq_2684
modelanimactive=seq_2684

[com_4]
type=model
x=259
y=85
width=32
height=32
model=model_9379
modelangle=295,0,0
modelzoom=246
modelanim=seq_2684
modelanimactive=seq_2684

[com_5]
type=graphic
x=178
y=150
width=66
height=40
buttontype=1
buttontext=Turn anti-clockwise

[com_6]
type=graphic
x=278
y=150
width=66
height=40
buttontype=1
buttontext=Turn clockwise

[com_7]
type=model
x=259
y=85
width=32
height=32
model=model_9381
modelactive=model_9382
modelangle=295,0,0
modelzoom=246
script=varplayer_261 = 1

[com_8]
type=model
x=259
y=85
width=32
height=32
model=model_9377
modelactive=model_9378
modelangle=295,0,0
modelzoom=246
script=varplayer_261 = 2

[com_9]
type=text
x=428
y=12
width=74
height=14
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00

