[com_904]
type=layer
width=512
height=334

[com_905]
type=graphic
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 1

[com_906]
type=graphic
x=11
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 1

[com_907]
type=graphic
x=46
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 2

[com_908]
type=graphic
x=57
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 2

[com_909]
type=graphic
x=92
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 3

[com_910]
type=graphic
x=103
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 3

[com_911]
type=graphic
x=139
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 4

[com_912]
type=graphic
x=153
y=40
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 4

[com_913]
type=graphic
x=48
y=104
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_170 = 0

[com_914]
type=graphic
x=10
y=104
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_170 = 1

[com_915]
type=graphic
x=105
y=104
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_171 = 0

[com_916]
type=graphic
x=143
y=104
width=36
height=36
layer=com_904
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_171 = 1

[com_917]
type=text
x=49
y=4
width=90
height=14
layer=com_904
textfont=b12_full
text=Game Options
textshadow=yes
colour=0x00ffff

[com_918]
type=text
x=41
y=24
width=104
height=14
layer=com_904
textfont=p12_full
text=Screen Brightness
textshadow=yes

[com_919]
type=text
x=12
y=53
width=23
height=11
layer=com_904
textfont=p11_full
text=Dark
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_920]
type=text
x=52
y=53
width=34
height=11
layer=com_904
textfont=p11_full
text=Normal
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_921]
type=text
x=100
y=53
width=31
height=11
layer=com_904
textfont=p11_full
text=Bright
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_922]
type=text
x=142
y=53
width=43
height=11
layer=com_904
textfont=p11_full
text=V-Bright
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_923]
type=text
x=6
y=85
width=85
height=14
layer=com_904
textfont=p12_full
text=Mouse Buttons
textshadow=yes

[com_924]
type=text
x=56
y=114
width=19
height=14
layer=com_904
textfont=p12_full
text=Two
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_925]
type=text
x=17
y=114
width=22
height=14
layer=com_904
textfont=p12_full
text=One
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_926]
type=text
x=106
y=85
width=72
height=14
layer=com_904
textfont=p12_full
text=Chat Effects
textshadow=yes

[com_927]
type=text
x=151
y=114
width=20
height=14
layer=com_904
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_928]
type=text
x=115
y=114
width=15
height=14
layer=com_904
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_929]
type=text
x=6
y=151
width=40
height=26
layer=com_904
textfont=p12_full
text=Music\nVolume
textalignh=centre
textshadow=yes

[com_930]
type=graphic
x=52
y=152
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_168 = 4

[com_931]
type=graphic
x=78
y=152
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_168 = 3

[com_932]
type=graphic
x=104
y=152
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_168 = 2

[com_933]
type=graphic
x=130
y=152
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_168 = 1

[com_934]
type=graphic
x=156
y=152
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_168 = 0

[com_935]
type=text
x=56
y=159
width=17
height=11
layer=com_904
textfont=p11_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_936]
type=text
x=88
y=159
width=4
height=11
layer=com_904
textfont=p11_full
text=1
textshadow=yes
colour=0xffff00

[com_937]
type=text
x=113
y=159
width=7
height=11
layer=com_904
textfont=p11_full
text=2
textshadow=yes
colour=0xffff00

[com_938]
type=text
x=139
y=159
width=6
height=11
layer=com_904
textfont=p11_full
text=3
textshadow=yes
colour=0xffff00

[com_939]
type=text
x=166
y=159
width=5
height=11
layer=com_904
textfont=p11_full
text=4
textshadow=yes
colour=0xffff00

[com_940]
type=text
x=6
y=186
width=40
height=26
layer=com_904
textfont=p12_full
text=Effect\nVolume
textalignh=centre
textshadow=yes

[com_941]
type=graphic
x=52
y=187
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_169 = 4

[com_942]
type=graphic
x=78
y=187
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_169 = 3

[com_943]
type=graphic
x=104
y=187
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_169 = 2

[com_944]
type=graphic
x=130
y=187
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_169 = 1

[com_945]
type=graphic
x=156
y=187
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_169 = 0

[com_946]
type=text
x=56
y=194
width=17
height=11
layer=com_904
textfont=p11_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_947]
type=text
x=88
y=194
width=4
height=11
layer=com_904
textfont=p11_full
text=1
textshadow=yes
colour=0xffff00

[com_948]
type=text
x=113
y=194
width=7
height=11
layer=com_904
textfont=p11_full
text=2
textshadow=yes
colour=0xffff00

[com_949]
type=text
x=139
y=194
width=6
height=11
layer=com_904
textfont=p11_full
text=3
textshadow=yes
colour=0xffff00

[com_950]
type=text
x=166
y=194
width=5
height=11
layer=com_904
textfont=p11_full
text=4
textshadow=yes
colour=0xffff00

[com_951]
type=text
x=6
y=221
width=40
height=26
layer=com_904
textfont=p12_full
text=Jingle\nVolume
textalignh=centre
textshadow=yes

[com_952]
type=graphic
x=52
y=222
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_167 = 4

[com_953]
type=graphic
x=78
y=222
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_167 = 3

[com_954]
type=graphic
x=104
y=222
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_167 = 2

[com_955]
type=graphic
x=130
y=222
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_167 = 1

[com_956]
type=graphic
x=156
y=222
width=25
height=25
layer=com_904
buttontype=5
graphic=miscgraphics3,0
graphicactive=miscgraphics3,1
script=varplayer_167 = 0

[com_957]
type=text
x=56
y=229
width=17
height=11
layer=com_904
textfont=p11_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_958]
type=text
x=88
y=229
width=4
height=11
layer=com_904
textfont=p11_full
text=1
textshadow=yes
colour=0xffff00

[com_959]
type=text
x=113
y=229
width=7
height=11
layer=com_904
textfont=p11_full
text=2
textshadow=yes
colour=0xffff00

[com_960]
type=text
x=139
y=229
width=6
height=11
layer=com_904
textfont=p11_full
text=3
textshadow=yes
colour=0xffff00

[com_961]
type=text
x=166
y=229
width=5
height=11
layer=com_904
textfont=p11_full
text=4
textshadow=yes
colour=0xffff00

