[com_0]
type=model
x=369
y=424
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=692

[com_1]
type=text
x=190
y=431
width=400
height=40
textfont=q8_full
textalignh=centre
textalignv=centre
colour=0x000000

[com_2]
type=text
x=190
y=411
width=400
height=14
textfont=p12_full
text=Message of the week
textalignh=centre
colour=0x800000

[com_3]
type=model
x=65
y=479
width=32
height=32
model=model_10232
modelangle=120,228,0
modelzoom=687
modelanim=seq_2921

[com_4]
type=model
x=679
y=468
width=32
height=32
model=model_10234
modelangle=105,144,0
modelzoom=727

[com_5]
type=model
x=10
y=434
width=32
height=32
model=model_10229
modelangle=528,0,0
modelzoom=2135

[com_6]
type=model
x=41
y=434
width=32
height=32
model=model_10229
modelangle=528,0,0
modelzoom=2135

[com_7]
type=model
x=72
y=434
width=32
height=32
model=model_10229
modelangle=528,0,0
modelzoom=2135

[com_8]
type=model
x=103
y=434
width=32
height=32
model=model_10229
modelangle=528,0,0
modelzoom=2135

[com_9]
type=model
x=133
y=434
width=32
height=32
model=model_10229
modelangle=528,0,0
modelzoom=2135

[com_10]
type=model
x=605
y=434
width=32
height=32
model=model_10230
modelangle=528,0,0
modelzoom=2135

[com_11]
type=model
x=636
y=434
width=32
height=32
model=model_10230
modelangle=528,0,0
modelzoom=2135

[com_12]
type=model
x=667
y=434
width=32
height=32
model=model_10230
modelangle=528,0,0
modelzoom=2135

[com_13]
type=model
x=698
y=434
width=32
height=32
model=model_10230
modelangle=528,0,0
modelzoom=2135

[com_14]
type=model
x=728
y=434
width=32
height=32
model=model_10230
modelangle=528,0,0
modelzoom=2135

