[com_2156]
type=layer
width=512
height=334

[com_2157]
type=graphic
x=12
y=20
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2158]
type=graphic
x=12
y=80
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2159]
type=graphic
x=12
y=140
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2160]
type=graphic
x=12
y=200
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2161]
type=graphic
x=12
y=260
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2162]
type=graphic
x=100
y=20
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2163]
type=graphic
x=100
y=80
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2164]
type=graphic
x=100
y=140
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2165]
type=graphic
x=100
y=200
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2166]
type=graphic
x=188
y=20
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2167]
type=graphic
x=100
y=260
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2168]
type=graphic
x=188
y=80
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2169]
type=graphic
x=188
y=140
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2170]
type=graphic
x=188
y=200
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2171]
type=graphic
x=188
y=260
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2172]
type=graphic
x=276
y=20
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2173]
type=graphic
x=364
y=80
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2174]
type=graphic
x=276
y=80
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2175]
type=graphic
x=276
y=140
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2176]
type=graphic
x=276
y=200
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2177]
type=graphic
x=276
y=260
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2178]
type=graphic
x=364
y=140
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2179]
type=graphic
x=364
y=20
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2180]
type=graphic
x=364
y=200
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2181]
type=graphic
x=364
y=260
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2182]
type=graphic
x=412
y=20
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2183]
type=graphic
x=412
y=80
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2184]
type=graphic
x=412
y=140
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2185]
type=graphic
x=412
y=200
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2186]
type=graphic
x=412
y=260
width=88
height=60
layer=com_2156
graphic=tradebacking,0

[com_2187]
type=graphic
x=12
y=20
width=25
height=30
layer=com_2156
graphic=steelborder,0

[com_2188]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2189]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2190]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2191]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2192]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2193]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2194]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_2156
graphic=miscgraphics,2

[com_2195]
type=graphic
x=479
y=50
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2196]
type=graphic
x=479
y=86
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2197]
type=graphic
x=479
y=122
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2198]
type=graphic
x=479
y=158
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2199]
type=graphic
x=479
y=194
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2200]
type=graphic
x=479
y=230
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2201]
type=graphic
x=479
y=266
width=36
height=36
layer=com_2156
graphic=steelborder2,1

[com_2202]
type=graphic
x=73
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2203]
type=graphic
x=109
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2204]
type=graphic
x=145
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2205]
type=graphic
x=181
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2206]
type=graphic
x=217
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2207]
type=graphic
x=253
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2208]
type=graphic
x=289
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2209]
type=graphic
x=325
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2210]
type=graphic
x=361
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2211]
type=graphic
x=397
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2212]
type=graphic
x=433
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2213]
type=graphic
x=72
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2214]
type=graphic
x=108
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2215]
type=graphic
x=144
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2216]
type=graphic
x=180
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2217]
type=graphic
x=216
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2218]
type=graphic
x=252
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2219]
type=graphic
x=288
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2220]
type=graphic
x=324
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2221]
type=graphic
x=360
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2222]
type=graphic
x=396
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2223]
type=graphic
x=432
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2224]
type=graphic
x=252
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2225]
type=graphic
x=37
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2226]
type=graphic
x=37
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2227]
type=graphic
x=12
y=290
width=25
height=30
layer=com_2156
graphic=steelborder,2

[com_2228]
type=graphic
x=475
y=20
width=25
height=30
layer=com_2156
graphic=steelborder,1

[com_2229]
type=graphic
x=439
y=5
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2230]
type=graphic
x=475
y=290
width=25
height=30
layer=com_2156
graphic=steelborder,3

[com_2231]
type=graphic
x=439
y=299
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2232]
type=graphic
x=288
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2233]
type=graphic
x=324
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2234]
type=graphic
x=360
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2235]
type=graphic
x=396
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2236]
type=graphic
x=432
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2237]
type=graphic
x=459
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2238]
type=graphic
x=216
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2239]
type=graphic
x=180
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2240]
type=graphic
x=144
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2241]
type=graphic
x=108
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2242]
type=graphic
x=72
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2243]
type=graphic
x=36
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2244]
type=graphic
x=17
y=34
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2245]
type=layer
x=36
y=20
width=440
height=299
layer=com_2156

[com_2246]
type=rectangle
x=385
y=3
width=68
height=25
layer=com_2251
buttontype=1
colour=0x000000
fill=yes

[com_2247]
type=text
x=400
y=8
width=39
height=14
layer=com_2251
textfont=p12_full
text=Accept
textshadow=yes
colour=0x929cfe

[com_2248]
type=text
x=190
y=31
width=112
height=14
layer=com_2156
textfont=b12_full
text=Party Drop Chest
textshadow=yes
colour=0x929cfe

[com_2249]
type=text
x=415
y=32
width=68
height=11
layer=com_2156
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_2250]
type=layer
x=39
y=61
width=433
height=170
layer=com_2156
scrollheight=940

[com_2251]
type=layer
x=30
y=263
width=453
height=41
layer=com_2156

[com_2252]
type=graphic
x=16
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2253]
type=graphic
x=52
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2254]
type=graphic
x=124
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2255]
type=graphic
x=88
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2256]
type=graphic
x=412
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2257]
type=graphic
x=376
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2258]
type=graphic
x=340
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2259]
type=graphic
x=304
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2260]
type=graphic
x=160
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2261]
type=graphic
x=268
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2262]
type=graphic
x=232
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2263]
type=graphic
x=196
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2264]
type=graphic
x=448
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2265]
type=graphic
x=460
y=225
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2266]
type=text
x=103
y=-129
width=24
height=14
layer=com_2251
textfont=p12_full
text=Text
textshadow=yes
colour=0xffff00

[com_2267]
type=graphic
x=409
y=267
width=25
height=30
layer=com_2156
graphic=steelborder,2

[com_2268]
type=graphic
x=409
y=261
width=4
height=29
layer=com_2156
graphic=steelborder,0

[com_2269]
type=graphic
x=463
y=261
width=25
height=30
layer=com_2156
graphic=steelborder,1

[com_2270]
type=graphic
x=433
y=276
width=36
height=36
layer=com_2156
graphic=miscgraphics,3

[com_2271]
type=graphic
x=463
y=267
width=25
height=30
layer=com_2156
graphic=steelborder,3

[com_2272]
type=graphic
x=433
y=246
width=36
height=36
layer=com_2156
graphic=steelborder2,0

[com_2273]
type=inv
x=13
y=18
width=9
height=24
layer=com_2250
draggable=yes
paddingx=15
paddingy=6

[com_2274]
type=inv
x=6
y=1
width=8
height=1
layer=com_2251
paddingx=15
paddingy=6
op1=Withdraw 1
op2=Withdraw 5
op3=Withdraw 10
op4=Withdraw All
op5=Withdraw X

[com_2275]
type=text
x=87
y=301
width=305
height=11
layer=com_2156
textfont=p11_full
text=(Once you press Accept items can't be taken out of the chest!)
colour=0x808080

