[com_3213]
type=layer
width=512
height=334

[com_3214]
type=inv
x=16
y=8
width=4
height=7
layer=com_3213
draggable=yes
interactable=yes
usable=yes
paddingx=10
paddingy=4

