[com_0]
type=model
x=240
y=139
width=32
height=28
model=model_3032
modelangle=502,2047,0
modelzoom=554

[com_1]
type=text
x=157
y=73
width=220
height=18
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xff9933
colouractive=0x453c26

[com_2]
type=text
x=96
y=90
width=325
height=29
textfont=p12_full
text=You have completed Death Plateau!
textlineheight=14
textalignh=centre
textalignv=centre
colour=0x3b2e22

[com_3]
type=model
x=72
y=133
width=85
height=105
model=null
modelangle=11,1849,0
modelzoom=1500

[com_4]
type=text
x=181
y=255
width=131
height=15
textfont=p12_full
text=Quest Points:
textalignh=centre
textshadow=yes
colour=0xff9933

[com_5]
type=text
x=316
y=255
width=17
height=15
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff9933
script0=varplayer_101

[com_6]
type=model
x=390
y=206
width=32
height=32
model=model_3037
modelangle=500,0,0
modelzoom=800

[com_7]
type=text
x=157
y=119
width=213
height=16
textfont=p12_full
text=You are awarded:
textalignh=centre
colour=0x3b242c

[com_8]
type=text
x=157
y=136
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_9]
type=text
x=157
y=151
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_10]
type=text
x=157
y=166
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_11]
type=text
x=157
y=181
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_12]
type=text
x=157
y=196
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_13]
type=text
x=157
y=211
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_14]
type=text
x=157
y=226
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

[com_15]
type=graphic
x=424
y=62
width=26
height=23
mouseoverlayer=com_17
graphic="close_buttons,2"

[com_16]
type=graphic
x=4
y=4
width=26
height=23
layer=com_17
buttontype=3
graphic="close_buttons,3"

[com_17]
type=layer
x=420
y=58
width=32
height=32
hide=yes

[com_18]
type=text
x=157
y=241
width=213
height=14
textfont=p12_full
textalignh=centre
colour=0x3b2e22

