[com_569]
type=layer
width=512
height=334

[com_570]
type=model
x=239
y=145
width=35
height=35
layer=com_569
model=model_3035
modelangle=395,0,0
modelzoom=525

[com_571]
type=layer
x=300
y=80
width=135
height=167
layer=com_569
hide=yes

[com_572]
type=graphic
width=45
height=36
layer=com_573
buttontype=1
graphic=rightarrow,0

[com_573]
type=layer
x=432
y=259
width=45
height=36
layer=com_569

[com_574]
type=text
width=135
height=17
layer=com_571
textfont=q8_full
text=Cocktail Index
textalignh=centre
colour=0x000080

[com_575]
type=text
y=30
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Blurberry Special
textalignh=centre
colour=0x000000

[com_576]
type=text
y=50
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Chocolate Saturday
textalignh=centre
colour=0x000000

[com_577]
type=text
y=70
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Drunk Dragon
textalignh=centre
colour=0x000000

[com_578]
type=text
y=90
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Fruit Blast
textalignh=centre
colour=0x000000

[com_579]
type=text
y=110
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Pineapple Punch
textalignh=centre
colour=0x000000

[com_580]
type=text
y=130
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Short Green Guy
textalignh=centre
colour=0x000000

[com_581]
type=text
y=150
width=135
height=17
layer=com_571
buttontype=1
textfont=q8_full
text=Wizard Blizzard
textalignh=centre
colour=0x000000

[com_582]
type=layer
x=47
y=80
width=409
height=209
layer=com_569

[com_583]
type=text
x=15
width=163
height=17
layer=com_582
textfont=q8_full
text=Gnome Bowls
textalignh=centre
colour=0x000080

[com_584]
type=text
x=12
y=32
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Chocolate Bomb
textalignh=centre
colour=0x000000

[com_585]
type=text
x=11
y=48
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Tangled Toad's Legs
textalignh=centre
colour=0x000000

[com_586]
type=text
x=10
y=64
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Worm Hole
textalignh=centre
colour=0x000000

[com_587]
type=text
x=9
y=80
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Veg Ball
textalignh=centre
colour=0x000000

[com_588]
type=text
x=6
y=112
width=163
height=17
layer=com_582
textfont=q8_full
text=Gnome Crunchies
textalignh=centre
colour=0x000080

[com_589]
type=text
x=3
y=144
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Worm Crunchies
textalignh=centre
colour=0x000000

[com_590]
type=text
x=2
y=160
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Choc Chip Crunchies
textalignh=centre
colour=0x000000

[com_591]
type=text
x=1
y=176
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Spicy Crunchies
textalignh=centre
colour=0x000000

[com_592]
type=text
y=192
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Toad Crunchies
textalignh=centre
colour=0x000000

[com_593]
type=text
x=239
width=163
height=17
layer=com_582
textfont=q8_full
text=Gnome Battas
textalignh=centre
colour=0x000080

[com_594]
type=text
x=242
y=32
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Worm Batta
textalignh=centre
colour=0x000000

[com_595]
type=text
x=243
y=48
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Toad's Legs Batta
textalignh=centre
colour=0x000000

[com_596]
type=text
x=244
y=64
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Cheese & Tomato Batta
textalignh=centre
colour=0x000000

[com_597]
type=text
x=245
y=80
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Fruit Batta
textalignh=centre
colour=0x000000

[com_598]
type=text
x=246
y=96
width=163
height=17
layer=com_582
buttontype=1
textfont=q8_full
text=Vegetable Batta
textalignh=centre
colour=0x000000

[com_599]
type=layer
x=12
y=20
width=488
height=36
layer=com_569

[com_600]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_599
graphic=tradebacking,0

[com_601]
type=graphic
x=182
y=6
width=88
height=60
layer=com_599
graphic=tradebacking,0

[com_602]
type=graphic
x=270
y=6
width=88
height=60
layer=com_599
graphic=tradebacking,0

[com_603]
type=graphic
x=358
y=6
width=88
height=60
layer=com_599
graphic=tradebacking,0

[com_604]
type=graphic
x=394
y=6
width=88
height=60
layer=com_599
graphic=tradebacking,0

[com_605]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_599
graphic=tradebacking,0

[com_606]
type=graphic
x=60
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_607]
type=graphic
x=96
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_608]
type=graphic
x=132
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_609]
type=graphic
x=168
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_610]
type=graphic
x=204
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_611]
type=graphic
x=240
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_612]
type=graphic
x=276
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_613]
type=graphic
x=312
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_614]
type=graphic
x=348
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_615]
type=graphic
x=384
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_616]
type=graphic
x=420
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_617]
type=graphic
x=428
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_618]
type=graphic
width=25
height=30
layer=com_599
graphic=steelborder,0

[com_619]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_620]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_621]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_622]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_623]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_624]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_625]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_626]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_627]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_628]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_629]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_630]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_631]
type=graphic
x=463
width=25
height=30
layer=com_599
graphic=steelborder,1

[com_632]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_599
graphic=steelborder2,0

[com_633]
type=graphic
x=463
y=7
width=25
height=30
layer=com_599
graphic=steelborder,3

[com_634]
type=graphic
x=25
y=16
width=36
height=36
layer=com_599
graphic=miscgraphics,3

[com_635]
type=graphic
y=7
width=25
height=30
layer=com_599
graphic=steelborder,2

[com_636]
type=text
x=75
y=30
width=360
height=14
layer=com_569
textfont=b12_full
text=The Blurberry Cocktail Guide
textalignh=centre
textshadow=yes
colour=0xffff00

[com_637]
type=text
x=424
y=28
width=68
height=11
layer=com_569
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

