[com_0]
type=model
x=240
y=152
width=32
height=32
model=model_11312
modelangle=517,0,0
modelzoom=434

[com_1]
type=model
x=138
y=256
width=32
height=32
buttontype=1
model=model_11311
modelangle=517,0,0
modelzoom=450

[com_2]
type=model
x=187
y=257
width=32
height=32
buttontype=1
model=model_11307
modelangle=519,0,0
modelzoom=450

[com_3]
type=model
x=240
y=257
width=32
height=32
buttontype=1
model=model_11308
modelangle=519,0,0
modelzoom=450

[com_4]
type=model
x=294
y=258
width=32
height=32
buttontype=1
model=model_11309
modelangle=519,0,0
modelzoom=450

[com_5]
type=model
x=343
y=258
width=32
height=32
buttontype=1
model=model_11310
modelangle=519,0,0
modelzoom=450

[com_6]
type=text
x=432
y=5
width=74
height=14
buttontype=1
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00

[com_7]
type=text
x=24
y=40
width=192
height=14
textfont=p12_full
text=Click arrow buttons to move taper.
textshadow=yes
colour=0xffff00

[com_8]
type=text
x=24
y=56
width=192
height=14
textfont=p12_full
text=Press the Light button to light the
textshadow=yes
colour=0xffff00

[com_9]
type=text
x=24
y=72
width=47
height=14
textfont=p12_full
text=candles.
textshadow=yes
colour=0xffff00

