[com_4959]
type=layer
width=512
height=334

[com_4963]
type=text
x=12
y=18
width=69
height=11
layer=com_4970
textfont=p11_full
text=Repair State :
textshadow=yes
colour=0xffff00

[com_4964]
type=text
x=82
y=18
width=26
height=11
layer=com_4970
textfont=p11_full
text=%1%
textshadow=yes
colour=0xffff00
script0=varplayer_343

[com_4965]
type=text
x=22
y=29
width=59
height=11
layer=com_4970
textfont=p11_full
text=Resources :
textshadow=yes
colour=0xffff00

[com_4966]
type=text
x=82
y=30
width=26
height=11
layer=com_4970
textfont=p11_full
text=%1%
textshadow=yes
colour=0xffff00
script0=varplayer_344

[com_4967]
type=text
x=37
y=41
width=44
height=11
layer=com_4970
textfont=p11_full
text=Sanctity:
textshadow=yes
colour=0xffff00

[com_4968]
type=text
x=82
y=42
width=26
height=11
layer=com_4970
textfont=p11_full
text=%1%
textshadow=yes
colour=0xffff00
script0=varplayer_345

[com_4969]
type=text
width=101
height=14
layer=com_4970
textfont=p12_full
text=* Temple Repair *
textshadow=yes
colour=0xffff00

[com_4970]
type=layer
x=381
y=21
width=108
height=53
layer=com_4959

