[com_15500]
type=layer
width=512
height=334

[com_15501]
type=rectangle
width=512
height=334
layer=com_15500
colour=0x2e211b

[com_15502]
type=model
x=86
y=85
width=32
height=32
layer=com_15500
model=model_6435
modelangle=9,1950,0
modelzoom=400

[com_15503]
type=model
x=411
y=80
width=32
height=32
layer=com_15500
model=model_10036
modelangle=17,125,0
modelzoom=400

[com_15504]
type=model
x=381
y=217
width=32
height=32
layer=com_15500
model=model_10095
modelangle=512,0,0
modelzoom=682

[com_15505]
type=model
x=98
y=217
width=32
height=32
layer=com_15500
model=model_10095
modelangle=512,0,0
modelzoom=682

[com_15506]
type=model
x=243
y=77
width=32
height=32
layer=com_15500
model=model_10094
modelangle=512,0,0
modelzoom=909

[com_15507]
type=graphic
x=220
y=188
width=72
height=36
layer=com_15500
buttontype=1
graphic=combatboxes,0

[com_15508]
type=graphic
x=220
y=239
width=72
height=36
layer=com_15500
buttontype=1
graphic=combatboxes,0

[com_15509]
type=text
x=70
y=184
width=80
height=17
layer=com_15500
textfont=q8_full
text=Players Cat
textalignh=centre
colour=0x000000

[com_15510]
type=text
x=351
y=184
width=98
height=17
layer=com_15500
textfont=q8_full
text=Opponents Cat
textalignh=centre
colour=0x000000

[com_15511]
type=text
x=252
y=86
width=16
height=14
layer=com_15500
textfont=b12_full
text=Vs
colour=0x000000

[com_15512]
type=text
x=235
y=199
width=40
height=14
layer=com_15500
textfont=p12_full
text=ACCEPT
textshadow=yes
colour=0x11d311

[com_15513]
type=text
x=234
y=250
width=43
height=14
layer=com_15500
textfont=p12_full
text=DECLINE
textshadow=yes
colour=0xac1414

[com_15514]
type=text
x=87
y=210
width=51
height=17
layer=com_15500
textfont=q8_full
text=Amount
textalignh=centre
colour=0xff981f

[com_15515]
type=text
x=375
y=210
width=51
height=17
layer=com_15500
textfont=q8_full
text=Amount
textalignh=centre
colour=0xff981f

[com_15516]
type=text
x=62
y=235
width=100
height=14
layer=com_15500
textfont=p12_full
text=0
textalignh=centre
textshadow=yes
colour=0xddd117

[com_15517]
type=text
x=352
y=235
width=100
height=14
layer=com_15500
textfont=p12_full
text=0
textalignh=centre
textshadow=yes
colour=0xddd117

[com_15518]
type=model
x=50
y=252
width=32
height=32
layer=com_15500
model=model_10044
modelangle=512,0,0
modelzoom=600

[com_15519]
type=model
x=146
y=252
width=32
height=32
layer=com_15500
model=model_10044
modelangle=512,0,0
modelzoom=600

[com_15520]
type=model
x=50
y=252
width=32
height=32
layer=com_15500
buttontype=4
model=model_10040
modelactive=model_10041
modelangle=450,0,0
modelzoom=600
buttontext=Decrease Amount.

[com_15521]
type=model
x=146
y=252
width=32
height=32
layer=com_15500
buttontype=5
model=model_10042
modelactive=model_10043
modelangle=450,0,0
modelzoom=600
buttontext=Increase Amount.

[com_15522]
type=layer
width=512
height=334
layer=com_15500
hide=yes

[com_15523]
type=rectangle
width=512
height=334
layer=com_15522
colour=0x000000
fill=yes

[com_15524]
type=graphic
x=220
y=188
width=72
height=36
layer=com_15522
buttontype=1
graphic=combatboxes,0
buttontext=Yes.

[com_15525]
type=graphic
x=220
y=238
width=72
height=36
layer=com_15522
buttontype=1
graphic=combatboxes,0
buttontext=No.

[com_15526]
type=text
x=245
y=201
width=20
height=14
layer=com_15522
textfont=p12_full
text=YES
textalignh=centre
textshadow=yes
colour=0x11d311

[com_15527]
type=text
x=248
y=249
width=16
height=14
layer=com_15522
textfont=p12_full
text=NO
textalignh=centre
textshadow=yes
colour=0xac1414

[com_15528]
type=text
x=180
y=145
width=152
height=14
layer=com_15522
textfont=p12_full
text=Do you really want to bet X!
textalignh=centre
colour=0xddd117

