[com_11367]
type=layer
width=512
height=334

[com_11368]
type=graphic
x=12
y=20
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11369]
type=graphic
x=15
y=80
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11370]
type=graphic
x=12
y=140
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11371]
type=graphic
x=12
y=200
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11372]
type=graphic
x=12
y=260
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11373]
type=graphic
x=100
y=20
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11374]
type=graphic
x=100
y=80
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11375]
type=graphic
x=100
y=140
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11376]
type=graphic
x=100
y=200
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11377]
type=graphic
x=188
y=20
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11378]
type=graphic
x=100
y=260
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11379]
type=graphic
x=188
y=80
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11380]
type=graphic
x=188
y=140
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11381]
type=graphic
x=188
y=200
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11382]
type=graphic
x=188
y=260
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11383]
type=graphic
x=276
y=20
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11384]
type=graphic
x=364
y=80
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11385]
type=graphic
x=276
y=80
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11386]
type=graphic
x=276
y=140
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11387]
type=graphic
x=276
y=200
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11388]
type=graphic
x=276
y=260
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11389]
type=graphic
x=364
y=140
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11390]
type=graphic
x=364
y=20
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11391]
type=graphic
x=359
y=200
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11392]
type=graphic
x=364
y=260
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11393]
type=graphic
x=412
y=20
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11394]
type=graphic
x=412
y=80
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11395]
type=graphic
x=412
y=140
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11396]
type=graphic
x=406
y=200
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11397]
type=graphic
x=412
y=260
width=88
height=60
layer=com_11367
graphic=tradebacking,0

[com_11398]
type=graphic
x=12
y=20
width=25
height=30
layer=com_11367
graphic=steelborder,0

[com_11399]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11400]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11401]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11402]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11403]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11404]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11405]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_11367
graphic=miscgraphics,2

[com_11406]
type=graphic
x=479
y=50
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11407]
type=graphic
x=479
y=86
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11408]
type=graphic
x=479
y=122
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11409]
type=graphic
x=479
y=158
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11410]
type=graphic
x=479
y=194
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11411]
type=graphic
x=479
y=230
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11412]
type=graphic
x=479
y=266
width=36
height=36
layer=com_11367
graphic=steelborder2,1

[com_11413]
type=graphic
x=73
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11414]
type=graphic
x=109
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11415]
type=graphic
x=145
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11416]
type=graphic
x=181
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11417]
type=graphic
x=217
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11418]
type=graphic
x=253
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11419]
type=graphic
x=289
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11420]
type=graphic
x=325
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11421]
type=graphic
x=361
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11422]
type=graphic
x=397
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11423]
type=graphic
x=433
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11424]
type=graphic
x=72
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11425]
type=graphic
x=108
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11426]
type=graphic
x=144
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11427]
type=graphic
x=180
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11428]
type=graphic
x=216
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11429]
type=graphic
x=252
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11430]
type=graphic
x=288
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11431]
type=graphic
x=324
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11432]
type=graphic
x=360
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11433]
type=graphic
x=396
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11434]
type=graphic
x=432
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11435]
type=graphic
x=252
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11436]
type=graphic
x=37
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11437]
type=graphic
x=37
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11438]
type=graphic
x=12
y=290
width=25
height=30
layer=com_11367
graphic=steelborder,2

[com_11439]
type=graphic
x=475
y=20
width=25
height=30
layer=com_11367
graphic=steelborder,1

[com_11440]
type=graphic
x=439
y=5
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11441]
type=graphic
x=475
y=290
width=25
height=30
layer=com_11367
graphic=steelborder,3

[com_11442]
type=graphic
x=439
y=299
width=36
height=36
layer=com_11367
graphic=miscgraphics,3

[com_11443]
type=graphic
x=288
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11444]
type=graphic
x=324
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11445]
type=graphic
x=360
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11446]
type=graphic
x=396
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11447]
type=graphic
x=432
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11448]
type=graphic
x=459
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11449]
type=graphic
x=216
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11450]
type=graphic
x=180
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11451]
type=graphic
x=144
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11452]
type=graphic
x=108
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11453]
type=graphic
x=72
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11454]
type=graphic
x=36
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11455]
type=graphic
x=17
y=34
width=36
height=36
layer=com_11367
graphic=steelborder2,0

[com_11456]
type=text
x=21
y=29
width=186
height=14
layer=com_11367
textfont=b12_full
text=Castle Wars Ticket Exchange
textshadow=yes
colour=0xccaa44

[com_11457]
type=text
x=423
y=29
width=68
height=11
layer=com_11367
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_12392]
type=inv
x=76
y=65
width=8
height=3
layer=com_11367
paddingx=15
paddingy=15
op1=Value
op2=Buy

[com_12393]
type=inv
x=217
y=159
width=1
height=1
layer=com_11367
op1=Value
op2=Buy

