[com_14918]
type=layer
width=512
height=334

[com_14919]
type=model
x=235
y=94
width=32
height=32
layer=com_14918
model=model_9856
modelangle=560,2037,0
modelzoom=510

