[com_14670]
type=layer
width=512
height=334

[com_14671]
type=graphic
x=12
y=20
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14672]
type=graphic
x=12
y=80
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14673]
type=graphic
x=12
y=140
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14674]
type=graphic
x=12
y=200
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14675]
type=graphic
x=12
y=260
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14676]
type=graphic
x=100
y=20
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14677]
type=graphic
x=100
y=80
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14678]
type=graphic
x=100
y=140
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14679]
type=graphic
x=100
y=200
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14680]
type=graphic
x=188
y=20
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14681]
type=graphic
x=100
y=260
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14682]
type=graphic
x=188
y=80
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14683]
type=graphic
x=188
y=140
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14684]
type=graphic
x=188
y=200
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14685]
type=graphic
x=188
y=260
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14686]
type=graphic
x=276
y=20
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14687]
type=graphic
x=364
y=80
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14688]
type=graphic
x=276
y=80
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14689]
type=graphic
x=276
y=140
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14690]
type=graphic
x=276
y=200
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14691]
type=graphic
x=276
y=259
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14692]
type=graphic
x=364
y=140
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14693]
type=graphic
x=364
y=20
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14694]
type=graphic
x=364
y=200
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14695]
type=graphic
x=364
y=260
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14696]
type=graphic
x=412
y=20
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14697]
type=graphic
x=412
y=80
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14698]
type=graphic
x=412
y=140
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14699]
type=graphic
x=412
y=200
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14700]
type=graphic
x=412
y=260
width=88
height=60
layer=com_14670
graphic=tradebacking,0

[com_14701]
type=graphic
x=12
y=20
width=25
height=30
layer=com_14670
graphic=steelborder,0

[com_14702]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14703]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14704]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14705]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14706]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14707]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14708]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_14670
graphic=miscgraphics,2

[com_14709]
type=graphic
x=479
y=50
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14710]
type=graphic
x=479
y=86
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14711]
type=graphic
x=479
y=122
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14712]
type=graphic
x=479
y=158
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14713]
type=graphic
x=479
y=194
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14714]
type=graphic
x=479
y=230
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14715]
type=graphic
x=479
y=266
width=36
height=36
layer=com_14670
graphic=steelborder2,1

[com_14716]
type=graphic
x=73
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14717]
type=graphic
x=109
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14718]
type=graphic
x=145
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14719]
type=graphic
x=181
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14720]
type=graphic
x=217
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14721]
type=graphic
x=253
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14722]
type=graphic
x=289
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14723]
type=graphic
x=325
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14724]
type=graphic
x=361
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14725]
type=graphic
x=397
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14726]
type=graphic
x=433
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14727]
type=graphic
x=72
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14728]
type=graphic
x=108
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14729]
type=graphic
x=144
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14730]
type=graphic
x=180
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14731]
type=graphic
x=216
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14732]
type=graphic
x=252
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14733]
type=graphic
x=288
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14734]
type=graphic
x=324
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14735]
type=graphic
x=360
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14736]
type=graphic
x=396
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14737]
type=graphic
x=432
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14738]
type=graphic
x=252
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14739]
type=graphic
x=37
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14740]
type=graphic
x=37
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14741]
type=graphic
x=12
y=290
width=25
height=30
layer=com_14670
graphic=steelborder,2

[com_14742]
type=graphic
x=475
y=20
width=25
height=30
layer=com_14670
graphic=steelborder,1

[com_14743]
type=graphic
x=439
y=5
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14744]
type=graphic
x=475
y=290
width=25
height=30
layer=com_14670
graphic=steelborder,3

[com_14745]
type=graphic
x=288
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14746]
type=graphic
x=439
y=299
width=36
height=36
layer=com_14670
graphic=miscgraphics,3

[com_14747]
type=graphic
x=324
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14748]
type=graphic
x=360
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14749]
type=graphic
x=396
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14750]
type=graphic
x=432
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14751]
type=graphic
x=459
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14752]
type=graphic
x=216
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14753]
type=graphic
x=180
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14754]
type=graphic
x=144
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14755]
type=graphic
x=108
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14756]
type=graphic
x=72
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14757]
type=graphic
x=36
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14758]
type=graphic
x=17
y=34
width=36
height=36
layer=com_14670
graphic=steelborder2,0

[com_14759]
type=text
x=135
y=30
width=231
height=14
layer=com_14670
textfont=b12_full
text=What hides would you like tanning?
textalignh=centre
colour=0xff981f

[com_14760]
type=text
x=423
y=32
width=68
height=11
layer=com_14670
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
colouractive=0xffffff
mouseovercolour=0xff7f00

[com_14761]
type=layer
x=40
y=56
width=96
height=128
layer=com_14670

[com_14762]
type=layer
x=152
y=56
width=96
height=128
layer=com_14670

[com_14763]
type=layer
x=264
y=56
width=96
height=128
layer=com_14670

[com_14764]
type=layer
x=376
y=56
width=96
height=128
layer=com_14670

[com_14765]
type=layer
x=40
y=184
width=96
height=128
layer=com_14670

[com_14766]
type=layer
x=152
y=184
width=96
height=128
layer=com_14670

[com_14767]
type=layer
x=264
y=184
width=96
height=128
layer=com_14670

[com_14768]
type=layer
x=376
y=184
width=96
height=128
layer=com_14670

[com_14769]
type=model
width=96
height=96
layer=com_14761
model=null
modelzoom=400

[com_14770]
type=model
width=96
height=96
layer=com_14762
model=null
modelzoom=400

[com_14771]
type=model
width=96
height=96
layer=com_14763
model=null
modelzoom=400

[com_14772]
type=model
width=96
height=96
layer=com_14764
model=null
modelzoom=400

[com_14773]
type=model
width=96
height=96
layer=com_14765
model=null
modelzoom=400

[com_14774]
type=model
width=96
height=96
layer=com_14766
model=null
modelzoom=400

[com_14775]
type=model
width=96
height=96
layer=com_14767
model=null
modelzoom=400

[com_14776]
type=model
width=96
height=96
layer=com_14768
model=null
modelzoom=400

[com_14777]
type=text
y=96
width=96
height=14
layer=com_14761
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14778]
type=text
y=96
width=96
height=14
layer=com_14762
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14779]
type=text
y=96
width=96
height=14
layer=com_14763
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14780]
type=text
y=96
width=96
height=14
layer=com_14764
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14781]
type=text
y=96
width=96
height=14
layer=com_14765
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14782]
type=text
y=96
width=96
height=14
layer=com_14766
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14783]
type=text
y=96
width=96
height=14
layer=com_14767
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14784]
type=text
y=96
width=96
height=14
layer=com_14768
textfont=p12_full
text=Hide
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14785]
type=text
y=111
width=96
height=14
layer=com_14761
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14786]
type=text
y=111
width=96
height=14
layer=com_14762
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14787]
type=text
y=111
width=96
height=14
layer=com_14763
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14788]
type=text
y=111
width=96
height=14
layer=com_14764
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14789]
type=text
y=111
width=96
height=14
layer=com_14765
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14790]
type=text
y=111
width=96
height=14
layer=com_14766
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14791]
type=text
y=111
width=96
height=14
layer=com_14767
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14792]
type=text
y=111
width=96
height=14
layer=com_14768
textfont=p12_full
text=Cost
textalignh=centre
textshadow=yes
colour=0x00cfff

[com_14793]
type=text
width=96
height=112
layer=com_14761
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14794]
type=text
width=96
height=112
layer=com_14762
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14795]
type=text
width=96
height=112
layer=com_14763
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14796]
type=text
width=96
height=112
layer=com_14764
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14797]
type=text
width=96
height=112
layer=com_14765
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14798]
type=text
width=96
height=112
layer=com_14766
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14799]
type=text
width=96
height=112
layer=com_14767
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14800]
type=text
width=96
height=112
layer=com_14768
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@All

[com_14801]
type=text
width=96
height=112
layer=com_14761
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14802]
type=text
width=96
height=112
layer=com_14762
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14803]
type=text
width=96
height=112
layer=com_14763
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14804]
type=text
width=96
height=112
layer=com_14764
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14805]
type=text
width=96
height=112
layer=com_14765
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14806]
type=text
width=96
height=112
layer=com_14766
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14807]
type=text
width=96
height=112
layer=com_14767
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14808]
type=text
width=96
height=112
layer=com_14768
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@X

[com_14809]
type=text
width=96
height=112
layer=com_14761
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14810]
type=text
width=96
height=112
layer=com_14762
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14811]
type=text
width=96
height=112
layer=com_14763
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14812]
type=text
width=96
height=112
layer=com_14764
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14813]
type=text
width=96
height=112
layer=com_14765
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14814]
type=text
width=96
height=112
layer=com_14766
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14815]
type=text
width=96
height=112
layer=com_14767
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14816]
type=text
width=96
height=112
layer=com_14768
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@5

[com_14817]
type=text
width=96
height=112
layer=com_14761
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14818]
type=text
width=96
height=112
layer=com_14762
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14819]
type=text
width=96
height=112
layer=com_14763
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14820]
type=text
width=96
height=112
layer=com_14764
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14821]
type=text
width=96
height=112
layer=com_14765
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14822]
type=text
width=96
height=112
layer=com_14766
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14823]
type=text
width=96
height=112
layer=com_14767
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

[com_14824]
type=text
width=96
height=112
layer=com_14768
buttontype=1
textfont=p12_full
colour=0xffff00
buttontext=Tan @or2@1

