[com_1908]
type=layer
width=512
height=334

[com_1911]
type=graphic
x=14
y=80
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1918]
type=graphic
x=12
y=140
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1921]
type=graphic
x=12
y=200
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1928]
type=graphic
x=100
y=80
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1931]
type=graphic
x=100
y=140
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1936]
type=graphic
x=100
y=200
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1939]
type=graphic
x=188
y=80
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1946]
type=graphic
x=188
y=140
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1949]
type=graphic
x=188
y=200
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1956]
type=graphic
x=364
y=80
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1959]
type=graphic
x=412
y=46
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1966]
type=graphic
x=361
y=45
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1969]
type=graphic
x=274
y=45
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1974]
type=graphic
x=187
y=45
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1977]
type=graphic
x=100
y=45
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1984]
type=graphic
x=13
y=45
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_1987]
type=graphic
x=409
y=232
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6868]
type=graphic
x=272
y=231
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6869]
type=graphic
x=412
y=80
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6870]
type=graphic
x=359
y=235
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6871]
type=graphic
x=185
y=235
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6872]
type=graphic
x=98
y=233
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6873]
type=graphic
x=276
y=80
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6874]
type=graphic
x=276
y=140
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6875]
type=graphic
x=12
y=231
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6876]
type=graphic
x=276
y=200
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6877]
type=graphic
x=364
y=140
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6878]
type=graphic
x=364
y=200
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6879]
type=graphic
x=412
y=140
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6880]
type=graphic
x=412
y=200
width=88
height=60
layer=com_1908
graphic=tradebacking,0

[com_6881]
type=graphic
x=12
y=42
width=25
height=30
layer=com_1908
graphic=steelborder,0

[com_6882]
type=graphic
x=-3
y=86
width=36
height=36
layer=com_1908
graphic=miscgraphics,2

[com_6883]
type=graphic
x=-3
y=122
width=36
height=36
layer=com_1908
graphic=miscgraphics,2

[com_6884]
type=graphic
x=-3
y=158
width=36
height=36
layer=com_1908
graphic=miscgraphics,2

[com_6885]
type=graphic
x=-3
y=194
width=36
height=36
layer=com_1908
graphic=miscgraphics,2

[com_6886]
type=graphic
x=479
y=86
width=36
height=36
layer=com_1908
graphic=steelborder2,1

[com_6887]
type=graphic
x=479
y=229
width=36
height=36
layer=com_1908
graphic=steelborder2,1

[com_6888]
type=graphic
x=479
y=122
width=36
height=36
layer=com_1908
graphic=steelborder2,1

[com_6889]
type=graphic
x=479
y=158
width=36
height=36
layer=com_1908
graphic=steelborder2,1

[com_6890]
type=graphic
x=479
y=194
width=36
height=36
layer=com_1908
graphic=steelborder2,1

[com_6891]
type=model
x=31
y=49
width=437
height=242
layer=com_1908
model=null
modelangle=1551,1020,0
modelzoom=606

[com_6892]
type=graphic
x=55
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6893]
type=graphic
x=125
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6894]
type=graphic
x=160
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6895]
type=graphic
x=195
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6896]
type=graphic
x=230
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6897]
type=graphic
x=265
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6898]
type=graphic
x=300
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6899]
type=graphic
x=335
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6900]
type=graphic
x=370
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6901]
type=graphic
x=405
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6902]
type=graphic
x=-3
y=230
width=36
height=36
layer=com_1908
graphic=miscgraphics,2

[com_6903]
type=graphic
x=90
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6904]
type=graphic
x=71
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6905]
type=graphic
x=106
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6906]
type=graphic
x=141
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6907]
type=graphic
x=176
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6908]
type=graphic
x=211
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6909]
type=graphic
x=246
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6910]
type=graphic
x=281
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6911]
type=graphic
x=316
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6912]
type=graphic
x=479
y=61
width=36
height=36
layer=com_1908
graphic=steelborder2,1

[com_6913]
type=graphic
x=351
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6914]
type=graphic
x=386
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6915]
type=graphic
x=-3
y=67
width=36
height=36
layer=com_1908
graphic=miscgraphics,2

[com_6916]
type=graphic
x=421
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6917]
type=graphic
x=248
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6918]
type=graphic
x=36
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6919]
type=graphic
x=20
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6920]
type=graphic
x=475
y=42
width=25
height=30
layer=com_1908
graphic=steelborder,1

[com_6921]
type=graphic
x=456
y=27
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6922]
type=graphic
x=475
y=265
width=25
height=30
layer=com_1908
graphic=steelborder,3

[com_6923]
type=graphic
x=440
y=274
width=36
height=36
layer=com_1908
graphic=miscgraphics,3

[com_6924]
type=text
x=421
y=54
width=68
height=11
layer=com_1908
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6925]
type=graphic
x=283
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6926]
type=graphic
x=318
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6927]
type=graphic
x=353
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6928]
type=graphic
x=388
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6929]
type=graphic
x=423
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6930]
type=graphic
x=458
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6931]
type=graphic
x=213
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6932]
type=graphic
x=178
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6933]
type=graphic
x=143
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6934]
type=graphic
x=108
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6935]
type=graphic
x=73
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6936]
type=graphic
x=12
y=265
width=25
height=30
layer=com_1908
graphic=steelborder,2

[com_6937]
type=graphic
x=38
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6938]
type=graphic
x=17
y=64
width=36
height=36
layer=com_1908
graphic=steelborder2,0

[com_6939]
type=text
x=42
y=127
width=438
height=26
layer=com_1908
textfont=p12_full
text=Proceed with caution. If you go much further north you will enter the\nwilderness. This is a very dangerous area where other players can attack you!
textalignh=centre
textshadow=yes

[com_6940]
type=text
x=206
y=55
width=102
height=17
layer=com_1908
textfont=q8_full
text=WARNING !!!
textalignh=centre
textshadow=yes
colour=0xff0000

[com_6941]
type=text
x=45
y=171
width=423
height=26
layer=com_1908
textfont=p12_full
text=The further north you go the more dangerous it becomes, but there is more\ntreasure to be found.
textalignh=centre
textshadow=yes

[com_6942]
type=text
x=79
y=215
width=358
height=26
layer=com_1908
textfont=p12_full
text=In the wilderness an indicator at the bottom-right of the screen\nwill show the current level of danger.
textalignh=centre
textshadow=yes
colour=0xffff00

