[com_4705]
type=layer
width=512
height=334

[com_4706]
type=model
x=135
y=16
width=35
height=32
layer=com_4705
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_4707]
type=text
x=4
y=10
width=47
height=14
layer=com_4705
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_4708]
type=text
x=52
y=10
width=17
height=14
layer=com_4705
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_4709]
type=text
x=4
y=40
width=114
height=14
layer=com_4705
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_4710]
type=layer
x=4
y=60
width=145
height=190
layer=com_4705

[com_4711]
type=graphic
x=5
y=5
width=72
height=36
layer=com_4710
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_4712]
type=graphic
x=5
y=143
width=72
height=36
layer=com_4710
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_4713]
type=graphic
x=5
y=97
width=72
height=36
layer=com_4710
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_4714]
type=graphic
x=5
y=51
width=72
height=36
layer=com_4710
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_4715]
type=graphic
x=22
y=149
width=34
height=24
layer=com_4710
graphic=combaticons,4

[com_4716]
type=graphic
x=22
y=11
width=34
height=24
layer=com_4710
graphic=combaticons,6

[com_4717]
type=graphic
x=21
y=57
width=34
height=24
layer=com_4710
graphic=combaticons,5

[com_4718]
type=graphic
x=22
y=103
width=34
height=24
layer=com_4710
graphic=combaticons,5

[com_4719]
type=text
x=78
y=5
width=25
height=11
layer=com_4710
textfont=p11_full
text=Chop
textshadow=yes
colour=0xffff00

[com_4720]
type=text
x=78
y=51
width=28
height=11
layer=com_4710
textfont=p11_full
text=Slash
textshadow=yes
colour=0xffff00

[com_4721]
type=text
x=78
y=97
width=32
height=11
layer=com_4710
textfont=p11_full
text=Smash
textshadow=yes
colour=0xffff00

[com_4722]
type=text
x=78
y=143
width=26
height=11
layer=com_4710
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_4723]
type=text
x=78
y=18
width=50
height=11
layer=com_4710
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_4724]
type=text
x=78
y=110
width=64
height=11
layer=com_4710
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_4725]
type=text
x=78
y=64
width=64
height=11
layer=com_4710
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_4726]
type=text
x=78
y=156
width=58
height=11
layer=com_4710
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_4727]
type=text
x=82
y=90
width=34
height=11
layer=com_4705
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_4728]
type=text
x=82
y=136
width=34
height=11
layer=com_4705
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_4729]
type=text
x=82
y=228
width=34
height=11
layer=com_4705
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_4730]
type=text
x=82
y=182
width=36
height=11
layer=com_4705
textfont=p11_full
text=(Crush)
colour=0xffff00

