[com_255]
type=layer
width=512
height=334

[com_256]
type=text
x=21
y=29
width=441
height=17
layer=com_255
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_257]
type=text
x=69
y=77
width=350
height=17
layer=com_255
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

