[com_4166]
type=layer
width=512
height=334

[com_4167]
type=graphic
x=19
y=6
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_77 = 1

[com_4168]
type=graphic
x=79
y=6
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_78 = 1

[com_4169]
type=graphic
x=139
y=6
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_79 = 1

[com_4170]
type=graphic
x=19
y=42
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_80 = 1

[com_4171]
type=graphic
x=79
y=42
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_81 = 1

[com_4172]
type=graphic
x=139
y=42
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_82 = 1

[com_4173]
type=graphic
x=19
y=78
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_83 = 1

[com_4174]
type=graphic
x=79
y=78
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_84 = 1

[com_4175]
type=graphic
x=139
y=78
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_85 = 1

[com_4176]
type=graphic
x=19
y=114
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_86 = 1

[com_4177]
type=graphic
x=79
y=114
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_87 = 1

[com_4178]
type=graphic
x=139
y=114
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_88 = 1

[com_4179]
type=graphic
x=19
y=150
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_89 = 1

[com_4180]
type=graphic
x=79
y=150
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_90 = 1

[com_4181]
type=graphic
x=139
y=150
width=34
height=34
layer=com_4166
buttontype=4
graphicactive=prayerglow,0
script=varplayer_91 = 1

[com_4182]
type=layer
x=3
y=178
width=186
height=88
layer=com_4166

[com_4183]
type=rectangle
x=6
y=187
width=178
height=72
layer=com_4166
colour=0x726451

[com_4184]
type=rectangle
x=7
y=188
width=176
height=70
layer=com_4166
colour=0x726451

[com_4185]
type=rectangle
x=7
y=188
width=177
height=71
layer=com_4166
colour=0x2e2b23

[com_4186]
type=rectangle
x=8
y=189
width=174
height=68
layer=com_4166
colour=0x000000
fill=yes

[com_4187]
type=graphic
x=21
y=8
width=30
height=30
layer=com_4166
mouseoverlayer=com_4204
graphic=prayeroff,0
graphicactive=prayeron,0
script=stat_base(prayer) > 0

[com_4188]
type=graphic
x=81
y=8
width=30
height=30
layer=com_4166
mouseoverlayer=com_4208
graphic=prayeroff,1
graphicactive=prayeron,1
script=stat_base(prayer) > 3

[com_4189]
type=graphic
x=141
y=8
width=30
height=30
layer=com_4166
mouseoverlayer=com_4212
graphic=prayeroff,2
graphicactive=prayeron,2
script=stat_base(prayer) > 6

[com_4190]
type=graphic
x=21
y=44
width=30
height=30
layer=com_4166
mouseoverlayer=com_4216
graphic=prayeroff,3
graphicactive=prayeron,3
script=stat_base(prayer) > 9

[com_4191]
type=graphic
x=81
y=44
width=30
height=30
layer=com_4166
mouseoverlayer=com_4220
graphic=prayeroff,4
graphicactive=prayeron,4
script=stat_base(prayer) > 12

[com_4192]
type=graphic
x=141
y=44
width=30
height=30
layer=com_4166
mouseoverlayer=com_4224
graphic=prayeroff,5
graphicactive=prayeron,5
script=stat_base(prayer) > 15

[com_4193]
type=graphic
x=21
y=80
width=30
height=30
layer=com_4166
mouseoverlayer=com_4228
graphic=prayeroff,6
graphicactive=prayeron,6
script=stat_base(prayer) > 18

[com_4194]
type=graphic
x=81
y=80
width=30
height=30
layer=com_4166
mouseoverlayer=com_4232
graphic=prayeroff,7
graphicactive=prayeron,7
script=stat_base(prayer) > 21

[com_4195]
type=graphic
x=141
y=80
width=30
height=30
layer=com_4166
mouseoverlayer=com_4236
graphic=prayeroff,8
graphicactive=prayeron,8
script=stat_base(prayer) > 24

[com_4196]
type=graphic
x=21
y=116
width=30
height=30
layer=com_4166
mouseoverlayer=com_4240
graphic=prayeroff,9
graphicactive=prayeron,9
script=stat_base(prayer) > 27

[com_4197]
type=graphic
x=81
y=116
width=30
height=30
layer=com_4166
mouseoverlayer=com_4244
graphic=prayeroff,10
graphicactive=prayeron,10
script=stat_base(prayer) > 30

[com_4198]
type=graphic
x=141
y=116
width=30
height=30
layer=com_4166
mouseoverlayer=com_4248
graphic=prayeroff,11
graphicactive=prayeron,11
script=stat_base(prayer) > 33

[com_4199]
type=graphic
x=21
y=152
width=30
height=30
layer=com_4166
mouseoverlayer=com_4252
graphic=prayeroff,12
graphicactive=prayeron,12
script=stat_base(prayer) > 36

[com_4200]
type=graphic
x=81
y=152
width=30
height=30
layer=com_4166
mouseoverlayer=com_4256
graphic=prayeroff,13
graphicactive=prayeron,13
script=stat_base(prayer) > 39

[com_4201]
type=graphic
x=141
y=152
width=30
height=30
layer=com_4166
mouseoverlayer=com_4260
graphic=prayeroff,14
graphicactive=prayeron,14
script=stat_base(prayer) > 42

[com_4202]
type=text
x=8
y=223
width=174
height=14
layer=com_4166
textfont=p12_full
text=Prayer: %1/%2
textalignh=centre
colour=0xffff00
script0=stat(prayer)
script1=stat_base(prayer)

[com_4203]
type=graphic
x=83
y=192
width=25
height=25
layer=com_4166
graphic=staticons,4

[com_4204]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4205]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4204
colour=0x000000
fill=yes

[com_4206]
type=text
x=3
y=8
width=174
height=26
layer=com_4204
textfont=p12_full
text=Level 1\nThick Skin
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4207]
type=text
x=3
y=41
width=174
height=11
layer=com_4204
textfont=p11_full
text=Increases your defence by 5%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4208]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4209]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4208
colour=0x000000
fill=yes

[com_4210]
type=text
x=3
y=8
width=174
height=26
layer=com_4208
textfont=p12_full
text=Level 4\nBurst of Strength
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4211]
type=text
x=3
y=41
width=174
height=11
layer=com_4208
textfont=p11_full
text=Increases your strength by 5%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4212]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4213]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4212
colour=0x000000
fill=yes

[com_4214]
type=text
x=3
y=8
width=174
height=26
layer=com_4212
textfont=p12_full
text=Level 7\nClarity of Thought
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4215]
type=text
x=3
y=41
width=174
height=11
layer=com_4212
textfont=p11_full
text=Increases your attack by 5%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4216]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4217]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4216
colour=0x000000
fill=yes

[com_4218]
type=text
x=3
y=8
width=174
height=26
layer=com_4216
textfont=p12_full
text=Level 10\nRock Skin
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4219]
type=text
x=3
y=41
width=174
height=11
layer=com_4216
textfont=p11_full
text=Increases your defence by 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4220]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4221]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4220
colour=0x000000
fill=yes

[com_4222]
type=text
x=3
y=8
width=174
height=26
layer=com_4220
textfont=p12_full
text=Level 13\nSuperhuman Strength
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4223]
type=text
x=3
y=41
width=174
height=11
layer=com_4220
textfont=p11_full
text=Increases your strength by 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4224]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4225]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4224
colour=0x000000
fill=yes

[com_4226]
type=text
x=3
y=8
width=174
height=26
layer=com_4224
textfont=p12_full
text=Level 16\nImproved Reflexes
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4227]
type=text
x=3
y=41
width=174
height=11
layer=com_4224
textfont=p11_full
text=Increases your attack by 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4228]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4229]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4228
colour=0x000000
fill=yes

[com_4230]
type=text
x=3
y=8
width=174
height=26
layer=com_4228
textfont=p12_full
text=Level 19\nRapid Restore
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4231]
type=text
x=3
y=41
width=174
height=20
layer=com_4228
textfont=p11_full
text=2x restore rate for all stats\nexcept hitpoints and prayer
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4232]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4233]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4232
colour=0x000000
fill=yes

[com_4234]
type=text
x=3
y=8
width=174
height=26
layer=com_4232
textfont=p12_full
text=Level 22\nRapid Heal
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4235]
type=text
x=3
y=41
width=174
height=11
layer=com_4232
textfont=p11_full
text=2x restore rate for hitpoints stat
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4236]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4237]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4236
colour=0x000000
fill=yes

[com_4238]
type=text
x=3
y=8
width=174
height=26
layer=com_4236
textfont=p12_full
text=Level 25\nProtect Items
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4239]
type=text
x=3
y=41
width=174
height=11
layer=com_4236
textfont=p11_full
text=Keep 1 extra item if you die
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4240]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4241]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4240
colour=0x000000
fill=yes

[com_4242]
type=text
x=3
y=8
width=174
height=26
layer=com_4240
textfont=p12_full
text=Level 28\nSteel Skin
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4243]
type=text
x=3
y=41
width=174
height=11
layer=com_4240
textfont=p11_full
text=Increases your defence by 15%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4244]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4245]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4244
colour=0x000000
fill=yes

[com_4246]
type=text
x=3
y=8
width=174
height=26
layer=com_4244
textfont=p12_full
text=Level 31\nUltimate Strength
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4247]
type=text
x=3
y=41
width=174
height=11
layer=com_4244
textfont=p11_full
text=Increases your strength by 15%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4248]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4249]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4248
colour=0x000000
fill=yes

[com_4250]
type=text
x=3
y=8
width=174
height=26
layer=com_4248
textfont=p12_full
text=Level 34\nIncredible Reflexes
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4251]
type=text
x=3
y=41
width=174
height=11
layer=com_4248
textfont=p11_full
text=Increases your attack by 15%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4252]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4253]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4252
colour=0x000000
fill=yes

[com_4254]
type=text
x=3
y=8
width=174
height=26
layer=com_4252
textfont=p12_full
text=Level 37\nProtect from Magic
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4255]
type=text
x=3
y=41
width=174
height=11
layer=com_4252
textfont=p11_full
text=Protection from magical attacks
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4256]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4257]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4256
colour=0x000000
fill=yes

[com_4258]
type=text
x=3
y=8
width=174
height=26
layer=com_4256
textfont=p12_full
text=Level 40\nProtect From Missiles
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4259]
type=text
x=3
y=41
width=174
height=11
layer=com_4256
textfont=p11_full
text=Protection from ranged attacks
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_4260]
type=layer
x=5
y=184
width=182
height=76
layer=com_4166
hide=yes

[com_4261]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_4260
colour=0x000000
fill=yes

[com_4262]
type=text
x=3
y=8
width=174
height=26
layer=com_4260
textfont=p12_full
text=Level 43\nProtect from Melee
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4263]
type=text
x=3
y=41
width=174
height=11
layer=com_4260
textfont=p11_full
text=Protection from close attacks
textalignh=centre
textshadow=yes
colour=0x6b6f33

