[com_11859]
type=layer
width=512
height=334

[com_11860]
type=model
x=27
y=20
width=32
height=32
layer=com_11859
model=null
modelangle=40,1882,0
modelzoom=400

[com_11861]
type=text
x=111
y=30
width=350
height=17
layer=com_11859
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_11862]
type=text
x=111
y=80
width=350
height=17
layer=com_11859
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_11863]
type=model
x=50
y=50
width=32
height=32
layer=com_11859
model=null
modelangle=40,1882,0
modelzoom=400

