[com_0]
type=graphic
y=40
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"
script=varplayer_166 = 1

[com_1]
type=graphic
x=11
y=40
width=36
height=36
buttontype=5
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"
script=varplayer_166 = 1

[com_2]
type=graphic
x=46
y=40
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"
script=varplayer_166 = 2

[com_3]
type=graphic
x=57
y=40
width=36
height=36
buttontype=5
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"
script=varplayer_166 = 2

[com_4]
type=graphic
x=92
y=40
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"
script=varplayer_166 = 3

[com_5]
type=graphic
x=103
y=40
width=36
height=36
buttontype=5
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"
script=varplayer_166 = 3

[com_6]
type=graphic
x=139
y=40
width=36
height=36
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"
script=varplayer_166 = 4

[com_7]
type=graphic
x=153
y=40
width=56
height=30
buttontype=5
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"
script=varplayer_166 = 4

[com_8]
type=graphic
x=48
y=100
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_170 = 0

[com_9]
type=graphic
x=10
y=100
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_170 = 1

[com_10]
type=graphic
x=105
y=100
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_171 = 0

[com_11]
type=graphic
x=143
y=100
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_171 = 1

[com_12]
type=text
x=49
y=4
width=90
height=14
textfont=b12_full
text=Game Options
textshadow=yes
colour=0xff981f

[com_13]
type=text
y=23
width=189
height=15
textfont=p12_full
text=Screen Brightness
textalignh=centre
textshadow=yes

[com_14]
type=text
x=1
y=43
width=42
height=31
textfont=p11_full
text=Dark
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_15]
type=text
x=48
y=44
width=43
height=29
textfont=p11_full
text=Normal
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_16]
type=text
x=95
y=43
width=41
height=30
textfont=p11_full
text=Bright
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_17]
type=text
x=140
y=42
width=46
height=34
textfont=p11_full
text=V-Bright
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_18]
type=text
x=1
y=80
width=102
height=14
textfont=p12_full
text=Mouse Buttons
textalignh=centre
textshadow=yes

[com_19]
type=text
x=48
y=100
width=36
height=36
textfont=p12_full
text=Two
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_20]
type=text
x=10
y=100
width=36
height=36
textfont=p12_full
text=One
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_21]
type=text
x=102
y=80
width=84
height=14
textfont=p12_full
text=Chat Effects
textalignh=centre
textshadow=yes

[com_22]
type=text
x=144
y=100
width=35
height=36
textfont=p12_full
text=Off
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_23]
type=text
x=105
y=100
width=36
height=36
textfont=p12_full
text=On
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_24]
type=text
x=6
y=196
width=40
height=26
textfont=p12_full
text=Music\nVolume
textalignh=centre
textshadow=yes

[com_25]
type=graphic
x=52
y=197
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_168 = 4

[com_26]
type=graphic
x=78
y=197
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_168 = 3

[com_27]
type=graphic
x=104
y=197
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_168 = 2

[com_28]
type=graphic
x=130
y=197
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_168 = 1

[com_29]
type=graphic
x=156
y=197
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_168 = 0

[com_30]
type=text
x=52
y=197
width=25
height=25
textfont=p11_full
text=Off
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_31]
type=text
x=79
y=198
width=24
height=24
textfont=p11_full
text=1
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_32]
type=text
x=105
y=198
width=24
height=24
textfont=p11_full
text=2
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_33]
type=text
x=131
y=198
width=24
height=24
textfont=p11_full
text=3
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_34]
type=text
x=156
y=198
width=25
height=24
textfont=p11_full
text=4
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_35]
type=text
x=6
y=226
width=40
height=26
textfont=p12_full
text=Effect\nVolume
textalignh=centre
textshadow=yes

[com_36]
type=graphic
x=52
y=227
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_169 = 4

[com_37]
type=graphic
x=78
y=227
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_169 = 3

[com_38]
type=graphic
x=104
y=227
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_169 = 2

[com_39]
type=graphic
x=130
y=227
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_169 = 1

[com_40]
type=graphic
x=156
y=227
width=25
height=25
buttontype=5
graphic="miscgraphics3,0"
graphicactive="miscgraphics3,1"
script=varplayer_169 = 0

[com_41]
type=text
x=52
y=227
width=25
height=25
textfont=p11_full
text=Off
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_42]
type=text
x=79
y=228
width=24
height=24
textfont=p11_full
text=1
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_43]
type=text
x=104
y=227
width=25
height=25
textfont=p11_full
text=2
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_44]
type=text
x=130
y=227
width=25
height=25
textfont=p11_full
text=3
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_45]
type=text
x=156
y=227
width=25
height=25
textfont=p11_full
text=4
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_46]
type=text
y=138
width=108
height=15
textfont=p12_full
text=Split Private-chat
textalignh=centre
textshadow=yes

[com_47]
type=graphic
x=10
y=156
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_287 = 1

[com_48]
type=graphic
x=48
y=156
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_287 = 0

[com_49]
type=text
x=10
y=156
width=36
height=36
textfont=p12_full
text=On
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_50]
type=text
x=48
y=156
width=36
height=36
textfont=p12_full
text=Off
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_51]
type=text
x=112
y=138
width=70
height=15
textfont=p12_full
text=Accept Aid
textalignh=centre
textshadow=yes

[com_52]
type=graphic
x=105
y=156
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_427 = 1

[com_53]
type=graphic
x=143
y=156
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_427 = 0

[com_54]
type=text
x=105
y=156
width=36
height=36
textfont=p12_full
text=Yes
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_55]
type=text
x=143
y=156
width=36
height=36
textfont=p12_full
text=No
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

