[com_638]
type=layer
width=512
height=334

[com_639]
type=layer
x=5
y=20
width=168
height=229
layer=com_638
scrollheight=885

[com_640]
type=text
x=41
y=4
width=93
height=14
layer=com_638
textfont=b12_full
text=Quest Journal
textshadow=yes
colour=0xffff00

[com_641]
type=graphic
x=-12
y=194
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_642]
type=graphic
x=150
y=194
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_643]
type=graphic
x=3
y=20
width=25
height=30
layer=com_638
graphic=steelborder,0

[com_644]
type=graphic
x=146
y=20
width=25
height=30
layer=com_638
graphic=steelborder,1

[com_645]
type=graphic
x=3
y=219
width=25
height=30
layer=com_638
graphic=steelborder,2

[com_646]
type=graphic
x=146
y=219
width=25
height=30
layer=com_638
graphic=steelborder,3

[com_647]
type=graphic
x=28
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_648]
type=graphic
x=64
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_649]
type=graphic
x=100
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_650]
type=graphic
x=112
y=5
width=36
height=36
layer=com_638
graphic=steelborder2,0

[com_651]
type=graphic
x=150
y=50
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_652]
type=graphic
x=150
y=86
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_653]
type=graphic
x=150
y=122
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_654]
type=graphic
x=150
y=158
width=36
height=36
layer=com_638
graphic=steelborder2,1

[com_655]
type=graphic
x=-12
y=50
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_656]
type=graphic
x=-12
y=86
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_657]
type=graphic
x=-12
y=122
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_658]
type=graphic
x=-12
y=158
width=36
height=36
layer=com_638
graphic=miscgraphics,2

[com_659]
type=graphic
x=28
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_660]
type=graphic
x=64
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_661]
type=graphic
x=98
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_662]
type=graphic
x=124
y=228
width=36
height=36
layer=com_638
graphic=miscgraphics,3

[com_663]
type=text
x=5
y=8
width=84
height=14
layer=com_639
textfont=b12_full
text=FREE QUESTS:
textshadow=yes
colour=0xf99b15

[com_7332]
type=text
x=10
y=23
width=130
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Black Knight's Fortress
textshadow=yes
colour=0xff0000

[com_7333]
type=text
x=10
y=39
width=96
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Cook's Assistant
textshadow=yes
colour=0xff0000

[com_7334]
type=text
x=10
y=55
width=76
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Demon Slayer
textshadow=yes
colour=0xff0000

[com_7335]
type=text
x=10
y=223
width=125
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Rune Mysteries Quest
textshadow=yes
colour=0xff0000

[com_7336]
type=text
x=10
y=71
width=75
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Doric's Quest
textshadow=yes
colour=0xff0000

[com_7337]
type=text
x=10
y=192
width=109
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Restless Ghost
textshadow=yes
colour=0xff0000

[com_7338]
type=text
x=10
y=117
width=94
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Goblin Diplomacy
textshadow=yes
colour=0xff0000

[com_7339]
type=text
x=10
y=102
width=105
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Ernest the Chicken
textshadow=yes
colour=0xff0000

[com_7340]
type=text
x=10
y=147
width=66
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Imp Catcher
textshadow=yes
colour=0xff0000

[com_7341]
type=text
x=10
y=162
width=97
height=13
layer=com_639
buttontype=1
textfont=p12_full
text=Pirate's Treasure
textshadow=yes
colour=0xff0000

[com_7342]
type=text
x=10
y=177
width=96
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Prince Ali Rescue
textshadow=yes
colour=0xff0000

[com_7343]
type=text
x=10
y=208
width=86
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Romeo & Juliet
textshadow=yes
colour=0xff0000

[com_7344]
type=text
x=10
y=239
width=83
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Sheep Shearer
textshadow=yes
colour=0xff0000

[com_7345]
type=text
x=10
y=255
width=85
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Shield of Arrav
textshadow=yes
colour=0xff0000

[com_7346]
type=text
x=10
y=132
width=104
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Knight's Sword
textshadow=yes
colour=0xff0000

[com_7347]
type=text
x=10
y=270
width=84
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Vampire Slayer
textshadow=yes
colour=0xff0000

[com_7348]
type=text
x=10
y=287
width=79
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Witch's Potion
textshadow=yes
colour=0xff0000

[com_7349]
type=text
x=10
y=829
width=68
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Watch Tower
textshadow=yes
colour=0xff0000

[com_682]
type=text
x=10
y=306
width=113
height=14
layer=com_639
textfont=b12_full
text=MEMBERS QUESTS:
textshadow=yes
colour=0xf99b15

[com_7350]
type=text
x=10
y=844
width=89
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Waterfall Quest
textshadow=yes
colour=0xff0000

[com_7351]
type=text
x=10
y=859
width=82
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Witches House
textshadow=yes
colour=0xff0000

[com_7352]
type=text
x=10
y=338
width=57
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Biohazard
textshadow=yes
colour=0xff0000

[com_7353]
type=text
x=10
y=353
width=63
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Clock Tower
textshadow=yes
colour=0xff0000

[com_7354]
type=text
x=10
y=368
width=76
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Digsite Quest
textshadow=yes
colour=0xff0000

[com_673]
type=text
x=10
y=323
width=135
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Big Chompy Bird Hunting
textshadow=yes
colour=0xff0000

[com_7356]
type=text
x=10
y=398
width=77
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Dwarf Cannon
textshadow=yes
colour=0xff0000

[com_7357]
type=text
x=10
y=429
width=69
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Family Crest
textshadow=yes
colour=0xff0000

[com_7358]
type=text
x=10
y=445
width=65
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Fight Arena
textshadow=yes
colour=0xff0000

[com_7359]
type=text
x=10
y=461
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Fishing Contest
textshadow=yes
colour=0xff0000

[com_7360]
type=text
x=10
y=478
width=83
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Gertrude's Cat
textshadow=yes
colour=0xff0000

[com_7361]
type=text
x=10
y=494
width=83
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Grand Tree
textshadow=yes
colour=0xff0000

[com_7362]
type=text
x=10
y=510
width=63
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Hazeel Cult
textshadow=yes
colour=0xff0000

[com_7363]
type=text
x=10
y=526
width=73
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Hero's Quest
textshadow=yes
colour=0xff0000

[com_7364]
type=text
x=10
y=543
width=53
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Holy Grail
textshadow=yes
colour=0xff0000

[com_7365]
type=text
x=10
y=559
width=77
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Jungle Potion
textshadow=yes
colour=0xff0000

[com_7366]
type=text
x=10
y=575
width=85
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Legends Quest
textshadow=yes
colour=0xff0000

[com_7367]
type=text
x=10
y=591
width=50
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Lost City
textshadow=yes
colour=0xff0000

[com_7368]
type=text
x=10
y=607
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Merlin's Crystal
textshadow=yes
colour=0xff0000

[com_7369]
type=text
x=10
y=623
width=77
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Monk's Friend
textshadow=yes
colour=0xff0000

[com_7370]
type=text
x=10
y=639
width=90
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Murder Mystery
textshadow=yes
colour=0xff0000

[com_7371]
type=text
x=10
y=654
width=109
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Observatory Quest
textshadow=yes
colour=0xff0000

[com_7372]
type=text
x=10
y=670
width=63
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Plague City
textshadow=yes
colour=0xff0000

[com_7373]
type=text
x=10
y=685
width=96
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Scorpion Catcher
textshadow=yes
colour=0xff0000

[com_7374]
type=text
x=10
y=701
width=85
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Sea Slug Quest
textshadow=yes
colour=0xff0000

[com_7375]
type=text
x=10
y=717
width=76
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Sheep Herder
textshadow=yes
colour=0xff0000

[com_7376]
type=text
x=10
y=733
width=67
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Shilo Village
textshadow=yes
colour=0xff0000

[com_7378]
type=text
x=10
y=749
width=80
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Temple of Ikov
textshadow=yes
colour=0xff0000

[com_7379]
type=text
x=10
y=766
width=88
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=The Tourist Trap
textshadow=yes
colour=0xff0000

[com_7380]
type=text
x=10
y=782
width=105
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Tree Gnome Village
textshadow=yes
colour=0xff0000

[com_7381]
type=text
x=10
y=798
width=66
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Tribal Totem
textshadow=yes
colour=0xff0000

[com_7382]
type=text
x=10
y=814
width=105
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Underground Pass
textshadow=yes
colour=0xff0000

[com_7383]
type=text
x=10
y=86
width=79
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Dragon Slayer
textshadow=yes
colour=0xff0000

[com_7459]
type=text
x=10
y=413
width=112
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Elemental Workshop
textshadow=yes
colour=0xff0000

[com_7355]
type=text
x=10
y=383
width=73
height=14
layer=com_639
buttontype=1
textfont=p12_full
text=Druidic Ritual
textshadow=yes
colour=0xff0000

