[com_8287]
type=layer
width=512
height=334

[com_8288]
type=rectangle
x=486
y=27
width=20
height=20
layer=com_8287
trans=40
colour=0x220000
colouractive=0xff0000
fill=yes
script=testbit(varplayer_309, 2) = 0

[com_8289]
type=rectangle
x=486
y=6
width=20
height=20
layer=com_8287
trans=40
colour=0x002200
colouractive=0x00ff00
fill=yes
script=testbit(varplayer_309, 2) = 1

[com_8290]
type=rectangle
x=485
y=5
width=22
height=22
layer=com_8287
trans=40
colour=0xcccccc

[com_8291]
type=rectangle
x=485
y=26
width=22
height=22
layer=com_8287
trans=40
colour=0xcccccc

