[com_7762]
type=layer
width=512
height=334

[com_7763]
type=model
x=135
y=16
width=35
height=32
layer=com_7762
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_7764]
type=text
x=4
y=10
width=47
height=14
layer=com_7762
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_7765]
type=text
x=52
y=10
width=17
height=14
layer=com_7762
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_7766]
type=text
x=4
y=40
width=114
height=14
layer=com_7762
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_7767]
type=layer
x=4
y=60
width=145
height=190
layer=com_7762

[com_7768]
type=graphic
x=5
y=1
width=72
height=36
layer=com_7767
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_7769]
type=graphic
x=5
y=124
width=72
height=36
layer=com_7767
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_7770]
type=graphic
x=5
y=83
width=72
height=36
layer=com_7767
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_7771]
type=graphic
x=5
y=42
width=72
height=36
layer=com_7767
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_7772]
type=graphic
x=22
y=130
width=34
height=24
layer=com_7767
graphic=combaticons3,7

[com_7773]
type=graphic
x=22
y=6
width=34
height=24
layer=com_7767
graphic=combaticons3,6

[com_7774]
type=graphic
x=22
y=48
width=34
height=24
layer=com_7767
graphic=combaticons3,5

[com_7775]
type=graphic
x=22
y=89
width=34
height=24
layer=com_7767
graphic=combaticons3,4

[com_7776]
type=text
x=78
width=25
height=11
layer=com_7767
textfont=p11_full
text=Chop
textshadow=yes
colour=0xffff00

[com_7777]
type=text
x=78
y=43
width=28
height=11
layer=com_7767
textfont=p11_full
text=Slash
textshadow=yes
colour=0xffff00

[com_7778]
type=text
x=78
y=83
width=29
height=11
layer=com_7767
textfont=p11_full
text=Lunge
textshadow=yes
colour=0xffff00

[com_7779]
type=text
x=79
y=124
width=26
height=11
layer=com_7767
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_7780]
type=text
x=78
y=12
width=50
height=11
layer=com_7767
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_7781]
type=text
x=78
y=95
width=58
height=11
layer=com_7767
textfont=p11_full
text=(Controlled)
colour=0xffff00

[com_7782]
type=text
x=78
y=55
width=64
height=11
layer=com_7767
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_7783]
type=text
x=78
y=137
width=58
height=11
layer=com_7767
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_7784]
type=text
x=82
y=84
width=34
height=11
layer=com_7762
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_7785]
type=text
x=82
y=127
width=34
height=11
layer=com_7762
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_7786]
type=text
x=82
y=167
width=29
height=11
layer=com_7762
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_7787]
type=text
x=82
y=210
width=34
height=11
layer=com_7762
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_7788]
type=rectangle
y=1
width=156
height=23
layer=com_7800
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_7789]
type=graphic
x=131
y=1
width=25
height=30
layer=com_7800
graphic=steelborder,1

[com_7790]
type=graphic
y=1
width=25
height=30
layer=com_7800
graphic=steelborder,0

[com_7791]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7792]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7793]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7794]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7795]
type=graphic
x=5
y=3
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7796]
type=graphic
x=41
y=3
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7797]
type=graphic
x=77
y=3
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7798]
type=graphic
x=112
y=3
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7799]
type=graphic
x=115
y=3
width=36
height=36
layer=com_7800
graphic=miscgraphics,3

[com_7800]
type=layer
x=17
y=231
width=158
height=24
layer=com_7762
hide=yes

[com_7801]
type=model
x=5
y=8
width=146
height=9
layer=com_7800
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_7802]
type=model
x=3
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_7803]
type=model
x=18
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_7804]
type=model
x=33
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_7805]
type=model
x=47
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_7806]
type=model
x=61
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_7807]
type=model
x=75
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_7808]
type=model
x=90
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_7809]
type=model
x=104
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_7810]
type=model
x=118
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_7811]
type=model
x=132
y=8
width=146
height=9
layer=com_7800
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_7812]
type=text
x=20
y=7
width=117
height=11
layer=com_7800
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

