[com_6543]
type=layer
width=512
height=334

[com_6544]
type=model
x=-10
y=42
width=32
height=32
layer=com_6543
model=model_3548
modelangle=17,1783,0
modelzoom=613

[com_6545]
type=model
x=457
y=41
width=32
height=32
layer=com_6543
model=model_3548
modelangle=26,240,0
modelzoom=622

[com_6546]
type=text
x=87
y=56
width=26
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Cry
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6547]
type=text
x=80
y=24
width=38
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Think
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6548]
type=text
x=148
y=24
width=40
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Laugh
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6549]
type=text
x=144
y=56
width=43
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Dance
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6550]
type=text
x=220
y=25
width=75
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Climb Rope
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6551]
type=text
x=218
y=56
width=79
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Lean on air
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6552]
type=text
x=324
y=56
width=69
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Glass Wall
textalignh=centre
textshadow=yes
colour=0x8686af

[com_6553]
type=text
x=326
y=25
width=66
height=17
layer=com_6543
buttontype=1
textfont=q8_full
text=Glass Box
textalignh=centre
textshadow=yes
colour=0x8686af

