[com_2099]
type=layer
width=512
height=334

[com_2100]
type=text
y=-1
width=480
height=17
layer=com_2099
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2101]
type=text
y=15
width=480
height=17
layer=com_2099
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2102]
type=text
y=31
width=480
height=17
layer=com_2099
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2103]
type=text
y=47
width=480
height=17
layer=com_2099
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2104]
type=text
y=63
width=480
height=17
layer=com_2099
buttontype=1
textfont=q8_full
text=option4
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2105]
type=text
y=79
width=480
height=17
layer=com_2099
buttontype=1
textfont=q8_full
text=option5
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2106]
type=graphic
width=57
height=13
layer=com_2108
graphic=sworddecor,1

[com_2107]
type=graphic
x=172
width=57
height=13
layer=com_2108
graphic=sworddecor,0

[com_2108]
type=layer
x=126
y=1
width=229
height=13
layer=com_2099

[com_2109]
type=layer
x=2
y=1
width=476
height=13
layer=com_2099
hide=yes

[com_2110]
type=graphic
width=57
height=13
layer=com_2109
graphic=sworddecor,1

[com_2111]
type=graphic
x=419
width=57
height=13
layer=com_2109
graphic=sworddecor,0

