[com_15931]
type=layer
width=512
height=334

[com_15932]
type=model
x=415
y=17
width=32
height=32
layer=com_15931
model=model_10567
modelangle=427,0,0
modelzoom=843

[com_15933]
type=text
x=394
y=13
width=70
height=17
layer=com_15931
textfont=q8_full
text=Graveyard
textshadow=yes
colour=0x999999

[com_15934]
type=text
x=375
y=39
width=72
height=12
layer=com_15931
textfont=p11_full
text=Pizazz Points:
textshadow=yes
colour=0x999999

[com_15935]
type=text
x=461
y=40
width=28
height=12
layer=com_15931
textfont=p11_full
text=9999
textshadow=yes
colour=0xcccccc

[com_15936]
type=model
x=473
y=297
width=32
height=32
layer=com_15931
model=model_10569
modelangle=165,0,0
modelzoom=1484

[com_15937]
type=model
x=472
y=260
width=32
height=32
layer=com_15931
model=model_10570
modelangle=131,1790,0
modelzoom=993

[com_15938]
type=model
x=476
y=221
width=32
height=32
layer=com_15931
model=model_10571
modelangle=79,1020,0
modelzoom=1073

[com_15939]
type=model
x=472
y=180
width=32
height=32
layer=com_15931
model=model_10572
modelangle=199,1727,0
modelzoom=1152

[com_15940]
type=text
x=456
y=180
width=7
height=14
layer=com_15931
textfont=p12_full
text=4
textshadow=yes
colour=0x8eab99

[com_15941]
type=text
x=456
y=221
width=7
height=14
layer=com_15931
textfont=p12_full
text=3
textshadow=yes
colour=0x707070

[com_15942]
type=text
x=456
y=260
width=8
height=14
layer=com_15931
textfont=p12_full
text=2
textshadow=yes
colour=0xcccccc

[com_15943]
type=text
x=456
y=296
width=6
height=14
layer=com_15931
textfont=p12_full
text=1
textshadow=yes
colour=0xfafa99

