[com_8559]
type=layer
width=512
height=334

[com_8560]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8448
modelactive=model_8447
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 1

[com_8561]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8450
modelactive=model_8449
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

[com_8562]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8452
modelactive=model_8451
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 1

[com_8563]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8454
modelactive=model_8453
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

[com_8564]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8456
modelactive=model_8455
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 1

[com_14000]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8458
modelactive=model_8457
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

[com_14001]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8460
modelactive=model_8459
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 1

[com_14002]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8462
modelactive=model_8461
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

[com_14003]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8464
modelactive=model_8463
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 1

[com_14004]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8466
modelactive=model_8465
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

[com_14005]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8468
modelactive=model_8467
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 1

[com_14006]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8470
modelactive=model_8469
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

[com_14007]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8472
modelactive=model_8471
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 1

[com_14008]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8474
modelactive=model_8473
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

[com_14009]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8476
modelactive=model_8475
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 1

[com_14010]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8478
modelactive=model_8477
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

[com_14011]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8480
modelactive=model_8479
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 1

[com_14012]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8482
modelactive=model_8481
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 2

[com_14013]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8484
modelactive=model_8483
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 1

[com_14014]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8486
modelactive=model_8485
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 2

[com_14015]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8488
modelactive=model_8487
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 1

[com_14016]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8490
modelactive=model_8489
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 2

[com_14017]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8492
modelactive=model_8491
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 1

[com_14018]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8494
modelactive=model_8493
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 2

[com_14019]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8519
modelangle=350,0,0
modelzoom=1200

[com_14020]
type=model
x=248
y=130
width=32
height=32
layer=com_8559
model=model_8520
modelangle=350,0,0
modelzoom=1200

[com_14021]
type=layer
x=119
y=125
width=32
height=32
layer=com_8559
hide=yes

[com_14022]
type=model
x=129
y=5
width=32
height=32
layer=com_14021
model=model_8495
modelactive=model_8496
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

[com_14023]
type=layer
x=190
y=89
width=32
height=32
layer=com_8559
hide=yes

[com_14024]
type=model
x=58
y=41
width=32
height=32
layer=com_14023
model=model_8497
modelactive=model_8498
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

[com_14025]
type=layer
x=184
y=162
width=32
height=32
layer=com_8559
hide=yes

[com_14026]
type=model
x=64
y=-32
width=32
height=32
layer=com_14025
model=model_8499
modelactive=model_8500
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

[com_14027]
type=layer
x=266
y=56
width=32
height=32
layer=com_8559
hide=yes

[com_14028]
type=model
x=-18
y=74
width=32
height=32
layer=com_14027
model=model_8501
modelactive=model_8502
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

[com_14029]
type=layer
x=268
y=90
width=32
height=32
layer=com_8559
hide=yes

[com_14030]
type=model
x=-20
y=40
width=32
height=32
layer=com_14029
model=model_8503
modelactive=model_8504
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

[com_14031]
type=layer
x=227
y=203
width=32
height=32
layer=com_8559
hide=yes

[com_14032]
type=model
x=21
y=-73
width=32
height=32
layer=com_14031
model=model_8505
modelactive=model_8506
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

[com_14033]
type=layer
x=269
y=162
width=32
height=32
layer=com_8559
hide=yes

[com_14034]
type=model
x=-21
y=-32
width=32
height=32
layer=com_14033
model=model_8507
modelactive=model_8508
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

[com_14035]
type=layer
x=241
y=246
width=32
height=32
layer=com_8559
hide=yes

[com_14036]
type=model
x=7
y=-116
width=32
height=32
layer=com_14035
model=model_8509
modelactive=model_8510
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

[com_14037]
type=layer
x=280
y=54
width=32
height=32
layer=com_8559
hide=yes

[com_14038]
type=model
x=-32
y=76
width=32
height=32
layer=com_14037
model=model_8511
modelactive=model_8512
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 2

[com_14039]
type=layer
x=281
y=89
width=32
height=32
layer=com_8559
hide=yes

[com_14040]
type=model
x=-33
y=41
width=32
height=32
layer=com_14039
model=model_8513
modelactive=model_8514
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 2

[com_14041]
type=layer
x=287
y=202
width=32
height=32
layer=com_8559
hide=yes

[com_14042]
type=model
x=-39
y=-72
width=32
height=32
layer=com_14041
model=model_8515
modelactive=model_8516
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 2

[com_14043]
type=layer
x=324
y=88
width=32
height=32
layer=com_8559
hide=yes

[com_14044]
type=model
x=-76
y=42
width=32
height=32
layer=com_14043
model=model_8517
modelactive=model_8518
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 2

[com_14045]
type=text
x=461
y=15
width=31
height=14
layer=com_8559
buttontype=1
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00

[com_14046]
type=model
x=119
y=125
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14047]
type=model
x=163
y=89
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14048]
type=model
x=156
y=163
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14049]
type=model
x=205
y=57
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14050]
type=model
x=203
y=89
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14051]
type=model
x=196
y=206
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14052]
type=model
x=242
y=30
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14053]
type=model
x=241
y=246
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14054]
type=model
x=280
y=57
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14055]
type=model
x=281
y=89
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14056]
type=model
x=287
y=202
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14057]
type=model
x=324
y=90
width=32
height=32
layer=com_8559
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14058]
type=model
x=119
y=24
width=32
height=32
layer=com_8559
model=model_8429
modelangle=350,0,0
modelzoom=1200

[com_14059]
type=model
x=119
y=55
width=32
height=32
layer=com_8559
model=model_8430
modelangle=350,0,0
modelzoom=1200

[com_14060]
type=text
x=45
y=26
width=24
height=14
layer=com_8559
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_861

[com_14061]
type=text
x=45
y=56
width=24
height=14
layer=com_8559
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_862

