[com_8899]
type=layer
width=512
height=334

[com_8900]
type=graphic
x=2
y=5
width=57
height=13
layer=com_8899
graphic=sworddecor,1

[com_8901]
type=graphic
x=421
y=5
width=57
height=13
layer=com_8899
graphic=sworddecor,0

[com_8902]
type=model
x=28
y=13
width=64
height=96
layer=com_8899
model=null
modelzoom=400

[com_8903]
type=model
x=148
y=13
width=64
height=96
layer=com_8899
model=null
modelzoom=400

[com_8904]
type=model
x=268
y=13
width=64
height=96
layer=com_8899
model=null
modelzoom=400

[com_8905]
type=model
x=388
y=13
width=64
height=96
layer=com_8899
model=null
modelzoom=400

[com_8906]
type=text
x=10
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_8907]
type=text
x=10
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_8908]
type=text
x=10
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_8909]
type=text
x=10
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_8910]
type=text
x=130
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_8911]
type=text
x=130
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_8912]
type=text
x=130
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_8913]
type=text
x=130
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_8914]
type=text
x=250
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_8915]
type=text
x=250
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_8916]
type=text
x=250
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_8917]
type=text
x=250
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_8918]
type=text
x=370
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_8919]
type=text
x=370
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_8920]
type=text
x=370
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_8921]
type=text
x=370
y=16
width=100
height=93
layer=com_8899
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_8922]
type=text
x=8
y=3
width=464
height=17
layer=com_8899
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

