[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

[com_13]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

[com_16]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

[com_17]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

[com_18]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

[com_19]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

[com_20]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

[com_21]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

[com_22]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

[com_23]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

[com_24]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

[com_25]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

[com_26]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

[com_27]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

[com_28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

[com_29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

[com_30]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

[com_31]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

[com_32]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

[com_33]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

[com_34]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

[com_35]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

[com_36]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

[com_37]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

[com_38]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

[com_39]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

[com_40]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

[com_41]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

[com_42]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

[com_43]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

[com_44]
type=graphic
x=73
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_45]
type=graphic
x=109
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_46]
type=graphic
x=145
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_47]
type=graphic
x=181
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_48]
type=graphic
x=217
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_49]
type=graphic
x=253
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_50]
type=graphic
x=289
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_51]
type=graphic
x=325
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_52]
type=graphic
x=361
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_53]
type=graphic
x=397
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_54]
type=graphic
x=433
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_55]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

[com_56]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_57]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_58]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_59]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_60]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_61]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_62]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_63]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_64]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

[com_65]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

[com_66]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

[com_67]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

[com_68]
type=graphic
x=37
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_69]
type=graphic
x=12
y=295
width=25
height=30
graphic="steelborder,2"

[com_70]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

[com_71]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

[com_72]
type=graphic
x=475
y=295
width=25
height=30
graphic="steelborder,3"

[com_73]
type=graphic
x=439
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_74]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

[com_75]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

[com_76]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

[com_77]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

[com_78]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

[com_79]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

[com_80]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

[com_81]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

[com_82]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

[com_83]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

[com_84]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

[com_85]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

[com_86]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

[com_87]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

[com_88]
type=graphic
x=455
y=69
width=25
height=30
graphic="steelborder,1"

[com_89]
type=graphic
x=455
y=275
width=25
height=30
graphic="steelborder,3"

[com_90]
type=graphic
x=323
y=69
width=25
height=30
graphic="steelborder,0"

[com_91]
type=graphic
x=323
y=275
width=25
height=30
graphic="steelborder,2"

[com_92]
type=graphic
x=459
y=99
width=36
height=36
graphic="steelborder2,1"

[com_93]
type=graphic
x=459
y=135
width=36
height=36
graphic="steelborder2,1"

[com_94]
type=graphic
x=459
y=171
width=36
height=36
graphic="steelborder2,1"

[com_95]
type=graphic
x=459
y=207
width=36
height=36
graphic="steelborder2,1"

[com_96]
type=graphic
x=459
y=243
width=36
height=36
graphic="steelborder2,1"

[com_97]
type=graphic
x=419
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_98]
type=graphic
x=383
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_99]
type=graphic
x=308
y=99
width=36
height=36
graphic="miscgraphics,2"

[com_100]
type=graphic
x=347
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_101]
type=graphic
x=308
y=135
width=36
height=36
graphic="miscgraphics,2"

[com_102]
type=graphic
x=308
y=171
width=36
height=36
graphic="miscgraphics,2"

[com_103]
type=graphic
x=308
y=207
width=36
height=36
graphic="miscgraphics,2"

[com_104]
type=graphic
x=308
y=243
width=36
height=36
graphic="miscgraphics,2"

[com_105]
type=graphic
x=419
y=54
width=36
height=36
graphic="steelborder2,0"

[com_106]
type=graphic
x=383
y=54
width=36
height=36
graphic="steelborder2,0"

[com_107]
type=graphic
x=347
y=54
width=36
height=36
graphic="steelborder2,0"

[com_108]
type=graphic
x=244
y=100
width=51
height=82
graphic=keys

[com_109]
type=rectangle
x=329
y=75
width=145
height=224
colour=0x000000
fill=yes

[com_110]
type=text
x=8
y=29
width=496
height=17
textfont=q8_full
text=BANK  PIN  SETTINGS
textalignh=centre
textshadow=yes
colour=0xffff00

[com_111]
type=text
x=460
y=29
width=28
height=17
buttontype=3
textfont=q8_full
text=Exit
textalignh=centre
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_112]
type=text
x=328
y=75
width=147
height=19
textfont=q8_full
text=Messages
textalignh=centre
textshadow=yes
colour=0xffff00

[com_113]
type=text
x=328
y=107
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_114]
type=text
x=328
y=123
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_115]
type=text
x=328
y=139
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_116]
type=text
x=328
y=155
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_117]
type=text
x=328
y=171
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_118]
type=text
x=328
y=187
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_119]
type=text
x=328
y=203
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_120]
type=text
x=328
y=219
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_121]
type=text
x=328
y=235
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_122]
type=text
x=328
y=251
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_123]
type=text
x=328
y=267
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_124]
type=text
x=328
y=283
width=147
height=14
textfont=p12_full
textalignh=centre
colour=0xffff7f

[com_125]
type=graphic
x=32
y=230
width=25
height=30
graphic="steelborder,0"

[com_126]
type=graphic
x=32
y=275
width=25
height=30
graphic="steelborder,2"

[com_127]
type=graphic
x=271
y=275
width=25
height=30
graphic="steelborder,3"

[com_128]
type=graphic
x=271
y=230
width=25
height=30
graphic="steelborder,1"

[com_129]
type=graphic
x=57
y=215
width=36
height=36
graphic="steelborder2,0"

[com_130]
type=graphic
x=93
y=215
width=36
height=36
graphic="steelborder2,0"

[com_131]
type=graphic
x=129
y=215
width=36
height=36
graphic="steelborder2,0"

[com_132]
type=graphic
x=165
y=215
width=36
height=36
graphic="steelborder2,0"

[com_133]
type=graphic
x=201
y=215
width=36
height=36
graphic="steelborder2,0"

[com_134]
type=graphic
x=237
y=215
width=36
height=36
graphic="steelborder2,0"

[com_135]
type=graphic
x=57
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_136]
type=graphic
x=93
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_137]
type=graphic
x=129
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_138]
type=graphic
x=165
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_139]
type=graphic
x=201
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_140]
type=graphic
x=237
y=284
width=36
height=36
graphic="miscgraphics,3"

[com_141]
type=graphic
x=17
y=251
width=36
height=36
graphic="miscgraphics,2"

[com_142]
type=graphic
x=275
y=245
width=36
height=36
graphic="steelborder2,1"

[com_143]
type=layer
x=38
y=236
width=252
height=63

[com_144]
type=graphic
width=104
height=104
layer=com_143
graphic=tex_red

[com_145]
type=graphic
x=104
width=104
height=104
layer=com_143
graphic=tex_red

[com_146]
type=graphic
x=208
width=90
height=98
layer=com_143
graphic=tex_red

[com_147]
type=text
y=11
width=252
height=17
layer=com_143
buttontype=1
textfont=q8_full
text=Set a PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_148]
type=text
y=34
width=252
height=16
layer=com_143
buttontype=1
textfont=q8_full
text=Change your recovery delay
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_149]
type=text
y=4
width=252
height=16
layer=com_143
buttontype=1
textfont=q8_full
text=Change your PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_150]
type=text
y=23
width=253
height=15
layer=com_143
buttontype=1
textfont=q8_full
text=Delete your PIN
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_151]
type=text
y=41
width=252
height=15
layer=com_143
buttontype=1
textfont=q8_full
text=Change your recovery delay
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_152]
type=text
y=23
width=252
height=15
layer=com_143
buttontype=1
textfont=q8_full
text=Cancel the PIN that's pending
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_153]
type=graphic
x=32
y=69
width=25
height=30
graphic="steelborder,0"

[com_154]
type=graphic
x=192
y=69
width=25
height=30
graphic="steelborder,1"

[com_155]
type=graphic
x=156
y=54
width=36
height=36
graphic="steelborder2,0"

[com_156]
type=graphic
x=120
y=54
width=36
height=36
graphic="steelborder2,0"

[com_157]
type=graphic
x=84
y=54
width=36
height=36
graphic="steelborder2,0"

[com_158]
type=graphic
x=48
y=54
width=36
height=36
graphic="steelborder2,0"

[com_159]
type=graphic
x=32
y=164
width=25
height=30
graphic="steelborder,2"

[com_160]
type=graphic
x=192
y=164
width=25
height=30
graphic="steelborder,3"

[com_161]
type=graphic
x=17
y=99
width=36
height=36
graphic="miscgraphics,2"

[com_162]
type=graphic
x=17
y=135
width=36
height=36
graphic="miscgraphics,2"

[com_163]
type=graphic
x=196
y=99
width=36
height=36
graphic="steelborder2,1"

[com_164]
type=graphic
x=196
y=135
width=36
height=36
graphic="steelborder2,1"

[com_165]
type=graphic
x=57
y=173
width=36
height=36
graphic="miscgraphics,3"

[com_166]
type=graphic
x=93
y=173
width=36
height=36
graphic="miscgraphics,3"

[com_167]
type=graphic
x=129
y=173
width=36
height=36
graphic="miscgraphics,3"

[com_168]
type=graphic
x=165
y=173
width=36
height=36
graphic="miscgraphics,3"

[com_169]
type=graphic
width=104
height=104
layer=com_173
graphic=tex_brown

[com_170]
type=graphic
x=104
width=104
height=104
layer=com_173
graphic=tex_brown

[com_171]
type=graphic
y=104
width=104
height=104
layer=com_173
graphic=tex_brown

[com_172]
type=graphic
x=104
y=104
width=104
height=104
layer=com_173
graphic=tex_brown

[com_173]
type=layer
x=38
y=75
width=173
height=113

[com_174]
type=text
y=9
width=173
height=17
layer=com_173
textfont=q8_full
text=Your Bank PIN status:
textalignh=centre
textshadow=yes

[com_175]
type=text
y=34
width=173
height=14
layer=com_173
textfont=b12_full
text=Unknown
textalignh=centre
textshadow=yes
colour=0xff0000

[com_176]
type=text
y=63
width=173
height=17
layer=com_173
textfont=q8_full
text=Recovery delay:
textalignh=centre
textshadow=yes

[com_177]
type=text
y=88
width=173
height=14
layer=com_173
textfont=b12_full
text=X days
textalignh=centre
textshadow=yes
colour=0xff0000

[com_178]
type=rectangle
x=10
y=18
width=476
height=293
layer=com_237
colour=0x000000
fill=yes

[com_179]
type=text
x=1
y=76
width=496
height=17
layer=com_237
textfont=q8_full
text=Do you really wish to do that?
textalignh=centre
textshadow=yes
colour=0xff0000

[com_180]
type=graphic
x=102
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_181]
type=graphic
x=66
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_182]
type=graphic
x=30
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_183]
type=graphic
x=9
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_184]
type=graphic
x=138
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_185]
type=graphic
x=138
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_186]
type=graphic
x=354
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_187]
type=graphic
x=390
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_188]
type=graphic
x=426
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_189]
type=graphic
x=450
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_190]
type=graphic
x=102
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_191]
type=graphic
x=66
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_192]
type=graphic
x=30
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_193]
type=graphic
x=9
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_194]
type=graphic
x=354
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_195]
type=graphic
x=390
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_196]
type=graphic
x=426
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_197]
type=graphic
x=451
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_198]
type=graphic
x=174
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_199]
type=graphic
x=210
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_200]
type=graphic
x=246
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_201]
type=graphic
x=282
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_202]
type=graphic
x=318
y=125
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_203]
type=graphic
x=174
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_204]
type=graphic
x=210
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_205]
type=graphic
x=246
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_206]
type=graphic
x=282
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_207]
type=graphic
x=318
y=155
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_208]
type=graphic
x=138
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_209]
type=graphic
x=174
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_210]
type=graphic
x=210
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_211]
type=graphic
x=246
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_212]
type=graphic
x=282
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_213]
type=graphic
x=318
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_214]
type=graphic
x=138
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_215]
type=graphic
x=174
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_216]
type=graphic
x=210
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_217]
type=graphic
x=246
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_218]
type=graphic
x=282
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_219]
type=graphic
x=318
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_220]
type=graphic
x=354
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_221]
type=graphic
x=426
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_222]
type=graphic
x=390
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_223]
type=graphic
x=66
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_224]
type=graphic
x=102
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_225]
type=graphic
x=451
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_226]
type=graphic
x=354
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_227]
type=graphic
x=390
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_228]
type=graphic
x=426
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_229]
type=graphic
x=451
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_230]
type=graphic
x=9
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_231]
type=graphic
x=30
y=196
width=36
height=36
layer=com_237
graphic="steelborder2,0"

[com_232]
type=graphic
x=102
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_233]
type=graphic
x=30
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_234]
type=graphic
x=66
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_235]
type=graphic
x=9
y=227
width=36
height=36
layer=com_237
graphic="miscgraphics,3"

[com_236]
type=text
x=22
y=210
width=286
height=14
textfont=p12_full
text=Use the buttons below to change your PIN settings
textshadow=yes
colour=0xffff00

[com_237]
type=layer
x=8
y=8
width=496
height=320
hide=yes

[com_238]
type=layer
x=9
y=145
width=477
height=26
layer=com_237

[com_239]
type=graphic
x=1
y=1
width=104
height=104
layer=com_238
graphic=tex_red

[com_240]
type=graphic
x=105
y=1
width=104
height=104
layer=com_238
graphic=tex_red

[com_241]
type=graphic
x=209
y=1
width=104
height=104
layer=com_238
graphic=tex_red

[com_242]
type=text
x=17
y=156
width=478
height=17
buttontype=1
textfont=q8_full
text=Yes, I really want to do that.
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_243]
type=layer
x=9
y=216
width=477
height=26
layer=com_237

[com_244]
type=graphic
x=1
y=1
width=104
height=104
layer=com_243
graphic=tex_red

[com_245]
type=graphic
x=105
y=1
width=104
height=104
layer=com_243
graphic=tex_red

[com_246]
type=graphic
x=209
y=1
width=104
height=104
layer=com_243
graphic=tex_red

[com_247]
type=text
x=17
y=228
width=478
height=17
buttontype=1
textfont=q8_full
text=No, forget I asked.
textalignh=centre
textshadow=yes
colour=0xffff00
mouseovercolour=0xff7f00

[com_248]
type=graphic
x=313
y=1
width=104
height=104
layer=com_238
graphic=tex_red

[com_249]
type=graphic
x=417
y=1
width=104
height=104
layer=com_238
graphic=tex_red

[com_250]
type=graphic
x=313
y=1
width=104
height=104
layer=com_243
graphic=tex_red

[com_251]
type=graphic
x=417
y=1
width=104
height=104
layer=com_243
graphic=tex_red

