[com_4445]
type=layer
width=512
height=334

[com_5451]
type=graphic
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 1

[com_5452]
type=graphic
x=11
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 1

[com_6157]
type=graphic
x=46
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 2

[com_6273]
type=graphic
x=57
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 2

[com_6274]
type=graphic
x=92
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 3

[com_6275]
type=graphic
x=103
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 3

[com_6276]
type=graphic
x=139
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,4
graphicactive=miscgraphics,7
script=varplayer_166 = 4

[com_6277]
type=graphic
x=153
y=40
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,6
graphicactive=miscgraphics,8
script=varplayer_166 = 4

[com_6278]
type=graphic
x=48
y=100
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_170 = 0

[com_6279]
type=graphic
x=10
y=100
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_170 = 1

[com_6280]
type=graphic
x=105
y=100
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_171 = 0

[com_6281]
type=graphic
x=143
y=100
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_171 = 1

[com_6282]
type=text
x=49
y=4
width=90
height=14
layer=com_4445
textfont=b12_full
text=Game Options
textshadow=yes
colour=0x00ffff

[com_6283]
type=text
x=41
y=24
width=104
height=14
layer=com_4445
textfont=p12_full
text=Screen Brightness
textshadow=yes

[com_6284]
type=text
x=12
y=53
width=23
height=11
layer=com_4445
textfont=p11_full
text=Dark
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6285]
type=text
x=52
y=53
width=34
height=11
layer=com_4445
textfont=p11_full
text=Normal
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6286]
type=text
x=100
y=53
width=31
height=11
layer=com_4445
textfont=p11_full
text=Bright
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6287]
type=text
x=142
y=53
width=43
height=11
layer=com_4445
textfont=p11_full
text=V-Bright
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6288]
type=text
x=6
y=82
width=85
height=14
layer=com_4445
textfont=p12_full
text=Mouse Buttons
textshadow=yes

[com_6289]
type=text
x=56
y=110
width=19
height=14
layer=com_4445
textfont=p12_full
text=Two
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6290]
type=text
x=17
y=110
width=22
height=14
layer=com_4445
textfont=p12_full
text=One
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6291]
type=text
x=106
y=82
width=72
height=14
layer=com_4445
textfont=p12_full
text=Chat Effects
textshadow=yes

[com_6292]
type=text
x=151
y=110
width=20
height=14
layer=com_4445
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6293]
type=text
x=115
y=110
width=15
height=14
layer=com_4445
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_6294]
type=text
x=28
y=202
width=136
height=14
layer=com_4445
textfont=p12_full
text=Music + Sounds are only
textshadow=yes
colour=0xffff00

[com_6295]
type=text
x=22
y=218
width=148
height=14
layer=com_4445
textfont=p12_full
text=available in the high detail
textshadow=yes
colour=0xffff00

[com_6296]
type=text
x=34
y=233
width=117
height=14
layer=com_4445
textfont=p12_full
text=version of the game.
textshadow=yes
colour=0xffff00

[com_951]
type=text
x=46
y=138
width=100
height=14
layer=com_4445
textfont=p12_full
text=Split Private-chat
textshadow=yes

[com_952]
type=graphic
x=56
y=154
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_287 = 1

[com_953]
type=graphic
x=98
y=154
width=36
height=36
layer=com_4445
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_287 = 0

[com_954]
type=text
x=66
y=165
width=15
height=14
layer=com_4445
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00

[com_955]
type=text
x=106
y=164
width=20
height=14
layer=com_4445
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00

