[com_0]
type=text
x=4
y=10
width=73
height=12
textfont=p11_full
text=Weapon:
textalignh=right
textshadow=yes
colour=0xffff00

[com_1]
type=text
x=80
y=10
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00

[com_2]
type=text
x=4
y=42
width=130
height=12
textfont=p11_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_3]
type=layer
x=4
y=60
width=145
height=190

[com_4]
type=graphic
x=4
y=36
width=72
height=36
layer=com_3
graphic="combatboxes,1"
graphicactive="combatboxes,1"

[com_5]
type=model
x=132
y=25
width=32
height=32
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_6]
type=graphic
x=4
y=108
width=72
height=36
layer=com_3
buttontype=1
graphic="combatboxes,0"
graphicactive="combatboxes,1"
buttontext=Select

[com_7]
type=graphic
x=23
y=41
width=34
height=24
layer=com_3
graphic="combaticons,15"

[com_8]
type=graphic
x=25
y=111
width=30
height=30
layer=com_3
graphic="prayeron,13"

[com_9]
type=text
x=77
y=36
width=67
height=35
layer=com_3
textfont=p11_full
text=Kick\n(Aggressive)\n(Crush)
textlineheight=12
textshadow=yes
colour=0xffff00

[com_10]
type=text
x=78
y=109
width=66
height=34
layer=com_3
textfont=p11_full
text=Aim and Fire
textalignv=centre
textshadow=yes
colour=0xffff00

[com_11]
type=text
x=4
y=26
width=130
height=12
textfont=p11_full
text=Combat Lvl %1
textshadow=yes
colour=0xcc0000
script0=stat_combat

