[com_18679]
type=layer
width=512
height=334

[com_18680]
type=rectangle
width=512
height=334
layer=com_18679
colour=0x000000
fill=yes
script=varplayerbit_278 = 1

