[com_15812]
type=layer
width=512
height=334

[com_15813]
type=model
x=369
y=424
width=32
height=32
layer=com_15812
model=model_9630
modelangle=512,0,0
modelzoom=692

[com_15814]
type=text
x=190
y=431
width=400
height=17
layer=com_15812
textfont=q8_full
text=Your password is only as safe as your computer.
textalignh=centre
colour=0x000000

[com_15815]
type=text
x=190
y=452
width=400
height=17
layer=com_15812
textfont=q8_full
text=Install anti-virus software!
textalignh=centre
colour=0x000000

[com_15816]
type=text
x=333
y=411
width=119
height=14
layer=com_15812
textfont=p12_full
text=Message of the week
colour=0x800000

[com_15817]
type=model
x=65
y=479
width=32
height=32
layer=com_15812
model=model_10232
modelangle=120,228,0
modelzoom=687
modelanim=seq_2921

[com_15818]
type=model
x=675
y=469
width=32
height=32
layer=com_15812
model=model_10234
modelangle=39,201,0
modelzoom=727

