[com_116]
type=layer
width=512
height=334

[com_117]
type=model
x=243
y=138
width=35
height=35
layer=com_116
model=model_2663
modelangle=400,0,0
modelzoom=650

[com_118]
type=text
x=209
y=108
width=106
height=17
layer=com_116
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xffff00

[com_119]
type=text
x=424
y=28
width=68
height=11
layer=com_116
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_120]
type=text
y=134
width=512
height=2
layer=com_116
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xffff00

[com_121]
type=model
x=117
y=169
width=85
height=105
layer=com_116
model=null
modelangle=11,1849,0
modelzoom=1500

[com_122]
type=text
x=219
y=206
width=76
height=14
layer=com_116
textfont=p12_full
text=Quest Points:
textalignh=centre
textshadow=yes
colour=0x00c000

[com_123]
type=text
x=248
y=228
width=17
height=14
layer=com_116
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x00c000
script0=varplayer_95

[com_124]
type=model
x=341
y=195
width=32
height=32
layer=com_116
model=model_2667
modelangle=500,0,0
modelzoom=800

