[com_3559]
type=layer
width=512
height=334

[com_3560]
type=graphic
x=12
y=20
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3561]
type=graphic
x=12
y=80
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3562]
type=graphic
x=12
y=140
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3563]
type=graphic
x=12
y=200
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3564]
type=graphic
x=12
y=260
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3565]
type=graphic
x=100
y=20
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3566]
type=graphic
x=100
y=80
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3567]
type=graphic
x=100
y=140
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3568]
type=graphic
x=100
y=200
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3569]
type=graphic
x=188
y=20
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3570]
type=graphic
x=100
y=260
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3571]
type=graphic
x=188
y=80
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3572]
type=graphic
x=188
y=140
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3573]
type=graphic
x=188
y=200
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3574]
type=graphic
x=188
y=260
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3575]
type=graphic
x=276
y=20
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3576]
type=graphic
x=364
y=80
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3577]
type=graphic
x=276
y=80
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3578]
type=graphic
x=276
y=140
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3579]
type=graphic
x=276
y=200
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3580]
type=graphic
x=276
y=260
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3581]
type=graphic
x=364
y=140
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3582]
type=graphic
x=364
y=20
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3583]
type=graphic
x=364
y=200
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3584]
type=graphic
x=364
y=260
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3585]
type=graphic
x=412
y=20
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3586]
type=graphic
x=412
y=80
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3587]
type=graphic
x=412
y=140
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3588]
type=graphic
x=412
y=200
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3589]
type=graphic
x=412
y=260
width=88
height=60
layer=com_3559
graphic=tradebacking,0

[com_3590]
type=graphic
x=12
y=20
width=25
height=30
layer=com_3559
graphic=steelborder,0

[com_3591]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3592]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3593]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3594]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3595]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3596]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3597]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_3559
graphic=miscgraphics,2

[com_3598]
type=graphic
x=479
y=50
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3599]
type=graphic
x=479
y=86
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3600]
type=graphic
x=479
y=122
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3601]
type=graphic
x=479
y=158
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3602]
type=graphic
x=479
y=194
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3603]
type=graphic
x=479
y=230
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3604]
type=graphic
x=479
y=266
width=36
height=36
layer=com_3559
graphic=steelborder2,1

[com_3605]
type=graphic
x=73
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3606]
type=graphic
x=109
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3607]
type=graphic
x=145
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3608]
type=graphic
x=181
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3609]
type=graphic
x=217
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3610]
type=graphic
x=253
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3611]
type=graphic
x=289
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3612]
type=graphic
x=325
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3613]
type=graphic
x=361
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3614]
type=graphic
x=397
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3615]
type=graphic
x=433
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3616]
type=graphic
x=72
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3617]
type=graphic
x=108
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3618]
type=graphic
x=144
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3619]
type=graphic
x=180
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3620]
type=graphic
x=216
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3621]
type=graphic
x=252
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3622]
type=graphic
x=288
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3623]
type=graphic
x=324
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3624]
type=graphic
x=360
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3625]
type=graphic
x=396
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3626]
type=graphic
x=432
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3627]
type=graphic
x=252
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3628]
type=graphic
x=37
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3629]
type=graphic
x=37
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3630]
type=graphic
x=12
y=290
width=25
height=30
layer=com_3559
graphic=steelborder,2

[com_3631]
type=graphic
x=475
y=20
width=25
height=30
layer=com_3559
graphic=steelborder,1

[com_3632]
type=graphic
x=439
y=5
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3633]
type=graphic
x=475
y=290
width=25
height=30
layer=com_3559
graphic=steelborder,3

[com_3634]
type=graphic
x=439
y=299
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3635]
type=graphic
x=288
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3636]
type=graphic
x=324
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3637]
type=graphic
x=360
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3638]
type=graphic
x=396
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3639]
type=graphic
x=432
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3640]
type=graphic
x=459
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3641]
type=graphic
x=216
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3642]
type=graphic
x=180
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3643]
type=graphic
x=144
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3644]
type=graphic
x=108
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3645]
type=graphic
x=72
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3646]
type=graphic
x=36
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3647]
type=graphic
x=17
y=34
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3648]
type=layer
x=36
y=20
width=440
height=299
layer=com_3559

[com_3649]
type=text
x=28
y=29
width=457
height=14
layer=com_3559
textfont=b12_full
text=Welcome to RuneScape - Use the buttons below to design your player
textshadow=yes
colour=0xffff00

[com_3650]
type=model
clientcode=327
x=190
y=155
width=136
height=168
layer=com_3559
model=null
modelangle=150,0,0
modelzoom=650

[com_3651]
type=rectangle
clientcode=326
x=223
y=266
width=66
height=31
layer=com_3559
buttontype=1
colour=0x000000
fill=yes
buttontext=Accept

[com_3652]
type=text
x=237
y=274
width=39
height=14
layer=com_3559
textfont=p12_full
text=Accept
textshadow=yes
colour=0x00c000

[com_3653]
type=graphic
x=217
y=260
width=25
height=30
layer=com_3559
graphic=steelborder,0

[com_3654]
type=graphic
x=270
y=260
width=25
height=30
layer=com_3559
graphic=steelborder,1

[com_3655]
type=graphic
x=217
y=273
width=25
height=30
layer=com_3559
graphic=steelborder,2

[com_3656]
type=graphic
x=270
y=273
width=25
height=30
layer=com_3559
graphic=steelborder,3

[com_3657]
type=graphic
clientcode=314
x=326
y=74
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Recolour hair

[com_3658]
type=text
x=90
y=151
width=31
height=14
layer=com_3559
textfont=p12_full
text=Torso
textshadow=yes
colour=0xffff00

[com_3659]
type=graphic
clientcode=300
x=27
y=68
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change head

[com_3660]
type=graphic
clientcode=302
x=27
y=103
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change jaw

[com_3661]
type=graphic
clientcode=304
x=27
y=138
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change torso

[com_3662]
type=graphic
clientcode=306
x=27
y=173
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change arms

[com_3663]
type=graphic
clientcode=308
x=27
y=208
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change hands

[com_3664]
type=graphic
clientcode=310
x=27
y=243
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change legs

[com_3665]
type=graphic
clientcode=312
x=27
y=278
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Change feet

[com_3666]
type=graphic
clientcode=301
x=140
y=68
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change head

[com_3667]
type=graphic
clientcode=303
x=140
y=103
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change jaw

[com_3668]
type=graphic
clientcode=305
x=140
y=138
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change torso

[com_3669]
type=graphic
clientcode=307
x=140
y=173
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change arms

[com_3670]
type=graphic
clientcode=309
x=140
y=208
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change hands

[com_3671]
type=graphic
clientcode=311
x=140
y=243
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change legs

[com_3672]
type=graphic
clientcode=313
x=140
y=278
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Change feet

[com_3673]
type=text
x=90
y=184
width=29
height=14
layer=com_3559
textfont=p12_full
text=Arms
textshadow=yes
colour=0xffff00

[com_3674]
type=text
x=91
y=254
width=27
height=14
layer=com_3559
textfont=p12_full
text=Legs
textshadow=yes
colour=0xffff00

[com_3675]
type=text
x=91
y=79
width=28
height=14
layer=com_3559
textfont=p12_full
text=Head
textshadow=yes
colour=0xffff00

[com_3676]
type=text
x=88
y=219
width=35
height=14
layer=com_3559
textfont=p12_full
text=Hands
textshadow=yes
colour=0xffff00

[com_3677]
type=text
x=91
y=288
width=25
height=14
layer=com_3559
textfont=p12_full
text=Feet
textshadow=yes
colour=0xffff00

[com_3678]
type=text
x=94
y=114
width=21
height=14
layer=com_3559
textfont=p12_full
text=Jaw
textshadow=yes
colour=0xffff00

[com_3679]
type=graphic
clientcode=315
x=440
y=74
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Recolour hair

[com_3680]
type=graphic
clientcode=318
x=326
y=144
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Recolour legs

[com_3681]
type=graphic
clientcode=316
x=326
y=109
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Recolour torso

[com_3682]
type=graphic
clientcode=320
x=326
y=179
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Recolour feet

[com_3683]
type=graphic
clientcode=322
x=326
y=214
width=45
height=36
layer=com_3559
buttontype=1
graphic=leftarrow,0
buttontext=Recolour skin

[com_3684]
type=text
x=87
y=55
width=34
height=11
layer=com_3559
textfont=p11_full
text=Design
textshadow=yes

[com_3685]
type=graphic
clientcode=317
x=440
y=109
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Recolour torso

[com_3686]
type=text
x=391
y=55
width=33
height=11
layer=com_3559
textfont=p11_full
text=Colour
textshadow=yes

[com_3687]
type=graphic
clientcode=319
x=440
y=144
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Recolour legs

[com_3688]
type=graphic
clientcode=321
x=440
y=179
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Recolour feet

[com_3689]
type=graphic
clientcode=323
x=440
y=214
width=45
height=36
layer=com_3559
buttontype=1
graphic=rightarrow,0
buttontext=Recolour skin

[com_3690]
type=text
x=394
y=86
width=22
height=14
layer=com_3559
textfont=p12_full
text=Hair
textshadow=yes
colour=0xffff00

[com_3691]
type=text
x=390
y=121
width=31
height=14
layer=com_3559
textfont=p12_full
text=Torso
textshadow=yes
colour=0xffff00

[com_3692]
type=text
x=392
y=155
width=27
height=14
layer=com_3559
textfont=p12_full
text=Legs
textshadow=yes
colour=0xffff00

[com_3693]
type=text
x=393
y=225
width=23
height=14
layer=com_3559
textfont=p12_full
text=Skin
textshadow=yes
colour=0xffff00

[com_3694]
type=text
x=393
y=191
width=25
height=14
layer=com_3559
textfont=p12_full
text=Feet
textshadow=yes
colour=0xffff00

[com_3695]
type=graphic
x=235
y=245
width=36
height=36
layer=com_3559
graphic=steelborder2,0

[com_3696]
type=graphic
x=236
y=282
width=36
height=36
layer=com_3559
graphic=miscgraphics,3

[com_3697]
type=text
x=390
y=258
width=36
height=11
layer=com_3559
textfont=p11_full
text=Gender
textshadow=yes

[com_3698]
type=graphic
clientcode=324
x=325
y=271
width=72
height=36
layer=com_3559
buttontype=1
graphic=combatboxes,0
graphicactive=combatboxes,1
buttontext=Male

[com_3699]
type=graphic
clientcode=325
x=417
y=271
width=72
height=36
layer=com_3559
buttontype=1
graphic=combatboxes,0
graphicactive=combatboxes,1
buttontext=Female

[com_3700]
type=text
x=348
y=281
width=26
height=14
layer=com_3559
textfont=p12_full
text=Male
textshadow=yes
colour=0xffff00

[com_3701]
type=text
x=435
y=281
width=39
height=14
layer=com_3559
textfont=p12_full
text=Female
textshadow=yes
colour=0xffff00

