[com_14206]
type=layer
width=512
height=334

[com_14207]
type=model
x=384
y=14
width=32
height=32
layer=com_14206
model=model_8854
modelangle=251,2041,0
modelzoom=400

[com_14208]
type=model
x=456
y=19
width=32
height=32
layer=com_14206
model=model_8855
modelangle=236,2046,0
modelzoom=537

[com_14209]
type=text
x=108
y=2
width=29
height=12
layer=com_14210
textfont=p11_full
text=%1 %
textshadow=yes
colour=0xffff00
script0=varplayerbit_907

[com_14210]
type=layer
x=351
y=17
width=140
height=20
layer=com_14206

[com_14211]
type=text
x=10
y=2
width=95
height=12
layer=com_14210
textfont=p11_full
text=@gre@* @yel@Tai Bwo Favour @gre@*
textshadow=yes
colour=0xffff00

