[com_3796]
type=layer
width=512
height=334

[com_3797]
type=model
x=136
y=23
width=35
height=32
layer=com_3796
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_3798]
type=text
x=4
y=10
width=47
height=14
layer=com_3796
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_3799]
type=text
x=52
y=10
width=17
height=14
layer=com_3796
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_3800]
type=text
x=4
y=40
width=114
height=14
layer=com_3796
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_3801]
type=layer
x=4
y=60
width=145
height=190
layer=com_3796

[com_3802]
type=graphic
x=4
y=2
width=72
height=36
layer=com_3801
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_3803]
type=graphic
x=5
y=126
width=72
height=36
layer=com_3801
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_3804]
type=graphic
x=5
y=84
width=72
height=36
layer=com_3801
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_3805]
type=graphic
x=4
y=43
width=72
height=36
layer=com_3801
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_3806]
type=graphic
x=21
y=131
width=34
height=24
layer=com_3801
graphic=combaticons,10

[com_3807]
type=graphic
x=22
y=7
width=34
height=24
layer=com_3801
graphic=combaticons,13

[com_3808]
type=graphic
x=21
y=49
width=34
height=24
layer=com_3801
graphic=combaticons,11

[com_3809]
type=graphic
x=22
y=91
width=34
height=24
layer=com_3801
graphic=combaticons,12

[com_3810]
type=text
x=78
y=2
width=31
height=11
layer=com_3801
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_3811]
type=text
x=78
y=44
width=36
height=11
layer=com_3801
textfont=p11_full
text=Pummel
textshadow=yes
colour=0xffff00

[com_3812]
type=text
x=78
y=85
width=27
height=11
layer=com_3801
textfont=p11_full
text=Spike
textshadow=yes
colour=0xffff00

[com_3813]
type=text
x=78
y=127
width=26
height=11
layer=com_3801
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_3814]
type=text
x=77
y=14
width=50
height=11
layer=com_3801
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_3815]
type=text
x=78
y=97
width=58
height=11
layer=com_3801
textfont=p11_full
text=(Controlled)
colour=0xffff00

[com_3816]
type=text
x=78
y=56
width=64
height=11
layer=com_3801
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_3817]
type=text
x=78
y=139
width=58
height=11
layer=com_3801
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_3818]
type=text
x=81
y=86
width=36
height=11
layer=com_3796
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_3819]
type=text
x=82
y=128
width=36
height=11
layer=com_3796
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_3820]
type=text
x=82
y=169
width=29
height=11
layer=com_3796
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_3821]
type=text
x=82
y=211
width=36
height=11
layer=com_3796
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_7612]
type=rectangle
y=1
width=156
height=23
layer=com_7624
buttontype=1
colour=0xffff00
buttontext=Use @gre@Special Attack

[com_7613]
type=graphic
x=131
y=1
width=25
height=30
layer=com_7624
graphic=steelborder,1

[com_7614]
type=graphic
y=1
width=25
height=30
layer=com_7624
graphic=steelborder,0

[com_7615]
type=graphic
x=6
y=-15
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7616]
type=graphic
x=42
y=-15
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7617]
type=graphic
x=78
y=-15
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7618]
type=graphic
x=114
y=-15
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7619]
type=graphic
x=5
y=3
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7620]
type=graphic
x=41
y=3
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7621]
type=graphic
x=77
y=3
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7622]
type=graphic
x=112
y=3
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7623]
type=graphic
x=115
y=3
width=36
height=36
layer=com_7624
graphic=miscgraphics,3

[com_7624]
type=layer
x=17
y=231
width=158
height=24
layer=com_3796
hide=yes

[com_7625]
type=model
x=5
y=8
width=146
height=9
layer=com_7624
model=model_3476
modelangle=500,0,0
modelzoom=1153

[com_7626]
type=model
x=3
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 99

[com_7627]
type=model
x=18
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 199

[com_7628]
type=model
x=33
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 299

[com_7629]
type=model
x=47
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 399

[com_7630]
type=model
x=61
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 499

[com_7631]
type=model
x=75
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 599

[com_7632]
type=model
x=90
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 699

[com_7633]
type=model
x=104
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 799

[com_7634]
type=model
x=118
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 899

[com_7635]
type=model
x=132
y=8
width=146
height=9
layer=com_7624
model=model_3475
modelangle=500,0,0
modelzoom=1153
script=varplayer_300 > 999

[com_7636]
type=text
x=20
y=7
width=117
height=11
layer=com_7624
textfont=p11_full
text=S P E C I A L  A T T A C K
textactive=@yel@S P E C I A L  A T T A C K
colour=0x000010
script=varplayer_301 > 0

