[com_0]
type=model
x=244
y=189
width=32
height=32
model=model_9853
modelangle=512,0,0
modelzoom=739

[com_1]
type=model
x=246
y=10
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=1182

[com_2]
type=model
x=306
y=85
width=70
height=92
model=model_2747
modelangle=116,1942,0
modelzoom=346

[com_3]
type=model
x=58
y=179
width=64
height=96
model=model_2428
modelangle=590,868,0
modelzoom=293

[com_4]
type=model
x=54
y=82
width=64
height=96
model=model_2548
modelangle=147,40,0
modelzoom=338

[com_5]
type=model
x=142
y=80
width=64
height=96
model=model_5745
modelangle=53,1965,0
modelzoom=741

[com_6]
type=model
x=229
y=77
width=64
height=96
model=model_5754
modelangle=197,1921,0
modelzoom=687

[com_7]
type=model
x=145
y=202
width=63
height=50
model=model_5740
modelangle=427,2031,0
modelzoom=378

[com_8]
type=model
x=394
y=82
width=59
height=79
model=model_14186
modelangle=125,2042,0
modelzoom=652

[com_9]
type=text
x=304
y=90
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make X

[com_10]
type=text
x=304
y=90
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

[com_11]
type=text
x=304
y=90
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 5

[com_12]
type=text
x=304
y=90
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br><br>Vial
textalignh=centre
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 1

[com_13]
type=text
x=51
y=208
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make X

[com_14]
type=text
x=51
y=208
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 10

[com_15]
type=text
x=51
y=208
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 5

[com_16]
type=text
x=51
y=208
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br><br>Orb
textalignh=centre
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 1

[com_17]
type=text
x=49
y=84
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

[com_18]
type=text
x=49
y=84
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

[com_19]
type=text
x=49
y=84
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

[com_20]
type=text
x=49
y=84
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br><br>Beer Glass
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 1

[com_21]
type=text
x=134
y=93
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

[com_22]
type=text
x=134
y=93
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9933
buttontext=Make 10

[com_23]
type=text
x=134
y=93
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

[com_24]
type=text
x=134
y=93
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br>Candle<br>Lantern
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 1

[com_25]
type=text
x=220
y=93
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

[com_26]
type=text
x=220
y=93
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

[com_27]
type=text
x=220
y=93
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

[com_28]
type=text
x=220
y=93
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br>Oil<br>Lamp
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 1

[com_29]
type=text
x=135
y=205
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

[com_30]
type=text
x=135
y=205
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

[com_31]
type=text
x=135
y=205
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

[com_32]
type=text
x=135
y=205
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br><br>Lantern<br>Lens
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 1

[com_33]
type=text
x=384
y=90
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

[com_34]
type=text
x=384
y=90
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

[com_35]
type=text
x=384
y=90
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

[com_36]
type=text
x=384
y=90
width=75
height=93
buttontype=1
textfont=q8_full
text=<br><br><br><br>Fishbowl
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 1

[com_37]
type=model
x=225
y=228
width=71
height=52
mouseoverlayer=com_45
model=model_23615
modelangle=116,1942,0
modelzoom=330

[com_38]
type=text
x=223
y=205
width=73
height=94
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make X

[com_39]
type=text
x=223
y=205
width=73
height=94
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 10

[com_40]
type=text
x=223
y=205
width=73
height=94
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 5

[com_41]
type=text
x=223
y=205
width=73
height=94
buttontype=1
textfont=q8_full
text=<br><br><br><br>Dorgeshuun Light Orb  
textalignh=centre
colour=0x000000
mouseovercolour=0xff9900
buttontext=Make 1

[com_42]
type=text
x=135
y=9
width=259
height=38
textfont=q8_full
text=What would you like to make?
textalignh=centre
textalignv=centre
colour=0x000000

[com_43]
type=graphic
x=457
y=17
width=26
height=23
mouseoverlayer=com_45
graphic="close_buttons,4"

[com_44]
type=graphic
x=3
y=5
width=26
height=23
layer=com_45
buttontype=3
graphic="close_buttons,5"

[com_45]
type=layer
x=454
y=12
width=32
height=32
hide=yes

