[com_5875]
type=layer
width=512
height=334

[com_5876]
type=graphic
x=12
y=20
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5877]
type=graphic
x=12
y=80
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5878]
type=graphic
x=12
y=140
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5879]
type=graphic
x=12
y=200
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5880]
type=graphic
x=12
y=260
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5881]
type=graphic
x=100
y=20
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5882]
type=graphic
x=100
y=80
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5883]
type=graphic
x=100
y=140
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5884]
type=graphic
x=100
y=200
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5885]
type=graphic
x=188
y=20
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5886]
type=graphic
x=100
y=260
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5887]
type=graphic
x=188
y=80
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5888]
type=graphic
x=188
y=140
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5889]
type=graphic
x=188
y=200
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5890]
type=graphic
x=188
y=260
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5891]
type=graphic
x=276
y=20
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5892]
type=graphic
x=364
y=80
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5893]
type=graphic
x=276
y=80
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5894]
type=graphic
x=276
y=140
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5895]
type=graphic
x=276
y=200
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5896]
type=graphic
x=276
y=260
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5897]
type=graphic
x=364
y=140
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5898]
type=graphic
x=364
y=20
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5899]
type=graphic
x=364
y=200
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5900]
type=graphic
x=364
y=260
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5901]
type=graphic
x=412
y=20
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5902]
type=graphic
x=412
y=80
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5903]
type=graphic
x=412
y=140
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5904]
type=graphic
x=412
y=200
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5905]
type=graphic
x=412
y=260
width=88
height=60
layer=com_5875
graphic=tradebacking,0

[com_5906]
type=graphic
x=12
y=20
width=25
height=30
layer=com_5875
graphic=steelborder,0

[com_5907]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5908]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5909]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5910]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5911]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5912]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5913]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_5875
graphic=miscgraphics,2

[com_5914]
type=graphic
x=479
y=50
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5915]
type=graphic
x=479
y=86
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5916]
type=graphic
x=479
y=122
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5917]
type=graphic
x=479
y=158
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5918]
type=graphic
x=479
y=194
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5919]
type=graphic
x=479
y=230
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5920]
type=graphic
x=479
y=266
width=36
height=36
layer=com_5875
graphic=steelborder2,1

[com_5921]
type=graphic
x=73
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5922]
type=graphic
x=109
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5923]
type=graphic
x=145
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5924]
type=graphic
x=181
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5925]
type=graphic
x=217
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5926]
type=graphic
x=253
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5927]
type=graphic
x=289
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5928]
type=graphic
x=325
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5929]
type=graphic
x=361
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5930]
type=graphic
x=397
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5931]
type=graphic
x=433
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5932]
type=graphic
x=72
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5933]
type=graphic
x=108
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5934]
type=graphic
x=144
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5935]
type=graphic
x=180
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5936]
type=graphic
x=216
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5937]
type=graphic
x=252
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5938]
type=graphic
x=288
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5939]
type=graphic
x=324
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5940]
type=graphic
x=360
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5941]
type=graphic
x=396
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5942]
type=graphic
x=432
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5943]
type=graphic
x=252
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5944]
type=graphic
x=37
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5945]
type=graphic
x=37
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5946]
type=graphic
x=12
y=290
width=25
height=30
layer=com_5875
graphic=steelborder,2

[com_5947]
type=graphic
x=475
y=20
width=25
height=30
layer=com_5875
graphic=steelborder,1

[com_5948]
type=graphic
x=439
y=5
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5949]
type=graphic
x=475
y=290
width=25
height=30
layer=com_5875
graphic=steelborder,3

[com_5950]
type=graphic
x=439
y=299
width=36
height=36
layer=com_5875
graphic=miscgraphics,3

[com_5951]
type=text
x=216
y=28
width=88
height=14
layer=com_5875
textfont=b12_full
text=Report abuse
textalignh=centre
textshadow=yes
colour=0xffff00

[com_5952]
type=text
x=420
y=29
width=68
height=11
layer=com_5875
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_5953]
type=graphic
x=324
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5954]
type=graphic
x=360
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5955]
type=graphic
x=288
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5956]
type=graphic
x=396
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5957]
type=graphic
x=432
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5958]
type=graphic
x=459
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5959]
type=graphic
x=216
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5960]
type=graphic
x=180
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5961]
type=graphic
x=144
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5962]
type=graphic
x=108
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5963]
type=graphic
x=72
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5964]
type=graphic
x=36
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5965]
type=graphic
x=17
y=34
width=36
height=36
layer=com_5875
graphic=steelborder2,0

[com_5966]
type=text
x=84
y=55
width=343
height=14
layer=com_5875
textfont=p12_full
text=This form is for reporting players who are breaking our rules.
textshadow=yes

[com_5967]
type=text
x=74
y=70
width=357
height=14
layer=com_5875
textfont=p12_full
text=Using it sends a snapshot of the last 60 secs of activity to us.
textshadow=yes

[com_5968]
type=text
x=130
y=85
width=242
height=14
layer=com_5875
textfont=p12_full
text=If you misuse this form, you will be banned.
textshadow=yes
colour=0xff8000

[com_5969]
type=text
x=75
y=180
width=362
height=14
layer=com_5875
textfont=p12_full
text=Then click below to indicate which of our 12 rules is being broken.
textshadow=yes
colour=0xffff00

[com_5970]
type=text
x=39
y=196
width=441
height=14
layer=com_5875
textfont=p12_full
text=For a detailed explanation of each rule please read the manual on our website.
textshadow=yes
colour=0xffff00

[com_5971]
type=text
clientcode=601
x=59
y=220
width=125
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=1: Offensive language
textshadow=yes
mouseovercolour=0xff0000

[com_5972]
type=text
clientcode=602
x=57
y=235
width=96
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=2: Item scamming
textshadow=yes
mouseovercolour=0xff0000

[com_5973]
type=text
clientcode=603
x=58
y=250
width=125
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=3: Password scamming
textshadow=yes
mouseovercolour=0xff0000

[com_5974]
type=text
clientcode=604
x=58
y=265
width=72
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=4: Bug abuse
textshadow=yes
mouseovercolour=0xff0000

[com_5975]
type=text
clientcode=605
x=58
y=280
width=166
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=5: Jagex staff impersonation
textshadow=yes
mouseovercolour=0xff0000

[com_5976]
type=text
clientcode=606
x=58
y=295
width=153
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=6: Account sharing/trading
textshadow=yes
mouseovercolour=0xff0000

[com_5977]
type=text
clientcode=607
x=276
y=220
width=63
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=7: Macroing
textshadow=yes
mouseovercolour=0xff0000

[com_5978]
type=text
clientcode=608
x=274
y=235
width=115
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=8: Multiple logging in
textshadow=yes
mouseovercolour=0xff0000

[com_5979]
type=text
clientcode=609
x=274
y=250
width=206
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=9: Encouraging others to break rules
textshadow=yes
mouseovercolour=0xff0000

[com_5980]
type=text
clientcode=610
x=268
y=265
width=180
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=10: Misuse of customer support
textshadow=yes
mouseovercolour=0xff0000

[com_5981]
type=text
clientcode=611
x=270
y=280
width=139
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=11: Advertising / website
textshadow=yes
mouseovercolour=0xff0000

[com_5982]
type=text
clientcode=612
x=268
y=295
width=147
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=12: Real world item trading
textshadow=yes
mouseovercolour=0xff0000

[com_5983]
type=text
x=91
y=118
width=330
height=14
layer=com_5875
textfont=p12_full
text=First please enter the name of the offending player below:
textshadow=yes
colour=0xffff00

[com_5984]
type=text
clientcode=600
x=233
y=137
width=58
height=14
layer=com_5875
textfont=b12_full
text=Andrew*
textalignh=centre
textshadow=yes

[com_5985]
type=text
clientcode=613
x=118
y=154
width=284
height=14
layer=com_5875
buttontype=1
textfont=p12_full
text=Moderator option: Mute player for 48 hours: <OFF>
textalignh=centre
textshadow=yes

[com_5986]
type=model
x=27
y=213
width=31
height=34
layer=com_5875
model=model_3180
modelangle=1489,1024,0
modelzoom=578

[com_5987]
type=model
x=437
y=213
width=32
height=32
layer=com_5875
model=model_3180
modelangle=1489,1024,0
modelzoom=578

