[com_735]
type=layer
width=512
height=334

[com_736]
type=model
x=239
y=145
width=35
height=35
layer=com_735
model=model_2666
modelangle=395,0,0
modelzoom=525

[com_737]
type=layer
x=300
y=80
width=135
height=167
layer=com_735
hide=yes

[com_738]
type=graphic
width=45
height=36
layer=com_739
buttontype=1
graphic=rightarrow,0

[com_739]
type=layer
x=432
y=259
width=45
height=36
layer=com_735

[com_740]
type=text
width=135
height=17
layer=com_737
textfont=q8_full
text=Cocktail Index
textalignh=centre
colour=0x000080

[com_741]
type=text
y=30
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Blurberry Special
textalignh=centre
colour=0x000000

[com_742]
type=text
y=50
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Chocolate Saturday
textalignh=centre
colour=0x000000

[com_743]
type=text
y=70
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Drunk Dragon
textalignh=centre
colour=0x000000

[com_744]
type=text
y=90
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Fruit Blast
textalignh=centre
colour=0x000000

[com_745]
type=text
y=110
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Pineapple Punch
textalignh=centre
colour=0x000000

[com_746]
type=text
y=130
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Short Green Guy
textalignh=centre
colour=0x000000

[com_747]
type=text
y=150
width=135
height=17
layer=com_737
buttontype=1
textfont=q8_full
text=Wizard Blizzard
textalignh=centre
colour=0x000000

[com_748]
type=layer
x=47
y=80
width=409
height=209
layer=com_735

[com_749]
type=text
x=15
width=163
height=17
layer=com_748
textfont=q8_full
text=Gnome Bowls
textalignh=centre
colour=0x000080

[com_750]
type=text
x=12
y=32
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Chocolate Bomb
textalignh=centre
colour=0x000000

[com_751]
type=text
x=11
y=48
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Tangled Toad's Legs
textalignh=centre
colour=0x000000

[com_752]
type=text
x=10
y=64
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Worm Hole
textalignh=centre
colour=0x000000

[com_753]
type=text
x=9
y=80
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Veg Ball
textalignh=centre
colour=0x000000

[com_754]
type=text
x=6
y=112
width=163
height=17
layer=com_748
textfont=q8_full
text=Gnome Crunchies
textalignh=centre
colour=0x000080

[com_755]
type=text
x=3
y=144
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Worm Crunchies
textalignh=centre
colour=0x000000

[com_756]
type=text
x=2
y=160
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Choc Chip Crunchies
textalignh=centre
colour=0x000000

[com_757]
type=text
x=1
y=176
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Spicy Crunchies
textalignh=centre
colour=0x000000

[com_758]
type=text
y=192
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Toad Crunchies
textalignh=centre
colour=0x000000

[com_759]
type=text
x=239
width=163
height=17
layer=com_748
textfont=q8_full
text=Gnome Battas
textalignh=centre
colour=0x000080

[com_760]
type=text
x=242
y=32
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Worm Batta
textalignh=centre
colour=0x000000

[com_761]
type=text
x=243
y=48
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Toad's Legs Batta
textalignh=centre
colour=0x000000

[com_762]
type=text
x=244
y=64
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Cheese & Tomato Batta
textalignh=centre
colour=0x000000

[com_763]
type=text
x=245
y=80
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Fruit Batta
textalignh=centre
colour=0x000000

[com_764]
type=text
x=246
y=96
width=163
height=17
layer=com_748
buttontype=1
textfont=q8_full
text=Vegetable Batta
textalignh=centre
colour=0x000000

[com_765]
type=layer
x=12
y=20
width=488
height=36
layer=com_735

[com_766]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_765
graphic=tradebacking,0

[com_767]
type=graphic
x=182
y=6
width=88
height=60
layer=com_765
graphic=tradebacking,0

[com_768]
type=graphic
x=270
y=6
width=88
height=60
layer=com_765
graphic=tradebacking,0

[com_769]
type=graphic
x=358
y=6
width=88
height=60
layer=com_765
graphic=tradebacking,0

[com_770]
type=graphic
x=394
y=6
width=88
height=60
layer=com_765
graphic=tradebacking,0

[com_771]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_765
graphic=tradebacking,0

[com_772]
type=graphic
x=60
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_773]
type=graphic
x=96
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_774]
type=graphic
x=132
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_775]
type=graphic
x=168
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_776]
type=graphic
x=204
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_777]
type=graphic
x=240
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_778]
type=graphic
x=276
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_779]
type=graphic
x=312
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_780]
type=graphic
x=348
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_781]
type=graphic
x=384
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_782]
type=graphic
x=420
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_783]
type=graphic
x=428
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_784]
type=graphic
width=25
height=30
layer=com_765
graphic=steelborder,0

[com_785]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_786]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_787]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_788]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_789]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_790]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_791]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_792]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_793]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_794]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_795]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_796]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_797]
type=graphic
x=463
width=25
height=30
layer=com_765
graphic=steelborder,1

[com_798]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_765
graphic=steelborder2,0

[com_799]
type=graphic
x=463
y=7
width=25
height=30
layer=com_765
graphic=steelborder,3

[com_800]
type=graphic
x=25
y=16
width=36
height=36
layer=com_765
graphic=miscgraphics,3

[com_801]
type=graphic
y=7
width=25
height=30
layer=com_765
graphic=steelborder,2

[com_802]
type=text
x=75
y=30
width=360
height=14
layer=com_735
textfont=b12_full
text=The Blurberry Cocktail Guide
textalignh=centre
textshadow=yes
colour=0xffff00

[com_803]
type=text
x=424
y=28
width=68
height=11
layer=com_735
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

