[com_1764]
type=layer
width=512
height=334

[com_1765]
type=model
x=135
y=16
width=35
height=32
layer=com_1764
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_1766]
type=text
x=4
y=10
width=47
height=14
layer=com_1764
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_1767]
type=text
x=52
y=10
width=17
height=14
layer=com_1764
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_1768]
type=text
x=4
y=40
width=114
height=14
layer=com_1764
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_1769]
type=layer
x=4
y=60
width=145
height=190
layer=com_1764

[com_1770]
type=graphic
x=5
y=97
width=72
height=36
layer=com_1769
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_1771]
type=graphic
x=5
y=51
width=72
height=36
layer=com_1769
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_1772]
type=graphic
x=5
y=5
width=72
height=36
layer=com_1769
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_1773]
type=graphic
x=22
y=103
width=34
height=24
layer=com_1769
graphic=combaticons2,17

[com_1774]
type=graphic
x=21
y=11
width=34
height=24
layer=com_1769
graphic=combaticons2,15

[com_1775]
type=graphic
x=22
y=57
width=34
height=24
layer=com_1769
graphic=combaticons2,16

[com_1776]
type=text
x=78
y=15
width=51
height=14
layer=com_1769
textfont=p12_full
text=Accurate
textshadow=yes
colour=0xffff00

[com_1777]
type=text
x=78
y=60
width=31
height=14
layer=com_1769
textfont=p12_full
text=Rapid
textshadow=yes
colour=0xffff00

[com_1778]
type=text
x=78
y=107
width=60
height=14
layer=com_1769
textfont=p12_full
text=Longrange
textshadow=yes
colour=0xffff00

