[com_2755]
type=layer
width=512
height=334

[com_2756]
type=graphic
x=12
y=20
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2757]
type=graphic
x=12
y=80
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2758]
type=graphic
x=12
y=140
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2759]
type=graphic
x=12
y=200
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2760]
type=graphic
x=12
y=260
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2761]
type=graphic
x=100
y=20
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2762]
type=graphic
x=100
y=80
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2763]
type=graphic
x=100
y=140
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2764]
type=graphic
x=100
y=200
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2765]
type=graphic
x=188
y=20
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2766]
type=graphic
x=100
y=260
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2767]
type=graphic
x=188
y=80
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2768]
type=graphic
x=188
y=140
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2769]
type=graphic
x=188
y=200
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2770]
type=graphic
x=188
y=260
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2771]
type=graphic
x=276
y=20
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2772]
type=graphic
x=364
y=80
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2773]
type=graphic
x=276
y=80
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2774]
type=graphic
x=276
y=140
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2775]
type=graphic
x=276
y=200
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2776]
type=graphic
x=276
y=260
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2777]
type=graphic
x=364
y=140
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2778]
type=graphic
x=364
y=20
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2779]
type=graphic
x=364
y=200
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2780]
type=graphic
x=364
y=260
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2781]
type=graphic
x=412
y=20
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2782]
type=graphic
x=412
y=80
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2783]
type=graphic
x=412
y=140
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2784]
type=graphic
x=412
y=200
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2785]
type=graphic
x=412
y=260
width=88
height=60
layer=com_2755
graphic=tradebacking,0

[com_2786]
type=graphic
x=12
y=20
width=25
height=30
layer=com_2755
graphic=steelborder,0

[com_2787]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2788]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2789]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2790]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2791]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2792]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2793]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_2755
graphic=miscgraphics,2

[com_2794]
type=graphic
x=479
y=50
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2795]
type=graphic
x=479
y=86
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2796]
type=graphic
x=479
y=122
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2797]
type=graphic
x=479
y=158
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2798]
type=graphic
x=479
y=194
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2799]
type=graphic
x=479
y=230
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2800]
type=graphic
x=479
y=266
width=36
height=36
layer=com_2755
graphic=steelborder2,1

[com_2801]
type=graphic
x=73
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2802]
type=graphic
x=109
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2803]
type=graphic
x=145
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2804]
type=graphic
x=181
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2805]
type=graphic
x=217
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2806]
type=graphic
x=253
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2807]
type=graphic
x=289
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2808]
type=graphic
x=325
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2809]
type=graphic
x=361
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2810]
type=graphic
x=397
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2811]
type=graphic
x=433
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2812]
type=graphic
x=72
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2813]
type=graphic
x=108
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2814]
type=graphic
x=144
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2815]
type=graphic
x=180
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2816]
type=graphic
x=216
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2817]
type=graphic
x=252
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2818]
type=graphic
x=288
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2819]
type=graphic
x=324
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2820]
type=graphic
x=360
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2821]
type=graphic
x=396
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2822]
type=graphic
x=432
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2823]
type=graphic
x=252
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2824]
type=graphic
x=37
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2825]
type=graphic
x=37
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2826]
type=graphic
x=12
y=290
width=25
height=30
layer=com_2755
graphic=steelborder,2

[com_2827]
type=graphic
x=475
y=20
width=25
height=30
layer=com_2755
graphic=steelborder,1

[com_2828]
type=graphic
x=439
y=5
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2829]
type=graphic
x=475
y=290
width=25
height=30
layer=com_2755
graphic=steelborder,3

[com_2830]
type=graphic
x=439
y=299
width=36
height=36
layer=com_2755
graphic=miscgraphics,3

[com_2831]
type=model
x=65
y=95
width=32
height=32
layer=com_2755
buttontype=5
model=model_114
modelangle=0,200,0
modelzoom=1200
buttontext=Bald
script=varplayer_260 = 1

[com_2832]
type=text
x=190
y=30
width=130
height=14
layer=com_2755
textfont=b12_full
text=Hairdressers' Salon
textalignh=centre
textshadow=yes
colour=0xffff00

[com_2833]
type=text
x=420
y=29
width=68
height=11
layer=com_2755
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_2834]
type=model
x=150
y=95
width=32
height=32
layer=com_2755
buttontype=5
model=model_97
modelangle=0,200,0
modelzoom=1200
buttontext=Bouffant
script=varplayer_260 = 2

[com_2835]
type=graphic
x=288
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2836]
type=graphic
x=324
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2837]
type=graphic
x=360
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2838]
type=graphic
x=396
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2839]
type=graphic
x=432
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2840]
type=graphic
x=459
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2841]
type=graphic
x=216
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2842]
type=graphic
x=180
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2843]
type=graphic
x=144
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2844]
type=graphic
x=108
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2845]
type=graphic
x=72
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2846]
type=graphic
x=36
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2847]
type=graphic
x=17
y=34
width=36
height=36
layer=com_2755
graphic=steelborder2,0

[com_2848]
type=model
x=235
y=95
width=32
height=32
layer=com_2755
buttontype=5
model=model_104
modelangle=0,200,0
modelzoom=1200
buttontext=Highlights
script=varplayer_260 = 3

[com_2849]
type=model
x=320
y=95
width=32
height=32
layer=com_2755
buttontype=5
model=model_107
modelangle=0,200,0
modelzoom=1200
buttontext=Traditional
script=varplayer_260 = 4

[com_2850]
type=model
x=65
y=175
width=32
height=32
layer=com_2755
buttontype=5
model=model_112
modelangle=0,200,0
modelzoom=1200
buttontext=Pigtails
script=varplayer_260 = 6

[com_2851]
type=model
x=150
y=175
width=32
height=32
layer=com_2755
buttontype=5
model=model_108
modelangle=0,200,0
modelzoom=1200
buttontext=Cropped
script=varplayer_260 = 7

[com_2852]
type=model
x=235
y=175
width=32
height=32
layer=com_2755
buttontype=5
model=model_119
modelangle=0,200,0
modelzoom=1200
buttontext=Professional
script=varplayer_260 = 8

[com_2853]
type=model
x=320
y=175
width=32
height=32
layer=com_2755
buttontype=5
model=model_99
modelangle=0,200,0
modelzoom=1200
buttontext=Spikey
script=varplayer_260 = 9

[com_2854]
type=model
x=405
y=95
width=32
height=32
layer=com_2755
buttontype=5
model=model_109
modelangle=0,200,0
modelzoom=1200
buttontext=Modern
script=varplayer_260 = 5

[com_2855]
type=model
x=405
y=175
width=32
height=32
layer=com_2755
buttontype=5
model=model_98
modelangle=0,200,0
modelzoom=1200
buttontext=Swept back
script=varplayer_260 = 10

[com_2856]
type=text
x=390
y=290
width=55
height=14
layer=com_2755
buttontype=1
textfont=b12_full
text=CONFIRM
textshadow=yes
colour=0x00ff00

[com_2857]
type=rectangle
x=11
y=17
width=227
height=24
layer=com_2865
colour=0x191104
fill=yes

[com_2858]
type=rectangle
x=12
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0x494034
fill=yes
buttontext=Chestnut
script=varplayer_261 = 1

[com_2859]
type=rectangle
x=44
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0xd6d1d1
fill=yes
buttontext=White
script=varplayer_261 = 2

[com_2860]
type=rectangle
x=76
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0x76756c
fill=yes
buttontext=Distinguished
script=varplayer_261 = 3

[com_2861]
type=rectangle
x=107
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0x2f2a2a
fill=yes
buttontext=Raven
script=varplayer_261 = 4

[com_2862]
type=rectangle
x=139
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0xcb823e
fill=yes
buttontext=Strawberry
script=varplayer_261 = 5

[com_2863]
type=rectangle
x=171
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0xcdad53
fill=yes
buttontext=Blonde
script=varplayer_261 = 6

[com_2864]
type=rectangle
x=203
y=18
width=32
height=20
layer=com_2865
buttontype=5
colour=0x885f29
fill=yes
buttontext=Copper
script=varplayer_261 = 7

[com_2865]
type=layer
x=128
y=245
width=250
height=40
layer=com_2755

[com_2866]
type=text
x=67
width=114
height=14
layer=com_2865
textfont=p12_full
text=Please select colour
textalignh=centre
textshadow=yes
colour=0xffff00

[com_2867]
type=graphic
x=85
y=115
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 1

[com_2868]
type=graphic
x=170
y=115
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 2

[com_2869]
type=graphic
x=260
y=115
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 3

[com_2870]
type=graphic
x=345
y=115
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 4

[com_2871]
type=graphic
x=430
y=115
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 5

[com_2872]
type=graphic
x=85
y=195
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 6

[com_2873]
type=graphic
x=170
y=195
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 7

[com_2874]
type=graphic
x=260
y=195
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 8

[com_2875]
type=graphic
x=340
y=195
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 9

[com_2876]
type=graphic
x=430
y=195
width=25
height=25
layer=com_2755
graphicactive=headicons,1
script=varplayer_260 = 10

[com_2877]
type=graphic
x=144
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 1

[com_2878]
type=graphic
x=176
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 2

[com_2879]
type=graphic
x=208
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 3

[com_2880]
type=graphic
x=239
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 4

[com_2881]
type=graphic
x=271
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 5

[com_2882]
type=graphic
x=304
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 6

[com_2883]
type=graphic
x=335
y=261
width=20
height=20
layer=com_2755
graphicactive=headicons,1
script=varplayer_261 = 7

