[com_0]
type=rectangle
x=-3
y=-1
width=520
height=336
colour=0x2b2b14
fill=yes

[com_1]
type=model
x=224
y=211
width=32
height=32
model=model_25890
modelangle=143,0,0
modelzoom=867

[com_2]
type=layer
x=34
y=34
width=32
height=32
hide=yes

[com_3]
type=model
x=190
y=177
width=32
height=32
layer=com_2
model=model_25889
modelangle=143,0,0
modelzoom=867

[com_4]
type=layer
x=61
y=172
width=400
height=120

[com_5]
type=layer
x=105
y=221
width=20
height=20
mouseoverlayer=com_7

[com_6]
type=model
x=119
y=-10
width=32
height=32
layer=com_5
mouseoverlayer=com_5
model=model_25892
modelangle=143,0,0
modelzoom=867

[com_7]
type=layer
x=106
y=221
width=20
height=20
hide=yes
buttontype=1

[com_8]
type=model
x=118
y=-10
width=32
height=32
layer=com_7
buttontype=1
model=model_25902
modelangle=143,0,0
modelzoom=867

[com_9]
type=layer
x=130
y=221
width=20
height=20
mouseoverlayer=com_11

[com_10]
type=model
x=94
y=-10
width=32
height=32
layer=com_9
mouseoverlayer=com_5
model=model_25903
modelangle=143,0,0
modelzoom=867

[com_11]
type=layer
x=130
y=220
width=20
height=20
hide=yes
buttontype=1

[com_12]
type=model
x=94
y=-9
width=32
height=32
layer=com_11
buttontype=1
model=model_25904
modelangle=143,0,0
modelzoom=867

[com_13]
type=layer
x=151
y=220
width=20
height=20
mouseoverlayer=com_15

[com_14]
type=model
x=73
y=-9
width=32
height=32
layer=com_13
mouseoverlayer=com_5
model=model_25905
modelangle=143,0,0
modelzoom=867

[com_15]
type=layer
x=151
y=220
width=20
height=20
hide=yes
buttontype=1

[com_16]
type=model
x=73
y=-9
width=32
height=32
layer=com_15
buttontype=1
model=model_25906
modelangle=143,0,0
modelzoom=867

[com_17]
type=layer
x=194
y=221
width=20
height=20
mouseoverlayer=com_19

[com_18]
type=model
x=30
y=-10
width=32
height=32
layer=com_17
model=model_25909
modelangle=143,0,0
modelzoom=867

[com_19]
type=layer
x=193
y=220
width=20
height=20
hide=yes
buttontype=1

[com_20]
type=model
x=31
y=-9
width=32
height=32
layer=com_19
buttontype=1
model=model_25910
modelangle=143,0,0
modelzoom=867

[com_21]
type=layer
x=172
y=221
width=20
height=20
mouseoverlayer=com_23

[com_22]
type=model
x=52
y=-10
width=32
height=32
layer=com_21
mouseoverlayer=com_5
model=model_25907
modelangle=143,0,0
modelzoom=867

[com_23]
type=layer
x=172
y=221
width=20
height=20
hide=yes
buttontype=1

[com_24]
type=model
x=52
y=-10
width=32
height=32
layer=com_23
buttontype=1
model=model_25908
modelangle=143,0,0
modelzoom=867

[com_25]
type=layer
x=215
y=221
width=20
height=20
mouseoverlayer=com_27

[com_26]
type=model
x=9
y=-10
width=32
height=32
layer=com_25
model=model_25911
modelangle=143,0,0
modelzoom=867

[com_27]
type=layer
x=214
y=221
width=20
height=20
hide=yes
buttontype=1

[com_28]
type=model
x=10
y=-10
width=32
height=32
layer=com_27
model=model_25912
modelangle=143,0,0
modelzoom=867

[com_29]
type=layer
x=235
y=221
width=20
height=20
mouseoverlayer=com_31

[com_30]
type=model
x=-11
y=-10
width=32
height=32
layer=com_29
model=model_25913
modelangle=143,0,0
modelzoom=867

[com_31]
type=layer
x=234
y=222
width=20
height=20
hide=yes
buttontype=1

[com_32]
type=model
x=-10
y=-11
width=32
height=32
layer=com_31
model=model_25914
modelangle=143,0,0
modelzoom=867

[com_33]
type=layer
x=277
y=223
width=20
height=20
mouseoverlayer=com_35

[com_34]
type=model
x=-53
y=-12
width=32
height=32
layer=com_33
model=model_25917
modelangle=143,0,0
modelzoom=867

[com_35]
type=layer
x=277
y=221
width=20
height=20
hide=yes
buttontype=1

[com_36]
type=model
x=-53
y=-10
width=32
height=32
layer=com_35
buttontype=1
model=model_25918
modelangle=143,0,0
modelzoom=867

[com_37]
type=layer
x=255
y=222
width=20
height=20
mouseoverlayer=com_39

[com_38]
type=model
x=-31
y=-11
width=32
height=32
layer=com_37
model=model_25915
modelangle=143,0,0
modelzoom=867

[com_39]
type=layer
x=256
y=221
width=20
height=20
hide=yes
buttontype=1

[com_40]
type=model
x=-32
y=-10
width=32
height=32
layer=com_39
buttontype=1
model=model_25916
modelangle=143,0,0
modelzoom=867

[com_41]
type=layer
x=298
y=222
width=20
height=20
mouseoverlayer=com_43

[com_42]
type=model
x=-74
y=-11
width=32
height=32
layer=com_41
model=model_25893
modelangle=143,0,0
modelzoom=867

[com_43]
type=layer
x=299
y=222
width=20
height=20
hide=yes
buttontype=1

[com_44]
type=model
x=-75
y=-11
width=32
height=32
layer=com_43
buttontype=1
model=model_25891
modelangle=143,0,0
modelzoom=867

[com_45]
type=layer
x=384
y=223
width=20
height=20
mouseoverlayer=com_47

[com_46]
type=model
x=-160
y=-12
width=32
height=32
layer=com_45
model=model_25901
modelangle=143,0,0
modelzoom=867

[com_47]
type=layer
x=384
y=222
width=20
height=20
hide=yes
buttontype=1

[com_48]
type=model
x=-160
y=-11
width=32
height=32
layer=com_47
buttontype=1
model=model_25900
modelangle=143,0,0
modelzoom=867

[com_49]
type=layer
x=363
y=223
width=20
height=20
mouseoverlayer=com_51

[com_50]
type=model
x=-139
y=-12
width=32
height=32
layer=com_49
model=model_25899
modelangle=143,0,0
modelzoom=867

[com_51]
type=layer
x=363
y=223
width=20
height=20
hide=yes
buttontype=1

[com_52]
type=model
x=-139
y=-12
width=32
height=32
layer=com_51
buttontype=1
model=model_25898
modelangle=143,0,0
modelzoom=867

[com_53]
type=layer
x=340
y=222
width=20
height=20
mouseoverlayer=com_55

[com_54]
type=model
x=-116
y=-11
width=32
height=32
layer=com_53
model=model_25897
modelangle=143,0,0
modelzoom=867

[com_55]
type=layer
x=341
y=223
width=20
height=20
hide=yes
buttontype=1

[com_56]
type=model
x=-117
y=-12
width=32
height=32
layer=com_55
buttontype=1
model=model_25896
modelangle=143,0,0
modelzoom=867

[com_57]
type=layer
x=320
y=222
width=20
height=20
mouseoverlayer=com_59

[com_58]
type=model
x=-96
y=-11
width=32
height=32
layer=com_57
model=model_25895
modelangle=143,0,0
modelzoom=867

[com_59]
type=layer
x=318
y=222
width=20
height=20
hide=yes
buttontype=1

[com_60]
type=model
x=-94
y=-11
width=32
height=32
layer=com_59
buttontype=1
model=model_25894
modelangle=143,0,0
modelzoom=867

[com_61]
type=layer
x=405
y=203
width=20
height=20
mouseoverlayer=com_63

[com_62]
type=model
x=-181
y=8
width=32
height=32
layer=com_61
model=model_25886
modelangle=143,0,0
modelzoom=867

[com_63]
type=layer
x=405
y=202
width=20
height=20
hide=yes
buttontype=1

[com_64]
type=model
x=-181
y=9
width=32
height=32
layer=com_63
buttontype=1
model=model_25885
modelangle=143,0,0
modelzoom=867

[com_65]
type=graphic
x=467
y=26
width=26
height=23
mouseoverlayer=com_67
graphic="close_buttons,4"

[com_66]
type=graphic
x=3
y=5
width=26
height=23
layer=com_67
buttontype=1
graphic="close_buttons,5"

[com_67]
type=layer
x=464
y=21
width=32
height=32
hide=yes

[com_68]
type=rectangle
x=108
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower C

[com_69]
type=rectangle
x=129
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower D

[com_70]
type=rectangle
x=150
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower E

[com_71]
type=rectangle
x=171
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower F

[com_72]
type=rectangle
x=192
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower G

[com_73]
type=rectangle
x=213
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower A

[com_74]
type=rectangle
x=234
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Lower B

[com_75]
type=rectangle
x=255
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper C

[com_76]
type=rectangle
x=276
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper D

[com_77]
type=rectangle
x=297
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper E

[com_78]
type=rectangle
x=318
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper F

[com_79]
type=rectangle
x=339
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper G

[com_80]
type=rectangle
x=360
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper A

[com_81]
type=rectangle
x=381
y=222
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Upper B

[com_82]
type=rectangle
x=405
y=201
width=20
height=20
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Demo

[com_83]
type=layer
x=192
y=42
width=130
height=80
hide=yes
buttontype=1

[com_84]
type=rectangle
x=14
y=8
width=91
height=41
layer=com_83
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Open compartment

[com_85]
type=layer
x=192
y=42
width=130
height=80
hide=yes
buttontype=1

[com_86]
type=rectangle
x=14
y=8
width=91
height=41
layer=com_85
buttontype=1
trans=250
colour=0xffff00
fill=yes
buttontext=Search compartment

