[com_18458]
type=layer
width=512
height=334

[com_18459]
type=rectangle
width=512
height=400
layer=com_18458
trans=140
colour=0x203d46
fill=yes

