[com_18343]
type=layer
width=512
height=334

[com_18344]
type=graphic
y=-4
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18345]
type=graphic
x=103
y=-4
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18346]
type=graphic
x=206
y=-4
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18347]
type=graphic
x=309
y=-4
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18348]
type=graphic
x=412
y=-4
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18349]
type=graphic
y=99
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18350]
type=graphic
x=103
y=99
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18351]
type=graphic
x=206
y=99
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18352]
type=graphic
x=309
y=99
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18353]
type=graphic
x=412
y=99
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18354]
type=graphic
y=202
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18355]
type=graphic
x=103
y=202
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18356]
type=graphic
x=206
y=202
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18357]
type=graphic
x=309
y=202
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18358]
type=graphic
x=412
y=202
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18359]
type=graphic
y=305
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18360]
type=graphic
x=103
y=305
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18361]
type=graphic
x=206
y=305
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18362]
type=graphic
x=309
y=305
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18363]
type=graphic
x=412
y=305
width=104
height=104
layer=com_18343
graphic=tex_brown,0

[com_18364]
type=model
x=27
y=256
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3457

[com_18365]
type=model
x=149
y=256
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3457

[com_18366]
type=model
x=271
y=256
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3457

[com_18367]
type=model
x=394
y=256
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3457

[com_18368]
type=model
x=333
y=152
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3458

[com_18369]
type=model
x=456
y=152
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3458

[com_18370]
type=model
x=89
y=152
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3458

[com_18371]
type=model
x=211
y=152
width=32
height=32
layer=com_18343
model=model_13353
modelzoom=400
modelanim=seq_3458

[com_18372]
type=rectangle
x=-50
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x001040
fill=yes

[com_18373]
type=rectangle
x=11
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x203080
fill=yes

[com_18374]
type=rectangle
x=72
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x001040
fill=yes

[com_18375]
type=rectangle
x=133
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x203080
fill=yes

[com_18376]
type=rectangle
x=194
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x001040
fill=yes

[com_18377]
type=rectangle
x=255
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x203080
fill=yes

[com_18378]
type=rectangle
x=316
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x001040
fill=yes

[com_18379]
type=rectangle
x=377
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x203080
fill=yes

[com_18380]
type=rectangle
x=438
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x001040
fill=yes

[com_18381]
type=rectangle
x=499
y=-1
width=61
height=338
layer=com_18343
trans=160
colour=0x203080
fill=yes

[com_18382]
type=rectangle
x=130
y=107
width=267
height=137
layer=com_18343
trans=128
colour=0x000000
fill=yes

[com_18383]
type=graphic
x=125
y=146
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18384]
type=graphic
x=211
y=146
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18385]
type=graphic
x=298
y=146
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18386]
type=graphic
x=297
y=174
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18387]
type=graphic
x=214
y=174
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18388]
type=graphic
x=127
y=174
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18389]
type=graphic
x=299
y=104
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18390]
type=graphic
x=215
y=104
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18391]
type=graphic
x=128
y=104
width=88
height=60
layer=com_18343
graphic=tradebacking,0

[com_18392]
type=inv
x=144
y=120
width=5
height=2
layer=com_18343
paddingx=16
paddingy=33

[com_18393]
type=graphic
x=123
y=100
width=25
height=30
layer=com_18343
graphic=steelborder,0

[com_18394]
type=graphic
x=147
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18395]
type=graphic
x=182
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18396]
type=graphic
x=217
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18397]
type=graphic
x=252
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18398]
type=graphic
x=287
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18399]
type=graphic
x=322
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18400]
type=graphic
x=341
y=85
width=36
height=36
layer=com_18343
graphic=steelborder2,0

[com_18401]
type=graphic
x=365
y=100
width=25
height=30
layer=com_18343
graphic=steelborder,1

[com_18402]
type=graphic
x=369
y=129
width=36
height=36
layer=com_18343
graphic=steelborder2,1

[com_18403]
type=graphic
x=369
y=164
width=36
height=36
layer=com_18343
graphic=steelborder2,1

[com_18404]
type=graphic
x=369
y=199
width=36
height=36
layer=com_18343
graphic=steelborder2,1

[com_18405]
type=graphic
x=365
y=208
width=25
height=30
layer=com_18343
graphic=steelborder,3

[com_18406]
type=graphic
x=330
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18407]
type=graphic
x=295
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18408]
type=graphic
x=260
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18409]
type=graphic
x=225
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18410]
type=graphic
x=190
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18411]
type=graphic
x=155
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18412]
type=graphic
x=108
y=129
width=36
height=36
layer=com_18343
graphic=miscgraphics,2

[com_18413]
type=graphic
x=108
y=164
width=36
height=36
layer=com_18343
graphic=miscgraphics,2

[com_18414]
type=graphic
x=108
y=199
width=36
height=36
layer=com_18343
graphic=miscgraphics,2

[com_18415]
type=graphic
x=123
y=208
width=25
height=30
layer=com_18343
graphic=steelborder,2

[com_18416]
type=graphic
x=138
y=217
width=36
height=36
layer=com_18343
graphic=miscgraphics,3

[com_18417]
type=text
x=431
y=8
width=74
height=14
layer=com_18343
buttontype=1
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xc8c8ff
mouseovercolour=0xffffff

