[com_2469]
type=layer
width=512
height=334

[com_2470]
type=text
y=-1
width=480
height=17
layer=com_2469
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2471]
type=text
y=23
width=480
height=17
layer=com_2469
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2472]
type=text
y=47
width=480
height=17
layer=com_2469
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2473]
type=text
y=71
width=480
height=17
layer=com_2469
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2474]
type=graphic
width=57
height=13
layer=com_2476
graphic=sworddecor,1

[com_2475]
type=graphic
x=172
width=57
height=13
layer=com_2476
graphic=sworddecor,0

[com_2476]
type=layer
x=126
y=1
width=229
height=13
layer=com_2469

[com_2477]
type=graphic
width=57
height=13
layer=com_2479
graphic=sworddecor,1

[com_2478]
type=graphic
x=419
width=57
height=13
layer=com_2479
graphic=sworddecor,0

[com_2479]
type=layer
x=2
y=1
width=476
height=13
layer=com_2469
hide=yes

