[com_0]
type=rectangle
x=-2
width=562
height=362
colour=0x000000
fill=yes

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

[com_13]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

[com_14]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

[com_16]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

[com_17]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

[com_18]
type=graphic
x=326
y=139
width=88
height=60
graphic=tradebacking

[com_19]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

[com_20]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

[com_21]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

[com_22]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

[com_23]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

[com_24]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

[com_25]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

[com_26]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

[com_27]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

[com_28]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

[com_29]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

[com_30]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

[com_31]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

[com_32]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

[com_33]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

[com_34]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

[com_35]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

[com_36]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

[com_37]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

[com_38]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_39]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_40]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_41]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_42]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_43]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_44]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_45]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_46]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

[com_47]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

[com_48]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

[com_49]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

[com_50]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

[com_51]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_52]
type=graphic
x=325
y=140
width=88
height=60
graphic=tradebacking

[com_53]
type=layer
x=32
y=80
width=431
height=222
scrollheight=1863

[com_54]
type=rectangle
x=32
y=80
width=448
height=222
colour=0x333333

[com_55]
type=text
x=79
y=22
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_56]
type=rectangle
x=2
y=2
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_57]
type=text
x=79
y=84
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_58]
type=rectangle
x=2
y=64
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_59]
type=text
x=79
y=146
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_60]
type=rectangle
x=2
y=126
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_61]
type=text
x=79
y=208
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_62]
type=rectangle
x=2
y=188
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_63]
type=text
x=79
y=269
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_64]
type=rectangle
x=2
y=250
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_65]
type=text
x=79
y=332
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_66]
type=rectangle
x=2
y=312
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_67]
type=text
x=79
y=394
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_68]
type=rectangle
x=2
y=374
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_69]
type=text
x=79
y=456
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_70]
type=rectangle
x=2
y=436
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_71]
type=text
x=79
y=518
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_72]
type=rectangle
x=2
y=498
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_73]
type=text
x=79
y=580
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_74]
type=rectangle
x=2
y=560
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_75]
type=text
x=79
y=642
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_76]
type=rectangle
x=2
y=622
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_77]
type=text
x=80
y=704
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_78]
type=rectangle
x=2
y=684
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_79]
type=text
x=80
y=766
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_80]
type=rectangle
x=2
y=746
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_81]
type=text
x=80
y=828
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_82]
type=rectangle
x=2
y=808
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_83]
type=text
x=79
y=890
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_84]
type=rectangle
x=2
y=870
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_85]
type=text
x=79
y=952
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_86]
type=rectangle
x=2
y=932
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_87]
type=text
x=80
y=1014
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_88]
type=rectangle
x=2
y=994
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_89]
type=text
x=79
y=1076
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_90]
type=rectangle
x=2
y=1056
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_91]
type=text
x=79
y=1138
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_92]
type=rectangle
x=2
y=1118
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_93]
type=text
x=80
y=1200
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_94]
type=rectangle
x=2
y=1180
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_95]
type=text
x=79
y=1262
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_96]
type=rectangle
x=2
y=1242
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_97]
type=text
x=79
y=1324
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_98]
type=rectangle
x=2
y=1304
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_99]
type=text
x=79
y=1386
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_100]
type=rectangle
x=2
y=1366
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_101]
type=text
x=79
y=1448
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_102]
type=rectangle
x=2
y=1428
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_103]
type=text
x=79
y=1510
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_104]
type=rectangle
x=2
y=1490
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_105]
type=text
x=79
y=1572
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_106]
type=rectangle
x=2
y=1552
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_107]
type=text
x=79
y=1634
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_108]
type=rectangle
x=2
y=1614
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_109]
type=text
x=79
y=1696
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_110]
type=rectangle
x=2
y=1676
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_111]
type=text
x=79
y=1758
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_112]
type=rectangle
x=2
y=1738
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_113]
type=text
x=80
y=1820
width=162
height=15
layer=com_53
textfont=p12_full
textshadow=yes
colour=0xff981f

[com_114]
type=rectangle
x=2
y=1800
width=427
height=61
layer=com_53
buttontype=1
colour=0x333300

[com_115]
type=graphic
x=374
y=302
width=88
height=60
graphic=tradebacking

[com_116]
type=graphic
x=292
y=302
width=88
height=60
graphic=tradebacking

[com_117]
type=graphic
x=204
y=302
width=88
height=60
graphic=tradebacking

[com_118]
type=graphic
x=116
y=302
width=88
height=60
graphic=tradebacking

[com_119]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

[com_120]
type=graphic
x=408
y=20
width=88
height=60
graphic=tradebacking

[com_121]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

[com_122]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

[com_123]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

[com_124]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_125]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

[com_126]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

[com_127]
type=graphic
x=98
y=34
width=36
height=36
graphic="steelborder2,0"

[com_128]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_129]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

[com_130]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_131]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_132]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_133]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

[com_134]
type=graphic
x=422
y=34
width=36
height=36
graphic="steelborder2,0"

[com_135]
type=graphic
x=278
y=34
width=36
height=36
graphic="steelborder2,0"

[com_136]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_137]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

[com_138]
type=graphic
x=386
y=34
width=36
height=36
graphic="steelborder2,0"

[com_139]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

[com_140]
type=graphic
x=458
y=34
width=36
height=36
graphic="steelborder2,0"

[com_141]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

[com_142]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

[com_143]
type=graphic
x=242
y=34
width=36
height=36
graphic="steelborder2,0"

[com_144]
type=rectangle
x=11
y=-27
width=374
height=47
colour=0x000000
fill=yes

[com_145]
type=graphic
x=206
y=34
width=36
height=36
graphic="steelborder2,0"

[com_146]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_147]
type=graphic
x=28
y=302
width=150
height=10
graphic=tradebacking

[com_148]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_149]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

[com_150]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_151]
type=graphic
x=134
y=34
width=36
height=36
graphic="steelborder2,0"

[com_152]
type=graphic
x=350
y=34
width=36
height=36
graphic="steelborder2,0"

[com_153]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_154]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_155]
type=graphic
x=314
y=34
width=36
height=36
graphic="steelborder2,0"

[com_156]
type=rectangle
x=24
y=319
width=123
height=32
colour=0x000000
fill=yes

[com_157]
type=graphic
x=471
y=26
width=26
height=23
buttontype=3
graphic="close_buttons,0"

[com_158]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_159]
type=graphic
x=4
y=3
width=26
height=23
layer=com_163
buttontype=3
graphic="close_buttons,1"

[com_160]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_161]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_162]
type=graphic
x=170
y=34
width=36
height=36
graphic="steelborder2,0"

[com_163]
type=layer
x=467
y=23
width=32
height=32
hide=yes

[com_164]
type=inv
x=16
y=14
width=1
height=30
layer=com_53
paddingy=30

[com_165]
type=rectangle
x=3
y=3
width=425
height=59
layer=com_166
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_166]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_167]
type=rectangle
x=3
y=65
width=425
height=59
layer=com_168
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_168]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_169]
type=rectangle
x=3
y=127
width=425
height=59
layer=com_170
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_170]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_171]
type=rectangle
x=3
y=189
width=425
height=59
layer=com_172
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_172]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_173]
type=rectangle
x=3
y=251
width=425
height=59
layer=com_174
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_174]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_175]
type=rectangle
x=3
y=313
width=425
height=59
layer=com_176
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_176]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_177]
type=rectangle
x=3
y=375
width=425
height=59
layer=com_178
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_178]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_179]
type=rectangle
x=3
y=437
width=425
height=59
layer=com_180
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_180]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_181]
type=rectangle
x=3
y=499
width=425
height=59
layer=com_182
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_182]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_183]
type=rectangle
x=3
y=561
width=425
height=59
layer=com_184
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_184]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_185]
type=rectangle
x=3
y=623
width=425
height=59
layer=com_186
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_186]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_187]
type=rectangle
x=3
y=685
width=425
height=59
layer=com_188
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_188]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_189]
type=rectangle
x=3
y=747
width=425
height=59
layer=com_190
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_190]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_191]
type=rectangle
x=3
y=809
width=425
height=59
layer=com_192
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_192]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_193]
type=rectangle
x=3
y=871
width=425
height=59
layer=com_194
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_194]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_195]
type=rectangle
x=3
y=933
width=425
height=59
layer=com_196
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_196]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_197]
type=rectangle
x=3
y=995
width=425
height=59
layer=com_198
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_198]
type=layer
width=432
height=3200
layer=com_53
hide=yes

[com_199]
type=rectangle
x=3
y=58
width=425
height=59
layer=com_200
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_200]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_201]
type=rectangle
x=3
y=120
width=425
height=59
layer=com_202
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_202]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_203]
type=rectangle
x=3
y=182
width=425
height=59
layer=com_204
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_204]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_205]
type=rectangle
x=3
y=244
width=425
height=59
layer=com_206
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_206]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_207]
type=rectangle
x=3
y=306
width=425
height=59
layer=com_208
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_208]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_209]
type=rectangle
x=3
y=368
width=425
height=59
layer=com_210
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_210]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_211]
type=rectangle
x=3
y=430
width=425
height=59
layer=com_212
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_212]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_213]
type=rectangle
x=3
y=492
width=425
height=59
layer=com_214
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_214]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_215]
type=rectangle
x=3
y=554
width=425
height=59
layer=com_216
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_216]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_217]
type=rectangle
x=3
y=616
width=425
height=59
layer=com_218
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_218]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_219]
type=rectangle
x=3
y=678
width=425
height=59
layer=com_220
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_220]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_221]
type=rectangle
x=3
y=740
width=425
height=59
layer=com_222
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_222]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_223]
type=rectangle
x=3
y=802
width=425
height=59
layer=com_224
buttontype=1
trans=164
colour=0x000000
fill=yes

[com_224]
type=layer
y=999
width=432
height=3200
layer=com_53
hide=yes

[com_225]
type=text
x=41
y=30
width=417
height=13
textfont=b12_full
textalignh=centre
textshadow=yes
colour=0xff981f

[com_226]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_227]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_228]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_229]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_230]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_231]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_232]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

[com_233]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

[com_234]
type=graphic
x=460
y=5
width=36
height=36
graphic="steelborder2,0"

[com_235]
type=rectangle
x=10
y=319
width=500
height=32
colour=0x000000
fill=yes

