[com_0]
type=inv
x=16
y=8
width=4
height=7
paddingx=10
paddingy=4
op1=Select this disc

[com_1]
type=text
x=10
y=4
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9597)

[com_2]
type=text
x=50
y=4
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9598)

[com_3]
type=text
x=93
y=4
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9599)

[com_4]
type=text
x=138
y=4
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9600)

[com_5]
type=text
x=10
y=40
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9601)

[com_6]
type=text
x=50
y=40
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9602)

[com_7]
type=text
x=93
y=40
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9603)

[com_8]
type=text
x=138
y=40
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9604)

[com_9]
type=text
x=11
y=76
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9605)

[com_10]
type=text
x=51
y=76
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9606)

[com_11]
type=text
x=94
y=76
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9607)

[com_12]
type=text
x=139
y=76
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9608)

[com_13]
type=text
x=11
y=111
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9609)

[com_14]
type=text
x=51
y=111
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9610)

[com_15]
type=text
x=94
y=111
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9611)

[com_16]
type=text
x=139
y=111
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9612)

[com_17]
type=text
x=9
y=147
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9613)

[com_18]
type=text
x=49
y=147
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9614)

[com_19]
type=text
x=92
y=147
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9615)

[com_20]
type=text
x=137
y=147
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9616)

[com_21]
type=text
x=10
y=183
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9617)

[com_22]
type=text
x=50
y=183
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9618)

[com_23]
type=text
x=93
y=183
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9619)

[com_24]
type=text
x=138
y=183
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9620)

[com_25]
type=text
x=10
y=218
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9621)

[com_26]
type=text
x=50
y=218
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9622)

[com_27]
type=text
x=93
y=218
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9623)

[com_28]
type=text
x=138
y=218
width=15
height=12
textfont=p11_full
text=%1
textshadow=yes
colour=0xffff00
script0=inv_total(interface_149:com_0, obj_9624)

