[com_7045]
type=layer
width=512
height=334

[com_7046]
type=model
x=227
y=162
width=32
height=32
layer=com_7045
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_7047]
type=text
x=430
y=8
width=74
height=14
layer=com_7045
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_7048]
type=model
x=150
y=229
width=32
height=32
layer=com_7045
model=model_3388
modelangle=493,18,0
modelzoom=531

[com_7049]
type=model
x=165
y=49
width=32
height=32
layer=com_7045
model=model_3388
modelangle=527,515,0
modelzoom=531

[com_7050]
type=model
x=340
y=62
width=32
height=32
layer=com_7045
model=model_3388
modelangle=578,1030,0
modelzoom=531

[com_7051]
type=model
x=321
y=245
width=32
height=32
layer=com_7045
model=model_3388
modelangle=576,1544,0
modelzoom=531

[com_7052]
type=model
x=76
y=125
width=32
height=32
layer=com_7091
model=model_3400
modelangle=437,2030,0
modelzoom=1416

[com_7053]
type=model
x=70
y=114
width=32
height=32
layer=com_7091
model=model_3400
modelangle=514,481,0
modelzoom=1416

[com_7054]
type=model
x=89
y=125
width=32
height=32
layer=com_7091
model=model_3400
modelangle=437,2030,0
modelzoom=1416

[com_7055]
type=model
x=70
y=102
width=32
height=32
layer=com_7091
model=model_3400
modelangle=514,481,0
modelzoom=1416

[com_7056]
type=model
x=70
y=91
width=32
height=32
layer=com_7091
model=model_3400
modelangle=514,481,0
modelzoom=1416

[com_7057]
type=model
x=70
y=80
width=32
height=32
layer=com_7091
model=model_3400
modelangle=514,481,0
modelzoom=1416

[com_7058]
type=model
x=70
y=69
width=32
height=32
layer=com_7091
model=model_3400
modelangle=514,481,0
modelzoom=1416

[com_7059]
type=model
x=142
y=28
width=32
height=32
layer=com_7091
model=model_3389
modelangle=474,1775,0
modelzoom=1349

[com_7060]
type=model
x=70
y=58
width=32
height=32
layer=com_7091
model=model_3400
modelangle=514,481,0
modelzoom=1416

[com_7061]
type=model
x=79
y=51
width=32
height=32
layer=com_7091
model=model_3400
modelangle=548,970,0
modelzoom=1416

[com_7062]
type=model
x=90
y=51
width=32
height=32
layer=com_7091
model=model_3400
modelangle=548,970,0
modelzoom=1416

[com_7063]
type=model
x=102
y=51
width=32
height=32
layer=com_7091
model=model_3400
modelangle=548,970,0
modelzoom=1416

[com_7064]
type=model
x=114
y=51
width=32
height=32
layer=com_7091
model=model_3400
modelangle=548,970,0
modelzoom=1416

[com_7065]
type=model
x=126
y=51
width=32
height=32
layer=com_7091
model=model_3400
modelangle=548,970,0
modelzoom=1416

[com_7066]
type=model
x=137
y=51
width=32
height=32
layer=com_7091
model=model_3400
modelangle=548,970,0
modelzoom=1416

[com_7067]
type=model
x=141
y=44
width=32
height=32
layer=com_7091
model=model_3400
modelangle=551,517,0
modelzoom=1416

[com_7068]
type=text
x=128
y=153
width=11
height=11
layer=com_7091
textfont=p11_full
text=1N
colour=0x4c3d26

[com_7069]
type=text
x=104
y=74
width=12
height=11
layer=com_7091
textfont=p11_full
text=6E
colour=0x4c3d26

[com_7070]
type=text
x=84
y=148
width=16
height=11
layer=com_7091
textfont=p11_full
text=2W
colour=0x4c3d26

[com_7071]
type=text
x=66
y=102
width=14
height=11
layer=com_7091
textfont=p11_full
text=6N
colour=0x4c3d26

[com_7072]
type=model
x=136
y=25
width=32
height=32
layer=com_7092
model=model_3398
modelangle=387,3,0
modelzoom=1075

[com_7073]
type=model
x=22
y=38
width=32
height=32
layer=com_7092
model=model_3398
modelangle=387,3,0
modelzoom=983

[com_7074]
type=model
x=13
y=75
width=32
height=32
layer=com_7092
model=model_3398
modelangle=428,177,0
modelzoom=1062

[com_7075]
type=model
x=2
y=105
width=32
height=32
layer=com_7092
model=model_3398
modelangle=463,2,0
modelzoom=1399

[com_7076]
type=model
x=10
y=126
width=32
height=32
layer=com_7092
model=model_3398
modelangle=453,1801,0
modelzoom=1794

[com_7077]
type=model
x=29
y=135
width=32
height=32
layer=com_7092
model=model_3398
modelangle=322,1552,0
modelzoom=1727

[com_7078]
type=model
x=66
y=123
width=32
height=32
layer=com_7092
model=model_3398
modelangle=442,1525,0
modelzoom=1972

[com_7079]
type=model
x=101
y=136
width=32
height=32
layer=com_7092
model=model_3398
modelangle=442,1525,0
modelzoom=1972

[com_7080]
type=model
x=136
y=149
width=32
height=32
layer=com_7092
model=model_3398
modelangle=401,1546,0
modelzoom=1972

[com_7081]
type=model
x=163
y=137
width=32
height=32
layer=com_7092
model=model_3398
modelangle=401,1546,0
modelzoom=3481

[com_7082]
type=model
x=175
y=113
width=32
height=32
layer=com_7092
model=model_3398
modelangle=410,1030,0
modelzoom=1972

[com_7083]
type=model
x=146
y=67
width=32
height=32
layer=com_7092
model=model_3398
modelangle=410,1030,0
modelzoom=1972

[com_7084]
type=model
x=160
y=90
width=32
height=32
layer=com_7092
model=model_3398
modelangle=418,778,0
modelzoom=984

[com_7085]
type=model
x=48
y=128
width=32
height=32
layer=com_7092
model=model_3398
modelangle=370,1312,0
modelzoom=2014

[com_7086]
type=model
x=86
y=128
width=32
height=32
layer=com_7092
model=model_3398
modelangle=478,1752,0
modelzoom=1891

[com_7087]
type=model
x=120
y=142
width=32
height=32
layer=com_7092
model=model_3398
modelangle=483,1773,0
modelzoom=1984

[com_7088]
type=model
x=150
y=143
width=32
height=32
layer=com_7092
model=model_3398
modelangle=523,1284,0
modelzoom=2440

[com_7089]
type=model
x=172
y=129
width=32
height=32
layer=com_7092
model=model_3398
modelangle=484,1183,0
modelzoom=2396

[com_7090]
type=model
x=141
y=50
width=32
height=32
layer=com_7092
model=model_3398
modelangle=455,808,0
modelzoom=1972

[com_7091]
type=layer
x=141
y=28
width=229
height=225
layer=com_7045

[com_7092]
type=layer
x=158
y=96
width=201
height=172
layer=com_7045

[com_7093]
type=model
x=244
y=172
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2322

[com_7094]
type=model
x=279
y=144
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2220

[com_7095]
type=model
x=298
y=190
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2321

[com_7096]
type=model
x=281
y=220
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2087

[com_7097]
type=model
x=299
y=220
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2321

[com_7098]
type=model
x=315
y=206
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2087

[com_7099]
type=model
x=252
y=211
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2321

[com_7100]
type=model
x=262
y=156
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2087

[com_7101]
type=model
x=282
y=117
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2087

[com_7102]
type=model
x=247
y=102
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2220

[com_7103]
type=model
x=215
y=189
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2419

[com_7104]
type=model
x=192
y=144
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2419

[com_7105]
type=model
x=191
y=129
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2581

[com_7106]
type=model
x=227
y=105
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2087

[com_7107]
type=model
x=227
y=121
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2220

[com_7108]
type=model
x=156
y=133
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2087

[com_7109]
type=model
x=200
y=168
width=32
height=32
layer=com_7045
model=model_3391
modelangle=500,0,0
modelzoom=2419

[com_7110]
type=model
x=199
y=155
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2581

[com_7111]
type=model
x=214
y=177
width=32
height=32
layer=com_7045
model=model_3401
modelangle=500,0,0
modelzoom=2581

[com_7112]
type=model
x=101
y=129
width=32
height=32
layer=com_7091
model=model_3400
modelangle=608,490,0
modelzoom=1416

