[com_12777]
type=layer
width=512
height=334

[com_12778]
type=model
x=34
y=34
width=32
height=32
layer=com_12777
model=null
modelangle=40,1882,0
modelzoom=796

[com_12779]
type=text
x=111
width=350
height=17
layer=com_12777
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

[com_12780]
type=text
x=111
y=27
width=350
height=17
layer=com_12777
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_12781]
type=text
x=110
y=51
width=350
height=17
layer=com_12777
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

