[com_12140]
type=layer
width=512
height=334

[com_12141]
type=model
x=240
y=139
width=32
height=28
layer=com_12140
model=model_3032
modelangle=400,0,0
modelzoom=604

[com_12142]
type=text
x=215
y=95
width=106
height=17
layer=com_12140
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xf5b405
colouractive=0x453c26

[com_12143]
type=text
x=373
y=84
width=28
height=12
layer=com_12140
buttontype=3
textfont=p11_full
text=Close
colour=0x823c1a
mouseovercolour=0xdd5817

[com_12144]
type=text
x=172
y=117
width=198
height=14
layer=com_12140
textfont=p12_full
text=You have completed Death Plateau!
textalignh=centre
colour=0x004000

[com_12145]
type=model
x=93
y=153
width=85
height=105
layer=com_12140
model=null
modelangle=11,1849,0
modelzoom=1500

[com_12146]
type=text
x=221
y=249
width=76
height=14
layer=com_12140
textfont=p12_full
text=Quest Points:
textalignh=centre
colour=0x2f5197

[com_12147]
type=text
x=299
y=249
width=17
height=14
layer=com_12140
textfont=p12_full
text=%1
textalignh=centre
colour=0x4a5b76
script0=varplayer_101

[com_12148]
type=model
x=378
y=210
width=32
height=32
layer=com_12140
model=model_3037
modelangle=500,0,0
modelzoom=800

[com_12149]
type=text
x=220
y=140
width=96
height=14
layer=com_12140
textfont=p12_full
text=You are awarded:
colour=0x400000

[com_12150]
type=text
x=183
y=157
width=170
height=14
layer=com_12140
textfont=p12_full
text=Line 1
textalignh=centre
colour=0x004000

[com_12151]
type=text
x=183
y=172
width=170
height=14
layer=com_12140
textfont=p12_full
text=Line 2
textalignh=centre
colour=0x004000

[com_12152]
type=text
x=183
y=187
width=170
height=14
layer=com_12140
textfont=p12_full
text=Line 3
textalignh=centre
colour=0x004000

[com_12153]
type=text
x=183
y=202
width=170
height=14
layer=com_12140
textfont=p12_full
text=Line 4
textalignh=centre
colour=0x004000

[com_12154]
type=text
x=183
y=217
width=170
height=14
layer=com_12140
textfont=p12_full
text=Line 5
textalignh=centre
colour=0x004000

[com_12155]
type=text
x=183
y=232
width=170
height=14
layer=com_12140
textfont=p12_full
text=Line 6
textalignh=centre
colour=0x004000

