[com_328]
type=layer
width=512
height=334

[com_329]
type=model
x=139
y=22
width=35
height=32
layer=com_328
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_330]
type=text
x=4
y=10
width=47
height=14
layer=com_328
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_331]
type=text
x=52
y=10
width=17
height=14
layer=com_328
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_332]
type=text
x=4
y=31
width=114
height=14
layer=com_328
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_333]
type=layer
x=4
y=51
width=145
height=202
layer=com_328

[com_334]
type=graphic
x=5
y=97
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_335]
type=graphic
x=5
y=51
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_336]
type=graphic
x=5
y=5
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_337]
type=graphic
x=22
y=103
width=34
height=24
layer=com_333
graphic=combaticons,19

[com_338]
type=graphic
x=21
y=11
width=34
height=24
layer=com_333
graphic=combaticons2,13

[com_339]
type=graphic
x=22
y=57
width=34
height=24
layer=com_333
graphic=combaticons2,14

[com_340]
type=text
x=78
y=5
width=25
height=12
layer=com_333
textfont=p11_full
text=Bash
textshadow=yes
colour=0xffff00

[com_341]
type=text
x=78
y=51
width=31
height=11
layer=com_333
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_342]
type=text
x=78
y=97
width=65
height=11
layer=com_333
textfont=p11_full
text=Focus - Block
textshadow=yes
colour=0xffff00

[com_343]
type=text
x=78
y=64
width=64
height=11
layer=com_333
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_344]
type=text
x=78
y=18
width=50
height=11
layer=com_333
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_345]
type=text
x=78
y=110
width=58
height=11
layer=com_333
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_346]
type=text
x=82
y=81
width=36
height=11
layer=com_328
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_347]
type=text
x=81
y=129
width=36
height=11
layer=com_328
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_348]
type=text
x=82
y=174
width=36
height=11
layer=com_328
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_349]
type=graphic
x=6
y=162
width=72
height=36
layer=com_333
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=testbit(varplayer_108, 0) = 1

[com_350]
type=graphic
x=24
y=165
width=30
height=30
layer=com_333
graphic=prayeron,12

[com_351]
type=text
x=79
y=168
width=54
height=11
layer=com_333
textfont=p11_full
text=Attack with
textactive=Attack with
textshadow=yes
colour=0xffff00
colouractive=0xb0a392
script=varplayer_108 < 2

[com_352]
type=text
x=83
y=233
width=49
height=11
layer=com_328
textfont=p11_full
text=(none set)
textactive=(none set)
textshadow=yes
colour=0xffff00
colouractive=0xb0a392
script=varplayer_108 < 2

[com_353]
type=model
x=150
y=186
width=35
height=57
layer=com_328
buttontype=1
model=model_2543
modelangle=264,124,0
modelzoom=625

[com_354]
type=text
x=147
y=234
width=4
height=2
layer=com_328
textfont=p11_full
textactive=Choose
textshadow=yes
colour=0xb0a392
colouractive=0xffff00
script=varplayer_108 < 1

[com_355]
type=text
x=153
y=244
width=4
height=2
layer=com_328
textfont=p11_full
textactive=Spell
textshadow=yes
colour=0xb0a392
colouractive=0xffff00
script=varplayer_108 < 1

