[com_4667]
type=layer
width=512
height=334

[com_4668]
type=graphic
x=2
y=5
width=57
height=13
layer=com_4667
graphic=sworddecor,1

[com_4669]
type=graphic
x=421
y=5
width=57
height=13
layer=com_4667
graphic=sworddecor,0

[com_4670]
type=model
x=28
y=13
width=64
height=96
layer=com_4667
buttontype=1
model=null
modelzoom=400

[com_4671]
type=model
x=148
y=13
width=64
height=96
layer=com_4667
buttontype=1
model=null
modelzoom=400

[com_4672]
type=model
x=268
y=13
width=64
height=96
layer=com_4667
buttontype=1
model=null
modelzoom=400

[com_4673]
type=model
x=388
y=13
width=64
height=96
layer=com_4667
buttontype=1
model=null
modelzoom=400

[com_4674]
type=text
y=76
width=120
height=17
layer=com_4667
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_4675]
type=text
x=120
y=76
width=120
height=17
layer=com_4667
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_4676]
type=text
x=240
y=76
width=120
height=17
layer=com_4667
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_4677]
type=text
x=360
y=76
width=120
height=17
layer=com_4667
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_4678]
type=text
x=8
y=3
width=464
height=17
layer=com_4667
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

