[com_12130]
type=layer
width=512
height=334

[com_12131]
type=model
x=230
y=122
width=32
height=32
layer=com_12130
model=model_5120
modelangle=526,515,0
modelzoom=177

[com_12132]
type=model
x=343
y=200
width=32
height=32
layer=com_12130
model=model_5122
modelangle=493,527,0
modelzoom=184

[com_12133]
type=model
x=149
y=197
width=32
height=32
layer=com_12130
model=model_5122
modelangle=513,514,0
modelzoom=184

[com_12134]
type=text
x=430
y=9
width=74
height=14
layer=com_12130
buttontype=3
textfont=p12_full
text=Close Window
textalignh=centre
textshadow=yes
colour=0xfea924
mouseovercolour=0xffffff

[com_12135]
type=text
x=138
y=153
width=34
height=17
layer=com_12130
textfont=q8_full
text=Time
textalignh=centre
textshadow=yes
colour=0xfea924

[com_12136]
type=text
x=138
y=176
width=38
height=18
layer=com_12130
textfont=p12_full
text=4:17
textalignh=centre
textshadow=yes
colour=0xf4be68

[com_12137]
type=text
x=341
y=177
width=23
height=14
layer=com_12130
textfont=p12_full
text=300
textalignh=centre
textshadow=yes
colour=0xf4be68

[com_12138]
type=text
x=319
y=155
width=65
height=17
layer=com_12130
textfont=q8_full
text=XP score
textshadow=yes
colour=0xfea924

