[com_1909]
type=layer
width=512
height=334

[com_1910]
type=model
x=243
y=138
width=35
height=35
layer=com_1909
model=model_2663
modelangle=400,0,0
modelzoom=650

[com_1911]
type=text
x=209
y=108
width=106
height=17
layer=com_1909
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1912]
type=text
x=424
y=28
width=68
height=11
layer=com_1909
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_1913]
type=text
y=134
width=512
height=2
layer=com_1909
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1914]
type=model
x=190
y=230
width=50
height=105
layer=com_1909
model=model_2650
modelangle=120,160,0
modelzoom=450

[com_1915]
type=text
x=219
y=206
width=76
height=14
layer=com_1909
textfont=p12_full
text=Quest Points:
textalignh=centre
textshadow=yes
colour=0x00c000

[com_1916]
type=text
x=248
y=228
width=17
height=14
layer=com_1909
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x00c000
script0=varplayer_95

[com_1917]
type=model
x=341
y=195
width=32
height=32
layer=com_1909
model=model_2667
modelangle=500,0,0
modelzoom=800

