[com_1779]
type=layer
width=512
height=334

[com_1780]
type=model
x=239
y=145
width=35
height=35
layer=com_1779
model=model_3035
modelangle=395,0,0
modelzoom=525

[com_1781]
type=graphic
width=45
height=36
layer=com_1787
buttontype=1
graphic=leftarrow,0

[com_1782]
type=graphic
width=45
height=36
layer=com_1788
buttontype=1
graphic=rightarrow,0

[com_1783]
type=text
x=45
y=185
width=200
height=77
layer=com_1779
textfont=q8_full
text=line1\nline2\nline3\nline4\nline5
colour=0x000000

[com_1784]
type=model
x=125
y=145
width=32
height=32
layer=com_1779
model=null
modelangle=124,1916,0
modelzoom=283

[com_1785]
type=text
x=68
y=80
width=163
height=17
layer=com_1779
textfont=q8_full
text=title1
textalignh=centre
colour=0x800000

[com_1786]
type=text
x=285
y=80
width=200
height=182
layer=com_1779
textfont=q8_full
text=line1\nline2\nline3\nline4\nline5\nline6\nline7\nline8\nline9\nline10\nline11\nline12
colour=0x000000

[com_1787]
type=layer
x=34
y=259
width=45
height=36
layer=com_1779

[com_1788]
type=layer
x=432
y=259
width=45
height=36
layer=com_1779

[com_1789]
type=layer
x=12
y=20
width=488
height=36
layer=com_1779

[com_1790]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_1789
graphic=tradebacking,0

[com_1791]
type=graphic
x=182
y=6
width=88
height=60
layer=com_1789
graphic=tradebacking,0

[com_1792]
type=graphic
x=270
y=6
width=88
height=60
layer=com_1789
graphic=tradebacking,0

[com_1793]
type=graphic
x=358
y=6
width=88
height=60
layer=com_1789
graphic=tradebacking,0

[com_1794]
type=graphic
x=394
y=6
width=88
height=60
layer=com_1789
graphic=tradebacking,0

[com_1795]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_1789
graphic=tradebacking,0

[com_1796]
type=graphic
x=60
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1797]
type=graphic
x=96
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1798]
type=graphic
x=132
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1799]
type=graphic
x=168
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1800]
type=graphic
x=204
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1801]
type=graphic
x=240
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1802]
type=graphic
x=276
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1803]
type=graphic
x=312
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1804]
type=graphic
x=348
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1805]
type=graphic
x=384
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1806]
type=graphic
x=420
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1807]
type=graphic
x=428
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1808]
type=graphic
width=25
height=30
layer=com_1789
graphic=steelborder,0

[com_1809]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1810]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1811]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1812]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1813]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1814]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1815]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1816]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1817]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1818]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1819]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1820]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1821]
type=graphic
x=463
width=25
height=30
layer=com_1789
graphic=steelborder,1

[com_1822]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_1789
graphic=steelborder2,0

[com_1823]
type=graphic
x=463
y=7
width=25
height=30
layer=com_1789
graphic=steelborder,3

[com_1824]
type=graphic
x=25
y=16
width=36
height=36
layer=com_1789
graphic=miscgraphics,3

[com_1825]
type=graphic
y=7
width=25
height=30
layer=com_1789
graphic=steelborder,2

[com_1826]
type=text
x=75
y=30
width=360
height=14
layer=com_1779
textfont=b12_full
text=Gianne's cook book
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1827]
type=text
x=424
y=28
width=68
height=11
layer=com_1779
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_1828]
type=text
x=20
y=28
width=28
height=11
layer=com_1779
buttontype=1
textfont=p11_full
text=Index
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

