[com_2833]
type=layer
width=512
height=334

[com_13934]
type=model
x=151
y=143
width=31
height=32
layer=com_2833
model=model_7748
modelzoom=256
modelanim=seq_2308

[com_13935]
type=model
x=151
y=143
width=31
height=32
layer=com_2833
model=model_7754
modelzoom=255
modelanim=seq_2308

[com_13936]
type=model
x=151
y=143
width=31
height=32
layer=com_2833
model=model_7749
modelzoom=256
modelanim=seq_2308

[com_13937]
type=model
x=64
y=60
width=31
height=32
layer=com_2833
model=model_7753
modelangle=1900,0,0
modelzoom=360
modelanim=seq_2308

[com_13938]
type=model
x=151
y=60
width=31
height=32
layer=com_2833
model=model_7750
modelangle=1900,0,0
modelzoom=360
modelanim=seq_2308

[com_13939]
type=model
x=238
y=60
width=31
height=32
layer=com_2833
model=model_7753
modelangle=1900,0,0
modelzoom=360
modelanim=seq_2308

[com_13940]
type=model
x=60
y=143
width=31
height=32
layer=com_2833
model=model_7753
modelzoom=360
modelanim=seq_2308

[com_13941]
type=model
x=151
y=143
width=31
height=32
layer=com_2833
model=model_7753
modelzoom=360
modelanim=seq_2308

[com_13942]
type=model
x=242
y=143
width=31
height=32
layer=com_2833
model=model_7751
modelzoom=360
modelanim=seq_2308

[com_13943]
type=model
x=64
y=229
width=31
height=32
layer=com_2833
model=model_7752
modelangle=150,0,0
modelzoom=360
modelanim=seq_2308

[com_13944]
type=model
x=150
y=230
width=31
height=32
layer=com_2833
model=model_7753
modelangle=150,0,0
modelzoom=360
modelanim=seq_2308

[com_13945]
type=model
x=239
y=230
width=31
height=32
layer=com_2833
model=model_7753
modelangle=150,0,0
modelzoom=360
modelanim=seq_2308

[com_13946]
type=model
x=151
y=139
width=31
height=32
layer=com_2833
model=model_7747
modelzoom=256

[com_13947]
type=model
x=60
y=139
width=31
height=32
layer=com_2833
model=model_7747
modelzoom=256

[com_13948]
type=model
x=242
y=139
width=31
height=32
layer=com_2833
model=model_7747
modelzoom=256

[com_13949]
type=text
x=429
y=10
width=74
height=14
layer=com_2833
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0x79613b
mouseovercolour=0xab8850

[com_13950]
type=text
x=34
y=317
width=80
height=17
layer=com_2833
textfont=b12_full
text=DIAMOND
textalignh=centre
colour=0xceaf7e

[com_13951]
type=text
x=125
y=317
width=80
height=17
layer=com_2833
textfont=b12_full
text=COINS
textalignh=centre
colour=0xceaf7e

[com_13952]
type=text
x=216
y=317
width=80
height=17
layer=com_2833
textfont=b12_full
text=RING
textalignh=centre
colour=0xceaf7e

[com_13953]
type=text
x=378
y=150
width=70
height=14
layer=com_2833
buttontype=1
textfont=b12_full
text=U N L O C K
colour=0x4f3f26
mouseovercolour=0xd9ad66
buttontext=U N L O C K

[com_13954]
type=model
x=49
y=4
width=54
height=33
layer=com_2833
buttontype=1
model=null
modelzoom=400
buttontext=Up (left)

[com_13955]
type=model
x=141
y=4
width=54
height=33
layer=com_2833
buttontype=1
model=null
modelzoom=400
buttontext=Up (middle)

[com_13956]
type=model
x=232
y=4
width=54
height=33
layer=com_2833
buttontype=1
model=null
modelzoom=400
buttontext=Up (right)

[com_13957]
type=model
x=47
y=285
width=54
height=33
layer=com_2833
buttontype=1
model=null
modelzoom=400
buttontext=Down (left)

[com_13958]
type=model
x=138
y=286
width=54
height=33
layer=com_2833
buttontype=1
model=null
modelzoom=400
buttontext=Down (middle)

[com_13959]
type=model
x=229
y=287
width=54
height=33
layer=com_2833
buttontype=1
model=null
modelzoom=400
buttontext=Down (right)

