[com_16129]
type=layer
width=512
height=334

[com_16130]
type=model
x=246
y=281
width=32
height=32
layer=com_16129
model=model_10753
modelzoom=272

[com_16131]
type=text
x=399
y=10
width=72
height=14
layer=com_16129
buttontype=3
textfont=p12_full
text=Close window
textshadow=yes
colour=0xffff00

[com_16132]
type=text
x=138
y=277
width=244
height=14
layer=com_16129
textfont=p12_full
text=Pop the correct balloon animal to find a key
textshadow=yes
colour=0xffff00

[com_16133]
type=layer
x=57
y=29
width=416
height=277
layer=com_16129
buttontype=1

[com_16134]
type=model
x=202
y=114
width=32
height=32
layer=com_16133
model=model_10749
modelangle=26,412,0
modelzoom=185

