[com_16570]
type=layer
width=512
height=334

[com_16571]
type=model
x=457
y=24
width=32
height=32
layer=com_16570
model=model_11101
modelangle=512,0,0
modelzoom=459

[com_16572]
type=text
x=435
y=75
width=75
height=14
layer=com_16570
textfont=p12_full
text=Runesquares
textshadow=yes
colour=0xaaaaaa

[com_16573]
type=text
x=447
y=92
width=45
height=12
layer=com_16570
textfont=p11_full
text=Rank: %1
textshadow=yes
colour=0xaaaaaa
script0=varplayer_648

