[com_0]
type=model
x=219
y=136
width=32
height=32
model=model_9082
modelangle=420,1,0
modelzoom=886

[com_1]
type=model
x=360
y=170
width=32
height=32
model=model_9095
modelangle=420,1,0
modelzoom=1808
modelanim=seq_2449

[com_2]
type=text
x=190
y=57
width=133
height=17
textfont=q8_full
text=Blast Furnace Plan
textshadow=yes
colour=0xffff00

[com_3]
type=text
x=315
y=178
width=30
height=12
textfont=p11_full
text=Stove
colour=0x00ff00

[com_4]
type=text
x=312
y=236
width=44
height=12
textfont=p11_full
text=Air Pump
textshadow=yes
colour=0x00ff00

[com_5]
type=text
x=245
y=236
width=58
height=12
textfont=p11_full
text=Temp Gauge
textshadow=yes
colour=0x00ff00

[com_6]
type=text
x=195
y=178
width=39
height=12
textfont=p11_full
text=Furnace
textshadow=yes
colour=0x00ff00

[com_7]
type=text
x=133
y=177
width=51
height=12
textfont=p11_full
text=Dispenser
textshadow=yes
colour=0x00ff00

[com_8]
type=text
x=193
y=121
width=49
height=22
textfont=p11_full
text=Conveyer\nBelt
textalignh=centre
textshadow=yes
colour=0x00ff00

[com_9]
type=text
x=252
y=123
width=25
height=12
textfont=p11_full
text=Cogs
textalignh=centre
textshadow=yes
colour=0x00ff00

[com_10]
type=text
x=201
y=218
width=28
height=12
textfont=p11_full
text=Pipes
textalignh=centre
textshadow=yes
colour=0x00ff00

[com_11]
type=text
x=359
y=148
width=24
height=12
textfont=p11_full
text=Coke
textalignh=centre
textshadow=yes
colour=0x00ff00

[com_12]
type=model
x=301
y=114
width=32
height=32
model=model_9095
modelangle=420,1,0
modelzoom=1808
modelanim=seq_2449

[com_13]
type=model
x=362
y=226
width=32
height=32
model=model_9095
modelangle=420,1,0
modelzoom=1808
modelanim=seq_2449

[com_14]
type=model
x=258
y=263
width=32
height=32
model=model_9095
modelangle=420,1,0
modelzoom=1808
modelanim=seq_2449

