[com_15892]
type=layer
width=512
height=334

[com_15893]
type=model
x=415
y=15
width=32
height=32
layer=com_15892
model=model_10566
modelangle=484,0,0
modelzoom=843

[com_15894]
type=text
x=405
y=15
width=54
height=17
layer=com_15892
textfont=q8_full
text=Alchemy
textshadow=yes
colour=0x8ccc39

[com_15895]
type=text
x=372
y=40
width=72
height=12
layer=com_15892
textfont=p11_full
text=Pizazz Points:
textshadow=yes
colour=0x8ccc39

[com_15896]
type=text
x=463
y=41
width=28
height=12
layer=com_15892
textfont=p11_full
text=9999
textshadow=yes
colour=0x33cc00

[com_15897]
type=text
x=372
y=60
width=73
height=12
layer=com_15892
textfont=p11_full
text=Leather Boots:
textshadow=yes
colour=0x339900

[com_15898]
type=text
x=372
y=80
width=97
height=12
layer=com_15892
textfont=p11_full
text=Adamant Kiteshield:
textshadow=yes
colour=0x339900

[com_15899]
type=text
x=372
y=100
width=71
height=12
layer=com_15892
textfont=p11_full
text=Adamant Helm:
textshadow=yes
colour=0x339900

[com_15900]
type=text
x=372
y=120
width=41
height=12
layer=com_15892
textfont=p11_full
text=Emerald:
textshadow=yes
colour=0x339900

[com_15901]
type=text
x=372
y=140
width=84
height=12
layer=com_15892
textfont=p11_full
text=Rune Longsword:
textshadow=yes
colour=0x339900

[com_15902]
type=text
x=470
y=60
width=21
height=12
layer=com_15892
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_15903]
type=text
x=470
y=80
width=21
height=12
layer=com_15892
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_15904]
type=text
x=470
y=100
width=21
height=12
layer=com_15892
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_15905]
type=text
x=470
y=120
width=21
height=12
layer=com_15892
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_15906]
type=text
x=470
y=140
width=21
height=12
layer=com_15892
textfont=p11_full
text=999
textshadow=yes
colour=0x33cc00

[com_15907]
type=layer
x=320
y=49
width=32
height=32
layer=com_15892
hide=yes

[com_15908]
type=layer
x=320
y=69
width=32
height=32
layer=com_15892
hide=yes

[com_15909]
type=layer
x=320
y=89
width=32
height=32
layer=com_15892
hide=yes

[com_15910]
type=layer
x=320
y=108
width=32
height=32
layer=com_15892
hide=yes

[com_15911]
type=layer
x=320
y=130
width=32
height=32
layer=com_15892
hide=yes

[com_15912]
type=model
y=-1
width=32
height=32
layer=com_15907
model=model_10568
modelangle=496,0,0
modelzoom=500

[com_15913]
type=model
width=32
height=32
layer=com_15908
model=model_10568
modelangle=490,0,0
modelzoom=500

[com_15914]
type=model
width=32
height=32
layer=com_15909
model=model_10568
modelangle=496,0,0
modelzoom=500

[com_15915]
type=model
y=1
width=32
height=32
layer=com_15910
model=model_10568
modelangle=490,0,0
modelzoom=500

[com_15916]
type=model
width=32
height=32
layer=com_15911
model=model_10568
modelangle=496,0,0
modelzoom=500

