[com_11877]
type=layer
width=512
height=334

[com_11878]
type=model
x=248
y=354
width=32
height=32
layer=com_11877
model=model_4962
modelzoom=200
modelanim=seq_1490

[com_11879]
type=model
x=248
y=354
width=32
height=32
layer=com_11877
model=model_4961
modelzoom=200
modelanim=seq_1489

