[com_12420]
type=layer
width=512
height=334

[com_12421]
type=rectangle
width=512
height=334
layer=com_12420
trans=200
colour=0x000000
fill=yes
script=varplayerbit_278 = 1

[com_12422]
type=rectangle
width=512
height=334
layer=com_12420
trans=150
colour=0x000000
fill=yes
script=varplayerbit_278 = 2

[com_12423]
type=rectangle
width=512
height=334
layer=com_12420
trans=50
colour=0x000000
fill=yes
script=varplayerbit_278 = 3

