[com_237]
type=layer
width=512
height=334

[com_238]
type=model
x=40
y=26
width=32
height=32
layer=com_237
model=null
modelangle=40,1882,0
modelzoom=400

[com_239]
type=text
x=111
y=45
width=350
height=17
layer=com_237
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_240]
type=text
x=111
y=13
width=350
height=17
layer=com_237
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_241]
type=text
x=111
y=80
width=350
height=17
layer=com_237
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

