[com_0]
type=rectangle
width=512
height=400
trans=120
colour=0x292242
fill=yes

[com_1]
type=rectangle
x=-5
y=292
width=520
height=34
trans=20
colour=0x351f3c
fill=yes

[com_2]
type=model
x=241
y=18
width=32
height=32
model=model_9630
modelangle=478,0,0
modelzoom=1499

[com_3]
type=inv
clientcode=60
x=60
y=75
width=6
height=4
paddingx=40
paddingy=20
op1=Value
op2=Buy

[com_4]
type=text
x=437
y=8
width=68
height=12
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x666666
colouractive=0xffcc00
mouseovercolour=0xffff33

[com_5]
type=text
x=163
y=26
width=188
height=17
textfont=q8_full
text=Magic Training Arena Shop
colour=0x3b223b

[com_6]
type=text
x=40
y=296
width=124
height=12
textfont=p11_full
text=Telekinetic Pizazz Points
textshadow=yes
colour=0x5686c3

[com_7]
type=text
x=40
y=312
width=133
height=12
textfont=p11_full
text=Enchantment Pizazz Points
textshadow=yes
colour=0x9e7144

[com_8]
type=text
x=264
y=296
width=126
height=12
textfont=p11_full
text=Graveyard Pizazz Points
textshadow=yes
colour=0x999999

[com_9]
type=text
x=264
y=312
width=119
height=12
textfont=p11_full
text=Alchemist Pizazz Points
textshadow=yes
colour=0x8ccc39

[com_10]
type=text
x=200
y=296
width=35
height=12
textfont=p11_full
text=99999
textshadow=yes
colour=0x66ccff

[com_11]
type=text
x=200
y=312
width=35
height=12
textfont=p11_full
text=99999
textshadow=yes
colour=0xcc6600

[com_12]
type=text
x=424
y=312
width=35
height=12
textfont=p11_full
text=99999
textshadow=yes
colour=0x33cc00

[com_13]
type=text
x=424
y=296
width=35
height=12
textfont=p11_full
text=99999
textshadow=yes
colour=0xcccccc

[com_14]
type=text
x=196
y=109
width=48
height=12
textfont=p11_full
text=(Upgrade)
textshadow=yes
colour=0xcc99ff

[com_15]
type=text
x=125
y=109
width=48
height=12
textfont=p11_full
text=(Upgrade)
textshadow=yes
colour=0xcc99ff

[com_16]
type=text
x=270
y=110
width=48
height=12
textfont=p11_full
text=(Upgrade)
textshadow=yes
colour=0xcc99ff

