[com_4400]
type=layer
width=512
height=334

[com_4401]
type=model
x=34
y=60
width=32
height=32
layer=com_4400
model=null
modelangle=40,1882,0
modelzoom=400

[com_4402]
type=text
x=111
y=29
width=350
height=17
layer=com_4400
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_4403]
type=text
x=111
y=5
width=350
height=17
layer=com_4400
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_4404]
type=text
x=111
y=80
width=350
height=17
layer=com_4400
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_4405]
type=text
x=111
y=53
width=350
height=17
layer=com_4400
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

