[com_0]
type=rectangle
width=512
height=334
trans=125
colour=0x4d4d2f
fill=yes

[com_1]
type=model
width=93
height=93
layer=com_13
model=null
modelangle=512,0,0
modelzoom=500

[com_2]
type=model
x=93
width=93
height=93
layer=com_13
model=null
modelangle=512,0,0
modelzoom=500

[com_3]
type=model
x=186
width=93
height=93
layer=com_13
model=null
modelangle=512,0,0
modelzoom=500

[com_4]
type=model
x=292
y=18
width=48
height=39
layer=com_13
model=model_4623
modelangle=524,19,0
modelzoom=1299

[com_5]
type=text
x=88
y=184
width=319
height=14
textfont=b12_full
text=Which is the next shape in the above sequence?
textalignh=centre
textshadow=yes
colour=0x7d7d4b

[com_6]
type=model
x=61
y=222
width=93
height=93
buttontype=1
model=null
modelangle=512,0,0
modelzoom=500

[com_7]
type=model
x=204
y=222
width=93
height=93
buttontype=1
model=null
modelangle=512,0,0
modelzoom=500

[com_8]
type=model
x=347
y=222
width=93
height=93
buttontype=1
model=null
modelangle=512,0,0
modelzoom=500

[com_9]
type=text
width=9
height=14
layer=com_13
textfont=p12_full
text=1.
textshadow=yes
colour=0x7d7d4b

[com_10]
type=text
x=93
width=11
height=14
layer=com_13
textfont=p12_full
text=2.
textshadow=yes
colour=0x7d7d4b

[com_11]
type=text
x=186
width=10
height=14
layer=com_13
textfont=p12_full
text=3.
textshadow=yes
colour=0x7d7d4b

[com_12]
type=text
x=279
width=10
height=14
layer=com_13
textfont=p12_full
text=4.
textshadow=yes
colour=0x7d7d4b

[com_13]
type=layer
x=72
y=66
width=355
height=93

