[com_11169]
type=layer
width=512
height=334

[com_11170]
type=graphic
x=12
y=20
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11171]
type=graphic
x=12
y=80
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11172]
type=graphic
x=12
y=140
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11173]
type=graphic
x=12
y=200
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11174]
type=graphic
x=12
y=260
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11175]
type=graphic
x=100
y=20
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11176]
type=graphic
x=100
y=80
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11177]
type=graphic
x=100
y=140
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11178]
type=graphic
x=100
y=200
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11179]
type=graphic
x=188
y=20
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11180]
type=graphic
x=100
y=260
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11181]
type=graphic
x=188
y=80
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11182]
type=graphic
x=188
y=140
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11183]
type=graphic
x=188
y=200
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11184]
type=graphic
x=188
y=260
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11185]
type=graphic
x=276
y=20
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11186]
type=graphic
x=364
y=80
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11187]
type=graphic
x=276
y=80
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11188]
type=graphic
x=276
y=140
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11189]
type=graphic
x=276
y=200
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11190]
type=graphic
x=276
y=260
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11191]
type=graphic
x=364
y=140
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11192]
type=graphic
x=364
y=20
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11193]
type=graphic
x=364
y=200
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11194]
type=graphic
x=364
y=260
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11195]
type=graphic
x=412
y=20
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11196]
type=graphic
x=412
y=80
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11197]
type=graphic
x=412
y=140
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11198]
type=graphic
x=412
y=200
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11199]
type=graphic
x=412
y=260
width=88
height=60
layer=com_11169
graphic=tradebacking,0

[com_11200]
type=graphic
x=12
y=20
width=25
height=30
layer=com_11169
graphic=steelborder,0

[com_11201]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11202]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11203]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11204]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11205]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11206]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11207]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11208]
type=graphic
x=479
y=50
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11209]
type=graphic
x=479
y=86
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11210]
type=graphic
x=479
y=122
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11211]
type=graphic
x=479
y=158
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11212]
type=graphic
x=479
y=194
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11213]
type=graphic
x=479
y=230
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11214]
type=graphic
x=479
y=266
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11215]
type=graphic
x=73
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11216]
type=graphic
x=109
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11217]
type=graphic
x=145
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11218]
type=graphic
x=217
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11219]
type=graphic
x=253
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11220]
type=graphic
x=289
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11221]
type=graphic
x=361
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11222]
type=graphic
x=397
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11223]
type=graphic
x=433
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11224]
type=graphic
x=72
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11225]
type=graphic
x=108
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11226]
type=graphic
x=144
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11227]
type=graphic
x=180
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11228]
type=graphic
x=216
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11229]
type=graphic
x=252
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11230]
type=graphic
x=288
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11231]
type=graphic
x=324
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11232]
type=graphic
x=360
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11233]
type=graphic
x=396
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11234]
type=graphic
x=432
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11235]
type=graphic
x=37
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11236]
type=graphic
x=37
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11237]
type=graphic
x=325
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11238]
type=graphic
x=12
y=290
width=25
height=30
layer=com_11169
graphic=steelborder,2

[com_11239]
type=graphic
x=475
y=20
width=25
height=30
layer=com_11169
graphic=steelborder,1

[com_11240]
type=graphic
x=439
y=5
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11241]
type=graphic
x=475
y=290
width=25
height=30
layer=com_11169
graphic=steelborder,3

[com_11242]
type=graphic
x=439
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11243]
type=graphic
x=288
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11244]
type=graphic
x=324
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11245]
type=graphic
x=396
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11246]
type=graphic
x=252
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11247]
type=graphic
x=432
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11248]
type=graphic
x=458
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11249]
type=graphic
x=216
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11250]
type=graphic
x=180
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11251]
type=graphic
x=144
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11252]
type=graphic
x=108
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11253]
type=graphic
x=72
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11254]
type=graphic
x=181
y=299
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11255]
type=graphic
x=47
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11256]
type=graphic
x=360
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11257]
type=graphic
x=18
y=31
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11258]
type=text
x=216
y=28
width=99
height=14
layer=com_11169
textfont=p12_full
text=Catapult Controls
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_11259]
type=text
x=425
y=29
width=68
height=11
layer=com_11169
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_11260]
type=model
x=138
y=168
width=32
height=32
layer=com_11169
model=model_4854
modelangle=512,0,0
modelzoom=286

[com_11261]
type=graphic
x=249
y=63
width=25
height=30
layer=com_11169
graphic=steelborder,1

[com_11262]
type=graphic
x=58
y=48
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11263]
type=graphic
x=94
y=48
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11264]
type=graphic
x=130
y=48
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11265]
type=graphic
x=33
y=63
width=25
height=30
layer=com_11169
graphic=steelborder,0

[com_11266]
type=graphic
x=249
y=273
width=25
height=30
layer=com_11169
graphic=steelborder,3

[com_11267]
type=graphic
x=33
y=273
width=25
height=30
layer=com_11169
graphic=steelborder,2

[com_11268]
type=graphic
x=166
y=48
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11269]
type=graphic
x=202
y=48
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11270]
type=graphic
x=213
y=48
width=36
height=36
layer=com_11169
graphic=steelborder2,0

[com_11271]
type=graphic
x=253
y=93
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11272]
type=graphic
x=253
y=129
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11273]
type=graphic
x=253
y=165
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11274]
type=graphic
x=253
y=201
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11275]
type=graphic
x=253
y=237
width=36
height=36
layer=com_11169
graphic=steelborder2,1

[com_11276]
type=graphic
x=213
y=282
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11277]
type=graphic
x=177
y=282
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11278]
type=graphic
x=141
y=282
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11279]
type=graphic
x=105
y=282
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11280]
type=graphic
x=69
y=282
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11281]
type=graphic
x=56
y=282
width=36
height=36
layer=com_11169
graphic=miscgraphics,3

[com_11282]
type=graphic
x=18
y=237
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11283]
type=graphic
x=18
y=201
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11284]
type=graphic
x=18
y=165
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11285]
type=graphic
x=18
y=129
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11286]
type=graphic
x=18
y=93
width=36
height=36
layer=com_11169
graphic=miscgraphics,2

[com_11287]
type=model
x=26
y=29
width=32
height=32
layer=com_11301
model=model_4857
modelangle=512,0,0
modelzoom=1077

[com_11288]
type=model
x=76
y=29
width=32
height=32
layer=com_11301
model=model_4857
modelangle=512,0,0
modelzoom=1077

[com_11289]
type=graphic
x=14
y=9
width=25
height=30
layer=com_11301
graphic=steelborder,0

[com_11290]
type=graphic
x=96
y=9
width=25
height=30
layer=com_11301
graphic=steelborder,1

[com_11291]
type=graphic
x=14
y=51
width=25
height=30
layer=com_11301
graphic=steelborder,2

[com_11292]
type=graphic
x=96
y=51
width=25
height=30
layer=com_11301
graphic=steelborder,3

[com_11293]
type=graphic
x=39
y=-6
width=36
height=36
layer=com_11301
graphic=steelborder2,0

[com_11294]
type=graphic
x=63
y=-6
width=36
height=36
layer=com_11301
graphic=steelborder2,0

[com_11295]
type=graphic
x=100
y=26
width=36
height=36
layer=com_11301
graphic=steelborder2,1

[com_11296]
type=graphic
x=-1
y=26
width=36
height=36
layer=com_11301
graphic=miscgraphics,2

[com_11297]
type=graphic
x=38
y=60
width=36
height=36
layer=com_11301
graphic=miscgraphics,3

[com_11298]
type=graphic
x=66
y=60
width=36
height=36
layer=com_11301
graphic=miscgraphics,3

[com_11299]
type=graphic
x=49
y=14
width=36
height=36
layer=com_11301
graphic=steelborder2,1

[com_11300]
type=graphic
x=49
y=40
width=36
height=36
layer=com_11301
graphic=steelborder2,1

[com_11301]
type=layer
x=308
y=56
width=149
height=99
layer=com_11169

[com_11302]
type=layer
x=308
y=145
width=146
height=111
layer=com_11169

[com_11303]
type=model
x=26
y=29
width=32
height=32
layer=com_11302
model=model_4857
modelangle=512,0,0
modelzoom=1077

[com_11304]
type=model
x=76
y=29
width=32
height=32
layer=com_11302
model=model_4857
modelangle=512,0,0
modelzoom=1077

[com_11305]
type=graphic
x=14
y=9
width=25
height=30
layer=com_11302
graphic=steelborder,0

[com_11306]
type=graphic
x=96
y=9
width=25
height=30
layer=com_11302
graphic=steelborder,1

[com_11307]
type=graphic
x=14
y=51
width=25
height=30
layer=com_11302
graphic=steelborder,2

[com_11308]
type=graphic
x=96
y=51
width=25
height=30
layer=com_11302
graphic=steelborder,3

[com_11309]
type=graphic
x=39
y=-6
width=36
height=36
layer=com_11302
graphic=steelborder2,0

[com_11310]
type=graphic
x=63
y=-6
width=36
height=36
layer=com_11302
graphic=steelborder2,0

[com_11311]
type=graphic
x=100
y=26
width=36
height=36
layer=com_11302
graphic=steelborder2,1

[com_11312]
type=graphic
x=-1
y=26
width=36
height=36
layer=com_11302
graphic=miscgraphics,2

[com_11313]
type=graphic
x=38
y=60
width=36
height=36
layer=com_11302
graphic=miscgraphics,3

[com_11314]
type=graphic
x=66
y=60
width=36
height=36
layer=com_11302
graphic=miscgraphics,3

[com_11315]
type=graphic
x=49
y=14
width=36
height=36
layer=com_11302
graphic=steelborder2,1

[com_11316]
type=graphic
x=49
y=40
width=36
height=36
layer=com_11302
graphic=steelborder2,1

[com_11317]
type=model
x=27
y=31
width=32
height=32
layer=com_11301
model=model_4864
modelangle=512,0,0
modelzoom=1209

[com_11318]
type=model
x=76
y=31
width=32
height=32
layer=com_11301
model=model_4865
modelangle=512,0,0
modelzoom=1209

[com_11319]
type=model
x=26
y=29
width=32
height=32
layer=com_11302
model=model_4866
modelangle=512,0,0
modelzoom=1209

[com_11320]
type=model
x=76
y=29
width=32
height=32
layer=com_11302
model=model_4867
modelangle=474,2020,0
modelzoom=1209

[com_11321]
type=model
x=121
y=7
width=32
height=32
layer=com_11301
buttontype=1
model=model_4852
modelangle=512,0,0
modelzoom=1379

[com_11322]
type=model
x=125
y=43
width=25
height=38
layer=com_11301
buttontype=1
model=model_4852
modelangle=512,1024,0
modelzoom=1379

[com_11323]
type=model
x=82
y=86
width=37
height=25
layer=com_11302
buttontype=1
model=model_4852
modelangle=512,512,0
modelzoom=1379

[com_11324]
type=model
x=16
y=85
width=41
height=27
layer=com_11302
buttontype=1
model=model_4852
modelangle=512,1536,0
modelzoom=1379

[com_11325]
type=graphic
x=405
y=269
width=72
height=36
layer=com_11169
graphic=combatboxes,0

[com_11326]
type=graphic
x=450
y=269
width=36
height=36
layer=com_11169
graphic=miscgraphics,6

[com_11327]
type=graphic
x=383
y=269
width=36
height=36
layer=com_11169
graphic=miscgraphics,4

[com_11328]
type=text
x=393
y=279
width=85
height=14
layer=com_11169
textfont=b12_full
text=Fire Catapult
textshadow=yes
colour=0xffaa44

[com_11329]
type=graphic
x=383
y=269
width=103
height=36
layer=com_11169
buttontype=1

[com_11330]
type=model
x=201
y=223
width=32
height=32
layer=com_11169
model=model_4853
modelangle=512,0,0
modelzoom=1485

[com_11331]
type=model
x=73
y=101
width=32
height=32
layer=com_11169
model=model_4853
modelangle=512,0,0
modelzoom=1485

[com_11332]
type=model
x=93
y=122
width=32
height=32
layer=com_11169
model=model_4856
modelactive=model_4856
modelangle=512,0,0
modelzoom=2889

