[com_11898]
type=layer
width=512
height=334

[com_11899]
type=rectangle
x=-1
width=512
height=334
layer=com_11898
colour=0x433621
fill=yes

[com_11900]
type=model
x=236
y=128
width=32
height=32
layer=com_11898
model=model_4652
modelangle=271,63,0
modelzoom=926

[com_11901]
type=model
x=236
y=128
width=32
height=32
layer=com_11898
model=model_4980
modelangle=271,63,0
modelzoom=926

