[com_6299]
type=layer
width=512
height=334

[com_6300]
type=text
x=4
y=45
width=185
height=14
layer=com_6299
textfont=p12_full
text=To reduce memory requirements
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6301]
type=text
x=4
y=60
width=185
height=14
layer=com_6299
textfont=p12_full
text=music & sounds are only
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6302]
type=text
x=4
y=75
width=185
height=14
layer=com_6299
textfont=p12_full
text=available in the high-detail
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6303]
type=text
x=4
y=145
width=185
height=14
layer=com_6299
textfont=p12_full
text=If you wish to hear these
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6304]
type=text
x=4
y=160
width=185
height=14
layer=com_6299
textfont=p12_full
text=please switch versions, but
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6305]
type=text
x=4
y=175
width=185
height=14
layer=com_6299
textfont=p12_full
text=bear in mind things will run
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6306]
type=text
x=4
y=190
width=185
height=14
layer=com_6299
textfont=p12_full
text=more slowly as a result.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6307]
type=text
x=4
y=90
width=185
height=14
layer=com_6299
textfont=p12_full
text=version of the game.
textalignh=centre
textshadow=yes
colour=0xffff00

