[com_0]
type=model
x=240
y=139
width=32
height=28
model=model_3032
modelangle=400,0,0
modelzoom=604

[com_1]
type=text
x=151
y=102
width=223
height=17
textfont=q8_full
text=List of Fairy Queen's Symptoms.
textshadow=yes
colour=0xffff00

[com_2]
type=text
x=373
y=84
width=28
height=12
buttontype=3
textfont=p11_full
text=Close
colour=0x823c1a
mouseovercolour=0xdd5817

[com_3]
type=text
x=122
y=131
width=115
height=17
textfont=q8_full
text= Extremely weak
textshadow=yes
colour=0xffff99

[com_4]
type=text
x=118
y=236
width=70
height=17
textfont=q8_full
text=High fever
textshadow=yes
colour=0xffff99

[com_5]
type=model
x=355
y=205
width=32
height=32
model=model_8716
modelangle=500,138,0
modelzoom=273

[com_6]
type=text
x=121
y=174
width=197
height=17
textfont=q8_full
text=Drifting in and out of coma 
textshadow=yes
colour=0xffff99

[com_7]
type=text
x=120
y=195
width=93
height=17
textfont=q8_full
text=Shallow breath
textshadow=yes
colour=0xffff99

[com_8]
type=text
x=119
y=215
width=153
height=17
textfont=q8_full
text=Fading magical energy
textshadow=yes
colour=0xffff99

[com_9]
type=text
x=119
y=153
width=240
height=17
textfont=q8_full
text=Slow discorporation of ethereal body
textshadow=yes
colour=0xffff99

