[com_2076]
type=layer
width=512
height=334

[com_2077]
type=text
y=-1
width=480
height=17
layer=com_2076
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2078]
type=text
y=23
width=480
height=17
layer=com_2076
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2079]
type=text
y=47
width=480
height=17
layer=com_2076
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2080]
type=text
y=71
width=480
height=17
layer=com_2076
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2081]
type=graphic
width=57
height=13
layer=com_2083
graphic=sworddecor,1

[com_2082]
type=graphic
x=172
width=57
height=13
layer=com_2083
graphic=sworddecor,0

[com_2083]
type=layer
x=126
y=1
width=229
height=13
layer=com_2076

[com_2084]
type=graphic
width=57
height=13
layer=com_2086
graphic=sworddecor,1

[com_2085]
type=graphic
x=419
width=57
height=13
layer=com_2086
graphic=sworddecor,0

[com_2086]
type=layer
x=2
y=1
width=476
height=13
layer=com_2076
hide=yes

