[com_994]
type=layer
width=512
height=334

[com_995]
type=graphic
x=12
y=20
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_996]
type=graphic
x=12
y=80
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_997]
type=graphic
x=12
y=140
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_998]
type=graphic
x=12
y=200
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_999]
type=graphic
x=12
y=260
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1000]
type=graphic
x=100
y=20
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1001]
type=graphic
x=100
y=80
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1002]
type=graphic
x=100
y=140
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1003]
type=graphic
x=100
y=200
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1004]
type=graphic
x=188
y=20
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1005]
type=graphic
x=100
y=260
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1006]
type=graphic
x=188
y=80
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1007]
type=graphic
x=188
y=140
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1008]
type=graphic
x=188
y=200
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1009]
type=graphic
x=188
y=260
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1010]
type=graphic
x=276
y=20
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1011]
type=graphic
x=364
y=80
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1012]
type=graphic
x=276
y=80
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1013]
type=graphic
x=276
y=140
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1014]
type=graphic
x=276
y=200
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1015]
type=graphic
x=276
y=260
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1016]
type=graphic
x=364
y=140
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1017]
type=graphic
x=364
y=20
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1018]
type=graphic
x=364
y=200
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1019]
type=graphic
x=364
y=260
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1020]
type=graphic
x=412
y=20
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1021]
type=graphic
x=412
y=80
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1022]
type=graphic
x=412
y=140
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1023]
type=graphic
x=412
y=200
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1024]
type=graphic
x=412
y=260
width=88
height=60
layer=com_994
graphic=tradebacking,0

[com_1025]
type=graphic
x=12
y=20
width=25
height=30
layer=com_994
graphic=steelborder,0

[com_1026]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1027]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1028]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1029]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1030]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1031]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1032]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_994
graphic=miscgraphics,2

[com_1033]
type=graphic
x=479
y=50
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1034]
type=graphic
x=479
y=86
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1035]
type=graphic
x=479
y=122
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1036]
type=graphic
x=479
y=158
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1037]
type=graphic
x=479
y=194
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1038]
type=graphic
x=479
y=230
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1039]
type=graphic
x=479
y=266
width=36
height=36
layer=com_994
graphic=steelborder2,1

[com_1040]
type=graphic
x=73
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1041]
type=graphic
x=109
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1042]
type=graphic
x=145
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1043]
type=graphic
x=181
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1044]
type=graphic
x=217
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1045]
type=graphic
x=253
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1046]
type=graphic
x=289
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1047]
type=graphic
x=325
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1048]
type=graphic
x=361
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1049]
type=graphic
x=397
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1050]
type=graphic
x=433
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1051]
type=graphic
x=72
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1052]
type=graphic
x=108
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1053]
type=graphic
x=144
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1054]
type=graphic
x=180
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1055]
type=graphic
x=216
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1056]
type=graphic
x=252
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1057]
type=graphic
x=288
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1058]
type=graphic
x=324
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1059]
type=graphic
x=360
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1060]
type=graphic
x=396
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1061]
type=graphic
x=432
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1062]
type=graphic
x=252
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1063]
type=graphic
x=37
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1064]
type=graphic
x=37
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1065]
type=graphic
x=12
y=290
width=25
height=30
layer=com_994
graphic=steelborder,2

[com_1066]
type=graphic
x=475
y=20
width=25
height=30
layer=com_994
graphic=steelborder,1

[com_1067]
type=graphic
x=439
y=5
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1068]
type=graphic
x=475
y=290
width=25
height=30
layer=com_994
graphic=steelborder,3

[com_1069]
type=graphic
x=439
y=299
width=36
height=36
layer=com_994
graphic=miscgraphics,3

[com_1070]
type=graphic
x=288
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1071]
type=graphic
x=324
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1072]
type=graphic
x=360
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1073]
type=graphic
x=396
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1074]
type=graphic
x=432
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1075]
type=graphic
x=459
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1076]
type=graphic
x=216
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1077]
type=graphic
x=180
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1078]
type=graphic
x=144
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1079]
type=graphic
x=108
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1080]
type=graphic
x=72
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1081]
type=graphic
x=36
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1082]
type=graphic
x=17
y=34
width=36
height=36
layer=com_994
graphic=steelborder2,0

[com_1083]
type=text
x=116
y=191
width=80
height=14
layer=com_994
textfont=p12_full
text=Warhammer
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 9

[com_1084]
type=text
x=424
y=28
width=68
height=11
layer=com_994
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_1085]
type=text
x=18
y=141
width=80
height=14
layer=com_994
textfont=p12_full
text=Sword
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 4

[com_1086]
type=text
x=18
y=241
width=80
height=14
layer=com_994
textfont=p12_full
text=Long sword
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 6

[com_1087]
type=text
x=18
y=191
width=80
height=14
layer=com_994
textfont=p12_full
text=Scimitar
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 5

[com_1088]
type=text
x=18
y=291
width=80
height=14
layer=com_994
textfont=p12_full
text=2 hand sword
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 14

[com_1089]
type=text
x=73
y=219
width=34
height=14
layer=com_994
textfont=p12_full
text=2bars
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 1

[com_1090]
type=text
x=73
y=269
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1091]
type=text
x=116
y=91
width=80
height=14
layer=com_994
textfont=p12_full
text=Axe
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 1

[com_1092]
type=text
x=116
y=241
width=80
height=14
layer=com_994
textfont=p12_full
text=Battle axe
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 10

[com_1093]
type=text
x=116
y=141
width=80
height=14
layer=com_994
textfont=p12_full
text=Mace
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 2

[com_1094]
type=text
x=18
y=91
width=80
height=14
layer=com_994
textfont=p12_full
text=Dagger
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 0

[com_1095]
type=text
x=171
y=219
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1096]
type=text
y=32
width=80
height=14
layer=com_1097
textfont=p12_full
text=other
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 6

[com_1097]
type=layer
x=410
y=209
width=80
height=46
layer=com_994

[com_1098]
type=text
x=214
y=91
width=80
height=14
layer=com_994
textfont=p12_full
text=Chain body
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 11

[com_1099]
type=text
x=214
y=141
width=80
height=14
layer=com_994
textfont=p12_full
text=Plate legs
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 16

[com_1100]
type=text
x=214
y=191
width=80
height=14
layer=com_994
textfont=p12_full
text=Plate skirt
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 16

[com_1101]
type=text
x=214
y=241
width=80
height=14
layer=com_994
textfont=p12_full
text=Plate body
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 18

[com_1102]
type=text
x=312
y=91
width=80
height=14
layer=com_994
textfont=p12_full
text=Medium helm
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 3

[com_1103]
type=text
x=312
y=141
width=80
height=14
layer=com_994
textfont=p12_full
text=Full helm
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 7

[com_1104]
type=text
x=312
y=191
width=80
height=14
layer=com_994
textfont=p12_full
text=Square shield
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 8

[com_1105]
type=text
x=312
y=241
width=80
height=14
layer=com_994
textfont=p12_full
text=Kite shield
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 12

[com_1106]
type=text
x=406
y=191
width=88
height=14
layer=com_994
textfont=p12_full
text=Throwing knives
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 7

[com_1107]
type=text
x=410
y=91
width=80
height=14
layer=com_994
textfont=p12_full
text=Dart tips
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 4
script=varplayer_261 = 1

[com_1108]
type=text
x=410
y=141
width=80
height=14
layer=com_994
textfont=p12_full
text=Arrowtips
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 5

[com_1109]
type=text
x=269
y=69
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1110]
type=text
x=269
y=119
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1111]
type=text
x=269
y=169
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1112]
type=text
x=269
y=219
width=33
height=14
layer=com_994
textfont=p12_full
text=5bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 4

[com_1113]
type=text
x=367
y=119
width=34
height=14
layer=com_994
textfont=p12_full
text=2bars
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 1

[com_1114]
type=text
x=367
y=169
width=34
height=14
layer=com_994
textfont=p12_full
text=2bars
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 1

[com_1115]
type=text
x=367
y=219
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1116]
type=text
x=73
y=169
width=34
height=14
layer=com_994
textfont=p12_full
text=2bars
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 1

[com_1117]
type=text
x=12
y=30
width=488
height=14
layer=com_994
textfont=b12_full
text=What would you like to make?
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1118]
type=text
x=171
y=169
width=33
height=14
layer=com_994
textfont=p12_full
text=3bars
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 2

[com_1119]
type=inv
x=42
y=60
width=1
height=5
layer=com_994
paddingx=66
paddingy=18
op1=Make
op2=Make 5
op3=Make 10

[com_1120]
type=inv
x=140
y=60
width=1
height=5
layer=com_994
paddingx=66
paddingy=18
op1=Make
op2=Make 5
op3=Make 10

[com_1121]
type=inv
x=238
y=60
width=1
height=5
layer=com_994
paddingx=66
paddingy=18
op1=Make
op2=Make 5
op3=Make 10

[com_1122]
type=inv
x=336
y=60
width=1
height=5
layer=com_994
paddingx=66
paddingy=18
op1=Make
op2=Make 5
op3=Make 10

[com_1123]
type=inv
x=434
y=60
width=1
height=5
layer=com_994
paddingx=66
paddingy=18
op1=Make set
op2=Make 5 sets
op3=Make 10 sets

[com_1124]
type=text
x=73
y=119
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1125]
type=text
x=73
y=69
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1126]
type=text
x=171
y=69
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1127]
type=text
x=367
y=69
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1128]
type=text
x=465
y=69
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1129]
type=text
x=171
y=119
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1130]
type=text
x=465
y=119
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1131]
type=text
x=465
y=169
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1132]
type=text
x=55
y=10
width=25
height=14
layer=com_1097
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_1133]
type=layer
x=410
y=259
width=80
height=46
layer=com_994

[com_1134]
type=text
y=32
width=80
height=14
layer=com_1133
textfont=p12_full
text=Studs
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 6

[com_1135]
type=text
x=55
y=10
width=25
height=14
layer=com_1133
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_8428]
type=text
x=55
y=10
width=34
height=14
layer=com_8431
textfont=p12_full
text=2bars
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 1

[com_8429]
type=text
y=32
width=80
height=14
layer=com_8431
textfont=p12_full
text=Claws
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 13

[com_8430]
type=inv
x=24
width=4
height=4
layer=com_8431
op1=Make
op2=Make 5
op3=Make 10

[com_8431]
type=layer
x=116
y=259
width=89
height=46
layer=com_994

[com_11458]
type=layer
x=209
y=260
width=119
height=49
layer=com_994

[com_11459]
type=text
x=55
y=10
width=25
height=14
layer=com_11458
textfont=p12_full
text=1bar
textalignh=centre
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_11460]
type=inv
x=24
width=4
height=4
layer=com_11458
op1=Make
op2=Make 5
op3=Make 10

[com_11461]
type=text
x=12
y=31
width=95
height=14
layer=com_11458
textfont=p12_full
text=Oil lantern frame
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_262 = 1

[com_13357]
type=text
x=367
y=269
width=25
height=14
layer=com_994
textfont=p12_full
text=1bar
textshadow=yes
colour=0xc00000
colouractive=0x00c000
script=varplayer_210 > 0

[com_13358]
type=text
x=337
y=292
width=28
height=14
layer=com_994
textfont=p12_full
text=Nails
textalignh=centre
colour=0x000000
colouractive=0xffffff
script=varplayer_211 > 4

