[com_4433]
type=layer
width=512
height=334

[com_4434]
type=graphic
x=12
y=20
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4435]
type=graphic
x=12
y=80
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4436]
type=graphic
x=12
y=140
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4437]
type=graphic
x=12
y=200
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4438]
type=graphic
x=12
y=260
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4439]
type=graphic
x=100
y=20
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4440]
type=graphic
x=100
y=80
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4441]
type=graphic
x=100
y=140
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4442]
type=graphic
x=100
y=200
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4443]
type=graphic
x=188
y=20
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4444]
type=graphic
x=100
y=260
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4445]
type=graphic
x=188
y=80
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4446]
type=graphic
x=188
y=140
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4447]
type=graphic
x=188
y=200
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4448]
type=graphic
x=188
y=260
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4449]
type=graphic
x=276
y=20
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4450]
type=graphic
x=364
y=80
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4451]
type=graphic
x=276
y=80
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4452]
type=graphic
x=276
y=140
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4453]
type=graphic
x=276
y=200
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4454]
type=graphic
x=276
y=260
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4455]
type=graphic
x=364
y=140
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4456]
type=graphic
x=364
y=20
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4457]
type=graphic
x=364
y=200
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4458]
type=graphic
x=364
y=260
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4459]
type=graphic
x=412
y=20
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4460]
type=graphic
x=412
y=80
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4461]
type=graphic
x=412
y=140
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4462]
type=graphic
x=412
y=200
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4463]
type=graphic
x=412
y=260
width=88
height=60
layer=com_4433
graphic=tradebacking,0

[com_4464]
type=graphic
x=12
y=20
width=25
height=30
layer=com_4433
graphic=steelborder,0

[com_4465]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4466]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4467]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4468]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4469]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4470]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4471]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_4433
graphic=miscgraphics,2

[com_4472]
type=graphic
x=479
y=50
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4473]
type=graphic
x=479
y=86
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4474]
type=graphic
x=479
y=122
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4475]
type=graphic
x=479
y=158
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4476]
type=graphic
x=479
y=194
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4477]
type=graphic
x=479
y=230
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4478]
type=graphic
x=479
y=266
width=36
height=36
layer=com_4433
graphic=steelborder2,1

[com_4479]
type=graphic
x=73
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4480]
type=graphic
x=109
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4481]
type=graphic
x=145
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4482]
type=graphic
x=181
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4483]
type=graphic
x=217
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4484]
type=graphic
x=253
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4485]
type=graphic
x=289
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4486]
type=graphic
x=325
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4487]
type=graphic
x=361
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4488]
type=graphic
x=397
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4489]
type=graphic
x=433
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4490]
type=graphic
x=72
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4491]
type=graphic
x=108
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4492]
type=graphic
x=144
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4493]
type=graphic
x=180
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4494]
type=graphic
x=216
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4495]
type=graphic
x=252
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4496]
type=graphic
x=288
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4497]
type=graphic
x=324
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4498]
type=graphic
x=360
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4499]
type=graphic
x=396
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4500]
type=graphic
x=432
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4501]
type=graphic
x=252
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4502]
type=graphic
x=37
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4503]
type=graphic
x=37
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4504]
type=graphic
x=12
y=290
width=25
height=30
layer=com_4433
graphic=steelborder,2

[com_4505]
type=graphic
x=475
y=20
width=25
height=30
layer=com_4433
graphic=steelborder,1

[com_4506]
type=graphic
x=439
y=5
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4507]
type=graphic
x=475
y=290
width=25
height=30
layer=com_4433
graphic=steelborder,3

[com_4508]
type=graphic
x=439
y=299
width=36
height=36
layer=com_4433
graphic=miscgraphics,3

[com_4509]
type=graphic
x=288
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4510]
type=graphic
x=324
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4511]
type=graphic
x=360
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4512]
type=graphic
x=396
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4513]
type=graphic
x=432
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4514]
type=graphic
x=459
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4515]
type=graphic
x=216
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4516]
type=graphic
x=180
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4517]
type=graphic
x=144
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4518]
type=graphic
x=108
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4519]
type=graphic
x=72
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4520]
type=graphic
x=36
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4521]
type=graphic
x=17
y=34
width=36
height=36
layer=com_4433
graphic=steelborder2,0

[com_4522]
type=text
x=420
y=29
width=68
height=11
layer=com_4433
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_4523]
type=text
x=154
y=30
width=194
height=14
layer=com_4433
textfont=b12_full
text=Thessalias' Makeovers (Legs)
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4524]
type=rectangle
x=59
y=249
width=403
height=28
layer=com_4433
colour=0x000000
fill=yes

[com_4525]
type=rectangle
x=85
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x7b6e32
fill=yes
buttontext=Khaki
script=varplayer_262 = 2

[com_4526]
type=rectangle
x=110
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x262323
fill=yes
buttontext=Black
script=varplayer_262 = 3

[com_4527]
type=rectangle
x=135
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x752f3b
fill=yes
buttontext=Crimson
script=varplayer_262 = 4

[com_4528]
type=rectangle
x=160
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x3b3b4e
fill=yes
buttontext=Navy
script=varplayer_262 = 5

[com_4529]
type=rectangle
x=185
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0xaa9045
fill=yes
buttontext=Straw
script=varplayer_262 = 6

[com_4530]
type=rectangle
x=210
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0xbeb89c
fill=yes
buttontext=White
script=varplayer_262 = 7

[com_4531]
type=rectangle
x=235
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x8b3b2a
fill=yes
buttontext=Red
script=varplayer_262 = 8

[com_4532]
type=rectangle
x=260
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x2d5272
fill=yes
buttontext=Blue
script=varplayer_262 = 9

[com_4533]
type=rectangle
x=285
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x2d723e
fill=yes
buttontext=Green
script=varplayer_262 = 10

[com_4534]
type=rectangle
x=310
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0xa3970d
fill=yes
buttontext=Yellow
script=varplayer_262 = 11

[com_4535]
type=rectangle
x=335
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x83537b
fill=yes
buttontext=Purple
script=varplayer_262 = 12

[com_4536]
type=rectangle
x=360
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x9d642f
fill=yes
buttontext=Orange
script=varplayer_262 = 13

[com_4537]
type=rectangle
x=385
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0xa17067
fill=yes
buttontext=Rose
script=varplayer_262 = 14

[com_4538]
type=rectangle
x=410
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x829472
fill=yes
buttontext=Lime
script=varplayer_262 = 15

[com_4539]
type=rectangle
x=435
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x728c94
fill=yes
buttontext=Cyan
script=varplayer_262 = 16

[com_4540]
type=rectangle
x=60
y=250
width=25
height=25
layer=com_4433
buttontype=5
colour=0x1c6135
fill=yes
buttontext=Emerald
script=varplayer_262 = 1

[com_4541]
type=text
x=197
y=289
width=127
height=14
layer=com_4433
buttontype=1
textfont=b12_full
text=CONFIRM (500 gold)
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

[com_4542]
type=graphic
x=59
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 1

[com_4543]
type=graphic
x=84
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 2

[com_4544]
type=graphic
x=109
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 3

[com_4545]
type=graphic
x=134
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 4

[com_4546]
type=graphic
x=160
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 5

[com_4547]
type=graphic
x=185
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 6

[com_4548]
type=graphic
x=210
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 7

[com_4549]
type=graphic
x=235
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 8

[com_4550]
type=graphic
x=260
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 9

[com_4551]
type=graphic
x=285
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 10

[com_4552]
type=graphic
x=310
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 11

[com_4553]
type=graphic
x=335
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 12

[com_4554]
type=graphic
x=360
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 13

[com_4555]
type=graphic
x=385
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 14

[com_4556]
type=graphic
x=410
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 15

[com_4557]
type=graphic
x=435
y=250
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_262 = 16

[com_4558]
type=text
x=220
y=225
width=73
height=14
layer=com_4433
textfont=p12_full
text=Select colour
textshadow=yes
colour=0xffff00

[com_4559]
type=model
x=50
y=220
width=32
height=32
layer=com_4433
model=model_241
modelzoom=400

[com_4560]
type=model
x=185
y=220
width=32
height=32
layer=com_4433
model=model_256
modelzoom=400

[com_4561]
type=model
x=310
y=210
width=32
height=32
layer=com_4433
model=model_253
modelzoom=420

[com_4562]
type=model
x=435
y=220
width=32
height=32
layer=com_4433
model=model_259
modelzoom=400

[com_415]
type=graphic
x=46
y=89
width=40
height=120
layer=com_4433
buttontype=5
buttontext=Plain
script=varplayer_260 = 1

[com_416]
type=graphic
x=180
y=90
width=40
height=120
layer=com_4433
buttontype=5
buttontext=Shorts
script=varplayer_260 = 2

[com_417]
type=graphic
x=306
y=86
width=40
height=120
layer=com_4433
buttontype=5
buttontext=Flares
script=varplayer_260 = 3

[com_418]
type=graphic
x=430
y=88
width=40
height=120
layer=com_4433
buttontype=5
buttontext=Turn-ups
script=varplayer_260 = 4

[com_4567]
type=graphic
x=53
y=90
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_260 = 1

[com_4568]
type=graphic
x=187
y=90
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_260 = 2

[com_4569]
type=graphic
x=313
y=87
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_260 = 3

[com_4570]
type=graphic
x=436
y=89
width=25
height=25
layer=com_4433
graphicactive=headicons,1
script=varplayer_260 = 4

[com_4571]
type=text
x=211
y=62
width=87
height=14
layer=com_4433
textfont=p12_full
text=Select leg style
textshadow=yes
colour=0xffff00

