[com_12346]
type=layer
width=512
height=334

[com_12347]
type=rectangle
x=-1
width=512
height=334
layer=com_12346
trans=120
colour=0x202020
fill=yes

[com_12348]
type=text
x=427
y=7
width=74
height=14
layer=com_12346
buttontype=3
textfont=p12_full
text=Close Window
colour=0xaeada7
mouseovercolour=0xcfcdc0

[com_12349]
type=model
x=39
y=162
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=238

[com_12350]
type=model
x=191
y=37
width=32
height=32
layer=com_12366
model=model_5624
modelangle=207,309,0
modelzoom=234

[com_12351]
type=model
x=39
y=162
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=238

[com_12352]
type=model
x=95
y=185
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=308

[com_12353]
type=model
x=152
y=187
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=441

[com_12354]
type=model
x=205
y=181
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=616

[com_12355]
type=model
x=253
y=171
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=700

[com_12356]
type=model
x=295
y=149
width=32
height=32
layer=com_12366
model=model_5622
modelangle=328,20,0
modelzoom=700

[com_12357]
type=model
x=343
y=82
width=43
height=47
layer=com_12366
mouseoverlayer=com_12372
buttontype=1
model=model_5626
modelangle=513,1887,0
modelzoom=1451

[com_12358]
type=text
x=157
y=11
width=100
height=14
layer=com_12366
textfont=b12_full
text=**********
textalignh=centre
textshadow=yes
colour=0xa6a692

[com_12359]
type=text
x=119
y=30
width=168
height=12
layer=com_12366
textfont=p11_full
text=************************
textalignh=centre
textshadow=yes
colour=0xa6a692

[com_12360]
type=graphic
x=250
y=122
width=36
height=36
layer=com_12346
mouseoverlayer=com_12370
graphic=miscgraphics,4

[com_12361]
type=graphic
x=227
y=122
width=36
height=36
layer=com_12346
mouseoverlayer=com_12370
graphic=miscgraphics,4

[com_12362]
type=graphic
x=205
y=122
width=36
height=36
layer=com_12346
mouseoverlayer=com_12370
graphic=miscgraphics,4

[com_12363]
type=graphic
x=271
y=122
width=36
height=36
layer=com_12346
mouseoverlayer=com_12370
graphic=miscgraphics,6

[com_12364]
type=text
x=168
y=66
width=81
height=12
layer=com_12366
buttontype=1
textfont=p11_full
text=Remove this key
textshadow=yes
colour=0xa6a692
mouseovercolour=0x0f8bf888

[com_12365]
type=text
x=156
y=94
width=105
height=12
layer=com_12366
textfont=p11_full
text=***************
textalignh=centre
textshadow=yes
colour=0xa6a692

[com_12366]
type=layer
x=48
y=69
width=395
height=235
layer=com_12346

[com_12367]
type=text
x=2
y=1
width=81
height=12
layer=com_12370
buttontype=1
textfont=p11_full
text=Remove this key
textshadow=yes
colour=0x0f8bf888

[com_12368]
type=layer
x=36
y=136
width=54
height=71
layer=com_12346
hide=yes

[com_12369]
type=model
x=12
y=20
width=32
height=32
layer=com_12368
model=model_5630
modelangle=593,153,0
modelzoom=1035

[com_12370]
type=layer
x=214
y=134
width=85
height=15
layer=com_12346
hide=yes

[com_12371]
type=model
x=-11
y=68
width=54
height=71
layer=com_12366
mouseoverlayer=com_12368
buttontype=1
model=model_5625
modelangle=593,153,0
modelzoom=1035

[com_12372]
type=layer
x=382
y=135
width=54
height=71
layer=com_12346
hide=yes

[com_12373]
type=model
x=14
y=23
width=32
height=32
layer=com_12372
model=model_5628
modelangle=513,1887,0
modelzoom=1451

