[com_0]
type=rectangle
width=512
height=334
trans=160
colour=0x46341d
fill=yes

[com_1]
type=model
x=243
y=155
width=35
height=35
model=model_40691
modelangle=1914,0,0
modelzoom=615

[com_2]
type=text
x=116
y=109
width=292
height=19
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xff981f

[com_3]
type=text
y=134
width=512
height=2
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4]
type=model
x=117
y=169
width=85
height=105
model=null
modelangle=11,1849,0
modelzoom=1500

[com_5]
type=text
x=202
y=237
width=89
height=26
textfont=p12_full
text=Total Points:
textalignh=centre
textshadow=yes
colour=0x0099ff

[com_6]
type=text
x=296
y=237
width=17
height=14
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x0099ff
script0=varplayer_101

[com_7]
type=model
x=341
y=195
width=32
height=32
model=model_3037
modelangle=500,0,0
modelzoom=800

[com_8]
type=text
x=202
y=183
width=121
height=16
textfont=p12_full
text=You are awarded
textalignh=centre
textshadow=yes
colour=0x00c000

[com_9]
type=text
x=256
y=198
width=8
height=14
textfont=p12_full
text=0
textalignh=centre
textshadow=yes
colour=0xff0000

[com_10]
type=text
x=202
y=215
width=120
height=16
textfont=p12_full
text=Quest points.
textalignh=centre
textshadow=yes
colour=0x00c000

[com_11]
type=graphic
x=485
y=3
width=26
height=23
mouseoverlayer=com_13
graphic="close_buttons,4"

[com_12]
type=graphic
x=5
y=3
width=26
height=23
layer=com_13
buttontype=3
graphic="close_buttons,5"

[com_13]
type=layer
x=480
width=32
height=32
hide=yes

