[com_15801]
type=layer
width=512
height=334

[com_15802]
type=model
x=369
y=424
width=32
height=32
layer=com_15801
model=model_9630
modelangle=512,0,0
modelzoom=692

[com_15803]
type=text
x=190
y=431
width=400
height=17
layer=com_15801
textfont=q8_full
text=Your password is only as safe as your computer.
textalignh=centre
colour=0x000000

[com_15804]
type=text
x=190
y=452
width=400
height=17
layer=com_15801
textfont=q8_full
text=Install anti-virus software!
textalignh=centre
colour=0x000000

[com_15805]
type=text
x=333
y=411
width=119
height=14
layer=com_15801
textfont=p12_full
text=Message of the week
colour=0x800000

[com_15806]
type=model
x=21
y=437
width=32
height=32
layer=com_15801
model=model_10225
modelangle=0,2003,0
modelzoom=900
modelanim=seq_2922

[com_15807]
type=model
x=634
y=442
width=32
height=32
layer=com_15801
model=model_10225
modelangle=0,1992,0
modelzoom=900
modelanim=seq_2923

[com_15808]
type=model
x=108
y=439
width=32
height=32
layer=com_15801
model=model_10226
modelangle=0,66,0
modelzoom=900
modelanim=seq_2922

[com_15809]
type=model
x=717
y=440
width=32
height=32
layer=com_15801
model=model_10226
modelangle=0,40,0
modelzoom=900
modelanim=seq_2922

[com_15810]
type=model
x=61
y=444
width=32
height=32
layer=com_15801
model=model_10227
modelangle=0,40,0
modelzoom=900
modelanim=seq_2924

[com_15811]
type=model
x=655
y=449
width=32
height=32
layer=com_15801
model=model_10228
modelangle=0,40,0
modelzoom=900
modelanim=seq_2924

