[com_6152]
type=layer
width=512
height=334

[com_6153]
type=model
x=115
y=189
width=32
height=33
layer=com_6152
model=model_9748
modelangle=6,5,0
modelzoom=410

[com_6154]
type=model
x=80
y=98
width=32
height=32
layer=com_6152
model=model_9753
modelangle=528,0,0
modelzoom=358

[com_6155]
type=model
x=184
y=227
width=35
height=34
layer=com_6152
model=model_9749
modelangle=565,0,0
modelzoom=422
modelanim=seq_2767

[com_6186]
type=model
x=278
y=227
width=35
height=34
layer=com_6152
model=model_9750
modelangle=565,0,0
modelzoom=422
modelanim=seq_2767

[com_6187]
type=model
x=373
y=227
width=35
height=34
layer=com_6152
model=model_9751
modelangle=565,0,0
modelzoom=422
modelanim=seq_2767

[com_6188]
type=graphic
x=181
y=203
width=46
height=95
layer=com_6152
buttontype=1

[com_6189]
type=graphic
x=271
y=204
width=51
height=90
layer=com_6152
buttontype=1

[com_6190]
type=graphic
x=370
y=205
width=46
height=96
layer=com_6152
buttontype=1

[com_6191]
type=text
x=473
y=10
width=31
height=14
layer=com_6152
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00

[com_6192]
type=model
x=180
y=25
width=34
height=33
layer=com_6152
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 0

[com_6193]
type=model
x=230
y=25
width=32
height=32
layer=com_6152
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 1

[com_6194]
type=model
x=280
y=25
width=32
height=32
layer=com_6152
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 2

[com_6195]
type=model
x=330
y=25
width=32
height=32
layer=com_6152
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanimactive=seq_2766
script=varplayer_531 > 3

[com_6196]
type=model
x=380
y=25
width=32
height=32
layer=com_6152
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 4

[com_6197]
type=model
x=430
y=25
width=32
height=32
layer=com_6152
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 5

