[com_3249]
type=layer
width=512
height=334

[com_3250]
type=model
x=295
y=279
width=32
height=32
layer=com_3249
model=model_7619
modelangle=139,144,0
modelzoom=288

[com_3251]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7632
modelangle=80,650,0
modelzoom=500

[com_3252]
type=model
x=400
y=135
width=32
height=32
layer=com_3249
model=model_7632
modelangle=89,650,0
modelzoom=500

[com_3253]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7628
modelangle=80,650,0
modelzoom=500

[com_3254]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7634
modelangle=80,650,0
modelzoom=500

[com_3255]
type=model
x=352
y=149
width=32
height=32
layer=com_3249
model=model_7634
modelangle=87,714,0
modelzoom=325

[com_3256]
type=model
x=209
y=158
width=32
height=32
layer=com_3249
model=model_7634
modelangle=148,644,0
modelzoom=566

[com_3257]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7637
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2236

[com_3258]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7635
modelangle=80,650,0
modelzoom=500
modelanim=seq_2235

[com_3259]
type=model
x=310
y=115
width=32
height=32
layer=com_13733
model=model_7631
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_3260]
type=model
x=310
y=115
width=32
height=32
layer=com_13734
model=model_7648
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_3261]
type=model
x=310
y=115
width=32
height=32
layer=com_13735
model=model_7649
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_3262]
type=model
x=310
y=115
width=32
height=32
layer=com_13736
model=model_7650
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_3263]
type=model
x=310
y=115
width=32
height=32
layer=com_13737
model=model_7651
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_3264]
type=model
x=310
y=115
width=32
height=32
layer=com_13738
model=model_7652
modelangle=80,650,0
modelzoom=500
modelanim=seq_2233
modelanimactive=seq_2233

[com_3265]
type=model
x=310
y=115
width=32
height=32
layer=com_13727
model=model_7633
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_3266]
type=model
x=310
y=115
width=32
height=32
layer=com_13728
model=model_7642
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_3267]
type=model
x=310
y=115
width=32
height=32
layer=com_13729
model=model_7643
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_3268]
type=model
x=310
y=115
width=32
height=32
layer=com_13730
model=model_7644
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_3269]
type=model
x=310
y=115
width=32
height=32
layer=com_13731
model=model_7645
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_3270]
type=model
x=310
y=115
width=32
height=32
layer=com_13732
model=model_7646
modelangle=80,650,0
modelzoom=500
modelanim=seq_2234
modelanimactive=seq_2234

[com_3271]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7629
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2232

[com_3272]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7640
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2238

[com_3273]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7638
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2237

[com_3274]
type=model
x=310
y=115
width=32
height=32
layer=com_3249
model=model_7626
modelangle=80,650,0
modelzoom=500
modelanimactive=seq_2230

[com_3275]
type=model
x=310
y=115
width=32
height=32
layer=com_13739
model=model_7627
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_13722]
type=model
x=310
y=115
width=32
height=32
layer=com_13740
model=model_7654
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_13723]
type=model
x=310
y=115
width=32
height=32
layer=com_13741
model=model_7655
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_13724]
type=model
x=310
y=115
width=32
height=32
layer=com_13742
model=model_7656
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_13725]
type=model
x=310
y=115
width=32
height=32
layer=com_13743
model=model_7657
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_13726]
type=model
x=310
y=115
width=32
height=32
layer=com_13744
model=model_7658
modelangle=80,650,0
modelzoom=500
modelanim=seq_2231
modelanimactive=seq_2231

[com_13727]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13728]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13729]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13730]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13731]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13732]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13733]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13734]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13735]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13736]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13737]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13738]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13739]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13740]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13741]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13742]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13743]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13744]
type=layer
width=512
height=320
layer=com_3249
hide=yes

[com_13745]
type=text
x=422
y=16
width=74
height=14
layer=com_3249
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_13746]
type=rectangle
x=98
y=160
width=120
height=80
layer=com_3249
buttontype=1
colour=0xffff00
buttontext=Place a gear here!

[com_13747]
type=rectangle
x=351
y=125
width=120
height=120
layer=com_3249
buttontype=1
colour=0xffff00
buttontext=Place a gear here!

[com_13748]
type=rectangle
x=135
y=39
width=120
height=120
layer=com_3249
buttontype=1
colour=0xffff00
buttontext=Place a gear here!

