[com_0]
type=model
x=241
y=127
width=35
height=35
model=model_6746
modelangle=498,1,0
modelzoom=477

[com_1]
type=model
x=241
y=127
width=35
height=35
model=model_6747
modelactive=model_6749
modelangle=498,1,0
modelzoom=477

[com_2]
type=model
x=241
y=127
width=35
height=35
model=model_6748
modelactive=model_6750
modelangle=498,1,0
modelzoom=477

[com_3]
type=text
x=435
y=14
width=68
height=11
buttontype=1
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_4]
type=text
x=253
y=11
width=20
height=17
textfont=q8_full
text=%1
textalignh=centre
textshadow=yes
colour=0xff981f

[com_5]
type=layer
x=28
y=55
width=201
height=241
hide=yes

[com_6]
type=model
x=87
y=-9
width=32
height=32
layer=com_5
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_7]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_8]
type=model
x=86
y=6
width=32
height=32
layer=com_7
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_9]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_10]
type=model
x=87
y=24
width=32
height=32
layer=com_9
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_11]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_12]
type=model
x=87
y=40
width=32
height=32
layer=com_11
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_13]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_14]
type=model
x=87
y=56
width=32
height=32
layer=com_13
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_15]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_16]
type=model
x=87
y=72
width=32
height=32
layer=com_15
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_17]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_18]
type=model
x=87
y=87
width=32
height=32
layer=com_17
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_19]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_20]
type=model
x=87
y=104
width=32
height=32
layer=com_19
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_21]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_22]
type=model
x=87
y=120
width=32
height=32
layer=com_21
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_23]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_24]
type=model
x=87
y=136
width=32
height=32
layer=com_23
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_25]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_26]
type=model
x=87
y=154
width=32
height=32
layer=com_25
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_27]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_28]
type=model
x=86
y=168
width=32
height=32
layer=com_27
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_29]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_30]
type=model
x=86
y=184
width=32
height=32
layer=com_29
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_31]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_32]
type=model
x=87
y=201
width=32
height=32
layer=com_31
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_33]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_34]
type=model
x=88
y=217
width=32
height=32
layer=com_33
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_35]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_36]
type=model
x=88
y=-8
width=32
height=32
layer=com_35
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_37]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_38]
type=model
x=88
y=5
width=32
height=32
layer=com_37
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_39]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_40]
type=model
x=88
y=23
width=32
height=32
layer=com_39
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_41]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_42]
type=model
x=88
y=39
width=32
height=32
layer=com_41
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_43]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_44]
type=model
x=88
y=56
width=32
height=32
layer=com_43
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_45]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_46]
type=model
x=88
y=72
width=32
height=32
layer=com_45
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_47]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_48]
type=model
x=89
y=63
width=32
height=32
layer=com_47
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_49]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_50]
type=model
x=89
y=104
width=32
height=32
layer=com_49
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_51]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_52]
type=model
x=89
y=120
width=32
height=32
layer=com_51
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_53]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_54]
type=model
x=89
y=135
width=32
height=32
layer=com_53
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_55]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_56]
type=model
x=88
y=151
width=32
height=32
layer=com_55
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_57]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_58]
type=model
x=88
y=168
width=32
height=32
layer=com_57
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_59]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_60]
type=model
x=88
y=184
width=32
height=32
layer=com_59
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_61]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_62]
type=model
x=88
y=199
width=32
height=32
layer=com_61
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_63]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_64]
type=model
x=88
y=215
width=32
height=32
layer=com_63
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_65]
type=text
x=27
y=54
width=202
height=17
textfont=q8_full
text=line1
colour=0x000000

[com_66]
type=text
x=27
y=70
width=202
height=17
textfont=q8_full
text=line2
colour=0x000000

[com_67]
type=text
x=27
y=86
width=202
height=17
textfont=q8_full
text=line3
colour=0x000000

[com_68]
type=text
x=27
y=102
width=202
height=17
textfont=q8_full
text=line4
colour=0x000000

[com_69]
type=text
x=27
y=118
width=202
height=17
textfont=q8_full
text=line5
colour=0x000000

[com_70]
type=text
x=27
y=134
width=202
height=17
textfont=q8_full
text=line6
colour=0x000000

[com_71]
type=text
x=27
y=150
width=202
height=17
textfont=q8_full
text=line7
colour=0x000000

[com_72]
type=text
x=27
y=166
width=202
height=17
textfont=q8_full
text=line8
colour=0x000000

[com_73]
type=text
x=27
y=182
width=202
height=17
textfont=q8_full
text=line9
colour=0x000000

[com_74]
type=text
x=27
y=198
width=202
height=17
textfont=q8_full
text=line10
colour=0x000000

[com_75]
type=text
x=27
y=214
width=202
height=17
textfont=q8_full
text=line11
colour=0x000000

[com_76]
type=text
x=27
y=230
width=202
height=17
textfont=q8_full
text=line12
colour=0x000000

[com_77]
type=text
x=27
y=246
width=202
height=17
textfont=q8_full
text=line13
colour=0x000000

[com_78]
type=text
x=27
y=262
width=202
height=17
textfont=q8_full
text=line14
colour=0x000000

[com_79]
type=text
x=27
y=278
width=202
height=17
textfont=q8_full
text=line15
colour=0x000000

[com_80]
type=text
x=283
y=54
width=202
height=17
textfont=q8_full
text=line16
colour=0x000000

[com_81]
type=text
x=283
y=70
width=202
height=17
textfont=q8_full
text=line17
colour=0x000000

[com_82]
type=text
x=283
y=86
width=202
height=17
textfont=q8_full
text=line18
colour=0x000000

[com_83]
type=text
x=283
y=102
width=202
height=17
textfont=q8_full
text=line19
colour=0x000000

[com_84]
type=text
x=283
y=118
width=202
height=17
textfont=q8_full
text=line20
colour=0x000000

[com_85]
type=text
x=283
y=134
width=202
height=17
textfont=q8_full
text=line21
colour=0x000000

[com_86]
type=text
x=283
y=150
width=202
height=17
textfont=q8_full
text=line22
colour=0x000000

[com_87]
type=text
x=283
y=166
width=202
height=17
textfont=q8_full
text=line23
colour=0x000000

[com_88]
type=text
x=283
y=182
width=202
height=17
textfont=q8_full
text=line24
colour=0x000000

[com_89]
type=text
x=283
y=198
width=202
height=17
textfont=q8_full
text=line25
colour=0x000000

[com_90]
type=text
x=283
y=214
width=202
height=17
textfont=q8_full
text=line26
colour=0x000000

[com_91]
type=text
x=283
y=230
width=202
height=17
textfont=q8_full
text=line27
colour=0x000000

[com_92]
type=text
x=283
y=246
width=202
height=17
textfont=q8_full
text=line28
colour=0x000000

[com_93]
type=text
x=283
y=262
width=202
height=17
textfont=q8_full
text=line28
colour=0x000000

[com_94]
type=text
x=283
y=278
width=202
height=17
textfont=q8_full
text=line29
colour=0x000000

[com_95]
type=graphic
y=-1
width=45
height=36
layer=com_96
buttontype=1
graphic=leftarrow

[com_96]
type=layer
x=94
y=298
width=45
height=36

[com_97]
type=graphic
width=45
height=36
layer=com_98
buttontype=1
graphic=rightarrow

[com_98]
type=layer
x=366
y=295
width=45
height=36

[com_99]
type=text
x=9
y=300
width=49
height=17
textfont=q8_full
text=page%1
textalignh=centre
colour=0x000000

[com_100]
type=text
x=455
y=300
width=52
height=17
textfont=q8_full
text=page%2
textalignh=centre
colour=0x000000

[com_101]
type=layer
x=27
y=54
width=202
height=22

[com_102]
type=text
width=202
height=16
layer=com_101
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_103]
type=layer
x=27
y=70
width=202
height=22

[com_104]
type=text
width=202
height=16
layer=com_103
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_105]
type=layer
x=27
y=86
width=202
height=22

[com_106]
type=text
width=202
height=16
layer=com_105
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_107]
type=layer
x=27
y=102
width=202
height=22

[com_108]
type=text
width=202
height=16
layer=com_107
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_109]
type=layer
x=27
y=118
width=202
height=22

[com_110]
type=text
width=202
height=16
layer=com_109
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_111]
type=layer
x=27
y=134
width=202
height=22

[com_112]
type=text
width=202
height=16
layer=com_111
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_113]
type=layer
x=27
y=150
width=202
height=22

[com_114]
type=text
width=202
height=16
layer=com_113
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_115]
type=layer
x=27
y=166
width=202
height=22

[com_116]
type=text
width=202
height=16
layer=com_115
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_117]
type=layer
x=27
y=182
width=202
height=22

[com_118]
type=text
width=202
height=16
layer=com_117
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_119]
type=layer
x=27
y=198
width=202
height=22

[com_120]
type=text
width=202
height=16
layer=com_119
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_121]
type=layer
x=27
y=214
width=202
height=22

[com_122]
type=text
width=202
height=16
layer=com_121
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_123]
type=layer
x=27
y=230
width=202
height=22

[com_124]
type=text
width=202
height=16
layer=com_123
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_125]
type=layer
x=27
y=246
width=202
height=22

[com_126]
type=text
width=202
height=16
layer=com_125
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_127]
type=layer
x=27
y=262
width=202
height=22

[com_128]
type=text
width=202
height=16
layer=com_127
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_129]
type=layer
x=27
y=278
width=202
height=22

[com_130]
type=text
width=202
height=16
layer=com_129
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_131]
type=layer
x=283
y=54
width=202
height=22

[com_132]
type=text
width=202
height=16
layer=com_131
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_133]
type=layer
x=283
y=70
width=202
height=22

[com_134]
type=text
width=202
height=16
layer=com_133
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_135]
type=layer
x=283
y=86
width=202
height=22

[com_136]
type=text
width=202
height=16
layer=com_135
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_137]
type=layer
x=283
y=102
width=202
height=22

[com_138]
type=text
width=202
height=16
layer=com_137
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_139]
type=layer
x=283
y=118
width=202
height=22

[com_140]
type=text
width=202
height=16
layer=com_139
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_141]
type=layer
x=283
y=134
width=202
height=22

[com_142]
type=text
width=202
height=16
layer=com_141
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_143]
type=layer
x=283
y=150
width=202
height=22

[com_144]
type=text
width=202
height=16
layer=com_143
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_145]
type=layer
x=283
y=166
width=202
height=22

[com_146]
type=text
width=202
height=16
layer=com_145
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_147]
type=layer
x=283
y=182
width=202
height=22

[com_148]
type=text
width=202
height=16
layer=com_147
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_149]
type=layer
x=283
y=198
width=202
height=22

[com_150]
type=text
width=202
height=16
layer=com_149
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_151]
type=layer
x=283
y=214
width=202
height=22

[com_152]
type=text
width=202
height=16
layer=com_151
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_153]
type=layer
x=283
y=230
width=202
height=22

[com_154]
type=text
width=202
height=16
layer=com_153
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_155]
type=layer
x=283
y=246
width=202
height=22

[com_156]
type=text
width=202
height=16
layer=com_155
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_157]
type=layer
x=283
y=262
width=202
height=22

[com_158]
type=text
width=202
height=16
layer=com_157
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_159]
type=layer
x=283
y=278
width=202
height=22

[com_160]
type=text
width=202
height=16
layer=com_159
buttontype=1
textfont=q8_full
colour=0x000000
mouseovercolour=0xffffff

[com_161]
type=text
x=452
y=1
width=51
height=12
buttontype=1
textfont=p11_full
text=First Page
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

