[com_16152]
type=layer
width=512
height=334

[com_16153]
type=model
x=260
y=140
width=32
height=32
layer=com_16152
model=model_10988
modelzoom=85
modelanim=seq_3092

