[com_0]
type=rectangle
x=95
y=37
width=300
height=170
colour=0x808040
fill=yes

[com_1]
type=model
x=223
y=215
width=32
height=32
model=model_8949
modelangle=523,0,0
modelzoom=404

[com_2]
type=inv
x=102
y=41
width=7
height=4
draggable=yes
paddingx=10
paddingy=4
op1=@gre@Value
op2=Pack @red@1
op3=Pack @red@5
op4=Pack @red@All
op5=Pack @red@X

[com_3]
type=text
x=102
y=195
width=286
height=26
textfont=q8_full
text=@yel@Tai Bwo Wannai @red@ Parcel Service
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4]
type=graphic
x=463
y=11
width=23
height=23
mouseoverlayer=com_6
graphic="close_buttons,4"

[com_5]
type=graphic
x=4
y=4
width=23
height=23
layer=com_6
buttontype=3
graphic="close_buttons,5"

[com_6]
type=layer
x=458
y=7
width=32
height=32
hide=yes

