[com_2374]
type=layer
width=512
height=334

[com_2375]
type=graphic
x=12
y=20
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2376]
type=graphic
x=12
y=80
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2377]
type=graphic
x=12
y=140
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2378]
type=graphic
x=12
y=200
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2379]
type=graphic
x=12
y=260
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2380]
type=graphic
x=100
y=20
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2381]
type=graphic
x=100
y=80
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2382]
type=graphic
x=100
y=140
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2383]
type=graphic
x=100
y=200
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2384]
type=graphic
x=188
y=20
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2385]
type=graphic
x=100
y=260
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2386]
type=graphic
x=188
y=80
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2387]
type=graphic
x=188
y=140
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2388]
type=graphic
x=188
y=200
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2389]
type=graphic
x=188
y=260
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2390]
type=graphic
x=276
y=20
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2391]
type=graphic
x=364
y=80
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2392]
type=graphic
x=276
y=80
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2393]
type=graphic
x=276
y=140
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2394]
type=graphic
x=276
y=200
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2395]
type=graphic
x=276
y=260
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2396]
type=graphic
x=364
y=140
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2397]
type=graphic
x=364
y=20
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2398]
type=graphic
x=364
y=200
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2399]
type=graphic
x=364
y=260
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2400]
type=graphic
x=412
y=20
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2401]
type=graphic
x=412
y=80
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2402]
type=graphic
x=412
y=140
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2403]
type=graphic
x=412
y=200
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2404]
type=graphic
x=412
y=260
width=88
height=60
layer=com_2374
graphic=tradebacking,0

[com_2405]
type=graphic
x=12
y=20
width=25
height=30
layer=com_2374
graphic=steelborder,0

[com_2406]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2407]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2408]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2409]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2410]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2411]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2412]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2413]
type=graphic
x=479
y=50
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2414]
type=graphic
x=479
y=86
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2415]
type=graphic
x=479
y=122
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2416]
type=graphic
x=479
y=158
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2417]
type=graphic
x=479
y=194
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2418]
type=graphic
x=479
y=230
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2419]
type=graphic
x=479
y=266
width=36
height=36
layer=com_2374
graphic=steelborder2,1

[com_2420]
type=graphic
x=73
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2421]
type=graphic
x=109
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2422]
type=graphic
x=145
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2423]
type=graphic
x=217
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2424]
type=graphic
x=253
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2425]
type=graphic
x=289
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2426]
type=graphic
x=361
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2427]
type=graphic
x=397
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2428]
type=graphic
x=433
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2429]
type=graphic
x=72
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2430]
type=graphic
x=108
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2431]
type=graphic
x=144
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2432]
type=graphic
x=180
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2433]
type=graphic
x=216
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2434]
type=graphic
x=252
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2435]
type=graphic
x=288
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2436]
type=graphic
x=324
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2437]
type=graphic
x=360
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2438]
type=graphic
x=396
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2439]
type=graphic
x=432
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2440]
type=graphic
x=37
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2441]
type=graphic
x=37
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2442]
type=graphic
x=12
y=290
width=25
height=30
layer=com_2374
graphic=steelborder,2

[com_2443]
type=graphic
x=475
y=20
width=25
height=30
layer=com_2374
graphic=steelborder,1

[com_2444]
type=graphic
x=439
y=5
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2445]
type=graphic
x=475
y=290
width=25
height=30
layer=com_2374
graphic=steelborder,3

[com_2446]
type=graphic
x=439
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2447]
type=graphic
x=288
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2448]
type=graphic
x=324
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2449]
type=graphic
x=182
y=290
width=25
height=30
layer=com_2374
graphic=steelborder,0

[com_2450]
type=graphic
x=396
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2451]
type=graphic
x=252
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2452]
type=graphic
x=432
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2453]
type=graphic
x=458
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2454]
type=graphic
x=216
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2455]
type=graphic
x=180
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2456]
type=graphic
x=144
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2457]
type=graphic
x=108
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2458]
type=graphic
x=72
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2459]
type=graphic
x=181
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2460]
type=graphic
x=37
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2461]
type=graphic
x=360
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2462]
type=graphic
x=18
y=42
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2463]
type=invtext
x=377
y=96
width=1
height=14
layer=com_2374
textalignh=centre
textfont=b12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_2464]
type=text
x=60
y=62
width=146
height=14
layer=com_2374
textfont=b12_full
text=You are about to give:
textshadow=yes
colour=0xffff00

[com_2465]
type=text
x=290
y=62
width=168
height=14
layer=com_2374
textfont=b12_full
text=In return you will receive:
textshadow=yes
colour=0xffff00

[com_2466]
type=text
x=139
y=27
width=240
height=14
layer=com_2374
textfont=p12_full
text=Are you sure you want to make this trade?
textalignh=centre
textshadow=yes
colour=0x00ffff

[com_2467]
type=text
x=107
y=43
width=298
height=11
layer=com_2374
textfont=p11_full
text=There is NO WAY to reverse a trade if you change your mind
textshadow=yes

[com_2468]
type=graphic
x=239
y=243
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2469]
type=invtext
x=77
y=96
width=2
height=14
layer=com_2374
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_2470]
type=invtext
x=317
y=96
width=2
height=14
layer=com_2374
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_2471]
type=graphic
x=239
y=278
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2472]
type=graphic
x=241
y=275
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2473]
type=invtext
x=136
y=96
width=1
height=14
layer=com_2374
textalignh=centre
textfont=b12_full
textshadow=yes
colour=0xffffff
paddingy=2

[com_2474]
type=text
x=425
y=27
width=68
height=11
layer=com_2374
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_2475]
type=graphic
x=307
y=290
width=25
height=30
layer=com_2374
graphic=steelborder,1

[com_2476]
type=graphic
x=325
y=299
width=36
height=36
layer=com_2374
graphic=miscgraphics,3

[com_2477]
type=rectangle
x=188
y=296
width=66
height=18
layer=com_2374
buttontype=1
colour=0x000000
fill=yes

[com_2478]
type=text
x=203
y=297
width=39
height=14
layer=com_2374
textfont=p12_full
text=Accept
textshadow=yes
colour=0x00c000

[com_2479]
type=rectangle
x=260
y=296
width=66
height=18
layer=com_2374
buttontype=3
colour=0x000000
fill=yes

[com_2480]
type=text
x=274
y=297
width=40
height=14
layer=com_2374
textfont=p12_full
text=Decline
textshadow=yes
colour=0xc00000

[com_2481]
type=graphic
x=239
y=99
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2482]
type=graphic
x=239
y=63
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2483]
type=graphic
x=239
y=171
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2484]
type=graphic
x=207
y=275
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2485]
type=graphic
x=239
y=207
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2486]
type=graphic
x=239
y=135
width=36
height=36
layer=com_2374
graphic=miscgraphics,2

[com_2487]
type=graphic
x=271
y=275
width=36
height=36
layer=com_2374
graphic=steelborder2,0

[com_2488]
type=text
x=72
y=83
width=129
height=14
layer=com_2374
textfont=b12_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes

[com_2489]
type=text
x=311
y=84
width=129
height=14
layer=com_2374
textfont=b12_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes

