[com_0]
type=rectangle
width=765
height=503
colour=0x000000

[com_1]
type=graphic
x=132
y=13
width=503
height=47
graphic=titlescroll

[com_2]
type=graphic
x=29
y=74
width=343
height=90
graphic=button_brown_big

[com_3]
type=graphic
x=394
y=74
width=343
height=90
graphic=button_brown_big

[com_4]
type=graphic
x=394
y=183
width=343
height=90
graphic=button_brown_big

[com_5]
type=graphic
x=29
y=183
width=343
height=90
graphic=button_brown_big

[com_6]
type=graphic
x=271
y=292
width=229
height=90
buttontype=3
graphic=button_red

[com_7]
type=graphic
x=398
y=78
width=79
height=82
graphic=letter

[com_8]
type=graphic
x=29
y=79
width=69
height=82
graphic=key

[com_9]
type=graphic
x=398
y=188
width=77
height=82
graphic=coins

[com_10]
type=graphic
x=32
y=188
width=66
height=82
graphic=chest

[com_11]
type=graphic
x=276
y=295
width=66
height=83
graphic=startgame

[com_12]
type=text
x=150
y=17
width=467
height=16
textfont=q8_full
text=Welcome to Runescape
textalignh=centre
colour=0xff0000

[com_13]
type=text
x=150
y=39
width=467
height=14
textfont=p12_full
textalignh=centre
colour=0x000000

[com_14]
type=text
x=97
y=74
width=275
height=90
textfont=p12_full
textalignh=centre
textalignv=centre
colour=0xffff00

[com_15]
type=text
x=478
y=74
width=257
height=49
textfont=p12_full
text=Jagex Staff will NEVER email you. We use the message centre on this website instead.
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_16]
type=text
x=478
y=122
width=257
height=42
textfont=p12_full
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_17]
type=text
x=99
y=183
width=273
height=90
textfont=p12_full
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_18]
type=text
x=344
y=292
width=156
height=90
textfont=b12_full
text=CLICK HERE TO PLAY
textalignh=centre
textalignv=centre
textshadow=yes

[com_19]
type=text
x=476
y=183
width=261
height=90
textfont=p12_full
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00

[com_20]
type=tooltip
x=394
y=74
width=343
height=90
text=To view your messages:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Read your messages from Jagex'.

[com_21]
type=tooltip
x=393
y=183
width=344
height=90

[com_22]
type=tooltip
x=29
y=74
width=343
height=90

