[com_1803]
type=layer
width=512
height=334

[com_1804]
type=model
x=135
y=16
width=35
height=32
layer=com_1803
model=model_2455
modelangle=521,1288,0
modelzoom=624

[com_1805]
type=text
x=4
y=10
width=47
height=14
layer=com_1803
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_1806]
type=text
x=52
y=10
width=17
height=14
layer=com_1803
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_1807]
type=text
x=4
y=40
width=114
height=14
layer=com_1803
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_1808]
type=layer
x=4
y=60
width=145
height=190
layer=com_1803

[com_1809]
type=graphic
x=5
y=97
width=72
height=36
layer=com_1808
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_1810]
type=graphic
x=5
y=51
width=72
height=36
layer=com_1808
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_1811]
type=graphic
x=5
y=5
width=72
height=36
layer=com_1808
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_1812]
type=graphic
x=22
y=103
width=34
height=24
layer=com_1808
graphic=combaticons2,7

[com_1813]
type=graphic
x=21
y=11
width=34
height=24
layer=com_1808
graphic=combaticons2,5

[com_1814]
type=graphic
x=22
y=57
width=34
height=24
layer=com_1808
graphic=combaticons2,6

[com_1815]
type=text
x=78
y=15
width=51
height=14
layer=com_1808
textfont=p12_full
text=Accurate
textshadow=yes
colour=0xffff00

[com_1816]
type=text
x=78
y=60
width=31
height=14
layer=com_1808
textfont=p12_full
text=Rapid
textshadow=yes
colour=0xffff00

[com_1817]
type=text
x=78
y=107
width=60
height=14
layer=com_1808
textfont=p12_full
text=Longrange
textshadow=yes
colour=0xffff00

