[com_359]
type=layer
width=512
height=334

[com_360]
type=text
x=21
y=13
width=441
height=17
layer=com_359
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_361]
type=text
x=21
y=45
width=442
height=18
layer=com_359
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_362]
type=text
x=69
y=77
width=350
height=17
layer=com_359
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

