[com_11462]
type=layer
width=512
height=334

[com_11463]
type=rectangle
width=512
height=340
layer=com_11462
colour=0x000000
fill=yes

[com_11464]
type=model
x=244
y=189
width=32
height=32
layer=com_11462
model=model_9853
modelangle=512,0,0
modelzoom=739

[com_6198]
type=model
x=246
y=10
width=32
height=32
layer=com_11462
model=model_9630
modelangle=512,0,0
modelzoom=1182

[com_11465]
type=model
x=57
y=76
width=70
height=92
layer=com_11462
model=model_2747
modelangle=116,1942,0
modelzoom=346

[com_11466]
type=model
x=142
y=52
width=64
height=96
layer=com_11462
model=model_2428
modelangle=590,868,0
modelzoom=293

[com_11467]
type=model
x=220
y=73
width=64
height=96
layer=com_11462
model=model_2548
modelangle=147,40,0
modelzoom=338

[com_11468]
type=model
x=307
y=69
width=64
height=96
layer=com_11462
model=model_5745
modelangle=53,1965,0
modelzoom=741

[com_11469]
type=model
x=392
y=66
width=64
height=96
layer=com_11462
model=model_5754
modelangle=197,1921,0
modelzoom=687

[com_11470]
type=model
x=143
y=170
width=64
height=96
layer=com_11462
model=model_5740
modelangle=427,2031,0
modelzoom=378

[com_6199]
type=model
x=65
y=191
width=59
height=79
layer=com_11462
model=null
modelangle=125,2042,0
modelzoom=652

[com_11471]
type=text
x=55
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_11472]
type=text
x=55
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_11473]
type=text
x=55
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_11474]
type=text
x=55
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nVial
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_11475]
type=text
x=135
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12394]
type=text
x=135
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12395]
type=text
x=135
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12396]
type=text
x=135
y=81
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nOrb
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12397]
type=text
x=216
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12398]
type=text
x=216
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12399]
type=text
x=216
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12400]
type=text
x=216
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nBeer Glass
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12401]
type=text
x=299
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12402]
type=text
x=299
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12403]
type=text
x=299
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12404]
type=text
x=299
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\nCandle\nLantern
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12405]
type=text
x=383
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12406]
type=text
x=383
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12407]
type=text
x=383
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12408]
type=text
x=383
y=82
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\nOil\nLamp
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12409]
type=text
x=135
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_12410]
type=text
x=135
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12411]
type=text
x=135
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_12412]
type=text
x=135
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\nLantern\nLens
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_6200]
type=text
x=55
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_6201]
type=text
x=55
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_6202]
type=text
x=55
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_6203]
type=text
x=55
y=209
width=75
height=93
layer=com_11462
buttontype=1
textfont=q8_full
text=\n\n\n\nFishbowl
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_12413]
type=text
x=30
y=18
width=464
height=17
layer=com_11462
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x000000

[com_15349]
type=text
x=430
y=7
width=74
height=14
layer=com_11462
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0x604820
mouseovercolour=0xa08048

