[com_8119]
type=layer
width=512
height=334

[com_8120]
type=model
x=239
y=143
width=32
height=32
layer=com_8119
model=model_3033
modelangle=490,0,0
modelzoom=525

[com_8121]
type=text
x=81
y=89
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8122]
type=text
x=82
y=113
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8123]
type=text
x=82
y=137
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8124]
type=text
x=82
y=160
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8125]
type=text
x=82
y=182
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8126]
type=text
x=82
y=204
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8127]
type=text
x=82
y=226
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8128]
type=text
x=82
y=249
width=340
height=16
layer=com_8119
textfont=q8_full
textalignh=centre
colour=0x362407

[com_8129]
type=text
x=394
y=50
width=68
height=11
layer=com_8119
buttontype=3
textfont=p11_full
text=Close Window
colour=0x7e6544
mouseovercolour=0xffffff

