[com_1743]
type=layer
width=512
height=334

[com_1744]
type=graphic
x=2
y=5
width=57
height=13
layer=com_1743
graphic=sworddecor,1

[com_1745]
type=graphic
x=421
y=5
width=57
height=13
layer=com_1743
graphic=sworddecor,0

[com_13716]
type=model
x=207
y=13
width=64
height=96
layer=com_1743
model=null
modelzoom=400

[com_13717]
type=text
x=189
y=16
width=100
height=93
layer=com_1743
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Cook All

[com_13718]
type=text
x=189
y=16
width=100
height=93
layer=com_1743
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Cook X

[com_13719]
type=text
x=189
y=16
width=100
height=93
layer=com_1743
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Cook 5

[com_13720]
type=text
x=189
y=16
width=100
height=93
layer=com_1743
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Cook 1

[com_13721]
type=text
width=479
height=17
layer=com_1743
textfont=q8_full
text=How many would you like to cook?
textalignh=centre
colour=0x800000

