[com_0]
type=model
x=241
y=127
width=35
height=35
model=model_6746
modelangle=498,1,0
modelzoom=477

[com_1]
type=model
x=241
y=127
width=35
height=35
model=model_6747
modelactive=model_6749
modelangle=498,1,0
modelzoom=477

[com_2]
type=model
x=241
y=127
width=35
height=35
model=model_6748
modelactive=model_6748
modelangle=498,1,0
modelzoom=477

[com_3]
type=text
x=9
y=9
width=497
height=23
textfont=q8_full
text=title
textalignh=centre
textshadow=yes
colour=0xff981f

[com_4]
type=layer
x=28
y=55
width=201
height=241
hide=yes

[com_5]
type=model
x=87
y=-9
width=32
height=32
layer=com_4
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_6]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_7]
type=model
x=86
y=6
width=32
height=32
layer=com_6
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_8]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_9]
type=model
x=87
y=24
width=32
height=32
layer=com_8
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_10]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_11]
type=model
x=87
y=40
width=32
height=32
layer=com_10
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_12]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_13]
type=model
x=87
y=56
width=32
height=32
layer=com_12
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_14]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_15]
type=model
x=87
y=72
width=32
height=32
layer=com_14
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_16]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_17]
type=model
x=87
y=87
width=32
height=32
layer=com_16
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_18]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_19]
type=model
x=87
y=104
width=32
height=32
layer=com_18
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_20]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_21]
type=model
x=87
y=120
width=32
height=32
layer=com_20
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_22]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_23]
type=model
x=87
y=136
width=32
height=32
layer=com_22
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_24]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_25]
type=model
x=87
y=154
width=32
height=32
layer=com_24
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_26]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[com_27]
type=model
x=86
y=168
width=32
height=32
layer=com_26
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_28]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_29]
type=model
x=86
y=184
width=32
height=32
layer=com_28
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_30]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_31]
type=model
x=87
y=201
width=32
height=32
layer=com_30
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_32]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[com_33]
type=model
x=88
y=217
width=32
height=32
layer=com_32
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_34]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_35]
type=model
x=88
y=-8
width=32
height=32
layer=com_34
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_36]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_37]
type=model
x=88
y=5
width=32
height=32
layer=com_36
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_38]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_39]
type=model
x=88
y=23
width=32
height=32
layer=com_38
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_40]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_41]
type=model
x=88
y=39
width=32
height=32
layer=com_40
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_42]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_43]
type=model
x=88
y=56
width=32
height=32
layer=com_42
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_44]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_45]
type=model
x=88
y=72
width=32
height=32
layer=com_44
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_46]
type=layer
x=282
y=80
width=201
height=241
hide=yes

[com_47]
type=model
x=89
y=63
width=32
height=32
layer=com_46
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_48]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_49]
type=model
x=89
y=104
width=32
height=32
layer=com_48
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_50]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_51]
type=model
x=89
y=120
width=32
height=32
layer=com_50
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_52]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_53]
type=model
x=89
y=135
width=32
height=32
layer=com_52
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_54]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_55]
type=model
x=88
y=151
width=32
height=32
layer=com_54
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_56]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_57]
type=model
x=88
y=168
width=32
height=32
layer=com_56
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_58]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_59]
type=model
x=88
y=184
width=32
height=32
layer=com_58
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_60]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_61]
type=model
x=88
y=199
width=32
height=32
layer=com_60
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_62]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[com_63]
type=model
x=88
y=215
width=32
height=32
layer=com_62
model=model_3389
modelangle=200,0,0
modelzoom=500

[com_64]
type=graphic
y=-1
width=45
height=36
layer=com_65
buttontype=6
graphic=leftarrow

[com_65]
type=layer
x=94
y=298
width=45
height=36

[com_66]
type=graphic
width=45
height=36
layer=com_67
buttontype=6
graphic=rightarrow

[com_67]
type=layer
x=366
y=295
width=45
height=36

[com_68]
type=text
x=10
y=299
width=80
height=20
textfont=q8_full
text=page%1
colour=0x000000

[com_69]
type=text
x=424
y=300
width=80
height=20
textfont=q8_full
text=page%2
textalignh=right
colour=0x000000

[com_70]
type=graphic
x=484
y=3
width=26
height=23
mouseoverlayer=com_72
graphic="close_buttons,4"

[com_71]
type=graphic
x=3
y=4
width=26
height=23
layer=com_72
buttontype=3
graphic="close_buttons,5"

[com_72]
type=layer
x=481
y=-1
width=32
height=32
hide=yes

[com_73]
type=text
x=27
y=70
width=202
height=17
textfont=q8_full
text=line2
colour=0x000000

[com_74]
type=text
x=27
y=86
width=202
height=17
textfont=q8_full
text=line3
colour=0x000000

[com_75]
type=text
x=27
y=102
width=202
height=17
textfont=q8_full
text=line4
colour=0x000000

[com_76]
type=text
x=27
y=118
width=202
height=17
textfont=q8_full
text=line5
colour=0x000000

[com_77]
type=text
x=27
y=134
width=202
height=17
textfont=q8_full
text=line6
colour=0x000000

[com_78]
type=text
x=27
y=150
width=202
height=17
textfont=q8_full
text=line7
colour=0x000000

[com_79]
type=text
x=27
y=166
width=202
height=17
textfont=q8_full
text=line8
colour=0x000000

[com_80]
type=text
x=27
y=182
width=202
height=17
textfont=q8_full
text=line9
colour=0x000000

[com_81]
type=text
x=27
y=198
width=202
height=17
textfont=q8_full
text=line10
colour=0x000000

[com_82]
type=text
x=27
y=214
width=202
height=17
textfont=q8_full
text=line11
colour=0x000000

[com_83]
type=text
x=27
y=230
width=202
height=17
textfont=q8_full
text=line12
colour=0x000000

[com_84]
type=text
x=27
y=246
width=202
height=17
textfont=q8_full
text=line13
colour=0x000000

[com_85]
type=text
x=27
y=262
width=202
height=17
textfont=q8_full
text=line14
colour=0x000000

[com_86]
type=text
x=27
y=278
width=202
height=17
textfont=q8_full
text=line15
colour=0x000000

[com_87]
type=text
x=283
y=54
width=202
height=17
textfont=q8_full
text=line16
colour=0x000000

[com_88]
type=text
x=283
y=70
width=202
height=17
textfont=q8_full
text=line17
colour=0x000000

[com_89]
type=text
x=283
y=86
width=202
height=17
textfont=q8_full
text=line18
colour=0x000000

[com_90]
type=text
x=283
y=102
width=202
height=17
textfont=q8_full
text=line19
colour=0x000000

[com_91]
type=text
x=283
y=118
width=202
height=17
textfont=q8_full
text=line20
colour=0x000000

[com_92]
type=text
x=283
y=134
width=202
height=17
textfont=q8_full
text=line21
colour=0x000000

[com_93]
type=text
x=283
y=150
width=202
height=17
textfont=q8_full
text=line22
colour=0x000000

[com_94]
type=text
x=283
y=166
width=202
height=17
textfont=q8_full
text=line23
colour=0x000000

[com_95]
type=text
x=283
y=182
width=202
height=17
textfont=q8_full
text=line24
colour=0x000000

[com_96]
type=text
x=283
y=198
width=202
height=17
textfont=q8_full
text=line25
colour=0x000000

[com_97]
type=text
x=283
y=214
width=202
height=17
textfont=q8_full
text=line26
colour=0x000000

[com_98]
type=text
x=283
y=230
width=202
height=17
textfont=q8_full
text=line27
colour=0x000000

[com_99]
type=text
x=283
y=246
width=202
height=17
textfont=q8_full
text=line28
colour=0x000000

[com_100]
type=text
x=283
y=262
width=202
height=17
textfont=q8_full
text=line28
colour=0x000000

[com_101]
type=text
x=283
y=278
width=202
height=17
textfont=q8_full
text=line29
colour=0x000000

[com_102]
type=text
x=27
y=54
width=202
height=17
textfont=q8_full
text=line1
colour=0x000000

