[com_2066]
type=layer
width=512
height=334

[com_2067]
type=text
y=-1
width=480
height=17
layer=com_2066
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_2068]
type=text
y=31
width=480
height=17
layer=com_2066
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2069]
type=text
y=63
width=480
height=17
layer=com_2066
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_2070]
type=graphic
width=57
height=13
layer=com_2072
graphic=sworddecor,1

[com_2071]
type=graphic
x=172
width=57
height=13
layer=com_2072
graphic=sworddecor,0

[com_2072]
type=layer
x=126
y=1
width=229
height=13
layer=com_2066

[com_2073]
type=graphic
width=57
height=13
layer=com_2075
graphic=sworddecor,1

[com_2074]
type=graphic
x=419
width=57
height=13
layer=com_2075
graphic=sworddecor,0

[com_2075]
type=layer
x=2
y=1
width=476
height=13
layer=com_2066
hide=yes

