[com_4413]
type=layer
width=512
height=334

[com_4414]
type=text
x=4
y=10
width=47
height=14
layer=com_4413
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_4415]
type=text
x=52
y=10
width=17
height=14
layer=com_4413
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_4416]
type=text
x=4
y=40
width=114
height=14
layer=com_4413
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_4417]
type=layer
x=4
y=60
width=145
height=190
layer=com_4413

[com_4418]
type=graphic
x=5
y=5
width=72
height=36
layer=com_4417
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 0

[com_4419]
type=graphic
x=5
y=97
width=72
height=36
layer=com_4417
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 2

[com_4420]
type=graphic
x=5
y=51
width=72
height=36
layer=com_4417
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_38 = 1

[com_4421]
type=graphic
x=22
y=11
width=34
height=24
layer=com_4417
graphic=combaticons,14

[com_4422]
type=graphic
x=21
y=57
width=34
height=24
layer=com_4417
graphic=combaticons,15

[com_4423]
type=graphic
x=22
y=103
width=34
height=24
layer=com_4417
graphic=combaticons,16

[com_4424]
type=text
x=78
y=5
width=30
height=11
layer=com_4417
textfont=p11_full
text=Punch
textshadow=yes
colour=0xffff00

[com_4425]
type=text
x=78
y=51
width=19
height=11
layer=com_4417
textfont=p11_full
text=Kick
textshadow=yes
colour=0xffff00

[com_4426]
type=text
x=78
y=97
width=26
height=11
layer=com_4417
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_4427]
type=text
x=78
y=18
width=50
height=11
layer=com_4417
textfont=p11_full
text=(Accurate)
colour=0xffff00

[com_4428]
type=text
x=78
y=64
width=64
height=11
layer=com_4417
textfont=p11_full
text=(Aggressive)
colour=0xffff00

[com_4429]
type=text
x=78
y=110
width=58
height=11
layer=com_4417
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_4430]
type=text
x=82
y=90
width=36
height=11
layer=com_4413
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_4431]
type=text
x=82
y=136
width=36
height=11
layer=com_4413
textfont=p11_full
text=(Crush)
colour=0xffff00

[com_4432]
type=text
x=82
y=182
width=36
height=11
layer=com_4413
textfont=p11_full
text=(Crush)
colour=0xffff00

