[com_18164]
type=layer
width=512
height=334

[com_18165]
type=model
x=240
y=139
width=32
height=28
layer=com_18164
model=model_3032
modelangle=400,0,0
modelzoom=604

[com_18166]
type=text
x=151
y=102
width=223
height=17
layer=com_18164
textfont=q8_full
text=List of Fairy Queen's Symptoms.
textshadow=yes
colour=0xffff00

[com_18167]
type=text
x=373
y=84
width=28
height=12
layer=com_18164
buttontype=3
textfont=p11_full
text=Close
colour=0x823c1a
mouseovercolour=0xdd5817

[com_18168]
type=text
x=122
y=131
width=115
height=17
layer=com_18164
textfont=q8_full
text= Extremely weak
textshadow=yes
colour=0xffff99

[com_18169]
type=text
x=118
y=236
width=70
height=17
layer=com_18164
textfont=q8_full
text=High fever
textshadow=yes
colour=0xffff99

[com_18170]
type=model
x=355
y=205
width=32
height=32
layer=com_18164
model=model_8716
modelangle=500,138,0
modelzoom=273

[com_18171]
type=text
x=121
y=174
width=197
height=17
layer=com_18164
textfont=q8_full
text=Drifting in and out of coma 
textshadow=yes
colour=0xffff99

[com_18172]
type=text
x=120
y=195
width=93
height=17
layer=com_18164
textfont=q8_full
text=Shallow breath
textshadow=yes
colour=0xffff99

[com_18173]
type=text
x=119
y=215
width=153
height=17
layer=com_18164
textfont=q8_full
text=Fading magical energy
textshadow=yes
colour=0xffff99

[com_18174]
type=text
x=119
y=153
width=240
height=17
layer=com_18164
textfont=q8_full
text=Slow discorporation of ethereal body
textshadow=yes
colour=0xffff99

