[com_18288]
type=layer
width=512
height=334

[com_18289]
type=model
x=40
y=26
width=32
height=32
layer=com_18288
model=null
modelangle=40,1882,0
modelzoom=400

[com_18290]
type=text
x=111
y=29
width=350
height=17
layer=com_18288
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_18291]
type=text
x=111
y=5
width=350
height=17
layer=com_18288
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_18292]
type=text
x=111
y=53
width=350
height=17
layer=com_18288
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

