[com_0]
type=graphic
x=40
y=102
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_1]
type=graphic
x=104
y=56
width=36
height=36
buttontype=1
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_261 = 0

[com_2]
type=text
x=104
y=56
width=36
height=36
textfont=p12_full
text=OFF
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xccccff
colouractive=0x9999ff

[com_3]
type=graphic
x=66
y=102
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_4]
type=graphic
x=92
y=102
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_5]
type=graphic
x=118
y=102
width=36
height=36
buttontype=5
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_6]
type=graphic
x=144
y=102
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_7]
type=text
x=16
y=4
width=162
height=14
textfont=b12_full
text=House Options
textalignh=centre
textshadow=yes
colour=0xff981f

[com_8]
type=graphic
x=40
y=148
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_9]
type=graphic
x=66
y=148
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_10]
type=graphic
x=92
y=148
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_11]
type=graphic
x=118
y=148
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_12]
type=graphic
x=144
y=148
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"

[com_13]
type=graphic
x=10
y=148
width=170
height=36
buttontype=1
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"

[com_14]
type=graphic
x=50
y=56
width=36
height=36
buttontype=1
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_261 = 1

[com_15]
type=graphic
x=10
y=102
width=170
height=36
buttontype=1
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"

[com_16]
type=text
x=10
y=159
width=170
height=14
textfont=p12_full
text=LEAVE HOUSE
textalignh=centre
textshadow=yes
colour=0xccccff
colouractive=0x9999ff

[com_17]
type=text
x=10
y=36
width=170
height=15
textfont=p12_full
text=BUILDING MODE
textalignh=centre
textshadow=yes
colour=0xccccff
colouractive=0x9999ff

[com_18]
type=text
x=10
y=114
width=170
height=14
textfont=p12_full
text=EXPEL GUESTS
textalignh=centre
textshadow=yes
colour=0xccccff
colouractive=0x9999ff

[com_19]
type=text
x=50
y=56
width=36
height=36
textfont=p12_full
text=ON
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xccccff
colouractive=0x9999ff

[com_20]
type=graphic
x=85
y=233
width=26
height=23
mouseoverlayer=com_22
graphic="close_buttons,0"

[com_21]
type=graphic
x=3
y=4
width=26
height=23
layer=com_22
buttontype=3
graphic="close_buttons,1"

[com_22]
type=layer
x=82
y=229
width=32
height=32
hide=yes

