[com_12468]
type=layer
width=512
height=334

[com_12469]
type=graphic
x=12
y=20
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12470]
type=graphic
x=15
y=80
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12471]
type=graphic
x=12
y=140
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12472]
type=graphic
x=12
y=200
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12473]
type=graphic
x=12
y=260
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12474]
type=graphic
x=100
y=20
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12475]
type=graphic
x=100
y=80
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12476]
type=graphic
x=100
y=140
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12477]
type=graphic
x=100
y=200
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12478]
type=graphic
x=188
y=20
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12479]
type=graphic
x=100
y=260
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12480]
type=graphic
x=188
y=80
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12481]
type=graphic
x=188
y=140
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12482]
type=graphic
x=188
y=200
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12483]
type=graphic
x=188
y=260
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12484]
type=graphic
x=276
y=20
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12485]
type=graphic
x=364
y=80
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12486]
type=graphic
x=276
y=80
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12487]
type=graphic
x=276
y=140
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12488]
type=graphic
x=276
y=200
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12489]
type=graphic
x=276
y=260
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12490]
type=graphic
x=364
y=140
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12491]
type=graphic
x=364
y=20
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12492]
type=graphic
x=359
y=200
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12493]
type=graphic
x=364
y=260
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12494]
type=graphic
x=412
y=20
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12495]
type=graphic
x=412
y=80
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12496]
type=graphic
x=412
y=140
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12497]
type=graphic
x=406
y=200
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12498]
type=graphic
x=412
y=260
width=88
height=60
layer=com_12468
graphic=tradebacking,0

[com_12499]
type=graphic
x=12
y=20
width=25
height=30
layer=com_12468
graphic=steelborder,0

[com_12500]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12501]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12502]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12503]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12504]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12505]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12506]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_12468
graphic=miscgraphics,2

[com_12507]
type=graphic
x=479
y=50
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12508]
type=graphic
x=479
y=86
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12509]
type=graphic
x=479
y=122
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12510]
type=graphic
x=479
y=158
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12511]
type=graphic
x=479
y=194
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12512]
type=graphic
x=479
y=230
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12513]
type=graphic
x=479
y=266
width=36
height=36
layer=com_12468
graphic=steelborder2,1

[com_12514]
type=graphic
x=73
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12515]
type=graphic
x=109
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12516]
type=graphic
x=145
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12517]
type=graphic
x=181
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12518]
type=graphic
x=217
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12519]
type=graphic
x=253
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12520]
type=graphic
x=289
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12521]
type=graphic
x=325
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12522]
type=graphic
x=361
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12523]
type=graphic
x=397
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12524]
type=graphic
x=433
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12525]
type=graphic
x=72
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12526]
type=graphic
x=108
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12527]
type=graphic
x=144
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12528]
type=graphic
x=180
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12529]
type=graphic
x=216
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12530]
type=graphic
x=252
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12531]
type=graphic
x=288
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12532]
type=graphic
x=324
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12533]
type=graphic
x=360
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12534]
type=graphic
x=396
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12535]
type=graphic
x=432
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12536]
type=graphic
x=252
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12537]
type=graphic
x=37
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12538]
type=graphic
x=37
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12539]
type=graphic
x=12
y=290
width=25
height=30
layer=com_12468
graphic=steelborder,2

[com_12540]
type=graphic
x=475
y=20
width=25
height=30
layer=com_12468
graphic=steelborder,1

[com_12541]
type=graphic
x=439
y=5
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12542]
type=graphic
x=475
y=290
width=25
height=30
layer=com_12468
graphic=steelborder,3

[com_12543]
type=graphic
x=439
y=299
width=36
height=36
layer=com_12468
graphic=miscgraphics,3

[com_12544]
type=graphic
x=288
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12545]
type=graphic
x=324
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12546]
type=graphic
x=360
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12547]
type=graphic
x=396
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12548]
type=graphic
x=432
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12549]
type=graphic
x=459
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12550]
type=graphic
x=216
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12551]
type=graphic
x=180
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12552]
type=graphic
x=144
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12553]
type=graphic
x=108
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12554]
type=graphic
x=72
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12555]
type=graphic
x=36
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12556]
type=graphic
x=17
y=34
width=36
height=36
layer=com_12468
graphic=steelborder2,0

[com_12557]
type=text
x=204
y=28
width=105
height=17
layer=com_12468
textfont=q8_full
text=Teleport Option
textshadow=yes
colour=0xffff00

[com_12558]
type=text
x=164
y=108
width=185
height=14
layer=com_12468
textfont=b12_full
text=%1
textalignh=centre
textshadow=yes
colour=0xf99b15

[com_12559]
type=text
x=164
y=136
width=185
height=14
layer=com_12468
textfont=b12_full
text=...wants to teleport you to...
textshadow=yes
colour=0xffff00

[com_12560]
type=text
x=164
y=168
width=185
height=14
layer=com_12468
textfont=b12_full
text=%2
textalignh=centre
textshadow=yes
colour=0xf99b15

[com_12561]
type=text
x=164
y=232
width=185
height=14
layer=com_12468
textfont=b12_full
text=Do you accept?
textalignh=centre
textshadow=yes
colour=0xffff00

[com_12562]
type=graphic
x=432
y=32
width=57
height=13
layer=com_12468
graphic=sworddecor,0

[com_12563]
type=graphic
x=24
y=32
width=57
height=13
layer=com_12468
graphic=sworddecor,1

[com_12564]
type=layer
x=160
y=255
width=87
height=52
layer=com_12468

[com_12565]
type=layer
x=267
y=255
width=88
height=52
layer=com_12468

[com_12566]
type=rectangle
x=10
y=10
width=66
height=31
layer=com_12564
buttontype=1
colour=0x000000
fill=yes
buttontext=Accept

[com_12567]
type=text
x=25
y=18
width=39
height=14
layer=com_12564
textfont=p12_full
text=Accept
textshadow=yes
colour=0x00c000

[com_12568]
type=rectangle
x=10
y=10
width=66
height=31
layer=com_12565
buttontype=1
colour=0x000000
fill=yes
buttontext=Decline

[com_12569]
type=text
x=24
y=18
width=40
height=14
layer=com_12565
textfont=p12_full
text=Decline
textshadow=yes
colour=0xc00000

[com_12570]
type=graphic
x=25
y=-11
width=36
height=36
layer=com_12564
graphic=steelborder2,0

[com_12571]
type=graphic
x=25
y=-11
width=36
height=36
layer=com_12565
graphic=steelborder2,0

[com_12572]
type=graphic
x=27
y=26
width=36
height=36
layer=com_12565
graphic=miscgraphics,3

[com_12573]
type=graphic
x=4
y=4
width=25
height=30
layer=com_12564
graphic=steelborder,0

[com_12574]
type=graphic
x=4
y=4
width=25
height=30
layer=com_12565
graphic=steelborder,0

[com_12575]
type=graphic
x=57
y=4
width=25
height=30
layer=com_12564
graphic=steelborder,1

[com_12576]
type=graphic
x=57
y=4
width=25
height=30
layer=com_12565
graphic=steelborder,1

[com_12577]
type=graphic
x=4
y=17
width=25
height=30
layer=com_12564
graphic=steelborder,2

[com_12578]
type=graphic
x=4
y=17
width=25
height=30
layer=com_12565
graphic=steelborder,2

[com_12579]
type=graphic
x=57
y=17
width=25
height=30
layer=com_12564
graphic=steelborder,3

[com_12580]
type=graphic
x=26
y=26
width=36
height=36
layer=com_12564
graphic=miscgraphics,3

[com_12581]
type=graphic
x=57
y=17
width=25
height=30
layer=com_12565
graphic=steelborder,3

[com_12582]
type=model
x=400
y=66
width=31
height=27
layer=com_12468
model=model_5802
modelangle=1024,0,0
modelzoom=768
modelanim=seq_1815

[com_12583]
type=model
x=84
y=266
width=32
height=32
layer=com_12468
model=model_5802
modelzoom=768
modelanim=seq_1814

