[com_0]
type=rectangle
width=512
height=334
colour=0x000000
fill=yes

[com_1]
type=layer
width=512
height=334

[com_2]
type=model
x=242
y=172
width=32
height=32
layer=com_1
model=model_5825
modelangle=520,6,0
modelzoom=345

[com_3]
type=layer
width=512
height=334

[com_4]
type=model
x=239
y=171
width=32
height=32
layer=com_3
model=model_5828
modelangle=520,6,0
modelzoom=345

[com_5]
type=layer
width=512
height=334

[com_6]
type=model
x=236
y=173
width=32
height=32
layer=com_5
model=model_5830
modelangle=521,2043,0
modelzoom=339

[com_7]
type=layer
width=512
height=334

[com_8]
type=model
x=239
y=174
width=32
height=32
layer=com_7
model=model_5832
modelangle=574,2039,0
modelzoom=332

[com_9]
type=layer
x=445
y=13
width=66
height=28

[com_10]
type=text
x=19
y=5
width=31
height=14
layer=com_9
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00

[com_11]
type=layer
width=512
height=334

[com_12]
type=model
x=239
y=171
width=32
height=32
layer=com_11
model=model_5829
modelangle=520,6,0
modelzoom=345

[com_13]
type=layer
width=512
height=334

[com_14]
type=model
x=236
y=173
width=32
height=32
layer=com_13
model=model_5831
modelangle=521,2043,0
modelzoom=339

[com_15]
type=layer
width=512
height=334

[com_16]
type=model
x=239
y=174
width=32
height=32
layer=com_15
model=model_5833
modelangle=574,2039,0
modelzoom=332

[com_17]
type=layer
y=46
width=512
height=27
hide=yes

[com_18]
type=text
y=5
width=512
height=14
layer=com_17
textfont=b12_full
text=That's it, it all makes sense now! If you were a dwarf, that is...
textalignh=centre
textshadow=yes
colour=0xffff00

