[com_14230]
type=layer
width=512
height=334

[com_14231]
type=model
x=241
y=194
width=34
height=33
layer=com_14230
model=model_8956
modelangle=519,6,0
modelzoom=348

[com_14232]
type=model
x=410
y=279
width=32
height=32
layer=com_14230
model=model_8963
modelangle=391,0,0
modelzoom=600

[com_14233]
type=model
x=238
y=140
width=32
height=32
layer=com_14230
model=model_8955
modelangle=125,8,0
modelzoom=478

[com_14234]
type=model
x=240
y=262
width=42
height=38
layer=com_14230
model=model_8964
modelangle=395,2047,0
modelzoom=494

[com_14235]
type=model
x=80
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8957
modelangle=391,0,0
modelzoom=607

[com_14236]
type=model
x=135
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8958
modelangle=391,0,0
modelzoom=607

[com_14237]
type=model
x=190
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8959
modelangle=391,0,0
modelzoom=607

[com_14238]
type=model
x=245
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8960
modelangle=391,0,0
modelzoom=600

[com_14239]
type=model
x=300
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8961
modelangle=391,0,0
modelzoom=600

[com_14240]
type=model
x=355
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8962
modelangle=391,0,0
modelzoom=600

[com_14241]
type=model
x=410
y=279
width=32
height=32
layer=com_14230
buttontype=1
model=model_8963
modelangle=391,0,0
modelzoom=600

