[com_12797]
type=layer
width=512
height=334

[com_12798]
type=text
x=21
y=9
width=441
height=17
layer=com_12797
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_12799]
type=text
x=21
y=25
width=441
height=17
layer=com_12797
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_12800]
type=text
x=21
y=41
width=441
height=17
layer=com_12797
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

[com_12801]
type=text
x=21
y=57
width=441
height=17
layer=com_12797
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

