[com_4564]
type=layer
width=512
height=334

[com_4565]
type=graphic
x=12
y=20
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4566]
type=graphic
x=12
y=80
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4567]
type=graphic
x=12
y=140
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4568]
type=graphic
x=12
y=200
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4569]
type=graphic
x=12
y=260
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4570]
type=graphic
x=100
y=20
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4571]
type=graphic
x=100
y=80
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4572]
type=graphic
x=100
y=140
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4573]
type=graphic
x=100
y=200
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4574]
type=graphic
x=188
y=20
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4575]
type=graphic
x=100
y=260
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4576]
type=graphic
x=188
y=80
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4577]
type=graphic
x=188
y=140
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4578]
type=graphic
x=188
y=200
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4579]
type=graphic
x=188
y=260
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4580]
type=graphic
x=276
y=20
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4581]
type=graphic
x=364
y=80
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4582]
type=graphic
x=276
y=80
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4583]
type=graphic
x=276
y=140
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4584]
type=graphic
x=276
y=200
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4585]
type=graphic
x=276
y=260
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4586]
type=graphic
x=364
y=140
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4587]
type=graphic
x=364
y=20
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4588]
type=graphic
x=364
y=200
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4589]
type=graphic
x=364
y=260
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4590]
type=graphic
x=412
y=20
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4591]
type=graphic
x=412
y=80
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4592]
type=graphic
x=412
y=140
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4593]
type=graphic
x=412
y=200
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4594]
type=graphic
x=412
y=260
width=88
height=60
layer=com_4564
graphic=tradebacking,0

[com_4595]
type=graphic
x=12
y=20
width=25
height=30
layer=com_4564
graphic=steelborder,0

[com_4596]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4597]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4598]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4599]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4600]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4601]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4602]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_4564
graphic=miscgraphics,2

[com_4603]
type=graphic
x=479
y=50
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4604]
type=graphic
x=479
y=86
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4605]
type=graphic
x=479
y=122
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4606]
type=graphic
x=479
y=158
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4607]
type=graphic
x=479
y=194
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4608]
type=graphic
x=479
y=230
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4609]
type=graphic
x=479
y=266
width=36
height=36
layer=com_4564
graphic=steelborder2,1

[com_4610]
type=graphic
x=73
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4611]
type=graphic
x=109
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4612]
type=graphic
x=145
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4613]
type=graphic
x=181
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4614]
type=graphic
x=217
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4615]
type=graphic
x=253
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4616]
type=graphic
x=289
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4617]
type=graphic
x=325
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4618]
type=graphic
x=361
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4619]
type=graphic
x=397
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4620]
type=graphic
x=433
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4621]
type=graphic
x=72
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4622]
type=graphic
x=108
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4623]
type=graphic
x=144
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4624]
type=graphic
x=180
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4625]
type=graphic
x=216
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4626]
type=graphic
x=252
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4627]
type=graphic
x=288
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4628]
type=graphic
x=324
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4629]
type=graphic
x=360
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4630]
type=graphic
x=396
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4631]
type=graphic
x=432
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4632]
type=graphic
x=252
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4633]
type=graphic
x=37
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4634]
type=graphic
x=37
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4635]
type=graphic
x=12
y=290
width=25
height=30
layer=com_4564
graphic=steelborder,2

[com_4636]
type=graphic
x=475
y=20
width=25
height=30
layer=com_4564
graphic=steelborder,1

[com_4637]
type=graphic
x=439
y=5
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4638]
type=graphic
x=475
y=290
width=25
height=30
layer=com_4564
graphic=steelborder,3

[com_4639]
type=graphic
x=439
y=299
width=36
height=36
layer=com_4564
graphic=miscgraphics,3

[com_4640]
type=inv
x=76
y=65
width=8
height=5
layer=com_4564
paddingx=15
paddingy=15
op1=Withdraw 1
op2=Withdraw All

[com_4641]
type=text
x=211
y=31
width=88
height=14
layer=com_4564
textfont=b12_full
text=Trawler Catch
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_4642]
type=text
x=433
y=32
width=55
height=11
layer=com_4564
buttontype=3
textfont=p11_full
text=Dump Items
textshadow=yes
colour=0xaa4444
mouseovercolour=0xffffff

[com_4643]
type=text
x=73
y=292
width=367
height=14
layer=com_4564
textfont=p12_full
text=Click Dump Items to close the window and discard remaining items.
textshadow=yes
colour=0xaaaaaa

[com_4644]
type=graphic
x=288
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4645]
type=graphic
x=324
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4646]
type=graphic
x=360
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4647]
type=graphic
x=396
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4648]
type=graphic
x=432
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4649]
type=graphic
x=459
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4650]
type=graphic
x=216
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4651]
type=graphic
x=180
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4652]
type=graphic
x=144
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4653]
type=graphic
x=108
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4654]
type=graphic
x=72
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4655]
type=graphic
x=36
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

[com_4656]
type=graphic
x=17
y=34
width=36
height=36
layer=com_4564
graphic=steelborder2,0

