[com_0]
type=graphic
x=2
y=5
width=57
height=13
graphic="sworddecor,1"

[com_1]
type=graphic
x=421
y=5
width=57
height=13
graphic="sworddecor,0"

[com_2]
type=model
x=57
y=16
width=64
height=96
model=model_2636
modelangle=159,36,0
modelzoom=183

[com_3]
type=model
x=207
y=17
width=64
height=96
model=model_9836
modelangle=159,36,0
modelzoom=183

[com_4]
type=model
x=360
y=13
width=64
height=96
model=model_2365
modelangle=221,1877,0
modelzoom=400

[com_5]
type=text
x=11
y=12
width=148
height=85
buttontype=1
textfont=q8_full
text=\n\n\n\nChurn Cream
textalignh=centre
colour=0xa00000
buttontext=Churn Cream
script=stat(cooking) > 20

[com_6]
type=text
x=162
y=14
width=147
height=88
buttontype=1
textfont=q8_full
text=\n\n\n\nChurn Butter
textalignh=centre
colour=0xa00000
buttontext=Churn Butter
script=stat(cooking) > 37

[com_7]
type=text
x=308
y=15
width=155
height=88
buttontype=1
textfont=q8_full
text=\n\n\n\nChurn Cheese
textalignh=centre
colour=0xa00000
buttontext=Churn Cheese
script=stat(cooking) > 47

[com_8]
type=text
x=64
y=-2
width=357
height=38
textfont=q8_full
text=What would you like to make?
textalignh=centre
textalignv=centre
colour=0x000000

