[com_0]
type=model
x=235
y=94
width=32
height=32
model=model_9856
modelangle=560,2037,0
modelzoom=510

[com_1]
type=text
x=127
y=128
width=214
height=18
textfont=q8_full
textactive=(Rum Deal)
textalignh=centre
textalignv=centre
textshadow=yes
colour=0x676725

