[com_4757]
type=layer
width=512
height=334

[com_4758]
type=graphic
x=12
y=20
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4759]
type=graphic
x=12
y=80
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4760]
type=graphic
x=12
y=140
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4761]
type=graphic
x=12
y=200
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4762]
type=graphic
x=12
y=260
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4763]
type=graphic
x=100
y=20
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4764]
type=graphic
x=100
y=80
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4765]
type=graphic
x=100
y=140
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4766]
type=graphic
x=100
y=200
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4767]
type=graphic
x=188
y=20
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4768]
type=graphic
x=100
y=260
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4769]
type=graphic
x=188
y=80
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4770]
type=graphic
x=188
y=140
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4771]
type=graphic
x=188
y=200
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4772]
type=graphic
x=188
y=260
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4773]
type=graphic
x=276
y=20
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4774]
type=graphic
x=364
y=80
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4775]
type=graphic
x=276
y=80
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4776]
type=graphic
x=276
y=140
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4777]
type=graphic
x=276
y=200
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4778]
type=graphic
x=276
y=260
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4779]
type=graphic
x=364
y=140
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4780]
type=graphic
x=364
y=20
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4781]
type=graphic
x=364
y=200
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4782]
type=graphic
x=364
y=260
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4783]
type=graphic
x=412
y=20
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4784]
type=graphic
x=412
y=80
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4785]
type=graphic
x=412
y=140
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4786]
type=graphic
x=412
y=200
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4787]
type=graphic
x=412
y=260
width=88
height=60
layer=com_4757
graphic=tradebacking,0

[com_4788]
type=graphic
x=12
y=20
width=25
height=30
layer=com_4757
graphic=steelborder,0

[com_4789]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4790]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4791]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4792]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4793]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4794]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4795]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_4757
graphic=miscgraphics,2

[com_4796]
type=graphic
x=479
y=50
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4797]
type=graphic
x=479
y=86
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4798]
type=graphic
x=479
y=122
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4799]
type=graphic
x=479
y=158
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4800]
type=graphic
x=479
y=194
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4801]
type=graphic
x=479
y=230
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4802]
type=graphic
x=479
y=266
width=36
height=36
layer=com_4757
graphic=steelborder2,1

[com_4803]
type=graphic
x=73
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4804]
type=graphic
x=109
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4805]
type=graphic
x=145
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4806]
type=graphic
x=181
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4807]
type=graphic
x=217
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4808]
type=graphic
x=253
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4809]
type=graphic
x=289
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4810]
type=graphic
x=325
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4811]
type=graphic
x=361
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4812]
type=graphic
x=397
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4813]
type=graphic
x=433
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4814]
type=graphic
x=72
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4815]
type=graphic
x=108
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4816]
type=graphic
x=144
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4817]
type=graphic
x=180
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4818]
type=graphic
x=216
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4819]
type=graphic
x=252
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4820]
type=graphic
x=288
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4821]
type=graphic
x=324
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4822]
type=graphic
x=360
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4823]
type=graphic
x=396
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4824]
type=graphic
x=432
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4825]
type=graphic
x=252
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4826]
type=graphic
x=37
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4827]
type=graphic
x=37
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4828]
type=graphic
x=12
y=290
width=25
height=30
layer=com_4757
graphic=steelborder,2

[com_4829]
type=graphic
x=475
y=20
width=25
height=30
layer=com_4757
graphic=steelborder,1

[com_4830]
type=graphic
x=439
y=5
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4831]
type=graphic
x=475
y=290
width=25
height=30
layer=com_4757
graphic=steelborder,3

[com_4832]
type=graphic
x=439
y=299
width=36
height=36
layer=com_4757
graphic=miscgraphics,3

[com_4833]
type=graphic
x=288
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4834]
type=graphic
x=324
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4835]
type=graphic
x=360
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4836]
type=graphic
x=396
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4837]
type=graphic
x=432
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4838]
type=graphic
x=459
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4839]
type=graphic
x=216
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4840]
type=graphic
x=180
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4841]
type=graphic
x=144
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4842]
type=graphic
x=108
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4843]
type=graphic
x=72
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4844]
type=graphic
x=36
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4845]
type=graphic
x=17
y=34
width=36
height=36
layer=com_4757
graphic=steelborder2,0

[com_4846]
type=text
x=420
y=29
width=68
height=11
layer=com_4757
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_4847]
type=text
x=154
y=30
width=199
height=14
layer=com_4757
textfont=b12_full
text=Thessalias' Makeovers (Torso)
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4848]
type=rectangle
x=59
y=249
width=403
height=28
layer=com_4757
colour=0x000000
fill=yes

[com_4849]
type=rectangle
x=60
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x7b6e32
fill=yes
buttontext=Khaki
script=varplayer_262 = 1

[com_4850]
type=rectangle
x=85
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x262323
fill=yes
buttontext=Black
script=varplayer_262 = 2

[com_4851]
type=rectangle
x=110
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x752f3b
fill=yes
buttontext=Crimson
script=varplayer_262 = 3

[com_4852]
type=rectangle
x=135
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x3b3b4e
fill=yes
buttontext=Navy
script=varplayer_262 = 4

[com_4853]
type=rectangle
x=160
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0xaa9045
fill=yes
buttontext=Straw
script=varplayer_262 = 5

[com_4854]
type=rectangle
x=185
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0xbeb89c
fill=yes
buttontext=White
script=varplayer_262 = 6

[com_4855]
type=rectangle
x=210
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x8b3b2a
fill=yes
buttontext=Red
script=varplayer_262 = 7

[com_4856]
type=rectangle
x=235
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x2d5272
fill=yes
buttontext=Blue
script=varplayer_262 = 8

[com_4857]
type=rectangle
x=260
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x2d723e
fill=yes
buttontext=Green
script=varplayer_262 = 9

[com_4858]
type=rectangle
x=285
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0xa3970d
fill=yes
buttontext=Yellow
script=varplayer_262 = 10

[com_4859]
type=rectangle
x=310
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x83537b
fill=yes
buttontext=Purple
script=varplayer_262 = 11

[com_4860]
type=rectangle
x=335
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x9d642f
fill=yes
buttontext=Orange
script=varplayer_262 = 12

[com_4861]
type=rectangle
x=360
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0xa17067
fill=yes
buttontext=Rose
script=varplayer_262 = 13

[com_4862]
type=rectangle
x=385
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x829472
fill=yes
buttontext=Lime
script=varplayer_262 = 14

[com_4863]
type=rectangle
x=410
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x728c94
fill=yes
buttontext=Cyan
script=varplayer_262 = 15

[com_4864]
type=rectangle
x=435
y=250
width=25
height=25
layer=com_4757
buttontype=5
colour=0x1c6135
fill=yes
buttontext=Emerald
script=varplayer_262 = 16

[com_4865]
type=text
x=197
y=289
width=127
height=14
layer=com_4757
buttontype=1
textfont=b12_full
text=CONFIRM (500 gold)
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

[com_4866]
type=graphic
x=59
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 1

[com_4867]
type=graphic
x=84
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 2

[com_4868]
type=graphic
x=109
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 3

[com_4869]
type=graphic
x=134
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 4

[com_4870]
type=graphic
x=160
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 5

[com_4871]
type=graphic
x=185
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 6

[com_4872]
type=graphic
x=210
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 7

[com_4873]
type=graphic
x=235
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 8

[com_4874]
type=graphic
x=260
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 9

[com_4875]
type=graphic
x=285
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 10

[com_4876]
type=graphic
x=310
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 11

[com_4877]
type=graphic
x=335
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 12

[com_4878]
type=graphic
x=360
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 13

[com_4879]
type=graphic
x=385
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 14

[com_4880]
type=graphic
x=410
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 15

[com_4881]
type=graphic
x=435
y=250
width=25
height=25
layer=com_4757
graphicactive=headicons,1
script=varplayer_262 = 16

[com_4882]
type=text
x=208
y=64
width=98
height=14
layer=com_4757
textfont=p12_full
text=Select body style
textshadow=yes
colour=0xffff00

[com_4883]
type=text
x=207
y=148
width=98
height=14
layer=com_4757
textfont=p12_full
text=Select arms style
textshadow=yes
colour=0xffff00

[com_4884]
type=text
x=220
y=225
width=73
height=14
layer=com_4757
textfont=p12_full
text=Select colour
textshadow=yes
colour=0xffff00

[com_5461]
type=model
x=50
y=180
width=32
height=32
layer=com_4757
model=model_434
modelzoom=800

[com_5462]
type=model
x=145
y=180
width=32
height=32
layer=com_4757
model=model_447
modelzoom=800

[com_5463]
type=model
x=240
y=180
width=32
height=32
layer=com_4757
model=model_448
modelzoom=800

[com_5464]
type=model
x=325
y=180
width=32
height=32
layer=com_4757
model=model_449
modelzoom=800

[com_5465]
type=model
x=420
y=180
width=32
height=32
layer=com_4757
model=model_452
modelzoom=800

[com_5466]
type=model
x=50
y=260
width=32
height=32
layer=com_4757
model=model_434
modelzoom=800

[com_5467]
type=model
x=145
y=260
width=32
height=32
layer=com_4757
model=model_434
modelzoom=800

[com_5468]
type=model
x=240
y=260
width=32
height=32
layer=com_4757
model=model_434
modelzoom=800

[com_5469]
type=model
x=325
y=260
width=32
height=32
layer=com_4757
model=model_434
modelzoom=800

[com_5470]
type=model
x=420
y=260
width=32
height=32
layer=com_4757
model=model_434
modelzoom=800

[com_5471]
type=model
x=50
y=180
width=32
height=32
layer=com_4757
model=model_316
modelzoom=800

[com_5472]
type=model
x=145
y=180
width=32
height=32
layer=com_4757
model=model_316
modelzoom=800

[com_5473]
type=model
x=240
y=180
width=32
height=32
layer=com_4757
model=model_316
modelzoom=800

[com_5474]
type=model
x=325
y=180
width=32
height=32
layer=com_4757
model=model_316
modelzoom=800

[com_5475]
type=model
x=420
y=180
width=32
height=32
layer=com_4757
model=model_316
modelzoom=800

[com_5476]
type=model
x=50
y=260
width=32
height=32
layer=com_4757
model=model_316
modelzoom=800

[com_5477]
type=model
x=145
y=260
width=32
height=32
layer=com_4757
model=model_334
modelzoom=800

[com_5478]
type=model
x=240
y=260
width=32
height=32
layer=com_4757
model=model_330
modelzoom=800

[com_5479]
type=model
x=325
y=260
width=32
height=32
layer=com_4757
model=model_332
modelzoom=800

[com_5480]
type=model
x=420
y=260
width=32
height=32
layer=com_4757
model=model_327
modelzoom=800

[com_5481]
type=graphic
x=53
y=100
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Plain
script=varplayer_260 = 1

[com_5482]
type=graphic
x=148
y=100
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Crop-top
script=varplayer_260 = 2

[com_5483]
type=graphic
x=243
y=100
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Polo-neck
script=varplayer_260 = 3

[com_5484]
type=graphic
x=328
y=100
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Simple
script=varplayer_260 = 4

[com_5485]
type=graphic
x=423
y=100
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Torn
script=varplayer_260 = 5

[com_5486]
type=graphic
x=52
y=180
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Short sleeves
script=varplayer_261 = 1

[com_5487]
type=graphic
x=148
y=180
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Bare arms
script=varplayer_261 = 2

[com_5488]
type=graphic
x=243
y=180
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Muscley
script=varplayer_261 = 3

[com_5489]
type=graphic
x=328
y=180
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Long sleeved
script=varplayer_261 = 4

[com_5490]
type=graphic
x=423
y=180
width=25
height=25
layer=com_4757
buttontype=5
graphicactive=headicons,1
buttontext=Large cuffs
script=varplayer_261 = 5

