[com_12793]
type=layer
width=512
height=334

[com_12794]
type=text
x=21
y=5
width=441
height=17
layer=com_12793
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_12795]
type=text
x=21
y=29
width=441
height=17
layer=com_12793
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_12796]
type=text
x=21
y=53
width=441
height=17
layer=com_12793
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

