[com_12811]
type=layer
width=512
height=334

[com_12812]
type=layer
x=34
y=34
width=32
height=32
layer=com_12811

[com_12813]
type=model
x=306
y=119
width=32
height=32
layer=com_12811
model=model_6049
modelangle=427,13,0
modelzoom=543

[com_12814]
type=text
x=95
y=114
width=239
height=17
layer=com_12811
textfont=q8_full
text=Whatever text you need goes here!
textalignh=centre
colour=0x000000

[com_12815]
type=text
x=179
y=218
width=96
height=17
layer=com_12811
textfont=q8_full
text=Combi for lock
colour=0x000000

[com_12816]
type=text
x=427
y=10
width=74
height=14
layer=com_12811
buttontype=3
textfont=p12_full
text=Close Window
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0xffffff
mouseovercolour=0xffffff

[com_12817]
type=text
x=95
y=140
width=239
height=17
layer=com_12811
textfont=q8_full
text=Text
textalignh=centre
colour=0x000000

[com_12818]
type=text
x=95
y=166
width=239
height=17
layer=com_12811
textfont=q8_full
text=Text
textalignh=centre
colour=0x000000

[com_12819]
type=text
x=95
y=192
width=239
height=17
layer=com_12811
textfont=q8_full
text=Text
textalignh=centre
colour=0x000000

