[com_10984]
type=layer
width=512
height=334

[com_10985]
type=model
x=240
y=133
width=32
height=32
layer=com_10984
model=model_4618
modelangle=512,0,0
modelzoom=442

[com_10986]
type=text
x=184
y=6
width=155
height=17
layer=com_10984
textfont=q8_full
text=Kingdom of Miscellania
textshadow=yes
colour=0xccaa44

[com_10987]
type=text
x=437
y=10
width=68
height=11
layer=com_10984
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_10988]
type=rectangle
x=380
y=21
width=22
height=86
layer=com_10984
colour=0x442d22
fill=yes

[com_10989]
type=layer
x=331
y=22
width=95
height=86
layer=com_10984

[com_10990]
type=text
x=7
y=6
width=38
height=16
layer=com_10989
textfont=p12_full
text=Mining
textshadow=yes
colour=0xbfbc8f

[com_10991]
type=model
x=-42
y=14
width=46
height=36
layer=com_10989
model=model_4624
modelangle=578,4,0
modelzoom=987

[com_10992]
type=rectangle
x=166
y=160
width=22
height=86
layer=com_10984
colour=0x442d22
fill=yes

[com_10993]
type=layer
x=117
y=161
width=96
height=84
layer=com_10984

[com_10994]
type=text
x=7
y=6
width=33
height=14
layer=com_10993
textfont=p12_full
text=Herbs
textshadow=yes
colour=0xbfbc8f

[com_10995]
type=model
x=-17
y=-18
width=46
height=36
layer=com_10993
model=model_4622
modelangle=512,0,0
modelzoom=424

[com_10996]
type=model
x=70
y=-1
width=16
height=33
layer=com_10989
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1739
buttontext=Add

[com_10997]
type=model
x=71
y=53
width=16
height=30
layer=com_10989
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1934
buttontext=Remove

[com_10998]
type=rectangle
x=52
y=74
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_84 > 0

[com_10999]
type=rectangle
x=52
y=66
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_84 > 1

[com_11000]
type=rectangle
x=52
y=58
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_84 > 2

[com_11001]
type=rectangle
x=52
y=50
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_84 > 3

[com_11002]
type=rectangle
x=52
y=42
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_84 > 4

[com_11003]
type=rectangle
x=52
y=34
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_84 > 5

[com_11004]
type=rectangle
x=52
y=26
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_84 > 6

[com_11005]
type=rectangle
x=52
y=18
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_84 > 7

[com_11006]
type=rectangle
x=52
y=10
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_84 > 8

[com_11007]
type=rectangle
x=52
y=2
width=16
height=8
layer=com_10989
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_84 > 9

[com_11008]
type=model
x=453
y=21
width=57
height=71
layer=com_10984
model=model_3039
modelangle=563,312,0
modelzoom=1955

[com_11009]
type=model
x=12
y=39
width=42
height=35
layer=com_10984
model=model_4620
modelangle=512,0,0
modelzoom=490

[com_11010]
type=layer
x=21
y=46
width=122
height=56
layer=com_10984

[com_11011]
type=text
x=10
y=1
width=48
height=14
layer=com_11010
textfont=p12_full
text=Coffers:
textshadow=yes
colour=0xbfbc8f

[com_11012]
type=model
x=72
y=-1
width=16
height=33
layer=com_10993
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1739
buttontext=Add

[com_11013]
type=model
x=72
y=53
width=16
height=30
layer=com_10993
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1934
buttontext=Remove

[com_11014]
type=rectangle
x=52
y=74
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_81 > 0

[com_11015]
type=rectangle
x=52
y=74
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_82 > 0

[com_11016]
type=rectangle
x=52
y=74
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayer_261 > 0

[com_11017]
type=rectangle
x=287
y=104
width=22
height=86
layer=com_10984
colour=0x442d22
fill=yes

[com_11018]
type=rectangle
x=52
y=66
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_81 > 1

[com_11019]
type=rectangle
x=52
y=58
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_81 > 2

[com_11020]
type=rectangle
x=52
y=50
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_81 > 3

[com_11021]
type=rectangle
x=52
y=42
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_81 > 4

[com_11022]
type=rectangle
x=52
y=34
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_81 > 5

[com_11023]
type=rectangle
x=52
y=26
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_81 > 6

[com_11024]
type=rectangle
x=52
y=18
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_81 > 7

[com_11025]
type=model
x=218
y=142
width=34
height=45
layer=com_10984
model=model_4625
modelangle=512,0,0
modelzoom=1328

[com_11026]
type=rectangle
x=52
y=10
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_81 > 8

[com_11027]
type=model
x=256
y=142
width=34
height=45
layer=com_10984
model=model_4625
modelangle=512,0,0
modelzoom=1328

[com_11028]
type=layer
x=238
y=105
width=96
height=84
layer=com_10984

[com_11029]
type=text
x=7
y=6
width=30
height=14
layer=com_11028
textfont=p12_full
text=Wood
textshadow=yes
colour=0xbfbc8f

[com_11030]
type=model
x=237
y=169
width=34
height=45
layer=com_10984
model=model_4625
modelangle=512,0,0
modelzoom=837

[com_11031]
type=model
x=70
y=-1
width=16
height=33
layer=com_11028
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1739
buttontext=Add

[com_11032]
type=model
x=72
y=53
width=16
height=30
layer=com_11028
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1934
buttontext=Remove

[com_11033]
type=rectangle
x=52
y=2
width=16
height=8
layer=com_11028
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_81 > 9

[com_11034]
type=rectangle
x=52
y=66
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_82 > 1

[com_11035]
type=rectangle
x=49
y=-1
width=22
height=86
layer=com_11044
colour=0x442d22
fill=yes

[com_11036]
type=rectangle
x=52
y=58
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_82 > 2

[com_11037]
type=rectangle
x=52
y=50
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_82 > 3

[com_11038]
type=rectangle
x=52
y=42
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_82 > 4

[com_11039]
type=rectangle
x=52
y=34
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_82 > 5

[com_11040]
type=rectangle
x=52
y=26
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_82 > 6

[com_11041]
type=rectangle
x=52
y=18
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_82 > 7

[com_11042]
type=rectangle
x=52
y=10
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_82 > 8

[com_11043]
type=rectangle
x=52
y=2
width=16
height=8
layer=com_10993
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_82 > 9

[com_11044]
type=layer
x=355
y=232
width=90
height=86
layer=com_10984

[com_11045]
type=text
x=1
y=2
width=40
height=14
layer=com_11044
textfont=p12_full
text=Fishing
textshadow=yes
colour=0xbfbc8f

[com_11046]
type=model
x=447
y=259
width=34
height=43
layer=com_10984
model=model_4621
modelangle=512,0,0
modelzoom=833

[com_11047]
type=model
x=70
y=-1
width=16
height=33
layer=com_11044
buttontype=1
model=model_4617
modelangle=512,0,0
modelzoom=1739
buttontext=Add

[com_11048]
type=model
x=70
y=54
width=16
height=30
layer=com_11044
buttontype=1
model=model_4617
modelangle=512,1024,0
modelzoom=1934
buttontext=Remove

[com_11049]
type=rectangle
x=52
y=74
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0x918f6d
fill=yes
script=varplayerbit_83 > 0

[com_11050]
type=rectangle
x=52
y=66
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayerbit_83 > 1

[com_11051]
type=rectangle
x=52
y=58
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayerbit_83 > 2

[com_11052]
type=rectangle
x=66
y=232
width=22
height=86
layer=com_10984
colour=0x442d22
fill=yes

[com_11053]
type=rectangle
x=52
y=50
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xa19e78
fill=yes
script=varplayerbit_83 > 3

[com_11054]
type=rectangle
x=52
y=42
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayerbit_83 > 4

[com_11055]
type=rectangle
x=52
y=34
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayerbit_83 > 5

[com_11056]
type=rectangle
x=52
y=26
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayerbit_83 > 6

[com_11057]
type=rectangle
x=52
y=18
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayerbit_83 > 7

[com_11058]
type=rectangle
x=52
y=10
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayerbit_83 > 8

[com_11059]
type=rectangle
x=52
y=2
width=16
height=8
layer=com_11044
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayerbit_83 > 9

[com_11060]
type=rectangle
x=52
y=66
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0x969471
fill=yes
script=varplayer_261 > 1

[com_11061]
type=rectangle
x=52
y=58
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0x9c9975
fill=yes
script=varplayer_261 > 2

[com_11062]
type=rectangle
x=52
y=50
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xa49e78
fill=yes
script=varplayer_261 > 3

[com_11063]
type=layer
x=17
y=233
width=74
height=84
layer=com_10984

[com_11064]
type=text
x=14
y=7
width=20
height=14
layer=com_11063
textfont=p12_full
text=Idle
textshadow=yes
colour=0xbfbc8f

[com_11065]
type=model
x=-7
y=43
width=53
height=31
layer=com_11063
model=model_4626
modelangle=583,2012,0
modelzoom=1227

[com_11066]
type=rectangle
x=52
y=42
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xa6a37c
fill=yes
script=varplayer_261 > 4

[com_11067]
type=rectangle
x=52
y=34
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xaba880
fill=yes
script=varplayer_261 > 5

[com_11068]
type=rectangle
x=52
y=26
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xb0ad84
fill=yes
script=varplayer_261 > 6

[com_11069]
type=rectangle
x=52
y=18
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xb5b288
fill=yes
script=varplayer_261 > 7

[com_11070]
type=rectangle
x=52
y=10
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xbab78c
fill=yes
script=varplayer_261 > 8

[com_11071]
type=rectangle
x=52
y=2
width=16
height=8
layer=com_11063
colour=0x000000
colouractive=0xbfbc8f
fill=yes
script=varplayer_261 > 9

[com_11072]
type=text
x=66
y=1
width=50
height=14
layer=com_11010
textfont=p12_full
text=500,000
textshadow=yes

[com_11073]
type=text
x=66
y=20
width=43
height=14
layer=com_11010
buttontype=1
textfont=p12_full
text=Deposit
textshadow=yes
mouseovercolour=0xffff00
buttontext=Deposit

[com_11074]
type=text
x=66
y=35
width=50
height=14
layer=com_11010
buttontype=1
textfont=p12_full
text=Withdraw
textshadow=yes
mouseovercolour=0xffff00
buttontext=Withdraw

[com_11075]
type=model
x=470
y=196
width=34
height=43
layer=com_10984
model=model_4621
modelangle=512,0,0
modelzoom=1359

[com_11076]
type=model
x=471
y=229
width=34
height=43
layer=com_10984
model=model_4621
modelangle=512,0,0
modelzoom=1126

[com_11077]
type=model
x=-42
y=-57
width=46
height=36
layer=com_10993
model=model_4622
modelangle=512,0,0
modelzoom=623

[com_11078]
type=model
x=-52
y=-18
width=46
height=36
layer=com_10993
model=model_4622
modelangle=512,0,0
modelzoom=805

[com_11079]
type=model
x=249
y=138
width=32
height=32
layer=com_10984
model=model_4619
modelangle=512,0,0
modelzoom=442

[com_11080]
type=model
x=243
y=255
width=43
height=43
layer=com_10984
buttontype=1
model=model_4623
modelangle=515,18,0
modelzoom=1850

[com_11081]
type=text
x=254
y=307
width=24
height=14
layer=com_10984
textfont=p12_full
text=Help
textshadow=yes
colour=0xbfbc8f

[com_11082]
type=text
x=9
y=124
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=Deposit money in
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11083]
type=text
x=9
y=139
width=4
height=4
layer=com_10984
textfont=p12_full
textactive=the coffers to
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11084]
type=text
x=9
y=154
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=pay your subjects
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11085]
type=text
x=9
y=169
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=and make them
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11086]
type=text
x=9
y=184
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=work harder.
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11087]
type=text
x=340
y=113
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=Use the arrows to
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11088]
type=text
x=340
y=128
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=adjust the amount
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11089]
type=text
x=340
y=143
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=of effort your
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11090]
type=text
x=340
y=158
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=subjects spend
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11091]
type=text
x=340
y=173
width=4
height=2
layer=com_10984
textfont=p12_full
textactive=on each resource.
textshadow=yes
colour=0xbfbc8f
colouractive=0xbfbc8f
script=varplayer_262 = 1

[com_11144]
type=text
x=9
y=45
width=36
height=12
layer=com_11044
buttontype=1
textfont=p11_full
text=Cooked
textshadow=yes
colour=0xbfbc8f
buttontext=Cooked or raw fish?

[com_11145]
type=graphic
x=3
y=28
width=15
height=15
layer=com_11044
buttontype=1
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Cooked or raw fish?
script=varplayerbit_135 = 1

