[com_14594]
type=layer
width=512
height=334

[com_14595]
type=text
x=190
y=10
width=147
height=14
layer=com_14594
textfont=p12_full
text=Blast Furnace Temp Gauge
textshadow=yes
colour=0xffaa44

[com_14596]
type=text
x=470
y=9
width=31
height=14
layer=com_14594
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0x888888

[com_14597]
type=model
x=316
y=176
width=32
height=32
layer=com_14594
model=model_9096
modelzoom=908

[com_14598]
type=model
x=185
y=183
width=32
height=32
layer=com_14594
model=model_9097
modelzoom=960

[com_14599]
type=model
x=248
y=152
width=32
height=32
layer=com_14594
model=model_9083
modelzoom=172

