[com_0]
type=layer
x=331
y=270
width=183
height=66

[com_1]
type=model
x=409
y=276
width=32
height=32
model=model_10119
modelangle=288,2029,0
modelzoom=912

[com_2]
type=text
x=400
y=288
width=9
height=14
textfont=b12_full
text=0
colour=0x990000

[com_3]
type=text
x=435
y=287
width=9
height=14
textfont=b12_full
text=0
colour=0x0000cc

[com_4]
type=text
x=349
y=311
width=155
height=18
textfont=p12_full
text=Next Game In :
textalignh=centre
textshadow=yes
colour=0xffff00

