[com_6412]
type=layer
width=512
height=334

[com_6413]
type=graphic
x=12
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6414]
type=graphic
x=12
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6415]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6416]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6417]
type=graphic
x=12
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6418]
type=graphic
x=100
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6419]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6420]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6421]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6422]
type=graphic
x=188
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6423]
type=graphic
x=100
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6424]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6425]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6426]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6427]
type=graphic
x=188
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6428]
type=graphic
x=276
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6429]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6430]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6431]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6432]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6433]
type=graphic
x=276
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6434]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6435]
type=graphic
x=364
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6436]
type=graphic
x=364
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6437]
type=graphic
x=364
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6438]
type=graphic
x=412
y=20
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6439]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6440]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6441]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6442]
type=graphic
x=412
y=260
width=88
height=60
layer=com_6412
graphic=tradebacking,0

[com_6443]
type=graphic
x=12
y=20
width=25
height=30
layer=com_6412
graphic=steelborder,0

[com_6444]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6445]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6446]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6447]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6448]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6449]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6450]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6451]
type=graphic
x=479
y=50
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6452]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6453]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6454]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6455]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6456]
type=graphic
x=479
y=230
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6457]
type=graphic
x=479
y=266
width=36
height=36
layer=com_6412
graphic=steelborder2,1

[com_6458]
type=graphic
x=73
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6459]
type=graphic
x=109
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6460]
type=graphic
x=145
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6461]
type=graphic
x=217
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6462]
type=graphic
x=253
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6463]
type=graphic
x=289
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6464]
type=graphic
x=361
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6465]
type=graphic
x=397
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6466]
type=graphic
x=433
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6467]
type=graphic
x=72
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6468]
type=graphic
x=108
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6469]
type=graphic
x=144
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6470]
type=graphic
x=180
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6471]
type=graphic
x=216
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6472]
type=graphic
x=252
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6473]
type=graphic
x=288
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6474]
type=graphic
x=324
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6475]
type=graphic
x=360
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6476]
type=graphic
x=396
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6477]
type=graphic
x=432
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6478]
type=graphic
x=37
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6479]
type=graphic
x=37
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6480]
type=graphic
x=12
y=290
width=25
height=30
layer=com_6412
graphic=steelborder,2

[com_6481]
type=graphic
x=475
y=20
width=25
height=30
layer=com_6412
graphic=steelborder,1

[com_6482]
type=graphic
x=439
y=5
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6483]
type=graphic
x=475
y=290
width=25
height=30
layer=com_6412
graphic=steelborder,3

[com_6484]
type=graphic
x=439
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6485]
type=graphic
x=288
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6486]
type=graphic
x=324
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6487]
type=graphic
x=396
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6488]
type=graphic
x=252
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6489]
type=graphic
x=432
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6490]
type=graphic
x=458
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6491]
type=graphic
x=216
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6492]
type=graphic
x=180
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6493]
type=graphic
x=144
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6494]
type=graphic
x=108
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6495]
type=graphic
x=72
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6496]
type=graphic
x=181
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6497]
type=graphic
x=37
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6498]
type=graphic
x=360
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6499]
type=graphic
x=18
y=32
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6500]
type=layer
x=19
y=52
width=218
height=157
layer=com_6412
scrollheight=188

[com_6501]
type=layer
x=260
y=52
width=218
height=157
layer=com_6412
scrollheight=188

[com_6502]
type=invtext
x=109
y=28
width=1
height=10
layer=com_6501
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6503]
type=text
x=42
y=2
width=132
height=14
layer=com_6500
textfont=p12_full
text=You are about to stake:
textshadow=yes
colour=0xaa8822

[com_6504]
type=text
x=37
y=1
width=140
height=14
layer=com_6501
textfont=p12_full
text=Your opponent will stake:
textalignh=centre
textshadow=yes
colour=0xaa8822

[com_6505]
type=text
x=139
y=27
width=232
height=14
layer=com_6412
textfont=p12_full
text=Are you sure you want to fight this duel?
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_6506]
type=text
x=298
y=286
width=57
height=14
layer=com_6412
textfont=p12_full
text=Obstacles
textshadow=yes
colour=0xaa8822

[com_6507]
type=invtext
x=50
y=29
width=2
height=14
layer=com_6500
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6508]
type=invtext
x=49
y=28
width=2
height=14
layer=com_6501
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6509]
type=invtext
x=109
y=29
width=1
height=10
layer=com_6500
textalignh=centre
textfont=p12_full
textshadow=yes
colour=0xaaaaaa
paddingy=2

[com_6510]
type=text
x=425
y=27
width=68
height=11
layer=com_6412
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6511]
type=graphic
x=325
y=299
width=36
height=36
layer=com_6412
graphic=miscgraphics,3

[com_6512]
type=graphic
x=239
y=88
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6513]
type=graphic
x=239
y=52
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6514]
type=graphic
x=239
y=160
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6515]
type=graphic
x=239
y=124
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

[com_6516]
type=text
x=55
y=17
width=110
height=14
layer=com_6500
textfont=p12_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6517]
type=text
x=52
y=16
width=110
height=14
layer=com_6501
textfont=p12_full
text=Absolutely nothing!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_6518]
type=layer
x=391
y=220
width=78
height=42
layer=com_6412

[com_6519]
type=layer
x=391
y=267
width=78
height=43
layer=com_6412

[com_6520]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6518
buttontype=1
colour=0x000000
fill=yes

[com_6521]
type=text
x=21
y=14
width=39
height=14
layer=com_6518
textfont=p12_full
text=Accept
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_6522]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_6519
buttontype=3
colour=0x000000
fill=yes

[com_6523]
type=text
x=20
y=14
width=40
height=14
layer=com_6519
textfont=p12_full
text=Decline
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_6524]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6518
graphic=steelborder2,0

[com_6525]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_6519
graphic=steelborder2,0

[com_6526]
type=graphic
width=25
height=30
layer=com_6518
graphic=steelborder,0

[com_6527]
type=graphic
width=25
height=30
layer=com_6519
graphic=steelborder,0

[com_6528]
type=graphic
x=53
width=25
height=30
layer=com_6518
graphic=steelborder,1

[com_6529]
type=graphic
x=53
width=25
height=30
layer=com_6519
graphic=steelborder,1

[com_6530]
type=graphic
y=13
width=25
height=30
layer=com_6518
graphic=steelborder,2

[com_6531]
type=graphic
y=13
width=25
height=30
layer=com_6519
graphic=steelborder,2

[com_6532]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6518
graphic=steelborder,3

[com_6533]
type=graphic
x=21
y=22
width=36
height=36
layer=com_6518
graphic=miscgraphics,3

[com_6534]
type=graphic
x=53
y=13
width=25
height=30
layer=com_6519
graphic=steelborder,3

[com_6535]
type=text
x=61
y=224
width=57
height=14
layer=com_6412
buttontype=1
textfont=p12_full
text=No Forfeit
textshadow=yes
colour=0xaa8822

[com_6536]
type=text
x=188
y=266
width=50
height=14
layer=com_6412
textfont=p12_full
text=No Magic
textshadow=yes
colour=0xaa8822

[com_6537]
type=text
x=188
y=224
width=60
height=14
layer=com_6412
textfont=p12_full
text=No Ranged
textshadow=yes
colour=0xaa8822

[com_6538]
type=text
x=188
y=245
width=51
height=14
layer=com_6412
textfont=p12_full
text=No Melee
textactive=No Melee
textshadow=yes
colour=0xaa8822

[com_6539]
type=text
x=61
y=266
width=69
height=14
layer=com_6412
textfont=p12_full
text=No Weapons
textshadow=yes
colour=0xaa8822

[com_6540]
type=text
x=298
y=224
width=61
height=14
layer=com_6412
textfont=p12_full
text=No Potions
textshadow=yes
colour=0xaa8822

[com_6541]
type=text
x=298
y=245
width=45
height=14
layer=com_6412
textfont=p12_full
text=No Food
textshadow=yes
colour=0xaa8822

[com_6542]
type=text
x=298
y=266
width=56
height=14
layer=com_6412
textfont=p12_full
text=No Prayer
textshadow=yes
colour=0xaa8822

[com_6543]
type=text
x=61
y=245
width=76
height=14
layer=com_6412
textfont=p12_full
text=No Movement
textshadow=yes
colour=0xaa8822

[com_6544]
type=text
x=61
y=286
width=59
height=14
layer=com_6412
textfont=p12_full
text=No Armour
textshadow=yes
colour=0xaa8822

[com_6545]
type=graphic
x=18
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6546]
type=graphic
x=54
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6547]
type=graphic
x=90
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6548]
type=graphic
x=126
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6549]
type=graphic
x=162
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6550]
type=graphic
x=198
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6551]
type=graphic
x=234
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6552]
type=graphic
x=270
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6553]
type=graphic
x=306
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6554]
type=graphic
x=342
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6555]
type=graphic
x=378
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6556]
type=graphic
x=414
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6557]
type=graphic
x=450
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6558]
type=graphic
x=458
y=194
width=36
height=36
layer=com_6412
graphic=steelborder2,0

[com_6559]
type=graphic
x=36
y=224
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 0) = 1

[com_6560]
type=graphic
x=36
y=245
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 1) = 1

[com_6561]
type=graphic
x=36
y=266
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 2) = 1

[com_6562]
type=graphic
x=36
y=286
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 3) = 1

[com_6563]
type=graphic
x=162
y=224
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 4) = 1

[com_6564]
type=graphic
x=162
y=245
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 5) = 1

[com_6565]
type=graphic
x=162
y=266
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 6) = 1

[com_6566]
type=graphic
x=272
y=224
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 7) = 1

[com_6567]
type=graphic
x=272
y=245
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 8) = 1

[com_6568]
type=graphic
x=272
y=266
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 9) = 1

[com_6569]
type=graphic
x=20
y=22
width=36
height=36
layer=com_6519
graphic=miscgraphics,3

[com_6570]
type=graphic
x=272
y=286
width=14
height=15
layer=com_6412
graphic=miscgraphics,10
graphicactive=miscgraphics,11
script=testbit(varplayer_286, 10) = 1

[com_6571]
type=text
x=130
y=288
width=130
height=11
layer=com_6412
textfont=p11_full
text=Waiting for other player...
textshadow=yes
colour=0xaaaaaa

[com_6572]
type=graphic
x=239
y=173
width=36
height=36
layer=com_6412
graphic=miscgraphics,2

