[com_0]
type=text
x=100
y=28
width=85
height=10
textfont=p11_full
text=Energy left:
textalignh=centre
textshadow=yes
colour=0x2ded01

[com_1]
type=text
x=129
y=40
width=28
height=14
textfont=p12_full
text=%1%
textalignh=centre
textshadow=yes
colour=0xffff00
script0=runenergy_visible

[com_2]
type=graphic
x=8
y=108
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_172 = 0

[com_3]
type=graphic
x=56
y=108
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_172 = 1

[com_4]
type=graphic
x=9
y=44
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_173 = 0

[com_5]
type=graphic
x=53
y=44
width=36
height=36
buttontype=5
graphic="miscgraphics,0"
graphicactive="miscgraphics,9"
script=varplayer_173 = 1

[com_6]
type=text
x=5
y=3
width=180
height=16
textfont=b12_full
text=Player controls
textalignh=centre
textshadow=yes
colour=0xff981f

[com_7]
type=text
x=1
y=88
width=100
height=14
textfont=p12_full
text=Auto retaliate
textalignh=centre
textshadow=yes
colour=0xee7c02

[com_8]
type=text
x=56
y=108
width=36
height=36
textfont=p12_full
text=Off
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_9]
type=text
x=8
y=108
width=36
height=36
textfont=p12_full
text=On
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_10]
type=text
x=3
y=27
width=92
height=13
textfont=p12_full
text=Move speed
textalignh=centre
textshadow=yes
colour=0x2ded01

[com_11]
type=text
x=53
y=44
width=36
height=36
textfont=p12_full
text=Run
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_12]
type=text
x=9
y=44
width=36
height=36
textfont=p12_full
text=Walk
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_13]
type=graphic
x=45
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_14]
type=graphic
x=86
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_15]
type=graphic
x=3
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_16]
type=graphic
x=127
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_17]
type=graphic
x=3
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_18]
type=graphic
x=127
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_19]
type=graphic
x=45
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_20]
type=graphic
x=3
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_21]
type=graphic
x=45
y=3
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_22]
type=graphic
x=86
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_23]
type=graphic
x=127
y=33
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_24]
type=graphic
x=86
y=63
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_25]
type=text
x=3
y=63
width=36
height=25
layer=com_40
textfont=p11_full
text=Wave
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_26]
type=text
x=5
y=152
width=166
height=15
textfont=p12_full
text=Emote animations
textalignh=centre
textshadow=yes
colour=0x02de01

[com_27]
type=text
x=127
y=3
width=36
height=25
layer=com_40
textfont=p11_full
text=Bow
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_28]
type=text
x=127
y=63
width=36
height=25
layer=com_40
textfont=p11_full
text=Dance
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_29]
type=text
x=3
y=33
width=36
height=25
layer=com_40
textfont=p11_full
text=Angry
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_30]
type=text
x=86
y=3
width=36
height=25
layer=com_40
textfont=p11_full
text=Think
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_31]
type=text
x=45
y=63
width=36
height=25
layer=com_40
textfont=p11_full
text=Beckon
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_32]
type=text
x=3
y=3
width=36
height=25
layer=com_40
textfont=p11_full
text=Yes
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_33]
type=text
x=45
y=3
width=36
height=25
layer=com_40
textfont=p11_full
text=No
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_34]
type=text
x=45
y=33
width=36
height=25
layer=com_40
textfont=p11_full
text=Cry
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_35]
type=text
x=91
y=55
width=96
height=11
textfont=p11_full
text=Weight carried:
textalignh=centre
textshadow=yes
colour=0x2ded01

[com_36]
type=text
x=112
y=66
width=62
height=17
textfont=p12_full
text=%1kg
textalignh=centre
textshadow=yes
colour=0xffff00
script0=runweight_visible

[com_37]
type=text
x=86
y=33
width=36
height=25
layer=com_40
textfont=p11_full
text=Laugh
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_38]
type=text
x=127
y=33
width=36
height=25
layer=com_40
textfont=p11_full
text=Cheer
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_39]
type=text
x=86
y=63
width=36
height=25
layer=com_40
textfont=p11_full
text=Clap
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_40]
type=layer
x=5
y=168
width=166
height=90
scrollheight=269

[com_41]
type=graphic
x=45
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_42]
type=graphic
x=86
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_43]
type=graphic
x=127
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_44]
type=graphic
x=3
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_45]
type=graphic
x=45
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_46]
type=text
x=45
y=180
width=36
height=25
layer=com_40
textfont=p11_full
text=Glass \n Wall
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1367 = 0

[com_47]
type=text
x=86
y=151
width=36
height=25
layer=com_40
textfont=p11_full
text=Glass \n Box
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1368 = 0

[com_48]
type=text
x=127
y=151
width=36
height=25
layer=com_40
textfont=p11_full
text=Climb \n Rope
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1369 = 0

[com_49]
type=text
x=3
y=180
width=36
height=25
layer=com_40
textfont=p11_full
text=Lean
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1370 = 0

[com_50]
type=text
x=45
y=151
width=36
height=25
layer=com_40
textfont=p11_full
text=Blow \n Kiss
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_51]
type=graphic
x=3
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_52]
type=graphic
x=45
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_53]
type=graphic
x=86
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_54]
type=graphic
x=127
y=92
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_55]
type=graphic
x=3
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_56]
type=graphic
x=45
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_57]
type=graphic
x=86
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_58]
type=graphic
x=127
y=121
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_59]
type=graphic
x=3
y=151
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_60]
type=text
x=3
y=92
width=36
height=25
layer=com_40
textfont=p11_full
text=Panic
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_61]
type=text
x=45
y=92
width=36
height=25
layer=com_40
textfont=p11_full
text=Jig
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_62]
type=text
x=86
y=92
width=36
height=25
layer=com_40
textfont=p11_full
text=Spin
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_63]
type=text
x=127
y=92
width=36
height=25
layer=com_40
textfont=p11_full
text=Head \n Bang
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_64]
type=text
x=3
y=121
width=36
height=25
layer=com_40
textfont=p11_full
text=Joy \n Jump
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_65]
type=text
x=45
y=121
width=36
height=25
layer=com_40
textfont=p11_full
text=Rasp' \n berry
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_66]
type=text
x=86
y=121
width=36
height=25
layer=com_40
textfont=p11_full
text=Yawn
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_67]
type=text
x=127
y=121
width=36
height=25
layer=com_40
textfont=p11_full
text=Salute
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_68]
type=text
x=3
y=151
width=36
height=25
layer=com_40
textfont=p11_full
text=Shrug
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666

[com_69]
type=graphic
x=86
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_70]
type=graphic
x=127
y=180
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_71]
type=graphic
x=3
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_72]
type=text
x=86
y=180
width=36
height=25
layer=com_40
textfont=p11_full
text=Goblin \n Bow
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_532 < 7

[com_73]
type=text
x=127
y=180
width=36
height=25
layer=com_40
textfont=p11_full
text=Goblin \n Dance
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_532 < 7

[com_74]
type=text
x=3
y=209
width=36
height=25
layer=com_40
textfont=p11_full
text=Scared
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1371 = 0

[com_75]
type=graphic
x=45
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_76]
type=graphic
x=86
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_77]
type=graphic
x=127
y=209
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_78]
type=graphic
x=3
y=239
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_79]
type=text
x=45
y=209
width=36
height=25
layer=com_40
textfont=p11_full
text=Slap \n Head
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_2310 = 0

[com_80]
type=text
x=86
y=209
width=36
height=25
layer=com_40
textfont=p11_full
text=Stamp
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_2312 = 0

[com_81]
type=text
x=127
y=209
width=36
height=25
layer=com_40
textfont=p11_full
text=Flap
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_2309 = 0

[com_82]
type=text
x=3
y=239
width=36
height=25
layer=com_40
textfont=p11_full
text=Idea
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_2311 = 0

[com_83]
type=graphic
x=104
y=109
width=79
height=36
buttontype=1
graphic="miscgraphics,4"
graphicactive="miscgraphics,7"

[com_84]
type=graphic
x=134
y=109
width=36
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"
script0=varplayer_172

[com_85]
type=graphic
x=148
y=109
width=35
height=36
graphic="miscgraphics,6"
graphicactive="miscgraphics,8"
script0=varplayer_172

[com_86]
type=text
x=108
y=113
width=70
height=32
textfont=p12_full
text=House \n Options
textalignh=centre
textshadow=yes
colour=0xccccff
colouractive=0x9999ff

[com_87]
type=graphic
x=45
y=239
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_88]
type=text
x=43
y=239
width=39
height=25
layer=com_40
textfont=p11_full
text=Zombie \n Walk
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1921 = 0

[com_89]
type=graphic
x=86
y=239
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_90]
type=text
x=84
y=239
width=40
height=25
layer=com_40
textfont=p11_full
text=Zombie \n Dance
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_1920 = 0

[com_91]
type=graphic
x=126
y=239
width=36
height=25
layer=com_40
buttontype=1
graphic="miscgraphics2,0"

[com_92]
type=text
x=126
y=239
width=36
height=25
layer=com_40
textfont=p11_full
text=Rabbit \n Hop
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0x666666
script=varplayerbit_2055 = 0

