[com_14443]
type=layer
width=512
height=334

[com_14444]
type=text
y=-1
width=480
height=17
layer=com_14443
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_14445]
type=text
y=31
width=480
height=17
layer=com_14443
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_14446]
type=text
y=63
width=480
height=17
layer=com_14443
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_14447]
type=graphic
width=57
height=13
layer=com_14449
graphic=sworddecor,1

[com_14448]
type=graphic
x=172
width=57
height=13
layer=com_14449
graphic=sworddecor,0

[com_14449]
type=layer
x=126
y=1
width=229
height=13
layer=com_14443

[com_14450]
type=layer
x=2
y=1
width=476
height=13
layer=com_14443
hide=yes

[com_14451]
type=graphic
width=57
height=13
layer=com_14450
graphic=sworddecor,1

[com_14452]
type=graphic
x=419
width=57
height=13
layer=com_14450
graphic=sworddecor,0

