[com_3323]
type=layer
width=512
height=334

[com_3324]
type=graphic
x=12
y=20
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3325]
type=graphic
x=12
y=80
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3326]
type=graphic
x=12
y=140
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3327]
type=graphic
x=12
y=200
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3328]
type=graphic
x=12
y=260
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3329]
type=graphic
x=100
y=20
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3330]
type=graphic
x=100
y=80
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3331]
type=graphic
x=100
y=140
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3332]
type=graphic
x=100
y=200
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3333]
type=graphic
x=188
y=20
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3334]
type=graphic
x=100
y=260
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3335]
type=graphic
x=188
y=80
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3336]
type=graphic
x=188
y=140
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3337]
type=graphic
x=188
y=200
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3338]
type=graphic
x=188
y=260
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3339]
type=graphic
x=276
y=20
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3340]
type=graphic
x=364
y=80
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3341]
type=graphic
x=276
y=80
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3342]
type=graphic
x=276
y=140
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3343]
type=graphic
x=276
y=200
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3344]
type=graphic
x=276
y=260
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3345]
type=graphic
x=364
y=140
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3346]
type=graphic
x=364
y=20
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3347]
type=graphic
x=364
y=200
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3348]
type=graphic
x=364
y=260
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3349]
type=graphic
x=412
y=20
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3350]
type=graphic
x=412
y=80
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3351]
type=graphic
x=412
y=140
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3352]
type=graphic
x=412
y=200
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3353]
type=graphic
x=412
y=260
width=88
height=60
layer=com_3323
graphic=tradebacking,0

[com_3354]
type=graphic
x=12
y=20
width=25
height=30
layer=com_3323
graphic=steelborder,0

[com_3355]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3356]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3357]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3358]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3359]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3360]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3361]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_3323
graphic=miscgraphics,2

[com_3362]
type=graphic
x=479
y=50
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3363]
type=graphic
x=479
y=86
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3364]
type=graphic
x=479
y=122
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3365]
type=graphic
x=479
y=158
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3366]
type=graphic
x=479
y=194
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3367]
type=graphic
x=479
y=230
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3368]
type=graphic
x=479
y=266
width=36
height=36
layer=com_3323
graphic=steelborder2,1

[com_3369]
type=graphic
x=73
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3370]
type=graphic
x=109
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3371]
type=graphic
x=145
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3372]
type=graphic
x=181
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3373]
type=graphic
x=217
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3374]
type=graphic
x=253
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3375]
type=graphic
x=289
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3376]
type=graphic
x=325
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3377]
type=graphic
x=361
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3378]
type=graphic
x=397
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3379]
type=graphic
x=433
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3380]
type=graphic
x=72
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3381]
type=graphic
x=108
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3382]
type=graphic
x=144
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3383]
type=graphic
x=180
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3384]
type=graphic
x=216
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3385]
type=graphic
x=252
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3386]
type=graphic
x=288
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3387]
type=graphic
x=324
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3388]
type=graphic
x=360
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3389]
type=graphic
x=396
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3390]
type=graphic
x=432
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3391]
type=graphic
x=252
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3392]
type=graphic
x=37
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3393]
type=graphic
x=37
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3394]
type=graphic
x=12
y=290
width=25
height=30
layer=com_3323
graphic=steelborder,2

[com_3395]
type=graphic
x=475
y=20
width=25
height=30
layer=com_3323
graphic=steelborder,1

[com_3396]
type=graphic
x=439
y=5
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3397]
type=graphic
x=475
y=290
width=25
height=30
layer=com_3323
graphic=steelborder,3

[com_3398]
type=graphic
x=439
y=299
width=36
height=36
layer=com_3323
graphic=miscgraphics,3

[com_3399]
type=graphic
x=288
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3400]
type=graphic
x=324
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3401]
type=graphic
x=360
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3402]
type=graphic
x=396
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3403]
type=graphic
x=432
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3404]
type=graphic
x=459
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3405]
type=graphic
x=216
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3406]
type=graphic
x=180
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3407]
type=graphic
x=144
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3408]
type=graphic
x=108
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3409]
type=graphic
x=72
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3410]
type=graphic
x=36
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3411]
type=graphic
x=17
y=34
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3412]
type=layer
x=36
y=20
width=440
height=299
layer=com_3323

[com_3413]
type=layer
x=19
y=55
width=230
height=248
layer=com_3323

[com_3414]
type=layer
x=261
y=56
width=230
height=248
layer=com_3323

[com_3415]
type=inv
x=13
y=16
width=4
height=7
layer=com_3413
paddingx=10
paddingy=1
op1=Remove 1
op2=Remove 5
op3=Remove 10
op4=Remove All
op5=Remove X

[com_3416]
type=inv
x=60
y=13
width=4
height=7
layer=com_3414
paddingx=10
paddingy=1

[com_3417]
type=text
x=21
y=29
width=84
height=14
layer=com_3323
textfont=b12_full
text=Trading With:
textshadow=yes
colour=0xffff00

[com_3418]
type=text
x=328
y=54
width=97
height=14
layer=com_3323
textfont=p12_full
text=Opponents Offer
textshadow=yes
colour=0xffff00

[com_3419]
type=text
x=103
y=54
width=61
height=14
layer=com_3323
textfont=p12_full
text=Your Offer
textshadow=yes
colour=0xffff00

[com_3420]
type=rectangle
x=224
y=173
width=66
height=31
layer=com_3323
buttontype=1
colour=0x000000
fill=yes

[com_3421]
type=text
x=239
y=181
width=39
height=14
layer=com_3323
textfont=p12_full
text=Accept
textshadow=yes
colour=0x00c000

[com_3422]
type=rectangle
x=224
y=246
width=66
height=31
layer=com_3323
buttontype=3
colour=0x000000
fill=yes

[com_3423]
type=text
x=238
y=254
width=40
height=14
layer=com_3323
textfont=p12_full
text=Decline
textshadow=yes
colour=0xc00000

[com_3424]
type=graphic
x=203
y=71
width=36
height=36
layer=com_3412
graphic=miscgraphics,2

[com_3425]
type=graphic
x=203
y=35
width=36
height=36
layer=com_3412
graphic=miscgraphics,2

[com_3426]
type=graphic
x=203
y=143
width=36
height=36
layer=com_3412
graphic=miscgraphics,2

[com_3427]
type=graphic
x=239
y=152
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3428]
type=graphic
x=203
y=185
width=36
height=36
layer=com_3412
graphic=miscgraphics,2

[com_3429]
type=graphic
x=203
y=107
width=36
height=36
layer=com_3412
graphic=miscgraphics,2

[com_3430]
type=graphic
x=239
y=225
width=36
height=36
layer=com_3323
graphic=steelborder2,0

[com_3431]
type=text
x=157
y=297
width=200
height=14
layer=com_3323
textfont=p12_full
text=Waiting for other player
textalignh=centre
textshadow=yes

[com_3432]
type=graphic
x=204
y=242
width=36
height=36
layer=com_3412
graphic=miscgraphics,3

[com_3433]
type=graphic
x=218
y=167
width=25
height=30
layer=com_3323
graphic=steelborder,0

[com_3434]
type=graphic
x=218
y=240
width=25
height=30
layer=com_3323
graphic=steelborder,0

[com_3435]
type=graphic
x=271
y=167
width=25
height=30
layer=com_3323
graphic=steelborder,1

[com_3436]
type=graphic
x=271
y=240
width=25
height=30
layer=com_3323
graphic=steelborder,1

[com_3437]
type=graphic
x=218
y=180
width=25
height=30
layer=com_3323
graphic=steelborder,2

[com_3438]
type=graphic
x=218
y=253
width=25
height=30
layer=com_3323
graphic=steelborder,2

[com_3439]
type=graphic
x=271
y=180
width=25
height=30
layer=com_3323
graphic=steelborder,3

[com_3440]
type=graphic
x=203
y=169
width=36
height=36
layer=com_3412
graphic=miscgraphics,3

[com_3441]
type=graphic
x=271
y=253
width=25
height=30
layer=com_3323
graphic=steelborder,3

[com_3442]
type=text
x=423
y=29
width=68
height=11
layer=com_3323
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

