[com_0]
type=rectangle
x=1
y=1
width=511
height=349
colour=0x081907
fill=yes

[com_1]
type=model
x=242
y=149
width=32
height=32
model=model_13399
modelangle=531,0,0
modelzoom=138

[com_2]
type=model
x=158
y=56
width=221
height=215
model=null
modelzoom=144

[com_3]
type=text
x=381
y=8
width=87
height=17
buttontype=3
textfont=q8_full
text=Close window
textshadow=yes
colour=0xffff00

