[com_0]
type=layer
x=-13
y=-1
width=527
height=340

[com_1]
type=model
x=101
y=298
width=10
height=14
layer=com_0
model=model_12114
modelangle=465,1647,0
modelzoom=466
modelanim=seq_3308

[com_2]
type=layer
x=65
y=31
width=32
height=32

[com_3]
type=model
x=314
y=185
width=32
height=32
model=model_12109
modelangle=387,2008,0
modelzoom=906

[com_4]
type=text
x=423
y=7
width=74
height=14
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0x999999
mouseovercolour=0xd9e0e2

[com_5]
type=layer
x=420
y=6
width=80
height=16
buttontype=3

[com_6]
type=model
x=78
y=175
width=36
height=24
layer=com_0
model=model_12114
modelangle=306,1642,0
modelzoom=400
modelanim=seq_3308

[com_7]
type=model
x=86
y=61
width=32
height=32
layer=com_0
model=model_12114
modelangle=189,1654,0
modelzoom=400
modelanim=seq_3308

[com_8]
type=model
x=183
y=-9
width=32
height=32
layer=com_0
model=model_12114
modelangle=198,1609,0
modelzoom=400
modelanim=seq_3308

[com_9]
type=model
x=28
y=-6
width=32
height=32
layer=com_26
model=model_12104
modelangle=252,1960,0
modelzoom=3160

[com_10]
type=model
x=21
width=32
height=32
layer=com_25
model=model_12104
modelangle=228,1990,0
modelzoom=2776

[com_11]
type=model
x=13
y=9
width=32
height=32
layer=com_24
model=model_12104
modelangle=272,62,0
modelzoom=2954

[com_12]
type=model
x=22
y=4
width=32
height=32
layer=com_42
model=model_12104
modelangle=279,1852,0
modelzoom=3160

[com_13]
type=layer
x=165
y=237
width=248
height=36
buttontype=1

[com_14]
type=model
x=189
y=9
width=32
height=32
layer=com_13
model=model_12103
modelactive=model_12104
modelangle=272,62,0
modelzoom=2954

[com_15]
type=layer
x=164
y=208
width=249
height=42
buttontype=1

[com_16]
type=model
x=158
y=-2
width=32
height=32
layer=com_15
model=model_12103
modelactive=model_12104
modelangle=228,1990,0
modelzoom=2776

[com_17]
type=layer
x=165
y=174
width=222
height=36
buttontype=1

[com_18]
type=model
x=110
y=-3
width=32
height=32
layer=com_17
model=model_12103
modelactive=model_12104
modelangle=252,1960,0
modelzoom=3160

[com_19]
type=model
x=108
y=-7
width=32
height=32
layer=com_40
model=model_12103
modelactive=model_12104
modelangle=279,1852,0
modelzoom=3160

[com_20]
type=layer
x=305
y=271
width=32
height=32

[com_21]
type=layer
x=228
y=101
width=55
height=46

[com_22]
type=model
x=433
y=31
width=32
height=32
layer=com_0
model=model_12105
modelangle=414,2008,0
modelzoom=344

[com_23]
type=model
x=20
y=3
width=32
height=32
layer=com_21
model=model_12107
modelangle=468,2032,0
modelzoom=428

[com_24]
type=layer
x=341
y=237
width=65
height=44
hide=yes

[com_25]
type=layer
x=301
y=206
width=75
height=29
hide=yes

[com_26]
type=layer
x=247
y=177
width=80
height=30
hide=yes

[com_27]
type=text
x=88
y=14
width=70
height=17
layer=com_13
textfont=q8_full
text=Lumbridge
textshadow=yes
colour=0x999999

[com_28]
type=text
x=23
y=5
width=75
height=32
layer=com_15
textfont=q8_full
text=Champions \nGuild
textactive= Station
textshadow=yes
colour=0x999999

[com_29]
type=text
x=7
y=-2
width=72
height=32
layer=com_17
mouseoverlayer=com_2
textfont=q8_full
text=Barbarian \n Village
textshadow=yes
colour=0x999999

[com_30]
type=text
x=23
y=6
width=58
height=17
layer=com_40
textfont=q8_full
text=Edgeville
textshadow=yes
colour=0x999999

[com_31]
type=text
x=37
y=3
width=143
height=32
layer=com_33
textfont=q8_full
text=Wilderness Pond - \nNo canoe trees here.
textshadow=yes
colour=0x999999
mouseovercolour=0x990000

[com_32]
type=model
x=2
y=2
width=36
height=31
layer=com_33
model=model_12110
modelangle=525,2026,0
modelzoom=2704

[com_33]
type=layer
x=206
y=74
width=185
height=37

[com_34]
type=text
x=82
y=13
width=166
height=23
layer=com_13
mouseoverlayer=com_24
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Lumbridge.

[com_35]
type=text
x=22
y=2
width=191
height=26
layer=com_15
mouseoverlayer=com_25
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to the Champions Guild.

[com_36]
type=text
x=5
width=156
height=30
layer=com_17
mouseoverlayer=com_26
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Barbarian Village.

[com_37]
type=text
width=180
height=36
layer=com_33
mouseoverlayer=com_43
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
mouseovercolour=0x990000
buttontext=DANGER: Travel to the Wilderness. There are no canoe trees up there!

[com_38]
type=layer
x=259
y=105
width=124
height=34
mouseoverlayer=com_2
hide=yes

[com_39]
type=text
x=37
y=11
width=84
height=14
layer=com_38
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_40]
type=layer
x=165
y=136
width=212
height=33
buttontype=1

[com_41]
type=text
x=19
y=-9
width=139
height=38
layer=com_40
mouseoverlayer=com_42
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=Travel to Edgeville.

[com_42]
type=layer
x=251
y=125
width=79
height=38
hide=yes

[com_43]
type=layer
x=205
y=74
width=186
height=38
hide=yes

[com_44]
type=text
x=38
y=3
width=143
height=32
layer=com_43
textfont=q8_full
text=Wilderness Pond - \nNo canoe trees here.
textshadow=yes
colour=0x990000
mouseovercolour=0x990000

[com_45]
type=model
x=2
y=1
width=36
height=31
layer=com_38
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_46]
type=layer
x=248
y=154
width=145
height=32
hide=yes

[com_47]
type=model
x=6
y=2
width=36
height=31
layer=com_46
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_48]
type=text
x=44
y=9
width=84
height=14
layer=com_46
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_49]
type=layer
x=280
y=189
width=145
height=32
hide=yes

[com_50]
type=model
x=6
y=2
width=36
height=31
layer=com_49
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_51]
type=text
x=44
y=9
width=84
height=14
layer=com_49
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_52]
type=layer
x=281
y=221
width=145
height=32
hide=yes

[com_53]
type=model
x=14
y=8
width=36
height=31
layer=com_52
model=model_12100
modelangle=567,201,0
modelzoom=528

[com_54]
type=text
x=52
y=15
width=84
height=14
layer=com_52
textfont=b12_full
text=You are here
textshadow=yes
colour=0xb86e0d

[com_55]
type=layer
x=34
y=34
width=203
height=36

[com_56]
type=model
x=45
y=148
width=238
height=44
model=model_12111
modelangle=446,2041,0
modelzoom=1083

[com_57]
type=text
x=77
y=31
width=115
height=32
mouseoverlayer=com_2
textfont=q8_full
text=Please Select \nYour Destination
textalignh=centre
textshadow=yes
colour=0xc8d1db

[com_58]
type=text
x=-1
width=145
height=32
layer=com_52
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Lumbridge.

[com_59]
type=text
width=145
height=32
layer=com_49
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are near the Champions Guild.

[com_60]
type=text
width=145
height=32
layer=com_46
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are at the Barbarian Village.

[com_61]
type=text
width=145
height=32
layer=com_38
buttontype=1
textfont=p12_full
textshadow=yes
colour=0xffff00
buttontext=You are in Edgeville.

