[com_12374]
type=layer
width=512
height=334

[com_12375]
type=model
x=414
y=34
width=32
height=32
layer=com_12374
model=null
modelangle=40,166,0
modelzoom=796

[com_12376]
type=text
x=20
width=350
height=17
layer=com_12374
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

[com_12377]
type=text
x=21
y=39
width=350
height=17
layer=com_12374
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

