[com_0]
type=text
x=73
y=15
width=390
height=17
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_1]
type=text
x=73
y=44
width=390
height=18
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_2]
type=text
x=93
y=74
width=350
height=17
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_3]
type=model
x=34
y=37
width=32
height=32
model=model_2339
modelangle=337,1074,0
modelzoom=598

