[com_0]
type=layer
width=512
height=334

[com_1]
type=graphic
x=2
y=5
width=57
height=13
layer=com_0
graphic=sworddecor,1

[com_2]
type=graphic
x=421
y=5
width=57
height=13
layer=com_0
graphic=sworddecor,0

[com_3]
type=model
x=92
y=13
width=64
height=96
layer=com_0
buttontype=1
model=null
modelzoom=400

[com_4]
type=model
x=323
y=13
width=64
height=96
layer=com_0
buttontype=1
model=null
modelzoom=400

[com_5]
type=text
x=48
y=76
width=152
height=17
layer=com_0
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_6]
type=text
x=280
y=76
width=152
height=17
layer=com_0
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_7]
type=text
x=8
y=3
width=464
height=17
layer=com_0
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

