[com_6173]
type=layer
width=512
height=334

[com_6174]
type=model
x=34
y=34
width=32
height=32
layer=com_6173
model=null
modelangle=40,1882,0
modelzoom=796

[com_6175]
type=text
x=111
y=16
width=350
height=17
layer=com_6173
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_6176]
type=text
x=111
y=32
width=350
height=17
layer=com_6173
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_6177]
type=text
x=111
y=48
width=350
height=17
layer=com_6173
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

[com_6178]
type=text
x=111
y=64
width=350
height=17
layer=com_6173
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

