[com_0]
type=graphic
x=19
y=6
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_83 = 1

[com_1]
type=graphic
x=61
y=6
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_84 = 1

[com_2]
type=graphic
x=102
y=6
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_85 = 1

[com_3]
type=graphic
x=143
y=6
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_86 = 1

[com_4]
type=graphic
x=19
y=42
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_87 = 1

[com_5]
type=graphic
x=61
y=42
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_88 = 1

[com_6]
type=graphic
x=102
y=42
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_89 = 1

[com_7]
type=graphic
x=143
y=42
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_90 = 1

[com_8]
type=graphic
x=19
y=78
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_91 = 1

[com_9]
type=graphic
x=61
y=78
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_92 = 1

[com_10]
type=graphic
x=102
y=78
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_93 = 1

[com_11]
type=graphic
x=143
y=78
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_94 = 1

[com_12]
type=graphic
x=19
y=115
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_95 = 1

[com_13]
type=graphic
x=61
y=115
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_96 = 1

[com_14]
type=graphic
x=102
y=115
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_97 = 1

[com_15]
type=graphic
x=143
y=115
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_98 = 1

[com_16]
type=graphic
x=19
y=152
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_99 = 1

[com_17]
type=graphic
x=61
y=152
width=34
height=34
buttontype=4
graphicactive=prayerglow
script=varplayer_100 = 1

[com_18]
type=layer
x=3
y=178
width=186
height=88

[com_19]
type=rectangle
x=6
y=187
width=178
height=72
colour=0x726451

[com_20]
type=rectangle
x=7
y=188
width=176
height=70
colour=0x726451

[com_21]
type=rectangle
x=7
y=188
width=177
height=71
colour=0x2e2b23

[com_22]
type=rectangle
x=8
y=189
width=174
height=68
colour=0x000000
fill=yes

[com_23]
type=graphic
x=21
y=8
width=30
height=30
mouseoverlayer=com_43
graphic="prayeroff,0"
graphicactive="prayeron,0"
script=stat_base(prayer) > 0

[com_24]
type=graphic
x=63
y=8
width=30
height=30
mouseoverlayer=com_47
graphic="prayeroff,1"
graphicactive="prayeron,1"
script=stat_base(prayer) > 3

[com_25]
type=graphic
x=104
y=8
width=30
height=30
mouseoverlayer=com_51
graphic="prayeroff,2"
graphicactive="prayeron,2"
script=stat_base(prayer) > 6

[com_26]
type=graphic
x=145
y=8
width=30
height=30
mouseoverlayer=com_55
graphic="prayeroff,3"
graphicactive="prayeron,3"
script=stat_base(prayer) > 9

[com_27]
type=graphic
x=21
y=44
width=30
height=30
mouseoverlayer=com_59
graphic="prayeroff,4"
graphicactive="prayeron,4"
script=stat_base(prayer) > 12

[com_28]
type=graphic
x=63
y=44
width=30
height=30
mouseoverlayer=com_63
graphic="prayeroff,5"
graphicactive="prayeron,5"
script=stat_base(prayer) > 15

[com_29]
type=graphic
x=104
y=44
width=30
height=30
mouseoverlayer=com_67
graphic="prayeroff,6"
graphicactive="prayeron,6"
script=stat_base(prayer) > 18

[com_30]
type=graphic
x=145
y=44
width=30
height=30
mouseoverlayer=com_71
graphic="prayeroff,7"
graphicactive="prayeron,7"
script=stat_base(prayer) > 21

[com_31]
type=graphic
x=21
y=80
width=30
height=30
mouseoverlayer=com_75
graphic="prayeroff,8"
graphicactive="prayeron,8"
script=stat_base(prayer) > 24

[com_32]
type=graphic
x=63
y=80
width=30
height=30
mouseoverlayer=com_79
graphic="prayeroff,9"
graphicactive="prayeron,9"
script=stat_base(prayer) > 27

[com_33]
type=graphic
x=104
y=80
width=30
height=30
mouseoverlayer=com_83
graphic="prayeroff,10"
graphicactive="prayeron,10"
script=stat_base(prayer) > 30

[com_34]
type=graphic
x=145
y=80
width=30
height=30
mouseoverlayer=com_87
graphic="prayeroff,11"
graphicactive="prayeron,11"
script=stat_base(prayer) > 33

[com_35]
type=graphic
x=21
y=117
width=30
height=30
mouseoverlayer=com_91
graphic="prayeroff,12"
graphicactive="prayeron,12"
script=stat_base(prayer) > 36

[com_36]
type=graphic
x=104
y=117
width=30
height=30
mouseoverlayer=com_99
graphic="prayeroff,14"
graphicactive="prayeron,14"
script=stat_base(prayer) > 42

[com_37]
type=graphic
x=63
y=117
width=30
height=30
mouseoverlayer=com_95
graphic="prayeroff,13"
graphicactive="prayeron,13"
script=stat_base(prayer) > 39

[com_38]
type=graphic
x=21
y=154
width=30
height=30
mouseoverlayer=com_107
graphic="prayeroff,15"
graphicactive="prayeron,15"
script=stat_base(prayer) > 48

[com_39]
type=graphic
x=63
y=154
width=30
height=30
mouseoverlayer=com_111
graphic="prayeroff,17"
graphicactive="prayeron,17"
script=stat_base(prayer) > 51

[com_40]
type=graphic
x=145
y=117
width=30
height=30
mouseoverlayer=com_103
graphic="prayeroff,16"
graphicactive="prayeron,16"
script=stat_base(prayer) > 45

[com_41]
type=text
x=8
y=223
width=174
height=14
textfont=p12_full
text=Prayer: %1/%2
textalignh=centre
colour=0xffff00
script0=stat(prayer)
script1=stat_base(prayer)

[com_42]
type=graphic
x=83
y=192
width=25
height=25
graphic="staticons,4"

[com_43]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_44]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_43
colour=0x000000
fill=yes

[com_45]
type=text
x=3
y=8
width=174
height=26
layer=com_43
textfont=p12_full
text=Level 1\nThick Skin
textalignh=centre
textshadow=yes
colour=0xffff00

[com_46]
type=text
x=3
y=41
width=174
height=11
layer=com_43
textfont=p11_full
text=Increases your defence by 5%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_47]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_48]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_47
colour=0x000000
fill=yes

[com_49]
type=text
x=3
y=8
width=174
height=26
layer=com_47
textfont=p12_full
text=Level 4\nBurst of Strength
textalignh=centre
textshadow=yes
colour=0xffff00

[com_50]
type=text
x=3
y=41
width=174
height=11
layer=com_47
textfont=p11_full
text=Increases your strength by 5%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_51]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_52]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_51
colour=0x000000
fill=yes

[com_53]
type=text
x=3
y=8
width=174
height=26
layer=com_51
textfont=p12_full
text=Level 7\nClarity of Thought
textalignh=centre
textshadow=yes
colour=0xffff00

[com_54]
type=text
x=3
y=41
width=174
height=11
layer=com_51
textfont=p11_full
text=Increases your attack by 5%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_55]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_56]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_55
colour=0x000000
fill=yes

[com_57]
type=text
x=3
y=8
width=174
height=26
layer=com_55
textfont=p12_full
text=Level 10\nRock Skin
textalignh=centre
textshadow=yes
colour=0xffff00

[com_58]
type=text
x=3
y=41
width=174
height=11
layer=com_55
textfont=p11_full
text=Increases your defence by 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_59]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_60]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_59
colour=0x000000
fill=yes

[com_61]
type=text
x=3
y=8
width=174
height=26
layer=com_59
textfont=p12_full
text=Level 13\nSuperhuman Strength
textalignh=centre
textshadow=yes
colour=0xffff00

[com_62]
type=text
x=3
y=41
width=174
height=11
layer=com_59
textfont=p11_full
text=Increases your strength by 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_63]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_64]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_63
colour=0x000000
fill=yes

[com_65]
type=text
x=3
y=8
width=174
height=26
layer=com_63
textfont=p12_full
text=Level 16\nImproved Reflexes
textalignh=centre
textshadow=yes
colour=0xffff00

[com_66]
type=text
x=3
y=41
width=174
height=11
layer=com_63
textfont=p11_full
text=Increases your attack by 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_67]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_68]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_67
colour=0x000000
fill=yes

[com_69]
type=text
x=3
y=8
width=174
height=26
layer=com_67
textfont=p12_full
text=Level 19\nRapid Restore
textalignh=centre
textshadow=yes
colour=0xffff00

[com_70]
type=text
x=3
y=41
width=174
height=20
layer=com_67
textfont=p11_full
text=2x restore rate for all stats\nexcept hitpoints and prayer
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_71]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_72]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_71
colour=0x000000
fill=yes

[com_73]
type=text
x=3
y=8
width=174
height=26
layer=com_71
textfont=p12_full
text=Level 22\nRapid Heal
textalignh=centre
textshadow=yes
colour=0xffff00

[com_74]
type=text
x=3
y=41
width=174
height=11
layer=com_71
textfont=p11_full
text=2x restore rate for hitpoints stat
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_75]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_76]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_75
colour=0x000000
fill=yes

[com_77]
type=text
x=3
y=8
width=174
height=26
layer=com_75
textfont=p12_full
text=Level 25\nProtect Items
textalignh=centre
textshadow=yes
colour=0xffff00

[com_78]
type=text
x=3
y=41
width=174
height=11
layer=com_75
textfont=p11_full
text=Keep 1 extra item if you die
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_79]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_80]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_79
colour=0x000000
fill=yes

[com_81]
type=text
x=3
y=8
width=174
height=26
layer=com_79
textfont=p12_full
text=Level 28\nSteel Skin
textalignh=centre
textshadow=yes
colour=0xffff00

[com_82]
type=text
x=3
y=41
width=174
height=11
layer=com_79
textfont=p11_full
text=Increases your defence by 15%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_83]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_84]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_83
colour=0x000000
fill=yes

[com_85]
type=text
x=3
y=8
width=174
height=26
layer=com_83
textfont=p12_full
text=Level 31\nUltimate Strength
textalignh=centre
textshadow=yes
colour=0xffff00

[com_86]
type=text
x=3
y=41
width=174
height=11
layer=com_83
textfont=p11_full
text=Increases your strength by 15%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_87]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_88]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_87
colour=0x000000
fill=yes

[com_89]
type=text
x=3
y=8
width=174
height=26
layer=com_87
textfont=p12_full
text=Level 34\nIncredible Reflexes
textalignh=centre
textshadow=yes
colour=0xffff00

[com_90]
type=text
x=3
y=41
width=174
height=11
layer=com_87
textfont=p11_full
text=Increases your attack by 15%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_91]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_92]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_91
colour=0x000000
fill=yes

[com_93]
type=text
x=3
y=8
width=174
height=26
layer=com_91
textfont=p12_full
text=Level 37\nProtect from Magic
textalignh=centre
textshadow=yes
colour=0xffff00

[com_94]
type=text
x=3
y=41
width=174
height=11
layer=com_91
textfont=p11_full
text=Protection from magical attacks
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_95]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_96]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_95
colour=0x000000
fill=yes

[com_97]
type=text
x=3
y=8
width=174
height=26
layer=com_95
textfont=p12_full
text=Level 40\nProtect from Missiles
textalignh=centre
textshadow=yes
colour=0xffff00

[com_98]
type=text
x=3
y=41
width=174
height=11
layer=com_95
textfont=p11_full
text=Protection from ranged attacks
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_99]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_100]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_99
colour=0x000000
fill=yes

[com_101]
type=text
x=3
y=8
width=174
height=26
layer=com_99
textfont=p12_full
text=Level 43\nProtect from Melee
textalignh=centre
textshadow=yes
colour=0xffff00

[com_102]
type=text
x=3
y=41
width=174
height=11
layer=com_99
textfont=p11_full
text=Protection from close attacks
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_103]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_104]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_103
colour=0x000000
fill=yes

[com_105]
type=text
x=3
y=8
width=174
height=26
layer=com_103
textfont=p12_full
text=Level 46\nRetribution
textalignh=centre
textshadow=yes
colour=0xffff00

[com_106]
type=text
x=3
y=41
width=174
height=22
layer=com_103
textfont=p11_full
text=Inflicts damage to nearby\ntargets if you die
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_107]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_108]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_107
colour=0x000000
fill=yes

[com_109]
type=text
x=3
y=8
width=174
height=26
layer=com_107
textfont=p12_full
text=Level 49\nRedemption
textalignh=centre
textshadow=yes
colour=0xffff00

[com_110]
type=text
x=3
y=41
width=174
height=22
layer=com_107
textfont=p11_full
text=Heals you if your health\nfalls below 10%
textalignh=centre
textshadow=yes
colour=0x6b6f33

[com_111]
type=layer
x=5
y=184
width=182
height=76
hide=yes

[com_112]
type=rectangle
x=3
y=5
width=174
height=68
layer=com_111
colour=0x000000
fill=yes

[com_113]
type=text
x=3
y=8
width=174
height=26
layer=com_111
textfont=p12_full
text=Level 52\nSmite
textalignh=centre
textshadow=yes
colour=0xffff00

[com_114]
type=text
x=3
y=41
width=169
height=22
layer=com_111
textfont=p11_full
text=1/4 of damage dealt is also\n removed from opponent's Prayer
textalignh=centre
textshadow=yes
colour=0x6b6f33

