[com_0]
type=model
x=248
y=354
width=32
height=32
model=model_4962
modelzoom=200
modelanim=seq_1490

[com_1]
type=model
x=248
y=354
width=32
height=32
model=model_4961
modelzoom=200
modelanim=seq_1489

