[com_197]
type=layer
width=512
height=334

[com_198]
type=graphic
x=15
width=25
height=25
layer=com_200
graphic=headicons_pk,0

[com_199]
type=text
x=17
y=24
width=20
height=4
layer=com_200
textfont=p12_full
textactive=Level: %1
textalignh=centre
textshadow=yes
colour=0xffff00
colouractive=0xffff00
script=coordz -  + 9920 /  + 8 + 1 > 0
script=coordz -  + 9920 /  + 8 + 1 < 100

[com_200]
type=layer
x=457
y=256
width=53
height=41
layer=com_197

