[com_0]
type=model
x=80
y=106
width=32
height=32
model=model_14967
modelangle=519,0,0
modelzoom=524

[com_1]
type=text
x=42
y=60
width=112
height=18
textfont=b12_full
text=Score:
textshadow=yes
colour=0x00ff00

