[com_8511]
type=layer
width=512
height=334

[com_8512]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8398
modelactive=model_8397
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 1

[com_8513]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8400
modelactive=model_8399
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

[com_8514]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8402
modelactive=model_8401
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 1

[com_8515]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8404
modelactive=model_8403
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

[com_8516]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8406
modelactive=model_8405
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 1

[com_8517]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8408
modelactive=model_8407
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

[com_8518]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8410
modelactive=model_8409
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 1

[com_8519]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8412
modelactive=model_8411
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

[com_8520]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8414
modelactive=model_8413
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 1

[com_8521]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8416
modelactive=model_8415
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

[com_8522]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8418
modelactive=model_8417
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 1

[com_8523]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8420
modelactive=model_8419
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

[com_8524]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8422
modelactive=model_8421
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 1

[com_8525]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8424
modelactive=model_8423
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

[com_8526]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8426
modelactive=model_8425
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 1

[com_8527]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8428
modelactive=model_8427
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

[com_8528]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8445
modelangle=350,0,0
modelzoom=1200

[com_8529]
type=model
x=248
y=130
width=32
height=32
layer=com_8511
model=model_8446
modelangle=350,0,0
modelzoom=1200

[com_8530]
type=layer
x=142
y=123
width=32
height=32
layer=com_8511
hide=yes

[com_8531]
type=model
x=106
y=7
width=32
height=32
layer=com_8530
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

[com_8532]
type=layer
x=190
y=89
width=32
height=32
layer=com_8511
hide=yes

[com_8533]
type=model
x=106
y=7
width=32
height=32
layer=com_8532
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

[com_8534]
type=layer
x=184
y=162
width=32
height=32
layer=com_8511
hide=yes

[com_8535]
type=model
x=106
y=7
width=32
height=32
layer=com_8534
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

[com_8536]
type=layer
x=266
y=56
width=32
height=32
layer=com_8511
hide=yes

[com_8537]
type=model
x=106
y=7
width=32
height=32
layer=com_8536
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

[com_8538]
type=layer
x=268
y=90
width=32
height=32
layer=com_8511
hide=yes

[com_8539]
type=model
x=106
y=7
width=32
height=32
layer=com_8538
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

[com_8540]
type=layer
x=227
y=203
width=32
height=32
layer=com_8511
hide=yes

[com_8541]
type=model
x=106
y=7
width=32
height=32
layer=com_8540
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

[com_8542]
type=layer
x=269
y=162
width=32
height=32
layer=com_8511
hide=yes

[com_8543]
type=model
x=106
y=7
width=32
height=32
layer=com_8542
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

[com_8544]
type=layer
x=314
y=203
width=32
height=32
layer=com_8511
hide=yes

[com_8545]
type=model
x=106
y=7
width=32
height=32
layer=com_8544
model=model_8429
modelactive=model_8430
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

[com_8546]
type=text
x=461
y=15
width=31
height=14
layer=com_8511
buttontype=1
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00
buttontext=Close

[com_8547]
type=model
x=142
y=123
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8548]
type=model
x=190
y=89
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8549]
type=model
x=184
y=162
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8550]
type=model
x=266
y=56
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8551]
type=model
x=268
y=90
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8552]
type=model
x=227
y=203
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8553]
type=model
x=269
y=162
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8554]
type=model
x=314
y=203
width=32
height=32
layer=com_8511
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_8555]
type=model
x=119
y=24
width=32
height=32
layer=com_8511
model=model_8429
modelangle=350,0,0
modelzoom=1200

[com_8556]
type=model
x=119
y=55
width=32
height=32
layer=com_8511
model=model_8430
modelangle=350,0,0
modelzoom=1200

[com_8557]
type=text
x=45
y=26
width=24
height=14
layer=com_8511
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_861

[com_8558]
type=text
x=45
y=56
width=24
height=14
layer=com_8511
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_862

