[com_0]
type=rectangle
x=-29
y=-23
width=700
height=486
trans=200
colour=0x000000
fill=yes

[com_1]
type=model
x=115
y=189
width=32
height=33
model=model_9748
modelangle=6,5,0
modelzoom=410

[com_2]
type=model
x=80
y=98
width=32
height=32
model=model_9753
modelangle=528,0,0
modelzoom=358

[com_3]
type=model
x=184
y=227
width=35
height=34
model=model_9749
modelangle=565,0,0
modelzoom=422
modelanim=seq_2767

[com_4]
type=model
x=278
y=227
width=35
height=34
model=model_9750
modelangle=565,0,0
modelzoom=422
modelanim=seq_2767

[com_5]
type=model
x=373
y=227
width=35
height=34
model=model_9751
modelangle=565,0,0
modelzoom=422
modelanim=seq_2767

[com_6]
type=graphic
x=181
y=203
width=46
height=95
buttontype=1

[com_7]
type=graphic
x=271
y=204
width=51
height=90
buttontype=1

[com_8]
type=graphic
x=370
y=205
width=46
height=96
buttontype=1

[com_9]
type=text
x=473
y=10
width=31
height=14
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00

[com_10]
type=model
x=180
y=25
width=34
height=33
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 0

[com_11]
type=model
x=230
y=25
width=32
height=32
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 1

[com_12]
type=model
x=280
y=25
width=32
height=32
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 2

[com_13]
type=model
x=330
y=25
width=32
height=32
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 3

[com_14]
type=model
x=380
y=25
width=32
height=32
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 4

[com_15]
type=model
x=430
y=25
width=32
height=32
model=model_9757
modelactive=model_9758
modelangle=498,9,0
modelzoom=1200
modelanim=seq_2766
modelanimactive=seq_2766
script=varplayer_531 > 5

[com_16]
type=model
x=185
y=33
width=32
height=32
model=model_15272
modelangle=542,0,0
modelzoom=860
modelanim=seq_4135

[com_17]
type=model
x=233
y=31
width=32
height=32
model=model_15272
modelangle=542,0,0
modelzoom=860
modelanim=seq_4135

[com_18]
type=model
x=283
y=31
width=32
height=32
model=model_15272
modelangle=542,0,0
modelzoom=860
modelanim=seq_4135

[com_19]
type=model
x=333
y=31
width=32
height=32
model=model_15272
modelangle=542,0,0
modelzoom=860
modelanim=seq_4135

[com_20]
type=model
x=383
y=30
width=32
height=32
model=model_15272
modelangle=542,0,0
modelzoom=860
modelanim=seq_4135

[com_21]
type=model
x=434
y=29
width=32
height=32
model=model_15272
modelangle=542,0,0
modelzoom=860
modelanim=seq_4135

