[com_0]
type=layer
clientcode=503
x=3
y=20
width=168
height=204
scrollheight=400

[com_1]
type=text
x=51
y=4
width=73
height=14
textfont=b12_full
text=Ignore List
textshadow=yes
colour=0xffff00

[com_2]
type=graphic
clientcode=501
x=15
y=224
width=72
height=36
buttontype=1
graphic="combatboxes,0"
buttontext=Add name

[com_3]
type=graphic
clientcode=502
x=95
y=224
width=72
height=36
buttontype=1
graphic="combatboxes,0"
buttontext=Delete name

[com_4]
type=text
x=20
y=229
width=62
height=27
textfont=p12_full
text=Add Name
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_5]
type=text
x=100
y=229
width=62
height=27
textfont=p12_full
text=Del Name
textalignh=centre
textalignv=centre
textshadow=yes
colour=0xffff00
colouractive=0xffffff

[com_6]
type=graphic
x=3
y=20
width=25
height=30
graphic="steelborder,0"

[com_7]
type=graphic
x=146
y=20
width=25
height=30
graphic="steelborder,1"

[com_8]
type=graphic
x=3
y=194
width=25
height=30
graphic="steelborder,2"

[com_9]
type=graphic
x=146
y=194
width=25
height=30
graphic="steelborder,3"

[com_10]
type=graphic
x=28
y=5
width=36
height=36
graphic="steelborder2,0"

[com_11]
type=graphic
x=64
y=5
width=36
height=36
graphic="steelborder2,0"

[com_12]
type=graphic
x=100
y=5
width=36
height=36
graphic="steelborder2,0"

[com_13]
type=graphic
x=112
y=5
width=36
height=36
graphic="steelborder2,0"

[com_14]
type=graphic
x=150
y=50
width=36
height=36
graphic="steelborder2,1"

[com_15]
type=graphic
x=150
y=86
width=36
height=36
graphic="steelborder2,1"

[com_16]
type=graphic
x=150
y=122
width=36
height=36
graphic="steelborder2,1"

[com_17]
type=graphic
x=150
y=158
width=36
height=36
graphic="steelborder2,1"

[com_18]
type=graphic
x=-12
y=50
width=36
height=36
graphic="miscgraphics,2"

[com_19]
type=graphic
x=-12
y=86
width=36
height=36
graphic="miscgraphics,2"

[com_20]
type=graphic
x=-12
y=122
width=36
height=36
graphic="miscgraphics,2"

[com_21]
type=graphic
x=-12
y=158
width=36
height=36
graphic="miscgraphics,2"

[com_22]
type=graphic
x=28
y=203
width=36
height=36
graphic="miscgraphics,3"

[com_23]
type=graphic
x=64
y=203
width=36
height=36
graphic="miscgraphics,3"

[com_24]
type=graphic
x=100
y=203
width=36
height=36
graphic="miscgraphics,3"

[com_25]
type=graphic
x=111
y=203
width=36
height=36
graphic="miscgraphics,3"

[com_26]
type=text
clientcode=401
x=7
y=8
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_27]
type=text
clientcode=402
x=7
y=23
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_28]
type=text
clientcode=403
x=7
y=38
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_29]
type=text
clientcode=404
x=7
y=53
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_30]
type=text
clientcode=405
x=7
y=68
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_31]
type=text
clientcode=406
x=7
y=83
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_32]
type=text
clientcode=407
x=7
y=98
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_33]
type=text
clientcode=408
x=7
y=113
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_34]
type=text
clientcode=409
x=7
y=128
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_35]
type=text
clientcode=410
x=7
y=143
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_36]
type=text
clientcode=411
x=7
y=158
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_37]
type=text
clientcode=412
x=7
y=173
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_38]
type=text
clientcode=413
x=7
y=188
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_39]
type=text
clientcode=414
x=7
y=203
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_40]
type=text
clientcode=415
x=7
y=218
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_41]
type=text
clientcode=416
x=7
y=233
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_42]
type=text
clientcode=417
x=7
y=248
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_43]
type=text
clientcode=418
x=7
y=263
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_44]
type=text
clientcode=419
x=7
y=278
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_45]
type=text
clientcode=420
x=7
y=293
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_46]
type=text
clientcode=421
x=7
y=308
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_47]
type=text
clientcode=422
x=7
y=323
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_48]
type=text
clientcode=423
x=7
y=338
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_49]
type=text
clientcode=424
x=7
y=353
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_50]
type=text
clientcode=425
x=7
y=368
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_51]
type=text
clientcode=426
x=7
y=383
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_52]
type=text
clientcode=427
x=7
y=398
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_53]
type=text
clientcode=428
x=7
y=413
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_54]
type=text
clientcode=429
x=7
y=428
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_55]
type=text
clientcode=430
x=7
y=443
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_56]
type=text
clientcode=431
x=7
y=458
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_57]
type=text
clientcode=432
x=7
y=473
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_58]
type=text
clientcode=433
x=7
y=488
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_59]
type=text
clientcode=434
x=7
y=503
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_60]
type=text
clientcode=435
x=7
y=518
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_61]
type=text
clientcode=436
x=7
y=533
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_62]
type=text
clientcode=437
x=7
y=548
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_63]
type=text
clientcode=438
x=7
y=563
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_64]
type=text
clientcode=439
x=7
y=578
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_65]
type=text
clientcode=440
x=7
y=593
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_66]
type=text
clientcode=441
x=7
y=608
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_67]
type=text
clientcode=442
x=7
y=623
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_68]
type=text
clientcode=443
x=7
y=638
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_69]
type=text
clientcode=444
x=7
y=653
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_70]
type=text
clientcode=445
x=7
y=668
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_71]
type=text
clientcode=446
x=7
y=683
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_72]
type=text
clientcode=447
x=7
y=698
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_73]
type=text
clientcode=448
x=7
y=713
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_74]
type=text
clientcode=449
x=7
y=728
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_75]
type=text
clientcode=450
x=7
y=743
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_76]
type=text
clientcode=451
x=7
y=758
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_77]
type=text
clientcode=452
x=7
y=773
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_78]
type=text
clientcode=453
x=7
y=788
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_79]
type=text
clientcode=454
x=7
y=803
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_80]
type=text
clientcode=455
x=7
y=818
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_81]
type=text
clientcode=456
x=7
y=833
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_82]
type=text
clientcode=457
x=7
y=848
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_83]
type=text
clientcode=458
x=7
y=863
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_84]
type=text
clientcode=459
x=7
y=878
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_85]
type=text
clientcode=460
x=7
y=893
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_86]
type=text
clientcode=461
x=7
y=908
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_87]
type=text
clientcode=462
x=7
y=923
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_88]
type=text
clientcode=463
x=7
y=938
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_89]
type=text
clientcode=464
x=7
y=953
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_90]
type=text
clientcode=465
x=7
y=968
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_91]
type=text
clientcode=466
x=7
y=983
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_92]
type=text
clientcode=467
x=7
y=998
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_93]
type=text
clientcode=468
x=7
y=1013
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_94]
type=text
clientcode=469
x=7
y=1028
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_95]
type=text
clientcode=470
x=7
y=1043
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_96]
type=text
clientcode=471
x=7
y=1058
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_97]
type=text
clientcode=472
x=7
y=1073
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_98]
type=text
clientcode=473
x=7
y=1088
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_99]
type=text
clientcode=474
x=7
y=1103
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_100]
type=text
clientcode=475
x=7
y=1118
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_101]
type=text
clientcode=476
x=7
y=1133
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_102]
type=text
clientcode=477
x=7
y=1148
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_103]
type=text
clientcode=478
x=7
y=1163
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_104]
type=text
clientcode=479
x=7
y=1178
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_105]
type=text
clientcode=480
x=7
y=1193
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_106]
type=text
clientcode=481
x=7
y=1208
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_107]
type=text
clientcode=482
x=7
y=1223
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_108]
type=text
clientcode=483
x=7
y=1238
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_109]
type=text
clientcode=484
x=7
y=1253
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_110]
type=text
clientcode=485
x=7
y=1268
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_111]
type=text
clientcode=486
x=7
y=1283
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_112]
type=text
clientcode=487
x=7
y=1298
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_113]
type=text
clientcode=488
x=7
y=1313
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_114]
type=text
clientcode=489
x=7
y=1328
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_115]
type=text
clientcode=490
x=7
y=1343
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_116]
type=text
clientcode=491
x=7
y=1358
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_117]
type=text
clientcode=492
x=7
y=1373
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_118]
type=text
clientcode=493
x=7
y=1388
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_119]
type=text
clientcode=494
x=7
y=1403
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_120]
type=text
clientcode=495
x=7
y=1418
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_121]
type=text
clientcode=496
x=7
y=1433
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_122]
type=text
clientcode=497
x=7
y=1448
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_123]
type=text
clientcode=498
x=7
y=1463
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_124]
type=text
clientcode=499
x=7
y=1478
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

[com_125]
type=text
clientcode=500
x=7
y=1493
width=153
height=14
layer=com_0
textfont=p12_full
textshadow=yes

