[com_0]
type=model
x=243
y=138
width=35
height=35
model=model_3032
modelangle=400,0,0
modelzoom=650

[com_1]
type=text
x=125
y=127
width=268
height=18
textfont=q8_full
text=Text
colour=0x000000

[com_2]
type=text
x=125
y=108
width=268
height=18
textfont=q8_full
text=Text
colour=0x000000

[com_3]
type=text
x=125
y=146
width=268
height=18
textfont=q8_full
text=Text
colour=0x000000

[com_4]
type=text
x=125
y=165
width=268
height=18
textfont=q8_full
text=Text
colour=0x000000

[com_5]
type=text
x=168
y=216
width=162
height=17
textfont=q8_full
text=Text
textalignh=centre
colour=0x000000

[com_6]
type=model
x=369
y=207
width=32
height=32
model=model_3037
modelangle=473,1991,0
modelzoom=800

[com_7]
type=text
x=125
y=184
width=268
height=18
textfont=q8_full
text=Text
colour=0x000000

[com_8]
type=graphic
x=367
y=87
width=26
height=23
mouseoverlayer=com_10
graphic="close_buttons,2"

[com_9]
type=graphic
x=2
y=7
width=26
height=23
layer=com_10
buttontype=3
graphic="close_buttons,3"

[com_10]
type=layer
x=365
y=80
width=32
height=32
hide=yes

