[com_4679]
type=layer
width=512
height=334

[com_4680]
type=model
x=135
y=16
width=35
height=32
layer=com_4679
model=model_2778
modelangle=521,1288,0
modelzoom=624

[com_4681]
type=text
x=4
y=2
width=47
height=14
layer=com_4679
textfont=p12_full
text=Weapon:
textshadow=yes
colour=0xffff00

[com_4682]
type=text
x=52
y=2
width=17
height=14
layer=com_4679
textfont=p12_full
text=%1
textshadow=yes
colour=0xffff00

[com_4683]
type=text
x=4
y=18
width=114
height=14
layer=com_4679
textfont=p12_full
text=Choose Attack Style
textshadow=yes
colour=0x00c000

[com_4684]
type=layer
x=4
y=60
width=145
height=190
layer=com_4679

[com_4685]
type=graphic
x=5
y=5
width=72
height=36
layer=com_4684
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 0

[com_4686]
type=graphic
x=5
y=143
width=72
height=36
layer=com_4684
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 3

[com_4687]
type=graphic
x=5
y=97
width=72
height=36
layer=com_4684
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 2

[com_4688]
type=graphic
x=5
y=51
width=72
height=36
layer=com_4684
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_43 = 1

[com_4689]
type=graphic
x=22
y=149
width=34
height=24
layer=com_4684
graphic=combaticons,17

[com_4690]
type=graphic
x=22
y=11
width=34
height=24
layer=com_4684
graphic=combaticons,8

[com_4691]
type=graphic
x=21
y=57
width=34
height=24
layer=com_4684
graphic=combaticons,18

[com_4692]
type=graphic
x=22
y=103
width=34
height=24
layer=com_4684
graphic=combaticons,9

[com_4693]
type=text
x=78
y=5
width=29
height=11
layer=com_4684
textfont=p11_full
text=Lunge
textshadow=yes
colour=0xffff00

[com_4694]
type=text
x=78
y=51
width=29
height=11
layer=com_4684
textfont=p11_full
text=Swipe
textshadow=yes
colour=0xffff00

[com_4695]
type=text
x=78
y=97
width=31
height=11
layer=com_4684
textfont=p11_full
text=Pound
textshadow=yes
colour=0xffff00

[com_4696]
type=text
x=78
y=143
width=26
height=11
layer=com_4684
textfont=p11_full
text=Block
textshadow=yes
colour=0xffff00

[com_4697]
type=text
x=78
y=18
width=58
height=11
layer=com_4684
textfont=p11_full
text=(Controlled)
colour=0xffff00

[com_4698]
type=text
x=78
y=110
width=58
height=11
layer=com_4684
textfont=p11_full
text=(Controlled)
colour=0xffff00

[com_4699]
type=text
x=78
y=64
width=58
height=11
layer=com_4684
textfont=p11_full
text=(Controlled)
colour=0xffff00

[com_4700]
type=text
x=78
y=156
width=58
height=11
layer=com_4684
textfont=p11_full
text=(Defensive)
colour=0xffff00

[com_4701]
type=text
x=82
y=90
width=29
height=11
layer=com_4679
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_4702]
type=text
x=82
y=136
width=34
height=11
layer=com_4679
textfont=p11_full
text=(Slash)
colour=0xffff00

[com_4703]
type=text
x=82
y=228
width=29
height=11
layer=com_4679
textfont=p11_full
text=(Stab)
colour=0xffff00

[com_4704]
type=text
x=82
y=182
width=36
height=11
layer=com_4679
textfont=p11_full
text=(Crush)
colour=0xffff00

