[com_12750]
type=layer
width=512
height=334

[com_12751]
type=model
x=250
y=136
width=32
height=32
layer=com_12750
model=model_5824
modelangle=487,10,0
modelzoom=250
modelanim=seq_1848

