[com_4909]
type=layer
width=512
height=334

[com_4910]
type=model
x=243
y=138
width=35
height=35
layer=com_4909
model=model_3032
modelangle=400,0,0
modelzoom=650

[com_4911]
type=text
x=125
y=127
width=268
height=18
layer=com_4909
textfont=q8_full
text=Text
colour=0x000000

[com_4912]
type=text
x=433
y=11
width=68
height=11
layer=com_4909
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_4913]
type=text
x=125
y=108
width=268
height=18
layer=com_4909
textfont=q8_full
text=Text
colour=0x000000

[com_4914]
type=text
x=125
y=146
width=268
height=18
layer=com_4909
textfont=q8_full
text=Text
colour=0x000000

[com_4915]
type=text
x=125
y=165
width=268
height=18
layer=com_4909
textfont=q8_full
text=Text
colour=0x000000

[com_4916]
type=text
x=168
y=216
width=162
height=17
layer=com_4909
textfont=q8_full
text=Text
textalignh=centre
colour=0x000000

[com_4917]
type=model
x=369
y=207
width=32
height=32
layer=com_4909
model=model_3037
modelangle=473,1991,0
modelzoom=800

[com_4918]
type=text
x=125
y=184
width=268
height=18
layer=com_4909
textfont=q8_full
text=Text
colour=0x000000

