[com_15614]
type=layer
width=512
height=334

[com_15615]
type=graphic
x=103
y=37
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15616]
type=graphic
x=100
y=80
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15617]
type=graphic
x=100
y=140
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15618]
type=graphic
x=100
y=200
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15619]
type=graphic
x=189
y=38
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15620]
type=graphic
x=188
y=80
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15621]
type=graphic
x=188
y=140
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15622]
type=graphic
x=188
y=200
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15623]
type=graphic
x=277
y=40
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15624]
type=graphic
x=276
y=80
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15625]
type=graphic
x=276
y=140
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15626]
type=graphic
x=276
y=200
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15627]
type=graphic
x=100
y=34
width=25
height=30
layer=com_15614
graphic=steelborder,0

[com_15628]
type=graphic
x=85
y=37
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15629]
type=graphic
x=337
y=40
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15630]
type=graphic
x=84
y=57
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15631]
type=graphic
x=84
y=79
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15632]
type=graphic
x=84
y=115
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15633]
type=graphic
x=84
y=150
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15634]
type=graphic
x=84
y=186
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15635]
type=graphic
x=84
y=222
width=36
height=36
layer=com_15614
graphic=miscgraphics,2

[com_15636]
type=graphic
x=410
y=59
width=36
height=36
layer=com_15614
graphic=steelborder2,1

[com_15637]
type=graphic
x=410
y=95
width=36
height=36
layer=com_15614
graphic=steelborder2,1

[com_15638]
type=graphic
x=410
y=114
width=36
height=36
layer=com_15614
graphic=steelborder2,1

[com_15639]
type=graphic
x=410
y=150
width=36
height=36
layer=com_15614
graphic=steelborder2,1

[com_15640]
type=graphic
x=410
y=186
width=36
height=36
layer=com_15614
graphic=steelborder2,1

[com_15641]
type=graphic
x=410
y=222
width=36
height=36
layer=com_15614
graphic=steelborder2,1

[com_15642]
type=graphic
x=158
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15643]
type=graphic
x=193
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15644]
type=graphic
x=228
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15645]
type=graphic
x=263
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15646]
type=graphic
x=298
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15647]
type=graphic
x=301
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15648]
type=graphic
x=336
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15649]
type=graphic
x=371
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15650]
type=graphic
x=104
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15651]
type=graphic
x=120
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15652]
type=graphic
x=154
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15653]
type=graphic
x=190
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15654]
type=graphic
x=226
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15655]
type=graphic
x=262
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15656]
type=graphic
x=298
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15657]
type=graphic
x=334
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15658]
type=graphic
x=370
y=19
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15659]
type=graphic
x=337
y=98
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15660]
type=graphic
x=213
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15661]
type=graphic
x=123
y=266
width=36
height=36
layer=com_15614
graphic=miscgraphics,3

[com_15662]
type=graphic
x=99
y=257
width=25
height=30
layer=com_15614
graphic=steelborder,2

[com_15663]
type=graphic
x=406
y=34
width=25
height=30
layer=com_15614
graphic=steelborder,1

[com_15664]
type=graphic
x=337
y=154
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15665]
type=graphic
x=406
y=257
width=25
height=30
layer=com_15614
graphic=steelborder,3

[com_15666]
type=graphic
x=247
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15667]
type=graphic
x=350
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15668]
type=graphic
x=317
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15669]
type=graphic
x=282
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15670]
type=graphic
x=337
y=207
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15671]
type=graphic
x=381
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15672]
type=graphic
x=180
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15673]
type=graphic
x=145
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15674]
type=graphic
x=123
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15675]
type=graphic
x=104
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15676]
type=graphic
x=338
y=221
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15677]
type=graphic
x=176
y=221
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15678]
type=graphic
x=105
y=221
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15679]
type=graphic
x=250
y=221
width=88
height=60
layer=com_15614
graphic=tradebacking,0

[com_15680]
type=graphic
x=389
y=50
width=36
height=36
layer=com_15614
graphic=steelborder2,0

[com_15681]
type=text
x=105
y=44
width=321
height=14
layer=com_15614
textfont=b12_full
text=Amazing Farming Equipment Store
textalignh=centre
textshadow=yes
colour=0x7dd764

[com_15682]
type=inv
x=168
y=104
width=3
height=2
layer=com_15614
paddingx=64
paddingy=32
op1=Remove

[com_15683]
type=inv
x=168
y=232
width=3
height=1
layer=com_15614
paddingx=64
op1=Remove 1
op2=Remove 5
op3=Remove All
op4=Remove X

[com_15684]
type=text
x=436
y=8
width=68
height=12
layer=com_15614
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x939292
colouractive=0xd6d5d5
mouseovercolour=0xffffff

[com_15685]
type=text
x=120
y=88
width=72
height=14
layer=com_15614
textfont=p12_full
text=Farming rake
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1435 > 0

[com_15686]
type=text
x=120
y=104
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd750
script=varplayerbit_1435 > 0

[com_15687]
type=text
x=120
y=120
width=31
height=12
layer=com_15614
textfont=p11_full
text=Max: 1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1435 > 0

[com_15688]
type=text
x=216
y=88
width=67
height=14
layer=com_15614
textfont=p12_full
text=Seed dibber
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1436 > 0

[com_15689]
type=text
x=216
y=104
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1436 > 0

[com_15690]
type=text
x=216
y=120
width=31
height=12
layer=com_15614
textfont=p11_full
text=Max: 1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1436 > 0

[com_15691]
type=text
x=312
y=88
width=105
height=14
layer=com_15614
textfont=p12_full
text=All-purpose spade
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1437 > 0

[com_15692]
type=text
x=312
y=104
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1437 > 0

[com_15693]
type=text
x=312
y=120
width=31
height=12
layer=com_15614
textfont=p11_full
text=Max: 1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1437 > 0

[com_15694]
type=text
x=120
y=152
width=58
height=14
layer=com_15614
textfont=p12_full
text=Secateurs
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1438 > 0

[com_15695]
type=text
x=120
y=168
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1438 > 0

[com_15696]
type=text
x=120
y=184
width=31
height=12
layer=com_15614
textfont=p11_full
text=Max: 1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1438 > 0

[com_15697]
type=text
x=216
y=152
width=74
height=14
layer=com_15614
textfont=p12_full
text=Watering Can
textactive=Watering Can (%2)
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1439 > 0
script1=varplayerbit_1439 -  + 1

[com_15698]
type=text
x=216
y=168
width=8
height=14
layer=com_15614
textfont=p12_full
text=0
textactive=1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1439 > 0

[com_15699]
type=text
x=216
y=184
width=31
height=12
layer=com_15614
textfont=p11_full
text=Max: 1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1439 > 0

[com_15700]
type=text
x=312
y=152
width=95
height=14
layer=com_15614
textfont=p12_full
text=Gardening trowel
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1440 > 0

[com_15701]
type=text
x=312
y=168
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1440 > 0

[com_15702]
type=text
x=312
y=184
width=31
height=12
layer=com_15614
textfont=p11_full
text=Max: 1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1440 > 0

[com_15703]
type=text
x=120
y=216
width=82
height=14
layer=com_15614
textfont=p12_full
text=Empty buckets
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1441 > 0

[com_15704]
type=text
x=120
y=232
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1441 > 0

[com_15705]
type=text
x=120
y=248
width=37
height=12
layer=com_15614
textfont=p11_full
text=Max: 31
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1441 > 0

[com_15706]
type=text
x=216
y=216
width=91
height=14
layer=com_15614
textfont=p12_full
text=Normal Compost
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1442 > 0

[com_15707]
type=text
x=216
y=232
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1442 > 0

[com_15708]
type=text
x=216
y=248
width=46
height=12
layer=com_15614
textfont=p11_full
text=Max: 255
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1442 > 0

[com_15709]
type=text
x=312
y=216
width=85
height=14
layer=com_15614
textfont=p12_full
text=Super Compost
textshadow=yes
colour=0x870000
colouractive=0x7dd764
script=varplayerbit_1443 > 0

[com_15710]
type=text
x=312
y=232
width=17
height=14
layer=com_15614
textfont=p12_full
text=%1
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1443 > 0

[com_15711]
type=text
x=312
y=248
width=46
height=12
layer=com_15614
textfont=p11_full
text=Max: 255
textshadow=yes
colour=0x872300
colouractive=0x7dd764
script=varplayerbit_1443 > 0

