[com_15192]
type=layer
width=512
height=334

[com_15193]
type=model
x=240
y=154
width=32
height=32
layer=com_15192
model=model_9371
modelangle=513,0,0
modelzoom=191

[com_15194]
type=rectangle
x=2
y=68
width=508
height=172
layer=com_15192
colour=0x202020
fill=yes

[com_15195]
type=rectangle
x=7
y=74
width=499
height=164
layer=com_15192
colour=0x404040
fill=yes

[com_15232]
type=layer
x=11
y=31
width=488
height=36
layer=com_15192

[com_15196]
type=model
x=32
y=122
width=32
height=32
layer=com_15192
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_15197]
type=model
x=115
y=122
width=32
height=32
layer=com_15192
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_15198]
type=model
x=198
y=122
width=32
height=32
layer=com_15192
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_15199]
type=model
x=281
y=122
width=32
height=32
layer=com_15192
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_15200]
type=model
x=365
y=123
width=32
height=32
layer=com_15192
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_15201]
type=model
x=449
y=122
width=32
height=32
layer=com_15192
model=model_3041
modelangle=400,0,0
modelzoom=800

[com_15202]
type=text
x=43
y=113
width=9
height=14
layer=com_15192
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15203]
type=text
x=126
y=113
width=9
height=14
layer=com_15192
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15204]
type=text
x=210
y=113
width=9
height=14
layer=com_15192
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15205]
type=text
x=292
y=114
width=9
height=14
layer=com_15192
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15206]
type=text
x=376
y=114
width=9
height=14
layer=com_15192
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15207]
type=text
x=460
y=114
width=9
height=14
layer=com_15192
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_15208]
type=model
x=223
y=11
width=32
height=32
layer=com_15192
model=model_9372
modelangle=396,6,0
modelzoom=278

[com_15209]
type=graphic
x=15
y=194
width=31
height=24
layer=com_15192
buttontype=1
graphic=leftarrow_small,0

[com_15210]
type=graphic
x=51
y=194
width=31
height=24
layer=com_15192
buttontype=1
graphic=rightarrow_small,0

[com_15211]
type=graphic
x=97
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=leftarrow_small,0

[com_15212]
type=graphic
x=133
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=rightarrow_small,0

[com_15213]
type=graphic
x=179
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=leftarrow_small,0

[com_15214]
type=graphic
x=216
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=rightarrow_small,0

[com_15215]
type=graphic
x=264
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=leftarrow_small,0

[com_15216]
type=graphic
x=300
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=rightarrow_small,0

[com_15217]
type=graphic
x=348
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=leftarrow_small,0

[com_15218]
type=graphic
x=384
y=194
width=32
height=25
layer=com_15192
buttontype=1
graphic=rightarrow_small,0

[com_15219]
type=graphic
x=468
y=193
width=32
height=25
layer=com_15192
buttontype=1
graphic=rightarrow_small,0

[com_15220]
type=graphic
x=433
y=193
width=32
height=25
layer=com_15192
buttontype=1
graphic=leftarrow_small,0

[com_15221]
type=text
x=420
y=39
width=68
height=11
layer=com_15192
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_15222]
type=text
x=206
y=36
width=110
height=14
layer=com_15192
textfont=b12_full
text=Name your cat ...
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_15223]
type=rectangle
x=193
y=262
width=128
height=32
layer=com_15192
buttontype=1
colour=0x404040
fill=yes

[com_15233]
type=text
x=229
y=269
width=53
height=14
layer=com_15192
textfont=b12_full
text=E N T E R
colour=0xffaa44

[com_15224]
type=model
x=32
y=397
width=20
height=32
layer=com_15192
model=model_9426
modelangle=11,1941,0
modelzoom=400

[com_15225]
type=model
x=469
y=395
width=32
height=32
layer=com_15192
model=model_3006
modelangle=11,128,0
modelzoom=400

[com_15226]
type=model
x=69
y=250
width=32
height=32
layer=com_15192
model=model_9373
modelangle=612,77,0
modelzoom=491

[com_15227]
type=model
x=89
y=252
width=32
height=32
layer=com_15192
model=model_9373
modelangle=612,77,0
modelzoom=550

[com_15228]
type=model
x=417
y=249
width=32
height=32
layer=com_15192
model=model_9373
modelangle=612,77,0
modelzoom=427

[com_15229]
type=model
x=398
y=251
width=32
height=32
layer=com_15192
model=model_9373
modelangle=612,77,0
modelzoom=521

