[com_363]
type=layer
width=512
height=334

[com_364]
type=text
x=21
y=5
width=441
height=17
layer=com_363
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_365]
type=text
x=21
y=29
width=441
height=17
layer=com_363
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_366]
type=text
x=21
y=53
width=441
height=17
layer=com_363
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

[com_367]
type=text
x=69
y=77
width=350
height=17
layer=com_363
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

