[com_6073]
type=layer
width=512
height=334

[com_6074]
type=graphic
x=14
y=80
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6075]
type=graphic
x=12
y=140
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6076]
type=graphic
x=12
y=200
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6077]
type=graphic
x=100
y=80
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6078]
type=graphic
x=100
y=140
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6079]
type=graphic
x=100
y=200
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6080]
type=graphic
x=188
y=80
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6081]
type=graphic
x=188
y=140
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6082]
type=graphic
x=188
y=200
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6083]
type=graphic
x=364
y=80
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6084]
type=graphic
x=412
y=46
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6085]
type=graphic
x=361
y=45
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6086]
type=graphic
x=274
y=45
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6087]
type=graphic
x=187
y=45
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6088]
type=graphic
x=100
y=45
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6089]
type=graphic
x=13
y=45
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6090]
type=graphic
x=409
y=232
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6091]
type=graphic
x=272
y=231
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6092]
type=graphic
x=412
y=80
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6093]
type=graphic
x=359
y=235
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6094]
type=graphic
x=185
y=235
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6095]
type=graphic
x=98
y=233
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6096]
type=graphic
x=276
y=80
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6097]
type=graphic
x=276
y=140
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6098]
type=graphic
x=12
y=231
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6099]
type=graphic
x=276
y=200
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6100]
type=graphic
x=364
y=140
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6186]
type=graphic
x=364
y=200
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6102]
type=graphic
x=412
y=140
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6103]
type=graphic
x=412
y=200
width=88
height=60
layer=com_6073
graphic=tradebacking,0

[com_6104]
type=graphic
x=12
y=42
width=25
height=30
layer=com_6073
graphic=steelborder,0

[com_6105]
type=graphic
x=-3
y=86
width=36
height=36
layer=com_6073
graphic=miscgraphics,2

[com_6106]
type=graphic
x=-3
y=122
width=36
height=36
layer=com_6073
graphic=miscgraphics,2

[com_6107]
type=graphic
x=-3
y=158
width=36
height=36
layer=com_6073
graphic=miscgraphics,2

[com_6108]
type=graphic
x=-3
y=194
width=36
height=36
layer=com_6073
graphic=miscgraphics,2

[com_6109]
type=graphic
x=479
y=86
width=36
height=36
layer=com_6073
graphic=steelborder2,1

[com_6110]
type=graphic
x=479
y=229
width=36
height=36
layer=com_6073
graphic=steelborder2,1

[com_6111]
type=graphic
x=479
y=122
width=36
height=36
layer=com_6073
graphic=steelborder2,1

[com_6112]
type=graphic
x=479
y=158
width=36
height=36
layer=com_6073
graphic=steelborder2,1

[com_6113]
type=graphic
x=479
y=194
width=36
height=36
layer=com_6073
graphic=steelborder2,1

[com_6101]
type=model
x=31
y=47
width=437
height=242
layer=com_6073
model=model_3182
modelangle=1551,1020,0
modelzoom=606

[com_6115]
type=graphic
x=55
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6116]
type=graphic
x=125
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6117]
type=graphic
x=160
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6118]
type=graphic
x=195
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6119]
type=graphic
x=230
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6120]
type=graphic
x=265
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6121]
type=graphic
x=300
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6122]
type=graphic
x=335
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6123]
type=graphic
x=370
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6124]
type=graphic
x=405
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6125]
type=graphic
x=-3
y=230
width=36
height=36
layer=com_6073
graphic=miscgraphics,2

[com_6126]
type=graphic
x=90
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6127]
type=graphic
x=71
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6128]
type=graphic
x=106
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6129]
type=graphic
x=141
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6130]
type=graphic
x=176
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6131]
type=graphic
x=211
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6187]
type=graphic
x=246
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6133]
type=graphic
x=281
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6134]
type=graphic
x=316
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6135]
type=graphic
x=479
y=61
width=36
height=36
layer=com_6073
graphic=steelborder2,1

[com_6136]
type=graphic
x=351
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6137]
type=graphic
x=386
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6138]
type=graphic
x=-3
y=67
width=36
height=36
layer=com_6073
graphic=miscgraphics,2

[com_6139]
type=graphic
x=421
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6140]
type=graphic
x=248
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6141]
type=graphic
x=36
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6142]
type=graphic
x=20
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6143]
type=graphic
x=475
y=42
width=25
height=30
layer=com_6073
graphic=steelborder,1

[com_6144]
type=graphic
x=456
y=27
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6145]
type=graphic
x=475
y=265
width=25
height=30
layer=com_6073
graphic=steelborder,3

[com_6146]
type=graphic
x=440
y=274
width=36
height=36
layer=com_6073
graphic=miscgraphics,3

[com_6132]
type=text
x=421
y=54
width=68
height=11
layer=com_6073
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_6148]
type=graphic
x=283
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6149]
type=graphic
x=318
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6150]
type=graphic
x=353
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6151]
type=graphic
x=388
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6152]
type=graphic
x=423
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6153]
type=graphic
x=458
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6154]
type=graphic
x=213
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6155]
type=graphic
x=178
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6188]
type=graphic
x=143
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6189]
type=graphic
x=108
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6190]
type=graphic
x=73
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6191]
type=graphic
x=12
y=265
width=25
height=30
layer=com_6073
graphic=steelborder,2

[com_6192]
type=graphic
x=38
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6193]
type=graphic
x=17
y=64
width=36
height=36
layer=com_6073
graphic=steelborder2,0

[com_6194]
type=text
clientcode=655
x=56
y=118
width=401
height=14
layer=com_6073
textfont=p12_full
text=You last logged in 3 days ago from bighouse.onthehill.webcompany.com
textalignh=centre
textshadow=yes

[com_6195]
type=text
x=173
y=55
width=159
height=17
layer=com_6073
textfont=q8_full
text=Welcome to RuneScape
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6196]
type=text
x=78
y=183
width=62
height=17
layer=com_6073
textfont=q8_full
text=You have
textshadow=yes

[com_6197]
type=text
clientcode=651
x=151
y=183
width=129
height=17
layer=com_6073
textfont=q8_full
text=0 unread messages
textalignh=centre
textshadow=yes
colour=0x00ff00

[com_6198]
type=text
x=288
y=184
width=164
height=17
layer=com_6073
textfont=q8_full
text=in your message centre.
textshadow=yes

[com_6199]
type=text
x=91
y=151
width=327
height=17
layer=com_6073
textfont=q8_full
text=Jagex staff will NEVER email you. We use the
textshadow=yes

[com_6200]
type=text
x=133
y=167
width=259
height=17
layer=com_6073
textfont=q8_full
text=message-centre on this website instead.
textshadow=yes

[com_6201]
type=text
clientcode=652
x=92
y=230
width=332
height=14
layer=com_6073
textfont=p12_full
text=You have not yet saved any password recovery questions.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6202]
type=text
clientcode=653
x=81
y=246
width=353
height=14
layer=com_6073
textfont=p12_full
text=We strongly recommend you do so now to secure your account.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_6203]
type=text
clientcode=654
x=73
y=263
width=373
height=14
layer=com_6073
textfont=p12_full
text=Do this from the 'account management' area on our front webpage
textalignh=centre
textshadow=yes
colour=0xffff00

