[com_1741]
type=layer
width=512
height=334

[com_1742]
type=model
x=243
y=138
width=35
height=35
layer=com_1741
model=model_3032
modelangle=400,0,0
modelzoom=650

[com_1743]
type=text
x=209
y=108
width=106
height=17
layer=com_1741
textfont=q8_full
text=Congratulations!
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1744]
type=text
x=424
y=28
width=68
height=11
layer=com_1741
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_1745]
type=text
y=134
width=512
height=2
layer=com_1741
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xffff00

[com_1746]
type=text
x=212
y=241
width=69
height=14
layer=com_1741
textfont=p12_full
text=Total Points:
textalignh=centre
textshadow=yes
colour=0x0099ff

[com_1747]
type=text
x=285
y=241
width=17
height=14
layer=com_1741
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x0099ff
script0=varplayer_101

[com_1748]
type=model
x=341
y=195
width=32
height=32
layer=com_1741
model=model_3037
modelangle=500,0,0
modelzoom=800

[com_3208]
type=text
x=212
y=180
width=93
height=14
layer=com_1741
textfont=p12_full
text=You are awarded
textshadow=yes
colour=0x00c000

[com_3209]
type=text
x=256
y=198
width=8
height=14
layer=com_1741
textfont=p12_full
text=0
textalignh=centre
textshadow=yes
colour=0xff0000

[com_3210]
type=text
x=222
y=214
width=76
height=14
layer=com_1741
textfont=p12_full
text=Quest points.
textalignh=centre
textshadow=yes
colour=0x00c000

[com_3211]
type=model
x=130
y=202
width=32
height=32
layer=com_1741
model=model_3862
modelangle=100,0,0
modelzoom=400

[com_3212]
type=model
x=164
y=197
width=32
height=32
layer=com_1741
model=model_3864
modelangle=200,150,0
modelzoom=400

[com_4908]
type=model
x=136
y=223
width=32
height=32
layer=com_1741
model=model_3860
modelangle=200,0,0
modelzoom=500

