[com_14606]
type=layer
width=512
height=334

[com_14607]
type=text
x=424
y=28
width=68
height=11
layer=com_14606
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_14608]
type=model
x=212
y=75
width=55
height=81
layer=com_14606
model=model_7120
modelangle=510,0,0
modelzoom=671

[com_14609]
type=text
x=61
y=68
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj1
textalignh=centre
colour=0x000000

[com_14610]
type=text
x=61
y=84
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj2
textalignh=centre
colour=0x000000

[com_14611]
type=text
x=61
y=100
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj3
textalignh=centre
colour=0x000000

[com_14612]
type=text
x=61
y=116
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj4
textalignh=centre
colour=0x000000

[com_14613]
type=text
x=61
y=132
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj5
textalignh=centre
colour=0x000000

[com_14614]
type=text
x=61
y=148
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj6
textalignh=centre
colour=0x000000

[com_14615]
type=text
x=61
y=164
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj7
textalignh=centre
colour=0x000000

[com_14616]
type=text
x=61
y=180
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj8
textalignh=centre
colour=0x000000

[com_14617]
type=text
x=61
y=196
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj9
textalignh=centre
colour=0x000000

[com_14618]
type=text
x=61
y=212
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj10
textalignh=centre
colour=0x000000

[com_14619]
type=text
x=61
y=228
width=331
height=14
layer=com_14606
textfont=p12_full
text=lj11
textalignh=centre
colour=0x000000

[com_14620]
type=layer
x=58
y=63
width=340
height=23
layer=com_14606

[com_14621]
type=text
x=12
y=5
width=18
height=14
layer=com_14620
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14622]
type=text
x=306
y=5
width=18
height=14
layer=com_14620
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14623]
type=layer
x=58
y=79
width=340
height=23
layer=com_14606

[com_14624]
type=text
x=12
y=5
width=18
height=14
layer=com_14623
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14625]
type=text
x=306
y=5
width=18
height=14
layer=com_14623
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14626]
type=layer
x=58
y=95
width=340
height=23
layer=com_14606

[com_14627]
type=text
x=12
y=5
width=18
height=14
layer=com_14626
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14628]
type=text
x=306
y=5
width=18
height=14
layer=com_14626
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14629]
type=layer
x=58
y=111
width=340
height=23
layer=com_14606

[com_14630]
type=text
x=12
y=5
width=18
height=14
layer=com_14629
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14631]
type=text
x=306
y=5
width=18
height=14
layer=com_14629
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14632]
type=layer
x=58
y=127
width=340
height=23
layer=com_14606

[com_14633]
type=text
x=12
y=5
width=18
height=14
layer=com_14632
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14634]
type=text
x=306
y=5
width=18
height=14
layer=com_14632
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14635]
type=layer
x=58
y=143
width=340
height=23
layer=com_14606

[com_14636]
type=text
x=12
y=5
width=18
height=14
layer=com_14635
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14637]
type=text
x=306
y=5
width=18
height=14
layer=com_14635
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14638]
type=layer
x=58
y=159
width=340
height=23
layer=com_14606

[com_14639]
type=text
x=12
y=5
width=18
height=14
layer=com_14638
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14640]
type=text
x=306
y=5
width=18
height=14
layer=com_14638
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14641]
type=layer
x=58
y=175
width=340
height=23
layer=com_14606

[com_14642]
type=text
x=12
y=5
width=18
height=14
layer=com_14641
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14643]
type=text
x=306
y=5
width=18
height=14
layer=com_14641
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14644]
type=layer
x=58
y=191
width=340
height=23
layer=com_14606

[com_14645]
type=text
x=12
y=5
width=18
height=14
layer=com_14644
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14646]
type=text
x=306
y=5
width=18
height=14
layer=com_14644
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14647]
type=layer
x=58
y=207
width=340
height=23
layer=com_14606

[com_14648]
type=text
x=12
y=5
width=18
height=14
layer=com_14647
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14649]
type=text
x=306
y=5
width=18
height=14
layer=com_14647
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14650]
type=layer
x=58
y=223
width=340
height=23
layer=com_14606

[com_14651]
type=text
x=12
y=5
width=18
height=14
layer=com_14650
textfont=p12_full
text=>>>
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14652]
type=text
x=306
y=5
width=18
height=14
layer=com_14650
textfont=p12_full
text=<<<
textalignh=centre
textshadow=yes
colour=0xff0000

[com_14653]
type=text
x=101
y=38
width=244
height=14
layer=com_14606
textfont=p12_full
text=Items I need to get for King Roald's garden:
textshadow=yes
colour=0xffff00

