[com_13561]
type=layer
width=512
height=334

[com_13562]
type=model
x=127
y=261
width=32
height=32
layer=com_13570
model=model_7015
modelangle=496,0,0
modelzoom=1200

[com_13563]
type=model
x=254
y=50
width=32
height=32
layer=com_13570
model=model_7022
modelangle=500,0,0
modelzoom=800

[com_13564]
type=model
x=153
y=32
width=32
height=32
layer=com_13571
model=model_7020
modelangle=500,0,0
modelzoom=800

[com_13565]
type=model
x=176
y=295
width=32
height=32
layer=com_13571
model=model_7018
modelangle=500,0,0
modelzoom=800

[com_13566]
type=model
x=137
y=136
width=32
height=32
layer=com_13572
model=model_7021
modelangle=500,0,0
modelzoom=800

[com_13567]
type=model
x=262
y=40
width=32
height=32
layer=com_13573
model=model_7017
modelangle=500,0,0
modelzoom=800

[com_13568]
type=model
x=199
y=128
width=32
height=32
layer=com_13573
model=model_7014
modelangle=500,0,0
modelzoom=1200

[com_13569]
type=model
x=95
y=295
width=32
height=32
layer=com_13574
model=model_7013
modelangle=500,0,0
modelzoom=800

[com_13570]
type=layer
width=512
height=334
layer=com_13561
hide=yes

[com_13571]
type=layer
width=512
height=334
layer=com_13561
hide=yes

[com_13572]
type=layer
width=512
height=334
layer=com_13561
hide=yes

[com_13573]
type=layer
width=512
height=400
layer=com_13561
hide=yes

[com_13574]
type=layer
width=512
height=400
layer=com_13561
hide=yes

