[com_5454]
type=layer
width=512
height=334

[com_5455]
type=graphic
x=12
y=20
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5456]
type=graphic
x=12
y=80
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5457]
type=graphic
x=12
y=140
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5458]
type=graphic
x=12
y=200
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5459]
type=graphic
x=12
y=260
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5460]
type=graphic
x=100
y=20
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5461]
type=graphic
x=100
y=80
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5462]
type=graphic
x=100
y=140
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5463]
type=graphic
x=100
y=200
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5464]
type=graphic
x=188
y=20
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5465]
type=graphic
x=100
y=260
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5466]
type=graphic
x=188
y=80
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5467]
type=graphic
x=188
y=140
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5468]
type=graphic
x=188
y=200
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5469]
type=graphic
x=188
y=260
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5470]
type=graphic
x=276
y=20
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5471]
type=graphic
x=364
y=80
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5472]
type=graphic
x=276
y=80
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5473]
type=graphic
x=276
y=140
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5474]
type=graphic
x=276
y=200
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5475]
type=graphic
x=276
y=260
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5476]
type=graphic
x=364
y=140
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5477]
type=graphic
x=364
y=20
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5478]
type=graphic
x=364
y=200
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5479]
type=graphic
x=364
y=260
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5480]
type=graphic
x=412
y=20
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5481]
type=graphic
x=412
y=80
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5482]
type=graphic
x=412
y=140
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5483]
type=graphic
x=412
y=200
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5484]
type=graphic
x=412
y=260
width=88
height=60
layer=com_5454
graphic=tradebacking,0

[com_5485]
type=graphic
x=12
y=20
width=25
height=30
layer=com_5454
graphic=steelborder,0

[com_5486]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5487]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5488]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5489]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5490]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5491]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5492]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_5454
graphic=miscgraphics,2

[com_5493]
type=graphic
x=479
y=50
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5494]
type=graphic
x=479
y=86
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5495]
type=graphic
x=479
y=122
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5496]
type=graphic
x=479
y=158
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5497]
type=graphic
x=479
y=194
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5498]
type=graphic
x=479
y=230
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5499]
type=graphic
x=479
y=266
width=36
height=36
layer=com_5454
graphic=steelborder2,1

[com_5500]
type=graphic
x=73
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5501]
type=graphic
x=109
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5502]
type=graphic
x=145
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5503]
type=graphic
x=181
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5504]
type=graphic
x=217
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5505]
type=graphic
x=253
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5506]
type=graphic
x=289
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5507]
type=graphic
x=325
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5508]
type=graphic
x=361
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5509]
type=graphic
x=397
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5510]
type=graphic
x=433
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5511]
type=graphic
x=72
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5512]
type=graphic
x=108
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5513]
type=graphic
x=144
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5514]
type=graphic
x=180
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5515]
type=graphic
x=216
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5516]
type=graphic
x=252
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5517]
type=graphic
x=288
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5518]
type=graphic
x=324
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5519]
type=graphic
x=360
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5520]
type=graphic
x=396
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5521]
type=graphic
x=432
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5522]
type=graphic
x=252
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5523]
type=graphic
x=37
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5524]
type=graphic
x=37
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5525]
type=graphic
x=12
y=290
width=25
height=30
layer=com_5454
graphic=steelborder,2

[com_5526]
type=graphic
x=475
y=20
width=25
height=30
layer=com_5454
graphic=steelborder,1

[com_5527]
type=graphic
x=439
y=5
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5528]
type=graphic
x=475
y=290
width=25
height=30
layer=com_5454
graphic=steelborder,3

[com_5529]
type=graphic
x=439
y=299
width=36
height=36
layer=com_5454
graphic=miscgraphics,3

[com_5530]
type=graphic
x=288
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5531]
type=graphic
x=324
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5532]
type=graphic
x=360
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5533]
type=graphic
x=396
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5534]
type=graphic
x=432
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5535]
type=graphic
x=459
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5536]
type=graphic
x=216
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5537]
type=graphic
x=180
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5538]
type=graphic
x=144
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5539]
type=graphic
x=108
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5540]
type=graphic
x=72
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5541]
type=graphic
x=36
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5542]
type=graphic
x=17
y=34
width=36
height=36
layer=com_5454
graphic=steelborder2,0

[com_5543]
type=text
x=420
y=29
width=68
height=11
layer=com_5454
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_5544]
type=text
x=182
y=274
width=137
height=14
layer=com_5454
buttontype=1
textfont=b12_full
text=CONFIRM (3000 Gold)
textshadow=yes
colour=0xffff00
mouseovercolour=0x00ff00

[com_5545]
type=rectangle
x=229
y=64
width=35
height=202
layer=com_5454
colour=0x000000
fill=yes

[com_5546]
type=model
x=90
y=160
width=32
height=32
layer=com_5454
model=model_63
modelangle=0,1800,0
modelzoom=500

[com_5547]
type=model
x=380
y=165
width=32
height=32
layer=com_5454
model=model_103
modelangle=0,200,0
modelzoom=500

[com_5548]
type=model
x=90
y=160
width=32
height=32
layer=com_5454
model=model_81
modelangle=0,1800,0
modelzoom=500

[com_5549]
type=rectangle
x=230
y=90
width=32
height=25
layer=com_5454
buttontype=5
colour=0xbb8f6a
fill=yes
script=varplayer_262 = 1

[com_5550]
type=rectangle
x=230
y=115
width=32
height=25
layer=com_5454
buttontype=5
colour=0xa47f5d
fill=yes
script=varplayer_262 = 2

[com_5551]
type=rectangle
x=230
y=140
width=32
height=25
layer=com_5454
buttontype=5
colour=0x9e7a49
fill=yes
script=varplayer_262 = 3

[com_5552]
type=rectangle
x=230
y=165
width=32
height=25
layer=com_5454
buttontype=5
colour=0x8e6e42
fill=yes
script=varplayer_262 = 4

[com_5553]
type=rectangle
x=230
y=190
width=32
height=25
layer=com_5454
buttontype=5
colour=0x79582a
fill=yes
script=varplayer_262 = 5

[com_5554]
type=rectangle
x=230
y=215
width=32
height=25
layer=com_5454
buttontype=5
colour=0x644e24
fill=yes
script=varplayer_262 = 6

[com_5555]
type=rectangle
x=230
y=240
width=32
height=25
layer=com_5454
buttontype=5
colour=0x4c3d09
fill=yes
script=varplayer_262 = 7

[com_5556]
type=rectangle
x=230
y=65
width=32
height=25
layer=com_5454
buttontype=5
colour=0xd5a985
fill=yes
script=varplayer_262 = 8

[com_5557]
type=text
x=78
y=273
width=33
height=14
layer=com_5454
buttontype=5
textfont=b12_full
text=MALE
textshadow=yes
colour=0x000000
colouractive=0x00ff00
script=varplayer_261 = 1

[com_5558]
type=text
x=167
y=29
width=166
height=14
layer=com_5454
textfont=p12_full
text=Select skin colour and gender
textshadow=yes
colour=0xffff00

[com_5559]
type=text
x=377
y=273
width=47
height=14
layer=com_5454
buttontype=5
textfont=b12_full
text=FEMALE
textshadow=yes
colour=0x000000
colouractive=0x00ff00
script=varplayer_261 = 2

[com_5560]
type=graphic
x=233
y=65
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 8

[com_5561]
type=graphic
x=233
y=90
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 1

[com_5562]
type=graphic
x=233
y=115
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 2

[com_5563]
type=graphic
x=233
y=140
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 3

[com_5564]
type=graphic
x=233
y=165
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 4

[com_5565]
type=graphic
x=233
y=190
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 5

[com_5566]
type=graphic
x=233
y=215
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 6

[com_5567]
type=graphic
x=233
y=240
width=25
height=25
layer=com_5454
graphicactive=headicons,1
script=varplayer_262 = 7

[com_5568]
type=graphic
x=60
y=94
width=100
height=150
layer=com_5454
buttontype=5
script=varplayer_261 = 1

[com_5569]
type=graphic
x=341
y=87
width=100
height=150
layer=com_5454
buttontype=5
script=varplayer_261 = 2

