[com_4461]
type=layer
width=512
height=334

[com_4462]
type=graphic
x=12
y=20
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4463]
type=graphic
x=12
y=80
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4464]
type=graphic
x=12
y=140
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4465]
type=graphic
x=12
y=200
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4466]
type=graphic
x=12
y=260
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4467]
type=graphic
x=100
y=20
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4468]
type=graphic
x=100
y=80
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4469]
type=graphic
x=100
y=140
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4470]
type=graphic
x=100
y=200
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4471]
type=graphic
x=188
y=20
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4472]
type=graphic
x=100
y=260
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4473]
type=graphic
x=188
y=80
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4474]
type=graphic
x=188
y=140
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4475]
type=graphic
x=188
y=200
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4476]
type=graphic
x=188
y=260
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4477]
type=graphic
x=276
y=20
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4478]
type=graphic
x=364
y=80
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4479]
type=graphic
x=276
y=80
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4480]
type=graphic
x=276
y=140
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4481]
type=graphic
x=276
y=200
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4482]
type=graphic
x=276
y=260
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4483]
type=graphic
x=364
y=140
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4484]
type=graphic
x=364
y=20
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4485]
type=graphic
x=364
y=200
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4486]
type=graphic
x=364
y=260
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4487]
type=graphic
x=412
y=20
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4488]
type=graphic
x=412
y=80
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4489]
type=graphic
x=412
y=140
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4490]
type=graphic
x=412
y=200
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4491]
type=graphic
x=412
y=260
width=88
height=60
layer=com_4461
graphic=tradebacking,0

[com_4492]
type=graphic
x=12
y=20
width=25
height=30
layer=com_4461
graphic=steelborder,0

[com_4493]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4494]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4495]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4496]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4497]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4498]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4499]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_4461
graphic=miscgraphics,2

[com_4500]
type=graphic
x=479
y=50
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4501]
type=graphic
x=479
y=86
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4502]
type=graphic
x=479
y=122
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4503]
type=graphic
x=479
y=158
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4504]
type=graphic
x=479
y=194
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4505]
type=graphic
x=479
y=230
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4506]
type=graphic
x=479
y=266
width=36
height=36
layer=com_4461
graphic=steelborder2,1

[com_4507]
type=graphic
x=73
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4508]
type=graphic
x=109
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4509]
type=graphic
x=145
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4510]
type=graphic
x=181
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4511]
type=graphic
x=217
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4512]
type=graphic
x=253
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4513]
type=graphic
x=289
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4514]
type=graphic
x=325
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4515]
type=graphic
x=361
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4516]
type=graphic
x=397
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4517]
type=graphic
x=433
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4518]
type=graphic
x=72
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4519]
type=graphic
x=108
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4520]
type=graphic
x=144
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4521]
type=graphic
x=180
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4522]
type=graphic
x=216
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4523]
type=graphic
x=252
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4524]
type=graphic
x=288
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4525]
type=graphic
x=324
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4526]
type=graphic
x=360
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4527]
type=graphic
x=396
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4528]
type=graphic
x=432
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4529]
type=graphic
x=252
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4530]
type=graphic
x=37
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4531]
type=graphic
x=37
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4532]
type=graphic
x=12
y=290
width=25
height=30
layer=com_4461
graphic=steelborder,2

[com_4533]
type=graphic
x=475
y=20
width=25
height=30
layer=com_4461
graphic=steelborder,1

[com_4534]
type=graphic
x=439
y=5
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4535]
type=graphic
x=475
y=290
width=25
height=30
layer=com_4461
graphic=steelborder,3

[com_4536]
type=graphic
x=439
y=299
width=36
height=36
layer=com_4461
graphic=miscgraphics,3

[com_4537]
type=graphic
x=288
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4538]
type=graphic
x=324
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4539]
type=graphic
x=360
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4540]
type=graphic
x=396
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4541]
type=graphic
x=432
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4542]
type=graphic
x=459
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4543]
type=graphic
x=216
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4544]
type=graphic
x=180
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4545]
type=graphic
x=144
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4546]
type=graphic
x=108
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4547]
type=graphic
x=72
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4548]
type=graphic
x=36
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4549]
type=graphic
x=17
y=34
width=36
height=36
layer=com_4461
graphic=steelborder2,0

[com_4550]
type=model
x=101
y=107
width=32
height=32
layer=com_4461
buttontype=1
model=model_2445
modelangle=258,206,0
modelzoom=311
buttontext=Buy for 140 tickets:

[com_4551]
type=model
x=232
y=104
width=32
height=32
layer=com_4461
buttontype=1
model=model_2565
modelangle=500,100,0
modelzoom=400
buttontext=Buy for 150 tickets:

[com_4552]
type=model
x=372
y=104
width=32
height=32
layer=com_4461
buttontype=1
model=model_2711
modelangle=600,200,0
modelzoom=700
buttontext=Buy for 2,000 tickets:

[com_4553]
type=text
x=202
y=163
width=96
height=17
layer=com_4461
textfont=q8_full
text=Studded Body
textactive=Studded Body
textalignh=centre
textshadow=yes
colour=0x808080
colouractive=0x00ff00
script=inv_total(interface_3213:com_3214, obj_1464) > 149

[com_4554]
type=model
x=103
y=240
width=32
height=32
layer=com_4461
buttontype=1
model=model_2541
modelangle=150,100,0
modelzoom=350
buttontext=Buy for 100 tickets:

[com_4555]
type=text
x=60
y=163
width=118
height=17
layer=com_4461
textfont=q8_full
text=30 Barb BoltTips
textactive=30 Barb BoltTips
textalignh=centre
textshadow=yes
colour=0x808080
colouractive=0x00ff00
script=inv_total(interface_3213:com_3214, obj_1464) > 139

[com_4556]
type=text
x=327
y=164
width=115
height=17
layer=com_4461
textfont=q8_full
text=50 Rune Arrows
textactive=50 Rune Arrows
textalignh=centre
textshadow=yes
colour=0x808080
colouractive=0x00ff00
script=inv_total(interface_3213:com_3214, obj_1464) > 1999

[com_4557]
type=model
x=223
y=227
width=32
height=32
layer=com_4461
buttontype=1
model=model_2745
modelangle=500,100,0
modelzoom=400
buttontext=Buy for 2,400 tickets:

[com_4558]
type=text
x=90
y=29
width=314
height=17
layer=com_4461
textfont=q8_full
text=What would you like to buy with your tickets?
textalignh=centre
colour=0xffff00

[com_4559]
type=model
x=359
y=226
width=32
height=32
layer=com_4461
buttontype=1
model=model_2763
modelangle=600,0,0
modelzoom=700
buttontext=Buy for 2,000 tickets:

[com_4560]
type=text
x=104
y=282
width=25
height=17
layer=com_4461
textfont=q8_full
text=Coif
textactive=Coif
textshadow=yes
colour=0x808080
colouractive=0x00ff00
script=inv_total(interface_3213:com_3214, obj_1464) > 99

[com_4561]
type=text
x=171
y=282
width=118
height=17
layer=com_4461
textfont=q8_full
text=Dragonhide Body
textactive=Dragonhide Body
textshadow=yes
colour=0x808080
colouractive=0x00ff00
script=inv_total(interface_3213:com_3214, obj_1464) > 2399

[com_4562]
type=text
x=311
y=281
width=139
height=17
layer=com_4461
textfont=q8_full
text=20 Adamant Javelins
textactive=20 Adamant Javelins
textshadow=yes
colour=0x808080
colouractive=0x00ff00
script=inv_total(interface_3213:com_3214, obj_1464) > 1999

[com_4563]
type=text
x=415
y=29
width=72
height=14
layer=com_4461
buttontype=1
textfont=p12_full
text=Close window
textshadow=yes
colour=0x808080

[com_5991]
type=model
x=22
y=175
width=37
height=151
layer=com_4461
model=model_3181
modelangle=1549,1,0
modelzoom=692

[com_5992]
type=model
x=455
y=178
width=36
height=151
layer=com_4461
model=model_3181
modelangle=1551,2047,0
modelzoom=692

