[com_147]
type=layer
width=512
height=334

[com_148]
type=text
x=113
y=28
width=58
height=11
layer=com_147
textfont=p11_full
text=Energy left:
textshadow=yes
colour=0x2ded01

[com_149]
type=text
x=129
y=40
width=28
height=14
layer=com_147
textfont=p12_full
text=%1%
textalignh=centre
textshadow=yes
colour=0xffff00
script0=runenergy_visible

[com_150]
type=graphic
x=53
y=108
width=36
height=36
layer=com_147
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_172 = 0

[com_151]
type=graphic
x=101
y=108
width=36
height=36
layer=com_147
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_172 = 1

[com_152]
type=graphic
x=9
y=44
width=36
height=36
layer=com_147
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_173 = 0

[com_153]
type=graphic
x=53
y=44
width=36
height=36
layer=com_147
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_173 = 1

[com_154]
type=text
x=47
y=4
width=101
height=14
layer=com_147
textfont=b12_full
text=Player controls
textshadow=yes
colour=0x00ffff

[com_155]
type=text
x=56
y=88
width=79
height=14
layer=com_147
textfont=p12_full
text=Auto retaliate
textshadow=yes
colour=0xee7c02

[com_156]
type=text
x=109
y=118
width=20
height=14
layer=com_147
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_157]
type=text
x=63
y=118
width=15
height=14
layer=com_147
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_158]
type=text
x=14
y=25
width=68
height=14
layer=com_147
textfont=p12_full
text=Move speed
textshadow=yes
colour=0x2ded01

[com_159]
type=text
x=61
y=54
width=21
height=14
layer=com_147
textfont=p12_full
text=Run
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_160]
type=text
x=15
y=54
width=25
height=14
layer=com_147
textfont=p12_full
text=Walk
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_161]
type=graphic
x=45
y=33
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_162]
type=graphic
x=86
y=3
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_163]
type=graphic
x=3
y=63
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_164]
type=graphic
x=127
y=3
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_165]
type=graphic
x=3
y=33
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_166]
type=graphic
x=127
y=63
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_167]
type=graphic
x=45
y=63
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_168]
type=graphic
x=3
y=3
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_169]
type=graphic
x=45
y=3
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_170]
type=graphic
x=86
y=33
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_171]
type=graphic
x=127
y=33
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_172]
type=graphic
x=86
y=63
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_173]
type=text
x=6
y=69
width=28
height=11
layer=com_665
textfont=p11_full
text=Wave
textshadow=yes
colour=0xffff00

[com_174]
type=text
x=45
y=153
width=99
height=14
layer=com_147
textfont=p12_full
text=Emote animations
textshadow=yes
colour=0x02de01

[com_175]
type=text
x=135
y=10
width=20
height=11
layer=com_665
textfont=p11_full
text=Bow
textshadow=yes
colour=0xffff00

[com_176]
type=text
x=130
y=70
width=30
height=11
layer=com_665
textfont=p11_full
text=Dance
textshadow=yes
colour=0xffff00

[com_177]
type=text
x=6
y=39
width=30
height=11
layer=com_665
textfont=p11_full
text=Angry
textalignh=centre
textshadow=yes
colour=0xffff00

[com_178]
type=text
x=91
y=11
width=25
height=11
layer=com_665
textfont=p11_full
text=Think
textalignh=centre
textshadow=yes
colour=0xffff00

[com_179]
type=text
x=45
y=70
width=35
height=11
layer=com_665
textfont=p11_full
text=Beckon
textshadow=yes
colour=0xffff00

[com_180]
type=text
x=13
y=10
width=17
height=11
layer=com_665
textfont=p11_full
text=Yes
textshadow=yes
colour=0xffff00

[com_181]
type=text
x=57
y=11
width=13
height=11
layer=com_665
textfont=p11_full
text=No
textalignh=centre
textshadow=yes
colour=0xffff00

[com_182]
type=text
x=53
y=40
width=18
height=11
layer=com_665
textfont=p11_full
text=Cry
textshadow=yes
colour=0xffff00

[com_183]
type=text
x=104
y=55
width=76
height=11
layer=com_147
textfont=p11_full
text=Weight carried:
textshadow=yes
colour=0x2ded01

[com_184]
type=text
x=128
y=66
width=30
height=14
layer=com_147
textfont=p12_full
text=%1kg
textalignh=centre
textshadow=yes
colour=0xffff00
script0=runweight_visible

[com_185]
type=text
x=90
y=40
width=29
height=11
layer=com_665
textfont=p11_full
text=Laugh
textshadow=yes
colour=0xffff00

[com_186]
type=text
x=130
y=40
width=30
height=11
layer=com_665
textfont=p11_full
text=Cheer
textshadow=yes
colour=0xffff00

[com_187]
type=text
x=93
y=70
width=22
height=11
layer=com_665
textfont=p11_full
text=Clap
textshadow=yes
colour=0xffff00

[com_665]
type=layer
x=5
y=168
width=166
height=90
layer=com_147
scrollheight=240

[com_666]
type=graphic
x=45
y=180
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_667]
type=graphic
x=86
y=151
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_6503]
type=graphic
x=127
y=151
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_6506]
type=graphic
x=3
y=180
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_11100]
type=graphic
x=45
y=151
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_6519]
type=text
x=49
y=182
width=28
height=11
layer=com_665
textfont=p11_full
text=Glass
textshadow=yes
colour=0xffff00
script=varplayerbit_1367 = 0

[com_6522]
type=text
x=52
y=193
width=21
height=11
layer=com_665
textfont=p11_full
text=Wall
textshadow=yes
colour=0xffff00
script=varplayerbit_1367 = 0

[com_6532]
type=text
x=94
y=164
width=20
height=11
layer=com_665
textfont=p11_full
text=Box
textshadow=yes
colour=0xffff00
script=varplayerbit_1368 = 0

[com_6533]
type=text
x=90
y=153
width=28
height=11
layer=com_665
textfont=p11_full
text=Glass
textshadow=yes
colour=0xffff00
script=varplayerbit_1368 = 0

[com_6540]
type=text
x=132
y=153
width=26
height=11
layer=com_665
textfont=p11_full
text=Climb
textshadow=yes
colour=0xffff00
script=varplayerbit_1369 = 0

[com_6541]
type=text
x=133
y=164
width=25
height=11
layer=com_665
textfont=p11_full
text=Rope
textshadow=yes
colour=0xffff00
script=varplayerbit_1369 = 0

[com_11101]
type=text
x=10
y=187
width=23
height=11
layer=com_665
textfont=p11_full
text=Lean
textshadow=yes
colour=0xffff00
script=varplayerbit_1370 = 0

[com_11102]
type=text
x=52
y=153
width=23
height=11
layer=com_665
textfont=p11_full
text=Blow
textshadow=yes
colour=0xffff00

[com_11103]
type=text
x=53
y=164
width=21
height=11
layer=com_665
textfont=p11_full
text=Kiss
textshadow=yes
colour=0xffff00

[com_13362]
type=graphic
x=3
y=92
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13363]
type=graphic
x=45
y=92
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13364]
type=graphic
x=86
y=92
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13365]
type=graphic
x=127
y=92
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13366]
type=graphic
x=3
y=121
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13367]
type=graphic
x=45
y=121
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13368]
type=graphic
x=86
y=121
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13369]
type=graphic
x=127
y=121
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13370]
type=graphic
x=3
y=151
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13371]
type=text
x=8
y=98
width=27
height=12
layer=com_665
textfont=p11_full
text=Panic
textshadow=yes
colour=0xffff00

[com_13372]
type=text
x=55
y=98
width=15
height=12
layer=com_665
textfont=p11_full
text=Jig
textshadow=yes
colour=0xffff00

[com_13373]
type=text
x=93
y=98
width=22
height=12
layer=com_665
textfont=p11_full
text=Spin
textshadow=yes
colour=0xffff00

[com_13374]
type=text
x=133
y=94
width=25
height=12
layer=com_665
textfont=p11_full
text=Head
textshadow=yes
colour=0xffff00

[com_13375]
type=text
x=133
y=103
width=25
height=12
layer=com_665
textfont=p11_full
text=Bang
textshadow=yes
colour=0xffff00

[com_13376]
type=text
x=12
y=122
width=18
height=12
layer=com_665
textfont=p11_full
text=Joy
textshadow=yes
colour=0xffff00

[com_13377]
type=text
x=9
y=132
width=25
height=12
layer=com_665
textfont=p11_full
text=Jump
textshadow=yes
colour=0xffff00

[com_13378]
type=text
x=49
y=122
width=29
height=12
layer=com_665
textfont=p11_full
text=Rasp'
textshadow=yes
colour=0xffff00

[com_13379]
type=text
x=49
y=132
width=28
height=12
layer=com_665
textfont=p11_full
text=berry
textshadow=yes
colour=0xffff00

[com_13380]
type=text
x=93
y=127
width=24
height=12
layer=com_665
textfont=p11_full
text=Yawn
textshadow=yes
colour=0xffff00

[com_13381]
type=text
x=129
y=127
width=32
height=12
layer=com_665
textfont=p11_full
text=Salute
textshadow=yes
colour=0xffff00

[com_13382]
type=text
x=6
y=156
width=30
height=12
layer=com_665
textfont=p11_full
text=Shrug
textshadow=yes
colour=0xffff00

[com_13383]
type=graphic
x=86
y=180
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13384]
type=graphic
x=127
y=180
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_15166]
type=graphic
x=3
y=209
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_13386]
type=text
x=89
y=182
width=31
height=12
layer=com_665
textfont=p11_full
text=Goblin
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_13387]
type=text
x=130
y=182
width=31
height=12
layer=com_665
textfont=p11_full
text=Goblin
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_13388]
type=text
x=94
y=193
width=20
height=12
layer=com_665
textfont=p11_full
text=Bow
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_15170]
type=text
x=130
y=193
width=30
height=12
layer=com_665
textfont=p11_full
text=Dance
textshadow=yes
colour=0xffff00
script=varplayerbit_532 < 7

[com_15175]
type=text
x=3
y=215
width=35
height=12
layer=com_665
textfont=p11_full
text=Scared
textshadow=yes
colour=0xffff00
script=varplayerbit_1371 = 0

[com_18464]
type=graphic
x=45
y=209
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_18465]
type=graphic
x=86
y=209
width=36
height=25
layer=com_665
buttontype=1
graphic=miscgraphics2,0

[com_18466]
type=text
x=45
y=211
width=35
height=12
layer=com_665
textfont=p11_full
text=Zombie
textshadow=yes
colour=0xffff00
script=varplayerbit_1921 = 0

[com_18467]
type=text
x=51
y=223
width=23
height=12
layer=com_665
textfont=p11_full
text=Walk
textshadow=yes
colour=0xffff00
script=varplayerbit_1921 = 0

[com_18468]
type=text
x=87
y=211
width=35
height=12
layer=com_665
textfont=p11_full
text=Zombie
textshadow=yes
colour=0xffff00
script=varplayerbit_1920 = 0

[com_18469]
type=text
x=89
y=223
width=30
height=12
layer=com_665
textfont=p11_full
text=Dance
textshadow=yes
colour=0xffff00
script=varplayerbit_1920 = 0

