[com_14062]
type=layer
width=512
height=334

[com_14063]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8522
modelactive=model_8521
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 1

[com_14064]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8524
modelactive=model_8523
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

[com_14065]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8526
modelactive=model_8525
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 1

[com_14066]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8528
modelactive=model_8527
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

[com_14067]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8530
modelactive=model_8529
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 1

[com_14068]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8532
modelactive=model_8531
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

[com_14069]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8534
modelactive=model_8533
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 1

[com_14070]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8536
modelactive=model_8535
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

[com_14071]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8538
modelactive=model_8537
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 1

[com_14072]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8540
modelactive=model_8539
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

[com_14073]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8542
modelactive=model_8541
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 1

[com_14074]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8544
modelactive=model_8543
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

[com_14075]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8546
modelactive=model_8545
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 1

[com_14076]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8548
modelactive=model_8547
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

[com_14077]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8550
modelactive=model_8549
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 1

[com_14078]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8552
modelactive=model_8551
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

[com_14079]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8554
modelactive=model_8553
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 1

[com_14080]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8556
modelactive=model_8555
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 2

[com_14081]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8558
modelactive=model_8557
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 1

[com_14082]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8560
modelactive=model_8559
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 2

[com_14083]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8562
modelactive=model_8561
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 1

[com_14084]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8564
modelactive=model_8563
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 2

[com_14085]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8566
modelactive=model_8565
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 1

[com_14086]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8568
modelactive=model_8567
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 2

[com_14087]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8570
modelactive=model_8569
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_854 = 1

[com_14088]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8572
modelactive=model_8571
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_854 = 2

[com_14089]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8574
modelactive=model_8573
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_855 = 1

[com_14090]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8576
modelactive=model_8575
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_855 = 2

[com_14091]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8578
modelactive=model_8577
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_856 = 1

[com_14092]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8580
modelactive=model_8579
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_856 = 2

[com_14093]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8582
modelactive=model_8581
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_857 = 1

[com_14094]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8584
modelactive=model_8583
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_857 = 2

[com_14095]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8586
modelactive=model_8585
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_858 = 1

[com_14096]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8588
modelactive=model_8587
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_858 = 2

[com_14097]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8590
modelactive=model_8589
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_859 = 1

[com_14098]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8592
modelactive=model_8591
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_859 = 2

[com_14099]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8594
modelactive=model_8593
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_860 = 1

[com_14100]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8596
modelactive=model_8595
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_860 = 2

[com_14101]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8635
modelangle=350,0,0
modelzoom=1200

[com_14102]
type=model
x=248
y=130
width=32
height=32
layer=com_14062
model=model_8636
modelangle=350,0,0
modelzoom=1200

[com_14103]
type=layer
x=142
y=123
width=32
height=32
layer=com_14062
hide=yes

[com_14104]
type=model
x=106
y=7
width=32
height=32
layer=com_14103
model=model_8597
modelactive=model_8598
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_842 = 2

[com_14105]
type=layer
x=190
y=89
width=32
height=32
layer=com_14062
hide=yes

[com_14106]
type=model
x=58
y=41
width=32
height=32
layer=com_14105
model=model_8599
modelactive=model_8600
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_843 = 2

[com_14107]
type=layer
x=184
y=162
width=32
height=32
layer=com_14062
hide=yes

[com_14108]
type=model
x=64
y=-32
width=32
height=32
layer=com_14107
model=model_8601
modelactive=model_8602
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_844 = 2

[com_14109]
type=layer
x=266
y=56
width=32
height=32
layer=com_14062
hide=yes

[com_14110]
type=model
x=-18
y=74
width=32
height=32
layer=com_14109
model=model_8603
modelactive=model_8604
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_845 = 2

[com_14111]
type=layer
x=165
y=165
width=32
height=32
layer=com_14062
hide=yes

[com_14112]
type=model
x=83
y=-35
width=32
height=32
layer=com_14111
model=model_8605
modelactive=model_8606
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_846 = 2

[com_14113]
type=layer
x=227
y=203
width=32
height=32
layer=com_14062
hide=yes

[com_14114]
type=model
x=21
y=-73
width=32
height=32
layer=com_14113
model=model_8607
modelactive=model_8608
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_847 = 2

[com_14115]
type=layer
x=202
y=201
width=32
height=32
layer=com_14062
hide=yes

[com_14116]
type=model
x=46
y=-71
width=32
height=32
layer=com_14115
model=model_8609
modelactive=model_8610
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_848 = 2

[com_14117]
type=layer
x=314
y=203
width=32
height=32
layer=com_14062
hide=yes

[com_14118]
type=model
x=-66
y=-73
width=32
height=32
layer=com_14117
model=model_8611
modelactive=model_8612
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_849 = 2

[com_14119]
type=layer
x=314
y=218
width=40
height=40
layer=com_14062
hide=yes

[com_14120]
type=model
x=-66
y=-88
width=32
height=32
layer=com_14119
model=model_8613
modelactive=model_8614
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_850 = 2

[com_14121]
type=layer
x=314
y=233
width=40
height=40
layer=com_14062
hide=yes

[com_14122]
type=model
x=-66
y=-103
width=32
height=32
layer=com_14121
model=model_8615
modelactive=model_8616
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_851 = 2

[com_14123]
type=layer
x=314
y=248
width=40
height=40
layer=com_14062
hide=yes

[com_14124]
type=model
x=-66
y=-118
width=32
height=32
layer=com_14123
model=model_8617
modelactive=model_8618
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_852 = 2

[com_14125]
type=layer
x=314
y=263
width=40
height=40
layer=com_14062
hide=yes

[com_14126]
type=model
x=-66
y=-133
width=32
height=32
layer=com_14125
model=model_8619
modelactive=model_8620
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_853 = 2

[com_14127]
type=layer
x=314
y=278
width=40
height=40
layer=com_14062
hide=yes

[com_14128]
type=model
x=-66
y=-148
width=32
height=32
layer=com_14127
model=model_8621
modelactive=model_8622
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_854 = 2

[com_14129]
type=layer
x=314
y=293
width=40
height=40
layer=com_14062
hide=yes

[com_14130]
type=model
x=-66
y=-163
width=32
height=32
layer=com_14129
model=model_8623
modelactive=model_8624
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_855 = 2

[com_14131]
type=layer
x=314
y=308
width=40
height=40
layer=com_14062
hide=yes

[com_14132]
type=model
x=-66
y=-178
width=32
height=32
layer=com_14131
model=model_8625
modelactive=model_8626
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_856 = 2

[com_14133]
type=layer
x=347
y=230
width=32
height=50
layer=com_14062
hide=yes

[com_14134]
type=model
x=-99
y=-100
width=32
height=32
layer=com_14133
model=model_8627
modelactive=model_8628
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_857 = 2

[com_14135]
type=layer
x=280
y=132
width=120
height=32
layer=com_14062
hide=yes

[com_14136]
type=model
x=-32
y=-2
width=32
height=32
layer=com_14135
model=model_8629
modelactive=model_8630
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_858 = 2

[com_14137]
type=layer
x=280
y=147
width=130
height=45
layer=com_14062
hide=yes

[com_14138]
type=model
x=-32
y=-17
width=32
height=32
layer=com_14137
model=model_8631
modelactive=model_8632
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_859 = 2

[com_14139]
type=layer
x=280
y=162
width=180
height=80
layer=com_14062
hide=yes

[com_14140]
type=model
x=-32
y=-32
width=32
height=32
layer=com_14139
model=model_8633
modelactive=model_8634
modelangle=350,0,0
modelzoom=1200
script=varplayerbit_860 = 2

[com_14141]
type=text
x=461
y=15
width=31
height=14
layer=com_14062
buttontype=1
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00
buttontext=Close

[com_14142]
type=model
x=83
y=124
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14143]
type=model
x=130
y=89
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14144]
type=model
x=121
y=162
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14145]
type=model
x=172
y=57
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14146]
type=model
x=165
y=165
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14147]
type=model
x=210
y=59
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14148]
type=model
x=204
y=204
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14149]
type=model
x=249
y=32
width=27
height=24
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14150]
type=model
x=249
y=162
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14151]
type=model
x=248
y=203
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14152]
type=model
x=290
y=61
width=28
height=28
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14153]
type=model
x=289
y=124
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14154]
type=model
x=294
y=203
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14155]
type=model
x=324
y=32
width=26
height=26
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14156]
type=model
x=330
y=94
width=26
height=26
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14157]
type=model
x=344
y=251
width=28
height=28
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14158]
type=model
x=365
y=62
width=27
height=27
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14159]
type=model
x=377
y=165
width=29
height=29
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14160]
type=model
x=383
y=203
width=32
height=32
layer=com_14062
buttontype=1
model=null
modelzoom=400
buttontext=Set Junction

[com_14161]
type=model
x=119
y=24
width=32
height=32
layer=com_14062
model=model_8429
modelangle=350,0,0
modelzoom=1200

[com_14162]
type=model
x=119
y=55
width=32
height=32
layer=com_14062
model=model_8430
modelangle=350,0,0
modelzoom=1200

[com_14163]
type=text
x=45
y=56
width=24
height=14
layer=com_14062
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_862

[com_14164]
type=text
x=45
y=26
width=24
height=14
layer=com_14062
textfont=p12_full
text=x%1
textshadow=yes
colour=0xffff00
script0=varplayerbit_861

