[com_12752]
type=layer
width=512
height=334

[com_12753]
type=rectangle
width=512
height=334
layer=com_12752
colour=0x000000
fill=yes

[com_12754]
type=layer
width=512
height=334
layer=com_12752

[com_12755]
type=model
x=242
y=172
width=32
height=32
layer=com_12754
model=model_5825
modelangle=520,6,0
modelzoom=345

[com_12756]
type=layer
width=512
height=334
layer=com_12752

[com_12757]
type=model
x=239
y=171
width=32
height=32
layer=com_12756
model=model_5828
modelangle=520,6,0
modelzoom=345

[com_12758]
type=layer
width=512
height=334
layer=com_12752

[com_12759]
type=model
x=236
y=173
width=32
height=32
layer=com_12758
model=model_5830
modelangle=521,2043,0
modelzoom=339

[com_12760]
type=layer
width=512
height=334
layer=com_12752

[com_12761]
type=model
x=239
y=174
width=32
height=32
layer=com_12760
model=model_5832
modelangle=574,2039,0
modelzoom=332

[com_12762]
type=layer
x=445
y=13
width=66
height=28
layer=com_12752

[com_12763]
type=text
x=19
y=5
width=31
height=14
layer=com_12762
buttontype=3
textfont=p12_full
text=Close
textshadow=yes
colour=0xffff00

[com_12764]
type=layer
width=512
height=334
layer=com_12752

[com_12765]
type=model
x=239
y=171
width=32
height=32
layer=com_12764
model=model_5829
modelangle=520,6,0
modelzoom=345

[com_12766]
type=layer
width=512
height=334
layer=com_12752

[com_12767]
type=model
x=236
y=173
width=32
height=32
layer=com_12766
model=model_5831
modelangle=521,2043,0
modelzoom=339

[com_12768]
type=layer
width=512
height=334
layer=com_12752

[com_12769]
type=model
x=239
y=174
width=32
height=32
layer=com_12768
model=model_5833
modelangle=574,2039,0
modelzoom=332

[com_12770]
type=layer
y=46
width=512
height=27
layer=com_12752
hide=yes

[com_12771]
type=text
y=5
width=512
height=14
layer=com_12770
textfont=b12_full
text=That's it, it all makes sense now! If you were a dwarf, that is...
textalignh=centre
textshadow=yes
colour=0xffff00

