[com_0]
type=rectangle
width=512
height=334
colour=0x433621
fill=yes

[com_1]
type=graphic
x=478
y=6
width=26
height=23
mouseoverlayer=com_106
graphic="close_buttons,4"

[com_2]
type=graphic
x=3
y=4
width=26
height=23
layer=com_106
mouseoverlayer=com_106
buttontype=3
graphic="close_buttons,5"

[com_3]
type=model
x=260
y=136
width=24
height=23
model=model_10133
modelangle=490,513,0
modelzoom=1119

[com_4]
type=text
x=125
y=29
width=266
height=17
textfont=q8_full
text=Title
textalignh=centre
textshadow=yes
colour=0xd9a34d

[com_5]
type=layer
x=125
y=54
width=250
height=250
scrollheight=1710

[com_6]
type=text
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_7]
type=text
y=17
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_8]
type=text
y=34
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_9]
type=text
y=51
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_10]
type=text
y=68
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_11]
type=text
y=85
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_12]
type=text
y=102
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_13]
type=text
y=119
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_14]
type=text
y=136
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_15]
type=text
y=153
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_16]
type=text
y=170
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_17]
type=text
y=187
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_18]
type=text
y=204
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_19]
type=text
y=221
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_20]
type=text
y=238
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_21]
type=text
y=255
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_22]
type=text
y=272
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_23]
type=text
y=289
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_24]
type=text
y=306
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_25]
type=text
y=323
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_26]
type=text
y=340
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_27]
type=text
y=357
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_28]
type=text
y=374
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_29]
type=text
y=391
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_30]
type=text
y=408
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_31]
type=text
y=425
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_32]
type=text
y=442
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_33]
type=text
y=459
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_34]
type=text
y=476
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_35]
type=text
y=493
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_36]
type=text
y=510
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_37]
type=text
y=527
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_38]
type=text
y=544
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_39]
type=text
y=561
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_40]
type=text
y=578
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_41]
type=text
y=595
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_42]
type=text
y=612
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_43]
type=text
y=629
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_44]
type=text
y=646
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_45]
type=text
y=663
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_46]
type=text
y=680
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_47]
type=text
y=697
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_48]
type=text
y=714
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_49]
type=text
y=731
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_50]
type=text
y=748
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_51]
type=text
y=765
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_52]
type=text
y=782
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_53]
type=text
y=799
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_54]
type=text
y=816
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_55]
type=text
y=833
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_56]
type=text
y=850
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_57]
type=text
y=867
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_58]
type=text
y=884
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_59]
type=text
y=901
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_60]
type=text
y=918
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_61]
type=text
y=935
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_62]
type=text
y=952
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_63]
type=text
y=969
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_64]
type=text
y=986
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_65]
type=text
y=1003
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_66]
type=text
y=1020
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_67]
type=text
y=1037
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_68]
type=text
y=1054
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_69]
type=text
y=1071
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_70]
type=text
y=1088
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_71]
type=text
y=1105
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_72]
type=text
y=1122
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_73]
type=text
y=1139
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_74]
type=text
y=1156
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_75]
type=text
y=1173
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_76]
type=text
y=1190
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_77]
type=text
y=1207
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_78]
type=text
y=1224
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_79]
type=text
y=1241
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_80]
type=text
y=1258
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_81]
type=text
y=1275
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_82]
type=text
y=1292
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_83]
type=text
y=1309
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_84]
type=text
y=1326
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_85]
type=text
y=1343
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_86]
type=text
y=1360
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_87]
type=text
y=1377
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_88]
type=text
y=1394
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_89]
type=text
y=1411
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_90]
type=text
y=1428
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_91]
type=text
y=1445
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_92]
type=text
y=1462
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_93]
type=text
y=1479
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_94]
type=text
y=1496
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_95]
type=text
y=1513
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_96]
type=text
y=1530
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_97]
type=text
y=1547
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_98]
type=text
y=1564
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_99]
type=text
y=1581
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_100]
type=text
y=1598
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_101]
type=text
y=1615
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_102]
type=text
y=1632
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_103]
type=text
y=1649
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_104]
type=text
y=1666
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_105]
type=text
y=1683
width=249
height=17
layer=com_5
textfont=q8_full
textshadow=yes
colour=0xd5a34d

[com_106]
type=layer
x=475
y=2
width=32
height=32
hide=yes

