[com_5077]
type=layer
width=512
height=334

[com_5078]
type=graphic
x=12
y=20
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5079]
type=graphic
x=12
y=80
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5080]
type=graphic
x=12
y=140
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5081]
type=graphic
x=12
y=200
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5082]
type=graphic
x=12
y=260
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5083]
type=graphic
x=100
y=20
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5084]
type=graphic
x=100
y=80
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5085]
type=graphic
x=100
y=140
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5086]
type=graphic
x=100
y=200
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5087]
type=graphic
x=188
y=20
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5088]
type=graphic
x=100
y=260
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5089]
type=graphic
x=188
y=80
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5090]
type=graphic
x=188
y=140
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5091]
type=graphic
x=188
y=200
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5092]
type=graphic
x=188
y=260
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5093]
type=graphic
x=276
y=20
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5094]
type=graphic
x=364
y=80
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5095]
type=graphic
x=276
y=80
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5096]
type=graphic
x=276
y=140
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5097]
type=graphic
x=276
y=200
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5098]
type=graphic
x=276
y=260
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5099]
type=graphic
x=364
y=140
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5100]
type=graphic
x=364
y=20
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5101]
type=graphic
x=364
y=200
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5102]
type=graphic
x=364
y=260
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5103]
type=graphic
x=412
y=20
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5104]
type=graphic
x=412
y=80
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5105]
type=graphic
x=412
y=140
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5106]
type=graphic
x=412
y=200
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5107]
type=graphic
x=412
y=260
width=88
height=60
layer=com_5077
graphic=tradebacking,0

[com_5108]
type=graphic
x=12
y=20
width=25
height=30
layer=com_5077
graphic=steelborder,0

[com_5109]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5110]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5111]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5112]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5113]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5114]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5115]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_5077
graphic=miscgraphics,2

[com_5116]
type=graphic
x=479
y=50
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5117]
type=graphic
x=479
y=86
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5118]
type=graphic
x=479
y=122
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5119]
type=graphic
x=479
y=158
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5120]
type=graphic
x=479
y=194
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5121]
type=graphic
x=479
y=230
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5122]
type=graphic
x=479
y=266
width=36
height=36
layer=com_5077
graphic=steelborder2,1

[com_5123]
type=graphic
x=73
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5124]
type=graphic
x=109
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5125]
type=graphic
x=145
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5126]
type=graphic
x=181
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5127]
type=graphic
x=217
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5128]
type=graphic
x=253
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5129]
type=graphic
x=289
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5130]
type=graphic
x=325
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5131]
type=graphic
x=361
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5132]
type=graphic
x=397
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5133]
type=graphic
x=433
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5134]
type=graphic
x=72
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5135]
type=graphic
x=108
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5136]
type=graphic
x=144
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5137]
type=graphic
x=180
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5138]
type=graphic
x=216
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5139]
type=graphic
x=252
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5140]
type=graphic
x=288
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5141]
type=graphic
x=324
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5142]
type=graphic
x=360
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5143]
type=graphic
x=396
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5144]
type=graphic
x=432
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5145]
type=graphic
x=252
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5146]
type=graphic
x=37
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5147]
type=graphic
x=37
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5148]
type=graphic
x=12
y=290
width=25
height=30
layer=com_5077
graphic=steelborder,2

[com_5149]
type=graphic
x=475
y=20
width=25
height=30
layer=com_5077
graphic=steelborder,1

[com_5150]
type=graphic
x=439
y=5
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5151]
type=graphic
x=475
y=290
width=25
height=30
layer=com_5077
graphic=steelborder,3

[com_5152]
type=graphic
x=439
y=299
width=36
height=36
layer=com_5077
graphic=miscgraphics,3

[com_5153]
type=graphic
x=288
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5154]
type=graphic
x=324
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5155]
type=graphic
x=360
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5156]
type=graphic
x=396
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5157]
type=graphic
x=432
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5158]
type=graphic
x=459
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5159]
type=graphic
x=216
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5160]
type=graphic
x=180
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5161]
type=graphic
x=144
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5162]
type=graphic
x=108
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5163]
type=graphic
x=72
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5164]
type=graphic
x=36
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5165]
type=graphic
x=17
y=34
width=36
height=36
layer=com_5077
graphic=steelborder2,0

[com_5166]
type=text
x=420
y=29
width=68
height=11
layer=com_5077
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

[com_5167]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_299
modelzoom=600

[com_5168]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_163
modelzoom=600

[com_5169]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_217
modelzoom=600

[com_5170]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_234
modelzoom=600

[com_5171]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_166
modelzoom=600

[com_5172]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_256
modelzoom=600

[com_5173]
type=model
x=22
y=163
width=32
height=32
layer=com_5174
model=model_170
modelzoom=600

[com_5529]
type=model
x=22
y=163
width=32
height=32
layer=com_5181
model=model_456
modelzoom=600

[com_5175]
type=model
x=22
y=163
width=32
height=32
layer=com_5181
model=model_359
modelzoom=600

[com_5176]
type=model
x=22
y=163
width=32
height=32
layer=com_5181
model=model_331
modelzoom=600

[com_5177]
type=model
x=22
y=163
width=32
height=32
layer=com_5181
model=model_336
modelzoom=600

[com_5178]
type=model
x=22
y=163
width=32
height=32
layer=com_5181
model=model_421
modelzoom=600

[com_5179]
type=model
x=22
y=163
width=32
height=32
layer=com_5181
model=model_340
modelzoom=600

[com_5181]
type=layer
x=350
y=75
width=75
height=200
layer=com_5077

[com_5530]
type=rectangle
y=2
width=75
height=190
layer=com_5181
colour=0x000000
colouractive=0xffff00
script=varplayer_260 = 1

[com_5174]
type=layer
x=81
y=79
width=75
height=200
layer=com_5077

[com_5531]
type=rectangle
width=75
height=190
layer=com_5174
colour=0x000000
colouractive=0xffff00
script=varplayer_260 = 0

