[com_0]
type=rectangle
width=512
height=340
colour=0x000000
fill=yes

[com_1]
type=model
x=244
y=189
width=32
height=32
model=model_9853
modelangle=512,0,0
modelzoom=739

[com_2]
type=model
x=246
y=10
width=32
height=32
model=model_9630
modelangle=512,0,0
modelzoom=1182

[com_3]
type=model
x=57
y=76
width=70
height=92
model=model_2747
modelangle=116,1942,0
modelzoom=346

[com_4]
type=model
x=142
y=52
width=64
height=96
model=model_2428
modelangle=590,868,0
modelzoom=293

[com_5]
type=model
x=220
y=73
width=64
height=96
model=model_2548
modelangle=147,40,0
modelzoom=338

[com_6]
type=model
x=307
y=69
width=64
height=96
model=model_5745
modelangle=53,1965,0
modelzoom=741

[com_7]
type=model
x=392
y=66
width=64
height=96
model=model_5754
modelangle=197,1921,0
modelzoom=687

[com_8]
type=model
x=143
y=178
width=64
height=96
model=model_5740
modelangle=427,2031,0
modelzoom=378

[com_9]
type=model
x=65
y=201
width=59
height=79
model=model_14186
modelangle=125,2042,0
modelzoom=652

[com_10]
type=text
x=55
y=81
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_11]
type=text
x=55
y=81
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_12]
type=text
x=55
y=81
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_13]
type=text
x=55
y=81
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\n\nVial
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_14]
type=text
x=135
y=81
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_15]
type=text
x=135
y=81
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_16]
type=text
x=135
y=81
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_17]
type=text
x=135
y=81
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\n\nOrb
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_18]
type=text
x=216
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_19]
type=text
x=216
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_20]
type=text
x=216
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_21]
type=text
x=216
y=82
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\n\nBeer Glass
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_22]
type=text
x=299
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_23]
type=text
x=299
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_24]
type=text
x=299
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_25]
type=text
x=299
y=82
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\nCandle\nLantern
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_26]
type=text
x=383
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_27]
type=text
x=383
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_28]
type=text
x=383
y=82
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_29]
type=text
x=383
y=82
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\nOil\nLamp
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_30]
type=text
x=135
y=209
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_31]
type=text
x=135
y=209
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_32]
type=text
x=135
y=208
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_33]
type=text
x=135
y=219
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\nLantern\nLens
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_34]
type=text
x=55
y=209
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_35]
type=text
x=55
y=209
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_36]
type=text
x=55
y=209
width=75
height=93
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_37]
type=text
x=55
y=209
width=75
height=93
buttontype=1
textfont=q8_full
text=\n\n\n\nFishbowl
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_38]
type=text
x=30
y=18
width=464
height=17
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x000000

[com_39]
type=text
x=430
y=7
width=74
height=14
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0x604820
mouseovercolour=0xa08048

