[com_188]
type=layer
width=512
height=334

[com_189]
type=rectangle
x=2
y=68
width=508
height=172
layer=com_188
colour=0x202020
fill=yes

[com_190]
type=rectangle
x=6
y=72
width=499
height=164
layer=com_188
colour=0x404040
fill=yes

[com_191]
type=layer
x=12
y=20
width=488
height=36
layer=com_188

[com_192]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_191
graphic=tradebacking,0

[com_193]
type=graphic
x=182
y=6
width=88
height=60
layer=com_191
graphic=tradebacking,0

[com_194]
type=graphic
x=270
y=6
width=88
height=60
layer=com_191
graphic=tradebacking,0

[com_195]
type=graphic
x=358
y=6
width=88
height=60
layer=com_191
graphic=tradebacking,0

[com_196]
type=graphic
x=394
y=6
width=88
height=60
layer=com_191
graphic=tradebacking,0

[com_197]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_191
graphic=tradebacking,0

[com_198]
type=graphic
x=60
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_199]
type=graphic
x=96
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_200]
type=graphic
x=132
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_201]
type=graphic
x=168
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_202]
type=graphic
x=204
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_203]
type=graphic
x=240
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_204]
type=graphic
x=276
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_205]
type=graphic
x=312
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_206]
type=graphic
x=348
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_207]
type=graphic
x=384
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_208]
type=graphic
x=420
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_209]
type=graphic
x=428
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_210]
type=graphic
width=25
height=30
layer=com_191
graphic=steelborder,0

[com_211]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_212]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_213]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_214]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_215]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_216]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_217]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_218]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_219]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_220]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_221]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_222]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_223]
type=graphic
x=463
width=25
height=30
layer=com_191
graphic=steelborder,1

[com_224]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_191
graphic=steelborder2,0

[com_225]
type=graphic
x=463
y=7
width=25
height=30
layer=com_191
graphic=steelborder,3

[com_226]
type=graphic
x=25
y=16
width=36
height=36
layer=com_191
graphic=miscgraphics,3

[com_227]
type=graphic
y=7
width=25
height=30
layer=com_191
graphic=steelborder,2

[com_228]
type=model
x=54
y=116
width=32
height=32
layer=com_188
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_229]
type=model
x=178
y=116
width=32
height=32
layer=com_188
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_230]
type=model
x=302
y=116
width=32
height=32
layer=com_188
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_231]
type=model
x=426
y=116
width=32
height=32
layer=com_188
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_232]
type=text
x=65
y=97
width=9
height=17
layer=com_188
textfont=q8_full
text=A
textalignh=centre
textshadow=yes
colour=0xffff00

[com_233]
type=text
x=189
y=97
width=9
height=17
layer=com_188
textfont=q8_full
text=A
textalignh=centre
textshadow=yes
colour=0xffff00

[com_234]
type=text
x=313
y=97
width=9
height=17
layer=com_188
textfont=q8_full
text=A
textalignh=centre
textshadow=yes
colour=0xffff00

[com_235]
type=text
x=437
y=97
width=9
height=17
layer=com_188
textfont=q8_full
text=A
textalignh=centre
textshadow=yes
colour=0xffff00

[com_236]
type=graphic
x=22
y=196
width=45
height=36
layer=com_188
graphic=leftarrow,0

[com_237]
type=graphic
x=70
y=196
width=45
height=36
layer=com_188
graphic=rightarrow,0

[com_238]
type=graphic
x=146
y=196
width=45
height=36
layer=com_188
graphic=leftarrow,0

[com_239]
type=graphic
x=194
y=196
width=45
height=36
layer=com_188
graphic=rightarrow,0

[com_240]
type=graphic
x=270
y=196
width=45
height=36
layer=com_188
graphic=leftarrow,0

[com_241]
type=graphic
x=318
y=196
width=45
height=36
layer=com_188
graphic=rightarrow,0

[com_242]
type=graphic
x=394
y=196
width=45
height=36
layer=com_188
graphic=leftarrow,0

[com_243]
type=graphic
x=442
y=196
width=45
height=36
layer=com_188
graphic=rightarrow,0

[com_244]
type=text
x=249
y=30
width=19
height=14
layer=com_188
textfont=b12_full
text=%1
textalignh=centre
textshadow=yes
colour=0xffff00

[com_245]
type=text
x=424
y=28
width=68
height=11
layer=com_188
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

