[com_3686]
type=layer
width=512
height=334

[com_3687]
type=model
x=34
y=34
width=32
height=32
layer=com_3686
model=null
modelangle=40,1882,0
modelzoom=796

[com_3688]
type=text
x=111
width=350
height=17
layer=com_3686
textfont=q8_full
text=Name
textalignh=centre
colour=0x800000

[com_3689]
type=text
x=111
y=16
width=350
height=17
layer=com_3686
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_3690]
type=text
x=111
y=32
width=350
height=17
layer=com_3686
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_3691]
type=text
x=111
y=48
width=350
height=17
layer=com_3686
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

[com_3692]
type=text
x=111
y=64
width=350
height=17
layer=com_3686
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

[com_3693]
type=text
x=111
y=80
width=350
height=17
layer=com_3686
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

