[com_15244]
type=layer
width=512
height=334

[com_15245]
type=rectangle
width=765
height=503
layer=com_15244
colour=0x000000

[com_15246]
type=graphic
x=132
y=13
width=503
height=47
layer=com_15244
graphic=titlescroll,0

[com_15247]
type=graphic
x=29
y=74
width=343
height=90
layer=com_15244
graphic=button_brown_big,0

[com_15248]
type=graphic
x=394
y=74
width=343
height=90
layer=com_15244
graphic=button_brown_big,0

[com_15249]
type=graphic
x=29
y=184
width=343
height=90
layer=com_15244
graphic=button_brown_big,0

[com_15250]
type=graphic
x=394
y=184
width=343
height=90
layer=com_15244
graphic=button_brown_big,0

[com_15251]
type=graphic
x=143
y=291
width=229
height=90
layer=com_15244
graphic=button_brown,0

[com_15252]
type=graphic
x=394
y=291
width=229
height=90
layer=com_15244
buttontype=3
graphic=button_red,0

[com_15253]
type=graphic
x=42
y=189
width=51
height=82
layer=com_15244
graphic=keys,0

[com_15254]
type=graphic
x=398
y=78
width=79
height=82
layer=com_15244
graphic=letter,0

[com_15255]
type=graphic
x=33
y=79
width=69
height=82
layer=com_15244
graphic=key,0

[com_15256]
type=graphic
x=404
y=189
width=77
height=82
layer=com_15244
graphic=coins,0

[com_15257]
type=graphic
x=155
y=296
width=66
height=82
layer=com_15244
graphic=chest,0

[com_15258]
type=graphic
x=405
y=295
width=66
height=83
layer=com_15244
graphic=startgame,0

[com_15259]
type=text
x=303
y=19
width=156
height=17
layer=com_15244
textfont=q8_full
text=Welcome to Runescape
colour=0xff0000

[com_15260]
type=text
clientcode=660
x=267
y=39
width=227
height=14
layer=com_15244
textfont=p12_full
text=You last logged in @red@%1@bla@ days ago from @red@%2
textalignh=centre
colour=0x000000

[com_15261]
type=text
clientcode=661
x=96
y=84
width=275
height=74
layer=com_15244
textfont=p12_full
text=1\n2\n3\n4\n5\n6
textalignh=centre
colour=0xffff00

[com_15262]
type=text
x=481
y=86
width=249
height=26
layer=com_15244
textfont=p12_full
text=Jagex Staff will NEVER email you. We use the\nmessage centre on this website instead.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15263]
type=text
clientcode=662
x=516
y=122
width=176
height=26
layer=com_15244
textfont=p12_full
text=You have %1 unread messages\nin your message centre.
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15264]
type=text
clientcode=663
x=171
y=217
width=130
height=26
layer=com_15244
textfont=p12_full
text=Last Password Change:\n%1
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15265]
type=text
clientcode=665
x=540
y=199
width=145
height=62
layer=com_15244
textfont=p12_full
text=1\n2\n3\n4\n5
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15266]
type=text
x=484
y=328
width=126
height=14
layer=com_15244
textfont=b12_full
text=CLICK HERE TO PLAY
textshadow=yes

[com_15270]
type=text
x=223
y=314
width=145
height=50
layer=com_15244
textfont=p12_full
text=1\n2\n3\n4
textalignh=centre
textshadow=yes
colour=0xffff00

[com_15268]
type=tooltip
clientcode=668
x=29
y=74
width=344
height=90
layer=com_15244
text=To change your recovery questions:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Set new recovery questions'.

[com_15269]
type=tooltip
x=394
y=73
width=343
height=92
layer=com_15244
text=To view your messages:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Read your messages from Jagex'.

[com_15891]
type=tooltip
clientcode=667
x=394
y=184
width=344
height=91
layer=com_15244
text=To start or cancel a subscription:\n1) Logout and return to the frontpage of this website.\n2) Choose the relevant option from the 'membership' section.\n\nNote: If you are a credit card subscriber a top-up payment will\nautomatically be taken when 3 days credit remain.\n(unless you cancel your subscription, which can be done at any time.)

[com_15271]
type=tooltip
x=29
y=184
width=344
height=90
layer=com_15244
text=To change your password:\n1) Logout and return to the frontpage of this website.\n2) Choose 'Change your password'.

