[com_13578]
type=layer
width=512
height=334

[com_13579]
type=model
x=420
y=34
width=32
height=32
layer=com_13578
model=model_63
modelangle=40,166,0
modelzoom=796

[com_13580]
type=text
x=237
y=8
width=30
height=17
layer=com_13578
textfont=q8_full
text=Both
textalignh=centre
colour=0x800000

[com_13581]
type=text
x=235
y=39
width=35
height=17
layer=com_13578
textfont=q8_full
text=Argh!
textalignh=centre
colour=0x000000

[com_13582]
type=model
x=34
y=34
width=32
height=32
layer=com_13578
model=model_63
modelangle=40,1882,0
modelzoom=796

