[com_16161]
type=layer
width=512
height=334

[com_16162]
type=graphic
x=90
y=61
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16163]
type=graphic
x=91
y=80
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16164]
type=graphic
x=89
y=140
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16165]
type=graphic
x=87
y=200
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16166]
type=graphic
x=90
y=213
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16167]
type=graphic
x=100
y=63
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16168]
type=graphic
x=100
y=80
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16169]
type=graphic
x=100
y=140
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16170]
type=graphic
x=100
y=200
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16171]
type=graphic
x=188
y=64
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16172]
type=graphic
x=102
y=216
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16173]
type=graphic
x=188
y=80
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16174]
type=graphic
x=188
y=140
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16175]
type=graphic
x=188
y=200
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16176]
type=graphic
x=276
y=60
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16177]
type=graphic
x=188
y=213
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16178]
type=graphic
x=326
y=82
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16179]
type=graphic
x=276
y=80
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16180]
type=graphic
x=276
y=140
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16181]
type=graphic
x=276
y=200
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16182]
type=graphic
x=276
y=213
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16183]
type=graphic
x=326
y=142
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16184]
type=graphic
x=325
y=62
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16185]
type=graphic
x=325
y=200
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16186]
type=graphic
x=325
y=214
width=88
height=60
layer=com_16161
graphic=tradebacking,0

[com_16187]
type=graphic
x=85
y=58
width=25
height=30
layer=com_16161
graphic=steelborder,0

[com_16188]
type=graphic
x=70
y=88
width=36
height=36
layer=com_16161
graphic=miscgraphics,2

[com_16189]
type=graphic
x=70
y=124
width=36
height=36
layer=com_16161
graphic=miscgraphics,2

[com_16190]
type=graphic
x=70
y=160
width=36
height=36
layer=com_16161
graphic=miscgraphics,2

[com_16191]
type=graphic
x=70
y=196
width=36
height=36
layer=com_16161
graphic=miscgraphics,2

[com_16192]
type=graphic
x=70
y=224
width=36
height=36
layer=com_16161
graphic=miscgraphics,2

[com_16193]
type=graphic
x=394
y=84
width=36
height=36
layer=com_16161
graphic=steelborder2,1

[com_16194]
type=graphic
x=394
y=106
width=36
height=36
layer=com_16161
graphic=steelborder2,1

[com_16195]
type=graphic
x=394
y=140
width=36
height=36
layer=com_16161
graphic=steelborder2,1

[com_16196]
type=graphic
x=394
y=176
width=36
height=36
layer=com_16161
graphic=steelborder2,1

[com_16197]
type=graphic
x=394
y=212
width=36
height=36
layer=com_16161
graphic=steelborder2,1

[com_16198]
type=graphic
x=110
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16199]
type=graphic
x=146
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16200]
type=graphic
x=182
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16201]
type=graphic
x=218
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16202]
type=graphic
x=254
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16203]
type=graphic
x=290
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16204]
type=graphic
x=326
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16205]
type=graphic
x=362
y=257
width=36
height=36
layer=com_16161
graphic=miscgraphics,3

[com_16206]
type=graphic
x=218
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16207]
type=graphic
x=254
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16208]
type=graphic
x=289
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16209]
type=graphic
x=325
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16210]
type=graphic
x=357
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16211]
type=graphic
x=264
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16212]
type=graphic
x=182
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16213]
type=graphic
x=85
y=248
width=25
height=30
layer=com_16161
graphic=steelborder,2

[com_16214]
type=graphic
x=390
y=58
width=25
height=30
layer=com_16161
graphic=steelborder,1

[com_16215]
type=graphic
x=390
y=248
width=25
height=30
layer=com_16161
graphic=steelborder,3

[com_16216]
type=graphic
x=300
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16217]
type=graphic
x=336
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16218]
type=graphic
x=372
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16219]
type=graphic
x=377
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16220]
type=graphic
x=228
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16221]
type=graphic
x=192
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16222]
type=graphic
x=156
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16223]
type=graphic
x=89
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16224]
type=graphic
x=123
y=69
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16225]
type=graphic
x=110
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16226]
type=graphic
x=146
y=43
width=36
height=36
layer=com_16161
graphic=steelborder2,0

[com_16227]
type=layer
x=308
y=197
width=78
height=42
layer=com_16161

[com_16228]
type=text
x=97
y=65
width=125
height=14
layer=com_16161
textfont=p12_full
text=Runesquares: Options
textshadow=yes
colour=0xffaa44

[com_16229]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_16227
buttontype=1
colour=0x000000
fill=yes
buttontext=Challenge player

[com_16230]
type=text
x=12
y=14
width=55
height=14
layer=com_16227
textfont=p12_full
text=Challenge
textshadow=yes
colour=0x008000
mouseovercolour=0x00ff00

[com_16231]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_16227
graphic=steelborder2,0

[com_16232]
type=graphic
width=25
height=30
layer=com_16227
graphic=steelborder,0

[com_16233]
type=graphic
x=53
width=25
height=30
layer=com_16227
graphic=steelborder,1

[com_16234]
type=graphic
y=13
width=25
height=30
layer=com_16227
graphic=steelborder,2

[com_16235]
type=graphic
x=53
y=13
width=25
height=30
layer=com_16227
graphic=steelborder,3

[com_16236]
type=graphic
x=21
y=22
width=36
height=36
layer=com_16227
graphic=miscgraphics,3

[com_16237]
type=text
x=338
y=66
width=68
height=11
layer=com_16161
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_16238]
type=text
x=327
y=134
width=66
height=14
layer=com_16161
buttontype=5
textfont=p12_full
text=30 seconds
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_16239]
type=graphic
x=306
y=134
width=14
height=15
layer=com_16161
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 1

[com_16240]
type=layer
x=296
y=94
width=99
height=95
layer=com_16161

[com_16241]
type=graphic
x=10
y=60
width=14
height=15
layer=com_16240
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 2

[com_16242]
type=graphic
x=10
y=80
width=14
height=15
layer=com_16240
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 3

[com_16243]
type=graphic
x=10
y=20
width=14
height=15
layer=com_16240
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_49 = 0

[com_16244]
type=text
x=32
y=60
width=47
height=14
layer=com_16240
buttontype=5
textfont=p12_full
text=1 minute
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_16245]
type=text
x=32
y=80
width=56
height=14
layer=com_16240
buttontype=5
textfont=p12_full
text=2 minutes
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_16246]
type=text
x=32
y=20
width=64
height=14
layer=com_16240
buttontype=5
textfont=p12_full
text=15 seconds
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_16247]
type=text
x=11
y=1
width=82
height=14
layer=com_16240
textfont=p12_full
text=Time per move:
textshadow=yes
colour=0xaa8822

[com_16248]
type=layer
x=97
y=89
width=191
height=179
layer=com_16161

[com_16249]
type=graphic
x=10
y=34
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 1

[com_16250]
type=model
x=29
y=25
width=34
height=32
layer=com_16248
buttontype=5
model=model_2399
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16251]
type=text
x=10
y=3
width=78
height=14
layer=com_16248
textfont=p12_full
text=Choose piece:
textshadow=yes
colour=0xaa8822

[com_16252]
type=model
x=29
y=65
width=34
height=32
layer=com_16248
buttontype=5
model=model_2652
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16253]
type=model
x=29
y=105
width=34
height=32
layer=com_16248
buttontype=5
model=model_2737
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16254]
type=model
x=29
y=145
width=34
height=32
layer=com_16248
buttontype=5
model=model_2405
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16255]
type=model
x=92
y=25
width=34
height=32
layer=com_16248
buttontype=5
model=model_2481
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16256]
type=model
x=92
y=65
width=34
height=32
layer=com_16248
buttontype=5
model=model_2340
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16257]
type=model
x=92
y=105
width=34
height=32
layer=com_16248
buttontype=5
model=model_2734
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16258]
type=model
x=92
y=145
width=34
height=32
layer=com_16248
buttontype=5
model=model_2707
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16259]
type=model
x=155
y=24
width=34
height=32
layer=com_16248
buttontype=5
model=model_2382
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16260]
type=model
x=155
y=65
width=34
height=31
layer=com_16248
buttontype=5
model=model_2735
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16261]
type=model
x=155
y=105
width=34
height=32
layer=com_16248
buttontype=5
model=model_2665
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16262]
type=model
x=155
y=145
width=34
height=32
layer=com_16248
buttontype=5
model=model_2434
modelangle=452,1024,0
modelzoom=622
buttontext=Select piece

[com_16263]
type=graphic
x=10
y=74
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 2

[com_16264]
type=graphic
x=10
y=114
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 3

[com_16265]
type=graphic
x=10
y=154
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 4

[com_16266]
type=graphic
x=73
y=34
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 5

[com_16267]
type=graphic
x=73
y=74
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 6

[com_16268]
type=graphic
x=73
y=114
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 7

[com_16269]
type=graphic
x=73
y=154
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 8

[com_16270]
type=graphic
x=136
y=34
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 9

[com_16271]
type=graphic
x=136
y=74
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 10

[com_16272]
type=graphic
x=136
y=114
width=15
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 11

[com_16273]
type=graphic
x=136
y=154
width=14
height=15
layer=com_16248
buttontype=5
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select piece
script=varplayerbit_50 = 12

[com_16274]
type=text
x=329
y=248
width=41
height=14
layer=com_16161
buttontype=1
textfont=p12_full
text=Ranked
textshadow=yes
colour=0xaa8822
buttontext=Select option

[com_16275]
type=graphic
x=307
y=248
width=14
height=15
layer=com_16161
buttontype=4
graphic=miscgraphics,10
graphicactive=miscgraphics,11
buttontext=Select option
script=varplayerbit_68 = 1

