[com_18418]
type=layer
width=512
height=334

[com_18419]
type=model
x=73
y=284
width=32
height=32
layer=com_18426
model=model_13369
modelactive=model_13369
modelzoom=656
modelanim=seq_3453

[com_18420]
type=model
x=73
y=292
width=32
height=32
layer=com_18427
model=model_13366
modelangle=147,0,0
modelzoom=656
modelanim=seq_3454

[com_18421]
type=model
x=73
y=296
width=32
height=32
layer=com_18428
model=model_13365
modelangle=147,0,0
modelzoom=656
modelanim=seq_3454

[com_18422]
type=model
x=73
y=288
width=32
height=32
layer=com_18429
model=model_13364
modelangle=147,0,0
modelzoom=656
modelanim=seq_3454

[com_18423]
type=model
x=73
y=287
width=32
height=32
layer=com_18430
model=model_13363
modelangle=147,0,0
modelzoom=656
modelanim=seq_3454

[com_18424]
type=model
x=73
y=289
width=32
height=32
layer=com_18431
model=model_13362
modelangle=147,0,0
modelzoom=656
modelanim=seq_3455

[com_18425]
type=model
x=73
y=291
width=32
height=32
layer=com_18432
model=model_13367
modelangle=147,0,0
modelzoom=656

[com_18426]
type=layer
x=351
y=-3
width=164
height=326
layer=com_18418
hide=yes

[com_18427]
type=layer
x=351
y=-11
width=195
height=334
layer=com_18418
hide=yes

[com_18428]
type=layer
x=351
y=-15
width=170
height=338
layer=com_18418
hide=yes

[com_18429]
type=layer
x=351
y=-7
width=168
height=330
layer=com_18418
hide=yes

[com_18430]
type=layer
x=351
y=-6
width=178
height=329
layer=com_18418
hide=yes

[com_18431]
type=layer
x=351
y=-8
width=173
height=331
layer=com_18418
hide=yes

[com_18432]
type=layer
x=351
y=-10
width=177
height=333
layer=com_18418

