[com_18433]
type=layer
width=512
height=334

[com_18434]
type=model
x=242
y=152
width=32
height=32
layer=com_18433
model=model_13352
modelangle=512,0,0
modelzoom=130
modelanim=seq_1376

[com_18435]
type=text
x=20
y=68
width=477
height=14
layer=com_18433
textfont=p12_full
text= 
textalignh=centre

