[com_6084]
type=layer
width=512
height=334

[com_6085]
type=rectangle
x=-1
y=-1
width=514
height=336
layer=com_6084
buttontype=3
colour=0xffff00

[com_6086]
type=model
x=391
y=61
width=97
height=90
layer=com_6084
model=model_9745
modelangle=498,0,0
modelzoom=190

[com_6087]
type=model
x=-4
y=-6
width=97
height=90
layer=com_6093
model=model_9743
modelangle=510,762,0
modelzoom=190

[com_6088]
type=model
x=-9
y=-5
width=97
height=90
layer=com_6094
model=model_9743
modelangle=514,1241,0
modelzoom=190

[com_6089]
type=model
x=-8
y=-2
width=98
height=84
layer=com_6095
model=model_9744
modelangle=495,512,0
modelzoom=206

[com_6090]
type=model
x=-3
y=-5
width=96
height=84
layer=com_6096
model=model_9744
modelangle=521,1024,0
modelzoom=206

[com_6091]
type=model
x=-7
width=96
height=85
layer=com_6097
model=model_9744
modelangle=416,1536,0
modelzoom=206

[com_6092]
type=model
x=-11
y=-4
width=98
height=83
layer=com_6098
model=model_9744
modelangle=495,0,0
modelzoom=206

[com_6093]
type=layer
x=396
y=66
width=82
height=83
layer=com_6084
hide=yes

[com_6094]
type=layer
x=399
y=65
width=82
height=83
layer=com_6084
hide=yes

[com_6095]
type=layer
x=398
y=63
width=82
height=83
layer=com_6084
hide=yes

[com_6096]
type=layer
x=395
y=67
width=82
height=83
layer=com_6084
hide=yes

[com_6097]
type=layer
x=397
y=65
width=82
height=83
layer=com_6084
hide=yes

[com_6098]
type=layer
x=397
y=71
width=82
height=83
layer=com_6084
hide=yes

[com_6099]
type=rectangle
x=381
y=12
width=112
height=27
layer=com_6084
buttontype=3
colour=0x857e09
fill=yes

[com_6100]
type=text
x=392
y=17
width=91
height=17
layer=com_6084
textfont=q8_full
text=Close window.
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff

[com_6101]
type=rectangle
x=384
y=175
width=112
height=27
layer=com_6084
buttontype=1
colour=0x857e09
fill=yes

[com_6102]
type=text
x=392
y=179
width=97
height=17
layer=com_6084
textfont=q8_full
text=Rotate mirror.
textshadow=yes
colour=0xffff00
mouseovercolour=0xffffff

