[com_13390]
type=layer
width=512
height=334

[com_13391]
type=model
x=290
y=270
width=32
height=32
layer=com_13390
model=model_6915
modelangle=123,1945,0
modelzoom=321

[com_13392]
type=model
x=277
y=271
width=32
height=32
layer=com_13390
model=model_6923
modelangle=123,1945,0
modelzoom=321

[com_13393]
type=text
x=437
width=74
height=14
layer=com_13390
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xffff00

