[com_613]
type=layer
width=512
height=334

[com_614]
type=graphic
x=12
y=20
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_615]
type=graphic
x=12
y=80
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_616]
type=graphic
x=12
y=140
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_617]
type=graphic
x=12
y=200
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_618]
type=graphic
x=12
y=260
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_619]
type=graphic
x=100
y=20
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_620]
type=graphic
x=100
y=80
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_621]
type=graphic
x=100
y=140
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_622]
type=graphic
x=100
y=200
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_623]
type=graphic
x=188
y=20
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_624]
type=graphic
x=100
y=260
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_625]
type=graphic
x=188
y=80
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_626]
type=graphic
x=188
y=140
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_627]
type=graphic
x=188
y=200
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_628]
type=graphic
x=188
y=260
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_629]
type=graphic
x=276
y=20
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_630]
type=graphic
x=364
y=80
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_631]
type=graphic
x=276
y=80
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_632]
type=graphic
x=276
y=140
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_633]
type=graphic
x=276
y=200
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_634]
type=graphic
x=276
y=260
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_635]
type=graphic
x=364
y=140
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_636]
type=graphic
x=364
y=20
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_637]
type=graphic
x=364
y=200
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_638]
type=graphic
x=364
y=260
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_639]
type=graphic
x=412
y=20
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_640]
type=graphic
x=412
y=80
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_641]
type=graphic
x=412
y=140
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_642]
type=graphic
x=412
y=200
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_643]
type=graphic
x=412
y=260
width=88
height=60
layer=com_613
graphic=tradebacking,0

[com_644]
type=graphic
x=12
y=20
width=25
height=30
layer=com_613
graphic=steelborder,0

[com_645]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_646]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_647]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_648]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_649]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_650]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_651]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_613
graphic=miscgraphics,2

[com_652]
type=graphic
x=479
y=50
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_653]
type=graphic
x=479
y=86
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_654]
type=graphic
x=479
y=122
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_655]
type=graphic
x=479
y=158
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_656]
type=graphic
x=479
y=194
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_657]
type=graphic
x=479
y=230
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_658]
type=graphic
x=479
y=266
width=36
height=36
layer=com_613
graphic=steelborder2,1

[com_659]
type=graphic
x=73
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_660]
type=graphic
x=109
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_661]
type=graphic
x=145
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_662]
type=graphic
x=181
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_663]
type=graphic
x=217
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_664]
type=graphic
x=253
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_665]
type=graphic
x=289
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_666]
type=graphic
x=325
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_667]
type=graphic
x=361
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_668]
type=graphic
x=397
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_669]
type=graphic
x=433
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_670]
type=graphic
x=72
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_671]
type=graphic
x=108
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_672]
type=graphic
x=144
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_673]
type=graphic
x=180
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_674]
type=graphic
x=216
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_675]
type=graphic
x=252
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_676]
type=graphic
x=288
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_677]
type=graphic
x=324
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_678]
type=graphic
x=360
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_679]
type=graphic
x=396
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_680]
type=graphic
x=432
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_681]
type=graphic
x=252
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_682]
type=graphic
x=37
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_683]
type=graphic
x=37
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_684]
type=graphic
x=12
y=290
width=25
height=30
layer=com_613
graphic=steelborder,2

[com_685]
type=graphic
x=475
y=20
width=25
height=30
layer=com_613
graphic=steelborder,1

[com_686]
type=graphic
x=439
y=5
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_687]
type=graphic
x=475
y=290
width=25
height=30
layer=com_613
graphic=steelborder,3

[com_688]
type=graphic
x=439
y=299
width=36
height=36
layer=com_613
graphic=miscgraphics,3

[com_689]
type=graphic
x=288
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_690]
type=graphic
x=324
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_691]
type=graphic
x=360
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_692]
type=graphic
x=396
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_693]
type=graphic
x=432
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_694]
type=graphic
x=459
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_695]
type=graphic
x=216
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_696]
type=graphic
x=180
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_697]
type=graphic
x=144
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_698]
type=graphic
x=108
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_699]
type=graphic
x=72
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_700]
type=graphic
x=36
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_701]
type=graphic
x=17
y=34
width=36
height=36
layer=com_613
graphic=steelborder2,0

[com_702]
type=model
x=244
y=296
width=32
height=32
layer=com_613
model=model_1301
modelangle=100,1000,0
modelzoom=360

[com_703]
type=model
x=253
y=172
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 0

[com_704]
type=text
x=221
y=29
width=79
height=14
layer=com_613
textfont=b12_full
text=Target View.
textshadow=yes
colour=0xffff00

[com_705]
type=model
x=60
y=114
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 11

[com_706]
type=model
x=256
y=131
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 1

[com_707]
type=model
x=290
y=193
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 4

[com_708]
type=model
x=247
y=233
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 6

[com_709]
type=model
x=193
y=189
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 5

[com_710]
type=model
x=191
y=90
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 9

[com_711]
type=model
x=215
y=126
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 3

[com_712]
type=model
x=298
y=101
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 8

[com_713]
type=model
x=294
y=144
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 2

[com_714]
type=model
x=328
y=163
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 7

[com_715]
type=model
x=275
y=61
width=25
height=25
layer=com_613
model=model_987
modelactive=model_2100
modelangle=100,150,0
modelzoom=400
script=varplayer_157 = 10

[com_716]
type=text
x=54
y=86
width=33
height=14
layer=com_613
textfont=p12_full
text=Shots
textshadow=yes
colour=0xffff00

[com_717]
type=text
x=411
y=147
width=35
height=14
layer=com_613
textfont=p12_full
text=Score:
textshadow=yes
colour=0xffff00

[com_718]
type=text
x=420
y=169
width=17
height=14
layer=com_613
textfont=p12_full
text=%1
textalignh=centre
textshadow=yes
colour=0x00ff99
script0=varplayer_156

[com_719]
type=text
x=90
y=86
width=27
height=14
layer=com_613
textfont=p12_full
text=Left:
textshadow=yes
colour=0xffff00

[com_720]
type=text
x=158
y=156
width=14
height=14
layer=com_613
textfont=p12_full
text=10
textshadow=yes
colour=0x00ff99

[com_721]
type=text
x=183
y=156
width=16
height=14
layer=com_613
textfont=p12_full
text=20
textshadow=yes
colour=0x00ccff

[com_722]
type=text
x=207
y=156
width=15
height=14
layer=com_613
textfont=p12_full
text=30
textshadow=yes
colour=0x00cc00

[com_723]
type=text
x=231
y=156
width=15
height=14
layer=com_613
textfont=p12_full
text=50
textshadow=yes
colour=0x0088ff

[com_724]
type=model
x=90
y=114
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 10

[com_725]
type=text
x=251
y=156
width=22
height=14
layer=com_613
textfont=p12_full
text=100
textshadow=yes
colour=0xff0000

[com_726]
type=model
x=60
y=145
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 9

[com_727]
type=model
x=90
y=145
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 8

[com_728]
type=model
x=60
y=175
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 7

[com_729]
type=model
x=90
y=175
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 6

[com_730]
type=model
x=60
y=205
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 5

[com_731]
type=model
x=90
y=205
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 4

[com_732]
type=model
x=60
y=235
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 3

[com_733]
type=model
x=90
y=235
width=25
height=25
layer=com_613
model=null
modelactive=model_2750
modelangle=150,1200,0
modelzoom=800
script=varplayer_155 < 2

[com_734]
type=text
x=241
y=114
width=50
height=14
layer=com_613
textfont=b12_full
text=Missed!
textalignh=centre
textshadow=yes
colour=0xffff00

[com_4578]
type=text
x=420
y=29
width=68
height=11
layer=com_613
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xff0000
mouseovercolour=0xffffff

