[com_15917]
type=layer
width=512
height=334

[com_15918]
type=model
x=415
y=17
width=32
height=32
layer=com_15917
model=model_10567
modelangle=421,0,0
modelzoom=843

[com_15919]
type=text
x=388
y=15
width=89
height=17
layer=com_15917
textfont=q8_full
text=Enchantment
textshadow=yes
colour=0x9e7144

[com_15920]
type=text
x=375
y=39
width=72
height=12
layer=com_15917
textfont=p11_full
text=Pizazz Points:
textshadow=yes
colour=0x996600

[com_15921]
type=text
x=459
y=40
width=28
height=12
layer=com_15917
textfont=p11_full
text=9999
textshadow=yes
colour=0xcc6600

[com_15922]
type=layer
x=462
y=284
width=32
height=32
layer=com_15917
hide=yes

[com_15923]
type=layer
x=463
y=285
width=32
height=32
layer=com_15917
hide=yes

[com_15924]
type=layer
x=462
y=284
width=32
height=32
layer=com_15917
hide=yes

[com_15925]
type=layer
x=462
y=284
width=32
height=32
layer=com_15917
hide=yes

[com_15926]
type=model
x=-1
y=-1
width=32
height=32
layer=com_15922
model=model_10596
modelangle=96,1282,0
modelzoom=1395

[com_15927]
type=model
x=1
y=2
width=32
height=32
layer=com_15923
model=model_10597
modelangle=91,1716,0
modelzoom=1397

[com_15928]
type=model
x=1
y=2
width=32
height=32
layer=com_15924
model=model_10605
modelangle=96,975,0
modelzoom=1071

[com_15929]
type=model
y=1
width=32
height=32
layer=com_15925
model=model_10602
modelangle=105,1907,0
modelzoom=1180

[com_15930]
type=text
x=461
y=242
width=34
height=12
layer=com_15917
textfont=p11_full
text=Bonus:
textshadow=yes
colour=0x996600

