[com_6960]
type=layer
width=512
height=334

[com_6961]
type=text
x=430
y=8
width=74
height=14
layer=com_6960
buttontype=3
textfont=p12_full
text=Close Window
textshadow=yes
colour=0xfad782
mouseovercolour=0xffffff

[com_6962]
type=model
x=232
y=158
width=32
height=32
layer=com_6960
model=model_3395
modelangle=511,2047,0
modelzoom=639

[com_6963]
type=inv
x=239
y=89
width=3
height=3
layer=com_6960

[com_6964]
type=model
x=174
y=212
width=32
height=32
layer=com_6960
model=model_1226
modelangle=104,761,0
modelzoom=914

