[com_17522]
type=layer
width=512
height=334

[com_17523]
type=model
x=241
y=167
width=32
height=32
layer=com_17522
model=model_11229
modelangle=512,0,0
modelzoom=16
modelanim=seq_3166

