[com_1035]
type=layer
width=512
height=334

[com_1036]
type=graphic
x=17
y=40
width=72
height=36
layer=com_1035
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_11 = 1

[com_1037]
type=graphic
x=101
y=40
width=72
height=36
layer=com_1035
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_11 = 3

[com_1038]
type=graphic
x=17
y=72
width=72
height=36
layer=com_1035
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_11 = 2

[com_1039]
type=graphic
x=101
y=72
width=72
height=36
layer=com_1035
buttontype=5
graphic=combatboxes,0
graphicactive=combatboxes,1
script=varplayer_11 = 4

[com_1040]
type=graphic
x=17
y=136
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_14 = 1

[com_1041]
type=graphic
x=101
y=136
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_15 = 0

[com_1042]
type=graphic
x=53
y=136
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_14 = 0

[com_1043]
type=graphic
x=137
y=136
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_15 = 1

[com_1044]
type=graphic
x=17
y=204
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_13 = 0

[com_1045]
type=graphic
x=53
y=204
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_13 = 1

[com_1046]
type=graphic
x=101
y=204
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_12 = 0

[com_1047]
type=graphic
x=137
y=204
width=36
height=36
layer=com_1035
buttontype=5
graphic=miscgraphics,0
graphicactive=miscgraphics,9
script=varplayer_12 = 1

[com_1048]
type=text
x=49
y=4
width=90
height=14
layer=com_1035
textfont=b12_full
text=Game Options
textshadow=yes
colour=0x00ffff

[com_1049]
type=text
x=41
y=24
width=104
height=14
layer=com_1035
textfont=p12_full
text=Screen Brightness
textshadow=yes

[com_1050]
type=text
x=40
y=50
width=25
height=14
layer=com_1035
textfont=p12_full
text=Dark
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1051]
type=text
x=33
y=82
width=39
height=14
layer=com_1035
textfont=p12_full
text=Normal
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1052]
type=text
x=120
y=50
width=34
height=14
layer=com_1035
textfont=p12_full
text=Bright
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1053]
type=text
x=114
y=83
width=47
height=14
layer=com_1035
textfont=p12_full
text=V-Bright
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1054]
type=text
x=121
y=184
width=32
height=14
layer=com_1035
textfont=p12_full
text=Music
textshadow=yes

[com_1055]
type=text
x=111
y=214
width=15
height=14
layer=com_1035
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1056]
type=text
x=144
y=214
width=20
height=14
layer=com_1035
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1057]
type=text
x=33
y=184
width=42
height=14
layer=com_1035
textfont=p12_full
text=Sounds
textshadow=yes

[com_1058]
type=text
x=27
y=214
width=15
height=14
layer=com_1035
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1059]
type=text
x=59
y=214
width=20
height=14
layer=com_1035
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1060]
type=text
x=9
y=116
width=85
height=14
layer=com_1035
textfont=p12_full
text=Mouse Buttons
textshadow=yes

[com_1061]
type=text
x=61
y=146
width=19
height=14
layer=com_1035
textfont=p12_full
text=Two
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1062]
type=text
x=23
y=146
width=22
height=14
layer=com_1035
textfont=p12_full
text=One
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1063]
type=text
x=101
y=116
width=72
height=14
layer=com_1035
textfont=p12_full
text=Chat Effects
textshadow=yes

[com_1064]
type=text
x=144
y=146
width=20
height=14
layer=com_1035
textfont=p12_full
text=Off
textshadow=yes
colour=0xffff00
colouractive=0xff8000

[com_1065]
type=text
x=110
y=146
width=15
height=14
layer=com_1035
textfont=p12_full
text=On
textshadow=yes
colour=0xffff00
colouractive=0xff8000

