[com_4065]
type=layer
width=512
height=334

[com_4066]
type=graphic
x=12
y=20
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4067]
type=graphic
x=12
y=80
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4068]
type=graphic
x=12
y=140
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4069]
type=graphic
x=12
y=200
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4070]
type=graphic
x=12
y=260
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4071]
type=graphic
x=100
y=20
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4072]
type=graphic
x=100
y=80
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4073]
type=graphic
x=100
y=140
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4074]
type=graphic
x=100
y=200
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4075]
type=graphic
x=188
y=20
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4076]
type=graphic
x=100
y=260
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4077]
type=graphic
x=188
y=80
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4078]
type=graphic
x=188
y=140
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4079]
type=graphic
x=188
y=200
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4080]
type=graphic
x=188
y=260
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4081]
type=graphic
x=276
y=20
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4082]
type=graphic
x=364
y=80
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4083]
type=graphic
x=276
y=80
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4084]
type=graphic
x=276
y=140
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4085]
type=graphic
x=276
y=200
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4086]
type=graphic
x=276
y=260
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4087]
type=graphic
x=364
y=140
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4088]
type=graphic
x=364
y=20
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4089]
type=graphic
x=364
y=200
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4090]
type=graphic
x=364
y=260
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4091]
type=graphic
x=412
y=20
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4092]
type=graphic
x=412
y=80
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4093]
type=graphic
x=412
y=140
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4094]
type=graphic
x=412
y=200
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4095]
type=graphic
x=412
y=260
width=88
height=60
layer=com_4065
graphic=tradebacking,0

[com_4096]
type=graphic
x=12
y=20
width=25
height=30
layer=com_4065
graphic=steelborder,0

[com_4097]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4098]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4099]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4100]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4101]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4102]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4103]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_4065
graphic=miscgraphics,2

[com_4104]
type=graphic
x=479
y=50
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4105]
type=graphic
x=479
y=86
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4106]
type=graphic
x=479
y=122
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4107]
type=graphic
x=479
y=158
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4108]
type=graphic
x=479
y=194
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4109]
type=graphic
x=479
y=230
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4110]
type=graphic
x=479
y=266
width=36
height=36
layer=com_4065
graphic=steelborder2,1

[com_4111]
type=graphic
x=73
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4112]
type=graphic
x=109
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4113]
type=graphic
x=145
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4114]
type=graphic
x=181
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4115]
type=graphic
x=217
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4116]
type=graphic
x=253
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4117]
type=graphic
x=289
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4118]
type=graphic
x=325
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4119]
type=graphic
x=361
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4120]
type=graphic
x=397
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4121]
type=graphic
x=433
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4122]
type=graphic
x=72
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4123]
type=graphic
x=108
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4124]
type=graphic
x=144
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4125]
type=graphic
x=180
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4126]
type=graphic
x=216
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4127]
type=graphic
x=252
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4128]
type=graphic
x=288
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4129]
type=graphic
x=324
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4130]
type=graphic
x=360
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4131]
type=graphic
x=396
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4132]
type=graphic
x=432
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4133]
type=graphic
x=252
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4134]
type=graphic
x=37
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4135]
type=graphic
x=37
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4136]
type=graphic
x=12
y=290
width=25
height=30
layer=com_4065
graphic=steelborder,2

[com_4137]
type=graphic
x=475
y=20
width=25
height=30
layer=com_4065
graphic=steelborder,1

[com_4138]
type=graphic
x=439
y=5
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4139]
type=graphic
x=475
y=290
width=25
height=30
layer=com_4065
graphic=steelborder,3

[com_4140]
type=graphic
x=439
y=299
width=36
height=36
layer=com_4065
graphic=miscgraphics,3

[com_4141]
type=graphic
x=288
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4142]
type=graphic
x=324
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4143]
type=graphic
x=360
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4144]
type=graphic
x=396
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4145]
type=graphic
x=432
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4146]
type=graphic
x=459
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4147]
type=graphic
x=216
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4148]
type=graphic
x=180
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4149]
type=graphic
x=144
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4150]
type=graphic
x=108
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4151]
type=graphic
x=72
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4152]
type=graphic
x=36
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4153]
type=graphic
x=17
y=34
width=36
height=36
layer=com_4065
graphic=steelborder2,0

[com_4154]
type=layer
x=36
y=20
width=440
height=299
layer=com_4065

[com_4155]
type=inv
x=36
y=20
width=8
height=24
layer=com_4158
paddingx=15
paddingy=6
op1=Withdraw 1
op2=Withdraw 5
op3=Withdraw 10
op4=Withdraw All
op5=Withdraw X

[com_4156]
type=text
x=180
y=30
width=151
height=14
layer=com_4065
textfont=b12_full
text=The Bank of RuneScape
textshadow=yes
colour=0xffff00

[com_4157]
type=text
x=420
y=28
width=68
height=11
layer=com_4065
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_4158]
type=layer
x=39
y=60
width=433
height=249
layer=com_4065
scrollheight=940

