[com_3321]
type=layer
width=512
height=334

[com_3322]
type=inv
x=16
y=8
width=4
height=7
layer=com_3321
paddingx=10
paddingy=4
op1=Offer 1
op2=Offer 5
op3=Offer 10
op4=Offer All
op5=Offer X

