[com_0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

[com_13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

[com_14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

[com_16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

[com_17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

[com_18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

[com_19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

[com_20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

[com_21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

[com_22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

[com_23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

[com_24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

[com_25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

[com_26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

[com_27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

[com_28]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

[com_29]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

[com_30]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

[com_31]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

[com_32]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

[com_33]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

[com_34]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

[com_35]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

[com_36]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

[com_37]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

[com_38]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

[com_39]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

[com_40]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

[com_41]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

[com_42]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

[com_43]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

[com_44]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

[com_45]
type=graphic
x=73
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_46]
type=graphic
x=109
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_47]
type=graphic
x=145
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_48]
type=graphic
x=181
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_49]
type=graphic
x=217
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_50]
type=graphic
x=253
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_51]
type=graphic
x=289
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_52]
type=graphic
x=325
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_53]
type=graphic
x=361
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_54]
type=graphic
x=397
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_55]
type=graphic
x=433
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_56]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

[com_57]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_58]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_59]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_60]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_61]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_62]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_63]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_64]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_65]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

[com_66]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

[com_67]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

[com_68]
type=graphic
x=37
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_69]
type=graphic
x=12
y=295
width=25
height=30
graphic="steelborder,2"

[com_70]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

[com_71]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

[com_72]
type=graphic
x=475
y=295
width=25
height=30
graphic="steelborder,3"

[com_73]
type=graphic
x=439
y=304
width=36
height=36
graphic="miscgraphics,3"

[com_74]
type=model
x=40
y=93
width=32
height=32
buttontype=1
model=model_16802
modelactive=model_16803
modelangle=3,1930,0
modelzoom=1040

[com_75]
type=model
x=138
y=93
width=32
height=32
buttontype=1
model=model_16808
modelactive=model_16809
modelangle=15,2014,0
modelzoom=1040

[com_76]
type=model
x=241
y=93
width=32
height=32
buttontype=1
model=model_16800
modelactive=model_16801
modelangle=18,0,0
modelzoom=1040

[com_77]
type=model
x=343
y=93
width=32
height=32
buttontype=1
model=model_16810
modelactive=model_16819
modelangle=3,33,0
modelzoom=1040

[com_78]
type=model
x=447
y=93
width=32
height=32
buttontype=1
model=model_16804
modelactive=model_16805
modelangle=39,87,0
modelzoom=1040

[com_79]
type=model
x=38
y=229
width=32
height=32
buttontype=1
model=model_16811
modelactive=model_16812
modelangle=12,1975,0
modelzoom=1040

[com_80]
type=model
x=136
y=229
width=32
height=32
buttontype=1
model=model_16817
modelactive=model_16818
modelangle=15,1984,0
modelzoom=1040

[com_81]
type=model
x=239
y=229
width=32
height=32
buttontype=1
model=model_16813
modelactive=model_16814
modelangle=36,0,0
modelzoom=1040

[com_82]
type=model
x=341
y=229
width=32
height=32
buttontype=1
model=model_16806
modelactive=model_16807
modelangle=3,69,0
modelzoom=1040

[com_83]
type=model
x=445
y=229
width=32
height=32
buttontype=1
model=model_16815
modelactive=model_16816
modelangle=21,126,0
modelzoom=1040

[com_84]
type=text
x=7
y=143
width=98
height=31
buttontype=1
textfont=p12_full
text=Honest<br>Jimmy
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_85]
type=text
x=100
y=143
width=98
height=31
buttontype=1
textfont=p12_full
text=Bert the<br>Sandman
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_86]
type=text
x=207
y=143
width=98
height=31
buttontype=1
textfont=p12_full
text=Advisor<br>Ghrim
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_87]
type=text
x=310
y=143
width=98
height=31
buttontype=1
textfont=p12_full
text=Turael
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_88]
type=text
x=412
y=143
width=98
height=31
buttontype=1
textfont=p12_full
text=Lanthus
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_89]
type=text
x=7
y=280
width=98
height=31
buttontype=1
textfont=p12_full
text=Mazchna
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_90]
type=text
x=100
y=280
width=98
height=31
buttontype=1
textfont=p12_full
text=Duradel
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_91]
type=text
x=207
y=280
width=98
height=31
buttontype=1
textfont=p12_full
text=Vannaka
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_92]
type=text
x=310
y=280
width=98
height=31
buttontype=1
textfont=p12_full
text=Murphy
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_93]
type=text
x=412
y=280
width=98
height=31
buttontype=1
textfont=p12_full
text=Chaeldar
textalignh=centre
textshadow=yes
colour=0xff981f
mouseovercolour=0xffffff

[com_94]
type=layer
x=17
y=26
width=82
height=148
hide=yes
buttontype=1

[com_95]
type=layer
x=120
y=70
width=61
height=104
hide=yes
buttontype=1

[com_96]
type=layer
x=227
y=70
width=61
height=104
hide=yes
buttontype=1

[com_97]
type=layer
x=321
y=66
width=77
height=108
hide=yes
buttontype=1

[com_98]
type=layer
x=430
y=70
width=61
height=104
hide=yes
buttontype=1

[com_99]
type=layer
x=17
y=196
width=76
height=109
hide=yes
buttontype=1

[com_100]
type=layer
x=120
y=193
width=61
height=112
hide=yes
buttontype=1

[com_101]
type=layer
x=224
y=207
width=61
height=104
hide=yes
buttontype=1

[com_102]
type=layer
x=317
y=194
width=78
height=117
hide=yes
buttontype=1

[com_103]
type=layer
x=422
y=188
width=73
height=117
hide=yes
buttontype=1

[com_104]
type=graphic
x=471
y=26
width=23
height=23
mouseoverlayer=com_105
graphic="close_buttons,0"

[com_105]
type=layer
x=468
y=24
width=32
height=32
hide=yes

[com_106]
type=graphic
x=3
y=2
width=23
height=23
layer=com_105
buttontype=3
graphic="close_buttons,1"

[com_107]
type=text
x=79
y=33
width=352
height=17
textfont=b12_full
text=Choose a character
textalignh=centre
textshadow=yes
colour=0xff981f

