[com_8866]
type=layer
width=512
height=334

[com_8867]
type=graphic
x=2
y=5
width=57
height=13
layer=com_8866
graphic=sworddecor,1

[com_8868]
type=graphic
x=421
y=5
width=57
height=13
layer=com_8866
graphic=sworddecor,0

[com_8869]
type=model
x=92
y=13
width=64
height=96
layer=com_8866
model=null
modelzoom=400

[com_8870]
type=model
x=323
y=13
width=64
height=96
layer=com_8866
model=null
modelzoom=400

[com_8871]
type=text
x=74
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_8872]
type=text
x=74
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_8873]
type=text
x=74
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_8874]
type=text
x=74
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_8875]
type=text
x=305
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make X

[com_8876]
type=text
x=305
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 10

[com_8877]
type=text
x=305
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 5

[com_8878]
type=text
x=305
y=16
width=100
height=93
layer=com_8866
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000
buttontext=Make 1

[com_8879]
type=text
x=8
y=3
width=464
height=17
layer=com_8866
textfont=q8_full
text=What would you like to make?
textalignh=centre
colour=0x800000

