[com_16847]
type=layer
width=512
height=334

[com_16848]
type=graphic
x=12
y=20
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16849]
type=graphic
x=12
y=80
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16850]
type=graphic
x=12
y=140
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16851]
type=graphic
x=12
y=200
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16852]
type=graphic
x=12
y=260
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16853]
type=graphic
x=100
y=20
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16854]
type=graphic
x=100
y=80
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16855]
type=graphic
x=100
y=140
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16856]
type=graphic
x=100
y=200
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16857]
type=graphic
x=188
y=20
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16858]
type=graphic
x=100
y=260
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16859]
type=graphic
x=188
y=80
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16860]
type=graphic
x=188
y=140
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16861]
type=graphic
x=188
y=200
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16862]
type=graphic
x=276
y=20
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16863]
type=graphic
x=188
y=260
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16864]
type=graphic
x=364
y=80
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16865]
type=graphic
x=276
y=80
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16866]
type=graphic
x=276
y=140
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16867]
type=graphic
x=276
y=200
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16868]
type=graphic
x=276
y=260
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16869]
type=graphic
x=364
y=140
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16870]
type=graphic
x=364
y=20
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16871]
type=graphic
x=364
y=200
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16872]
type=graphic
x=364
y=260
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16873]
type=graphic
x=412
y=20
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16874]
type=graphic
x=412
y=80
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16875]
type=graphic
x=412
y=140
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16876]
type=graphic
x=412
y=200
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16877]
type=graphic
x=409
y=258
width=88
height=60
layer=com_16847
graphic=tradebacking,0

[com_16878]
type=graphic
x=12
y=20
width=25
height=30
layer=com_16847
graphic=steelborder,0

[com_16879]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16880]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16881]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16882]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16883]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16884]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16885]
type=graphic
x=479
y=50
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16886]
type=graphic
x=479
y=86
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16887]
type=graphic
x=479
y=122
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16888]
type=graphic
x=479
y=158
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16889]
type=graphic
x=479
y=194
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16890]
type=graphic
x=479
y=230
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16891]
type=graphic
x=479
y=266
width=36
height=36
layer=com_16847
graphic=steelborder2,1

[com_16892]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16893]
type=graphic
x=73
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16894]
type=graphic
x=109
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16895]
type=graphic
x=145
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16896]
type=graphic
x=181
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16897]
type=graphic
x=217
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16898]
type=graphic
x=253
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16899]
type=graphic
x=289
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16900]
type=graphic
x=325
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16901]
type=graphic
x=361
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16902]
type=graphic
x=397
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16903]
type=graphic
x=433
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16904]
type=graphic
x=72
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16905]
type=graphic
x=108
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16906]
type=graphic
x=144
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16907]
type=graphic
x=180
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16908]
type=graphic
x=216
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16909]
type=graphic
x=252
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16910]
type=graphic
x=288
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16911]
type=graphic
x=324
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16912]
type=graphic
x=360
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16913]
type=graphic
x=396
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16914]
type=graphic
x=432
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16915]
type=text
x=25
y=60
width=165
height=14
layer=com_16847
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_16916]
type=graphic
x=37
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16917]
type=graphic
x=37
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16918]
type=graphic
x=12
y=290
width=25
height=30
layer=com_16847
graphic=steelborder,2

[com_16919]
type=graphic
x=475
y=20
width=25
height=30
layer=com_16847
graphic=steelborder,1

[com_16920]
type=graphic
x=439
y=5
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16921]
type=graphic
x=475
y=290
width=25
height=30
layer=com_16847
graphic=steelborder,3

[com_16922]
type=graphic
x=439
y=299
width=36
height=36
layer=com_16847
graphic=miscgraphics,3

[com_16923]
type=text
x=100
y=75
width=14
height=14
layer=com_16847
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

[com_16924]
type=text
x=25
y=90
width=165
height=14
layer=com_16847
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_16925]
type=graphic
x=183
y=26
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16926]
type=graphic
x=183
y=62
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16927]
type=graphic
x=183
y=98
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16928]
type=graphic
x=183
y=134
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16929]
type=graphic
x=183
y=170
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16930]
type=graphic
x=162
y=34
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16931]
type=graphic
x=144
y=34
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16932]
type=graphic
x=108
y=34
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16933]
type=graphic
x=72
y=34
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16934]
type=graphic
x=36
y=34
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16935]
type=graphic
x=17
y=34
width=36
height=36
layer=com_16847
graphic=steelborder2,0

[com_16936]
type=text
x=50
y=122
width=27
height=14
layer=com_16847
textfont=p12_full
text=Turn:
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_16937]
type=model
x=135
y=289
width=32
height=32
layer=com_16847
model=model_4612
modelzoom=2048

[com_16938]
type=layer
x=26
y=265
width=78
height=42
layer=com_16847

[com_16939]
type=layer
x=26
y=215
width=78
height=43
layer=com_16847

[com_16940]
type=text
x=21
y=29
width=66
height=14
layer=com_16847
textfont=b12_full
text=Runeversi
textshadow=yes
colour=0xffaa44

[com_16941]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_16938
buttontype=3
colour=0x000000
fill=yes

[com_16942]
type=text
x=21
y=14
width=38
height=14
layer=com_16938
textfont=p12_full
text=Resign
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_16943]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_16939
buttontype=1
colour=0x000000
fill=yes
buttontext=Offer your opponent a draw

[com_16944]
type=text
x=9
y=14
width=61
height=14
layer=com_16939
textfont=p12_full
text=Offer draw
textshadow=yes
colour=0x888800
mouseovercolour=0xffff00

[com_16945]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_16938
graphic=steelborder2,0

[com_16946]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_16939
graphic=steelborder2,0

[com_16947]
type=text
x=85
y=122
width=97
height=14
layer=com_16847
textfont=p12_full
text=A very long name
textshadow=yes
colour=0xaaaaaa

[com_16948]
type=model
x=221
y=40
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16949]
type=model
x=285
y=40
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16950]
type=model
x=349
y=40
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16951]
type=model
x=413
y=40
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16952]
type=model
x=253
y=72
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16953]
type=model
x=317
y=72
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16954]
type=model
x=381
y=72
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16955]
type=model
x=445
y=73
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16956]
type=model
x=222
y=104
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16957]
type=model
x=285
y=104
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16958]
type=model
x=349
y=105
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16959]
type=model
x=412
y=105
width=32
height=32
layer=com_16847
model=null
modelangle=512,0,0
modelzoom=2000

[com_16960]
type=model
x=252
y=137
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16961]
type=model
x=317
y=136
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16962]
type=model
x=380
y=137
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16963]
type=model
x=444
y=137
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16964]
type=model
x=222
y=168
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16965]
type=model
x=284
y=168
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16966]
type=model
x=349
y=168
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16967]
type=model
x=413
y=168
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16968]
type=model
x=252
y=201
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16969]
type=model
x=316
y=200
width=32
height=32
layer=com_16847
model=null
modelangle=512,0,0
modelzoom=2000

[com_16970]
type=model
x=381
y=200
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16971]
type=model
x=444
y=200
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16972]
type=model
x=221
y=232
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16973]
type=model
x=284
y=232
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16974]
type=model
x=348
y=232
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16975]
type=model
x=413
y=232
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16976]
type=model
x=253
y=264
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16977]
type=model
x=317
y=264
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16978]
type=model
x=380
y=265
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16979]
type=model
x=319
y=201
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16980]
type=model
x=444
y=264
width=32
height=32
layer=com_16847
model=model_11103
modelangle=512,0,0
modelzoom=2000

[com_16981]
type=graphic
x=22
y=21
width=36
height=36
layer=com_16939
graphic=miscgraphics,3

[com_16982]
type=graphic
width=25
height=30
layer=com_16938
graphic=steelborder,0

[com_16983]
type=graphic
width=25
height=30
layer=com_16939
graphic=steelborder,0

[com_16984]
type=graphic
x=53
width=25
height=30
layer=com_16938
graphic=steelborder,1

[com_16985]
type=graphic
x=53
width=25
height=30
layer=com_16939
graphic=steelborder,1

[com_16986]
type=graphic
y=12
width=25
height=30
layer=com_16938
graphic=steelborder,2

[com_16987]
type=graphic
y=12
width=25
height=30
layer=com_16939
graphic=steelborder,2

[com_16988]
type=graphic
x=53
y=12
width=25
height=30
layer=com_16938
graphic=steelborder,3

[com_16989]
type=graphic
x=21
y=21
width=36
height=36
layer=com_16938
graphic=miscgraphics,3

[com_16990]
type=graphic
x=53
y=12
width=25
height=30
layer=com_16939
graphic=steelborder,3

[com_16991]
type=text
x=23
y=185
width=169
height=11
layer=com_16847
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_16992]
type=graphic
x=183
y=206
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16993]
type=graphic
x=183
y=242
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16994]
type=graphic
x=183
y=278
width=36
height=36
layer=com_16847
graphic=miscgraphics,2

[com_16995]
type=text
x=23
y=160
width=169
height=11
layer=com_16847
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_16996]
type=text
x=27
y=157
width=160
height=14
layer=com_16847
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_16997]
type=layer
x=26
y=265
width=78
height=42
layer=com_16847
hide=yes

[com_16998]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_16997
buttontype=3
colour=0x000000
fill=yes

[com_16999]
type=text
x=23
y=14
width=31
height=14
layer=com_16997
textfont=p12_full
text=Close
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_17000]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_16997
graphic=steelborder2,0

[com_17001]
type=graphic
width=25
height=30
layer=com_16997
graphic=steelborder,0

[com_17002]
type=graphic
x=53
width=25
height=30
layer=com_16997
graphic=steelborder,1

[com_17003]
type=graphic
y=12
width=25
height=30
layer=com_16997
graphic=steelborder,2

[com_17004]
type=graphic
x=53
y=12
width=25
height=30
layer=com_16997
graphic=steelborder,3

[com_17005]
type=graphic
x=21
y=21
width=36
height=36
layer=com_16997
graphic=miscgraphics,3

[com_17006]
type=model
x=20
y=57
width=20
height=20
layer=com_16847
model=model_2399
modelangle=512,1024,0
modelzoom=1024

[com_17007]
type=model
x=20
y=87
width=20
height=20
layer=com_16847
model=model_2652
modelangle=512,1024,0
modelzoom=1024

[com_17008]
type=inv
x=221
y=40
width=8
height=8
layer=com_16847

[com_17009]
type=rectangle
x=221
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17010]
type=rectangle
x=253
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17011]
type=rectangle
x=285
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17012]
type=rectangle
x=317
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17013]
type=rectangle
x=349
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17014]
type=rectangle
x=381
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17015]
type=rectangle
x=413
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17016]
type=rectangle
x=445
y=40
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17017]
type=rectangle
x=221
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17018]
type=rectangle
x=253
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17019]
type=rectangle
x=285
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17020]
type=rectangle
x=317
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17021]
type=rectangle
x=349
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17022]
type=rectangle
x=381
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17023]
type=rectangle
x=413
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17024]
type=rectangle
x=445
y=72
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17025]
type=rectangle
x=221
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17026]
type=rectangle
x=253
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17027]
type=rectangle
x=285
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17028]
type=rectangle
x=317
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17029]
type=rectangle
x=349
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17030]
type=rectangle
x=381
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17031]
type=rectangle
x=413
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17032]
type=rectangle
x=445
y=104
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17033]
type=rectangle
x=221
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17034]
type=rectangle
x=253
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17035]
type=rectangle
x=285
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17036]
type=rectangle
x=317
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17037]
type=rectangle
x=349
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17038]
type=rectangle
x=381
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17039]
type=rectangle
x=413
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17040]
type=rectangle
x=445
y=136
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17041]
type=rectangle
x=221
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17042]
type=rectangle
x=253
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17043]
type=rectangle
x=285
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17044]
type=rectangle
x=317
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17045]
type=rectangle
x=349
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17046]
type=rectangle
x=381
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17047]
type=rectangle
x=413
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17048]
type=rectangle
x=445
y=168
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17049]
type=rectangle
x=221
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17050]
type=rectangle
x=253
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17051]
type=rectangle
x=285
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17052]
type=rectangle
x=317
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17053]
type=rectangle
x=349
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17054]
type=rectangle
x=381
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17055]
type=rectangle
x=413
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17056]
type=rectangle
x=445
y=200
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17057]
type=rectangle
x=221
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17058]
type=rectangle
x=253
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17059]
type=rectangle
x=285
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17060]
type=rectangle
x=317
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17061]
type=rectangle
x=349
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17062]
type=rectangle
x=381
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17063]
type=rectangle
x=413
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17064]
type=rectangle
x=445
y=232
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17065]
type=rectangle
x=221
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17066]
type=rectangle
x=253
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17067]
type=rectangle
x=285
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17068]
type=rectangle
x=317
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17069]
type=rectangle
x=349
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17070]
type=rectangle
x=381
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17071]
type=rectangle
x=413
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

[com_17072]
type=rectangle
x=445
y=264
width=32
height=32
layer=com_16847
buttontype=1
colour=0xffffff

