[com_2490]
type=layer
width=512
height=334

[com_2491]
type=graphic
x=12
y=20
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2492]
type=graphic
x=12
y=80
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2493]
type=graphic
x=12
y=140
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2494]
type=graphic
x=12
y=200
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2495]
type=graphic
x=12
y=260
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2496]
type=graphic
x=100
y=20
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2497]
type=graphic
x=100
y=80
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2498]
type=graphic
x=100
y=140
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2499]
type=graphic
x=100
y=200
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2500]
type=graphic
x=188
y=20
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2501]
type=graphic
x=100
y=260
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2502]
type=graphic
x=188
y=80
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2503]
type=graphic
x=188
y=140
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2504]
type=graphic
x=188
y=200
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2505]
type=graphic
x=188
y=260
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2506]
type=graphic
x=276
y=20
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2507]
type=graphic
x=364
y=80
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2508]
type=graphic
x=276
y=80
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2509]
type=graphic
x=276
y=140
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2510]
type=graphic
x=276
y=200
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2511]
type=graphic
x=276
y=260
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2512]
type=graphic
x=364
y=140
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2513]
type=graphic
x=364
y=20
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2514]
type=graphic
x=364
y=200
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2515]
type=graphic
x=364
y=260
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2516]
type=graphic
x=412
y=20
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2517]
type=graphic
x=412
y=80
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2518]
type=graphic
x=412
y=140
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2519]
type=graphic
x=412
y=200
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2520]
type=graphic
x=412
y=260
width=88
height=60
layer=com_2490
graphic=tradebacking,0

[com_2521]
type=graphic
x=12
y=20
width=25
height=30
layer=com_2490
graphic=steelborder,0

[com_2522]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2523]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2524]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2525]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2526]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2527]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2528]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_2490
graphic=miscgraphics,2

[com_2529]
type=graphic
x=479
y=50
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2530]
type=graphic
x=479
y=86
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2531]
type=graphic
x=479
y=122
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2532]
type=graphic
x=479
y=158
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2533]
type=graphic
x=479
y=194
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2534]
type=graphic
x=479
y=230
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2535]
type=graphic
x=479
y=266
width=36
height=36
layer=com_2490
graphic=steelborder2,1

[com_2536]
type=graphic
x=73
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2537]
type=graphic
x=109
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2538]
type=graphic
x=145
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2539]
type=graphic
x=181
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2540]
type=graphic
x=217
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2541]
type=graphic
x=253
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2542]
type=graphic
x=289
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2543]
type=graphic
x=325
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2544]
type=graphic
x=361
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2545]
type=graphic
x=397
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2546]
type=graphic
x=433
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2547]
type=graphic
x=72
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2548]
type=graphic
x=108
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2549]
type=graphic
x=144
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2550]
type=graphic
x=180
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2551]
type=graphic
x=216
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2552]
type=graphic
x=252
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2553]
type=graphic
x=288
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2554]
type=graphic
x=324
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2555]
type=graphic
x=360
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2556]
type=graphic
x=396
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2557]
type=graphic
x=432
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2558]
type=graphic
x=252
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2559]
type=graphic
x=37
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2560]
type=graphic
x=37
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2561]
type=graphic
x=12
y=290
width=25
height=30
layer=com_2490
graphic=steelborder,2

[com_2562]
type=graphic
x=475
y=20
width=25
height=30
layer=com_2490
graphic=steelborder,1

[com_2563]
type=graphic
x=439
y=5
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2564]
type=graphic
x=475
y=290
width=25
height=30
layer=com_2490
graphic=steelborder,3

[com_2565]
type=graphic
x=439
y=299
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2566]
type=graphic
x=288
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2567]
type=graphic
x=324
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2568]
type=graphic
x=360
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2569]
type=graphic
x=396
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2570]
type=graphic
x=432
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2571]
type=graphic
x=459
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2572]
type=graphic
x=216
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2573]
type=graphic
x=180
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2574]
type=graphic
x=144
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2575]
type=graphic
x=108
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2576]
type=graphic
x=72
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2577]
type=graphic
x=36
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2578]
type=graphic
x=17
y=34
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2579]
type=layer
x=36
y=20
width=440
height=299
layer=com_2490

[com_2580]
type=text
x=28
y=29
width=457
height=14
layer=com_2490
textfont=b12_full
text=Welcome to RuneScape - Use the buttons below to design your player
textshadow=yes
colour=0xffff00

[com_2581]
type=model
clientcode=327
x=190
y=155
width=136
height=168
layer=com_2490
model=model_2581
modelangle=150,0,0
modelzoom=650

[com_2582]
type=rectangle
clientcode=326
x=223
y=266
width=66
height=31
layer=com_2490
buttontype=1
colour=0x000000
fill=yes
buttontext=Accept

[com_2583]
type=text
x=237
y=274
width=39
height=14
layer=com_2490
textfont=p12_full
text=Accept
textshadow=yes
colour=0x00c000

[com_2584]
type=graphic
x=217
y=260
width=25
height=30
layer=com_2490
graphic=steelborder,0

[com_2585]
type=graphic
x=270
y=260
width=25
height=30
layer=com_2490
graphic=steelborder,1

[com_2586]
type=graphic
x=217
y=273
width=25
height=30
layer=com_2490
graphic=steelborder,2

[com_2587]
type=graphic
x=270
y=273
width=25
height=30
layer=com_2490
graphic=steelborder,3

[com_2588]
type=graphic
clientcode=314
x=326
y=74
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Recolour hair

[com_2589]
type=text
x=90
y=151
width=31
height=14
layer=com_2490
textfont=p12_full
text=Torso
textshadow=yes
colour=0xffff00

[com_2590]
type=graphic
clientcode=300
x=27
y=68
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change head

[com_2591]
type=graphic
clientcode=302
x=27
y=103
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change jaw

[com_2592]
type=graphic
clientcode=304
x=27
y=138
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change torso

[com_2593]
type=graphic
clientcode=306
x=27
y=173
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change arms

[com_2594]
type=graphic
clientcode=308
x=27
y=208
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change hands

[com_2595]
type=graphic
clientcode=310
x=27
y=243
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change legs

[com_2596]
type=graphic
clientcode=312
x=27
y=278
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Change feet

[com_2597]
type=graphic
clientcode=301
x=140
y=68
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change head

[com_2598]
type=graphic
clientcode=303
x=140
y=103
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change jaw

[com_2599]
type=graphic
clientcode=305
x=140
y=138
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change torso

[com_2600]
type=graphic
clientcode=307
x=140
y=173
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change arms

[com_2601]
type=graphic
clientcode=309
x=140
y=208
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change hands

[com_2602]
type=graphic
clientcode=311
x=140
y=243
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change legs

[com_2603]
type=graphic
clientcode=313
x=140
y=278
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Change feet

[com_2604]
type=text
x=90
y=184
width=29
height=14
layer=com_2490
textfont=p12_full
text=Arms
textshadow=yes
colour=0xffff00

[com_2605]
type=text
x=91
y=254
width=27
height=14
layer=com_2490
textfont=p12_full
text=Legs
textshadow=yes
colour=0xffff00

[com_2606]
type=text
x=91
y=79
width=28
height=14
layer=com_2490
textfont=p12_full
text=Head
textshadow=yes
colour=0xffff00

[com_2607]
type=text
x=88
y=219
width=35
height=14
layer=com_2490
textfont=p12_full
text=Hands
textshadow=yes
colour=0xffff00

[com_2608]
type=text
x=91
y=288
width=25
height=14
layer=com_2490
textfont=p12_full
text=Feet
textshadow=yes
colour=0xffff00

[com_2609]
type=text
x=94
y=114
width=21
height=14
layer=com_2490
textfont=p12_full
text=Jaw
textshadow=yes
colour=0xffff00

[com_2610]
type=graphic
clientcode=315
x=440
y=74
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Recolour hair

[com_2611]
type=graphic
clientcode=318
x=326
y=144
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Recolour legs

[com_2612]
type=graphic
clientcode=316
x=326
y=109
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Recolour torso

[com_2613]
type=graphic
clientcode=320
x=326
y=179
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Recolour feet

[com_2614]
type=graphic
clientcode=322
x=326
y=214
width=45
height=36
layer=com_2490
buttontype=1
graphic=leftarrow,0
buttontext=Recolour skin

[com_2615]
type=text
x=87
y=55
width=34
height=11
layer=com_2490
textfont=p11_full
text=Design
textshadow=yes

[com_2616]
type=graphic
clientcode=317
x=440
y=109
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Recolour torso

[com_2617]
type=text
x=391
y=55
width=33
height=11
layer=com_2490
textfont=p11_full
text=Colour
textshadow=yes

[com_2618]
type=graphic
clientcode=319
x=440
y=144
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Recolour legs

[com_2619]
type=graphic
clientcode=321
x=440
y=179
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Recolour feet

[com_2620]
type=graphic
clientcode=323
x=440
y=214
width=45
height=36
layer=com_2490
buttontype=1
graphic=rightarrow,0
buttontext=Recolour skin

[com_2621]
type=text
x=394
y=86
width=22
height=14
layer=com_2490
textfont=p12_full
text=Hair
textshadow=yes
colour=0xffff00

[com_2622]
type=text
x=390
y=121
width=31
height=14
layer=com_2490
textfont=p12_full
text=Torso
textshadow=yes
colour=0xffff00

[com_2623]
type=text
x=392
y=155
width=27
height=14
layer=com_2490
textfont=p12_full
text=Legs
textshadow=yes
colour=0xffff00

[com_2624]
type=text
x=393
y=225
width=23
height=14
layer=com_2490
textfont=p12_full
text=Skin
textshadow=yes
colour=0xffff00

[com_2625]
type=text
x=393
y=191
width=25
height=14
layer=com_2490
textfont=p12_full
text=Feet
textshadow=yes
colour=0xffff00

[com_2626]
type=graphic
x=235
y=245
width=36
height=36
layer=com_2490
graphic=steelborder2,0

[com_2627]
type=graphic
x=236
y=282
width=36
height=36
layer=com_2490
graphic=miscgraphics,3

[com_2628]
type=text
x=390
y=258
width=36
height=11
layer=com_2490
textfont=p11_full
text=Gender
textshadow=yes

[com_2629]
type=graphic
clientcode=324
x=325
y=271
width=72
height=36
layer=com_2490
buttontype=1
graphic=combatboxes,0
graphicactive=combatboxes,1
buttontext=Male

[com_2630]
type=graphic
clientcode=325
x=417
y=271
width=72
height=36
layer=com_2490
buttontype=1
graphic=combatboxes,0
graphicactive=combatboxes,1
buttontext=Female

[com_2631]
type=text
x=348
y=281
width=26
height=14
layer=com_2490
textfont=p12_full
text=Male
textshadow=yes
colour=0xffff00

[com_2632]
type=text
x=435
y=281
width=39
height=14
layer=com_2490
textfont=p12_full
text=Female
textshadow=yes
colour=0xffff00

