[com_12082]
type=layer
width=512
height=334

[com_12090]
type=layer
x=40
y=62
width=450
height=15
layer=com_12082
hide=yes

[com_12092]
type=layer
x=40
y=77
width=451
height=18
layer=com_12082
hide=yes

[com_12100]
type=layer
x=40
y=107
width=450
height=18
layer=com_12082
hide=yes

[com_12103]
type=layer
x=39
y=124
width=450
height=18
layer=com_12082
hide=yes

[com_12111]
type=layer
x=39
y=142
width=449
height=14
layer=com_12082
hide=yes

[com_13548]
type=layer
x=38
y=167
width=452
height=15
layer=com_12082
hide=yes

[com_13549]
type=layer
x=38
y=181
width=453
height=16
layer=com_12082
hide=yes

[com_13550]
type=layer
x=38
y=196
width=453
height=18
layer=com_12082
hide=yes

[com_13551]
type=layer
x=39
y=212
width=452
height=16
layer=com_12082
hide=yes

[com_13552]
type=text
width=451
height=17
layer=com_12090
textfont=b12_full
text=Five hundred years have passed since the rule of King Alvis,
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13553]
type=text
y=1
width=451
height=18
layer=com_12092
textfont=b12_full
text=saviour of Keldagrim, victim of his own inventions.
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13554]
type=text
width=450
height=16
layer=com_12100
textfont=b12_full
text=Founder of the Consortium, the gathering of mining companies
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13555]
type=text
y=1
width=450
height=17
layer=com_12103
textfont=b12_full
text=that were to serve the monarchy, eventually the monarchy came
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13556]
type=text
width=451
height=15
layer=com_12111
textfont=b12_full
text=to serve the Consortium.
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13557]
type=text
width=452
height=15
layer=com_13548
textfont=b12_full
text=By the time of his death, the monarchy was all but abolished.
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13558]
type=text
width=452
height=16
layer=com_13549
textfont=b12_full
text=By now, the Kings of Keldagrim are but a distant memory...
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13559]
type=text
y=1
width=453
height=18
layer=com_13550
textfont=b12_full
text=with only the statue of King Alvis to remind the people of the
textalignh=centre
textshadow=yes
colour=0xff0000

[com_13560]
type=text
width=451
height=13
layer=com_13551
textfont=b12_full
text=old days.
textalignh=centre
textshadow=yes
colour=0xff0000

