[com_8219]
type=layer
width=512
height=334

[com_8220]
type=text
y=-1
width=480
height=17
layer=com_8219
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

[com_8221]
type=text
y=15
width=480
height=16
layer=com_8219
buttontype=1
textfont=q8_full
text=option1
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_8222]
type=text
y=31
width=480
height=16
layer=com_8219
buttontype=1
textfont=q8_full
text=option2
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_8223]
type=text
y=47
width=480
height=16
layer=com_8219
buttontype=1
textfont=q8_full
text=option3
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_8224]
type=text
y=63
width=480
height=16
layer=com_8219
buttontype=1
textfont=q8_full
text=option4
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_8225]
type=text
y=79
width=480
height=16
layer=com_8219
buttontype=1
textfont=q8_full
text=option5
textalignh=centre
colour=0x000000
mouseovercolour=0x00c000

[com_8226]
type=graphic
width=57
height=13
layer=com_8228
graphic=sworddecor,1

[com_8227]
type=graphic
x=172
width=57
height=13
layer=com_8228
graphic=sworddecor,0

[com_8228]
type=layer
x=126
y=1
width=229
height=13
layer=com_8219

[com_8229]
type=layer
x=2
y=1
width=476
height=13
layer=com_8219
hide=yes

[com_8230]
type=graphic
width=57
height=13
layer=com_8229
graphic=sworddecor,1

[com_8231]
type=graphic
x=419
width=57
height=13
layer=com_8229
graphic=sworddecor,0

