[com_10051]
type=layer
width=512
height=334

[com_10052]
type=rectangle
x=2
y=68
width=508
height=172
layer=com_10051
colour=0x202020
fill=yes

[com_10053]
type=rectangle
x=6
y=72
width=499
height=164
layer=com_10051
colour=0x404040
fill=yes

[com_10054]
type=layer
x=12
y=20
width=488
height=36
layer=com_10051

[com_10055]
type=graphic
x=94
y=-3
width=88
height=60
layer=com_10054
graphic=tradebacking,0

[com_10056]
type=graphic
x=182
y=6
width=88
height=60
layer=com_10054
graphic=tradebacking,0

[com_10057]
type=graphic
x=270
y=6
width=88
height=60
layer=com_10054
graphic=tradebacking,0

[com_10058]
type=graphic
x=358
y=6
width=88
height=60
layer=com_10054
graphic=tradebacking,0

[com_10059]
type=graphic
x=394
y=6
width=88
height=60
layer=com_10054
graphic=tradebacking,0

[com_10060]
type=graphic
x=6
y=-1
width=88
height=60
layer=com_10054
graphic=tradebacking,0

[com_10061]
type=graphic
x=60
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10062]
type=graphic
x=96
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10063]
type=graphic
x=132
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10064]
type=graphic
x=168
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10065]
type=graphic
x=204
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10066]
type=graphic
x=240
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10067]
type=graphic
x=276
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10068]
type=graphic
x=312
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10069]
type=graphic
x=348
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10070]
type=graphic
x=384
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10071]
type=graphic
x=420
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10072]
type=graphic
x=428
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10073]
type=graphic
width=25
height=30
layer=com_10054
graphic=steelborder,0

[com_10074]
type=graphic
x=60
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10075]
type=graphic
x=96
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10076]
type=graphic
x=132
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10077]
type=graphic
x=168
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10078]
type=graphic
x=204
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10079]
type=graphic
x=240
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10080]
type=graphic
x=276
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10081]
type=graphic
x=312
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10082]
type=graphic
x=348
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10083]
type=graphic
x=384
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10084]
type=graphic
x=420
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10085]
type=graphic
x=25
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10086]
type=graphic
x=463
width=25
height=30
layer=com_10054
graphic=steelborder,1

[com_10087]
type=graphic
x=427
y=-15
width=36
height=36
layer=com_10054
graphic=steelborder2,0

[com_10088]
type=graphic
x=463
y=7
width=25
height=30
layer=com_10054
graphic=steelborder,3

[com_10089]
type=graphic
x=25
y=16
width=36
height=36
layer=com_10054
graphic=miscgraphics,3

[com_10090]
type=graphic
y=7
width=25
height=30
layer=com_10054
graphic=steelborder,2

[com_10091]
type=model
x=54
y=116
width=32
height=32
layer=com_10051
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_10092]
type=model
x=178
y=116
width=32
height=32
layer=com_10051
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_10093]
type=model
x=302
y=116
width=32
height=32
layer=com_10051
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_10094]
type=model
x=426
y=116
width=32
height=32
layer=com_10051
model=model_3041
modelangle=400,0,0
modelzoom=550

[com_10095]
type=text
x=65
y=97
width=9
height=14
layer=com_10051
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_10096]
type=text
x=189
y=97
width=9
height=14
layer=com_10051
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_10097]
type=text
x=313
y=97
width=9
height=14
layer=com_10051
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_10098]
type=text
x=437
y=97
width=9
height=14
layer=com_10051
textfont=b12_full
text=A
textalignh=centre
colour=0x505050

[com_10099]
type=graphic
x=22
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=leftarrow,0

[com_10100]
type=graphic
x=70
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=rightarrow,0

[com_10101]
type=graphic
x=146
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=leftarrow,0

[com_10102]
type=graphic
x=194
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=rightarrow,0

[com_10103]
type=graphic
x=270
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=leftarrow,0

[com_10104]
type=graphic
x=318
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=rightarrow,0

[com_10105]
type=graphic
x=394
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=leftarrow,0

[com_10106]
type=graphic
x=442
y=196
width=45
height=36
layer=com_10051
buttontype=1
graphic=rightarrow,0

[com_10107]
type=text
x=185
y=30
width=147
height=14
layer=com_10051
textfont=b12_full
text=Combination Lock Door
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10108]
type=text
x=423
y=32
width=68
height=11
layer=com_10051
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0x808080
mouseovercolour=0xffffff

[com_10109]
type=rectangle
x=193
y=262
width=128
height=32
layer=com_10051
buttontype=1
colour=0x404040
fill=yes

[com_10110]
type=text
x=229
y=269
width=53
height=14
layer=com_10051
textfont=b12_full
text=E N T E R
colour=0xffaa44

