[com_15588]
type=layer
width=512
height=334

[com_15589]
type=graphic
x=480
y=304
width=25
height=25
layer=com_15588
graphic=staticons2,4

