[com_10617]
type=layer
width=512
height=334

[com_10618]
type=graphic
x=12
y=20
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10619]
type=graphic
x=12
y=80
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10620]
type=graphic
x=12
y=140
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10621]
type=graphic
x=12
y=200
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10622]
type=graphic
x=12
y=260
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10623]
type=graphic
x=100
y=20
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10624]
type=graphic
x=100
y=80
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10625]
type=graphic
x=100
y=140
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10626]
type=graphic
x=100
y=200
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10627]
type=graphic
x=188
y=20
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10628]
type=graphic
x=100
y=260
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10629]
type=graphic
x=188
y=80
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10630]
type=graphic
x=188
y=140
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10631]
type=graphic
x=188
y=200
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10632]
type=graphic
x=276
y=20
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10633]
type=graphic
x=188
y=260
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10634]
type=graphic
x=364
y=80
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10635]
type=graphic
x=276
y=80
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10636]
type=graphic
x=276
y=140
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10637]
type=graphic
x=276
y=200
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10638]
type=graphic
x=276
y=260
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10639]
type=graphic
x=364
y=140
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10640]
type=graphic
x=364
y=20
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10641]
type=graphic
x=364
y=200
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10642]
type=graphic
x=364
y=260
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10643]
type=graphic
x=412
y=20
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10644]
type=graphic
x=412
y=80
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10645]
type=graphic
x=412
y=140
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10646]
type=graphic
x=412
y=200
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10647]
type=graphic
x=409
y=258
width=88
height=60
layer=com_10617
graphic=tradebacking,0

[com_10648]
type=graphic
x=12
y=20
width=25
height=30
layer=com_10617
graphic=steelborder,0

[com_10649]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10650]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10651]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10652]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10653]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10654]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10655]
type=graphic
x=479
y=50
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10656]
type=graphic
x=479
y=86
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10657]
type=graphic
x=479
y=122
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10658]
type=graphic
x=479
y=158
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10659]
type=graphic
x=479
y=194
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10660]
type=graphic
x=479
y=230
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10661]
type=graphic
x=479
y=266
width=36
height=36
layer=com_10617
graphic=steelborder2,1

[com_10662]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10663]
type=graphic
x=73
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10664]
type=graphic
x=109
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10665]
type=graphic
x=145
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10666]
type=graphic
x=181
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10667]
type=graphic
x=217
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10668]
type=graphic
x=253
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10669]
type=graphic
x=289
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10670]
type=graphic
x=325
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10671]
type=graphic
x=361
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10672]
type=graphic
x=397
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10673]
type=graphic
x=433
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10674]
type=graphic
x=72
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10675]
type=graphic
x=108
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10676]
type=graphic
x=144
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10677]
type=graphic
x=180
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10678]
type=graphic
x=216
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10679]
type=graphic
x=252
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10680]
type=graphic
x=288
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10681]
type=graphic
x=324
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10682]
type=graphic
x=360
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10683]
type=graphic
x=396
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10684]
type=graphic
x=432
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10685]
type=text
x=25
y=60
width=165
height=14
layer=com_10617
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10686]
type=graphic
x=37
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10687]
type=graphic
x=37
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10688]
type=graphic
x=12
y=290
width=25
height=30
layer=com_10617
graphic=steelborder,2

[com_10689]
type=graphic
x=475
y=20
width=25
height=30
layer=com_10617
graphic=steelborder,1

[com_10690]
type=graphic
x=439
y=5
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10691]
type=graphic
x=475
y=290
width=25
height=30
layer=com_10617
graphic=steelborder,3

[com_10692]
type=graphic
x=439
y=299
width=36
height=36
layer=com_10617
graphic=miscgraphics,3

[com_10693]
type=text
x=100
y=75
width=14
height=14
layer=com_10617
textfont=p12_full
text=vs
textshadow=yes
colour=0xaaaaaa

[com_10694]
type=text
x=25
y=90
width=165
height=14
layer=com_10617
textfont=p12_full
text=Insert a very long name here!
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10695]
type=graphic
x=183
y=26
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10696]
type=graphic
x=183
y=62
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10697]
type=graphic
x=183
y=98
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10698]
type=graphic
x=183
y=134
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10699]
type=graphic
x=183
y=170
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10700]
type=graphic
x=162
y=34
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10701]
type=graphic
x=144
y=34
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10702]
type=graphic
x=108
y=34
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10703]
type=graphic
x=72
y=34
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10704]
type=graphic
x=36
y=34
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10705]
type=graphic
x=17
y=34
width=36
height=36
layer=com_10617
graphic=steelborder2,0

[com_10706]
type=text
x=50
y=122
width=27
height=14
layer=com_10617
textfont=p12_full
text=Turn:
textalignh=centre
textshadow=yes
colour=0xffaa44

[com_10707]
type=model
x=135
y=289
width=32
height=32
layer=com_10617
model=model_4612
modelzoom=2048

[com_10708]
type=layer
x=26
y=265
width=78
height=42
layer=com_10617

[com_10709]
type=layer
x=26
y=215
width=78
height=43
layer=com_10617

[com_10710]
type=text
x=21
y=29
width=55
height=14
layer=com_10617
textfont=b12_full
text=Runelink
textshadow=yes
colour=0xffaa44

[com_10711]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_10708
buttontype=3
colour=0x000000
fill=yes

[com_10712]
type=text
x=21
y=14
width=38
height=14
layer=com_10708
textfont=p12_full
text=Resign
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_10713]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_10709
buttontype=1
colour=0x000000
fill=yes
buttontext=Offer your opponent a draw

[com_10714]
type=text
x=9
y=14
width=61
height=14
layer=com_10709
textfont=p12_full
text=Offer draw
textshadow=yes
colour=0x888800
mouseovercolour=0xffff00

[com_10715]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_10708
graphic=steelborder2,0

[com_10716]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_10709
graphic=steelborder2,0

[com_10717]
type=text
x=85
y=122
width=97
height=14
layer=com_10617
textfont=p12_full
text=A very long name
textshadow=yes
colour=0xaaaaaa

[com_10718]
type=graphic
x=22
y=21
width=36
height=36
layer=com_10709
graphic=miscgraphics,3

[com_10719]
type=graphic
width=25
height=30
layer=com_10708
graphic=steelborder,0

[com_10720]
type=graphic
width=25
height=30
layer=com_10709
graphic=steelborder,0

[com_10721]
type=graphic
x=53
width=25
height=30
layer=com_10708
graphic=steelborder,1

[com_10722]
type=graphic
x=53
width=25
height=30
layer=com_10709
graphic=steelborder,1

[com_10723]
type=graphic
y=12
width=25
height=30
layer=com_10708
graphic=steelborder,2

[com_10724]
type=graphic
y=12
width=25
height=30
layer=com_10709
graphic=steelborder,2

[com_10725]
type=graphic
x=53
y=12
width=25
height=30
layer=com_10708
graphic=steelborder,3

[com_10726]
type=graphic
x=21
y=21
width=36
height=36
layer=com_10708
graphic=miscgraphics,3

[com_10727]
type=graphic
x=53
y=12
width=25
height=30
layer=com_10709
graphic=steelborder,3

[com_10728]
type=model
x=336
y=253
width=32
height=32
layer=com_10617
model=model_4608
modelzoom=134

[com_10729]
type=model
x=229
y=57
width=32
height=32
layer=com_10617
model=model_4611
modelangle=512,0,0
modelzoom=768
modelanim=seq_1356

[com_10730]
type=inv
x=229
y=57
width=7
height=6
layer=com_10617
paddingx=3
paddingy=3

[com_10731]
type=text
x=23
y=185
width=169
height=11
layer=com_10617
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10732]
type=graphic
x=183
y=206
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10733]
type=graphic
x=183
y=242
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10734]
type=graphic
x=183
y=278
width=36
height=36
layer=com_10617
graphic=miscgraphics,2

[com_10735]
type=text
x=23
y=160
width=169
height=11
layer=com_10617
textfont=p11_full
text=Blah blah blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10736]
type=graphic
x=229
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10737]
type=graphic
x=264
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10738]
type=graphic
x=299
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10739]
type=graphic
x=334
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10740]
type=graphic
x=369
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10741]
type=graphic
x=404
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10742]
type=graphic
x=439
y=57
width=32
height=207
layer=com_10617
buttontype=1
buttontext=Drop piece

[com_10743]
type=text
x=27
y=157
width=160
height=14
layer=com_10617
textfont=b12_full
text=Blah blah blah blah blah!
textalignh=centre
textshadow=yes
colour=0xaaaaaa

[com_10744]
type=layer
x=26
y=265
width=78
height=42
layer=com_10617
hide=yes

[com_10745]
type=rectangle
x=6
y=6
width=66
height=31
layer=com_10744
buttontype=3
colour=0x000000
fill=yes

[com_10746]
type=text
x=23
y=14
width=31
height=14
layer=com_10744
textfont=p12_full
text=Close
textshadow=yes
colour=0x800000
mouseovercolour=0xff0000

[com_10747]
type=graphic
x=21
y=-15
width=36
height=36
layer=com_10744
graphic=steelborder2,0

[com_10748]
type=graphic
width=25
height=30
layer=com_10744
graphic=steelborder,0

[com_10749]
type=graphic
x=53
width=25
height=30
layer=com_10744
graphic=steelborder,1

[com_10750]
type=graphic
y=12
width=25
height=30
layer=com_10744
graphic=steelborder,2

[com_10751]
type=graphic
x=53
y=12
width=25
height=30
layer=com_10744
graphic=steelborder,3

[com_10752]
type=graphic
x=21
y=21
width=36
height=36
layer=com_10744
graphic=miscgraphics,3

[com_10753]
type=model
x=20
y=57
width=20
height=20
layer=com_10617
model=model_2399
modelangle=512,1024,0
modelzoom=1024

[com_10754]
type=model
x=20
y=87
width=20
height=20
layer=com_10617
model=model_2652
modelangle=512,1024,0
modelzoom=1024

