[com_4958]
type=layer
width=512
height=334

[com_4959]
type=model
x=135
y=16
width=35
height=32
layer=com_4958
model=model_2644
modelangle=521,1288,0
modelzoom=624

[com_4960]
type=text
x=4
y=2
width=58
height=14
layer=com_4958
textfont=p12_full
text=GnomeBall
textshadow=yes
colour=0xffff00

[com_4961]
type=text
x=4
y=22
width=35
height=14
layer=com_4958
textfont=p12_full
text=Score:
textshadow=yes
colour=0x00ff99

[com_4962]
type=text
x=4
y=43
width=81
height=14
layer=com_4958
textfont=p12_full
text=Choose Action
textshadow=yes
colour=0x00c000

[com_4963]
type=layer
x=4
y=60
width=145
height=190
layer=com_4958

[com_4964]
type=graphic
x=25
y=115
width=25
height=39
layer=com_4963
buttontype=2
graphic=gnomeball_buttons,2
targetmask=npc,player
targetverb=Tackle

[com_4965]
type=graphic
x=25
y=15
width=25
height=39
layer=com_4963
buttontype=1
graphic=gnomeball_buttons,1
buttontext=Shoot

[com_4966]
type=graphic
x=25
y=65
width=25
height=39
layer=com_4963
buttontype=2
graphic=gnomeball_buttons,0
targetmask=npc,player
targetverb=Pass to

[com_4967]
type=text
x=78
y=25
width=33
height=14
layer=com_4963
textfont=p12_full
text=Shoot
textshadow=yes
colour=0xffff00

[com_4968]
type=text
x=78
y=75
width=28
height=14
layer=com_4963
textfont=p12_full
text=Pass
textshadow=yes
colour=0xffff00

[com_4969]
type=text
x=78
y=125
width=34
height=14
layer=com_4963
textfont=p12_full
text=Tackle
textshadow=yes
colour=0xffff00

[com_4970]
type=text
x=42
y=22
width=17
height=14
layer=com_4958
textfont=p12_full
text=%1
textshadow=yes
colour=0x00ff99
script0=varplayer_143

