[com_6988]
type=layer
width=512
height=334

[com_6989]
type=model
x=258
y=159
width=32
height=32
layer=com_6988
model=model_7445
modelangle=0,2047,0
modelzoom=179

[com_6990]
type=text
x=464
y=17
width=33
height=17
layer=com_6988
buttontype=3
textfont=q8_full
text=Close
textshadow=yes
colour=0xffff00

[com_6991]
type=text
x=151
y=101
width=210
height=17
layer=com_6988
textfont=q8_full
text=Certificate of Advanced Healing
textshadow=yes
colour=0xffff00

[com_6992]
type=text
x=182
y=115
width=162
height=17
layer=com_6988
textfont=q8_full
text=From PoxStead College.
textshadow=yes
colour=0xffff00

[com_6993]
type=text
x=248
y=207
width=140
height=12
layer=com_6988
textfont=p11_full
text=Signed Dr Foster-MMD, PRD
textshadow=yes
colour=0xffff00

[com_7331]
type=text
x=254
y=221
width=123
height=12
layer=com_6988
textfont=p11_full
text=Head Of Magical Healing.
textshadow=yes
colour=0xffff00

