[com_6179]
type=layer
width=512
height=334

[com_6180]
type=text
y=5
width=480
height=17
layer=com_6179
textfont=q8_full
text=Title
textalignh=centre
colour=0x0000ff

[com_6181]
type=text
y=26
width=480
height=17
layer=com_6179
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_6182]
type=text
y=42
width=480
height=17
layer=com_6179
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_6183]
type=text
y=58
width=480
height=17
layer=com_6179
textfont=q8_full
text=Line3
textalignh=centre
colour=0x000000

[com_6184]
type=text
y=74
width=480
height=17
layer=com_6179
textfont=q8_full
text=Line4
textalignh=centre
colour=0x000000

