[com_2245]
type=layer
width=512
height=334

[com_2246]
type=text
x=181
y=8
width=134
height=14
layer=com_2245
textfont=p12_full
text=The Region Of Misthalin.
textshadow=yes
colour=0xffff00

[com_2247]
type=model
x=8
y=17
width=500
height=300
layer=com_2245
model=model_2672
modelangle=500,0,0
modelzoom=490

[com_2248]
type=text
x=345
y=63
width=76
height=14
layer=com_2245
textfont=p12_full
text=You Are Here:
textshadow=yes
colour=0xffff00

[com_2249]
type=model
x=371
y=81
width=20
height=20
layer=com_2245
model=model_2669
modelangle=500,0,0
modelzoom=1200

