[com_0]
type=rectangle
x=-2
y=-3
width=568
height=369
colour=0x000000
fill=yes

[com_1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking

[com_2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking

[com_3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking

[com_4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking

[com_5]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking

[com_6]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking

[com_7]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking

[com_8]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking

[com_9]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking

[com_10]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking

[com_11]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking

[com_12]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking

[com_13]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking

[com_14]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking

[com_15]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking

[com_16]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking

[com_17]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking

[com_18]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking

[com_19]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking

[com_20]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking

[com_21]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking

[com_22]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking

[com_23]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking

[com_24]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking

[com_25]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking

[com_26]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking

[com_27]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking

[com_28]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking

[com_29]
type=graphic
x=-3
y=85
width=36
height=36
graphic="miscgraphics,2"

[com_30]
type=graphic
x=-3
y=121
width=36
height=36
graphic="miscgraphics,2"

[com_31]
type=graphic
x=-3
y=157
width=36
height=36
graphic="miscgraphics,2"

[com_32]
type=graphic
x=-3
y=193
width=36
height=36
graphic="miscgraphics,2"

[com_33]
type=graphic
x=-3
y=229
width=36
height=36
graphic="miscgraphics,2"

[com_34]
type=graphic
x=-3
y=265
width=36
height=36
graphic="miscgraphics,2"

[com_35]
type=graphic
x=479
y=50
width=36
height=36
graphic="steelborder2,1"

[com_36]
type=graphic
x=479
y=86
width=36
height=36
graphic="steelborder2,1"

[com_37]
type=graphic
x=479
y=122
width=36
height=36
graphic="steelborder2,1"

[com_38]
type=graphic
x=479
y=158
width=36
height=36
graphic="steelborder2,1"

[com_39]
type=graphic
x=479
y=194
width=36
height=36
graphic="steelborder2,1"

[com_40]
type=graphic
x=479
y=230
width=36
height=36
graphic="steelborder2,1"

[com_41]
type=graphic
x=479
y=266
width=36
height=36
graphic="steelborder2,1"

[com_42]
type=graphic
x=145
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_43]
type=graphic
x=181
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_44]
type=graphic
x=217
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_45]
type=graphic
x=253
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_46]
type=graphic
x=289
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_47]
type=graphic
x=325
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_48]
type=graphic
x=361
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_49]
type=graphic
x=397
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_50]
type=graphic
x=433
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_51]
type=graphic
x=216
y=5
width=36
height=36
graphic="steelborder2,0"

[com_52]
type=graphic
x=252
y=5
width=36
height=36
graphic="steelborder2,0"

[com_53]
type=graphic
x=288
y=5
width=36
height=36
graphic="steelborder2,0"

[com_54]
type=graphic
x=324
y=5
width=36
height=36
graphic="steelborder2,0"

[com_55]
type=graphic
x=360
y=5
width=36
height=36
graphic="steelborder2,0"

[com_56]
type=graphic
x=396
y=5
width=36
height=36
graphic="steelborder2,0"

[com_57]
type=graphic
x=432
y=5
width=36
height=36
graphic="steelborder2,0"

[com_58]
type=graphic
x=252
y=34
width=36
height=36
graphic="steelborder2,0"

[com_59]
type=graphic
x=475
y=20
width=25
height=30
graphic="steelborder,1"

[com_60]
type=graphic
x=439
y=5
width=36
height=36
graphic="steelborder2,0"

[com_61]
type=graphic
x=475
y=290
width=25
height=30
graphic="steelborder,3"

[com_62]
type=graphic
x=439
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_63]
type=graphic
x=288
y=34
width=36
height=36
graphic="steelborder2,0"

[com_64]
type=graphic
x=324
y=34
width=36
height=36
graphic="steelborder2,0"

[com_65]
type=graphic
x=360
y=34
width=36
height=36
graphic="steelborder2,0"

[com_66]
type=graphic
x=396
y=34
width=36
height=36
graphic="steelborder2,0"

[com_67]
type=graphic
x=432
y=34
width=36
height=36
graphic="steelborder2,0"

[com_68]
type=graphic
x=459
y=34
width=36
height=36
graphic="steelborder2,0"

[com_69]
type=graphic
x=216
y=34
width=36
height=36
graphic="steelborder2,0"

[com_70]
type=layer
x=32
y=80
width=250
height=222
scrollheight=625

[com_71]
type=model
x=10
y=109
width=49
height=34
layer=com_70
buttontype=1
model=model_12409
modelangle=202,385,0
modelzoom=2075

[com_72]
type=model
x=11
y=45
width=49
height=34
layer=com_70
buttontype=1
model=model_12444
modelangle=79,1841,0
modelzoom=1643

[com_73]
type=model
x=6
y=165
width=49
height=34
layer=com_70
buttontype=1
model=model_12384
modelangle=174,1852,0
modelzoom=2282

[com_74]
type=model
x=22
y=213
width=33
height=39
layer=com_70
buttontype=1
model=model_12492
modelangle=117,1123,0
modelzoom=2626

[com_75]
type=model
x=23
y=277
width=35
height=29
layer=com_70
buttontype=1
model=model_12457
modelangle=106,714,0
modelzoom=2985

[com_76]
type=model
x=17
y=344
width=32
height=32
layer=com_70
buttontype=1
model=model_12405
modelangle=152,1827,0
modelzoom=1842

[com_77]
type=model
x=19
y=405
width=32
height=32
layer=com_70
buttontype=1
model=model_12393
modelangle=100,1831,0
modelzoom=3000

[com_78]
type=model
x=20
y=462
width=32
height=32
layer=com_70
buttontype=1
model=model_12466
modelangle=151,1869,0
modelzoom=2168

[com_79]
type=model
x=20
y=530
width=31
height=28
layer=com_70
buttontype=1
model=model_11125
modelangle=127,1831,0
modelzoom=2401

[com_80]
type=model
x=13
y=583
width=38
height=41
layer=com_70
buttontype=1
model=model_12972
modelangle=152,1937,0
modelzoom=2211

[com_81]
type=rectangle
x=32
y=80
width=267
height=222
colour=0x333333

[com_82]
type=text
x=78
y=33
width=159
height=15
layer=com_70
textfont=p12_full
text=Armchairs
textshadow=yes
colour=0xccccff

[com_83]
type=text
x=78
y=93
width=159
height=17
layer=com_70
textfont=p12_full
text=Bookcases
textshadow=yes
colour=0xccccff

[com_84]
type=text
x=78
y=154
width=159
height=15
layer=com_70
textfont=p12_full
text=Beer Barrels
textshadow=yes
colour=0xccccff

[com_85]
type=text
x=78
y=214
width=159
height=16
layer=com_70
textfont=p12_full
text=Kitchen Tables
textshadow=yes
colour=0xccccff

[com_86]
type=text
x=78
y=274
width=159
height=19
layer=com_70
textfont=p12_full
text=Dining Tables
textshadow=yes
colour=0xccccff

[com_87]
type=text
x=78
y=334
width=160
height=17
layer=com_70
textfont=p12_full
text=Dining Benches
textshadow=yes
colour=0xccccff

[com_88]
type=text
x=78
y=394
width=159
height=17
layer=com_70
textfont=p12_full
text=Beds
textshadow=yes
colour=0xccccff

[com_89]
type=text
x=78
y=454
width=160
height=18
layer=com_70
textfont=p12_full
text=Dressers
textshadow=yes
colour=0xccccff

[com_90]
type=text
x=78
y=513
width=160
height=16
layer=com_70
textfont=p12_full
text=Wardrobes
textshadow=yes
colour=0xccccff

[com_91]
type=text
x=78
y=575
width=160
height=14
layer=com_70
textfont=p12_full
text=Clocks
textshadow=yes
colour=0xccccff

[com_92]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking

[com_93]
type=graphic
x=37
y=5
width=36
height=36
graphic="steelborder2,0"

[com_94]
type=graphic
x=17
y=34
width=36
height=36
graphic="steelborder2,0"

[com_95]
type=graphic
x=36
y=34
width=36
height=36
graphic="steelborder2,0"

[com_96]
type=graphic
x=-3
y=49
width=36
height=36
graphic="miscgraphics,2"

[com_97]
type=graphic
x=12
y=20
width=25
height=30
graphic="steelborder,0"

[com_98]
type=rectangle
x=18
y=1
width=374
height=19
colour=0x000000
fill=yes

[com_99]
type=rectangle
x=2
y=8
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

[com_100]
type=rectangle
x=2
y=70
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

[com_101]
type=rectangle
x=2
y=132
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

[com_102]
type=rectangle
x=2
y=194
width=238
height=56
layer=com_70
buttontype=1
colour=0x333300

[com_103]
type=rectangle
x=2
y=251
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

[com_104]
type=rectangle
x=2
y=313
width=238
height=58
layer=com_70
buttontype=1
colour=0x333300

[com_105]
type=rectangle
x=2
y=372
width=238
height=61
layer=com_70
buttontype=1
colour=0x333300

[com_106]
type=rectangle
x=2
y=434
width=238
height=56
layer=com_70
buttontype=1
colour=0x333300

[com_107]
type=rectangle
x=2
y=491
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

[com_108]
type=rectangle
x=2
y=551
width=238
height=59
layer=com_70
buttontype=1
colour=0x333300

[com_109]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking

[com_110]
type=text
x=21
y=60
width=380
height=16
textfont=p12_full
text=Select a piece of furniture to build
textshadow=yes
colour=0xff981f

[com_111]
type=graphic
x=108
y=34
width=36
height=36
graphic="steelborder2,0"

[com_112]
type=graphic
x=144
y=34
width=36
height=36
graphic="steelborder2,0"

[com_113]
type=graphic
x=72
y=34
width=36
height=36
graphic="steelborder2,0"

[com_114]
type=graphic
x=180
y=34
width=36
height=36
graphic="steelborder2,0"

[com_115]
type=text
x=51
y=30
width=408
height=13
textfont=b12_full
text=Furniture  Creation Menu
textalignh=centre
textshadow=yes
colour=0xff981f

[com_116]
type=graphic
x=72
y=5
width=36
height=36
graphic="steelborder2,0"

[com_117]
type=graphic
x=144
y=5
width=36
height=36
graphic="steelborder2,0"

[com_118]
type=graphic
x=108
y=5
width=36
height=36
graphic="steelborder2,0"

[com_119]
type=graphic
x=31
y=302
width=88
height=60
graphic=tradebacking

[com_120]
type=graphic
x=180
y=5
width=36
height=36
graphic="steelborder2,0"

[com_121]
type=graphic
x=12
y=290
width=25
height=30
graphic="steelborder,2"

[com_122]
type=graphic
x=37
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_123]
type=graphic
x=109
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_124]
type=graphic
x=73
y=299
width=36
height=36
graphic="miscgraphics,3"

[com_125]
type=rectangle
x=29
y=319
width=96
height=60
colour=0x000000
fill=yes

[com_126]
type=graphic
x=470
y=26
width=26
height=23
mouseoverlayer=com_128
graphic="close_buttons,0"

[com_127]
type=graphic
x=6
y=5
width=26
height=23
layer=com_128
buttontype=3
graphic="close_buttons,1"

[com_128]
type=layer
x=464
y=21
width=32
height=32
hide=yes

