[com_4272]
type=layer
width=512
height=334

[com_4273]
type=text
x=73
y=15
width=390
height=17
layer=com_4272
textfont=q8_full
text=Line1
textalignh=centre
colour=0x000000

[com_4274]
type=text
x=73
y=44
width=390
height=18
layer=com_4272
textfont=q8_full
text=Line2
textalignh=centre
colour=0x000000

[com_4275]
type=text
x=93
y=74
width=350
height=17
layer=com_4272
buttontype=6
textfont=q8_full
text=Click here to continue
textalignh=centre
colour=0xffff00
mouseovercolour=0x00c000

[com_4276]
type=model
x=20
y=69
width=32
height=32
layer=com_4272
model=model_1570
modelangle=116,1978,0
modelzoom=1800

