[com_3038]
type=layer
width=512
height=334

[com_3039]
type=graphic
x=12
y=20
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3040]
type=graphic
x=12
y=80
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3041]
type=graphic
x=12
y=140
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3042]
type=graphic
x=12
y=200
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3043]
type=graphic
x=12
y=260
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3044]
type=graphic
x=100
y=20
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3045]
type=graphic
x=100
y=80
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3046]
type=graphic
x=100
y=140
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3047]
type=graphic
x=100
y=200
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3048]
type=graphic
x=188
y=20
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3049]
type=graphic
x=100
y=260
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3050]
type=graphic
x=188
y=80
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3051]
type=graphic
x=188
y=140
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3052]
type=graphic
x=188
y=200
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3053]
type=graphic
x=188
y=260
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3054]
type=graphic
x=276
y=20
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3055]
type=graphic
x=364
y=80
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3056]
type=graphic
x=276
y=80
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3057]
type=graphic
x=276
y=140
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3058]
type=graphic
x=276
y=200
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3059]
type=graphic
x=276
y=260
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3060]
type=graphic
x=364
y=140
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3061]
type=graphic
x=364
y=20
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3062]
type=graphic
x=364
y=200
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3063]
type=graphic
x=364
y=260
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3064]
type=graphic
x=412
y=20
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3065]
type=graphic
x=412
y=80
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3066]
type=graphic
x=412
y=140
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3067]
type=graphic
x=412
y=200
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3068]
type=graphic
x=412
y=260
width=88
height=60
layer=com_3038
graphic=tradebacking,0

[com_3069]
type=graphic
x=12
y=20
width=25
height=30
layer=com_3038
graphic=steelborder,0

[com_3070]
type=graphic
x=-3
y=49
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3071]
type=graphic
x=-3
y=85
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3072]
type=graphic
x=-3
y=121
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3073]
type=graphic
x=-3
y=157
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3074]
type=graphic
x=-3
y=193
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3075]
type=graphic
x=-3
y=229
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3076]
type=graphic
x=-3
y=265
width=36
height=36
layer=com_3038
graphic=miscgraphics,2

[com_3077]
type=graphic
x=479
y=50
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3078]
type=graphic
x=479
y=86
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3079]
type=graphic
x=479
y=122
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3080]
type=graphic
x=479
y=158
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3081]
type=graphic
x=479
y=194
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3082]
type=graphic
x=479
y=230
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3083]
type=graphic
x=479
y=266
width=36
height=36
layer=com_3038
graphic=steelborder2,1

[com_3084]
type=graphic
x=73
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3085]
type=graphic
x=109
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3086]
type=graphic
x=145
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3087]
type=graphic
x=181
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3088]
type=graphic
x=217
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3089]
type=graphic
x=253
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3090]
type=graphic
x=289
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3091]
type=graphic
x=325
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3092]
type=graphic
x=361
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3093]
type=graphic
x=397
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3094]
type=graphic
x=433
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3095]
type=graphic
x=72
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3096]
type=graphic
x=108
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3097]
type=graphic
x=144
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3098]
type=graphic
x=180
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3099]
type=graphic
x=216
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3100]
type=graphic
x=252
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3101]
type=graphic
x=288
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3102]
type=graphic
x=324
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3103]
type=graphic
x=360
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3104]
type=graphic
x=396
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3105]
type=graphic
x=432
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3106]
type=graphic
x=252
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3107]
type=graphic
x=37
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3108]
type=graphic
x=37
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3109]
type=graphic
x=12
y=290
width=25
height=30
layer=com_3038
graphic=steelborder,2

[com_3110]
type=graphic
x=475
y=20
width=25
height=30
layer=com_3038
graphic=steelborder,1

[com_3111]
type=graphic
x=439
y=5
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3112]
type=graphic
x=475
y=290
width=25
height=30
layer=com_3038
graphic=steelborder,3

[com_3113]
type=graphic
x=439
y=299
width=36
height=36
layer=com_3038
graphic=miscgraphics,3

[com_3114]
type=graphic
x=288
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3115]
type=graphic
x=324
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3116]
type=graphic
x=360
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3117]
type=graphic
x=396
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3118]
type=graphic
x=432
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3119]
type=graphic
x=459
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3120]
type=graphic
x=216
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3121]
type=graphic
x=180
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3122]
type=graphic
x=144
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3123]
type=graphic
x=108
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3124]
type=graphic
x=72
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3125]
type=graphic
x=36
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3126]
type=graphic
x=17
y=34
width=36
height=36
layer=com_3038
graphic=steelborder2,0

[com_3127]
type=text
x=422
y=32
width=68
height=11
layer=com_3038
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xa1a1a1
mouseovercolour=0xffffff

[com_3128]
type=text
x=166
y=31
width=199
height=14
layer=com_3038
textfont=b12_full
text=Thessalia's Makeovers (Torso)
textalignh=centre
textshadow=yes
colour=0xc9800d

[com_3129]
type=rectangle
x=59
y=249
width=403
height=28
layer=com_3038
colour=0x000000
fill=yes

[com_3130]
type=rectangle
x=60
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x7b6e32
fill=yes
buttontext=Khaki
script=varplayer_263 = 1

[com_3131]
type=rectangle
x=85
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x262323
fill=yes
buttontext=Black
script=varplayer_263 = 2

[com_3132]
type=rectangle
x=110
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x752f3b
fill=yes
buttontext=Crimson
script=varplayer_263 = 3

[com_3133]
type=rectangle
x=135
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x3b3b4e
fill=yes
buttontext=Navy
script=varplayer_263 = 4

[com_3134]
type=rectangle
x=160
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0xaa9045
fill=yes
buttontext=Straw
script=varplayer_263 = 5

[com_3135]
type=rectangle
x=185
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0xada481
fill=yes
buttontext=White
script=varplayer_263 = 6

[com_3136]
type=rectangle
x=210
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x8b3b2a
fill=yes
buttontext=Red
script=varplayer_263 = 7

[com_3137]
type=rectangle
x=235
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x2d5272
fill=yes
buttontext=Blue
script=varplayer_263 = 8

[com_3138]
type=rectangle
x=260
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x2d723e
fill=yes
buttontext=Green
script=varplayer_263 = 9

[com_3139]
type=rectangle
x=285
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0xa3970d
fill=yes
buttontext=Yellow
script=varplayer_263 = 10

[com_3140]
type=rectangle
x=310
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x83537b
fill=yes
buttontext=Purple
script=varplayer_263 = 11

[com_3141]
type=rectangle
x=335
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x9d642f
fill=yes
buttontext=Orange
script=varplayer_263 = 12

[com_3142]
type=rectangle
x=360
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0xa17067
fill=yes
buttontext=Rose
script=varplayer_263 = 13

[com_3143]
type=rectangle
x=385
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x829472
fill=yes
buttontext=Lime
script=varplayer_263 = 14

[com_3144]
type=rectangle
x=410
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x728c94
fill=yes
buttontext=Cyan
script=varplayer_263 = 15

[com_3145]
type=rectangle
x=435
y=250
width=25
height=25
layer=com_3038
buttontype=5
colour=0x1c6135
fill=yes
buttontext=Emerald
script=varplayer_263 = 16

[com_3146]
type=text
x=197
y=289
width=127
height=14
layer=com_3038
buttontype=1
textfont=b12_full
text=CONFIRM (500 gold)
textshadow=yes
colour=0x00ff00
mouseovercolour=0xff0000

[com_3147]
type=graphic
x=59
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 1

[com_3148]
type=graphic
x=84
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 2

[com_3149]
type=graphic
x=109
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 3

[com_3150]
type=graphic
x=134
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 4

[com_3151]
type=graphic
x=160
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 5

[com_3152]
type=graphic
x=185
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 6

[com_3153]
type=graphic
x=210
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 7

[com_3154]
type=graphic
x=235
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 8

[com_3155]
type=graphic
x=260
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 9

[com_3156]
type=graphic
x=285
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 10

[com_3157]
type=graphic
x=310
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 11

[com_3158]
type=graphic
x=335
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 12

[com_3159]
type=graphic
x=360
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 13

[com_3160]
type=graphic
x=385
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 14

[com_3161]
type=graphic
x=410
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 15

[com_3162]
type=graphic
x=435
y=250
width=25
height=25
layer=com_3038
graphicactive=overlay_multiway,0
script=varplayer_263 = 16

[com_3163]
type=text
x=208
y=64
width=98
height=14
layer=com_3038
textfont=p12_full
text=Select body style
textshadow=yes
colour=0xffff00

[com_3164]
type=text
x=207
y=148
width=98
height=14
layer=com_3038
textfont=p12_full
text=Select arms style
textshadow=yes
colour=0xffff00

[com_3165]
type=text
x=220
y=225
width=73
height=14
layer=com_3038
textfont=p12_full
text=Select colour
textshadow=yes
colour=0xffff00

[com_3166]
type=model
x=50
y=180
width=32
height=32
layer=com_3038
model=model_456
modelzoom=800

[com_3167]
type=model
x=145
y=180
width=32
height=32
layer=com_3038
model=model_469
modelzoom=800

[com_3168]
type=model
x=240
y=180
width=32
height=32
layer=com_3038
model=model_470
modelzoom=800

[com_3169]
type=model
x=325
y=180
width=32
height=32
layer=com_3038
model=model_471
modelzoom=800

[com_3170]
type=model
x=420
y=180
width=32
height=32
layer=com_3038
model=model_474
modelzoom=800

[com_3171]
type=model
x=50
y=260
width=32
height=32
layer=com_3038
model=model_456
modelzoom=800

[com_3172]
type=model
x=145
y=260
width=32
height=32
layer=com_3038
model=model_456
modelzoom=800

[com_3173]
type=model
x=240
y=260
width=32
height=32
layer=com_3038
model=model_456
modelzoom=800

[com_3174]
type=model
x=325
y=260
width=32
height=32
layer=com_3038
model=model_456
modelzoom=800

[com_3175]
type=model
x=420
y=260
width=32
height=32
layer=com_3038
model=model_456
modelzoom=800

[com_3176]
type=model
x=50
y=180
width=32
height=32
layer=com_3038
model=model_332
modelzoom=800

[com_3177]
type=model
x=145
y=180
width=32
height=32
layer=com_3038
model=model_332
modelzoom=800

[com_3178]
type=model
x=240
y=180
width=32
height=32
layer=com_3038
model=model_332
modelzoom=800

[com_3179]
type=model
x=325
y=180
width=32
height=32
layer=com_3038
model=model_332
modelzoom=800

[com_3180]
type=model
x=420
y=180
width=32
height=32
layer=com_3038
model=model_332
modelzoom=800

[com_3181]
type=model
x=50
y=260
width=32
height=32
layer=com_3038
model=model_332
modelzoom=800

[com_3182]
type=model
x=145
y=260
width=32
height=32
layer=com_3038
model=model_351
modelzoom=800

[com_3183]
type=model
x=240
y=260
width=32
height=32
layer=com_3038
model=model_346
modelzoom=800

[com_3184]
type=model
x=325
y=260
width=32
height=32
layer=com_3038
model=model_348
modelzoom=800

[com_3185]
type=model
x=420
y=260
width=32
height=32
layer=com_3038
model=model_343
modelzoom=800

[com_3186]
type=graphic
x=53
y=100
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Plain
script=varplayer_261 = 1

[com_3187]
type=graphic
x=148
y=100
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Crop-top
script=varplayer_261 = 2

[com_3188]
type=graphic
x=243
y=100
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Polo-neck
script=varplayer_261 = 3

[com_3189]
type=graphic
x=328
y=100
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Simple
script=varplayer_261 = 4

[com_3190]
type=graphic
x=423
y=100
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Torn
script=varplayer_261 = 5

[com_3191]
type=graphic
x=52
y=180
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Short sleeves
script=varplayer_262 = 1

[com_3192]
type=graphic
x=148
y=180
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Bare arms
script=varplayer_262 = 2

[com_3193]
type=graphic
x=243
y=180
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Muscley
script=varplayer_262 = 3

[com_3194]
type=graphic
x=328
y=180
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Long sleeved
script=varplayer_262 = 4

[com_3195]
type=graphic
x=423
y=180
width=25
height=25
layer=com_3038
buttontype=5
graphicactive=overlay_multiway,0
buttontext=Large cuffs
script=varplayer_262 = 5

