[com_6568]
type=layer
width=512
height=334

[com_6569]
type=text
x=122
y=26
width=254
height=17
layer=com_6568
textfont=q8_full
text=Complete the Maze as fast as possible!
textalignh=centre
textshadow=yes
colour=0xeaeaea

[com_6570]
type=text
x=169
y=3
width=68
height=17
layer=com_6673
textfont=q8_full
text=There is...
textalignh=centre
textshadow=yes
colour=0xd1d1d1

[com_6572]
type=text
x=233
y=26
width=28
height=14
layer=com_6673
textfont=p12_full
text=%1%
textshadow=yes
colour=0xffff00
script0=varplayer_531

[com_6664]
type=text
x=192
y=45
width=146
height=17
layer=com_6673
textfont=q8_full
text=... of the Reward left!
textalignh=centre
textshadow=yes
colour=0xd1d1d1

[com_6673]
type=layer
x=161
y=242
width=341
height=77
layer=com_6568

