[com_2230]
type=layer
width=512
height=334

[com_2231]
type=text
x=424
y=28
width=68
height=11
layer=com_2230
buttontype=3
textfont=p11_full
text=Close Window
textshadow=yes
colour=0xc00000
mouseovercolour=0xffffff

[com_2232]
type=model
x=239
y=155
width=32
height=32
layer=com_2230
model=model_2671
modelzoom=525

[com_2233]
type=text
x=82
y=82
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2234]
type=text
x=82
y=98
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2235]
type=text
x=82
y=114
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2236]
type=text
x=82
y=131
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2237]
type=text
x=82
y=148
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2238]
type=text
x=82
y=165
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2239]
type=text
x=82
y=182
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2240]
type=text
x=82
y=199
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2241]
type=text
x=82
y=216
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2242]
type=text
x=82
y=233
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2243]
type=text
x=82
y=250
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

[com_2244]
type=text
x=82
y=267
width=354
height=14
layer=com_2230
textfont=q8_full
textalignh=centre
textshadow=yes
colour=0xff0000

