[com_0]
type=model
x=227
y=162
width=32
height=32
model=model_3395
modelangle=520,1,0
modelzoom=599

[com_1]
type=model
x=232
y=167
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_2]
type=model
x=233
y=223
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_3]
type=model
x=214
y=166
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_4]
type=model
x=214
y=223
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_5]
type=model
x=203
y=178
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_6]
type=model
x=203
y=201
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_7]
type=model
x=247
y=209
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_8]
type=model
x=203
y=209
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_9]
type=model
x=247
y=201
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_10]
type=model
x=247
y=178
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_11]
type=model
x=150
y=229
width=32
height=32
model=model_3388
modelangle=493,18,0
modelzoom=531

[com_12]
type=model
x=165
y=49
width=32
height=32
model=model_3388
modelangle=527,515,0
modelzoom=531

[com_13]
type=model
x=340
y=62
width=32
height=32
model=model_3388
modelangle=578,1030,0
modelzoom=531

[com_14]
type=model
x=294
y=146
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_15]
type=model
x=294
y=179
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_16]
type=model
x=225
y=160
width=32
height=32
model=model_3392
modelangle=512,0,0
modelzoom=1189

[com_17]
type=model
x=321
y=250
width=50
height=34
model=model_3388
modelangle=512,1556,0
modelzoom=531

[com_18]
type=model
x=282
y=166
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_19]
type=model
x=282
y=156
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_20]
type=model
x=330
y=165
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_21]
type=model
x=316
y=179
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_22]
type=model
x=315
y=146
width=32
height=32
model=model_3399
modelangle=512,517,0
modelzoom=622

[com_23]
type=model
x=330
y=156
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_24]
type=model
x=264
y=110
width=32
height=32
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_25]
type=model
x=281
y=93
width=32
height=32
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_26]
type=model
x=233
y=92
width=32
height=32
model=model_3399
modelangle=512,1789,0
modelzoom=667

[com_27]
type=model
x=234
y=78
width=32
height=32
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_28]
type=model
x=248
y=64
width=32
height=32
model=model_3399
modelangle=512,254,0
modelzoom=667

[com_29]
type=model
x=279
y=73
width=32
height=32
model=model_3399
modelangle=512,1789,0
modelzoom=667

[com_30]
type=model
x=181
y=186
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_31]
type=model
x=166
y=149
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_32]
type=model
x=179
y=110
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_33]
type=model
x=348
y=165
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_34]
type=model
x=335
y=116
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_35]
type=model
x=174
y=165
width=32
height=32
model=model_3399
modelangle=462,1792,0
modelzoom=736

[com_36]
type=model
x=247
y=106
width=32
height=32
model=model_3399
modelangle=512,1789,0
modelzoom=667

[com_37]
type=model
x=170
y=127
width=32
height=32
model=model_3399
modelangle=518,1251,0
modelzoom=736

[com_38]
type=model
x=341
y=132
width=32
height=32
model=model_3399
modelangle=462,1792,0
modelzoom=906

[com_39]
type=model
x=335
y=93
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_40]
type=model
x=335
y=74
width=32
height=32
model=model_3399
modelangle=512,0,0
modelzoom=667

[com_41]
type=model
x=339
y=52
width=32
height=32
model=model_3399
modelangle=518,1251,0
modelzoom=736

[com_42]
type=model
x=348
y=146
width=32
height=32
model=model_3386
modelangle=512,1615,0
modelzoom=544

[com_43]
type=model
x=225
y=248
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_44]
type=model
x=298
y=215
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_45]
type=model
x=318
y=227
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_46]
type=model
x=337
y=209
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_47]
type=model
x=305
y=245
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_48]
type=model
x=191
y=98
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_49]
type=model
x=195
y=72
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_50]
type=model
x=219
y=53
width=32
height=32
model=model_3397
modelangle=467,2031,0
modelzoom=1753

[com_51]
type=graphic
x=473
y=13
width=26
height=23
mouseoverlayer=com_53
graphic="close_buttons,4"

[com_52]
type=graphic
x=4
y=4
width=26
height=23
layer=com_53
buttontype=3
graphic="close_buttons,5"

[com_53]
type=layer
x=469
y=9
width=32
height=32
hide=yes

