[com_12266]
type=layer
width=512
height=334

[com_12267]
type=rectangle
width=512
height=334
layer=com_12266
colour=0x000000
fill=yes

[com_12268]
type=model
x=260
y=166
width=32
height=32
layer=com_12266
model=model_4652
modelangle=416,1023,0
modelzoom=886

[com_12269]
type=model
x=222
y=145
width=32
height=32
layer=com_12266
model=model_5234
modelangle=450,2039,0
modelzoom=962

[com_12270]
type=text
x=406
y=11
width=93
height=17
layer=com_12266
buttontype=3
textfont=q8_full
text=Close Window
textshadow=yes
colour=0xe9ab73
mouseovercolour=0xffffff

[com_12271]
type=text
x=331
y=149
width=39
height=14
layer=com_12266
textfont=p12_full
text=8-East
textshadow=yes

[com_12272]
type=text
x=332
y=130
width=47
height=14
layer=com_12266
textfont=p12_full
text=6-South
textshadow=yes

[com_12273]
type=text
x=330
y=169
width=46
height=14
layer=com_12266
textfont=p12_full
text=2-North
textalignh=centre
textshadow=yes

[com_12274]
type=text
x=330
y=188
width=38
height=14
layer=com_12266
textfont=p12_full
text=4-East
textshadow=yes

[com_12275]
type=text
x=330
y=207
width=55
height=14
layer=com_12266
textfont=p12_full
text=22-South
textshadow=yes

[com_12276]
type=text
x=298
y=107
width=119
height=14
layer=com_12266
textfont=b12_full
text=X marks the start!
textshadow=yes
colour=0xe9ab73

[com_12277]
type=text
x=188
y=74
width=129
height=17
layer=com_12266
textfont=q8_full
text=Dragontooth Island
textshadow=yes
colour=0xffff00

