[com_0]
type=rectangle
width=512
height=334
trans=1
colour=0x1b251b
fill=yes

[com_1]
type=model
x=255
y=119
width=32
height=32
model=model_14056
modelangle=212,68,0
modelzoom=424

[com_2]
type=model
x=199
y=47
width=32
height=32
model=model_14054
modelangle=212,68,0
modelzoom=424

[com_3]
type=model
x=181
y=40
width=32
height=32
layer=com_30
model=model_14055
modelangle=212,68,0
modelzoom=424

[com_4]
type=model
x=181
y=40
width=32
height=32
layer=com_31
model=model_14055
modelangle=212,68,0
modelzoom=424

[com_5]
type=model
x=280
y=115
width=32
height=32
model=model_14052
modelangle=500,0,0
modelzoom=414

[com_6]
type=model
x=262
y=108
width=32
height=32
layer=com_31
model=model_14053
modelangle=500,0,0
modelzoom=414

[com_7]
type=model
x=285
y=70
width=32
height=32
model=model_14059
modelangle=212,68,0
modelzoom=414

[com_8]
type=model
x=267
y=63
width=32
height=32
layer=com_30
model=model_14060
modelangle=212,68,0
modelzoom=414

[com_9]
type=model
x=264
y=105
width=32
height=32
model=model_14061
modelangle=212,68,0
modelzoom=424

[com_10]
type=model
x=246
y=98
width=32
height=32
layer=com_31
model=model_14062
modelangle=212,68,0
modelzoom=424

[com_11]
type=text
x=293
y=71
width=43
height=17
textfont=q8_full
text=Canifis
textalignh=centre
colour=0xa0a075

[com_12]
type=text
x=181
y=88
width=79
height=32
textfont=q8_full
text=Mort Myre\nSwamp
textalignh=centre
colour=0xa0a075

[com_13]
type=text
x=268
y=99
width=48
height=17
textfont=q8_full
text=Hollows
colour=0xa0a075

[com_14]
type=text
x=240
y=159
width=58
height=17
textfont=q8_full
text=Mort'ton
colour=0xa0a075

[com_15]
type=text
x=230
y=213
width=64
height=32
textfont=q8_full
text=Burgh de\nRott
textalignh=centre
colour=0xa0a075

[com_16]
type=text
x=379
y=116
width=70
height=17
textfont=q8_full
text=Graveyard
colour=0xa0a075

[com_17]
type=text
x=193
y=27
width=48
height=17
textfont=q8_full
text=Temple
colour=0xa0a075

[com_18]
type=model
x=267
y=128
width=32
height=32
model=model_14058
modelangle=212,68,0
modelzoom=424

[com_19]
type=model
x=268
y=130
width=32
height=32
model=model_14057
modelangle=212,68,0
modelzoom=424

[com_20]
type=model
x=339
y=52
width=131
height=45
mouseoverlayer=com_30
buttontype=1
model=model_10094
modelangle=528,2047,0
modelzoom=1189
buttontext=Route1

[com_21]
type=text
x=379
y=65
width=53
height=17
textfont=q8_full
text=Route 1
colour=0x341b10

[com_22]
type=text
x=361
y=58
width=53
height=17
layer=com_30
textfont=q8_full
text=Route 1

[com_23]
type=model
x=96
y=143
width=128
height=45
mouseoverlayer=com_31
buttontype=1
model=model_10094
modelangle=528,2047,0
modelzoom=1189
buttontext=Route2

[com_24]
type=text
x=133
y=155
width=56
height=17
textfont=q8_full
text=Route 2
colour=0x341b10

[com_25]
type=text
x=115
y=148
width=56
height=17
layer=com_31
textfont=q8_full
text=Route 2

[com_26]
type=model
x=383
y=235
width=32
height=32
model=model_10095
modelangle=528,0,0
modelzoom=618

[com_27]
type=text
x=302
y=176
width=158
height=107
layer=com_30
textfont=q8_full
text=Route 1:\n\nTake the route through\nCanifis.\n\nShorter but potentially\nmore dangerous.
colour=0x341b10

[com_28]
type=text
x=302
y=176
width=158
height=107
layer=com_31
textfont=q8_full
text=Route 2:\n\nTake the route through\nMort Myre Swamp.\n\nLonger but less likely\nto be attacked.
colour=0x341b10

[com_29]
type=text
x=429
y=5
width=74
height=14
buttontype=3
textfont=p12_full
text=Close Window
colour=0xa0a075
mouseovercolour=0xffffff

[com_30]
type=layer
x=18
y=7
width=487
height=319
hide=yes

[com_31]
type=layer
x=18
y=7
width=487
height=319
hide=yes

[com_32]
type=model
x=32
y=26
width=128
height=45
buttontype=1
model=model_10094
modelangle=528,2047,0
modelzoom=805

[com_33]
type=text
x=36
y=39
width=116
height=17
textfont=q8_full
text=Choose your path
colour=0x341b10

