[com_3604]
type=layer
width=512
height=334

[com_3605]
type=graphic
x=2
y=5
width=57
height=13
layer=com_3604
graphic=sworddecor,1

[com_3606]
type=graphic
x=421
y=5
width=57
height=13
layer=com_3604
graphic=sworddecor,0

[com_3607]
type=model
x=28
y=13
width=64
height=96
layer=com_3604
buttontype=1
model=null
modelzoom=400

[com_3608]
type=model
x=148
y=13
width=64
height=96
layer=com_3604
buttontype=1
model=null
modelzoom=400

[com_3609]
type=model
x=268
y=13
width=64
height=96
layer=com_3604
buttontype=1
model=null
modelzoom=400

[com_3610]
type=model
x=388
y=13
width=64
height=96
layer=com_3604
buttontype=1
model=null
modelzoom=400

[com_3611]
type=text
y=76
width=120
height=17
layer=com_3604
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3612]
type=text
x=120
y=76
width=120
height=17
layer=com_3604
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3613]
type=text
x=240
y=76
width=120
height=17
layer=com_3604
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3614]
type=text
x=360
y=76
width=120
height=17
layer=com_3604
buttontype=1
textfont=q8_full
textalignh=centre
colour=0x000000

[com_3615]
type=text
x=8
y=3
width=464
height=17
layer=com_3604
textfont=q8_full
text=Select an Option
textalignh=centre
colour=0x800000

